<template>

  <div class="filter card">
    <div class="card-body operations-history">
      <form method="get">
        <div class="form-row">
          <div class="col">
            <div class="card-form-row">
              <label>ID пользователя</label>
              <input type="number" class="form-control" min="1" v-model="form.client_id" @input="onSubmit">
            </div>
          </div>

          <div class="col">
            <div class="card-form-row">
              <label>ФИО</label>
              <input type="text" class="form-control" v-model="form.client_full_name" @input="onSubmit">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</template>

<script>
  export default {
    name: 'filter-view',
    data () {
      return {
        timer: null,
        form: {
          client_full_name: '',
          client_id: ''
        }
      }
    },
    methods: {
      onSubmit () {
        clearTimeout(this.timer)
        this.timer = setTimeout(
          () => this.$emit('filter', this.form),
          1000
        )
      }
    }
  }
</script>