<template>

  <span>
    <button class="btn btn-secondary float-right" @click="$refs.rightPanel.show()">Отменить</button>

    <right-panel ref="rightPanel" :title="$t('words.reason_refusal')">
      <success-view :success-message="successMessage"></success-view>
      <error-view :errors="errors"></error-view>

      <form class="right-menu__form discard_replenishments" method="post" @submit.prevent="onSubmit">
        <input type="hidden" name="replenishment_id" v-model="form.replenishment_id "/>
        <div class="right-menu__form__row">
          <textarea style="height: 120px;"
                    v-model="form.comment"
                    placeholder="Причина"
                    class="form-control"
                    name="comment"
                    cols="30"
                    rows="10"
          >
          </textarea>
        </div>
        <button type="submit" class="btn btn-primary right-menu__button">Отправить</button>
      </form>
    </right-panel>
  </span>

</template>

<script>

  import { handlerErrors } from '../../main/utilities'
  import RightPanel from "../../common/right-panel"
  import requests from '../requests'

  export default {
    name: 'replenishment-discard',
    props: {
      replenishment: {
        type: Object,
        require: true
      }
    },
    components: {
      RightPanel
    },
    data() {
      return {
        form: {
          replenishment_id: '',
          comment: ''
        },
        successMessage: '',
        errors: []
      }
    },
    created() {
      this.form.replenishment_id = this.replenishment.id;
    },
    methods: {
      onSubmit() {
        requests.replenishments.discard(this.form)
          .then(({ data }) => {
            this.successMessage = data.message;

            $(this.$el).parents('tr').remove();
            this.$refs.rightPanel.spin(false);
            this.$refs.rightPanel.hide();
          })
          .catch(({ response }) => {
            this.errors = handlerErrors(this.$refs, response.data.errors)
            this.$refs.rightPanel.spin(false);
          })
      }
    }
  }

</script>
