<template>

  <span>
    <button class="btn btn-success" @click="showRightPanel">Подтвердить</button>

    <right-panel ref="rightPanel" title="Заявка на пополнениие">
      <success-view :success-message.sync="successMessage" :has-close="true"></success-view>
      <error-view :errors.sync="errors" :has-close="true"></error-view>

      <form id="replenishments_accept" method="post" @submit.prevent="onSubmit">
        <input type="hidden" name="replenishment_id" v-model="form.replenishment_id "/>

        <div v-if="replenishment.fin_operation_type.method === 'CARD'" class="mt-3">
          <div>Номер карты: <strong>{{ form.user_card_number }}</strong></div>
          <div>ФИО на карте: <strong>{{ form.user_card_holder }}</strong></div>
        </div>

        <div v-if="replenishment.fin_operation_type.method === 'BANK'" class="mt-3">
          <div>Банковский счет: <strong>{{ form.recipient_account }}</strong></div>
          <div>Swift код: <strong>{{ form.swift_code }}</strong></div>
          <div>Владелец счета: <strong>{{ form.recipient_name }}</strong></div>
          <div>Адрес: <strong>{{ form.recipient_address }}</strong></div>
          <div v-for="document in documents">
            <div>Документ: <a target="_blank" :href="document.url">
              <span v-if="document.type === 'account_statement'">Выписка со счёта</span>
              <span v-else-if="document.type === 'account_details'">Реквизиты счёта</span>
              </a>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <div>ФИО пользователя: <strong>{{ form.full_name_client}}</strong></div>
          <div>Сумма пополнения:
            <strong>{{ form.top_up_amount }} {{ replenishment.currency.name }}</strong>
          </div>
          <div>ID подтверждения: <strong>{{ form.confirm_transact_id }}</strong></div>
        </div>
        <button
          type="button"
          class="btn"
          :class="active=='g2fa'?'btn-primary':'btn-outline-primary'"
          @click="setActive('g2fa')">
              Whith Google Auth
        </button>
        <button
          type="button"
          class="btn"
          :class="active=='sms'?'btn-primary':'btn-outline-primary'"
          @click="setActive('sms')">
          Whith SMS
        </button>
        <google2-fa v-if="show && active=='g2fa'" v-on:ga_code="form.ga_code = $event" ref="google2fa"></google2-fa>
        <div class="right-menu__form__row mt-2" v-show="active=='sms'">
          <input type="text"
             class="right-menu__form__input"
             ref="field_sms_code"
             v-model="form.sms_code"
             placeholder="Sms code"
          >
          <button type="button" class="btn btn-link" @click="onSendSmsCode()">Request code</button>
        </div>
        <div class="text-danger error-msg" ref="error_sms_code"></div>
        <button type="submit" class="btn btn-primary right-menu__button">Подтвердить</button>
      </form>
    </right-panel>
  </span>
</template>

<script>

  import { handlerErrors } from '../../main/utilities'
  import RightPanel from "../../common/right-panel"
  import requests from '../requests'
  import Google2Fa from "../../common/google2fa";

  export default {
    name: 'replenishment-accept',
    props: {
      replenishment: {
        type: Object,
        require: true
      },
      documentsString: {
        type: String,
        require: false
      }
    },
    components: {
      RightPanel,
      Google2Fa
    },
    data () {
      return {
        form: {
          replenishment_id: '',
          user_card_number: '',
          user_card_holder: '',
          recipient_account: '',
          swift_code: '',
          recipient_name: '',
          recipient_address: '',
          full_name_client: '',
          total_commission: '',
          top_up_amount: '',
          confirm_transact_id: '',
          ga_code: ''
        },
        documents: {},
        paymentType: '',
        successMessage: '',
        errors: [],
        show: false,
        active: 'g2fa',
        crefs: this.$refs
      }
    },
    created () {
      if (this.documentsString) {
        this.documents = JSON.parse(this.documentsString);
      }

      this.form.replenishment_id = this.replenishment.id;
      if (this.replenishment.bank_requisite) {
        this.form.recipient_account = this.replenishment.bank_requisite.recipient_account;
        this.form.swift_code = this.replenishment.bank_requisite.swift_code;
        this.form.recipient_name = this.replenishment.bank_requisite.recipient_name;
        this.form.recipient_address = this.replenishment.bank_requisite.recipient_address;
      }

      this.form.full_name_client = this.replenishment.user.full_name;
      this.form.confirm_transact_id = this.replenishment.confirm_transact_id;
      if (this.replenishment.user_card) {
        this.form.user_card_number = this.replenishment.user_card.card_number;
        this.form.user_card_holder = this.replenishment.user_card.card_holder;
      }

      this.form.top_up_amount = parseFloat(this.replenishment.amount) + parseFloat(this.replenishment.commission);
    },
    methods: {
      showRightPanel(){
        this.show = true;
        this.$refs.rightPanel.show()
      },
      setActive(name){
        this.active = name;
        this.$refs.error_sms_code.innerHTML = ''
        this.$refs.field_sms_code.classList.remove("is-invalid");
        if(name=='sms') {
          Vue.delete(this.form, 'ga_code')
          Vue.set(this.form, 'sms_code', '')
        }
        else {
          this.isCodeRequested = true;
          Vue.delete(this.form, 'sms_code')
          Vue.set(this.form, 'ga_code', '')
        }
      },
      onSendSmsCode () {
        this.$refs.rightPanel.spin(true);

        requests.replenishments.accept(this.form, true)
          .then(({ data }) => {
            this.successMessage = data.message;
            this.$refs.rightPanel.spin(false);
          })
          .catch(({ response }) => {
            this.errors = handlerErrors(this.$refs, response.data.errors)
            this.$refs.rightPanel.spin(false);
          })
      },
      onSubmit() {
        this.errors = [];
        if(this.active!='sms') {
          this.crefs = Object.assign(this.$refs, this.$refs.google2fa.$refs);
        }
        this.$refs.rightPanel.spin(true);

        requests.replenishments.accept(this.form)
          .then(({ data }) => {
            this.successMessage = data.message;

            $(this.$el).parents('tr').remove();
            this.$refs.rightPanel.spin(false);
            this.$refs.rightPanel.hide();
          })
          .catch(({ response }) => {
            this.errors = handlerErrors(this.crefs, response.data.errors)
            this.$refs.rightPanel.spin(false);
          })
      }
    }
  }

</script>
