<template>
  <div>
    <filter-view @filter="onFilter"></filter-view>
    <div class="grid-view-scroll">
      <div class="grid-view">
        <table class="table table-striped table-bordered mt-5">
          <thead>
          <tr>
            <th scope="col">ID Заявки</th>
            <th scope="col">ID Клиента</th>
            <th scope="col">ФИО</th>
            <th scope="col">Дата заявки</th>
            <th scope="col">Валюта</th>
            <th scope="col">Сумма пополнения</th>
            <th scope="col">Сумма комиссии %</th>
            <th scope="col">Сумма комиссии фикс</th>
            <th scope="col">Итог</th>
            <th scope="col">Способ пополнения</th>
            <th scope="col" colspan="2">Действие</th>
          </tr>
          </thead>
          <tbody>
          <template v-if="replenishments.length > 0">
            <tr v-for="replenishment in replenishments" :key="replenishment.id" :id="`tr_${replenishment.id}`">
              <td>{{ replenishment.id }}</td>
              <td>{{ replenishment.user.id }}</td>
              <td>
                <img v-if="replenishment.user.is_eurobaras_user" class="eurobaras-icon" src="/assets/images/eurobaras.png">
                {{ replenishment.user.full_name }}</td>
              <td>{{ replenishment.created_at | formatDateTime }}</td>
              <td>{{ replenishment.currency.name}}</td>
              <td>{{ replenishment.amount }}</td>
              <td>{{ replenishment.commission_float }}</td>
              <td>{{ replenishment.commission_fix }}</td>
              <td>{{ replenishment.amount_total}}</td>
              <td>{{ replenishment.fin_operation_type.method }}</td>
              <td>
                <replenishment-accept :replenishment="replenishment"></replenishment-accept>
              </td>
              <td>
                <replenishment-discard :replenishment="replenishment"></replenishment-discard>
              </td>
            </tr>
          </template>
          <template v-if="spinner">
            <tr>
              <td colspan="13" class="text-center">
                <i class="fas fa-2x fa-spinner fa-spin"></i>
              </td>
            </tr>
          </template>
          <template v-if="replenishments.length === 0 && spinner === false">
            <tr>
              <td colspan="13" class="text-center">Ничего не найдено.</td>
            </tr>
          </template>
          </tbody>
        </table>
      </div>
    </div>
    <div infinite-wrapper>
      <infinite-loading ref="infiniteLoading" @infinite="onInfinite" force-use-infinite-wrapper>
        <div slot="no-results"></div>
        <div slot="no-more"></div>
        <div slot="spinner"></div>
      </infinite-loading>
    </div>
  </div>
</template>

<script>
  import ReplenishmentDiscard from './ReplenishmentDiscard.vue'
  import ReplenishmentAccept from './ReplenishmentAccept.vue'
  import { formatDateTime } from '../../main/utilities'
  import InfiniteLoading from 'vue-infinite-loading'
  import FilterView from './FilterView'
  import requests from "../requests";

  export default {
    name: 'replenishment-table-view',
    props: {
      paymentTypes: {
        type: Object,
        default () {
          return {}
        }
      }
    },
    data () {
      return {
        replenishments: [],
        spinner: true,
        filterParams: {
          limit: 10,
          page: 1
        },
      }
    },
    components: {
      ReplenishmentDiscard,
      ReplenishmentAccept,
      InfiniteLoading,
      FilterView
    },
    filters: {
      formatDateTime
    },
    methods: {
      load () {
        return new Promise((resolve, reject) => {
          this.spinner = true
          requests.replenishments.list(this.filterParams).then(({ data }) => {
            this.replenishments = [...this.replenishments, ...data.replenishments]
            this.spinner = false
            resolve(data)
          }).catch(({response}) => reject(response))
        })
      },
      reload () {
        this.spinner = true
        this.replenishments = []
        this.$nextTick(() => {
          this.$refs.infiniteLoading.stateChanger.reset();
        })
      },
      onFilter (filterParams) {
        this.filterParams = {
          ...this.filterParams,
          ...filterParams,
          page: 1
        }

        this.reload()
      },
      onInfinite ($state) {
        this.load().then(data => {
          if ((data.replenishments.length < this.filterParams.limit) || data.replenishments.length === 0) {
            $state.complete();
          } else {
            this.filterParams.page++;
            $state.loaded();
          }
        })
      }
    }
  }
</script>
