<template>
  <div class="main-bar w-100" v-if="show">
    <section class="container-fluid">
      <div id="modal" class="modal-background w-100 background-none" :class="{ 'show': show, 'hide': !show }">
        <div class="white-background-50 h-100 w-100 position-fixed"></div>
        <div class="modal-dialog d-flex align-items-center"
             style="margin: auto;margin-top: 5rem; max-width: 900px;width: 600px;">
          <div class="modal-content align-self-center m-auto white-shadow"
               style="background: white">
            <div class="close-modal" @click="close">
              <i class="icon-close-modal"></i>
            </div>
            <div class="modal-body">
              <div class="form-custom accepted-items black">
                <div class="right-menu__form" v-if="systemBankForPayment">
                  <div class="right-menu__form__row">
                    <p>{{ $t("dashboard.payments.text1") }}</p>
                  </div>
                  <div class="right-menu__form__row">
                    <div class="col-sm-4 font-weight-bold">{{ $t("dashboard.payments.text2") }}</div>
                    <div class="col-sm-8">{{accountCurrencyForPayment | getCurrencyAlias}}</div>
                  </div>
                  <div class="right-menu__form__row">
                    <div class="col-sm-4 font-weight-bold">{{ $t("dashboard.payments.text3") }}</div>
                    <div class="col-sm-8">
                      {{amountForPayment|formatMoney(accountCurrencyForPayment)}}
                    </div>
                  </div>
                  <div class="right-menu__form__row">
                    <div class="col-sm-4 font-weight-bold">{{ $t("dashboard.payments.text4") }}</div>
                    <div class="col-sm-8">{{systemBankForPayment.recipient_name}}</div>
                  </div>
                  <div class="right-menu__form__row">
                    <div class="col-sm-4 font-weight-bold">{{ $t("dashboard.payments.text5") }}</div>
                    <div class="col-sm-8">{{systemBankForPayment.recipient_address}}</div>
                  </div>
                  <div v-if="systemBankForPayment.recipient_account" class="right-menu__form__row">
                    <div class="col-sm-4 font-weight-bold">{{ $t("dashboard.payments.text6") }}</div>
                    <div class="col-sm-8">{{systemBankForPayment.recipient_account}}</div>
                  </div>
                  <div class="right-menu__form__row">
                    <div class="col-sm-4 font-weight-bold">{{ $t("dashboard.payments.text7") }}</div>
                    <div class="col-sm-8">{{systemBankForPayment.registration_number}}</div>
                  </div>
                  <div class="right-menu__form__row">
                    <div class="col-sm-4 font-weight-bold">{{ $t("dashboard.payments.text8") }}</div>
                    <div class="col-sm-8">{{systemBankForPayment.swift_code}}</div>
                  </div>
                  <div class="right-menu__form__row">
                    <div class="col-sm-4 font-weight-bold">{{ $t("dashboard.payments.text9") }}</div>
                    <div class="col-sm-8">{{systemBankForPayment.iban}}</div>
                  </div>
                  <div class="right-menu__form__row">
                    <div class="col-sm-4 font-weight-bold">{{ $t("dashboard.payments.text10") }}</div>
                    <div class="col-sm-8">{{systemBankForPayment.bank_name}}</div>
                  </div>
                  <div class="right-menu__form__row">
                    <div class="col-sm-4 font-weight-bold">{{ $t("dashboard.payments.text11") }}</div>
                    <div class="col-sm-8">{{systemBankForPayment.bank_address}}</div>
                  </div>
                  <div class="right-menu__form__row">
                    <div class="col-sm-4 font-weight-bold">{{ $t("dashboard.payments.text12") }}</div>
                    <div class="col-sm-8">
                      <span v-if="systemBankForPayment.recipient_reference">{{ $t("dashboard.payments.text13") }} {{systemBankForPayment.recipient_reference}}</span><br/>
                      <span>{{ $t("dashboard.payments.text14") }} {{bankRefillInvoiceID}}</span>
                    </div>
                  </div>
                  <div class="right-menu__form__row" v-if="paysendBlock">
                    <div class="alert alert-light">
                      <ul class="m-0 pl-3">
                        <li>{{ $t("dashboard.payments.paysend.text_you_can") }}<a href="https://paysend.com/"
                          target="_blank" style="color:#007bff">https://paysend.com/</a></li>
                        <li>{{ $t("dashboard.payments.paysend.text_go_to") }}</li>
                        <li>{{ $t("dashboard.payments.paysend.press_on_send_money") }}</li>
                        <li>{{ $t("dashboard.payments.paysend.choise_type_and_currency") }}</li>
                        <li>{{ $t("dashboard.payments.paysend.choise_county_of_recipient") }}</li>
                        <li>{{ $t("dashboard.payments.paysend.fill_requisites") }}</li>
                        <li>{{ $t("dashboard.payments.paysend.set_your_id_reference") }}</li>
                        <li>
                          {{ $t("dashboard.payments.text15") }}
                          {{amountForPayment|formatMoney(accountCurrencyForPayment)}}
                          {{accountCurrencyForPayment | getCurrencyAlias}} {{ $t("dashboard.payments.text16") }}
                        </li>
                      </ul>
                      <a :href="'/how#paysend'+(lang!=='EN'?'-ru':'')" target="blank" style="color:#007bff;float: right;">{{$t('main.learn_more1')}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="d-flex w-100 justify-content-between align-items-center">
                <button class="btn btn-primary btn-accepted"
                        @click="downloadReceipt">{{ $t("dashboard.payments.text17") }}
                </button>
                <button class="btn btn-primary btn-accepted"
                        @click="downloadCertificate">{{ $t("dashboard.payments.text18") }}
                </button>
                <span class="text-black font-weight-bold mb-0"
                      style="cursor: pointer"
                      @click="close">
                    {{ $t("dashboard.profile.close") }} —
                  </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>

  import {mapGetters} from "vuex";
  import {formatMoney, getCurrencyAlias} from "../../../../utilities";
  import requests from "../../../../requests";
  import Spinner from '../../../../../common/spinner';

  export default {
    name: "bank-receipt-modal",
    data() {
      return {
        show: false,
        paysendBlock: false
      }
    },
    computed: mapGetters({
      amountForPayment: 'getAmountForPayment',
      commissionForPayment: 'getCommissionForPayment',
      accountCurrencyForPayment: 'getAccountCurrencyForPayment',
      bankRefillInvoiceID: 'getBankRefillInvoiceID',
      systemBankForPayment: 'getSystemBankForPayment',
      lang: 'getSelectedLang',
    }),
    methods: {
      downloadReceipt() {
        Spinner.toggle(true);
        requests.dashboard.postDownloadReceipt({
          invoice_id: this.bankRefillInvoiceID,
          system_bank_id: this.systemBankForPayment.id
        }).then(response => {
          const url = window.URL.createObjectURL(new Blob([response.data], {type: 'application/pdf'}));
          const link = document.createElement('a');
          link.href = url;
          link.setAttribute('download', this.bankRefillInvoiceID + '.pdf');
          document.body.appendChild(link);
          link.click();
          Spinner.toggle(false);
        }).catch(()=>{
          Spinner.toggle(false);
        })
      },
      downloadCertificate() {
        Spinner.toggle(true);
        requests.dashboard.postDownloadCertificate({
          invoice_id: this.bankRefillInvoiceID,
          system_bank_id: this.systemBankForPayment.id
        }).then(response => {
          const url = window.URL.createObjectURL(new Blob([response.data], {type: 'application/pdf'}));
          const link = document.createElement('a');
          link.href = url;
          link.setAttribute('download', 'Certificate-'+this.bankRefillInvoiceID + '.pdf');
          document.body.appendChild(link);
          link.click();
          Spinner.toggle(false);
        }).catch(()=>{
          Spinner.toggle(false);
        })
      },
      toggle(isShow) {
        jQuery('body').toggleClass('overflow-hidden', isShow);
        this.show = isShow
        if (isShow) {
          document.getElementById('modal').scrollIntoView();
          // document.body.style.overflow = 'hidden'
        } else {
          // document.body.style.overflow = 'auto'
        }
      },
      close() {
        this.toggle(false)
        this.$emit('close-modal')
      },
      open(flag) {
        this.paysendBlock = flag
        this.toggle(true)
      },
      onClose() {
        this.close()
      }
    },
    created() {
      this.$scrollBody('hidden')
    },
    destroyed() {
      this.$scrollBody('auto')
    },
    filters: {
      formatMoney,
      getCurrencyAlias
    }
  }
</script>

