<template>
  <section>
    <div v-if="cryptoCurrencies.includes(currency) && cryptoRequisite"
         class="form-control-custom"
    >
      <template v-for="(item, i) in cryptoRequisite">
        <span class="font-weight-bold mr-1 mb-3 d-block">
          {{ $t("dashboard.payments.text24") }} {{currency}} {{ $t("dashboard.payments.text25") }}
        </span>
        <small class="text-silver d-block">
          {{ $t("dashboard.payments.text21") }}
          {{userLimits['crypto_bill'][accountCurrencyForPayment][0].refill_min_value_trans|formatMoney(accountCurrencyForPayment)}}
          {{ $t("dashboard.payments.text22") }}
          {{userLimits['crypto_bill'][accountCurrencyForPayment][0].refill_max_value_trans|formatMoney(accountCurrencyForPayment)}}
          {{accountCurrencyForPayment | getCurrencyAlias}}
        </small>
        <label class="w-100" style="margin-top: .5rem">
        </label>
        <div class="d-flex mt-4 mb-4 qr-code">
          <vue-q-r-code-component
              style="width: 150px;margin-right: 25px;height: 100%;"
              :text="item.address"
              :size="150"
              color="#000000"
              bg-color="#ffffff"
              error-level="L"
          />

          <div class="d-flex flex-column">
            <small v-if="item.currency === 'USDT'" class="text-silver mb-2"> {{ $t("dashboard.payments.view"+(item.network?item.network:'OMNI')) }}</small>
            <small v-else class="text-silver mb-2">{{currency|getNameWallet}} {{ $t("dashboard.payments.text26") }}</small>
            <span style="word-break: break-word"
                  class="mb-3"
                  @click="copyHref(i)"
            >
              <template v-if="item.currency === 'XRP'">
                {{item.main_wallet}}
              </template>
              <template v-else>{{item.address}}</template>
              <i :title="$t('modal.copy_wallet_address')"
                 class="icon-copy"
              />
            </span>
            <template v-if="item.currency === 'XRP'">
              <small class="text-silver mb-2">{{ $t("dashboard.payments.tag") }}</small>
              <span class="mb-3">{{item.address}}</span>
            </template>
            <div>
              <button v-if="timeRemaining[i] === true"
                      class="right-menu__form__input number"
                      @click="onNewWallet((item.network?item.network:false), i)"
              >{{ $t("dashboard.payments.update"+(item.network && item.currency === 'USDT'?item.network:'')) }}
              </button>
              <p v-if="timeRemaining[i] === false">
                <strong>{{ $t("dashboard.payments.text28") }}</strong>
              </p>
            </div>
          </div>
        </div>

      </template>
      <template v-if="currency==='USDT' && cryptoRequisite.length===1">
        <button v-if="cryptoRequisite[0].network!=='OMNI'" class="right-menu__form__input number" @click="onNewWallet('OMNI', 1)">{{ $t("dashboard.payments.text69") }}</button>
        <button v-else class="right-menu__form__input number" @click="onNewWallet('ERC20', 1)">{{ $t("dashboard.payments.text70") }}</button>
      </template>
      <p style="word-break: break-word">
        <template v-if="currency === 'XRP'">{{ $t("dashboard.payments.ripple_deposit_disclaimer") }}</template>
        <template v-else>{{ $t("dashboard.payments.text29") }}</template>
        {{ $t("dashboard.payments.text30") }}
        {{ $t("dashboard.payments.text31") }}
      </p>
    </div>
    <div v-else>
      <p>{{ $t("dashboard.payments.text32") }}</p>
      <template v-if="currency==='USDT'">
        <button class="right-menu__form__input number" @click="onNewWallet('OMNI', 0)">{{ $t("dashboard.payments.text69") }}</button>
        <button class="right-menu__form__input number" @click="onNewWallet('ERC20', 1)">{{ $t("dashboard.payments.text70") }}</button>
      </template>
      <template v-else>
        <button class="right-menu__form__input number" @click="onNewWallet">{{ $t("dashboard.payments.text33") }}</button>
      </template>
    </div>
    <span v-if="showTooltipCopy"
          class="copy-tooltip"
          id="copy-tooltip"
    >{{ $t("dashboard.payments.text34") }}</span>
  </section>


</template>

<script>
  import { formatMoney, getCurrencySymbol, getCurrencyAlias, getNameWallet } from '../../../../utilities'
  import VueQRCodeComponent from 'vue-qrcode-component'
  import spinner from '../../../../../common/spinner'
  import requests from '../../../../requests'
  import { mapGetters } from 'vuex'

  function copy(str) {
    let tmp = document.createElement('input'), // Создаём новый текстовой input
      focus = document.activeElement; // Получаем ссылку на элемент в фокусе (чтобы не терять фокус)
    tmp.value = str; // Временному input вставляем текст для копирования

    document.body.appendChild(tmp); // Вставляем input в DOM
    tmp.select(); // Выделяем весь текст в input
    document.execCommand('copy'); // Копирует в буфер выделенный текст
    document.body.removeChild(tmp); // Удаляем временный input
    focus.focus(); // Возвращаем фокус туда, где был
  }

  function date_dif(date) {
    var now = new Date();
    let date1 = new Date( now.getTime() + (now.getTimezoneOffset() * 60000)),
      date2 = new Date(date),
      diff = date1 - date2,
      milliseconds = diff,
      seconds = milliseconds / 1000,
      minutes = seconds / 60,
      hours = minutes / 60;
    return minutes ;
  }

  export default {
    name: "DepositCryptoBlock",
    components:{
      VueQRCodeComponent
    },
    props: {
      currency: {
        type: String,
        required: true
      }
    },
    data() {
      return {
        localCryptoRequisite: null,
        timeRemaining: [],
        errors: [],
        showTooltipCopy: false,
      }
    },
    computed: {
      ...mapGetters({
        amountForPayment: 'getAmountForPayment',
        accountCurrencyForPayment: 'getAccountCurrencyForPayment',
        paymentTypeForPayment: 'getPaymentTypeForPayment',
        cryptoRequisites: 'getCryptoRequisites',
        cryptoCurrencies: 'getCryptoCurrencies',
        userLimits: 'getUserLimits',
        user: 'getUser'
      }),
      cryptoRequisite () {
        const cryptoRequisites = this.cryptoRequisites
        if (cryptoRequisites['DEPOSIT'] && cryptoRequisites['DEPOSIT'][this.accountCurrencyForPayment]) {
          return cryptoRequisites['DEPOSIT'][this.accountCurrencyForPayment]
        }
        if (this.localCryptoRequisite) {
          return this.localCryptoRequisite
        }
        return null
      },
    },
    created(){
      this.checkForUpdateButton()
    },
    mounted(){

    },
    methods: {
      onNewUSDTWallet(){

      },
      copyHref(i) {
        copy(this.cryptoRequisite[i].address);
        this.showTooltipCopy = true;
        setTimeout(() => {
          this.showTooltipCopy = false
        }, 2000)
      },

      checkForUpdateButton(){
        this.localCryptoRequisite = null
        if (this.cryptoRequisite===null) {
          return null
        }
        if (this.cryptoCurrencies.includes(this.accountCurrencyForPayment)) {
          this.timeRemaining = []
          for(let t = 0; t < this.cryptoRequisite.length; t++) {
            const time_passed = date_dif(this.cryptoRequisite[t].created_at)
            this.timeRemaining.push(time_passed >= 2)
          }

        }
      },
      onNewWallet(network, pos) {
        const request = {
          "currency": this.currency,
          "user_id": this.user.id
        };

        if(network) {
          request['network'] = network
        }

        spinner.toggle(true)
        requests.dashboard.postNewCryptoAddress(request).then(({data}) => {
          this.$store.dispatch('updateUserCryptoRequisites').then(() => {
            this.checkForUpdateButton()
          }).catch(() => {

          })
          this.localCryptoRequisite = data.crypto_requisite

          spinner.toggle(false)
        }).catch(() => spinner.toggle(false))
      },

    },
    filters: {
      getCurrencySymbol,
      formatMoney,
      getCurrencyAlias,
      getNameWallet
    },
    watch: {
      amountForPayment() {
        this.errors = []
      },
      accountCurrencyForPayment() {
       this.checkForUpdateButton()
      },
      paymentTypeForPayment(){
        this.checkForUpdateButton()
      },
      cryptoRequisites(){
        this.checkForUpdateButton()
      }
    }
  }
</script>
