<template>
  <section>
<!--    <div v-if="tokenCurrencies.includes(currency) && cryptoRequisite" class="form-control-custom">-->
    <div v-if="cryptoRequisite"
         class="form-control-custom"
    >
      <span class="font-weight-bold mr-1 mb-3 d-block">
        {{ $t("dashboard.payments.text24") }}
        {{currency}}
        {{ $t("dashboard.payments.text25") }}
      </span>
      <small class="text-silver d-block">
        {{ $t("dashboard.payments.text21") }}
        {{userLimits['crypto_bill'][accountCurrencyForPayment][0].refill_min_value_trans|formatMoney(accountCurrencyForPayment)}}
        {{ $t("dashboard.payments.text22") }}
        {{userLimits['crypto_bill'][accountCurrencyForPayment][0].refill_max_value_trans|formatMoney(accountCurrencyForPayment)}}
        {{accountCurrencyForPayment | getCurrencyAlias}}
      </small>
      <label class="w-100"
             style="margin-top: .5rem"
      >
      </label>
      <div class="d-flex">
        <div class="d-flex flex-column">
          <small class="text-silver mb-2">{{currency|getNameWallet}} {{ $t("dashboard.payments.text26") }}</small>
          <span style="word-break: break-word"
                class="mb-3"
                @click="copyHref"
          >
            {{cryptoRequisite.address}}
            <i :title="$t('modal.copy_wallet_address')"
               class="icon-copy"
            />
          </span>
        </div>
      </div>
      <p style="word-break: break-word">
<!--        {{ $t("dashboard.payments.text29") }} {{ $t("dashboard.payments.text30") }}-->
<!--        {{ $t("dashboard.payments.text31") }}-->
      </p>
    </div>
    <span v-if="showTooltipCopy"
          class="copy-tooltip"
          id="copy-tooltip"
    >{{ $t("dashboard.payments.text34") }}</span>
  </section>


</template>

<script>
  import { formatMoney, getCurrencySymbol, getCurrencyAlias, getNameWallet } from '../../../../utilities'
  import { mapGetters } from 'vuex'

  function copy(str) {
    let tmp = document.createElement('input'), // Создаём новый текстовой input
      focus = document.activeElement; // Получаем ссылку на элемент в фокусе (чтобы не терять фокус)
    tmp.value = str; // Временному input вставляем текст для копирования

    document.body.appendChild(tmp); // Вставляем input в DOM
    tmp.select(); // Выделяем весь текст в input
    document.execCommand('copy'); // Копирует в буфер выделенный текст
    document.body.removeChild(tmp); // Удаляем временный input
    focus.focus(); // Возвращаем фокус туда, где был
  }


  export default {
    name: "DepositTokenBlock",
    props: {
      currency: {
        type: String,
        required: true
      }
    },
    data() {
      return {
        localCryptoRequisite: null,
        timeRemaining: null,
        errors: [],
        showTooltipCopy: false
      }
    },
    computed: {
      ...mapGetters({
        amountForPayment: 'getAmountForPayment',
        accountCurrencyForPayment: 'getAccountCurrencyForPayment',
        paymentTypeForPayment: 'getPaymentTypeForPayment',
        cryptoRequisites: 'getCryptoRequisites',
        tokenCurrencies: 'getTokenCurrencies',
        userLimits: 'getUserLimits',
        user: 'getUser'
      }),
      cryptoRequisite () {
        const cryptoRequisites = this.cryptoRequisites
        if (cryptoRequisites['TOKEN'] && cryptoRequisites['TOKEN'][this.accountCurrencyForPayment]) {
          return cryptoRequisites['TOKEN'][this.accountCurrencyForPayment][0]
        }
        if (this.localCryptoRequisite) {
          return this.localCryptoRequisite
        }
        return null
      },
    },
    created(){
      // this.checkForUpdateButton()
    },
    methods: {
      copyHref() {
        copy(this.cryptoRequisite.address);
        this.showTooltipCopy = true;
        setTimeout(() => {
          this.showTooltipCopy = false
        }, 2000)
      },
    },
    filters: {
      getCurrencySymbol,
      formatMoney,
      getCurrencyAlias,
      getNameWallet
    },
    watch: {
      amountForPayment() {
        this.errors = []
      },
      accountCurrencyForPayment() {
      // this.checkForUpdateButton()
      },
      paymentTypeForPayment(){
      //  this.checkForUpdateButton()
      },
      cryptoRequisites(){
       // this.checkForUpdateButton()
      }
    }
  }
</script>
