<template>
    <div v-if="show" id="modal" class="modal-background w-100 background-none" v-bind:class="{ 'show': show, 'hide': !show }">
        <div class="white-background-50 h-100 w-100 position-fixed"></div>
        <div class="modal-dialog d-flex align-items-center modal-large" style="margin-top: 5rem;">
            <div class="modal-content align-self-center m-auto white-shadow" style="background: white;">
                <div class="close-modal" @click="close"><i class="icon-close-modal"></i></div>
                <div class="modal-body">
                    <span>{{ $t("dashboard.payments.text46") }}:</span>
                    <ul class="mt-2 pl-4">
                        <li class="mt-1">{{ $t("dashboard.payments.text47") }}
                        </li>
                        <li class="mt-1">{{ $t("dashboard.payments.text48") }}
                        </li>
                        <li class="mt-1">{{ $t("dashboard.payments.text49") }}
                        </li>
                        <li class="mt-1">{{ $t("dashboard.payments.text50") }}
                        </li>
                        <li class="mt-1">{{ $t("dashboard.payments.text51") }}
                        </li>
                    </ul>
                    <span>
                        {{ $t("dashboard.payments.text52") }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
  name: "DepositTermsModal",
  data () {
  	return {
      show: false,
    }
  },
  methods: {
    toggle(isShow) {
        let body = document.getElementsByTagName('body')[0];
        body.classList.toggle('overflow-hidden');
      this.show = isShow
      if (isShow) {
          document.getElementById('modal').scrollIntoView();
          document.body.style.overflow = 'hidden'
      } else {
          document.body.style.overflow = 'auto'
      }
    },
    close() {
      this.toggle(false)
    },
    open() {
      this.toggle(true)
    },
  }
}
</script>
