<template>
  <div class="form-control-custom">
    <small class="text-silver d-block">{{ $t("dashboard.payments.paysend.title") }}</small>
    <small class="text-silver d-block"
           v-for="userPaysendLimit in userLimits['paysend'][accountCurrencyForPayment]"
    >
      {{ $t("dashboard.payments.text21") }}
      {{userPaysendLimit.refill_min_value_trans | formatMoney(accountCurrencyForPayment)}}
      {{ $t("dashboard.payments.text22") }}
      {{userPaysendLimit.refill_max_value_trans|formatMoney(accountCurrencyForPayment)}}
      {{accountCurrencyForPayment | getCurrencyAlias}}
    </small>
    <br/>
    <template v-for="type in paysendTypes">
      <label class="w-100" :key="type" @click="setSelectedType(type)">
        <input type="radio"
               name="type"
               :value="type"
        >
        <div class="checkbox__button"></div>
        <span>{{ type }}</span>
        <div class="float-right">
          <i class="icon-museum"></i>
        </div>
      </label>
    </template>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import PaymentMethodModal from '../../profile/payment-methods/PaymentMethodModal'
  import {formatMoney, getCurrencyAlias} from "@/main/utilities";

  export default {
    name: "DepositPaysendBlock",
    props: {
      currency: {
        type: String
      }
    },
    components: {
      PaymentMethodModal
    },
    data() {
      return {
        modal: {
          component: 'add-bank-account',
          size: 'large',
          element: null,

        },
        paysendTypes: [
          'PaySend'
        ]
      }
    },
    computed: {
      ...mapGetters({
        paysendRequisites: 'getPaysendRequisites',
        userLimits: 'getUserLimits',
        selectedCheckboxModal: 'getSelectedCheckboxModal',
        accountCurrencyForPayment:'getAccountCurrencyForPayment'
      })
    },
    watch: {},
    methods: {
      setSelectedType(type) {
        this.$store.dispatch('setPaymentTypeForPayment', 'paysend')
        if(this.paysendRequisites.length) {
          this.$store.dispatch('setSelectedCheckboxModal', this.paysendRequisites[0].id)
          this.$store.dispatch('setBankRequisiteForPayment', this.paysendRequisites[0])
        }
        this.$store.dispatch('updateCommissionForPayment', ['deposit', 'paysend'])
      },
    },
    filters:{
      formatMoney,
      getCurrencyAlias
    }
  }
</script>

