<template>
  <div>
    <div class="modal-body">
      <div class="form-custom black accepted-items">
        <div class="form-control-custom accepted-item">
          <div class="dropdown-select border-0"
               @click="openSelect"
               @mouseenter="isFocusCurrencySelect = true"
               @mouseleave="isFocusCurrencySelect = false">

            <div
                class="text-black border-0 w-100 d-flex flex m-0 align-items-center justify-content-between exchange-block">
              <i class="icon-circle-accept mr-3"></i>
              <div class="d-flex flex-column w-100">
                <div>
                  <span class="font-weight-bold mr-1 d-block">{{ $t("dashboard.payments.text35") }}</span>
                </div>
                <div class="d-flex border-bottom-silver align-items-center justify-content-between exchange-block">
                  <input type="hidden" disabled v-model="accountCurrencyForPayment">
                  <div class="w-100 border-0 text-silver pt-1 pb-0">{{ accountCurrencyForPayment | getCurrencyAlias }}
                  </div>
                  <i class="fas fa-caret-down" v-if="!isOpenCurrencySelect"></i>
                  <i class="fas fa-caret-up" v-else></i>
                </div>
              </div>
            </div>
            <ul v-show="isOpenCurrencySelect" class="text-black font-weight-bold">
              <li v-for="userAccount in getAllowedAccounts"
                  :key="userAccount.id"
                  :value="userAccount.currency"
                  @click="setAccountCurrencyForPayment(userAccount.currency)"
                  class="pl-2 pr-2">{{userAccount.currency | getCurrencyAlias}}
              </li>
            </ul>
          </div>
        </div>
        <div class="form-control-custom accepted-item">
          <div
              class="text-black border-0 w-100 d-flex flex m-0 align-items-center justify-content-between position-relative exchange-block">
            <i class="icon-circle-accept mr-3"></i>
            <div class="d-flex flex-column w-100">
              <div>
                <span class="font-weight-bold mr-1 d-block">{{ $t("dashboard.payments.text36") }}</span>
              </div>
              <div class="d-flex border-bottom-silver align-items-center justify-content-between exchange-block">
                <input class="w-100 border-0 text-silver pt-1 pb-0"
                       ref="field_amount"
                       type="number"
                       v-model="amount"
                >
                <span class="border-0 text-silver pt-0">{{accountCurrencyForPayment | getCurrencyAlias}}</span>
              </div>
              <div class="text-danger error-msg" ref="error_amount"></div>
            </div>
          </div>
        </div>
        <div v-if="!availableDepositTypes.includes('token_bill')" class="form-control-custom">
          <span class="font-weight-bold mr-1 mb-3 d-block">{{ $t("dashboard.payments.text37") }}</span>
        </div>
        <card-block v-if="availableDepositTypes.includes('online_translation') && isUserVerified"
                    :currency="accountCurrencyForPayment" type="deposit"/>
        <deposit-bank-block v-if="availableDepositTypes.includes('rated_bill') && isUserVerified
                                      && accountCurrencyForPayment!=='USD' && showBankBlock"
                            :currency="accountCurrencyForPayment"
                            :available-requisites="availableRequisites"
        />

        <deposit-paysend-block v-if="availableDepositTypes.includes('paysend') && isUserVerified" :currency="accountCurrencyForPayment"
        />

        <!-- Qr -->
        <div v-if="showQrBlock">
          <small class="text-silver d-block">{{ $t("dashboard.payments.qr_code") }}</small>
          <small class="text-silver d-block">{{ fromToQrLimits }}</small>
          <div class="d-flex align-items-center">
            <button class="btn btn-secondary mt-3 mb-3"
                    @click="checkLimitsQr">
              {{ $t("dashboard.payments.generate_qr_code") }}
            </button>
            <div class="ml-3 custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitches" v-model="is_infinite">
              <label class="custom-control-label text-silver" for="customSwitches">{{ $t("dashboard.payments.reusable") }}</label>
            </div>
          </div>

          <modalWrapper ref="modalWrapper">
            <QrCode :voucher="data" @close-modal="$refs.modalWrapper.close()"/>
          </modalWrapper>
        </div>
        <!-- Qr -->

        <deposit-crypto-block v-if="availableDepositTypes.includes('crypto_bill')"
                              :currency="accountCurrencyForPayment"/>
        <deposit-token-block v-if="availableDepositTypes.includes('token_bill')"
                             :currency="accountCurrencyForPayment"/>

      </div>
      <div v-if="!availableDepositTypes.includes('token_bill')" class="w-100 mt-2">
                  <span>{{ $t("dashboard.payments.text38") }}
                    <a href="#" class="deposit-terms" @click.prevent="onOpenTermsModal">{{ $t("dashboard.payments.text39") }}</a>.
                  </span>
      </div>
      <div v-if="amount && paymentTypeForPayment">
        <div class="w-100">
          <span>{{ $t("dashboard.payments.text40") }}:</span>
          <div class="float-right">
            {{amountForPayment|formatMoney(accountCurrencyForPayment)}}
            {{accountCurrencyForPayment | getCurrencyAlias}}
          </div>
        </div>
        <div class="w-100">
          <span>{{ $t("dashboard.payments.text3") }}:</span>
          <div class="float-right">
            {{amountForPaymentMinusCommission|formatMoney(accountCurrencyForPayment)}}
            {{accountCurrencyForPayment | getCurrencyAlias}}
          </div>
        </div>
        <div class="w-100">
          <span>{{ $t("dashboard.payments.text42") }}:</span>
          <div class="float-right">
            {{commissionForPayment|formatMoney(accountCurrencyForPayment)}}
            {{accountCurrencyForPayment | getCurrencyAlias}}
          </div>
        </div>
        <div class="w-100">
          <span>{{ $t("dashboard.payments.text43") }}:</span>
          <div class="float-right">
            {{commissionMultiplierForPayment}}%
          </div>
        </div>
        <div class="w-100">
          <span>{{ $t("dashboard.payments.text44") }}:</span>
          <div class="float-right" v-if="userLimits[paymentTypeForPayment]"
          >{{commissionFixForPayment | formatMoney(accountCurrencyForPayment)}} {{accountCurrencyForPayment |
            getCurrencyAlias}}
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="d-flex w-100 justify-content-between align-items-center">
        <button v-if="!availableDepositTypes.includes('crypto_bill') && !availableDepositTypes.includes('token_bill')"
                class="btn btn-primary btn-accepted"
                :disabled="!validAmount && !selectedCheckboxModal && paymentTypeForPayment" @click="onDeposit">{{ $t("dashboard.payments.text45")
          }}
        </button>
        <span class="text-black font-weight-bold mb-0" style="cursor: pointer" @click="close">{{ $t("dashboard.payments.text19") }} —</span>
        <!--<button class="btn btn-secondary">Deposit from another account</button>-->
      </div>
    </div>
    <bank-receipt-modal ref="bankreceiptmodal" v-on:close-modal="close()"/>
    <submit-3ds ref="submit_3ds_sale" id="submit_3ds_sale"/>
    <deposit-terms-modal ref="deposittermsmodal"/>
    <ModalWrapper ref="modalCVVWrapper">
      <submit-cvv-modal @cvv-submitted="makeCardDepositPay"/>
    </ModalWrapper>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";

  import CardBlock from '../CardBlock'
  import DepositBankBlock from './DepositBankBlock'
  import DepositPaysendBlock from './DepositPaysendBlock'
  import DepositCryptoBlock from './DepositCryptoBlock'
  import DepositTokenBlock from './DepositTokenBlock'
  import DepositTermsModal from './DepositTermsModal'
  import BankReceiptModal from './BankReceiptModal'
  import Submit3ds from '../../blocks/acquiring/Submit3ds'
  import SubmitCvvModal from '../../blocks/acquiring/SubmitCvvModal'
  import alert from '../../../../../common/sweet-alert'
  import requests from '../../../../requests'
  import {
    checkUserAllowedCurrencies,
    filterBankRequisites,
    formatMoney,
    getCurrencyAlias,
    handleErrorForAlert,
    handlerErrors
  } from '../../../../utilities'
  import jQuery from 'jquery'
  import spinner from '../../../../../common/spinner'
  import QrCode from '../deposit/QrCode'

  export default {
    name: "DepositModalContainer",
    components: {
      CardBlock,
      DepositBankBlock,
      DepositPaysendBlock,
      DepositCryptoBlock,
      DepositTokenBlock,
      Submit3ds,
      BankReceiptModal,
      DepositTermsModal,
      SubmitCvvModal,
      QrCode
    },
    data() {
      return {
        show: true,
        isFocusCurrencySelect: false,
        isOpenCurrencySelect: false,
        availableRequisites: [],
        minTransAmount: null,
        maxTransAmount: null,
        amount: null,
        validAmount: false,
        showBankBlock: false,
        data: null,
        is_infinite:false
      }
    },
    computed: {
      ...mapGetters({
        user: 'getUser',
        userAccounts: 'getUserAccounts',
        isUserVerified: 'isUserVerified',
        cardForPayment: 'getCardForPayment',
        userCards: 'getUserCards',
        amountForPayment: 'getAmountForPayment',
        currenciesByType: 'getCurrenciesByType',
        commissionForPayment: 'getCommissionForPayment',
        systemBankRequisites: 'getSystemBankRequisites',
        bankRequisiteForPayment: 'getBankRequisiteForPayment',
        paysendRequisitesForPayment: 'getPaysendRequisites',
        paymentTypeForPayment: 'getPaymentTypeForPayment',
        accountCurrencyForPayment: 'getAccountCurrencyForPayment',
        commissionMultiplierForPayment: 'getCommissionMultiplierForPayment',
        commissionFixForPayment: 'getCommissionFixForPayment',
        userLimits: 'getUserLimits',
        cryptoCurrencies: 'getCryptoCurrencies',
        selectedCheckboxModal: 'getSelectedCheckboxModal',
        amountForPaymentMinusCommission: 'getAmountForPaymentMinusCommission',
        currencies: 'getCurrencies',
        tokenCurrencies: 'getTokenCurrencies',
        bankRequisites: 'getBankRequisites',
      }),
      showQrBlock() {
        return ['RUB', 'EUR', 'GBP', 'USD'].includes(this.accountCurrencyForPayment) &&
          typeof this.userLimits['external_deposit'] !== 'undefined' &&
          typeof this.userLimits['external_deposit'][this.accountCurrencyForPayment] !== 'undefined' &&
          this.userCards.length>0
      },
      fromToLimits() {
        let min, max, currency;
        currency = this.accountCurrencyForPayment;

        if (this.paymentTypeForPayment === null) {
          return ''
        }

        let payment = this.userLimits[this.paymentTypeForPayment][currency][0];

        if (this.type === 'deposit') {
          min = formatMoney(payment.refill_min_value_trans, currency);
          max = formatMoney(payment.refill_max_value_trans, currency)
        } else {
          min = formatMoney(payment.withdrawal_min_value_trans, currency);
          max = formatMoney(payment.withdrawal_max_value_trans, currency)
        }
        return `${min} ` + this.$t("dashboard.payments.to") + ` ${max} ${getCurrencyAlias(currency)}`;
      },
      fromToQrLimits() {
        let min, max, currency;
        currency = this.accountCurrencyForPayment;
        let limit = this.userLimits['external_deposit'][currency][0];
        min = formatMoney(limit.refill_min_value_trans, currency);
        max = formatMoney(limit.refill_max_value_trans, currency);
        return `${min} ` + this.$t("dashboard.payments.to") + ` ${max} ${getCurrencyAlias(currency)}`;
      },
      getAllowedAccounts() {
        return this.userAccounts.filter(this.getAllowedAccountsCallback)
      },
      availableDepositTypes: function () {
        let result = [];
        Object.keys(this.currenciesByType).map(key => {
          if (this.currenciesByType[key].indexOf(this.accountCurrencyForPayment) >= 0) {
            result.push(key);
          }
        });
        return result;
      }
    },
    created() {
      this.$store.dispatch('setPaymentTypeForPayment', null);
      this.$store.dispatch('setSelectedCheckboxModal', false);
      this.$scrollBody('hidden')
    },
    destroyed() {
      this.$scrollBody('auto')
    },
    methods: {
      checkLimitsQr() {
        let min, max, currency;
        currency = this.accountCurrencyForPayment;
        let limit = this.userLimits['external_deposit'][currency][0];
        min = formatMoney(limit.refill_min_value_trans, currency);
        max = formatMoney(limit.refill_max_value_trans, currency);

        this.$store.dispatch('setPaymentTypeForPayment', null);
        this.$store.dispatch('setSelectedCheckboxModal', false);

        if (this.amount === null || +this.amount <= 0 || +this.amount < +min || +this.amount > +max) {
          this.showErrors(
            [
              {
                text: this.$t('words.correct_amount',
                  [
                    this.formatMoney(min, currency),
                    this.formatMoney(max, currency),
                    currency
                  ]
                )
              }
            ]
          );
          return false
        }

        spinner.toggle(true);
        this.errors = [];
        let body = {
          payment_type: 'external_deposit',
          payment_data: {
            is_infinite: this.is_infinite,
            amount: this.amountForPayment,
            currency: this.accountCurrencyForPayment,
          }
        };

        requests.dashboard.postRefillPay(body)
          .then(res => {
              this.data = {
                ...res.data,
                amount: this.amount,
                currency: this.accountCurrencyForPayment
              };
              this.$refs.modalWrapper.open()
            }
          )
          .catch(({response}) => {
            if (response.data.errors.length) {
              this.showErrors(handleErrorForAlert(response.data.errors))
            } else {
              this.showErrors(handleErrorForAlert([response.data.message]))
            }
          })
          .finally(() => {
            spinner.toggle(false)
          })

      },
      formatMoney,
      filterBankRequisites,
      getAllowedAccountsCallback(userAccount) {
        let res = checkUserAllowedCurrencies({currency: userAccount.currency});
        let allowed = this.currencies.find((item)=>{
          return item.name === userAccount.currency && item.allow_withdrawal === true
        })
        if (res && this.accountCurrencyForPayment === userAccount.currency && allowed) {
          this.setAccountCurrencyForPayment(userAccount.currency);
        }

        if(allowed && res) {
          return true
        }
        return false
      },
      setAccountCurrencyForPayment(currency) {

        if (this.cryptoCurrencies.includes(currency) || this.tokenCurrencies.includes(currency)) {
          this.$store.dispatch('setPaymentTypeForPayment', 'crypto_bill');
          this.$store.dispatch('updateCommissionForPayment', ['deposit', 'crypto_bill']);
          this.$store.dispatch('setSelectedCheckboxModal', true)
        } else {
          this.$store.dispatch('setSelectedCheckboxModal', false)
        }

        // this.$store.dispatch('setPaymentTypeForPayment', null);
        this.$store.dispatch('setAccountCurrencyForPayment', currency);
        // this.$nextTick(() => this.$refs.field_amount.focus())
      },
      onDeposit() {
        if (this.paymentTypeForPayment === null) {
          this.showErrors([{text: this.$t('dashboard.payments.text37')}]);
          return false;
        }
        if (this.amount === null && this.amount <= 0) {
          this.showErrors(
            [
              {
                text: this.$t('words.correct_amount',
                  [
                    this.formatMoney(this.minTransAmount, this.accountCurrencyForPayment),
                    this.formatMoney(this.maxTransAmount, this.accountCurrencyForPayment),
                    this.accountCurrencyForPayment
                  ]
                )
              }
            ]
          )
          return false
        }
        if (+this.amount < +this.minTransAmount || +this.amount > +this.maxTransAmount) {
          this.showErrors(
            [
              {
                text: this.$t('words.correct_amount',
                  [
                    this.formatMoney(this.minTransAmount, this.accountCurrencyForPayment),
                    this.formatMoney(this.maxTransAmount, this.accountCurrencyForPayment),
                    this.accountCurrencyForPayment
                  ]
                )
              }
            ]
          )
          return false
        }
        if (this.paymentTypeForPayment === 'rated_bill') {
          this.createBankReplenishment()
        } else if (this.paymentTypeForPayment === 'paysend') {
          this.createPaysendReplenishment()
        } else if (this.paymentTypeForPayment === 'online_translation') {
          this.makeCardDepositPay()
        }
      },
      makeCardDepositPay(cvv = null) {
        this.$refs.modalCVVWrapper.close();
        spinner.toggle(true);
        this.errors = [];
        let body = {
          payment_type: this.paymentTypeForPayment,
          payment_data: {
            amount: this.amountForPayment,
            currency: this.accountCurrencyForPayment,
            card: this.cardForPayment.id
          }
        };
        if (cvv !== null) body.cvv = cvv;
        requests.dashboard.postRefillPay(body).then(({data}) => {
            if (data['cvv_required']) {
              this.showSubmitCVV()
            } else {
              this.submit3DS(data.data)
            }
          }
        ).catch(({response}) => {
          if (response.data.errors.length) {
            this.showErrors(handlerErrors(this.$refs, response.data.errors))
          } else {
            this.showErrors(handleErrorForAlert([response.data.message]))
          }
        }).finally(() => {
          spinner.toggle(false)
        })
      },
      submit3DS(responseData) {
        this.$refs.submit_3ds_sale.submit3DS(responseData);
        setTimeout(() => {
          this.close();
          this.$store.dispatch('updateDashboard')
        }, 3000)
      },
      showSubmitCVV() {
        this.$refs.modalCVVWrapper.open()
      },
      createBankReplenishment() {
        this.errors = [];
        let body = {
          payment_type: this.paymentTypeForPayment,
          payment_data: {
            amount: this.amountForPayment,
            currency: this.accountCurrencyForPayment,
            entity_id: this.bankRequisiteForPayment.id,
            bank_type: this.bankRequisiteForPayment.bank_type,
          }
        };
        spinner.toggle(true);
        requests.dashboard.postRefillPay(body).then(response => {
          spinner.toggle(false);
          this.$store.dispatch('setSystemBankForPayment',
            this.systemBankRequisites[this.bankRequisiteForPayment.bank_type][this.accountCurrencyForPayment]
          );
          this.$store.dispatch('setBankRefillInvoiceID', response.data.invoice_id);
          this.toggle(false);
          this.$refs.bankreceiptmodal.open(false);

        }).catch(({response}) => {
          spinner.toggle(false);
          this.sms_code = null;
          if (response && response.data) {
            if (typeof response.data.errors!== 'undefined' && response.data.errors.length) {
              if (response.data.errors[0].code == '1203') {
                this.isCodeRequested = true
              }
              this.showErrors(handlerErrors(null, response.data.errors))
            } else {
              this.showErrors(handlerErrors(null, [response.data.message]))
            }
          }
        })
      },
      createPaysendReplenishment() {
        this.errors = [];
        let body = {
          payment_type: this.paymentTypeForPayment,
          payment_data: {
            amount: this.amountForPayment,
            currency: this.accountCurrencyForPayment
          }
        };

        spinner.toggle(true);
        requests.dashboard.postRefillPay(body).then(response => {
          spinner.toggle(false);
          this.$store.dispatch('setSystemBankForPayment', this.paysendRequisitesForPayment[0]);
          this.$store.dispatch('setBankRefillInvoiceID', response.data.invoice_id);
          this.toggle(false);
          this.$refs.bankreceiptmodal.open(true);

        }).catch(({response}) => {
          spinner.toggle(false);
          this.sms_code = null;
          if (response && response.data) {
            if (typeof response.data.errors!== 'undefined' && response.data.errors.length) {
              if (response.data.errors[0].code == '1203') {
                this.isCodeRequested = true
              }
              this.showErrors(handlerErrors(null, response.data.errors))
            } else {
              this.showErrors(handlerErrors(null, [response.data.message]))
            }
          }
        })
      },
      showErrors(errors) {
        let text;
        if (typeof errors === 'string') {
          text = errors
        } else {
          errors.map(error => {
            if (error.field === undefined) {
              text = error
            }
          })
        }
        if (text) alert.error(text)
      },
      hideErrors() {
        alert.close()
      },
      openSelect() {
        this.isOpenCurrencySelect = !this.isOpenCurrencySelect
      },
      toggle(isShow) {
        jQuery('body').toggleClass('overflow-hidden', isShow);
        this.show = isShow;
        if (isShow) {
          // document.getElementById('modal').scrollIntoView();
          // document.body.style.overflow = 'hidden'
        } else {
          // document.body.style.overflow = 'auto'
        }
      },
      close() {
        this.toggle(false);
        this.$emit('close-modal')
      },
      open() {
        this.toggle(true);
        this.resetAmounts()
      },
      onClose() {
        this.close();
        this.resetAmounts()
      },
      resetAmounts() {
        this.amount = null;
        this.$store.dispatch('setAmountForPayment', 0);
        this.$store.dispatch('setSelectedCheckboxModal', false);
      },
      onOpenTermsModal() {
        this.$refs.deposittermsmodal.open()
      },
      updateBankRequisitesList() {
        let requisites = this.filterBankRequisites(this.accountCurrencyForPayment, this.bankRequisites, this.systemBankRequisites);

        if (requisites.length) {
          this.availableRequisites = requisites;
          this.showBankBlock = true
        } else {
          this.availableRequisites = [];
          this.showBankBlock = false
        }
      },
      limitOfTransaction() {
        if (this.paymentTypeForPayment === null) return false;

        if (this.paymentTypeForPayment === 'rated_bill') {
          let userBankCurrencyLimits = this.userLimits[this.paymentTypeForPayment][this.accountCurrencyForPayment];
          let bankPaymentType = this.bankRequisiteForPayment.bank_type;
          let paymentLimit = userBankCurrencyLimits.find(userBankCurrencyLimit => userBankCurrencyLimit.bank_type === bankPaymentType);
          this.minTransAmount = paymentLimit.refill_min_value_trans;
          this.maxTransAmount = paymentLimit.refill_max_value_trans;
        } else {
          if (typeof this.userLimits[this.paymentTypeForPayment][this.accountCurrencyForPayment] !== 'undefined') {
            this.minTransAmount = this.userLimits[this.paymentTypeForPayment][this.accountCurrencyForPayment][0].refill_min_value_trans;
            this.maxTransAmount = this.userLimits[this.paymentTypeForPayment][this.accountCurrencyForPayment][0].refill_max_value_trans;
          }
        }
      },
      normalizeAmount(val) {
        //Если это целое число, то ограничим 15
        if (val.indexOf('.') !== -1) {
          let v = val.split('.');
          if (v[0].length > 15) {
            val = v[0].substr(0, 15) + '.' + v[1];
            this.amount = val
          }
        } else if (val.length > 15 && (!isNaN(val) && Math.ceil(val) == val)) {
          val = val.substr(0, 15);
          this.amount = val
        }

        return val
      },
    },
    watch: {
      amount(val) {
        if (val.includes('-')) {
          this.amount = val.substr(1)
        }
        val = this.normalizeAmount(val);
        this.$store.dispatch('setAmountForPayment', val * 1);
        if (this.paymentTypeForPayment) {
          this.$store.dispatch('updateCommissionForPayment', ['deposit', this.paymentTypeForPayment])
        }
        this.validAmount = this.amountForPayment > 0;
        this.hideErrors()
      },
      accountCurrencyForPayment(val) {
        this.updateBankRequisitesList(val);
        this.hideErrors();
        this.limitOfTransaction();
        this.$store.dispatch('setSelectedCheckboxModal', false)

      },
      bankRequisites() {
        this.updateBankRequisitesList()
      },
      selectedCheckboxModal(val1, val2) {
        this.limitOfTransaction()
      }
    },
    filters: {
      formatMoney,
      getCurrencyAlias
    },
    mounted() {
      this.updateBankRequisitesList(this.accountCurrencyForPayment);
      this.hideErrors();
      this.limitOfTransaction()
    }
  }
</script>

