<template>
  <div class="form-control-custom">
    <small class="text-silver d-block">{{ $t("dashboard.payments.text20") }}</small>
    <small class="text-silver d-block"
         v-for="userBankLimit in userLimits['rated_bill'][accountCurrencyForPayment]"
    >
      {{userBankLimit.bank_type}}
      {{ $t("dashboard.payments.text21") }}
      {{userBankLimit.refill_min_value_trans | formatMoney(accountCurrencyForPayment)}}
      {{ $t("dashboard.payments.text22") }}
      {{userBankLimit.refill_max_value_trans|formatMoney(accountCurrencyForPayment)}}
      {{accountCurrencyForPayment | getCurrencyAlias}}
    </small>
    <br/>
    <template v-for="type in bankTypes">
      <label class="w-100" :key="type" @click="setSelectedBank(type)">
        <input type="radio"
               name="type"
              :value="type"
        >
        <div class="checkbox__button"></div>
        <span>{{ type }}</span>
        <div class="float-right">
          <i class="icon-museum"></i>
        </div>
      </label>
    </template>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import PaymentMethodModal from '../../profile/payment-methods/PaymentMethodModal'
  import {formatMoney, getCurrencyAlias} from "@/main/utilities";

  export default {
    name: "DepositBankBlock",
    props: {
      currency: {
        type: String
      },
      availableRequisites: {
        type: Array,
        required: true
      }
    },
    components: {
      PaymentMethodModal
    },
    data() {
      return {
        modal: {
          component: 'add-bank-account',
          size: 'large',
          element: null,

        },
        bankTypes: [
          'SEPA', 'SWIFT'
        ]
      }
    },
    computed: {
      ...mapGetters({
        bankRequisites: 'getBankRequisites',
        userLimits: 'getUserLimits',
        selectedCheckboxModal: 'getSelectedCheckboxModal',
        accountCurrencyForPayment:'getAccountCurrencyForPayment'
      })
    },
    watch: {},
    methods: {
      setSelectedBank(type) {
        let bankRequisite = {
          id: 0,
          bank_type: type
        }
        this.$store.dispatch('setPaymentTypeForPayment', 'rated_bill')
        this.$store.dispatch('setBankRequisiteForPayment', bankRequisite)
        this.$store.dispatch('setSelectedCheckboxModal', bankRequisite.id)
        this.$store.dispatch('updateCommissionForPayment', ['deposit', 'rated_bill'])
      },
    },
    filters:{
      formatMoney,
      getCurrencyAlias
    }
  }
</script>

