<template>
  <div>
    <div class="modal-body">
      <div class="form-custom black accepted-items">
        <div class="form-control-custom accepted-item">
          <div
              class="text-black border-0 w-100 d-flex flex m-0 align-items-center justify-content-between position-relative exchange-block">
            <i class="icon-circle-accept mr-3"></i>
            <div class="d-flex flex-column w-100">
              <div>
                <span class="font-weight-bold mr-1 d-block">{{ $t('words.amount_sum') }}</span>
              </div>
              <div class="d-flex border-bottom-silver align-items-center justify-content-between exchange-block">
                <input class="w-100 border-0 text-silver pt-1 pb-0"
                       ref="exchangeInput"
                       type="number"
                       v-model="amount_total"
                       disabled>
                <span class="border-0 text-silver pt-0">{{ currentCurrency }}</span>
              </div>
            </div>
          </div>
        </div>
        <card-block v-if="isUserVerified && currentCurrency!==null"
                    :currency="currentCurrency"
                    type="external_deposit"
                    :external="isHash"/>
      </div>
      <div v-if="amount">
        <div class="w-100">
          <span>{{ $t("dashboard.payments.text40") }}:</span>
          <div class="float-right">
            {{amount_total|formatMoney(currentCurrency)}}
            {{currentCurrency | getCurrencyAlias}}
          </div>
        </div>
        <div class="w-100">
          <span>{{ $t("dashboard.payments.text3") }}:</span>
          <div class="float-right">
            {{amount|formatMoney(currentCurrency)}}
            {{currentCurrency | getCurrencyAlias}}
          </div>
        </div>
        <div class="w-100">
          <span>{{ $t("dashboard.payments.text42") }}:</span>
          <div class="float-right">
            {{commission|formatMoney(currentCurrency)}}
            {{currentCurrency | getCurrencyAlias}}
          </div>
        </div>
        <div class="w-100">
          <span>{{ $t("dashboard.payments.text43") }}:</span>
          <div class="float-right">
            {{commission_float}}%
          </div>
        </div>
        <div class="w-100">
          <span>{{ $t("dashboard.payments.text44") }}:</span>
          <div class="float-right" v-if="userLimits['external_deposit']"
          >{{commission_fix | formatMoney(currentCurrency)}} {{currentCurrency |
            getCurrencyAlias}}
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="d-flex w-100 justify-content-between align-items-center">
        <button
                class="btn btn-primary btn-accepted"
                :disabled="!selectedCheckboxModal" @click="onDeposit">{{ $t("dashboard.payments.text45")
          }}
        </button>
        <span class="text-black font-weight-bold mb-0" style="cursor: pointer" @click="close">{{ $t("dashboard.payments.text19") }} —</span>
      </div>
    </div>
    <submit-3ds ref="submit_3ds_sale" id="submit_3ds_sale"/>
    <deposit-terms-modal ref="deposittermsmodal"/>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import CardBlock from '../CardBlock'
  import DepositTermsModal from './DepositTermsModal'
  import Submit3ds from '../../blocks/acquiring/Submit3ds'
  import alert from '../../../../../common/sweet-alert'
  import requests from '../../../../requests'
  import {formatMoney, getCurrencyAlias, handleErrorForAlert, submitFormWithRedirect} from '../../../../utilities'
  import jQuery from 'jquery'
  import spinner from '../../../../../common/spinner'
  import CreateVoucherModal from '../../profile/vouchers/CreateVoucherModal'

  export default {
    name: "payment-external",
    components: {
      CreateVoucherModal,
      CardBlock,
      Submit3ds,
      DepositTermsModal
    },
    props: {
      type: {
        type: String,
        defaultValue: null
      }
    },
    data() {
      return {
        show: true,
        isFocusCurrencySelect: false,
        isOpenCurrencySelect: false,
        availableRequisites: [],
        amount: null,
        amount_total: null,
        commission: null,
        commission_fix: null,
        commission_float: null,
        validAmount: false,
        showBankBlock: false,
        data: null,
        currentCurrency: null,
      }
    },
    computed: {
      ...mapGetters({
        user: 'getUser',
        userAccounts: 'getUserAccounts',
        isUserVerified: 'isUserVerified',
        cardForPayment: 'getCardForPayment',
        userLimits: 'getUserLimits',
        fiatCurrencies: 'getFiatCurrencies',
        selectedCheckboxModal: 'getSelectedCheckboxModal',
        currencies: 'getCurrencies',
        currency: 'getCurrencies'
      }),
      isHash() {
        return 'hash' in this.$route.query
      },
    },
    created() {
      this.check()
    },
    destroyed() {
      this.$scrollBody('auto')
    },
    methods: {
      formatMoney,
      onDeposit() {
        this.makeCardDepositPay()
      },
      makeCardDepositPay() {
        spinner.toggle(true);
        this.errors = [];
        let body = {
          card: this.cardForPayment.id,
          hash: this.$route.query.hash,
          from: window.location.pathname.toString()
        };
        requests.dashboard.paymentExternalBill(body).then(
          ({data}) => {
            if (data.redirect) {
              submitFormWithRedirect(data.data.action, data.data.value)
            }
          }).finally(() => {
          spinner.toggle(false)
        })
      },
      showErrors(errors) {
        let text;
        if (typeof errors === 'string') {
          text = errors
        } else {
          errors.map(error => {
            if (typeof error.field === 'undefined') {
              text = error
            }
          })
        }
        if (text) alert.error(text)
      },
      hideErrors() {
        alert.close()
      },
      openSelect() {
        this.isOpenCurrencySelect = !this.isOpenCurrencySelect
      },
      toggle(isShow) {
        jQuery('body').toggleClass('overflow-hidden', isShow);
        this.show = isShow;
        if (isShow) {
          document.getElementById('modal').scrollIntoView();
        }
      },
      close() {
        this.toggle(false);
        this.$emit('close-modal')
      },
      check() {
        spinner.toggle(true);
        requests.dashboard.getExternalBill({hash: this.$route.query.hash})
          .then(res => {
            this.amount = res.data.data.amount;
            this.amount_total = parseFloat(res.data.data.amount_total).toFixed(res.data.currency.number_of_decimals) * 1;

            this.commission = res.data.data.commission;
            this.commission_fix = res.data.data.commission_fix;
            this.commission_float = res.data.data.commission_float;
            this.currency.filter(item => {
              if (item.id === res.data.data.currency_id) {
                this.currentCurrency = item.name;
                this.$store.dispatch('setAccountCurrencyForPayment', item.name)
              }
            });

            this.$scrollBody('hidden')
          })
          .catch(({response}) => {
            this.showErrors(handleErrorForAlert(response.data.errors));
            this.close()
          })
          .finally(() => {
            spinner.toggle(false)
            if ('mr_error' in this.$route.query) {
              alert.error(this.$t('words.mr_error'))
            }
            if ('mr_cancel' in this.$route.query) {
              alert.error(this.$t('words.mr_cancel'))
            }
          })
      },
      onClose() {
        this.close();
        this.resetAmounts()
      },
      resetAmounts() {
        this.amount = null;
      },
      onOpenTermsModal() {
        this.$refs.deposittermsmodal.open()
      }
    },
    watch: {
      amount(val, oldVal) {

      },
      amount_total(val, oldVal) {

      },
      currentCurrency(val) {
        this.hideErrors();
      }
    },
    filters: {
      formatMoney,
      getCurrencyAlias
    },
    mounted() {
      this.hideErrors()
    }
  }
</script>

