<template>

    <div class="content">
        <div class="row justify-content-center">
            <div class="col-sm-10">
                <div class="active-positions">
                    <h3>{{ $t("transactions.account_transactions") }}</h3>
                    <div v-if="user_transactions.length>0">
                        <div class="transaction"
                             v-for="u_trans in userTransactionsPreview"
                             v-if="u_trans.currency===active_account.currency">
                            <div class="transaction-header" :ref="'transaction_header_'+u_trans.id"
                                 @click="toggleMoreInfo(u_trans.id)">
                                <div class="operation__when">{{ u_trans.created_at|formatDateTime}}
                                </div>
                                <div class="operation__item">
                                    <div class="operation__item-left">
                                        <div class="operation__item-icon">%</div>
                                        <div class="operation__item-content">
                                            <div class="title">{{u_trans | transactionTitle}}</div>
                                        </div>
                                    </div>
                                    <div class="operation__item-right">
                                        <div class="number">
                                            <i class="fas fa-check-circle"></i>
                                            {{ u_trans.amount|formatMoney(u_trans.currency) }}
                                            {{u_trans.currency|getCurrencySymbol}}
                                            <i class="fas fa-caret-down" :ref="'transaction_caret_'+u_trans.id"></i>
                                        </div>
                                        <div class="label">{{ $t("transactions.paid") }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="transaction-body" :ref="'transaction_body_'+u_trans.id">
                                <div class="operation__item">
                                    <div class="operation__item-left">
                                        <div class="operation__item-content">
                                            <div class="title">{{ $t("transactions.transaction_id") }}:</div>
                                        </div>
                                    </div>
                                    <div class="operation__item-right">
                                        <div class="number">
                                            {{u_trans.id}}
                                        </div>
                                    </div>
                                </div>
                                <div v-if="u_trans.external_txid" class="operation__item">
                                    <div class="operation__item-left">
                                        <div class="operation__item-content">
                                            <div class="title">{{ $t("transactions.transaction_txid") }}:</div>
                                        </div>
                                    </div>
                                    <div class="operation__item-right">
                                        <div class="number">
                                            <a :href="getBlockchainExplorerUrl(u_trans.currency) + u_trans.external_txid" target="_blank">
                                              {{u_trans.external_txid}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="operation__item">
                                    <div class="operation__item-left">
                                        <div class="operation__item-content">
                                            <div class="title">{{ $t("transactions.date") }}:</div>
                                        </div>
                                    </div>
                                    <div class="operation__item-right">
                                        <div class="number">{{u_trans.created_at|formatDateTime}}</div>
                                    </div>
                                </div>
                                <div class="operation__item">
                                    <div class="operation__item-left">
                                        <div class="operation__item-content">
                                            <div class="title">{{ $t("transactions.product") }}:</div>
                                        </div>
                                    </div>
                                    <div class="operation__item-right">
                                        <div class="number">{{u_trans.comment}}</div>
                                    </div>
                                </div>
                                <div class="operation__item">
                                    <div class="operation__item-left">
                                        <div class="operation__item-content">
                                            <div class="title">{{ $t("transactions.amount") }}:</div>
                                        </div>
                                    </div>
                                    <div class="operation__item-right">
                                        <div class="number">
                                            {{ u_trans.amount|formatMoney(u_trans.currency) }}
                                            {{u_trans.currency|getCurrencySymbol}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <infinite-loading ref="infiniteLoading" @infinite="infiniteHandler">
                            <div slot="no-more"></div>
                            <div slot="no-results"></div>
                        </infinite-loading>
                    </div>
                    <div v-if="user_transactions.length===0" class="info-block pt-5 pl-5 pr-5 pb-5" style="border-style: dashed">
                        <div class="text-center" style="color: #9c9c9c">
                            <i class="far fa-calendar fa-2x mr-3"></i> <span
                                class="h3">Transactions not found</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import {getCurrencySymbol, formatDateTime, getCurrencyAlias, formatMoney, transactionTitle} from '../../utilities'

import requests from '../../requests';
import {mapGetters} from 'vuex'
import InfiniteLoading from 'vue-infinite-loading';
import Spinner from '../../../common/spinner';
import {getBlockchainExplorerUrl} from "../../utilities";

export default {
    name: 'Transactions',
    components: {
      InfiniteLoading
    },
    computed: {
        ...mapGetters({
            user: 'getUser',
            active_account: 'getActiveAccount',
            user_limits: 'getUserLimits',
            user_transactions: 'getUserTransactions',
            crypto: 'getCryptoCurrencies'
       }),
        userTransactionsPreview() {
            return this.user_transactions
        }
    },
    data () {
      return {
        active_currency : null,
      }
    },
    watch: {
      'active_account.currency'(val) {
        this.getInitialTransactions(val);
      }
    },
    mounted() {

    },
    filters: {
      getCurrencySymbol,
      getCurrencyAlias,
      formatDateTime,
      formatMoney,
      transactionTitle
    },
    methods: {
        getBlockchainExplorerUrl,
        getInitialTransactions(activeCurrency) {
        Spinner.toggle(true);
        window.scrollTo(0,0);
        this.$store.dispatch('setUserTransactions', []);
        this.active_currency = activeCurrency;
        requests.dashboard.getUserTransactions(activeCurrency)
          .then(({data}) => {
            this.$store.dispatch('setUserTransactions', data.user_transactions).then(() => {
              Spinner.toggle(false);
              if (this.user_transactions.length > 0) {
                this.$refs.infiniteLoading.stateChanger.reset()
              }
            })
          })
          .catch(({response}) => {
            Spinner.toggle(false);
          });
      },
      infiniteHandler($state) {
        requests.dashboard.getUserTransactions(this.active_currency, this.user_transactions.length || 0)
          .then(({data}) => {
            this.$store.dispatch('pushUserTransactions', data.user_transactions).then(() => {
              if (data.user_transactions.length < 10) {
                $state.complete();
              } else {
                $state.loaded();
              }
            })
          })
          .catch(({response}) => {
            $state.complete();
          });
      },
      toggleMoreInfo(trans_id) {
        let caret_ref = 'transaction_caret_' + trans_id;
        let body_ref = 'transaction_body_' + trans_id;
        this.$refs[body_ref][0].style.display = this.$refs[body_ref][0].style.display === 'block' ? 'none' : 'block';
        this.$refs[caret_ref][0].className = this.$refs[caret_ref][0].className === "fas fa-caret-down" ? "fas fa-caret-up" : "fas fa-caret-down";
      }
    }
}
</script>
