<template>
  <section class="depth-chart-container">
    <div class="row terminal-title-border depth-box-border-right">
      <h6 class="depth-chart__title text-white pl-3">{{ $t("terminal.depth_chart") }}</h6>
    </div>
    <div class="row depth-box-border-right">
      <depth-chart
          :buyData="buyData"
          :sellData="sellData"
          :lastPrice="lastPrice"
      />
    </div>
  </section>
</template>

<script>
  import DepthChart from '../../../../common/charts/DepthChart'
  import { mapGetters } from "vuex";

  export default {
    name: "DepthChartView",
    components: {
      DepthChart
    },
    computed: {
      ...mapGetters({
        orderBook: 'getPublicOrders',
      }),
    },
    data() {
      return {
        buyData: [],
        sellData: [],
        lastPrice: 0
      }
    },
    mounted() {
      this.fillTheChart()
    },
    watch: {
      orderBook() {
        this.fillTheChart()
      }
    },
    methods: {
      getMidPrice( price1, price2 ) {
        price1 = price1 === undefined ? 0 : price1[0];
        price2 = price2 === undefined ? 0 : price2[0];
        let sum = price1 + price2;
        return sum > 0 ? sum / 2 : 0
      },
      fillTheChart() {
        if (this.orderBook) {
          this.sellData = !!this.orderBook.asks ? this.orderBook.asks.map( order => [ order.price,order.amount ] ).sort() : [];
          this.buyData = !!this.orderBook.bids ? this.orderBook.bids.map( order => [ order.price,order.amount ] ).sort() : [];
          this.lastPrice = this.getMidPrice( this.buyData[0], this.sellData[0] );
        }
      },
    }
  }
</script>
