<template>
  <div id="center-panel">
    <div class="row">
      <div class="col-lg-12 desctop-hight">
        <t-v-chart-container :key="orderPair"></t-v-chart-container>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <depth-chart-view/>
      </div>
      <div class="col-lg-8">
          <order-book-view/>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import moment from 'moment/moment'
  import TVChartContainer from '@/main/views/terminal/trading-view/TVChartContainer'
  import {formatMoney, getCurrencyAlias} from "../../../utilities";
  import requests from "../../../requests";
  import OrderBookView from "@/main/views/terminal/middle-panel/OrderBookView";
  import DepthChartView from "@/main/views/terminal/middle-panel/DepthChartView";

  export default {
    name: 'middle-panel',
    data() {
      return {
        currentPair: {
          base: 'ETH',
          quote: 'BTC',
        },
        showingOrders: [],
        showingActiveOrders: true,
        showingHistory: false,
        showingUserTrades: false,
      }
    },
    beforeMount() {
      this.$store.dispatch('subscribeToTerminalWs')
    },
    components: {
      DepthChartView,
      OrderBookView,
      TVChartContainer
    },
    computed: {
      ...mapGetters({
        currentAccount: 'getActiveAccount',
        userActiveOrders: 'getUserActiveOrders',
        userFilledOrders: 'getUserFilledOrders',
        userTrades: 'getUserTrades',
        orderPair: 'getOrderPair',
        publicOrders:'getPublicOrders'

      }),
    },
    watch: {

      userActiveOrders() {
        this.showingOrders = this.userActiveOrders
      }
    },
    filters: {
      formatMoney,
      getCurrencyAlias,
      parseStatus(status) {
        switch (status) {
          case 'FILLED':
            return 'Fulfilled'
          case 'ACTIVE':
            return 'Active'
          case 'CANCELED':
            return 'Canceled'
          case 'PARTIALLY FILLED':
            return 'Partially filled'
        }
      },
      parseDateTime(timestamp) {
        return moment.unix(timestamp).format('HH:mm:ss');
      }
    }
  }
</script>
