<template>
  <section class="order-book">
    <div class="row terminal-title-border">
      <h6 class="order-book__title text-white pl-3">{{ $t("terminal.order_book") }}</h6>
    </div>
    <div class="row terminal-bb inner-bg-dark-gray">
      <div class="col-6 pr-0 pl-0">
        <table class="table table-hover table-borderless mt-2 mb-1 text-left">
          <tr>
            <th scope="col" class="text-right no-mobile pl-3" style="width: 40%">{{ $t("terminal.total") }}</th>
            <th scope="col" class="text-right" style="width: 33%;">{{ $t("terminal.amount") }}</th>
            <th scope="col" class="text-right" style="width: 33%">{{ $t("terminal.bid") }}</th>
          </tr>
        </table>
      </div>
      <div class="col-6 pr-0 pl-0">
        <table class="table table-hover table-borderless mt-2 mb-0 text-left">
          <tr>
            <th scope="col" class="text-left" style="width: 33%">{{ $t("terminal.ask") }}</th>
            <th scope="col" class="text-left" style="width: 33%">{{ $t("terminal.amount") }}</th>
            <th scope="col" class="text-left no-mobile pr-3" style="width: 40%">{{ $t("terminal.total") }}</th>
          </tr>
        </table>
      </div>
    </div>
    <perfect-scrollbar class="scrollbar-mid-panel-terminal"
                       :options="{suppressScrollX: true}">
      <div class="row">
        <div class="col-lg-6 col-6 pr-0 pl-0">
          <div class="table-responsive">
            <table class="table table-hover table-borderless mt-2 text-left">
              <tbody v-if="publicOrders!==null">
              <tr v-for="(order, index) in publicOrders.bids">
                <!--sum-->
                <td class="text-right no-mobile pl-3" style="width: 40%"
                    v-html="getOrderBookAmountSumView(publicOrders.bids, index)">
                  <small-progress-bar :width="parseInt((order.amount*100/buyAmountsSum/4).toString())" color="green"/>
                </td>
                <!--amount-->
                <td class="text-right" style="width: 33%;" v-html="getOrderBookAmountView(order.amount)"></td>
                <!--bid-->
                <td class="text-right color-green" style="width: 33%" v-html="getOrderBookPriceView(order.price)"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-6 col-6 pl-0">
          <div class="table-responsive">
            <table class="table table-hover table-borderless mt-2 text-right">
              <tbody v-if="publicOrders!==null">
              <tr v-for="(order, index) in publicOrders.asks">
                <!--ask-->
                <td class="text-left color-red" style="width: 33%;" v-html="getOrderBookPriceView(order.price)"></td>
                <!--amount-->
                <td class="text-left" style="width: 33%;" v-html="getOrderBookAmountView(order.amount)"></td>
                <td class="text-left no-mobile pr-3" style="width: 40%;"
                    v-html="getOrderBookAmountSumView(publicOrders.asks, index)">
                  <small-progress-bar style="right: 0;"
                                      :width="parseInt((order.amount*100/sellAmountsSum/4).toString())" color="red"/>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </perfect-scrollbar>
  </section>

</template>

<script>
  import {mapGetters} from "vuex";
  import {baseCurrency, quoteCurrency} from "../../../utilities";
  import SmallProgressBar from "@/common/charts/SmallProgressBar";
  import {toFixedNumberLength, fixedWithRounding} from '../../../math';

  export default {
    name: "OrderBookView",
    components: {SmallProgressBar},
    data() {
      return {}
    },
    computed: {
      ...mapGetters({
        publicOrders: 'getPublicOrders',
      }),
      sellAmountsSum() {
        if (this.publicOrders && this.publicOrders.asks.length > 0) {
          return this.publicOrders.asks.reduce((sum, order, i, p) => sum + order.amount, 0)
        }
      },
      buyAmountsSum() {
        if (this.publicOrders && this.publicOrders.bids.length > 0) {
          return this.publicOrders.bids.reduce((sum, order, i, p) => sum + order.amount, 0)
        }
      },

    },
    methods: {
      toFixedNumberLength,
      fixedWithRounding,
      baseCurrency,
      quoteCurrency,
      getTotalForCurrentValue(orders, index) {
        return orders.slice(index).reduce(function (total, item) {
          return total + parseFloat(item.amount);
        }, 0);
      },
      getOrderBookPriceView(price) {
        return toFixedNumberLength(price, 7);
      },
      getOrderBookAmountView(amount) {
        //получаем число нужной длины
        amount = fixedWithRounding(amount, true, 8);
        let dotInNumber = (amount * 1).toString().includes('.');
        //получаем количество нулей на конце
        let zeros = (amount.length - 1) - (((amount * 1).toString()).length - 1);
        if (!dotInNumber) zeros -= 1;
        if (zeros > 0) {
          return `${(amount * 1)}${dotInNumber ? '' : '.'}<span class="text-silver">${'0'.repeat(zeros)}</span>`;
        }
        return amount;
      },
      getOrderBookAmountSumView(asks, index) {
        return fixedWithRounding(this.getTotalForCurrentValue(asks, index), true, 2)
      },
    }
  }
</script>

<style scoped>

</style>
