<template>
    <span>
        <template v-if="document.type.replace(/_\d*$/, '') === 'national_passport'">Национальный паспорт (разворот)</template>
        <template v-else-if="document.type === 'international_passport'">Загранпаспорт (разворот)</template>
        <template v-else-if="document.type === 'driver_license'">Водительские права</template>
        <template v-else-if="document.type.replace(/_\d*$/, '') === 'photo_with_you'">Фото с Вами</template>
        <template v-else-if="document.type.replace(/_\d*$/, '') === 'utility_bill'">Счет за коммунальные услуги</template>
        <template v-else-if="document.type === 'document_about_registration'">Документ о прописке</template>
        <template v-else-if="document.type === 'drivers_license'">Водительское удостоверение</template>
        <template v-else-if="document.type === 'bank_card'">Банковская карта</template>
        <template v-else-if="document.type === 'other_profile'">Другое</template>
        <template v-else="document.type === 'other_document'">Другой документ с фактическим адресом</template>
    </span>

</template>

<script>
  export default {
    name: "document-name-by-type",
    props: {
      document: Object
    }
  }
</script>

