<template>

    <div class="mt-0 text-center">
        <input type="hidden" name="document_id[]" :value="document_id">
        <input type="hidden" name="requisite_id[]" :value="card_id">
        <input type="hidden" name="file_changed[]" :value="isSelectedFile ? 1 : 0">
        <input class="input-file document-file"
               @change="onInputFileChange"
               :accept="accept"
               :name="name"
               type="file"
               :id="id"
        >

        <template v-if="isSelectedFile">
            <span>{{ filename }}</span>
            <button type="button" class="btn text-danger btn-delete-new-documents" @click="onDeleteFile(id)" v-if="remove">
                <i class="fas fa-trash"></i>
            </button>
        </template>

        <template v-else>
            <a :href="document.url" target="_blank" class="btn-link">
                <template v-if="document.type === 'card_photo'">Card photo</template>
                <template v-else-if="document.type === 'card_selfie'">Card selfie</template>
                <template v-else-if="document.type === 'additional_documents'">Additional document</template>
                <template v-else-if="document.type === 'card_video'">Video</template>
            </a>
            <label class="btn text-primary btn-edit-documents" :for="id">
                <i class="fas fa-edit"></i>
            </label>
        </template>
    </div>

</template>

<script>

  import jQuery from 'jquery'

  export default {
    name: "update-card-document",
    props: {
      id: {
        type: Number,
        required: true
      },
      document_id: {
        type: Number,
        required: true
      },
      card_id: {
        type: Number,
        required: true
      },
      name: {
        type: String,
        required: true
      },
      accept: {
        type: String,
        default: 'image/*'
      },
      document: {
        type: Object,
        default() {
          return {}
        }
      },
      remove: {
        type: Boolean,
        default: true
      }
    },
    filters: {
      cutFileName(value) {
        if (value.slice(0, -4).length > 15) {
          return value.slice(-15);
        }

        return value;
      }
    },
    watch: {
      document() {
        if (this.document.id !== undefined) {
          if (this.document !== undefined) {
            this.previewUrl = this.document.url || ''
            this.filename = this.document.original_name || ''
          }

          this.isSelectedFile = true
        }
      }
    },
    data() {
      return {
        isSelectedFile: false,
        previewUrl: '',
        filename: ''
      }
    },
    methods: {
      onInputFileChange(e) {
        if (e.target.files[0]) {
          this.filename = e.target.files[0].name
          this.isSelectedFile = true
        }
      },
      onDeleteFile(fileId) {
        this.isSelectedFile = false
        this.previewUrl = ''
        this.filename = ''

        jQuery('#' + fileId).prop('value', null)
      }
    }
  }

</script>
