<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bitexfin</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="icon" type="image/ico" href="/assets/images/favicon/new-logo.png">
        <link rel="stylesheet" href="/assets/styles/main.min.css?v=<%= htmlWebpackPlugin.options.version %>">
        <script type="text/javascript" src="/assets/scripts/datafeeds/udf/dist/polyfills.js"></script>
        <script type="text/javascript" src="/assets/scripts/datafeeds/udf/dist/bundle.js"></script>

    </head>

    <body>
        <noscript>
            <strong>We're sorry but cst-exchange.com doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app"></div>
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script src="/assets/scripts/main.min.js?v=<%= htmlWebpackPlugin.options.version %>"></script>
        <script> (function(w,d,u){ var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0); var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h); })(window,document,'https://cdn.bitrix24.ru/b6171185/crm/site_button/loader_3_i2fvaq.js'); </script>
        <script type="text/javascript" >(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");ym(57067921, "init", {clickmap:true,trackLinks:true,accurateTrackBounce:true,webvisor:true});</script><noscript><div><img src="https://mc.yandex.ru/watch/57067921" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    </body>
</html>
