<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>payment</title>
    <style>
        .bitexfin_payment-wrapp__btn {
            position: relative;
        }
        .bitexfin_btn {
            display: inline-block;
            font-weight: 400;
            color: #212529;
            text-align: center;
            vertical-align: middle;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            border-radius: .25rem;
            cursor: pointer;
        }
        .bitexfin_btn.btn-payment {
            padding: 10px 20px;
            color: #fffefe;
            background-color: #ff5246;
            border: none;
            font-size: 22px;
        }
        #bitexfin_popup-payment {
            position: fixed;
            width: 700px;
            height: 500px;
            top: 50%;
            left: 50%;
            margin-top: -250px;
            margin-left: -300px;
            display:none
        }
        .bitexfin_frame-close {
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
            font-family: Arial;
            text-transform: capitalize;
            text-align: center;
        }
    </style>
</head>
<body>


<div id="app">
    <div class="bitexfin_payment-wrapp">
        <div class="bitexfin_payment-wrapp__btn">
            <button type="button" class="bitexfin_btn btn-payment">Оплатить</button>
        </div>
    </div>
</div>
<div id="bitexfin_popup-payment">
    <span class="bitexfin_frame-close"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 64 64"><defs/><path d="M32 8a24 24 0 1 0 24.001 24 24.027 24.027 0 0 0-24-24zm0 45a21 21 0 1 1 21.001-21 21.024 21.024 0 0 1-21 21zm6.42-32.5L32 26.92l-6.419-6.42-4.596 4.596 6.419 6.42-6.419 6.419 4.596 4.597L32 36.112l6.42 6.42 4.596-4.597-6.42-6.419 6.42-6.42L38.42 20.5z" class="a"/></svg>
</span>
    <iframe id="bitexfin_frame" src="" width="700" height="500" align="center" frameborder="0"></iframe>
</div>
<script type="text/javascript">
  function get_hash() {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const hash = urlParams.get('hash');

    return '{{ host }}external_payment/' + hash
  }

  document.getElementsByClassName('bitexfin_btn')[0].onclick = ()=>{
    document.getElementById('bitexfin_frame').setAttribute('src', get_hash());
    document.getElementById('bitexfin_popup-payment').style.display = 'block'
  }
  document.getElementsByClassName('bitexfin_frame-close')[0].onclick = ()=>{
    document.getElementById('bitexfin_frame').setAttribute('src', '');
    document.getElementById('bitexfin_popup-payment').style.display = 'none'
  }
</script>
</body>
</html>
