<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>payment</title>
</head>
<body>
<style>
    * {
        box-sizing: border-box;
    }
    body {
        margin: 0;
        width: 100%;
        height: 100%;
        font-family: sans-serif;
        font-size: 16px;
    }
    img {
        max-width: 100%;
    }
    .payment-wrapp__btn {
        position: relative;
    }
    .btn {
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        border-radius: .25rem;
        cursor: pointer;
    }
    .btn-payment {
        padding: 10px 20px;
        color: #fffefe;
        background-color: #ff5246;
        border: none;
        font-size: 22px;
    }
</style>
<script type="text/javascript">
  window.onload = function() {
    document.paymentForm.action = get_action();
  };
  function get_action() {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const hash = urlParams.get('hash');

    return window.location.origin.toString() + '/external_bill/' + hash
  }
</script>
<div id="app">
    <div class="payment-wrapp">
        <form name="paymentForm" method="get">
            <input type="hidden" name="btn" value="1">
            <div class="payment-wrapp__btn">
                <button type="submit" class="btn btn-payment">Оплатить</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
