<style type="text/css">
  .invoice-label {
    text-align: right;
    font-size: 27pt;
    letter-spacing: 2px;
    font-weight: 100;
    color: #6c6c6c;
  }

  .custodian-label {
    text-align: right;
    font-size: 20pt;
    font-weight: 800;
    color: #131313;
  }

  .custodian-title {
    font-size: 35px;
    color: #131313;
  }

  .bill-to-text {
    font-size: 7pt;
    font-weight: bold;
    line-height: 12pt;
  }

  .text-7pt {
    font-size: 7pt;
  }

  .text-9pt {
    font-size: 9pt;
  }

  .text-right {
    text-align: right;
  }

  .line-height-12pt{
    line-height: 12pt;
  }

  .footer, a{
    color: gray;
    text-decoration: none;
  }


  table, tr, td {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-spacing: 0;
    border-collapse: collapse;
  }

  hr {
    border: none;
    color: gray;
    background-color: gray;
    height: 1px;
  }

</style>
<page backtop="14mm" backbottom="14mm" backleft="10mm" backright="5mm" style="font-family: freeserif,serif">
  <table width="670">
    <tbody>
    <tr>
      <td align="left" style="margin-bottom: -20px;" colspan="12" width="10" class="custodian-title">
        Custodianfund OU
        <hr/>
      </td>
    </tr>
    <tr>
      <td align="left" class="custodian-label">
        ${CUSTODIAN_NAME}
      </td>
    </tr>
    <tr>
      <td align="left" colspan="6" class="invoice-label">
        INVOICE
      </td>
    </tr>
    <tr>
      <td class="text-7pt">
        ${CUSTODIAN_ADDRESS}<br/>
        ${CUSTODIAN_PHONE}<br/>
        Account currency: ${CURRENCY}<br/>
        ${CUSTODIAN_BANK_ACCOUNT}<br/><br/>
        IBAN: ${CUSTODIAN_BANK_IBAN}<br/>
        SWIFT BIC: ${CUSTODIAN_BANK_SWIFT}<br/>
        Bank: ${CUSTODIAN_BANK_NAME}<br/>
        Bank address: ${CUSTODIAN_BANK_ADDRESS}<br/>
      </td>
    </tr>
    <tr>
      <td align="left" class="text-7pt">
        DATE&nbsp;&nbsp;
      </td>
    </tr>
    <tr>
      <td align="left" class="text-7pt">
        <strong>${DATE}</strong>
      </td>
    </tr>
    <tr>
      <td align="left" class="text-7pt" colspan="5">
        ID REFERENCE&nbsp;&nbsp;
      </td>
    </tr>
    <tr>
      <td align="left" class="text-7pt">
        <strong> ${INVOICE_ID}</strong>
      </td>
    </tr>
    <tr>
      <td align="left" class="text-7pt" colspan="5">
        DUE DATE&nbsp;&nbsp;
      </td>
    </tr>
    <tr>
      <td align="left" class="text-7pt">
        <strong>${EXPIRE}</strong>
      </td>
    </tr>
    <tr style="height: 35px">
      <td colspan="7">&nbsp;</td>
    </tr>
    <tr style="height: 35px">
      <td colspan="7">&nbsp;</td>
    </tr>
    <tr style="height: 35px">
      <td colspan="7">&nbsp;</td>
    </tr>
    <tr style="height: 35px">
      <td colspan="7">&nbsp;</td>
    </tr>
    <tr style="height: 35px;">
      <td>
        <strong>BILL TO</strong>
      </td>
      <td colspan="6">&nbsp;</td>
    </tr>
    <tr style="height: 35px">
      <td colspan="1">
        <hr width="300" align="left"/>
      </td>
      <td  colspan="6"></td>
    </tr>
    <tr>
      <td colspan="7">&nbsp;</td>
    </tr>
    <tr>
      <td width="330" class="bill-to-text" rowspan="3">
        <!--COMPANY_START
        Company name: ${USER_COMPANY_NAME}<br>
        Company address: ${USER_COMPANY_ADDRESS}<br>
        Registration number: ${USER_COMPANY_REGISTRATION_CODE}<br>
        COMPANY_END-->
        ${USER_NAME} ${USER_SURNAME}<br/>
        Document No. ${PASPORT_SERIAL} ${PASPORT_NUMBER}<br/>
        ${USER_STREET}, ${USER_HOUSE_N}, ${USER_APP_N}<br/>
        ${USER_CITY}, ${USER_COUNTRY} ${USER_ZIP}<br/>
        e-mail: ${USER_EMAIL}<br/>
      </td>
      <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
      <td style="height: 75px" colspan="7">&nbsp;</td>
    </tr>
    <!--SWIFT
    <tr>
      <td>
        <strong>DESCRIPTION</strong>
      </td>
      <td colspan="6" class="text-right"></td>
    </tr>
    <tr>
      <td colspan="6" class="text-left">
        <strong>AMOUNT, ${CURRENCY}</strong>
      </td>
    </tr>
    <tr style="height: 35px">
      <td colspan="7" style="height: 0">
        <hr/>
      </td>
    </tr>
    <tr>
      <td class="text-7pt">
        ${DESCRIPTION_REFERENCE_TEXT} Top-up ID Reference ${INVOICE_ID}
      </td>
      <td colspan="6" class="text-7pt text-left">
        ${TOTAL_AMOUNT} ${CURRENCY}
      </td>
    </tr>
    <tr>
      <td style="height: 50px;" colspan="7">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="7">
        <hr/>
      </td>
    </tr>
    SWIFT-->
    <tr>
      <td width="150" class="text-7pt text-left" colspan="3">
        Subtotal
      </td>
    </tr>
    <tr>
      <td width="150" class="text-7pt text-left" colspan="3">
        ${AMOUNT} ${CURRENCY}
      </td>
    </tr>

    <tr>
      <td width="150" class="text-7pt text-left" colspan="3">
        Tax rate
      </td>
    </tr>
    <tr>
      <td width="150" class="text-7pt text-left" colspan="3">
        ${COMMISSION} ${CURRENCY}
      </td>
    </tr>

    <tr style="height: 35px;">
      <td valign="middle" width="150" class="text-7pt text-left line-height-12pt" colspan="3">
        <strong>TOTAL</strong>
      </td>
    </tr>
    <tr>
      <td valign="middle" class="text-7pt text-left line-height-12pt" colspan="3">
        <strong>${TOTAL_AMOUNT} ${CURRENCY}</strong>
      </td>
    </tr>
    <tr>
      <td style="height: 75px" colspan="7">&nbsp;</td>
    </tr>
    <tr style="height: 35px;">
      <td>
        <strong>OTHER COMMENTS</strong>
      </td>
      <td colspan="6">&nbsp;</td>
    </tr>

    <tr>
      <td colspan="6" width="300" class="text-7pt" style="color: red; font-weight: bold; white-space: pre-wrap">
        ${OTHER_COMMENTS_TEXT}
        To avoid delay with payment proceeding also use ID Reference at your payment details.
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="300" class="text-7pt " colspan="7">
        This invoice is prepared electronically and is valid without a signature
      </td>
    </tr>
    <tr>
      <td style="height: 50px;" colspan="7">&nbsp;</td>
    </tr>
    <tr>
      <td class="text-7pt footer">
        <strong>Thank You for doing business with us!</strong>
      </td>
      <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
      <td width="300" class="text-7pt footer">If you have any questions about this invoice, please contact <a
          href="mailto:${SUPPORT_EMAIL}">${SUPPORT_EMAIL}</a></td>
      <td colspan="6">&nbsp;</td>
    </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
</page>
