{% if pagination.getNeeded() and pagination.getPage() <= pagination.getLastPage() %}
    <nav class="mt-5" style="max-width: 276px; margin: 0 auto;">
        <ul class="pagination">
            {% if pagination.getPage() > 3 %}
                <li class="page-item">
                    {% if pagination.getRequestParams() %}
                        <a class="page-link" href="?{{ pagination.getRequestParams() }}&page=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                            <span class="sr-only">First</span>
                        </a>
                    {% else %}
                        <a class="page-link" href="?page=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                            <span class="sr-only">First</span>
                        </a>
                    {% endif %}
                </li>
            {% endif %}

            {% if pagination.getPage() >= 2 %}
                <li class="page-item">
                    {% if pagination.getRequestParams() %}
                        <a class="page-link" href="?{{ pagination.getRequestParams() }}&page={{ pagination.getPage() - 1 }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    {% else %}
                        <a class="page-link" href="?page={{ pagination.getPage() - 1 }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    {% endif %}
                </li>
            {% endif %}

            {% for i in pagination.getMin()..pagination.getMax() %}
                {% if pagination.getPage() == i %}
                    <li class="page-item{% if i == pagination.getPage() %} active{% endif %}">
                        <span class="page-link">{{ i }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        {% if pagination.getRequestParams() %}
                            <a class="page-link" href="?{{ pagination.getRequestParams() }}&page={{ i }}">{{ i }}</a>
                        {% else %}
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}

            {% if pagination.getPage() <= pagination.getLastPage() - 1 %}
                <li class="page-item">
                    {% if pagination.getRequestParams() %}
                        <a class="page-link" href="?{{ pagination.getRequestParams() }}&page={{ pagination.getPage() + 1 }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    {% else %}
                        <a class="page-link" href="?page={{ pagination.getPage() + 1 }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    {% endif %}
                </li>
            {% endif %}

            {% if (pagination.getLastPage() - pagination.getPage()) > 3 %}
                <li class="page-item">
                    {% if pagination.getRequestParams() %}
                        <a class="page-link" href="?{{ pagination.getRequestParams() }}&page={{ pagination.getLastPage() }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                            <span class="sr-only">Last</span>
                        </a>
                    {% else %}
                        <a class="page-link" href="?page={{ pagination.getLastPage() }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                            <span class="sr-only">Last</span>
                        </a>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
