<template>

  <div class="user-referrals">
    <button type="button"
            class="btn btn-secondary"
            :title="$t('words.structure')"
            :disabled="user.referrals.length === 0"
            @click="onRequestUserReferrals"
    >
      <i class="fas fa-users"></i>
    </button>

    <right-panel ref="rightPanel" :title="$t('words.structure')">
      <hr />

      <ul v-for="(referral, index) in user.referrals" :key="index">
        <tree-item :item="referral.user_to || {}" />
      </ul>
    </right-panel>
  </div>

</template>

<script>

  import RightPanel from '../../../common/right-panel'
  import TreeItem from './TreeItem'

  export default {
    name: "user-referrals",
    components: {
      RightPanel,
      TreeItem
    },
    props: {
      user: {
        type: Object,
        required: true
      }
    },
    mounted(){

    },
    created() {
      this.$nextTick(() => $(this.$el).removeClass('preview-btn'));
    },
    methods: {
      onRequestUserReferrals () {
        this.$refs.rightPanel.show()
      }
    }
  }

</script>
