<template>

  <li style="list-style: none;">
    <p @click="toggle">
      <span v-if="isFolder">[{{ isOpen ? '-' : '+' }}]</span>
      {{ item.full_name }}
    </p>
    <ul v-show="isOpen" v-if="isFolder">
      <tree-item v-for="(referral, index) in item.referrals" :key="index" :item="referral.user_to" class="item" />
    </ul>
  </li>

</template>

<script>

  export default {
    name: 'TreeItem',
    props: {
      item: Object
    },
    data () {
      return {
        isOpen: false
      }
    },
    computed: {
      isFolder () {
        return this.item.referrals && this.item.referrals.length
      }
    },
    methods: {
      toggle () {
        if (this.isFolder) {
          this.isOpen = !this.isOpen
        }
      }
    }
  }

</script>
