header {
  background: #ff5246;

  .navbar {
    padding: 0!important;

    a {
      color: white;
      &.deposit-terms {
        color: #000000;
        text-decoration: underline;
        &:hover {
          color: #d2d2d2;
        }
      }
    }

    .navbar-nav {
      li {
        border: 3px solid transparent;
        margin: 0 15px;
        @media screen and (max-width: 990px) {
          &{
            margin: 0;
          }
        }

        &.active {
          border-color: #fff;
          @media screen and (max-width: 990px) {
            &{
              padding: 0 10px;
            }
          }
        }

        &.no-hover {
          pointer-events: none;
        }

        .nav-link {
          color: #fff;
          padding-top: 2px;
          padding-bottom: 2px;
        }

        .user-status, .user-logout {
          position: relative;
          .fa-user, .fa-sign-in-alt {
            font-size: 20px;
          }
          .status {
            position: absolute;
            box-shadow: 0 10px 16px 1px rgba(17, 6, 51, 0.2);
            width: 15px;
            height: 15px;
            top: 10px;
            right: 0;
            &.coming {
              color: #ffb931;
            }
            &.success {
              color: #64d731;
            }
            &.bad {
              color: rgb(255, 82, 70);
            }
            @media screen and (max-width: 990px) {
              &{
                left: 10px;
              }
            }

            i {
              background: white;
              border-radius: 100%;
            }
          }
        }

        &:hover {
          background-color: transparent!important;
          box-shadow: none!important;
          border-color: #fff;

          @media screen and (max-width: 990px) {
            &{
              padding: 0 10px;
            }
          }
          span {
            color: #fff;
          }
        }
      }
    }
  }
}
