<template>

  <div class="mt-0">
    <input type="hidden" name="document_type[]" :value="documentType">
    <input type="hidden" name="system_type" :value="systemType">
    <file-pond
            :id="id"
            :name="name"
            ref="document"
            :allow-multiple="multiple"
            :max-files="limit"
            :label-idle='"<div class=\"load-img\"><div class=\"row align-items-center\"><div class=\"col-md-3 col-sm-3\"><i class=\"icon-select-img text-silver\"></i></div><div style=\"cursor: pointer\" class=\"col-md-9 col-sm-9 text-silver\"><span class=\"btn btn-secondary mb-2 filepond--label-action\">" + $i18n.translate("dashboard.upload.select")+ "</span><span class=\"d-inline-block text-with-button ml-2\" style=\"font-size: 14px;\">"+$i18n.translate("dashboard.upload.drag")+"</span> <span class=\"font-italic d-block text-without-button\" style=\"font-size: 14px;\">"+$i18n.translate("dashboard.upload.size",[size])+"</span></div></div></div>"'
            v-bind:files="files"
            :accepted-file-types="accept"
            v-on:removefile="onRemoveFile"
    />
  </div>

</template>

<script>
  import vueFilePond from 'vue-filepond'
  import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type'
  import FilePondPluginImagePreview from 'filepond-plugin-image-preview'
  import _ from 'underscore'
  import requests from "../../../../../requests";

  const FilePond = vueFilePond(FilePondPluginFileValidateType, FilePondPluginImagePreview);
  export default {
    props: {
      id: {
        type: String,
        required: true
      },
      documentType: {
        type: String
      },
      systemType: {
        type: String
      },
      name: {
        type: String,
        required: true
      },
      accept: {
        type: String,
        default: 'image/jpeg, image/png, application/pdf'
      },
      document: {
        type: Array,
      },
      allowMultiple : {
        type: Boolean,
        required: false
      },
      filesLimit: {
        type: Number,
        required: false
      },
      size: {
        type: Number,
        default: 15
      },
    },
    data() {
      return {
        files: [],
        multiple: false,
        limit: 1
      };
    },
    components: {
      FilePond
    },
    watch: {
      document: {
        deep: true,
        handler () {
          this.setFile()
        }
      }
    },
    beforeMount() {
      this.limit = this.filesLimit
      this.multiple = this.allowMultiple
    },
    created() {
      this.setFile()
    },
    methods: {
      setFile() {
        _.each(this.document, (documentItem) => {
          if (documentItem.id !== undefined) {
            this.files.push(documentItem.url || '')
          }
        })
      },
      getFile() {
        let filePondFilesCollection = this.$refs.document.getFiles();

        if (!filePondFilesCollection) {
          return null;
        }

        let filesArray = _.map(filePondFilesCollection, ((item) => {
          if (item.file instanceof File) {
            return item.file
          }
        }))

        if (filesArray) {
          return filesArray.reverse();
        }

        return null;
      },
      onRemoveFile (error, file) {
        requests.dashboard.profile.removeDocument({path: file.file.name})
      }
    },
  }

</script>
