.landing{
  .list-unstyled{
    text-align: center;
    margin-bottom: 50px;
  }
  .list-unstyled li{
    display: inline-block;

  }
  .list-unstyled li:last-child a{
    border-right: none;
    padding-right: 0;
  }
  .list-unstyled li a{
    text-decoration: underline;
    padding-right: 6px;
    border-right: 1px solid #494949;
  }
  .btn-footer-form-regist{
    box-shadow: 0 12px 32px 3px rgba(12, 1, 49, 0.3);
    background-image: linear-gradient(to right, rgba(13, 7, 23, 0.91) 0%, rgba(69, 23, 40, 0.91) 100%);
    font-weight: 700;
    color: #fff;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    padding: 13px 120px;
  }
  .btn-footer-form-login{
    margin-bottom: 20px;
  }
  btn-footer-form:hover{
    color: #fff;
  }
  .form-bg-white{
    background: #fff;
  }
  .form-custom {
    input.security-input {
      -webkit-text-security: disc;
    }
    .form-control-custom {
      border-bottom: 2px solid rgba(94, 84, 84, 0.25);
      &:hover{
        border-bottom: 2px solid rgb(0, 0, 0);
      }
      label {
        position: relative;
        margin-right: 20px;
        input {
          &[type=radio],&[type=radio] {
            visibility: hidden;
            position: absolute;
            left: 0;
          }
        }

        .radio__button {
          display: inline-block;
          &:after {
            font-family: "Font Awesome 5 Free",sans-serif;
            content: "\f111";
          }
        }

        & input:checked + .radio__button:after {
          font-family: "Font Awesome 5 Free",sans-serif;
          content: "\f192";
        }
      }

      input {
        text-align: center;
        width: 100%;
        outline: none;
        color: black;
        border: none;
        background: transparent;
        padding: 10px 0;

        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;

        &[type=radio] {
          width: unset;
        }


        &::placeholder {
          color: #000;
        }
      }

      .dropdown-select {
        position: relative;
        border-bottom: 2px solid rgba(255, 255, 255, 0.25);
        cursor: pointer;
        height: 100%;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;


        &:hover {
          border-bottom: 2px solid rgba(255, 255, 255, 1);
        }

        input {
          width: 90%;
          border-bottom: none;
          cursor: pointer;
        }

        ul {
          // background: rgb(239, 108, 69);
          position: absolute;
          overflow-y: scroll;
          z-index: 9999;
          height: 185px;
          list-style: none;
          width: 100%;
          padding: 0;
          box-shadow: 0 0 5px #00000094;
          text-align: left;
          -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
          -moz-animation: fadein 1s; /* Firefox < 16 */
          -ms-animation: fadein 1s; /* Internet Explorer */
          -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;

          li {
            padding: 5px 0;
            cursor: pointer;

            &:not(:last-child){
              border-bottom: 2px solid rgba(255, 255, 255, 0.25);
              &:hover{
                border-bottom: 2px solid rgb(0, 0, 0);
              }
            }
            &:hover{
              background: rgba(0, 0, 0, 0.25);
            }

            span {
              padding: 10px;
            }
          }
        }
      }
      &.search {
        position: relative;
        input {
          padding-left: 25px;
        }
        i {
          position: absolute;
          left: 0;
          color: #a7a7b7;
          padding: 10px 0;
          bottom: 0;
          line-height: 25px;
          font-size: 16px;
        }
      }
    }

    &.black {
      .form-control-custom {
        input {
          color: black;
          &:hover{
            border-bottom: 2px solid rgb(0, 0, 0);
          }

          &::placeholder{
            color: #a7a7b7;
          }
        }
        margin-bottom: 30px;
        .dropdown-select {
          border-color: #a7a7b7;
          &:hover {
            border-color: #000000;
          }
          ul {
            position: absolute;
            background: #f3f3f9;
            z-index: 9999;
          }
        }
        input {
          text-align: left;
          border-color: #a7a7b7;
        }
      }
    }
  }

  .form-control-custom.black {
    input {
      color: black;
      &:hover{
        border-bottom: 2px solid rgb(0, 0, 0);
      }

      &::placeholder{
        color: #a7a7b7;
      }
    }
    margin-bottom: 30px;
    .dropdown-select {
      border-color: #a7a7b7;
      &:hover {
        border-color: #000000;
      }
      ul {
        position: absolute;
        background: #f3f3f9;
        z-index: 9999;
      }
    }
    input {
      text-align: left;
      border-color: #a7a7b7;
    }
  }

  .form-control-custom {

    label {
      position: relative;
      margin-right: 20px;
      input {
        &[type=radio],&[type=checkbox] {
          visibility: hidden;
          position: absolute;
          left: 0;
        }
      }

      .radio__button {
        display: inline-block;
        &:after {
          font-family: "Font Awesome 5 Free",sans-serif;
          content: "\f111";
        }
      }
      .checkbox__button {
        display: inline-block;
        &:after {
          font-family: "Font Awesome 5 Free",sans-serif;
          content: "\f111";
        }
      }

      & input:checked + .radio__button:after {
        font-family: "Font Awesome 5 Free",sans-serif;
        content: "\f192";
      }

      & input:checked + .checkbox__button:after {
        font-family: "Font Awesome 5 Free",sans-serif;
        content: "\f192";
      }
    }

    input {
      text-align: center;
      width: 100%;
      outline: none;
      color: white;
      border: none;
      background: transparent;
      padding: 10px 0;
      border-bottom: 2px solid rgba(255, 255, 255, 0.25);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;

      &[type=radio] {
        width: unset;
      }
      // &:hover{
      //   border-bottom: 2px solid rgba(255, 255, 255, 1);
      // }

      &::placeholder {
        color: #ffffff;
      }
    }

    .dropdown-select {
      position: relative;
      border-bottom: 2px solid rgba(255, 255, 255, 0.25);
      cursor: pointer;
      height: 100%;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;


      &:hover {
        border-bottom: 2px solid rgba(255, 255, 255, 1);
      }

      input {
        width: 40%;
        border-bottom: none;
        cursor: pointer;
      }

      ul {
        background:#fff;
        position: absolute;
        overflow-y: scroll;
        z-index: 9999;
        height: 185px;
        list-style: none;
        width: 100%;
        padding: 0;
        box-shadow: 0 0 5px #00000094;
        text-align: left;
        -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
        -o-animation: fadein 1s; /* Opera < 12.1 */
        animation: fadein 1s;

        li {
          padding: 5px 0;
          text-align: center;
          cursor: pointer;

          &:not(:last-child){
            border-bottom: 2px solid rgba(255, 255, 255, 0.25);
            &:hover{
              border-bottom: 2px solid rgba(255, 255, 255, 1);
            }
          }
          &:hover{
            background: rgba(0, 0, 0, 0.25);
          }

          span {
            padding: 10px;
          }
        }
      }
    }
    &.search {
      position: relative;
      input {
        padding-left: 25px;
      }
      i {
        position: absolute;
        left: 0;
        color: #a7a7b7;
        padding: 10px 0;
        bottom: 0;
        line-height: 25px;
        font-size: 16px;
      }
    }
  }

  label {
    position: relative;
    margin-right: 20px;
    input {
      &[type=radio],&[type=checkbox] {
        visibility: hidden;
        position: absolute;
        left: 0;
      }
    }

    .radio__button {
      display: inline-block;
      &:after {
        font-family: "Font Awesome 5 Free",sans-serif;
        content: "\f111";
      }
    }
    .checkbox__button {
      display: inline-block;
      &:after {
        font-family: "Font Awesome 5 Free",sans-serif;
        content: "\f111";
      }
    }

    & input:checked + .radio__button:after {
      font-family: "Font Awesome 5 Free",sans-serif;
      content: "\f192";
    }

    & input:checked + .checkbox__button:after {
      font-family: "Font Awesome 5 Free",sans-serif;
      content: "\f192";
    }
  }

}
input:-internal-autofill-selected {
  background-color: transparent !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}
.select-height {
  max-height: 79px;
  min-height: 79px;
}
.select-height--line {
  margin-bottom: 10px;
}
.select-height--input {
  padding-top: 15px;
  padding-bottom: 15px;
}
.mt-custom {
  margin-top: 6px;
}
.custom-height {
  margin-top: 10px;
}
.hash-voucher-input {
  padding-top: 11px;
  padding-bottom: 11px;
}