<template>
    <div class="user-refill">
        <button type="button" class="btn btn-secondary" @click="$refs.rightPanel.show()" :title="$t('words.account_replenishment')">
            <i class="fas fa-coins"></i>
        </button>

        <right-panel ref="rightPanel" :title="$t('words.account_replenishment')">
            <error-view :errors="errors"></error-view>
            <success-view :success-message="successMessage"></success-view>
            <form class="right-menu__form user-refill-form" method="post" @submit.prevent="onSubmit">
                <span class="right-menu__header__text">Счёт</span>
                <div class="right-menu__form__row">
                    <select name="balance_type" required class="right-menu__form__input right-menu__form__input-select"
                            data-placeholder="Счёт" v-model="form.balance_type" ref="field_balance_type">
                        <option value="" disabled selected>Выберите тип счёта</option>
                        <option value="0">Дебетовый</option>
                        <option value="1">Кредитный</option>
                    </select>
                </div>
                <span class="right-menu__header__text">Валюта</span>
                <div class="right-menu__form__row">
                    <select name="currency" required class="right-menu__form__input right-menu__form__input-select"
                            data-placeholder="Валюта" v-model="form.currency" ref="field_status">
                        <option v-for="currency in currencyFiltered" :value="currency.name">{{ currency.view }}</option>
                    </select>
                </div>
                <span class="right-menu__header__text">Сумма</span>
                <div class="right-menu__form__row">
                    <input type="number"
                           class="right-menu__form__input"
                           v-model="form.amount"
                           placeholder="Сумма"
                           min="0"
                           step="any"
                           required
                           @input="commissionCalculate"
                    >
                </div>
                <span v-if="form.balance_type === '0'" class="right-menu__header__text">Комиссия (%)</span>
                <div v-if="form.balance_type === '0'" class="right-menu__form__row">
                    <input type="number"
                           class="right-menu__form__input"
                           v-model="form.commission"
                           min="0"
                           step="any"
                           placeholder="Комиссия"
                           required
                           @input="commissionCalculate"
                    >
                </div>
                <div v-if="form.balance_type === '0'">
                    <span><b>Комисия пополнения составляет: </b>{{ form.refill_commission }} {{ form.currency }}</span>
                </div>
                <div>
                    <span><b>Итого к пополнению: </b>{{ form.amount - form.refill_commission }} {{ form.currency }}</span>
                </div>
                <button type="submit" class="btn btn-primary right-menu__button">
                    Отправить
                </button>
            </form>
        </right-panel>
    </div>
</template>

<script>
import RightPanel from '../../../common/right-panel'
import spinner from '../../../common/spinner'
import requests from '../../requests'
import {handlerErrors} from '../../../main/utilities'
export default {
  name: "UserRefill",
  data () {
  	return {
      errors: [],
      successMessage: '',
      user: {},
      form: {
        balance_type: '',
      	currency: '',
        amount: '',
        commission: '',
        refill_commission: 0
      },
      currencyFiltered: [],
    }
  },
  props: {
    userString: {
      type: String,
      require: true,
    },
    currencies: {
      type: Array,
      required: true,
    }
  },
  watch: {
    'form.balance_type'() {
      this.currencyFiltered = this.currencies.filter(function (item) {
        return (this.form.balance_type === '1') ? item.type === 'TOKEN' : item
      }, this)
      if (this.currencyFiltered.indexOf(this.form.currency) === -1) {
        this.form.currency = ''
        this.form.commission = ''
      }
    },
    'form.currency'() {
      this.commissionCalculate()
    }
  },
  created() {
    this.user = JSON.parse(this.userString)
  	this.$nextTick(() => $(this.$el).removeClass('preview-btn'))
  },
  components: {
  	RightPanel
  },
  methods: {
  	commissionCalculate () {
      this.form.refill_commission = (+this.form.amount) * (+this.form.commission) / 100
    },
  	onSubmit () {
      spinner.toggle(true)
      let userId = this.user.id

      requests.user.refill(userId, this.form)
        .then(({ data }) => {
          this.successMessage = data.message
          spinner.toggle(false)
          setTimeout(() => {
            this.$refs.rightPanel.hide()
          }, 2000)
        })
        .catch(({ response }) => {
          if(typeof response.data.errors !=='undefined') this.errors = handlerErrors(this.$refs, response.data.errors);
          else this.errors = [response.data.message];
          spinner.toggle(false)
        })
    }
  }
}
</script>
