<template>
  <div>
    <div class="modal-body">
      <div class="form-custom black accepted-items">
        <div class="form-control-custom accepted-item">
          <div class="dropdown-select border-0"
               @click="openSelect"
               @mouseenter="isFocusCurrencySelect = true"
               @mouseleave="isFocusCurrencySelect = false">
            <div
                class="text-black border-0 w-100 d-flex flex m-0 align-items-center justify-content-between exchange-block">
              <i class="icon-circle-accept mr-3"></i>
              <div class="d-flex flex-column w-100">
                <div>
                  <span class="font-weight-bold mr-1 d-block">{{ $t("dashboard.payments.text60") }}</span>
                </div>
                <div class="d-flex border-bottom-silver align-items-center justify-content-between exchange-block">
                  <input type="hidden" disabled v-model="accountCurrencyForPayment">
                  <div class="w-100 border-0 text-silver pt-1 pb-0">{{ accountCurrencyForPayment |
                    getCurrencyAlias}}</div>
                  <i class="fas fa-caret-down" v-if="!isOpenCurrencySelect"></i>
                  <i class="fas fa-caret-up" v-else></i>
                </div>
              </div>
            </div>
            <ul v-show="isOpenCurrencySelect" class="text-black font-weight-bold">
              <li v-for="account in getAllowedAccounts"
                  @click="setAccountCurrencyForPayment(account.currency)"
                  class="pl-2 pr-2">{{account.currency | getCurrencyAlias}}</li>
            </ul>
          </div>
        </div>
        <div class="form-control-custom accepted-item">
          <div class="text-black border-0 w-100 d-flex flex m-0 align-items-center justify-content-between position-relative exchange-block">
            <i class="icon-circle-accept mr-3"></i>
            <div class="d-flex flex-column w-100">
              <div>
                <span class="font-weight-bold mr-1 d-block">{{ $t("dashboard.payments.text61") }}</span>
              </div>
              <div class="d-flex border-bottom-silver align-items-center justify-content-between exchange-block">
                <input class="w-100 border-0 text-silver pt-1 pb-0"
                       type="number"
                       v-model="amount"
                       ref="field_amount"
                       autofocus>
                <span class="border-0 text-silver pt-0">{{accountCurrencyForPayment | getCurrencyAlias}}</span>
              </div>
              <div class="text-danger error-msg" ref="error_amount"></div>
            </div>
          </div>
        </div>
        <div class="form-control-custom">
          <span class="font-weight-bold mr-1 mb-3 d-block">{{ $t("dashboard.payments.text62") }}</span>
        </div>
        <card-block v-if="availableWithdrawalTypes.includes('online_translation') && isUserVerified"
                    :currency="accountCurrencyForPayment"
                    type="withdrawal"/>
        <withdrawal-bank-block v-if="showBankBlock"
            :currency="accountCurrencyForPayment"
            :available-requisites="availableRequisites"/>

        <withdrawal-crypto-block v-if="availableWithdrawalTypes.includes('crypto_bill')"
            :currency="accountCurrencyForPayment"
            ref="cryptoBlock"
            @change-crypto-requisite="saveCryptoRequisite"/>

        <withdrawal-token-block v-if="availableWithdrawalTypes.includes('token_bill')" @change-crypto-requisite="saveCryptoRequisite"
                                :currency="accountCurrencyForPayment"/>
      </div>
      <div v-if="paymentTypeForPayment && amount">
        <div class="w-100">
          <span>{{ $t("dashboard.payments.text40") }}:</span>
          <div class="float-right">
            {{amountForPayment|formatMoney(accountCurrencyForPayment)}}
            {{accountCurrencyForPayment | getCurrencyAlias}}
          </div>
        </div>
        <div class="w-100">
          <span>{{ $t("dashboard.payments.text3") }}:</span>
          <div class="float-right">
            {{amountForPaymentMinusCommission|formatMoney(accountCurrencyForPayment)}}
            {{accountCurrencyForPayment | getCurrencyAlias}}
          </div>
        </div>
        <div class="w-100">
          <span>{{ $t("dashboard.payments.text42") }}:</span>
          <div class="float-right">
            {{commissionForPayment|formatMoney(accountCurrencyForPayment)}}
            {{accountCurrencyForPayment | getCurrencyAlias}}
          </div>
        </div>
        <div class="w-100">
          <span>{{ $t("dashboard.payments.text43") }}:</span>
          <div class="float-right">{{commissionMultiplierForPayment}}%</div>
        </div>
        <div class="w-100">
          <span>{{ $t("dashboard.payments.text44") }}:</span>
          <div class="float-right">
            {{commissionFixForPayment | formatMoney(accountCurrencyForPayment)}} {{accountCurrencyForPayment |
            getCurrencyAlias}}
          </div>
        </div>
        <div v-if="user.two_factor_auth_type === 'ga'">
          <google2-fa v-on:ga_code="ga_code = $event" ref="google2fa" env="withdrawal"></google2-fa>
          <div class="text-danger error-msg" ref="error_ga_code" style="margin-bottom: 10px"></div>
        </div>
        <div v-if="isCodeRequested" class="w-100 form-control-custom border-dark border mt-2">
          <input class="w-100" :placeholder="$t('dashboard.profile.sms')" v-model="sms_code" type="text">
        </div>
        <span class="error-msg error-msg--black font-weight-bold" ref="error_sms_code"></span>
      </div>
    </div>
    <div class="modal-footer">
      <div class="d-flex w-100 justify-content-between align-items-center">
        <button class="btn btn-primary btn-accepted" :disabled="!validAmount && !this.selectedCheckboxModal"
          @click="onWithdrawal">{{ isCodeRequested ? $t('dashboard.profile.withdrawal') : $t('dashboard.profile.text8')}}</button>
        <span class="text-black font-weight-bold mb-0"
              style="cursor: pointer"
              @click="close">{{ $t("dashboard.profile.cancel") }} —</span>
      </div>
    </div>
    <ModalWrapper ref="modalWrapper">
      <submit-cvv-modal @cvv-submitted="makeWithdrawalPay"/>
    </ModalWrapper>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'

  import CardBlock from '../CardBlock'
  import WithdrawalBankBlock from './WithdrawalBankBlock'
  import WithdrawalCryptoBlock from './WithdrawalCryptoBlock'
  import WithdrawalTokenBlock from './WithdrawalTokenBlock'
  import SubmitCvvModal from '../../blocks/acquiring/SubmitCvvModal'
  import alert from '../../../../../common/sweet-alert'
  import requests from '../../../../requests'
  import {checkUserAllowedCurrencies, formatMoney, getCurrencyAlias, handlerErrors, handleErrorForAlert, filterBankRequisites} from '../../../../utilities'
  import spinner from '../../../../../common/spinner'
  import Google2Fa from '../../../../../common/google2fa';

  export default {
    name: "WithdrawalModalContainer",
    components: {
      CardBlock,
      WithdrawalBankBlock,
      WithdrawalCryptoBlock,
      WithdrawalTokenBlock,
      SubmitCvvModal,
      Google2Fa
    },
    data() {
      return {
        show: true,
        isFocusCurrencySelect: false,
        isOpenCurrencySelect: false,
        availableRequisites: [],
        amount: null,
        credit_amount: null,
        validAmount: false,
        isCodeRequested: false,
        isGaCodeRequested: false,
        isErrorChecked: false,
        sms_code: null,
        ga_code: null,
        showBankBlock: false,
        minTransAmount: null,
        maxTransAmount: null,
        wallet_address: null,
        wallet_network: null,
        subwallet_address: null
      }
    },
    computed: {
      ...mapGetters({
        user: 'getUser',
        userAccounts: 'getUserAccounts',
        isUserVerified: 'isUserVerified',
        currenciesByType: 'getCurrenciesByType',
        paymentTypeForPayment: 'getPaymentTypeForPayment',
        amountForPayment: 'getAmountForPayment',
        commissionForPayment: 'getCommissionForPayment',
        accountCurrencyForPayment: 'getAccountCurrencyForPayment',
        bankRequisiteForPayment: 'getBankRequisiteForPayment',
        cardForPayment: 'getCardForPayment',
        cryptoWalletForPayment: 'getCryptoWalletForPayment',
        commissionMultiplierForPayment: 'getCommissionMultiplierForPayment',
        commissionFixForPayment: 'getCommissionFixForPayment',
        userLimits: 'getUserLimits',
        cryptoCurrencies: 'getCryptoCurrencies',
        selectedCheckboxModal: 'getSelectedCheckboxModal',
        amountForPaymentMinusCommission: 'getAmountForPaymentMinusCommission',
        currencies: 'getCurrencies',
        tokenCurrencies: 'getTokenCurrencies',
        systemBankRequisites: 'getSystemBankRequisites',
        bankRequisites: 'getBankRequisites'
      }),
      getAllowedAccounts() {
        return this.userAccounts.filter(this.getAllowedAccountsCallback)
      },
      availableWithdrawalTypes() {
        let result = []
        Object.keys(this.currenciesByType).map(key => {
          if (this.currenciesByType[key].indexOf(this.accountCurrencyForPayment) >= 0) {
            result.push(key)
          }
        })
        return result
      },
    },
    created() {
      this.$store.dispatch('setPaymentTypeForPayment', null)
      this.$store.dispatch('setSelectedCheckboxModal', false)
      this.$scrollBody('hidden')
    },
    destroyed() {
      this.$scrollBody('auto')
    },
    methods: {
      formatMoney,
      filterBankRequisites,
      updateBankRequisitesList() {
        let requisites = this.filterBankRequisites(this.accountCurrencyForPayment, this.bankRequisites, this.systemBankRequisites)
        if (requisites.length) {
          this.availableRequisites = requisites
          this.showBankBlock = this.availableWithdrawalTypes.includes('rated_bill') &&
            this.isUserVerified &&
            this.accountCurrencyForPayment !== 'USD'
        } else {
          this.availableRequisites = []
          this.showBankBlock = false
        }
      },
      checkPaymentLimit() {
        if (this.paymentTypeForPayment === 'rated_bill') {
          let userBankCurrencyLimits = this.userLimits[this.paymentTypeForPayment][this.accountCurrencyForPayment]
          let bankPaymentType = this.bankRequisiteForPayment.bank_type

          return userBankCurrencyLimits.map((userBankCurrencyLimit) => {
            if (userBankCurrencyLimit.bank_type === bankPaymentType) {
              this.minTransAmount = userBankCurrencyLimit.withdrawal_min_value_trans
              this.maxTransAmount = userBankCurrencyLimit.withdrawal_max_value_trans
            }
          })
        } else if (this.paymentTypeForPayment &&
          this.userLimits[this.paymentTypeForPayment] &&
          this.userLimits[this.paymentTypeForPayment][this.accountCurrencyForPayment]) {

          this.minTransAmount = this.userLimits[this.paymentTypeForPayment][this.accountCurrencyForPayment][0].withdrawal_min_value_trans
          this.maxTransAmount = this.userLimits[this.paymentTypeForPayment][this.accountCurrencyForPayment][0].withdrawal_max_value_trans

        } else if (this.paymentTypeForPayment === 'token_bill' && this.userLimits['crypto_bill'][this.accountCurrencyForPayment]) {

          this.minTransAmount = this.userLimits['crypto_bill'][this.accountCurrencyForPayment][0].withdrawal_min_value_trans
          this.maxTransAmount = this.userLimits['crypto_bill'][this.accountCurrencyForPayment][0].withdrawal_max_value_trans
        }
      },
      getAllowedAccountsCallback(userAccount) {
        let res = checkUserAllowedCurrencies({currency: userAccount.currency})
        let allowed = this.currencies.find((item)=>{
          return item.name === userAccount.currency && item.allow_withdrawal === true
        })
        if (res && this.accountCurrencyForPayment === userAccount.currency && allowed) {
          this.setAccountCurrencyForPayment(userAccount.currency)
        }
        return allowed && res
      },
      setAccountCurrencyForPayment(currency) {
        this.checkPaymentLimit()
        this.isCodeRequested = false
        this.sms_code = null
        this.$store.dispatch('setAccountCurrencyForPayment', currency)
        if (this.cryptoCurrencies.includes(currency)) {
          this.$store.dispatch('setPaymentTypeForPayment', 'crypto_bill')
          this.$store.dispatch('updateCommissionForPayment', ['withdrawal', 'crypto_bill'])
          this.$store.dispatch('setSelectedCheckboxModal', true)
        } else if (this.tokenCurrencies.includes(currency)) {
          this.$store.dispatch('setPaymentTypeForPayment', 'token_bill')
          this.$store.dispatch('updateCommissionForPayment', ['withdrawal', 'token_bill'])
          this.$store.dispatch('setSelectedCheckboxModal', true)
        }
        this.$nextTick(() => {
          this.$refs.field_amount.focus()
        })
      },
      onWithdrawal() {
        this.makeWithdrawalPay()
      },
      makeWithdrawalPay(cvv = null) {
        this.$refs.modalWrapper.close()
        this.checkPaymentLimit()
        let body = {
          payment_type: this.paymentTypeForPayment,
          payment_data: {
            amount: this.amountForPayment,
            currency: this.accountCurrencyForPayment
          },
          sms_code: this.sms_code,
          ga_code: this.ga_code
        }
        if (cvv !== null) {
          body.cvv = cvv
        }

        if (this.paymentTypeForPayment === null) {
          this.showErrors([{text: this.$t('words.select_method')}])
          return false
        }

        if ((this.amount === null) || (this.amount <= 0)) {
          this.showErrors([
              {
                text: this.$t('words.correct_amount',
                  [
                    this.formatMoney(this.minTransAmount, this.accountCurrencyForPayment),
                    this.formatMoney(this.maxTransAmount, this.accountCurrencyForPayment),
                    this.accountCurrencyForPayment
                  ]
                )
              }
            ])
          return false
        }

        if ((+this.amount < +this.minTransAmount) || (+this.amount > +this.maxTransAmount)) {
          this.showErrors([
              {
                text: this.$t('words.correct_amount',
                  [
                    this.formatMoney(this.minTransAmount, this.accountCurrencyForPayment),
                    this.formatMoney(this.maxTransAmount, this.accountCurrencyForPayment),
                    this.accountCurrencyForPayment
                  ]
                )
              }
            ])
          return false
        }

        if (this.paymentTypeForPayment === 'rated_bill') {
          body.payment_data.bank = this.bankRequisiteForPayment.id;
          body.payment_data.bank_type = this.bankRequisiteForPayment.bank_type
        }
        if (this.paymentTypeForPayment === 'online_translation') {
          body.payment_data.card = this.cardForPayment.id;
        } else if (this.paymentTypeForPayment === 'crypto_bill' || this.paymentTypeForPayment === 'token_bill') {
          body.payment_data.wallet_address = this.wallet_address;
          body.payment_data.wallet_network = this.wallet_network;
          if(this.subwallet_address){
            body.payment_data.subwallet_address = this.subwallet_address;
          }
          let pattern = /^[a-zA-Z0-9]*$/;
          if (!body.payment_data.wallet_address || !pattern.test(body.payment_data.wallet_address)) {
            this.showErrors([{text: this.$t('words.correct_crypto_wallet')}]);
            return false;
          }
        }
        this.sendRequest(body)
      },
      sendRequest(body) {
        let requestFunction = (this.paymentTypeForPayment === 'token_bill') ?
          requests.dashboard.postWithdrawalVoucherPay : requests.dashboard.postWithdrawalPay
        spinner.toggle(true)
        requestFunction(body, !this.isCodeRequested).then(
          ({data}) => {
            if (data['cvv_required']) {
              this.showSubmitCVV()
            } else {
              if (this.isCodeRequested) {
                this.showSuccess()
                this.$store.dispatch('updateUserAccount', this.accountCurrencyForPayment)
                this.close()
                this.isCodeRequested = false
                this.sms_code = null
              }
              if (data.isSendCode) {
                this.isCodeRequested = true
              }
            }
          }
        ).catch(({response}) => {
          this.sms_code = null
          if (response && response.data) {
            if (response.data.errors.length) {
              if (response.data.errors[0].code == '1203') {
                this.isCodeRequested = true
              }
              this.showErrors(handlerErrors(this.$refs, response.data.errors))
            } else {
              this.showErrors(handleErrorForAlert([response.data.message]))
            }
          }
        }).finally(() => {
          spinner.toggle(false)
        })
      },
      showSubmitCVV() {
        this.$refs.modalWrapper.open()
      },
      showSuccess() {
        let text = this.$t('words.withdrawal_request')
        alert.success({text: text, position: 'center'})
      },
      showErrors(errors) {
        let text
        if (typeof errors === 'string') {
          text = errors
        } else {
          errors.map(error => {
            if (typeof error.field === 'undefined') {
              text = error
            }
          })
        }
        if (text) alert.error(text)
      },
      hideErrors() {
        alert.close()
      },
      openSelect() {
        this.isOpenCurrencySelect = !this.isOpenCurrencySelect
      },
      toggle(isShow) {
        jQuery('body').toggleClass('overflow-hidden', isShow)
        this.show = isShow
      },
      close() {
        this.toggle(false)
        this.resetAmounts()
        this.$emit('close-modal')
      },
      open() {
        this.setAccountCurrencyForPayment(this.accountCurrencyForPayment)
        this.isCodeRequested = false
        this.toggle(true)
      },
      onClose() {
        this.resetAmounts()
        this.close()
      },
      resetAmounts() {
        this.amount = null
        this.$store.dispatch('setAmountForPayment', 0)
        this.$store.dispatch('setSelectedCheckboxModal', false)
      },
      normalizeAmount(val) {
        //Если это целое число, то ограничим 15
        if (val.indexOf('.')!==-1) {
          let v = val.split('.')
          if (v[0].length > 15) {
            val = v[0].substr(0, 15)+'.'+v[1]
            this.amount = val
          }
        } else if (val.length > 15 && (!isNaN(val) && Math.ceil(val) == val)) {
          val = val.substr(0, 15)
          this.amount = val
        }
        return val
      },
      saveCryptoRequisite(data){
        if(data.cryptoAddress){
            this.wallet_address = data.cryptoAddress;
        }
        if(data.cryptoTag){
            this.subwallet_address = data.cryptoTag;
        }
        if(data.network){
          this.wallet_network = data.network;
        }
          console.log('saveCryptoRequisite data=');
        //.replace(' ', '')
        console.log(data);
      }
  },
    watch: {
      paymentTypeForPayment(oldVal, newVal) {
        this.checkPaymentLimit()
      },
      amount(val) {
        if (val.includes('-')) {
          this.amount = val.substr(1)
        }
        val = this.normalizeAmount(val)
        this.setAccountCurrencyForPayment(this.accountCurrencyForPayment)
        this.$store.dispatch('setAmountForPayment', val * 1)
        if (this.paymentTypeForPayment) {
          this.$store.dispatch('updateCommissionForPayment', ['withdrawal', this.paymentTypeForPayment])
        }
        this.validAmount = this.amountForPayment > 0
        this.hideErrors()
      },
      bankRequisites() {
        this.updateBankRequisitesList()
      },
      accountCurrencyForPayment() {
        this.updateBankRequisitesList()
        this.hideErrors()
      },
    },
    filters: {
      formatMoney,
      getCurrencyAlias
    },
    mounted() {
      this.$refs.field_amount.focus()
      this.updateBankRequisitesList()
      this.hideErrors()
    }
  }
</script>
