<template>
  <div class="form-control-custom">
    <small class="text-silver d-block">{{ $t("dashboard.payments.text20") }}</small>
    <small class="text-silver d-block"
           v-for="userBankLimit in userLimits['rated_bill'][accountCurrencyForPayment]">
      {{userBankLimit.bank_type}}
      {{ $t("dashboard.payments.text21") }}
      {{userBankLimit.withdrawal_min_value_trans|formatMoney(accountCurrencyForPayment)}}
      {{ $t("dashboard.payments.text22") }}
      {{userBankLimit.withdrawal_max_value_trans|formatMoney(accountCurrencyForPayment)}}
      {{accountCurrencyForPayment | getCurrencyAlias}}
    </small>
    <label class="w-100" style="margin-top: .5rem" @click="showAddNewBankRequisiteModal()">
      {{ $t("dashboard.payments.text23") }}
      <div class="float-right">
        <i class="icon-museum"></i>
      </div>
    </label>
    <label v-for="bankRequisite in availableRequisites" class="w-100" style="margin-top: .5rem" @click="setSelectedBank(bankRequisite)">
      <template v-if="bankRequisite.status === 'VERIFIED'">
        <input type="radio" :value="bankRequisite.id" v-model="selectedCheckboxModal">
        <div class="checkbox__button"></div>
        {{bankRequisite.name}}
        <div class="float-right">
          <i class="icon-museum"></i>
        </div>
        <small class="text-silver d-block">{{bankRequisite.recipient_name}}</small>
      </template>
    </label>
    <payment-method-modal ref="newbankrequisitemodal" :size="modal.size" v-if="modal.component !== ''">
      <component :is="modal.component" :element="modal.element" v-on:close-modal="closeModal"></component>
    </payment-method-modal>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import PaymentMethodModal from '../../profile/payment-methods/PaymentMethodModal'
  import AddBankAccount from "../../profile/payment-methods/modals/AddBankAccount";
  import {formatMoney, getCurrencyAlias} from "@/main/utilities";

  export default {
    name: "WithdrawalBankBlock",
    props: {
      currency: {
        type: String
      },
      availableRequisites: {
        type: Array,
        required: true
      }
    },
    components: {
      PaymentMethodModal,
      AddBankAccount
    },
    data() {
      return {
        modal: {
          component: '',
          size: 'large',
          element: null
        },
      }
    },
    computed: {
      ...mapGetters({
        bankRequisites: 'getBankRequisites',
        userLimits: 'getUserLimits',
        accountCurrencyForPayment:'getAccountCurrencyForPayment',
        selectedCheckboxModal: 'getSelectedCheckboxModal'
      })
    },
    watch: {},
    methods: {
      setSelectedBank(bankRequisite) {
        this.$store.dispatch('setBankRequisiteForPayment', bankRequisite)
        this.$store.dispatch('setPaymentTypeForPayment', 'rated_bill')
        this.$store.dispatch('setSelectedCheckboxModal', bankRequisite.id)
        this.$store.dispatch('updateCommissionForPayment', ['withdrawal', 'rated_bill'])
      },
      showAddNewBankRequisiteModal() {
        this.modal.component = 'add-bank-account'
        this.$refs.newbankrequisitemodal.open()
      },
      closeModal() {
        this.$refs.newbankrequisitemodal.close()
      }
    },
    filters:{
      formatMoney,
      getCurrencyAlias
    }
  }
</script>
