<template>
  <section>
    <div v-if="cryptoCurrencies.includes(currency)" class="form-control-custom">
      <span class="font-weight-bold mr-1 mb-3 d-block">{{currency | getCurrencyAlias}} {{ $t("dashboard.payments.text55") }}</span>
      <small class="text-silver d-block" v-if="userLimits['crypto_bill'][accountCurrencyForPayment]">{{ $t("dashboard.payments.text21") }}
        {{userLimits['crypto_bill'][accountCurrencyForPayment][0].withdrawal_min_value_trans|formatMoney(accountCurrencyForPayment)}}
        {{ $t("dashboard.payments.text22") }}
        {{userLimits['crypto_bill'][accountCurrencyForPayment][0].withdrawal_max_value_trans|formatMoney(accountCurrencyForPayment)}}
        {{accountCurrencyForPayment | getCurrencyAlias}}</small>
      <small class="text-silver d-block" v-else>{{ $t("dashboard.payments.text53") }} {{accountCurrencyForPayment | getCurrencyAlias}} {{ $t("dashboard.payments.text55") }}</small>
      <label class="w-100" style="margin-top: .5rem"></label>

      <div class="form-control-custom accepted-item">
        <div class="dropdown-select border-0">
          <div class="text-black border-0 w-100 d-flex flex m-0 align-items-center justify-content-between exchange-block">
            <i class="icon-circle-accept mr-3"></i>
            <div class="d-flex flex-column w-100">
              <div>
                <span class="font-weight-bold mr-1 d-block">{{ $t("dashboard.payments.text56") }}</span>
              </div>
              <div class="d-flex border-bottom-silver align-items-center justify-content-between exchange-block">
                <input class="w-100 border-0 text-silver pt-1 pb-0"
                       type="text"
                       id="input_crypto_wallet_address"
                       :placeholder="`${$t('dashboard.payments.text57')} ${currency} ${$t('dashboard.payments.text58')}`"
                       v-model="cryptoAddress"
                />
              </div>
            </div>
          </div>
        </div>

      </div>
      <template v-if="currency==='USDT'">
        <label>
          <input type="radio" name="network" v-model="network" value="erc20">
          <div class="checkbox__button"></div> ERC20</label>
        <label>
          <input type="radio" name="network" v-model="network" value="omni">
          <div class="checkbox__button"></div> OMNI</label>
      </template>
      <div v-if="currency == 'XRP'" class="form-control-custom accepted-item">
        <div class="dropdown-select border-0">
          <div class="text-black border-0 w-100 d-flex flex m-0 align-items-center justify-content-between exchange-block">
            <i class="icon-circle-accept mr-3"></i>
            <div class="d-flex flex-column w-100">
              <div>
                <span class="font-weight-bold mr-1 d-block">{{ $t("dashboard.payments.tag") }}</span>
              </div>
              <div class="d-flex border-bottom-silver align-items-center justify-content-between exchange-block">
                <input class="w-100 border-0 text-silver pt-1 pb-0"
                       type="text"
                       id="input_crypto_tag"
                       :placeholder="`${$t('dashboard.payments.text57')} ${currency} ${$t('dashboard.payments.tag_receiver')}`"
                       v-model="cryptoTag"
                />

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex mt-4">
        <span>{{ $t("dashboard.payments.text59") }}</span>
      </div>
    </div>
  </section>
</template>

<script>
  import {mapGetters} from "vuex";
  import PaymentMethodModal from '../../profile/payment-methods/PaymentMethodModal'
  import {formatMoney, getCurrencySymbol, getCurrencyAlias, getImgLogoPath, getNameWallet} from "../../../../utilities";

  export default {
    name: "WithdrawalCryptoBlock",
    components:{
      PaymentMethodModal
    },
    props: {
      currency: {
        type: String,
        required: true
      }
    },
    data() {
      return {
        localCryptoRequisites: null,
        timeRemaining: null,
        network: 'erc20',
        errors: [],
        isOpenWithdrawalSelect: false,
        cryptoAddress: '',
        cryptoTag: ''
      }
    },
    computed: {
      ...mapGetters({
        availableCryptoCurrencies: 'getAvailableWithdrawalCryptoCurrenciesForAddition',
        amountForPayment: 'getAmountForPayment',
        accountCurrencyForPayment: 'getAccountCurrencyForPayment',
        paymentTypeForPayment: 'getPaymentTypeForPayment',
        commissionForPayment: 'getCommissionForPayment',
        commissionMultiplierForPayment: 'getCommissionMultiplierForPayment',
        commissionFixForPayment: 'getCommissionFixForPayment',
        cryptoRequisites: 'getCryptoRequisites',
        cryptoCurrencies: 'getCryptoCurrencies',
        cryptoWalletForPayment: 'getCryptoWalletForPayment',
        userLimits: 'getUserLimits',
        user: 'getUser',
      }),
    },
    methods: {
    },
    filters: {
      getCurrencySymbol,
      formatMoney,
      getCurrencyAlias,
      getImgLogoPath,
      getNameWallet
    },
    watch: {
      amountForPayment() {
        this.errors = []
      },
      accountCurrencyForPayment(currency) {
        if (this.cryptoRequisite === null) {
          return null
        }
      },
      cryptoAddress(value){
        this.$emit('change-crypto-requisite', {cryptoAddress: value, network: this.network});
      },
      network(value){
        this.$emit('change-crypto-requisite', {cryptoAddress: this.cryptoAddress, network: value});
      },
      cryptoTag(value){
        this.$emit('change-crypto-requisite', {cryptoTag: value});
      }
    }
  }
</script>
