<template>
  <div class="user-account d-flex flex-column">
    <div class="body flex-column d-flex ">
      <div class="d-flex justify-content-between">
        <span>{{ $t("dashboard.balance.accounts") }}</span>
      </div>
      <div class="d-flex flex-column mb-4 mt-lg-0 mt-2 user-account-transactions">
        <div v-for="currency in currenciesWithSortByTypeAndAlphabet">
          <div class="d-flex justify-content-between align-items-center user-account-item-transaction mb-4"
               v-for="user_account in user_accounts" v-if="currency === user_account.currency">
            <div class="left d-flex flex-column">
              <router-link @click.native="onChangeActiveAccount(user_account)" to="/transactions" tag="span" role="button">
                <span>{{ user_account.currency | getCurrencyAlias }}</span>
              </router-link>
            </div>
            <div class="right d-flex justify-content-between align-items-center">
              <div class="text-right mr-2">
                <span class="d-block">{{ summAmountAndCreditAmount(user_account) | formatMoney(user_account.currency) }}</span>
              </div>
              <div v-if="!(user_account.currency in currencyNotAdd)" class="ml-2"
                   @click="onChangeActiveAccount(user_account, true)" style="cursor:pointer">
                <i class="icon-circle-plus" style="font-size: 30px;"/>
              </div>
              <div v-else class="ml-2">
                <i class="icon-circle-plus" style="font-size: 30px;"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column mb-4 user-account-transactions">
        <button class="btn btn-secondary green" @click="openDepositModal">{{ $t("dashboard.balance.deposit") }}</button>
      </div>
      <div class="d-flex flex-column mb-4 user-account-transactions">
        <button class="btn btn-secondary red" @click="openWithdrawalModal">{{ $t("dashboard.balance.withdrawal") }}</button>
      </div>
      <div class="d-flex flex-column mb-4 user-account-transactions">
        <button class="btn btn-secondary red" @click="openBitexcardModal">Bitexcard</button>
      </div>
    </div>
  </div>
</template>

<script>
  import {formatMoney, getCurrencyAlias, getCurrencySymbol} from '../../../utilities'
  import {mapGetters} from 'vuex'

  export default {
    name: "balance",
    data() {
      return {
        currencyNotAdd: {}
      }
    },
    computed: mapGetters({
      user: 'getUser',
      user_accounts: 'getUserAccounts',
      currenciesWithSortByTypeAndAlphabet: 'getCurrenciesWithSortByTypeAndAlphabet',
    }),
    filters: {
      getCurrencySymbol,
      getCurrencyAlias,
      formatMoney
    },
    methods: {
      openDepositModal() {
        this.$parent.openDepositModal();
      },
      openWithdrawalModal() {
        this.$parent.openWithdrawalModal();
      },
      openBitexcardModal() {
        this.$parent.openBitexcardModal();
      },
      onChangeActiveAccount(account, type) {
        this.$store.dispatch('setActiveAccount', account);
        if (type) {
          this.openDepositModal()
        }
      },
      summAmountAndCreditAmount(user_account) {
        return parseFloat(user_account.amount) + parseFloat(user_account.credit_amount)
      }
    }
  }
</script>

<style scoped>

</style>
