<template>
  <div>
<!--    <div class="open-left" v-bind:class="show ? 'show' : ''" @click="togglePanel">-->
<!--      <i class="fas fa-chevron-right" v-if="!show"></i>-->
<!--      <i class="fas fa-chevron-left" v-else></i>-->
<!--    </div>-->
    <div v-show="show" class="left-bar container-fluid" style="left: 0;top: 0;">
      <div class="row left-bar-header mb-2">
        <div class="col-md-12">
          <div class="balance d-flex align-items-center h-100 justify-content-between left-bar-tabs">
            <span class="font-weight-bold tab" v-bind:class="{'active': component === 'balance'}" @click="changeComponent('balance')">{{ $t("dashboard.index.balance") }}</span>
            <span class="font-weight-bold tab text-red" role="button" v-bind:class="{'text-red' : unreadNotificationsCount > 0, 'active': component === 'notify'}" @click="changeComponent('notify')">{{ $t("dashboard.index.notifications") }}
              <div class="notify-count d-inline-block">
                <span class="text-white font-weight-bold">{{ unreadNotificationsCount }}</span>
              </div>
            </span>
          </div>
        </div>
      </div>
      <div class="close-left-panel">
        <button @click="togglePanel()" type="button"><i class="icon icon-close"></i></button>
      </div>
      <section id="body-left">
        <div class="row">
          <div class="col-md-12 left-bar-body">
            <component :is="component" @open-notify-modal="openNotifyModal" />
          </div>
        </div>
      </section>
    </div>
    <ModalWrapper ref="modalWrapper" :title="modalTitle">
      <component ref="notify" :notification="modalData" :is="modalComponent" @close-modal="close" @open-notify-modal="openNotifyModal"/>
    </ModalWrapper>
  </div>
</template>

<script>

  import {formatMoney, getCurrencyAlias, getCurrencySymbol} from '../../../utilities'
  import {mapGetters} from 'vuex'
  import Balance from './Balance'
  import Notify from './Notify'
  import NotifyModal from './NotifyModal'
  import DepositModalContainer from '../../../views/dashboard/payments/deposit/DepositModalContainer'
  import WithdrawalModalContainer from '../../../views/dashboard/payments/withdrawal/WithdrawalModalContainer'
  import BitexcardModalContainer from '../../../views/dashboard/payments/bitexcard/BitexcardModalContainer'
  import alert from "../../../../common/sweet-alert";

  export default {
    name: 'left-panel',
    components: {
      Balance,
      Notify,
      DepositModalContainer,
      WithdrawalModalContainer,
      NotifyModal,
      BitexcardModalContainer
    },
    computed: {
      ...mapGetters({
        user: 'getUser',
        isUserVerified: 'isUserVerified',
        isUserOnVerify: 'isUserOnVerify',
        unreadNotificationsCount: 'getCountUnreadUserNotifications'
      }),
    },
    data() {
      return {
        show: null,
        component: 'balance',
        modalComponent: '',
        modalTitle: '',
        openDeposit: false,
        openWithdrawal: false,
        modalData: null
      }
    },
    created() {
      this.updateWidth();
      window.addEventListener('resize', this.updateWidth);
    },
    watch: {
      'user'() {
        if (this.$route.query.type === 'deposit') {
          this.openDepositModal()
        }
        if (this.$route.query.b !== undefined) {
            this.openBitexcardModal();
        }
      }
    },
    methods: {
      updateWidth() {
       if (this.$route.path !== '/terminal') {
         this.show = (screen.width >= 1201)
       }
      },
      togglePanel(tab = 'balance') {
        this.show = !this.show;
        if (this.show) {
          this.component = tab;
        }
        this.$emit('onOpenLeftPanel', this.show)
      },
      onChangeActiveAccount(account) {
        this.$store.dispatch('setActiveAccount', account);
      },
      changeComponent(component) {
        this.component = component;
      },
      openDepositModal() {
        this.modalComponent = 'DepositModalContainer'
        this.modalTitle = ''
        this.$refs.modalWrapper.open()
        document.getElementById('modal').scrollIntoView();
      },
      openWithdrawalModal() {
        this.modalComponent = 'WithdrawalModalContainer'
        this.modalTitle = ''
        this.$refs.modalWrapper.open()
        document.getElementById('modal').scrollIntoView();
      },
      openBitexcardModal() {
        if(this.isUserVerified){
            this.modalComponent = 'BitexcardModalContainer';
            this.modalTitle = this.$i18n.translate("bitexcard.title");
            this.$refs.modalWrapper.open();
            return;
        }

        var that = this;
        jQuery(document).one('click', '#open-verification-btn', function () {
            that.close();
            alert.close();
            that.$root.$emit('open-verification');
        });
        let errorText = '';
        if(this.isUserOnVerify){
            errorText = this.$i18n.translate("dashboard.index.aсcount_must_be_verified_wo_link");
            alert.error({text: errorText});
            return;
        }
        errorText = this.$i18n.translate("dashboard.index.aсcount_must_be_verified", ['open-verification-btn']);
        this.openNotifyModal({title: errorText});
      },
      openNotifyModal(notification) {
        this.modalData = notification
        this.modalComponent = 'notify-modal'
        this.modalTitle = ''
        this.$refs.modalWrapper.open()
      },
      close() {
        this.$refs.modalWrapper.close()
      }
    },
    filters: {
        getCurrencySymbol,
        getCurrencyAlias,
        formatMoney
    },
  }

</script>
