<template>
  <div ref="notify">
    <div class="d-flex justify-content-between notify-item--header mb-4">
      <div class="left d-flex flex-column">{{ $t(`dashboard.index.${localizedTitle}`) }}</div>
      <div class="right d-flex flex-column ml-2">
        <i class="fas fa-times remove-notify" @click="onRemove(index, notification.id, $event)"></i>
      </div>
    </div>
    <div class="d-flex justify-content-between notify-item--bottom mb-3">
      <button class="btn btn-secondary" @click="openModal">{{ $t("dashboard.notification.open") }}</button>
    </div>
    <div class="d-flex justify-content-between notify-item--bottom">
      <div class="left d-flex flex-column font-weight-bold">
        {{ notification.created_at | formatDateTime('DD MMMM YYYY, HH:mm', lang) }}
      </div>
    </div>
  </div>
</template>

<script>
  import spinner from '../../../../common/spinner'
  import requests from "../../../requests";
  import {formatDateTime} from '../../../utilities'
  import { mapGetters } from 'vuex'


  export default {
    name: "Notification",
    props: {
      notification: {
        type: Object
      },
      index: 0
    },
    computed: {
      ...mapGetters({
        lang: 'getSelectedLang'
      }),
      localizedTitle() {
        let title = this.notification.title.toLowerCase()
        if (title.split(' ').length === 1) {
          return title
        }
        return title.split(' ').join('_')
      },
      localizedComment() {
        let comment = this.notification.comment.toLowerCase()
        if (comment.split(' ').length === 1) {
          return comment
        }
        return comment.split(' ').join('_')
      }
    },
    methods: {
      onRemove(index, id, event) {
        spinner.toggle(true)
        requests.dashboard.removeNotification({notification_id: id}).then(() =>{
          this.$store.dispatch('removeNotification');
          spinner.toggle(false);
          this.$parent.getNotifications();
        });
      },
      openModal() {
        this.notification.localizedTitle = this.$t(`dashboard.index.${this.localizedTitle}`)
        this.$emit('open-modal', this.notification)
      }
    },
    filters: {
      formatDateTime
    }
  }
</script>

<style scoped>

</style>
