<template>
  <div>
    <div class="modal-header" style="padding-bottom: 0;">
      <h6 class="font-weight-bold text-black d-inline-block mb-0">
        <span v-html="notification.title"></span>
      </h6>
    </div>
    <div class="modal-body">
      <div class="w-100">
        {{ notification.message }}

        <template v-if="notification.comment">
          <br/>
          {{$t("words.reason")}}: {{ notification.comment }}
        </template>
        <slot></slot>
      </div>
    </div>
    <div class="modal-footer modal-footer--notify">
      <div class="d-flex justify-content-between column-mobile">
        <button @click="close" class="btn btn-primary" style="min-width: 160px;">{{ $t("dashboard.notification.okay") }}</button>
      </div>
    </div>
  </div>
</template>

<script>
  import jQuery from 'jquery'

  export default {
    name: "notify-modal",
    props: {
      notification: {
        default() {
          return {}
        }
      }
    },
    methods: {
      toggle(isShow) {
        jQuery('body').toggleClass('overflow-hidden', isShow);
        this.show = isShow
      },
      close() {
        this.$emit('close-modal')
        this.toggle(false)
      },
      open(notification) {
        this.$emit('open-modal')
        this.notification = notification;
        this.toggle(true)
      },
      onClose() {
        this.close()
      }
    }
  }
</script>

<style scoped>

</style>
