<template>
  <div class="notify-list">
    <div class="notify-item" v-for="(item, index) in notifications">
      <notification :notification="item" :index="index" @open-modal="openModal" />
    </div>
  </div>

</template>

<script>

  import {mapGetters} from 'vuex'
  import requests from "../../../requests";
  import spinner from '../../../../common/spinner'
  import Notification from './Notification'
  import NotifyModal from "./NotifyModal";

  export default {
    data() {
      return {
        notifications: [],
      }
    },
    components: {
      NotifyModal,
      Notification
    },
    created() {
      this.getNotifications();
    },
    computed: mapGetters({
      unread_user_notifications_counter: 'getCountUnreadUserNotifications'
    }),
    methods: {
      getNotifications() {
        spinner.toggle(true)
        requests.dashboard.getUnreadNotifications().then(({data}) => {
          this.notifications = data.notifications.reverse();
          spinner.toggle(false)
        })
      },
      openModal(notification) {
        this.$emit('open-notify-modal',notification)
      },
    },
  }

</script>
