<template>

    <div class="left-panel">
        <div class="left-panel__content">
            <perfect-scrollbar>
                <slot v-if="component === 'menu'"></slot>
                <component :is="component" v-if="component !== 'menu'"/>
            </perfect-scrollbar>
        </div>
        <div class="left-panel__profile">
            <a href="javascript:void(0)" @click="onNotify"
               class="left-panel__profile--notify">
                <i :class="[component==='notify'?'fas':'far', 'fa-bell']"></i>
                <span v-if="unread_user_notifications_counter > 0" class="point"></span>
            </a>
            <a @click.prevent="openProfile" v-if="isUserCreated">
                <i class="far fa-user"></i>
            </a>
            <router-link to="/dashboard/profile" v-else>
                <i class="far fa-user"></i>
            </router-link>
            <a href="#" @click.prevent="onLogout">
                <i class="fas fa-sign-in-alt"></i>
            </a>
        </div>
    </div>

</template>

<script>

  import spinner from '../../../../common/spinner'
  import Notify from './Notify'
  import { eventBus } from '../../../eventBus';
  import {mapGetters} from 'vuex'
  import jQuery from 'jquery'

  export default {
    name: 'sidebar',
    components: {Notify},
    created() {
      this.$nextTick(() => jQuery(this.$el).removeClass('left-panel__preview'));
    },
    data() {
      return {
        component: 'menu'
      };
    },
    computed: mapGetters({
      unread_user_notifications_counter: 'getCountUnreadUserNotifications',
      isUserCreated : 'isUserCreated'
    }),
    methods: {
      openProfile() {
        eventBus.$emit('open-profile', {
          step: 1,
          endStep: false,
        });
      },
      onNotify() {
        this.component = this.component === 'menu' ? 'notify' : 'menu';
        this.$nextTick(() => {
          let $content = jQuery(this.$el).parents('.left-panel__wrapper');
          $content.toggleClass('left-panel__wrapper--active', this.component === 'notify');
        });
      },
      onLogout() {
        spinner.toggle(true)
        this.$store.dispatch('logout')
          .then(() => window.location.href = '/')
          .catch(() => spinner.toggle(false))
      }
    },
  }

</script>
