<template>
  <div id="modal" class="modal-background w-100 background-none show">
    <div class="white-background-50 h-100 w-100 position-fixed"></div>
    <div v-if="voucher" class="modal-dialog d-flex align-items-center modal-small" style="margin-top: 5rem;">
      <div class="modal-content align-self-center m-auto white-shadow" style="background: white;">
        <div class="close-modal" @click="close"><i class="icon-close-modal"></i></div>
        <div class="modal-header text-black modal-header--activate-vaucher">
          <span class="font-weight-bold d-block">{{ $t("dashboard.profile.activate_voucher") }}</span>
          <span class="d-block">{{ $t("dashboard.profile.on") }} {{ voucher.amount | formatMoney(voucher.currency_from) }} {{ voucher.currency_from }}</span>
        </div>
        <div class="modal-body">
          <form class="form-custom black">
            <div class="form-control-custom">
              <small class="font-weight-bold text-silver">{{ $t("dashboard.profile.deposit_acc") }}</small>
              <div
                  class="d-flex justify-content-between align-items-center flex-row white-background white-shadow modal-shadow mt-2">
                <div class="d-flex flex-column" v-if="selectedAccount">
                  <span>{{ selectedAccount.currency }} {{ selectedAccount.amount | formatMoney(selectedAccount.currency) }}</span>
                  <small class="text-silver">{{ selectedAccount.currency | getCurrencyAlias }}</small>
                </div>
<!--                <div class="d-flex flex-column mb-0">-->
<!--                  <div class="form-custom black">-->
<!--                    <div class="form-control-custom mb-0">-->
<!--                      <div class="d-flex align-items-center">-->
<!--                        <div class="dropdown-select border-0 d-flex flex-shrink-1"-->
<!--                             style="width: 90px"-->
<!--                             @click="openAccountSelect"-->
<!--                             @mouseenter="isFocusSelect = true"-->
<!--                             @mouseleave="isFocusSelect = false"-->
<!--                        >-->
<!--                          <div class="d-flex flex m-0 align-items-center" style="flex-direction: unset">-->
<!--                            <input class="w-100 border-0 pt-0" disabled v-model="form.currency">-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
              </div>
            </div>
          </form>
          <div class="row mt-4" v-if="voucher.currency_from !== form.currency">
            <div class="col-md-12">
              <p class="text-black">
                {{ $t("dashboard.profile.text47") }} -
                1 <span class="font-weight-bold">{{voucher.currency_from}}</span> =
                {{exchangeRate|formatMoney(form.currency)}} <span
                  class="font-weight-bold">{{form.currency}}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="modal-header text-black modal-header--activate-vaucher pb-0">
          <span class="font-weight-bold d-block">{{ $t("dashboard.profile.activate_voucher_pin") }}</span>
        </div>
        <div class="modal-body pt-0">
          <div class="wrapp-input-voucher_pin">
            <input type="text" required="required" class="w-100 border-0 text-silver pt-1 pb-0" v-model="form.pin_code">
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-activate-vaucher--mob" style="width: 228px;" @click="activateVoucher">{{ $t("dashboard.profile.activate") }}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {formatMoney, getCurrencyAlias, getCurrencySymbol, handlerErrors} from '../../../../utilities'
  import spinner from '../../../../../common/spinner'
  import alert from '../../../../../common/sweet-alert'

  import requests from '../../../../requests'
  import {mapGetters} from 'vuex'
  import {handleErrorForAlert} from "@/main/utilities";

  export default {
    name: "activate-voucher-modal",
    props: {
      voucher: {
        type: Object,
        required: true
      },
      hash: {
        type: String,
        required: true
      }
    },
    data() {
      return {
        form: {
          currency: null,
          hash: this.$route.query.va || null,
          pin_code: null
        },
        exchangeRate: 0,
        isOpenAccountSelect: false,
      }
    },
    computed: {
      ...mapGetters({
        user: 'getUser',
        userAccounts: 'getUserAccounts',
        exchangeRates: 'getExchangeRates',
      }),
      selectedAccount() {
        this.form.currency = this.voucher.currency_from
        this.form.hash = this.hash
        return this.userAccounts.find((account) => {
          return account.currency === this.voucher.currency_from;
        });
      }
    },
    methods: {
      openAccountSelect() {
        this.isOpenAccountSelect = !this.isOpenAccountSelect;
      },
      selectAccount(account) {
        this.form.currency = account.currency;
        this.selectedAccount = account;
      },
      setExchangeRate() {
        if (this.voucher) {
          let directPair = this.voucher.currency_from + '-' + this.form.currency;
          let reversePair = this.form.currency + '-' + this.voucher.currency_from;
          if (Object.keys(this.exchangeRates).includes(directPair)) {
            this.exchangeRate = this.exchangeRates[directPair][0].value
          } else if (Object.keys(this.exchangeRates).includes(reversePair)) {
            this.exchangeRate = this.exchangeRates[reversePair][1].value
          }
        }
      },
      activateVoucher() {
        spinner.toggle(true);
        requests.dashboard.profile.vouchers.activateVoucher(this.form)
          .then(({data}) => {
            alert.success(this.$i18n.translate("dashboard.profile.voucher.activated"))
            this.$store.dispatch('updateUserData').then(() => {
              spinner.toggle(false)
              this.close()
            });
          })
          .catch(({response}) => {
            spinner.toggle(false);
            alert.error(handleErrorForAlert(response.data.errors))
          });
      },
      close() {
        this.$emit('close-modal');
      },
    },
    watch: {
      'form.pin_code'(val) {
        if (val.length > 8) {
          this.form.pin_code = val.substr(0, 8)
        }
      }
    },
    created () {
      this.$scrollBody('hidden')
    },
    destroyed() {
      this.$scrollBody('auto')
    },
    filters: {
      getCurrencySymbol,
      getCurrencyAlias,
      formatMoney
    },
  }
</script>
