<template>
  <form class="d-flex flex-lg-row flex-column mt-4 mt-md-0 mt-lg-0" @submit.prevent="onActiveVoucher">
    <div class="form-custom black">
      <div class="form-control-custom mb-0">
        <div class="d-flex flex-column w-100 white-shadow p-0">
          <div class="d-flex border-bottom-silver align-items-center justify-content-between pl-3 pr-3">
            <input type="text" class="border-0 text-silver hash-voucher-input" :placeholder="$t('dashboard.profile.text48')" v-model="form.hash" required>
          </div>
        </div>
      </div>
    </div>
    <div class="ml-lg-3 mt-3 mt-lg-0">
      <button type="submit" class="btn btn-primary activate-voucher-btn">{{ $t("dashboard.profile.activate") }}</button>
    </div>
  </form>
</template>

<script>
export default {
  name: 'ActiveVoucherByHashForm',
  data () {
    return {
      form: {
        hash: null
      }
    };
  },
  methods: {
    onActiveVoucher () {
      this.$emit('active:voucher', this.form)
    }
  }
}
</script>
