<template>
  <div>
    <div class="modal-header d-flex" style="justify-content: center; align-items: center;">
      <h6 class="font-weight-bold text-black d-inline-block ">
        {{ notification.title }}
      </h6>
    </div>
    <div class="modal-body mb-3">
      <div class="mb-3 w-100 text-center" >
        {{ notification.message }}
      </div>
    </div>
    <div class="modal-footer">
      <div class="d-flex column-mobile w-100" style="justify-content: center;">
        <tempalte v-if="!one_button">
          <button @click="accept" class="btn btn-primary">{{ $t("dashboard.profile.yes") }}</button>
          <button @click="decline" class="btn btn-primary">{{ $t("dashboard.profile.no") }}</button>
        </tempalte>
        <template v-else>
          <button @click="decline" class="btn btn-primary">{{ $t("dashboard.profile.ok") }}</button>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "confirm-modal",
    props: {
      notification: {
        type: Object,
        required: true
      },
      one_button: {
        type: Boolean,
        required: false,
        default: false
      },
    },
    data() {
      return {
        show: false,
      }
    },
    methods: {
      accept(){
        this.$emit('delete', this.notification.element)
      },
      decline(){
        this.$emit('close')
      },
      close(){
        this.$emit('close')
      },
    }
  }
</script>

<style scoped>

</style>
