<template>
  <div>
    <div class="modal-body">
      <div class="d-flex" v-if="!voucher.activated">
        <VueQRCodeComponent
            style="width: 90px;height: 100%;"
            :text="voucher.activation_url"
            :size="90"
            color="#000000"
            bg-color="#ffffff"
            error-level="L">
        </VueQRCodeComponent>
        <div class="d-flex justify-content-center align-items-center">
          <span style="margin-left: 50px;" class="text-red font-weight-bold justify-content-center"
            >{{ voucher.amount | formatMoney(voucher.currency_from) }} {{ voucher.currency_from | getCurrencyAlias }} </span>
        </div>
      </div>
      <div v-if="!voucher.activated" class="d-flex mt-3 align-items-end justify-content-between text-black link-activation-voucher">
        <div v-if="voucher" class="d-flex flex-column">
          <small class="text-silver font-weight-bold">{{ $t("dashboard.profile.link_voucher") }}</small>
          <span v-if="showedFullActivatedLink">{{ voucher.activation_url }}</span>
          <span v-else>{{ voucher.activation_url.substr(0,30) }} ...</span>
        </div>
        <div class="d-flex">
          <div class="" style="margin-right: 15px">
            <i v-bind:class="{'icon-eye-open': !showedFullActivatedLink, 'icon-eye-close': showedFullActivatedLink}" style="font-size: 24px" @click="toggleShowFullActivatedLink"></i>
          </div>
          <div class="">
            <a class="text-black font-weight-bold" style="text-decoration: underline" href="#" @click.prevent="copyActivationUrl">{{ $t("dashboard.profile.copy") }}</a>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <form class="form-custom black" @keypress.enter.prevent="sendVoucher">
            <div v-if="!voucher.activated" class="form-control-custom">
              <div class="d-flex flex-column">
                <div class="d-flex">
                  <label class="mt-2">
                    <input type="radio" value="email" name="type" @click="changeHandler('email')" v-model="form.type">
                    <div class="radio__button"></div>E-mail</label>
                  <label class="mt-2">
                    <input type="radio" value="phone_number" name="type" @click="changeHandler('phone_number')" v-model="form.type">
                    <div class="radio__button"></div>{{ $t("dashboard.profile.phone") }}</label>
                </div>
              </div>
            </div>
            <div class="form-control-custom accept-password position-relative">
              <small class="text-silver">{{ $t("dashboard.profile.comment") }}</small>
              <textarea :disabled="voucher.activated" class="form-control" v-model="form.comment"></textarea>
              <small class="float-left font-weight-bold d-block w-100" ref="error_value"></small>
            </div>
            <div class="form-control-custom accept-password position-relative">
              <small class="text-silver" v-if="form.type === 'phone_number'">{{ $t("dashboard.profile.phone") }}</small>
              <small class="text-silver" v-if="form.type === 'email'">Email</small>
              <input class="accept" v-model="form.value" @input="onExistsUserByAttribute"/>
              <input-spinner :showen="inputSpinner"/>
              <small class="float-left font-weight-bold d-block w-100" ref="error_value"></small>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="d-flex w-100 justify-content-between align-items-center">
        <button v-if="!voucher.activated"
          class="btn btn-primary btn-accepted mr-md-5 mr-sm-0"
          @click="sendVoucher"
          :disabled="!isValidType || !form.value"
          >{{ $t('words.send') }}</button>
        <a href="#" class="font-weight-bold link-black pl-3" @click="close">{{ $t("dashboard.profile.close") }} —</a>
      </div>
    </div>
  </div>
</template>

<script>
  import {formatMoney, getCurrencyAlias, getCurrencySymbol, copy, handlerErrors} from '../../../../utilities'
  import alert from '../../../../../common/sweet-alert'
  import spinner from '../../../../../common/spinner'
  import requests from '../../../../requests'
  import VueQRCodeComponent from 'vue-qrcode-component'
  import {handleErrorForAlert} from "@/main/utilities";

  export default {
    name: "create-voucher-modal",
    components: {
      VueQRCodeComponent
    },
    props:['voucher'],
    data() {
      return {
        showedFullActivatedLink: false,
        isValidType: false,
        inputSpinner: false,
        form: {
          type: 'phone_number',
          value: null,
          comment: null
        }
      }
    },
    methods: {
      close() {
        this.$emit('close-modal')
      },
      toggleShowFullActivatedLink() {
        this.showedFullActivatedLink = !this.showedFullActivatedLink;
      },
      copyActivationUrl() {
        copy(this.voucher.activation_url)
        alert.success(this.$i18n.translate("dashboard.profile.voucher.copy"))
      },
      sendVoucher() {
        if ((this.form.value === '') || (this.form.value === null)) {
          if (this.form.type !== 'phone_number') alert.error(this.$i18n.translate("errors.9002"))
          else alert.error(this.$i18n.translate("errors.9004"))
          return
        }
        spinner.toggle(true)
        requests.dashboard.profile.vouchers.sendVoucher({...this.form, hash: this.voucher.hash})
          .then(({data}) => {
            alert.success(this.$i18n.translate("dashboard.profile.voucher.send"))
            this.$store.dispatch('updateUserData').then(() => {
              spinner.toggle(false)
              this.close()
            })
          })
          .catch(({ response }) => {
            spinner.toggle(false)
            alert.error(handleErrorForAlert(response.data.errors))
          })
      },
      onExistsUserByAttribute() {
        if (this.$refs[`error_value`].innerHTML.length > 0) {
          this.$refs[`error_value`].innerHTML = ''
        }
        clearTimeout(this.timeout)
        this.isValidType = false
        this.timeout = setTimeout(() => this.existsUserByAttribute(), 1000)
      },
      existsUserByAttribute() {
        const request = {
          attribute: this.form.type,
          value: this.form.value
        }
        this.inputSpinner = true
        this.onResetElementState()
        requests.authenticate.postExistsUserByAttribute(request)
          .then(({data}) => {
            this.inputSpinner = false
            this.setElementValidState(data)
            this.isValidType = data.exists
          })
          .catch(() => {
            this.inputSpinner = false
            this.onResetElementState()
          })
      },
      onResetElementState() {

      },
      setElementValidState(data) {
        if (!data.exists) {
          this.$refs.error_value.innerHTML = this.$i18n.translate("main.user_not_exist")
        } else {
          this.onResetElementState()
        }
      },
      changeHandler(type){
        if (this.form.type != type) {
          Vue.set(this.form, 'value', '')
          this.onResetElementState()
        }
      }
    },
    mounted(){
      if (typeof this.voucher.comment !== 'undefined') {
        this.form = {
          comment: this.voucher.comment,
          type: (this.voucher.send_type !==null && this.voucher.send_type.indexOf('@')!==-1?'email':'phone_number'),
          value: this.voucher.send_type,
        }
      }
    },
    filters: {
      getCurrencySymbol,
      getCurrencyAlias,
      formatMoney
    },
  }
</script>

<style scoped>

</style>
