<template>
  <div id="qr-code-modal" class="modal-background w-100 background-none" v-bind:class="{ 'show': show, 'hide': !show }">
    <div class="white-background-50 h-100 w-100 position-fixed"></div>
    <div class="modal-dialog d-flex align-items-center modal-small" style="margin-top: 5rem;">
      <!---->
      <div class="modal-content align-self-center m-auto white-shadow" style="background: white;">
        <div class="close-modal" @click="close"><i class="icon-close-modal"></i></div>
        <div class="modal-body">
          <div class="d-flex qr-code-full"
               v-if="show">
            <VueQRCodeComponent
                style="width: 100%;height: 100%;"
                :text="voucher.activation_url"
                color="#000000"
                bg-color="#ffffff"
                error-level="L">
            </VueQRCodeComponent>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import jQuery from 'jquery'
  import VueQRCodeComponent from 'vue-qrcode-component'

  export default {
    name: "qr-code-modal",
    components: {
      VueQRCodeComponent
    },
    data() {
      return {
        show: false,
        voucher: {}
      }
    },
    methods: {
      toggle(isShow) {
        jQuery('body').toggleClass('overflow-hidden', isShow);
        this.show = isShow
      },
      close() {
        this.toggle(false)
      },
      open(voucher) {
        this.voucher = voucher;
        this.toggle(true)
      },
      onClose() {
        this.close()
      }
    },
  }
</script>

