<template>
  <div class="container-fluid empty-voucher" v-if="userVouchers===undefined || userVouchers.length===0">
    <div class="row mb-5 mt-5">
      <div class="col-md-12 p-0">
        <active-voucher-by-hash-form @active:voucher="onActiveVoucher" />
      </div>
      <div class="col-md-6 m-auto">
        <div class="d-flex align-items-center" style="height: 50vh">
          <i class=" icon-pay-card mr-2 text-silver" style="font-size: 100px"></i>
          <div class="d-flex flex-column ml-2">
            <strong>{{ $t("dashboard.profile.text49") }}</strong>
            <p class="mt-2 mb-2">{{ $t("dashboard.profile.text50") }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-else>
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="d-flex flex-md-row align-items-md-start flex-column voucher-list">
          <button class="btn btn-secondary btn-vauchers mr-md-3 mr-sm-0 mb-4 mb-md-0 pt-md-2 pb-md-2" :class="{'active': !showActivatedVouchers}"
                  @click="showUnactivated">{{ $t("dashboard.profile.created_vouchers") }}
          </button>
          <button class="btn btn-secondary btn-vauchers mr-md-3 pt-md-2 pb-md-2" v-bind:class="{'active': showActivatedVouchers}" @click="showActivated">
            {{ $t("dashboard.profile.activated_vouchers") }}
          </button>
          <active-voucher-by-hash-form @active:voucher="onActiveVoucher" class="ml-lg-3" />
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="d-flex flex-column">
          <div class="d-flex flex-wrap voucher-table voucher-table-header">
            <div class="col-lg-2 col-sm-6 flex-column voucher-item text-center">
              <small class="text-silver">{{ $t("dashboard.profile.created") }}</small>
            </div>
            <div class="col-lg-2 col-sm-6 flex-column voucher-item text-center">
              <small class="text-silver">{{ $t("dashboard.profile.activated") }}</small>
            </div>
            <div class="col-lg-1 col-sm-6 flex-column voucher-item text-center">
              <small class="text-silver">{{ $t("dashboard.profile.direction") }}</small>
            </div>
            <div class="col-lg-2 col-sm-6 flex-column voucher-item text-center">
              <small class="text-silver">{{ $t("dashboard.profile.amount") }}</small>
            </div>
            <div class="col-lg-1 col-sm-6 flex-column voucher-item text-center">
              <small class="text-silver">{{ $t("dashboard.profile.from_currency") }}</small>
            </div>
            <div class="col-lg-1 col-sm-6 flex-column voucher-item text-center">
              <small class="text-silver">{{ $t("dashboard.profile.to_currency") }}</small>
            </div>
            <div class="col-lg-1 col-sm-6 flex-column voucher-item text-center">
              <small class="text-silver">{{ $t("dashboard.profile.send_to") }}</small>
            </div>
            <div class="col-lg-2 col-sm-6 flex-column voucher-item text-center">
              <small class="text-silver">{{ $t("dashboard.profile.actions") }}</small>
            </div>
          </div>
          <div v-if="!showActivatedVouchers && !voucher.activated"
               v-for="voucher in userVouchers" :voucher="voucher"
               :key="Math.random()" class="d-flex flex-wrap voucher-table">
            <div class="col-lg-2 col-sm-6 flex-column voucher-item text-center">
              <small class="text-silver">{{ $t("dashboard.profile.created") }}</small>
              <div>
                <span>{{ voucher.created_at | formatDateTime('DD MMMM YYYY | HH:mm:ss', lang) }}</span>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 flex-column voucher-item text-center">
              <small class="text-silver">{{ $t("dashboard.profile.activated") }}</small>
              <div>
                <span
                    v-if="voucher.activated">{{voucher.updated_at | formatDateTime('DD MMMM YYYY | HH:mm:ss', lang) }}</span>
                <span v-else>-</span>
              </div>
            </div>
            <div class="col-lg-1 col-sm-6 flex-column voucher-item text-center">
              <small class="text-silver">{{ $t("dashboard.profile.direction") }}</small>
              <div>
                <span>{{ voucher.user_id_to === user.id ? $t('words.incoming') : $t('words.outgoing') }}</span>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 flex-column voucher-item text-center">
              <small class="text-silver">{{ $t("dashboard.profile.amount") }}</small>
              <div>
                <span>{{ voucher.amount | formatMoney(voucher.currency_from)}}</span>
              </div>
            </div>
            <div class="col-lg-1 col-sm-6 flex-column voucher-item text-center">
              <small class="text-silver">{{ $t("dashboard.profile.from_currency") }}</small>
              <div>
                <span>{{ voucher.currency_from | getCurrencyAlias }}</span>
              </div>
            </div>
            <div class="col-lg-1 col-sm-6 flex-column voucher-item text-center">
              <small class="text-silver">{{ $t("dashboard.profile.to_currency") }}</small>
              <div>
                <span v-if="voucher.activated">{{ voucher.currency_to | getCurrencyAlias }}</span>
                <span v-else>-</span>
              </div>
            </div>
            <div class="col-lg-1 col-sm-6 flex-column voucher-item text-center">
              <small class="text-silver">{{ $t("dashboard.profile.send_to") }}</small>
              <div>
                <span>{{ voucher.send_type ? voucher.send_type : '-' }}</span>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 flex-column voucher-item text-center"
                 :class="voucher.activated ? 'active-voucher' : ''"
            >
              <small class="text-silver">{{ $t("dashboard.profile.actions") }}</small>
              <div>
                <i class="icon-copy mr-1" :title="$t('words.copy_activ_link')" @click="copyActivationUrl(voucher)"></i>
                <i class="icon-QR mr-1" title="QR-code" @click="openQrCodeModal(voucher)"></i>
                <i class="icon-eye-open mr-1" v-if="(voucher.user_id_to!==user.id)" :title="$t('words.send_voucher')" @click="openSendVoucherModal(voucher)"></i>
                <i class="icon-delete" :title="$t('dashboard.profile.title5')" v-if="!voucher.activated" @click="openNotifyModal(voucher, '', $t('dashboard.profile.voucher_delete_message'))"></i>
              </div>
            </div>
          </div>
          <div v-if="showActivatedVouchers && voucher.activated"
               v-for="voucher in userVouchers" :voucher="voucher"
               :key="Math.random()" class="d-flex flex-wrap voucher-table">
            <div class="col-lg-2 col-sm-6 flex-column voucher-item text-center">
              <small class="text-silver">{{ $t("dashboard.profile.created") }}</small>
              <div>
                <span>{{ voucher.created_at | formatDateTime('DD MMMM YYYY | HH:mm:ss', lang) }}</span>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 flex-column voucher-item text-center">
              <small class="text-silver">{{ $t("dashboard.profile.activated") }}</small>
              <div>
                <span>{{voucher.updated_at | formatDateTime('DD MMMM YYYY | HH:mm:ss', lang) }}</span>
              </div>
            </div>
            <div class="col-lg-1 col-sm-6 flex-column voucher-item text-center">
              <small class="text-silver">{{ $t("dashboard.profile.direction") }}</small>
              <div>
                <span>{{ voucher.user_id_to===user.id ? $t('words.incoming') : $t('words.outgoing') }}</span>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 flex-column voucher-item text-center">
              <small class="text-silver">{{ $t("dashboard.profile.amount") }}</small>
              <div>
                <span>{{ voucher.amount | formatMoney(voucher.currency_from)}}</span>
              </div>
            </div>
            <div class="col-lg-1 col-sm-6 flex-column voucher-item text-center">
              <small class="text-silver">{{ $t("dashboard.profile.from_currency") }}</small>
              <div>
                <span>{{ voucher.currency_from | getCurrencyAlias}}</span>
              </div>
            </div>
            <div class="col-lg-1 col-sm-6 flex-column voucher-item text-center">
              <small class="text-silver">{{ $t("dashboard.profile.to_currency") }}</small>
              <div>
                <span>{{ voucher.currency_to | getCurrencyAlias }}</span>
              </div>
            </div>
            <div class="col-lg-1 col-sm-6 flex-column voucher-item text-center">
              <small class="text-silver">{{ $t("dashboard.profile.send_to") }}</small>
              <div>
                <span>{{ voucher.send_type ? voucher.send_type : '-' }}</span>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 flex-column voucher-item text-center active-voucher">
              <small class="text-silver">{{ $t("dashboard.profile.actions") }}</small>
              <div>
                <i class="icon-copy mr-1" :title="$t('words.copy_activ_link')" @click="copyActivationUrl(voucher)"></i>
                <i class="icon-QR mr-1" title="QR-code" @click="openQrCodeModal(voucher)"></i>
                <i class="icon-eye-open mr-1" v-if="(voucher.user_id_to!==user.id)" :title="$t('words.send_voucher')" @click="openSendVoucherModal(voucher)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <qr-code-modal ref="qrCodeModal"></qr-code-modal>
    <ModalWrapper ref="modalWrapper">
      <confirm-modal
              :notification="notification"
              @close="resetNotification"
              @delete="removeVoucher"
              :one_button="true"
      ></confirm-modal>
    </ModalWrapper>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { formatMoney, getCurrencyAlias, getCurrencySymbol, formatDateTime, copy } from '../../../../utilities'
  import ActiveVoucherByHashForm from './ActiveVoucherByHashForm'
  import alert from '@/common/sweet-alert'
  import QrCodeModal from './QrCodeModal'
  import requests from '@/main/requests'
  import spinner from '@/common/spinner'
  import ConfirmModal from "./ConfirmModal";
  import {handleErrorForAlert} from "@/main/utilities";

  export default {
    name: "vouchers-list",
    components: {
      ActiveVoucherByHashForm,
      QrCodeModal,
      ConfirmModal

    },
    computed: {
      ...mapGetters({
        userVouchers: 'getUserVouchers',
        userAccounts: 'getUserAccounts',
        lang: 'getSelectedLang',
        user: 'getUser',
        currencies: 'getCurrencies'
      })
    },
    data () {
      return {
        showActivatedVouchers: false,
        notification: {}
      }
    },
    methods: {
      openSendVoucherModal(voucher){
        this.$emit('open-voucher-modal', voucher)
      },
      showActivated() {
        this.showActivatedVouchers = true
      },
      showUnactivated() {
        this.showActivatedVouchers = false
      },
      copyActivationUrl(voucher) {
        copy(voucher.activation_url);
        alert.success(this.$t('words.voucher_activation_link_successfully_copied'));
      },
      openQrCodeModal(voucher) {
        this.$refs.qrCodeModal.open(voucher);
      },
      removeVoucher(voucher) {
        spinner.toggle(true);
        requests.dashboard.profile.vouchers.postCancelVoucher({hash: voucher.hash})
          .then((response) => {
            alert.success({text:this.$t(`errors.${response.data.messageCode}`)});
            this.$store.dispatch('updateUserData').then(() => {
            spinner.toggle(false);
            });

            this.notification = {}
            this.$refs.modalWrapper.close()
          }).catch(({response}) => {
            spinner.toggle(false);
            this.notification = {}
            this.$refs.modalWrapper.close()
            alert.error(handleErrorForAlert(response.data.errors))

        })
      },
      onActiveVoucher (form) {
        this.$emit('active:voucher', form)
      },
      openNotifyModal(element, title, message) {
        this.notification = {
          title: title,
          message: message,
          element: element
        }
        this.$refs.modalWrapper.open()
      },
      resetNotification() {
        this.notification = {}
        this.$refs.modalWrapper.close()
      },
    },
    filters: {
      getCurrencySymbol,
      getCurrencyAlias,
      formatMoney,
      formatDateTime
    },
  }
</script>
