<template>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Комментарий при отмене</th>
            </tr>
            </thead>
            <tbody>
            <tr v-if="user.notifications.length !== 0">
               <td>{{ user.notifications[0].comment }}</td>
            </tr>
            <tr v-else>
                <td>Ничего не найдено</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
  name: "CancellationComment",
  props: {
  	user: {
      type: Object,
      default() {
        return {};
      }
    }
  }
}
</script>
