<template>

  <div>
    <table class="table">
      <thead>
      <tr>
        <th>Номер документа</th>
        <th>Название документа</th>
        <th>Загрузка</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="document in user.documents">
        <td class="text-center">{{ document.id }}</td>
        <td class="text-center">
          <document-name-by-type :document="document"></document-name-by-type>
        </td>
        <td class="text-center">
          <a :href="document.url" target="_blank" class="btn-link">Смотреть</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</template>

<script>

  import DocumentNameByType from '../../users/user-edit/Tabs/blocks/DocumentNameByType.vue'
  export default {
    props: {
      user: {
        type: Object,
        default() {
          return {};
        }
      }
    },
    components: {
      DocumentNameByType
    }
  }

</script>
