<template>

  <div class="row">
    <div class="col-md-6">
      <div class="right-menu__form__block right-menu__form">
        <div class="right-menu__form__block__inner">
          <span class="right-menu__header__text">Личные данные</span>
          <div class="right-menu__form__row">
            <input type="text" name="surname" class="right-menu__form__input" disabled placeholder="Фамилия" v-model="user.surname">
          </div>
          <div class="right-menu__form__row">
            <input disabled type="text" name="name" class="right-menu__form__input" disabled placeholder="Имя" v-model="user.name">
          </div>
          <div class="right-menu__form__row">
            <input disabled type="text" name="patronymic" class="right-menu__form__input"  placeholder="Отчество" v-model="user.patronymic">
          </div>
          <div class="right-menu__form__row">
            <input disabled type="date" name="birthday" class="right-menu__form__input right-menu__form__input-date" placeholder="Дата рождения" v-model="user.birthday">
          </div>
          <div class="right-menu__form__row">
            <select name="sex" disabled class="right-menu__form__input right-menu__form__input-select" data-placeholder="Пол" v-model="user.sex">
              <option value="male">М</option>
              <option value="female">Ж</option>
            </select>
          </div>
          <div class="right-menu__form__row">
            <input disabled type="text" name="citizenship" class="right-menu__form__input right-menu__form__input-date" placeholder="Гражданство" v-model="user.citizenship">
          </div>
        </div>
      </div>

      <div class="right-menu__form__block right-menu__form">
        <div class="right-menu__form__block__inner">
          <span class="right-menu__header__text">Адрес прописки</span>
          <div class="right-menu__form__row">
            <input disabled type="text" name="country" class="right-menu__form__input" placeholder="Страна" v-model="country_iso">
          </div>
          <div class="right-menu__form__row">
            <input disabled type="text" name="city" class="right-menu__form__input" placeholder="Город" v-model="user.city">
          </div>
          <div class="right-menu__form__row">
            <input disabled type="text" name="street" class="right-menu__form__input" placeholder="Улица" v-model="user.street">
          </div>
          <div class="right-menu__form__row">
            <input disabled type="text" name="house_number" class="right-menu__form__input" placeholder="Дом" v-model="user.house_number">
          </div>
          <div class="right-menu__form__row">
            <input disabled type="text" name="apartment_number" class="right-menu__form__input" placeholder="Квартира" v-model="user.apartment_number">
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="right-menu__form__block right-menu__form">
        <div class="right-menu__form__block__inner">
          <span class="right-menu__header__text">Паспортные данные</span>
          <div class="right-menu__form__row">
            <input disabled type="text" name="passport_series" class="right-menu__form__input" placeholder="Серия" v-model="user.passport_series">
          </div>
          <div class="right-menu__form__row">
            <input disabled type="text" name="passport_number" class="right-menu__form__input" placeholder="Номер" v-model="user.passport_number">
          </div>
          <div class="right-menu__form__row">
            <input disabled type="date" name="passport_date_issue" class="right-menu__form__input right-menu__form__input-date"
                   placeholder="Дата выдачи" v-model="user.passport_date_issue">
          </div>
          <div v-if="!user.isEUCitizen" class="right-menu__form__row">
            <input disabled type="date" name="passport_date_expiry" class="right-menu__form__input right-menu__form__input-date"
                   placeholder="Дата окончания" v-model="user.passport_date_expiry">
          </div>
          <div class="right-menu__form__row">
            <input disabled type="text" name="passport_division_code" class="right-menu__form__input"
                   placeholder="Код подразделения" v-model="user.passport_division_code">
          </div>
          <div class="right-menu__form__row">
            <input disabled type="text" name="passport_issued" class="right-menu__form__input"
                   placeholder="Выдан" v-model="user.passport_issued">
          </div>
        </div>
      </div>
      <div class="right-menu__form__block right-menu__form">
        <div class="right-menu__form__block__inner">
          <span class="right-menu__header__text">Телефон/Email</span>
          <div class="right-menu__form__row">
            <input disabled type="text" name="email" class="right-menu__form__input menu__form__input-inactive"
                   placeholder="Текущий e-mail" v-model="user.email">
          </div>
          <div class="right-menu__form__row">
            <input disabled type="text" name="phone_number" class="right-menu__form__input"
                   placeholder="Текущий номер телефона" value="+79000000000" v-model="user.phone_number">
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>

  import countries from 'country-data'

  export default {
    props: {
      user: {
        type: Object,
        default() {
          return {};
        }
      }
    },
    data() {
      return {
        paymentDetail: {},
        country_iso: null
      }
    },
    created() {
      if (countries.callingCountries[this.user.country_iso]) {
        this.country_iso = countries.callingCountries[this.user.country_iso].name;
      } else {
        this.country_iso = null;
      }

      this.paymentDetail = this.user.bank_requisites[0] !== undefined
        ? this.user.bank_requisites[0]
        : {
          bank: '',
          name: '',
          inn: '',
          kpp: '',
          ogrn: '',
          calculated_count: '',
          corporate_count: '',
          bik: '',
        };
    }
  }

</script>
