<template>

  <div>
    <table v-if="verificationResult && (verificationResult.processingState !== 'processing')" class="table">
      <thead>
      <tr>
        <th>Сервис</th>
        <th>Статус</th>
        <th>Комментарий</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="concern in verificationResult.overallResult.concerns">
        <td class="text-center">{{ concern.service }}</td>
        <td class="text-center">{{ concern.status }}</td>
        <td class="text-center">{{ concern.message }}</td>
      </tr>
      </tbody>
    </table>
    <div class="mb-3" v-else>Идёт обработка</div>
  </div>

</template>

<script>
  export default {
    props: {
      user: {
        type: Object,
        default() {
          return {};
        }
      }
    },
    computed: {
      verificationResult() {
        return (this.user && (this.user.verification_result !== null)) ? JSON.parse(this.user.verification_result) : null
      }
    }
  }
</script>
