<template>

    <div class="filter card">
        <div class="card-body operations-history">
            <form method="get">
                <div class="form-row">
                    <div class="col">
                        <div class="card-form-row">
                            <label>ID</label>
                            <input type="number" class="form-control" min="1" v-model="form.client_id" @input="onSubmit">
                        </div>
                    </div>

                    <div class="col">
                        <div class="card-form-row">
                            <label>ФИО</label>
                            <input type="text" class="form-control" v-model="form.client_full_name" @input="onSubmit">
                        </div>
                    </div>

                    <div class="col">
                        <div class="card-form-row">
                            <label>Дата "с"</label>
                            <date-picker
                                    lang="ru"
                                    input-class="form-control"
                                    v-model="form.start_date"
                                    @change="formatDate('start_date')"
                            >
                            </date-picker>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-form-row">
                            <label>Дата "по"</label>
                            <date-picker
                                    lang="ru"
                                    input-class="form-control"
                                    v-model="form.end_date"
                                    @change="formatDate('end_date')"
                            >
                            </date-picker>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card-form-row">
                            <label>Тип транзакции</label>
                            <select class="form-control" v-model="form.transaction_type" @change="onSubmit">
                                <option value=""></option>
                                <option v-for="(type, index) in types" :value="index">
                                    {{ type }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card-form-row">
                            <label>Валюта</label>
                            <select class="form-control" v-model="form.transaction_currency" @change="onSubmit">
                                <option value=""></option>
                                <option v-for="currency in currencies" :value="currency.name">
                                    {{ currency.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</template>

<script>

  export default {
    name: "filter-view",
    data() {
      return {
        form: {
          client_id: '',
          client_full_name: '',
          start_date: '',
          end_date: '',
          transaction_type: '',
          transaction_currency: ''
        },
      }
    },
    props: {
      currencies: {
        type: Array,
        required: true
      },
      types: {
        type: Object,
        required: true,
      }
    },
    methods: {
      formatDate(dateType) {
        if (this.form[dateType]) {
          this.onSubmit(dateType, this.form[dateType].toDateString());
        } else {
          this.onSubmit(dateType, '')
        }
      },
      onSubmit(dateType, date) {
        if (dateType === 'start_date') {
          this.form.start_date = date;
        }

        if (dateType === 'end_date') {
          this.form.end_date = date;
        }
        this.$emit('filter', this.form);
      }
    }
  }

</script>