<template>
  <div class="grid-view">
    <filter-view @filter="onFilter" :currencies="currencies" :types="types"></filter-view>
    <table-view ref="table" :transactions="transactions" @infinite="onInfinite" class="mt-3"></table-view>
  </div>
</template>

<script>
  import FilterView from './FilterView'
  import TableView from './TableView'
  import requests from "../requests"
  import _ from 'underscore'

  export default {
    name: "transaction-grid-view",
    data() {
      return {
        filterParams: {
          page: 0
        },
        transactions: [],
        currencies: [],
        types: {},
        searchTimer: null,
      }
    },
    components: {
      FilterView,
      TableView
    },
    created() {
      //this.load()
    },
    methods: {
      onFilter(filterParams) {
        this.$refs.table.changeInfiniteState('reset');
        this.filterParams = {
          ...filterParams,
          page: 1
        };
        this.debounceReload()
      },
      load() {
        requests.transaction.list(this.filterParams)
          .then(({data}) => {
            this.transactions = [...this.transactions, ...data.transactions]
          });
        requests.currencies.getAllCurrencies()
          .then(({data}) => {
            this.currencies = data.currencies
          });
        requests.transaction.getTypes()
          .then(({data}) => {
            this.types = data.indexes
          })
      },
      onInfinite($state) {
        this.filterParams.page++;
        requests.transaction.list(this.filterParams)
          .then(({data}) => {
            this.transactions = [...this.transactions, ...data.transactions]
            if (data.transactions.length < 10) {
              $state.complete()
            } else {
              $state.loaded()
            }
          })
      },
      debounceReload: _.debounce(function () {
        requests.transaction.list(this.filterParams)
          .then(({data}) => {
            this.transactions = data.transactions
          })
      }, 2000)
    }
  }
</script>
