<template>
    <div class="active-positions">
        <div v-if="transactions.length>0">
            <template v-for="transaction in transactions">
                <transaction-view :transaction="transaction" ></transaction-view>
            </template>
            <infinite-loading ref="infinite" @infinite="onInfinite">
                <div slot="no-more"></div>
                <div slot="no-results"></div>
            </infinite-loading>
        </div>
        <div v-if="transactions.length===0" class="info-block pt-5 pl-5 pr-5 pb-5" style="border-style: dashed">
            <div class="text-center" style="color: #9c9c9c">
                <i class="far fa-calendar fa-2x mr-3"></i> <span
                    class="h3">Transactions not found</span>
            </div>
        </div>
    </div>
</template>
<script>

  import {getCurrencySymbol, formatMoney, formatDateTime, getCurrencyAlias} from '../../main/utilities'
  import TransactionView from './TransactionView'
  import InfiniteLoading from 'vue-infinite-loading';

  export default {
    name: "table-view",
    props: {
      transactions: {
        type: Array,
        required: true
      }
    },
    components: {
      TransactionView,
      InfiniteLoading
    },
    methods: {
      onInfinite($state) {
        this.$emit('infinite', $state);
      },
      changeInfiniteState(state) {
        if (this.$refs.infinite !== undefined) {
          this.$refs.infinite.stateChanger[state]();
        }
      }
    },
    filters: {
      getCurrencySymbol,
      getCurrencyAlias,
      formatDateTime,
      formatMoney
    }
  }

</script>
