<template>
    <div class="transaction">
        <div class="transaction-header" :ref="`transaction_header_${transaction.id}`"
             @click="toggleMoreInfo(transaction.id)">
            <div class="operation__when">{{ transaction.created_at|formatDateTime}}
            </div>
            <div class="operation__item">
                <div class="operation__item-left">
                    <div class="operation__item-icon">%</div>
                    <div class="operation__item-content">
                        <div class="title">{{transaction | transactionTitle}}</div>
                    </div>
                </div>
                <div class="operation__item-right">
                    <div class="number">
                        <i :class="(transaction.withdrawals_count>0 && transaction.withdrawals.status==='PROCESSING'?
                        'far fa-clock':'fas fa-check-circle')"></i>
                        {{ transaction.balance_after - transaction.balance_before | formatMoney(transaction.currency)}}
                        {{transaction.currency|getCurrencySymbol}}
                        <i class="fas fa-caret-down" :ref="`transaction_caret_${transaction.id}`"></i>
                    </div>
                    <div class="label">paid</div>
                </div>
            </div>
        </div>
        <div class="transaction-body" :ref="`transaction_body_${transaction.id}`">
            <div class="operation__item">
                <div class="operation__item-left">
                    <div class="operation__item-content">
                        <div class="title">ID:</div>
                    </div>
                </div>
                <div class="operation__item-right">
                    <div class="number">{{transaction.id}}</div>
                </div>
            </div>
            <div class="operation__item">
                <div class="operation__item-left">
                    <div class="operation__item-content">
                        <div class="title">Дата:</div>
                    </div>
                </div>
                <div class="operation__item-right">
                    <div class="number">{{transaction.created_at|formatDateTime}}</div>
                </div>
            </div>
            <div class="operation__item">
                <div class="operation__item-left">
                    <div class="operation__item-content">
                        <div class="title">Продукт:</div>
                    </div>
                </div>
                <div class="operation__item-right">
                    <div class="number">{{transaction.comment}}</div>
                </div>
            </div>
            <div class="operation__item">
                <div class="operation__item-left">
                    <div class="operation__item-content">
                        <div class="title">Сумма:</div>
                    </div>
                </div>
                <div class="operation__item-right">
                    <div class="number"
                        >{{ transaction.balance_after - transaction.balance_before | formatMoney(transaction.currency)}}
                        {{transaction.currency|getCurrencySymbol}}</div>
                </div>
            </div>
            <div class="operation__item">
                <div class="operation__item-left">
                    <div class="operation__item-content">
                        <div class="title">ФИО:</div>
                    </div>
                </div>
                <div class="operation__item-right">
                    <div class="number">{{transaction.users | userFullName}}</div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
  import {getCurrencySymbol, formatMoney, formatDateTime, getCurrencyAlias, transactionTitle} from '../../main/utilities'

  export default {
    name: "transaction-view",
    props: {
      transaction: {
        type: Object,
        required: true
      }
    },
    filters: {
      getCurrencySymbol,
      getCurrencyAlias,
      formatDateTime,
      formatMoney,
      transactionTitle,
      userFullName(user) {
        let fullName = '';

        if (user.surname) {
          fullName = user.surname;
        }

        if (user.name) {
          fullName += ' ' + user.name;
        }

        if (user.patronymic) {
          fullName += ' ' + user.patronymic;
        }

        return fullName
      }
    },
    methods: {
      toggleMoreInfo(trans_id) {
        let caret_ref = 'transaction_caret_' + trans_id;
        let body_ref = 'transaction_body_' + trans_id;
        this.$refs[body_ref].style.display = this.$refs[body_ref].style.display === 'block' ? 'none' : 'block';
        this.$refs[caret_ref].className = this.$refs[caret_ref].className === "fas fa-caret-down" ? "fas fa-caret-up" : "fas fa-caret-down";
      }
    }
  }

</script>
