<template>
    <div class="email-verification">
        <button type="button" :disabled="!isClicked" class="btn btn-secondary" @click="onSendMail" :title="$t('words.email_verification')">
            <i class="fas fa-paper-plane"></i>
        </button>

        <right-panel ref="rightPanel" :title="$t('words.email_verification')">{{ message }}</right-panel>
    </div>
</template>

<script>
  import RightPanel from '../../../common/right-panel'
  import spinner from '../../../common/spinner'
  import requests from '../../requests'

  export default {
    name: "email-verification",
    components: {RightPanel},
    props: {
      userId: {
        type: [String, Number],
        required: true
      },
      isClicked: {
        type: Boolean,
        default: true,
      }
    },
    data () {
      return {
        message: ''
      }
    },
    created() {
      this.$nextTick(() => $(this.$el).removeClass('preview-btn'));
    },
    methods: {
      onSendMail () {
        spinner.toggle(true)
        requests.user.sendMail({ user_id: this.userId}).then(_ => {
          this.message = 'Сообщение отправлено'
          this.$refs.rightPanel.show()
          spinner.toggle(false)
        }).catch(_ => {
          this.message = 'Сообщение не отправлено'
          this.$refs.rightPanel.show()
          spinner.toggle(false)
        })
      }
    }
  }
</script>
