<template>
  <div>
    <div class="container-fluid account-setting">
      <h3 class="mb-3">{{ $t("dashboard.profile.accounts_setting") }}</h3>
      <div class="row align-items-center">

        <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
          <div class="account-setting__body d-flex justify-content-center align-items-start white-shadow">
            <div class="d-flex flex-column w-100">
              <bonus-on-account-settings-table/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import BonusOnAccountSettingsTable from "./accounts-settings/BonusOnAccountSettingsTable";
  export default {
    name: "AccountsSettings",
    components: {BonusOnAccountSettingsTable},
  }
</script>

<style scoped>

</style>
