<template>
  <div>
    <div class="container-fluid account-setting">
      <h3 class="mb-3">{{ $t("dashboard.profile.api_keys") }}</h3>
      <div class="row align-items-center">

        <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
          <div class="account-setting__body d-flex justify-content-center align-items-start white-shadow">
            <div class="d-flex flex-column w-100">
              <table class="table table-bordered table-responsive-md mb-0 account-setting__body__table" v-if="userKeys.length">
                <thead>
                <tr>
                  <th scope="col">{{ $t("dashboard.profile.name") }}</th>
                  <th scope="col">{{ $t("dashboard.profile.key") }}</th>
                  <th scope="col">{{ $t("dashboard.profile.secret") }}</th>
                  <th scope="col">{{ $t("dashboard.profile.keydel") }}</th>
                </tr>
                </thead>
                <tbody>
                  <tr v-for="row in userKeys">
                    <td>{{row.name}}</td>
                    <td>{{row.key}}</td>
                    <td>{{row.secret}}</td>
                    <td>
                      <button type="button" class="btn text-danger"
                              @click="openNotifyModal(row, $t('dashboard.profile.confirm'), $t('dashboard.profile.keyconfirm'))"
                      >
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="row" v-if="userKeys.length<5">
                <div class="col-lg-5 col-md-6 mb-md-0 mb-4 pt-3">
                  <div class="form-custom black">
                    <div class="form-control-custom mb-0">
                      <div class="d-flex flex-column w-100 white-shadow">
                        <div class="d-flex border-bottom-silver align-items-center justify-content-between">
                          <input @keydown.enter="sendSmsCode" class="w-100 border-0 text-silver pt-1" :placeholder="$t('dashboard.profile.enter_name')" name="amount" v-model="key_name" style="outline: none">
                          <span class="border-0 text-silver pt-0"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 pt-3" >
                  <button class="btn btn-primary" @click="sendSmsCode" :disabled="!key_name">{{ $t("dashboard.profile.create") }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ModalWrapper ref="modalConfirmWrapper">
      <confirm-modal
          :notification="notification"
          @close="resetNotification"
          @delete="removeItem"
      ></confirm-modal>
    </ModalWrapper>
    <ModalWrapper ref="modalWrapper">
      <div class="modal-header">
        <h6 class="font-weight-bold text-black d-inline-block">
          {{ modal.title }}
        </h6>
      </div>
      <div class="modal-body mb-3">
        <div class="mb-3 w-100">
          <p v-if="typeof modal.key !== 'undefined'">
            <b>{{ $t('dashboard.profile.key') }}</b>:<br/>
            <input style="width:100%; border:0" type="text" :value="modal.key">
          </p>
          <p v-if="typeof modal.secret !== 'undefined'"><b>{{ $t("dashboard.profile.secret") }}:<br/></b>
            <textarea rows="3" style="width:100%; border:0">{{modal.secret}}</textarea>
          </p>
          <vue-q-r-code-component
                  v-if="typeof modal.secret !== 'undefined'"
                  style="width: 150px;margin-right: 25px;height: 100%;"
                  :text="JSON.stringify({secret:modal.secret, key:modal.key})"
                  :size="150"
                  color="#000000"
                  bg-color="#ffffff"
                  error-level="L"
          />
          <div v-if="typeof modal.confirm !== 'undefined'" class="sms-code">
            <p>{{ $t("dashboard.profile.text51") }}</p>
            <div class="d-flex flex-column">
              <div class="d-flex border-bottom-silver align-items-center justify-content-between">
                <input style="outline: none" class="w-100 border-0 text-silver pt-1 text-center"
                       name="sms_code"
                       v-model="sms_code"
                       autofocus
                       @keydown.enter="createNewKey($t('dashboard.profile.key_gen_success'))"
                >
                <span class="border-0 text-silver pt-0"></span>
              </div>
              <div style="font-size: 13px;" class="error-msg font-weight-bold" ref="error_sms_code"></div>
            </div>
            <p style="color: #efae9c;font-size: 13px;" class="mb-0" v-if="seconds <= 60 && seconds > 0">
              {{ $t("dashboard.profile.text52") }}
              <span class="font-weight-bold" style="color: black; font-size: 15px">{{ seconds }}</span>
            </p>
            <a v-else class="font-weight-bold" @click.prevent="sendSmsCode" style="color: #676767; cursor: pointer">
              {{ $t("dashboard.profile.resend") }}
            </a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-between column-mobile">
          <button v-if="typeof modal.confirm !== 'undefined'" @click="createNewKey($t('dashboard.profile.key_gen_success'))" class="btn btn-primary">{{ $t("dashboard.profile.confirm") }}</button>
          <button v-else @click="closeModal" class="btn btn-primary">{{ $t("dashboard.profile.confirm") }}</button>
        </div>
      </div>
    </ModalWrapper>
  </div>

</template>

<script>
  import {mapGetters} from 'vuex'
  import requests from '../../../requests'
  import spinner from '../../../../common/spinner'
  import VueQRCodeComponent from 'vue-qrcode-component'
  import alert from "@/common/sweet-alert";
  import {handlerErrors} from "../../../utilities";
  import {handleErrorForAlert} from "@/main/utilities";
  import ConfirmModal from "./vouchers/ConfirmModal.vue";

  export default {
    name: "api-keys",
    components: {
      VueQRCodeComponent,
      ConfirmModal
    },
    computed:{
      ...mapGetters({

      })
    },
    data() {
      return {
        notification: {},
        seconds: 60,
        modal: {
          key: null,
          title: null,
          secret: null
        },
        sms_code:'',
        modalShow: false,
        isActiveAddCryptoBtn: false,
        key_name: null,
        userKeys: [],
        intervalId: null
      }
    },
    methods: {
      openNotifyModal(element, title, message) {
        this.notification = {
          title: title,
          message: message,
          element: element
        }
        this.$refs.modalConfirmWrapper.open()
      },
      resetNotification() {
        this.notification = {}
        this.$refs.modalConfirmWrapper.close()
      },
      timer() {
        if(this.intervalId !== null) {
          clearInterval(this.intervalId);
          this.seconds = 60
        }
        this.intervalId = setInterval(() => {
          this.seconds = --this.seconds;

          if (this.seconds === 0) {
            clearInterval(this.intervalId);
          }
        }, 1000)
      },
      closeModal() {
        this.$refs.modalWrapper.close()
        this.getList();
        this.modal = {
          key: null,
          title: null,
          secret: null
        }
      },
      sendSmsCode() {
        this.sms_code = '';
        spinner.toggle(true)
        requests.dashboard.profile.apiKeys.create({name: this.key_name, sms_code: this.sms_code}, true)
          .then(({data}) => {
            this.$refs.modalWrapper.open()
            this.modal = {
              title: this.$t('dashboard.profile.enter_sms'),
              confirm: true
            }
            this.seconds = 60;

            spinner.toggle(false);
            this.timer()
          })
          .catch(({ response }) => {
            spinner.toggle(false)
            alert.error(handleErrorForAlert(response.data.errors))
          });
      },
      createNewKey(title) {
        spinner.toggle(true)
        requests.dashboard.profile.apiKeys.create({name: this.key_name, sms_code: this.sms_code}, false)
          .then(({data}) => {
            this.key_name = null;
            this.modalShow = true;
            this.modal = {
              key: data.data.key,
              secret: data.data.secret,
              title: title,
            }
            spinner.toggle(false)
          })
          .catch(({ response }) => {
            spinner.toggle(false)
            if(response.data.errors[0].field) {
              handlerErrors(this.$refs, response.data.errors)
            }
            else {
              this.modalShow = false;
              this.modal = {}
              alert.error(handleErrorForAlert(response.data.errors))
            }
          });
      },
      removeItem(item){
        this.resetNotification()
        spinner.toggle(true)
        requests.dashboard.profile.apiKeys.delete({id: item.id}, false)
          .then(({data}) => {
            spinner.toggle(false)
            this.getList()
          })
          .catch(({ response }) => {
            spinner.toggle(false)
            if(response.data.errors[0].field) {
              handlerErrors(this.$refs, response.data.errors)
            }
            else {

              alert.error(handleErrorForAlert(response.data.errors))
            }
          });
      },
      getList() {
        spinner.toggle(true)
        requests.dashboard.profile.apiKeys.get()
          .then(({data}) => {
            this.userKeys = data.keys
            spinner.toggle(false)
          })
          .catch(({ response }) => {
            spinner.toggle(false)
            alert.error(handleErrorForAlert(response.data.errors))
          });
      }
    },
    filters: {

    },
    mounted(){
      this.getList()
    }
  }
</script>

