<template>
    <div class="content">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="active-positions">
                    <div v-if="authHistory.length>0">
                        <div class="transaction"
                             v-for="(item, index) in authHistory">
                            <div class="transaction-header" :ref="'history_header_'+item.id"
                                 @click="toggleMoreInfo(item.id)">
                                <div class="operation__when">{{ item.created_at|formatDateTime}}
                                </div>
                                <div class="operation__item">
                                    <div class="operation__item-left">
                                        <div class="operation__item-icon"><i :class="getBrowserIcon(index)"></i></div>
                                        <div class="operation__item-content">
                                            <div class="title">{{ item.browser }}</div>
                                        </div>
                                    </div>
                                    <div class="operation__item-right">
                                        <div class="label">{{ item.browser }} {{ item.browser_version }} <span v-if="item.os">({{item.os}} {{item.os_version}})</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="transaction-body" :ref="'history_body_'+item.id">
                                <div class="operation__item" v-if="item.location">
                                    <div class="operation__item-left">
                                        <div class="operation__item-content">
                                            <div class="title">{{ $t("dashboard.profile.location") }}:</div>
                                        </div>
                                    </div>
                                    <div class="operation__item-right">
                                        <div class="number">
                                            {{item.location}}
                                        </div>
                                    </div>
                                </div>
                                <div class="operation__item">
                                    <div class="operation__item-left">
                                        <div class="operation__item-content">
                                            <div class="title">{{ $t("dashboard.profile.device_type") }}:</div>
                                        </div>
                                    </div>
                                    <div class="operation__item-right">
                                        <div class="number">
                                            <span class="type">{{item.os_mobile | deviceTypeLabel(item)}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="operation__item" v-if="item.provider">
                                    <div class="operation__item-left">
                                        <div class="operation__item-content">
                                            <div class="title">{{ $t("dashboard.profile.provider") }}:</div>
                                        </div>
                                    </div>
                                    <div class="operation__item-right">
                                        <div class="number">
                                            {{item.provider }}
                                        </div>
                                    </div>
                                </div>
                                <div class="operation__item" v-if="item.ip">
                                    <div class="operation__item-left">
                                        <div class="operation__item-content">
                                            <div class="title">{{ $t("dashboard.profile.ip_address") }}:</div>
                                        </div>
                                    </div>
                                    <div class="operation__item-right">
                                        <div class="number">
                                            {{ item.ip }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <infinite-loading ref="infiniteLoading" @infinite="infiniteHandler">
                            <div slot="no-more"></div>
                            <div slot="no-results"></div>
                        </infinite-loading>
                    </div>
                    <div v-else class="info-block pt-5 pl-5 pr-5 pb-5" style="border-style: dashed">
                        <div class="text-center" style="color: #9c9c9c">
                            <i class="far fa-calendar fa-2x mr-3"></i> <span
                                class="h3">{{ $t("dashboard.profile.text53") }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import {formatDateTime, deviceTypeLabel} from '../../../utilities'
  import InfiniteLoading from 'vue-infinite-loading';
  import requests from '../../../requests';
  import {mapGetters} from 'vuex'

  export default {
    name: "authorization-history",
    components: {
      InfiniteLoading
    },
    computed: {
      ...mapGetters({
        authHistory: 'getUserAuthHistory',
      }),
    },
    filters: {
      formatDateTime,
      deviceTypeLabel
    },
    methods: {
      infiniteHandler($state) {
        requests.dashboard.profile.authHistory.getAuthHistory(this.authHistory.length || 0)
          .then(({data}) => {
            this.$store.dispatch('pushUserAuthHistory', data.auth_history).then(() => {
              if (data.auth_history.length < 10) {
                $state.complete();
              } else {
                $state.loaded();
              }
            })
          })
          .catch(({response}) => {
            $state.complete();
          });
      },
      getBrowserIcon (index) {
        let browser = this.authHistory[index].browser,
          isMobile = this.authHistory[index].os_mobile;
        
        switch (browser) {
          case 'Chrome':
            return 'fab fa-chrome';
          case 'Firefox':
            return 'fab fa-firefox';
          case 'Internet Explorer':
            return 'fab fa-internet-explorer';
          case 'Safari':
            return 'fab fa-safari';
          case 'EDGE':
            return 'fab fa-edge';
          default:
            if (isMobile) {
              return 'fas fa-mobile-alt'
            } else {
              return 'fas fa-desktop';
            }
        }
      },
      toggleMoreInfo(trans_id) {
        let body_ref = 'history_body_' + trans_id;
        this.$refs[body_ref][0].style.display = this.$refs[body_ref][0].style.display === 'block' ? 'none' : 'block';
      },
    }
  }
</script>
