<template>

  <div class="crypto-wallets">
    <div class="right-menu__form change_crypto_wallets mt-5">
      <success-view :success-message.sync="successMessage" :has-close="true"></success-view>
      <error-view :errors.sync="errors" :has-close="true"></error-view>

      <div v-if="isSendSmsCode === false" class="mt-3">
        <label>{{ $t("dashboard.profile.bitcoin_address") }}</label>
        <div class="right-menu__form__row">
          <input type="text"
                 class="right-menu__form__input menu__form__input-inactive"
                 v-model="form.bitcoin_address"
                 :placeholder="$t('dashboard.profile.bitcoin_address')"
                 ref="field_bitcoin_address">
          <input type="hidden" ref="bitcoin_id" v-model="form.bitcoin_id">

        </div>
        <div class="text-danger error-msg" id="error_bitcoin_address"></div>

        <label>{{ $t("dashboard.profile.ethereum_wallet") }}</label>
        <div class="right-menu__form__row">
          <input type="text"
                 class="right-menu__form__input menu__form__input-inactive"
                 :placeholder="$t('dashboard.profile.ethereum_wallet')"
                 v-model="form.ethereum_address"
                 ref="field_ethereum_address">
          <input type="hidden" ref="ethereum_id" v-model="form.ethereum_id">
        </div>
        <div class="text-danger error-msg" id="error_ethereum_address"></div>

        <label>{{ $t("dashboard.profile.tether_wallet") }}</label>
        <div class="right-menu__form__row">
          <input type="text"
                 class="right-menu__form__input menu__form__input-inactive"
                 v-model="form.tether_address"
                 :placeholder="$t('dashboard.profile.tether_wallet')"
                 ref="ethereum_address">
          <input type="hidden" ref="ethereum_id" v-model="form.tether_id">
        </div>
        <div class="text-danger error-msg" id="error_tether_address"></div>

        <button type="button"
                class="btn dashboard__btn"
                @click="requestChangeCryptoRequisitesCode"
                :disabled="isClickButtonSave === true">
          {{ $t("dashboard.profile.save") }}
        </button>
        <div class="right-menu__form__text"></div>
      </div>
      <div class="text-danger error-msg" id="error_bitcoin_wallet"></div>

      <div class="form-group" v-if="isSendSmsCode === true">
        <div class="row m-0">
          <input type="text" class="form-control" v-model="form.sms_code" :placeholder="$t('dashboard.profile.sms')" @input="checkCryptoSmsCode">
        </div>
        <div class="text-danger error-msg" id="error_sms_code"></div>

        <div class="mt-3 text-center ">
          <div v-if="seconds <= 60 && seconds > 0">
            <div>{{ $t("dashboard.profile.text6") }} {{ seconds }}</div>
            <div>{{ $t("dashboard.profile.text7") }}</div>
          </div>
          <div v-else class="mt-2">
            <a href="#" @click="requestChangeCryptoRequisitesCode">{{ $t("dashboard.profile.text8") }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>

  import {formLoader, handlerErrors} from '../../../utilities'
  import spinner from '../../../../common/spinner'
  import requests from '../../../requests'
  import {mapGetters} from 'vuex'

  export default {
    name: 'crypto-requisites',
    props: {
      user: Object
    },
    created() {
      formLoader(this.form, this.user);
      this.updateForm()
    },
    data() {
      return {
        isClickButtonSave: false,
        form: {
          bitcoin_id: '',
          bitcoin_address: '',
          ethereum_id: '',
          ethereum_address: '',
          tether_id: '',
          tether_address: '',
          sms_code: ''
        },
        isSendSmsCode: false,
        successMessage: '',
        timeout: null,
        seconds: 60,
        errors: []
      }
    },
    computed: {
      ...mapGetters({
        isUserVerified: 'isUserVerified',
        crypto_requisites: 'getCryptoRequisites'
      })
    },
    methods: {
      requestChangeCryptoRequisitesCode() {
        this.isClickButtonSave = true;
        this.errors = [];
        this.successMessage = '';
        this.$emit('ajax:start');

        requests.dashboard.profile.postChangeCryptoRequisites(this.form, !this.isSendSmsCode || this.seconds <= 0)
          .then(({ data }) => {
            this.successMessage = data.message;
            this.isSendSmsCode = true;
            this.seconds = 60;

            this.$emit('ajax:finish');
            this.timer();
          })
          .catch(({ response }) => {
            this.isClickButtonSave = false;

            this.errors = handlerErrors(this.$refs, response.data.errors);
            this.$emit('ajax:finish');
          });
      },
      sendFormData() {
        this.errors = [];
        this.successMessage = '';
        this.$emit('ajax:start');

        requests.dashboard.profile.postChangeCryptoRequisites(this.form)
          .then(({ data }) => {
            this.successMessage = data.message;
            this.form.sms_code = '';
            this.isClickButtonSave = false;
            this.isSendSmsCode = false;
            this.$store.dispatch('updateCryptoRequisite', data.requisite)
            this.$emit('modal:close', 1500);
            this.$emit('ajax:finish');
          })
          .catch(({response}) => {
            if (response.data.invalidCode !== true) {
              this.isSendSmsCode = false;
              this.form.sms_code = null;
            }
            this.isClickButtonSave = false;
            this.errors = handlerErrors(this.$refs, response.data.errors)
            this.$emit('ajax:finish');
          });
      },
      timer() {
        let intervalId = setInterval(() => {
          this.seconds = --this.seconds;

          if (this.seconds === 0) {
            clearInterval(intervalId)
          }
        }, 1000)
      },
      checkCryptoSmsCode() {
        let codeLength = this.form.sms_code.length;
        if (codeLength > 6) {
          this.form.sms_code = this.form.sms_code.substr(0, 6);
          codeLength = this.form.sms_code.length;
        }
        if (codeLength === 6) {
          this.sendFormData();
        }
      },
      updateForm(){
        let requisites = this.crypto_requisites['WITHDRAWAL'];
        if (requisites) {
          this.form.bitcoin_id = requisites.BTC ? requisites.BTC.id : '';
          this.form.bitcoin_address = requisites.BTC ? requisites.BTC.address : '';
          this.form.ethereum_id = requisites.ETH ? requisites.ETH.id : '';
          this.form.ethereum_address = requisites.ETH ? requisites.ETH.address : '';
          this.form.tether_id = requisites.USDT ? requisites.USDT.id : '';
          this.form.tether_address = requisites.USDT ? requisites.USDT.address : '';
        }
      }
    },
    watch: {
      crypto_requisites() {
        this.updateForm()
      }
    }
  }

</script>
