<template>

    <div class="mt-3" v-if="loaded">
        <div class="alert alert-success" v-if="successMessage">{{ successMessage }}</div>
        <error-view :errors="errors"></error-view>
        <form class="document-container d-inline" @submit.prevent="onSubmitAppendDocuments" method="post"
              v-if="requiredDocumentsUploaded || isUserVerified">
            <ul class="info-block__inner-text">
                <li v-for="(document, index) in documents">
                    {{ document.type_label }} :
                    <a :href="document.url" target="_blank">{{ $t("dashboard.profile.open") }}</a>
                    <span v-if="document.comment">
                        / <a @click="showComment($event, index)" href="#">{{ $t("dashboard.profile.comment") }}</a>
                    </span>
                    <right-panel ref="rightPanel" :title="'Comment for ' + document.type_label ">
                        <hr>
                        <p>{{ document.comment }}</p>
                    </right-panel>
                </li>
                <div v-if="!isUserVerified">
                    <hr>
                    <div v-for="(addedDocument, index) in addedDocuments">
                        <p>{{ addedDocument.type_label }}</p>
                        <div class="row">
                            <div class="col-md-11">
                                <textarea class="form-control" rows="3" :placeholder="$t('dashboard.profile.comment')" name="comment[]"
                                          v-model="addedDocument.comment"></textarea>
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-danger float-right" @click="removeDocument(index)"><i class="fas fa-trash"></i></button>
                            </div>
                        </div>
                        <upload-document
                                :document="addedDocument"
                                accept="image/*, application/pdf"
                                :document-type="addedDocument.type"
                                :remove="!isUserVerified"
                                name="documents[]"
                                :id="'document' + index"
                        />
                    </div>
                    <label for="add_new_item">{{ $t("dashboard.profile.add_doc") }}:</label>
                    <select class="form-control" id="add_new_item" v-model="newDocumentType" @change="addNewDocument">
                        <option :value="null" disabled>{{ $t("dashboard.profile.select_doc") }}</option>
                        <option v-for="(name, key) in documentTypes" :value="key">
                            {{ name }}
                        </option>
                    </select>
                </div>
                
                <p class="mt-4" v-if="!isUserVerified && addedDocuments.length">
                    <button type="submit" class="btn dashboard__btn">
                        <i class="fas fa-share-square"></i> {{ $t("dashboard.profile.submit") }}
                    </button>
                </p>
            </ul>
        </form>
        <form class="document-container d-inline" @submit.prevent="onSubmit" method="post"
              v-else>
            <div class="info-block__inner-text">
                <p>1) {{ $t("dashboard.profile.id_verification") }}:</p>
                <p>{{ $t("dashboard.profile.text54") }}</p>
            </div>

            <ul class="info-block__inner-text">
                <li>{{ $t("dashboard.profile.photo") }}</li>
                <li>{{ $t("dashboard.profile.your_name") }}</li>
                <li>{{ $t("dashboard.profile.your_dob") }}</li>
                <li>{{ $t("dashboard.profile.valid_date") }}</li>
                <li>{{ $t("dashboard.profile.your_signature") }}</li>
            </ul>
            <textarea class="form-control" rows="3" :placeholder="$t('dashboard.profile.comment')" name="comment[]"
                      v-model="comments.national_passport"></textarea>
            <upload-document
                    :document="documents.national_passport"
                    accept="image/*, application/pdf"
                    document-type="national_passport"
                    :remove="!isUserVerified"
                    name="documents[]"
                    id="document1"
            />

            <div class="info-block__inner-text mt-3">
                <p>2) {{ $t("dashboard.profile.selfie_with") }}</p>
                <p>{{ $t("dashboard.profile.text55") }}</p>
            </div>
            <textarea class="form-control" rows="3" :placeholder="$t('dashboard.profile.comment')" name="comment[]"
                      v-model="comments.photo_with_you"></textarea>
            <upload-document
                    accept="image/*, application/pdf"
                    :document="documents.photo_with_you"
                    :remove="!isUserVerified"
                    document-type="photo_with_you"
                    name="documents[]"
                    id="document2"
            />

            <div class="info-block__inner-text mt-3">
                <p>3) {{ $t("dashboard.profile.utility") }}</p>
                <p>{{ $t("dashboard.profile.text56") }}</p>
            </div>

            <ul class="info-block__inner-text">
                <li>{{ $t("dashboard.profile.phone_bill") }}</li>
                <li>{{ $t("dashboard.profile.utility") }}</li>
                <li>{{ $t("dashboard.profile.insurance_bill") }}</li>
                <li>{{ $t("dashboard.profile.medical_bill") }}</li>
                <li>{{ $t("dashboard.profile.bank_statement") }}</li>
                <li>{{ $t("dashboard.profile.text57") }}</li>
            </ul>
            <textarea class="form-control" rows="3" :placeholder="$t('dashboard.profile.comment')" name="comment[]"
                      v-model="comments.utility_bill"></textarea>
            <upload-document
                    :document="documents.utility_bill"
                    accept="image/*, application/pdf"
                    document-type="utility_bill"
                    :remove="!isUserVerified"
                    name="documents[]"
                    id="document3"
            />

            <p class="mt-4" v-if="!isUserVerified">
                <button type="submit" class="btn dashboard__btn">
                    <i class="fas fa-share-square"></i> {{ $t("dashboard.profile.submit") }}
                </button>
            </p>
        </form>
    </div>

</template>

<script>

  import UploadDocument from '../blocks/UploadDocument.vue'
  import {handlerErrors} from '../../../utilities'
  import RightPanel from "../../../../common/right-panel";
  import requests from '../../../requests'
  import {mapGetters} from 'vuex'

  export default {
    name: 'documents',
    props: {
      user: Object
    },
    components: {
      UploadDocument,
      RightPanel
    },
    created() {
      this.$parent.spin(true)
      requests.dashboard.profile.getDocuments()
        .then(({data}) => {
          this.requiredDocumentsUploaded = data.documents_uploaded;
          this.documentTypes = data.document_types;
          this.setDocuments(data.documents);
          this.setComments(data.documents);
          this.loaded = true;
          this.$parent.spin(false)
        })
    },
    data() {
      return {
        documents: {
          national_passport: {},
          photo_with_you: {},
          utility_bill: {},
        },
        comments: {
          national_passport: null,
          photo_with_you: null,
          utility_bill: null,
        },
        addedDocuments: [],
        documentTypes: {},
        newDocumentType : null,
        loaded: false,
        requiredDocumentsUploaded: false,
        successMessage: '',
        errors: []
      }
    },
    computed: mapGetters({
      isUserVerified: 'isUserVerified'
    }),
    methods: {
      setDocuments(documents) {
        if (typeof documents === 'object') {
          if (this.requiredDocumentsUploaded) {
            this.documents = documents;
          } else {
            let newDocuments = {};
            documents.forEach(document => {
              newDocuments[document.type] = document
            });
            this.documents = {...this.documents, ...newDocuments}
          }
        }
      },
      setComments(documents) {
        if (typeof documents === 'object') {
          if (!this.requiredDocumentsUploaded) {
            let newComments = {};
            documents.forEach(document => {
              newComments[document.type] = document.comment
            });
            this.comments = {...this.comments, ...newComments}
          }
        }
      },
      addNewDocument () {
        this.addedDocuments.push({
          type: this.newDocumentType,
          comment: null,
          type_label: this.documentTypes[this.newDocumentType]
        });
        this.newDocumentType = null;
      },
      removeDocument (key) {
        this.addedDocuments.splice(key, 1);
      },
      showComment (e, index) {
        e.preventDefault();
        this.$refs.rightPanel[index].show()
      },
      onSubmit(e) {
        this.$emit('ajax:start');

        requests.dashboard.profile.postDocuments(new FormData(e.currentTarget))
          .then(({data}) => {
            this.errors = [];
            this.successMessage = data.message;
            this.requiredDocumentsUploaded = data.documents_uploaded;
            this.setDocuments(data.documents);
            this.$emit('ajax:finish');
            this.$store.dispatch('loadDashboard');
          })
          .catch(({response}) => {
            this.errors = handlerErrors(this.$refs, response.data.errors);
            this.$emit('ajax:finish');
          })
      },
      onSubmitAppendDocuments(e) {
        this.$emit('ajax:start');

        requests.dashboard.profile.appendDocuments(new FormData(e.currentTarget))
          .then(({data}) => {
            this.errors = [];
            this.successMessage = data.message;
            this.requiredDocumentsUploaded = data.documents_uploaded;
            this.addedDocuments = [];
            this.setDocuments(data.documents);
            this.$emit('ajax:finish');
            this.$store.dispatch('loadDashboard');
          })
          .catch(({response}) => {
            this.errors = handlerErrors(this.$refs, response.data.errors);
            this.$emit('ajax:finish');
          })
      },
    }
  }

</script>
