<template>
  <div style="background-color: rgba(255, 255, 255, 0.8); overflow-x: hidden; overflow-y: auto" class="modal-background white-background w-100" :class="isOpenProfile ? 'show' : 'hide'">
    <div class="modal-dialog modal-dialog--mob d-flex align-items-center modal-lg">
      <div class="modal-content align-self-center m-auto">
        <div class="close-block close-block--inner text-center">
          <svg @click="toggleOpenProfile" class="close__svg" width="30px" height="30px">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/close.svg#close"></use>
          </svg>
        </div>
        <div class="modal-header">
          <swiper ref="headerSlider" :options="headerSlideOption" class="d-flex white-shadow header-hide-desk" style="min-width: unset">
            <swiper-slide>
              <div class="flex-item m-0">
                <div class="d-inline-block">
                  <svg width="30px" height="30px" class="d-block" :style="(step >= 2 || (endStep && step !== 1)) ? 'fill:#64d731' : ''">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/contact.svg#contacts"></use>
                  </svg>
                </div>
                <div class="d-inline-block">
                  <span class="d-block">{{ $t("dashboard.profile.contacts") }}</span>
                  <small :class="(step >= 2 || (endStep && step !== 1)) ? 'text-green d-block' : 'd-none'"
                         :style="(step >= 2 || (endStep && step !== 1)) ? 'font-size: 10px; line-height: 14px;' : ''"
                    > {{ $t("dashboard.profile.confirmed") }}</small>
                </div>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="flex-item  m-0">
                <div class="d-inline-block">
                  <i class="far fa-address-card d-block"
                     :class="(step >= 3 || (endStep && step !== 2)) ? 'text-green' : 'text-black'"
                     style="font-size: 25px;"></i>
                </div>
                <div class="d-inline-block">
                  <span class="d-block">{{ $t("dashboard.profile.personal_data") }}</span>
                  <small :class="(step >= 3 || (endStep && step !== 2)) ? 'text-green d-block' : 'd-none'"
                         :style="(step >= 3 || (endStep && step !== 2)) ? 'font-size: 10px; line-height: 14px;' : ''"
                    >{{ $t("dashboard.profile.filled") }}</small>
                </div>
              </div>
            </swiper-slide>
            <swiper-slide v-if="!user.isEUCitizen">
              <div class="flex-item  m-0">
                <div class="d-inline-block">
                  <i class="fas fa-map-marker-alt d-block"
                     :class="(step >= 4 || (endStep && step !== 3)) ? 'text-green' : 'text-black'"
                     style="font-size: 25px;"></i>
                </div>
                <div class="d-inline-block">
                  <span class="d-block">{{ $t("dashboard.profile.residential_address") }}</span>
                  <small :class="(step >= 4 || (endStep && step !== 3)) ? 'text-green d-block' : 'd-none'"
                         :style="(step >= 4 || (endStep && step !== 3)) ? 'font-size: 10px; line-height: 14px;' : ''"
                    >{{ $t("dashboard.profile.filled") }}</small>
                </div>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="flex-item  m-0">
                <div class="d-inline-block">
                  <i class="fas fa-file-invoice"
                     :class="(step >= 5 || (endStep && step !== 4)) ? 'text-green' : 'text-black'"
                     style="font-size: 25px;"></i>
                </div>
                <div class="d-inline-block">
                  <span class="d-block">{{ $t("dashboard.documents.documents") }}</span>
                  <small :class="(step >= 5 || (endStep && step !== 4)) ? 'text-green d-block' : 'd-none'"
                         :style="(step >= 5 || (endStep && step !== 4)) ? 'font-size: 10px; line-height: 14px;' : ''"
                    >{{ $t("dashboard.profile.filled") }}</small>
                </div>
              </div>
            </swiper-slide>
          </swiper>
          <div class="d-flex white-shadow header-hide-mobile">
            <div class="flex-item">
              <div class="d-inline-block">
                <svg width="30px" height="30px" class="d-block"
                     :style="(step >= 2 || (endStep && step !== 1))  ? 'fill:#64d731' : ''"
                  ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/contact.svg#contacts"></use>
                </svg>
              </div>
              <div class="d-inline-block">
                <span class="d-block">{{ $t("dashboard.profile.contacts") }}</span>
                <small :class="(step >= 2 || (endStep && step !== 1)) ? 'text-green d-block' : 'd-none'"
                       :style="(step >= 2 || (endStep && step !== 1)) ? 'font-size: 10px; line-height: 14px;' : ''"
                  >{{ $t("dashboard.profile.confirmed") }}</small>
              </div>
            </div>
            <div class="flex-item">
              <div class="d-inline-block">
                <i class="far fa-address-card d-block"
                   :class="(step >= 3 || (endStep && step !== 2)) ? 'text-green' : 'text-black'"
                   style="font-size: 25px;"></i>
              </div>
              <div class="d-inline-block">
                <span class="d-block">{{ $t("dashboard.profile.personal_data") }}</span>
                <small :class="(step >= 3 || (endStep && step !== 2)) ? 'text-green d-block' : 'd-none'"
                       :style="(step >= 3 || (endStep && step !== 2)) ? 'font-size: 10px; line-height: 14px;' : ''"
                  >{{ $t("dashboard.profile.filled") }}</small>
              </div>
            </div>
            <div v-if="!user.isEUCitizen" class="flex-item">
              <div class="d-inline-block">
                <i class="fas fa-map-marker-alt d-block"
                   :class="(step >= 4 || (endStep && step !== 3)) ? 'text-green' : 'text-black'"
                   style="font-size: 25px;"></i>
              </div>
              <div class="d-inline-block">
                <span class="d-block">{{ $t("dashboard.profile.residential_address") }}</span>
                <small :class="(step >= 4 || (endStep && step !== 3)) ? 'text-green d-block' : 'd-none'"
                       :style="(step >= 4 || (endStep && step !== 3)) ? 'font-size: 10px; line-height: 14px;' : ''"
                  >{{ $t("dashboard.profile.filled") }}</small>
              </div>
            </div>
            <div class="flex-item">
              <div class="d-inline-block">
                <i class="fas fa-file-invoice"
                   :class="(step >= 5 || (endStep && step !== 4)) ? 'text-green' : 'text-black'"
                   style="font-size: 25px;"></i>
              </div>
              <div class="d-inline-block">
                <span class="d-block">{{ $t("dashboard.documents.documents") }}</span>
                <small :class="(step >= 5 || (endStep && step !== 4)) ? 'text-green d-block' : 'd-none'"
                       :style="(step >= 5 || (endStep && step !== 4)) ? 'font-size: 10px; line-height: 14px;' : ''"
                  >{{ $t("dashboard.profile.filled") }}</small>
              </div>
            </div>
            <div class="ml-auto silver-background p-1 pl-3 pr-3 flex-item my-mob-hide">
              <span class="text-black">{{ $t("dashboard.profile.verification_status") }}:</span>
              <span :class="user.verified === 'NOT_VERIFIED' ? 'text-danger' : ''"
                >{{ user.verified | verifiedStatusTitle }}</span>
            </div>
          </div>
          <div class="d-flex header-hide-desk">
            <div class="silver-background p-1 pl-3 pr-3 flex-item ml-auto mr-auto mt-3 text-left-laptop-verifidet">
              <span class="text-black status-verification">{{ $t("dashboard.profile.verification_status") }}:
                <span :class="user.verified === 'NOT_VERIFIED' ? 'text-danger' : ''"
                  >{{ user.verified | verifiedStatusTitle }}</span>
              </span>
            </div>
          </div>
        </div>
        <div class="modal-body" v-if="step === 1">
          <div class="d-flex">
            <div class="d-flex w-60">
              <div class="container-fluid p-0 contact">
                <div class="row">
                  <div class="col-md-12">
                    <h3 style="line-height: 1" class="mb-5">{{ $t("dashboard.profile.contacts") }}</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 col-sm-6 col-12">
                    <change-phone></change-phone>
                  </div>
                  <div class="col-md-6 col-sm-6 col-12">
                    <change-email></change-email>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex w-40">
              <div class="white-shadow pb-4 pt-4">
                <div class="row align-items-center">
                  <div class="col-md-3 col-sm-3 col-12 text-center">
                    <img src="/assets/images/login.png" class="img-fluid mb-3 mb-md-0">
                  </div>
                  <div class="col-md-9 col-sm-9 col-12">
                    <p><strong>{{ $t("dashboard.profile.text58") }}</strong></p>
                    <p>{{ $t("dashboard.profile.text59") }}</p>
                    <p>{{ $t("dashboard.profile.text60") }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body" v-else-if="step === 2">
          <div class="d-flex">
            <div class="d-flex w-55 mr-auto">
              <div class="container-fluid p-0">
                <div class="row">
                  <div class="col-md-12">
                    <h3 style="line-height: 1" class="mb-5">{{ $t("dashboard.profile.personal_data") }}</h3>
                  </div>
                </div>
                <personal-data ref="personalData" v-on:inc-step="incStep"></personal-data>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body" v-else-if="step === 3 && !user.isEUCitizen">
          <div class="d-flex">
            <div class="d-flex w-55 mr-auto">
              <div class="container-fluid p-0">
                <div class="row">
                  <div class="col-md-12">
                    <h3 style="line-height: 1" class="mb-5">{{ $t("dashboard.profile.residential_address") }}</h3>
                  </div>
                </div>
                <residence-address ref="residenceAddressData" v-on:inc-step="incStep"></residence-address>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body" v-if="step === 4">
          <div class="container-fluid p-0">
            <div class="row">
              <div class="col-md-12">
                <h3 style="line-height: 1" class="mb-5">{{ $t("dashboard.documents.documents") }}</h3>
              </div>
            </div>
          </div>
          <documents ref="documentsData" @inc-step="incStep" @close-modal="toggleOpenProfile" />
        </div>
        <div class="modal-body" v-if="step === 5">
          <div class="container-fluid p-0">
            <div class="row">
              <error-view :errors="errors"></error-view>
            </div>
            <div class="row">
              <div class="col-md-12 mb-4">
                <h3 style="line-height: 1" class="mb-3"><i class="fas fa-check text-green"></i>{{ $t("dashboard.profile.contacts") }}</h3>
              </div>
            </div>
            <div class="row contact mb-5">
              <div class="col-md-4 col-sm-6 col-12">
                <change-phone></change-phone>
              </div>
              <div class="col-md-6 col-sm-6 col-12">
                <change-email></change-email>
              </div>
            </div>
          </div>
          <hr>
          <div class="container-fluid p-0">
            <div class="row">
              <div class="col-md-12 mb-4 mt-4">
                <h3 style="line-height: 1" class="d-inline-block mr-2">
                  <i class="fas fa-check text-green"></i>{{ $t("dashboard.profile.personal_data") }}</h3>
                <button class="btn btn-secondary mt-2" @click="goToStep(2)">{{ $t("dashboard.profile.change") }}</button>
              </div>
            </div>
            <div class="row contact mb-5">
              <div class="col-md-3 mb-2 mt-2">
                <small class="text-silver d-block">{{ $t("dashboard.profile.name") }}</small>
                <span class="text-black d-block">{{ user.name }}</span>
              </div>
              <div class="col-md-3 mb-2 mt-2">
                <small class="text-silver d-block">{{ $t("dashboard.profile.surname") }}</small>
                <span class="text-black d-block">{{ user.surname }}</span>
              </div>
              <div class="col-md-3 mb-2 mt-2">
                <small class="text-silver d-block">{{ $t("dashboard.profile.dob") }}</small>
                <span class="text-black d-block">{{ user.birthday | formatDate }}</span>
              </div>
              <div class="col-md-3 mb-2 mt-2"> </div>
              <div class="col-md-3 mb-2 mt-2">
                <small class="text-silver d-block">{{ $t("dashboard.profile.sex") }}</small>
                <span class="text-black d-block">{{ user.sex }}</span>
              </div>
              <div class="col-md-6 mb-2 mt-2">
                <small class="text-silver d-block">{{ $t("dashboard.profile.residence") }}</small>
                <span class="text-black d-block">{{ user.citizenship }}</span>
              </div>
            </div>
          </div>
          <hr>
          <div v-if="!user.isEUCitizen" class="container-fluid p-0">
            <div class="row">
              <div class="col-md-12 mb-4 mt-4">
                <h3 style="line-height: 1" class="d-inline-block mr-2">
                  <i class="fas fa-check text-green"></i>{{ $t("dashboard.profile.residential_address") }}</h3>
                <button class="btn btn-secondary mt-2" @click="goToStep(3)">{{ $t("dashboard.profile.change") }}</button>
              </div>
            </div>
            <div class="row contact mb-5">
              <div class="col-md-6 mb-2">
                <small class="text-silver d-block">{{ $t("dashboard.profile.address") }}</small>
                <span class="text-black d-block">{{ fullAddress }}</span>
              </div>
              <div class="col-md-3 offset-md-3 mb-2 text-left"> </div>
            </div>
          </div>
          <hr>
          <div class="container-fluid p-0">
            <div class="row">
              <div class="col-md-12 mb-4 mt-4">
                <h3 style="line-height: 1" class="d-inline-block mr-2"><i class="fas fa-check text-green"></i>{{ $t("dashboard.documents.documents") }}</h3>
                <button class="btn btn-secondary mt-2" @click="goToStep(4)">{{ $t("dashboard.profile.change") }}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary mob-btn-modal" v-if="isOpenProfile"
            :style="(step === 5) ? 'width: 270px' : ''" @click.prevent="nextStep">
            <span v-if="step !== 5 && !isUserVerified">{{ $t("dashboard.profile.next") }}</span>
            <span v-else-if="isUserVerified">{{ $t("dashboard.profile.send") }}</span>
            <span v-else>{{ $t("dashboard.profile.text61") }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import {swiper, swiperSlide} from 'vue-awesome-swiper'
import {eventBus} from "../../../eventBus"
import requests from '../../../requests'
import spinner from '../../../../common/spinner'
import {formatDate, handlerErrors, verifiedStatusTitle} from '../../../utilities'
import PersonalData from "./edit/PersonalData";
import ResidenceAddress from "./edit/ResidenceAddress";
import Documents from "./edit/Documents";
import ChangePhone from "./edit/ChangePhone";
import ChangeEmail from "./edit/ChangeEmail";

export default {
  name: "edit-profile-modal",
  data() {
    return {
      headerSlideOption: {
        initialSlide: 0,
        slidesPerView: (screen.width >= 570) ? 2 : 1,
        slidesPerGroup: (screen.width >= 570) ? 2 : 1,
        centerInsufficientSlides: true,
        pagination: {
          el: '.swiper-pagination',
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      },
      isOpenProfile: false,
      step: 1,
      endStep: false,
      selectedItem: null,
      isFocusSelect: false,
      isOpenSelect: false,
      errors: []
    }
  },

  created () {
    eventBus.$on('open-profile', ({step, endStep}) => {
      if (step === 3 && this.user.isEUCitizen) {
        step++;
      }
      this.step = step;
      this.endStep = endStep;
      this.isOpenProfile = true;
    })
  },
  computed: {
    ...mapGetters({
      isUserVerified: 'isUserVerified',
      user: 'getUser'
    }),
    fullAddress: function () {
      return `${this.user.postcode} ${this.user.street} ${this.user.house_number} ${this.user.apartment_number}`;
    }
  },
  watch: {
    isOpenProfile (state) {
      document.body.style.overflow = state?'hidden':'auto'
    }
  },
  components: {
    ChangeEmail,
    ChangePhone,
    Documents,
    ResidenceAddress,
    PersonalData,
    swiper,
    swiperSlide
  },
  filters: {
    formatDate,
    verifiedStatusTitle
  },
  methods: {
    nextStep() {
      switch (this.step) {
        case 2:
          this.$refs.personalData.savePersonalData();
          break;
        case 3:
          this.$refs.residenceAddressData.sendResidenceData();
          break;
        case 4:
          this.$refs.documentsData.sendDocuments();
          break;
        case 5:
          this.sendToVerify();
          break;
        default:
          this.incStep();
          break;
      }
    },
    incStep() {
      if (this.endStep) {
        this.step = 5;
      } else {
        this.step++;
      }
      if ((this.step === 3) && this.user.isEUCitizen) {
        this.incStep();
      }
      if (this.step === 5) {
        this.endStep = true;
      }
      if (screen.width >= 570 && this.step === 3) {
        this.$refs.headerSlider.swiper.slideNext(400)
      } else if (screen.width < 570) {
        this.$refs.headerSlider.swiper.slideNext(400)
      }
    },
    goToStep(step) {
      this.step = step
    },
    toggleOpenProfile() {
      this.isOpenProfile = !this.isOpenProfile
    },
    sendToVerify() {
      this.errors = []
      spinner.toggle(true)
      requests.dashboard.profile.verifications.postChangeVerificationStatus().then(response => {
        this.$store.commit('updateFillProfile', true)
        this.$store.dispatch('updateUserData').then(() => {
          spinner.toggle(false)
          this.$router.push({path: '/dashboard/profile'})
          this.isOpenProfile = false
        });
      }).catch(({response}) => {
        this.errors = handlerErrors(this.$refs, response.data)
        spinner.toggle(false)
      })
    }
  },
}
</script>
