<template>
    <form @submit.prevent="onSubmit" method="post">
        <hr>
        <div class="alert alert-success" v-if="successMessage">{{ successMessage }}</div>
        <error-view :errors="errors"></error-view>
        <p>{{ $t("dashboard.profile.setting_notifications") }}</p>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="notify_auth_enabled" v-model="form.notify_auth_enabled">
                {{ $t("dashboard.profile.authorization") }} <i class="fas fa-info"
                                 v-tooltip.top="$t('dashboard.profile.text62')"></i>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="notify_change_pass_enabled" v-model="form.notify_change_pass_enabled">
                {{ $t("dashboard.profile.change_password") }} <i class="fas fa-info" v-tooltip.top="$t('dashboard.profile.text63')"></i>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="notify_exchange_operations_enabled"
                       v-model="form.notify_exchange_operations_enabled">
                {{ $t("dashboard.profile.exchange_operations") }} <i class="fas fa-info"
                                       v-tooltip.top="$t('dashboard.profile.text64')"></i>
            </label>
        </div>
        <hr>
        <p>{{ $t("dashboard.profile.account_security") }}</p>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="two_factor_auth_enabled" v-model="form.two_factor_auth_enabled">
                {{ $t("dashboard.profile.two_factor") }} <i class="fas fa-info"
                                             v-tooltip.top="$t('dashboard.profile.text65')"></i>
            </label>
        </div>
        <label for="allowed_ips">
            {{ $t("dashboard.profile.text66") }} <i class="fas fa-info"
                                         v-tooltip.top="$t('dashboard.profile.text67')"></i></label>
        <multiple-input :data="form.allowed_ips" add-text="Add IP address"></multiple-input>
        
        <p class="mt-4">
            <button type="submit" class="btn dashboard__btn">
                <i class="fas fa-share-square"></i> {{ $t("dashboard.profile.save") }}
            </button>
        </p>

    </form>
</template>

<script>
  import {formLoader, handlerErrors} from '../../../utilities'
  import requests from '../../../requests'
  import MultipleInput from '../../../../common/form-elements/MultipleInput.vue'
  
  export default {
    name: "security-settings",
    props: {
      user: Object
    },
    components: {
      MultipleInput
    },
    created() {
      formLoader(this.form, this.user);
      if (!this.form.allowed_ips) {
        this.form.allowed_ips = [];
      }
    },
    data() {
      return {
        errors: [],
        successMessage: '',
        form: {
          notify_auth_enabled: true,
          notify_change_pass_enabled: true,
          notify_exchange_operations_enabled: true,
          two_factor_auth_enabled: true,
          allowed_ips: []
        }
      }
    },
    methods: {
      onSubmit() {
        this.$emit('ajax:start');

        requests.dashboard.profile.security.postSecuritySettings(this.form)
          .then(({ data }) => {
            this.successMessage = data.message;
            this.$emit('ajax:finish');
            if (typeof data.data !== 'undefined' && data.data.logout) {
              this.$store.dispatch('logout').then(() => window.location.href = data.data.redirect_to);
            } else {
              this.$store.dispatch('loadDashboard');
            }
          })
          .catch(({response}) => {
            this.errors = handlerErrors(this.$refs, response.data.errors);
            this.$emit('ajax:finish');
          })
      }
    }
  }
</script>
