<template>
  <section id="body" class="container-fluid mt-5">
    <div class="container-fluid">
      <!--<div class="row mb-2">
        <div v-if="resources.partnerBonusType">
          <div class="btn-group tabs-partners" role="group">
            <button type="button" class="btn btn-secondary"
                    :class="(resources.partnerBonusType === 'CFX') ? 'active' : ''"
                    @click="selectBonusType('CFX')">{{ $t("dashboard.profile.partner_bonus_cfx") }}</button>
            <button type="button" class="btn btn-secondary"
                    :class="(resources.partnerBonusType === 'PSN') ? 'active' : ''"
                    @click="selectBonusType('PSN')">{{ $t("dashboard.profile.partner_bonus_psn") }}</button>
          </div>
        </div>
      </div>-->
      <div class="row mb-5">
        <div class="mb-5">
          <div class="btn-group tabs-partners" role="group">
            <button type="button" class="btn btn-secondary"
                    :class="(component === 'common-volume') ? 'active' : ''"
                    @click="changeTab('common-volume')">{{  $t("dashboard.profile.common_volume") }}</button>
            <button type="button" class="btn btn-secondary"
                    :class="(component === 'leadership-bonus') ? 'active' : ''"
                    @click="changeTab('leadership-bonus')">{{ (resources.partnerBonusType === 'CFX') ?
                    $t("dashboard.profile.text69") : $t("dashboard.profile.psn_self_volume") }}</button>
            <button type="button" class="btn btn-secondary"
                    :class="(component === 'bonus-volume') ? 'active' : ''"
                    @click="changeTab('bonus-volume')">{{ $t("dashboard.profile.bonus_account") }}</button>
            <button type="button" class="btn btn-secondary"
                    :class="(component === 'tariff-bonus') ? 'active' : ''"
                    @click="changeTab('tariff-bonus')">{{ $t("dashboard.profile.text71") }}</button>
            <button type="button" class="btn btn-secondary"
                    :class="(component === 'team-structure') ? 'active' : ''"
                    @click="changeTab('team-structure')">{{ $t("dashboard.profile.team_structure") }}</button>
          </div>
        </div>
        <div class="w-100">
          <component :is="component" :resources="resources" @data:reload="onDataReload" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import LeadershipBonus from './partners/LeadershipBonus'
  import BonusVolume from './partners/BonusVolume'
  import CommonVolume from './partners/CommonVolume'
  import TariffBonus from './partners/TariffBonus'
  import TeamStructure from './partners/TeamStructure'
  import spinner from '../../../../common/spinner'
  import requests from '../../../requests'

  export default {
    name: 'Partners',
    components: {
      LeadershipBonus,
      BonusVolume,
      TeamStructure,
      TariffBonus,
      CommonVolume
    },
    data () {
      return {
        component: 'common-volume',
        resources: {
          bonusVolumes: [],
          leadershipBonus: [],
          commonBonus: [],
          bonusAccount: [],
          tariffsBonus: [],
          bonusSettings: [],
          userTariff: null,
          userReferrals: [],
          partnerBonusType: 'PSN',
        },
      }
    },
    created () {
      this.loadPartners()
    },
    methods: {
      changeTab(component) {
        this.component = component
      },
      onDataReload () {
        this.loadPartners()
      },
      loadPartners () {
        spinner.toggle(true)
        requests.dashboard.partners.get({partner_bonus_type: this.resources.partnerBonusType}).then(({ data }) => {
          this.resources.leadershipBonus = data.leadership_bonus
          this.resources.commonBonus = data.common_bonus
          this.resources.bonusVolumes = data.bonus_volumes
          this.resources.bonusAccount = data.bonus_account
          this.resources.tariffsBonus = data.tariffs_bonus
          this.resources.bonusSettings = data.bonus_settings
          this.resources.userTariff = data.user_tariff
          this.resources.userReferrals = data.referrals
        }).finally(() => {
          spinner.toggle(false)
        })
      },
      selectBonusType(partnerBonusType) {
        if (partnerBonusType !== this.resources.partnerBonusType) {
          this.resources.partnerBonusType = partnerBonusType
          this.loadPartners()
        }
      }
    }
  }
</script>