<template>

    <div>
        <div class="alert alert-success" v-if="successMessage">
            {{ successMessage }}
        </div>
        <error-view :errors="errors"></error-view>

        <div class="text-muted mt-3">
            <p>{{ $t("dashboard.profile.text72") }}</p>
            <p>
                <button class="btn dashboard__btn" @click="onButtonVerificationClick" v-if="!successMessage">{{ $t("dashboard.profile.text73") }}
                </button>
            </p>
        </div>
    </div>


</template>

<script>

  import requests from '../../../requests'
  import {handlerErrors} from '../../../utilities'

  export default {
    name: "pass-verification",
    data() {
      return {
        successMessage: '',
        errors: []
      }
    },
    methods: {
      onButtonVerificationClick() {
        this.$emit('ajax:start');

        requests.dashboard.profile.verifications.postChangeVerificationStatus()
          .then(response => {
            this.successMessage = response.data.message;
            this.$store.commit('updateFillProfile', true);
            this.$store.dispatch('updateUserData').then(() => {
              this.$emit('ajax:finish');
            });

          })
          .catch(({response}) => {
            this.errors = handlerErrors(this.$refs, response.data.errors);
            this.$emit('ajax:finish');
          });
      }
    }
  }

</script>
