<template>

  <div class="passport-details">
    <div class="alert alert-success" v-if="successMessage">
      {{ successMessage }}
    </div>
    <error-view :errors="errors"></error-view>

    <form class="right-menu__form" method="post">
      <div class="right-menu__form__row">
        <input class="right-menu__form__input"
          @input="inputValidator($event, 'onlyNumbersFormat')"
          ref="field_passport_series"
          v-model.lazy="form.passport_series"
          :disabled="isUserVerified"
          :placeholder="$t('dashboard.profile.series')"
          type="text"
          required
        >
      </div>
      <div class="text-danger error-msg" ref="error_passport_series"></div>

      <div class="right-menu__form__row">
        <input class="right-menu__form__input"
          @input="inputValidator($event, 'onlyNumbersFormat')"
          ref="field_passport_number"
          v-model.lazy="form.passport_number"
          :disabled="isUserVerified"
          :placeholder="$t('dashboard.profile.number')"
          type="text"
          required
        >
      </div>
      <div class="text-danger error-msg" ref="error_passport_number"></div>

      <div class="right-menu__form__row">
        <input class="right-menu__form__input right-menu__form__input-date"
          ref="field_passport_date_issue"
          v-model.lazy="form.passport_date_issue"
          :placeholder="$t('dashboard.profile.doi')"
          :disabled="isUserVerified"
          type="date"
          required
        >
      </div>
      <div class="text-danger error-msg" ref="error_passport_date_issue"></div>

      <div class="right-menu__form__row">
        <input class="right-menu__form__input"
          @input="inputValidator($event, 'passportDepartmentCode')"
          ref="field_passport_division_code"
          v-model.lazy="form.passport_division_code"
          :placeholder="$t('dashboard.profile.text22')"
          :disabled="isUserVerified"
          type="text"
        >
      </div>
      <div class="text-danger error-msg" ref="error_passport_division_code"></div>

      <div class="right-menu__form__row">
        <input class="right-menu__form__input"
          @input="inputValidator($event, 'onlyLettersAndSpacesFormat')"
          ref="field_passport_issued"
          v-model.lazy="form.passport_issued"
          :disabled="isUserVerified"
          :placeholder="$t('dashboard.profile.issued')"
          type="text"
          required
        >
      </div>
      <div class="text-danger error-msg" ref="error_passport_issued"></div>

      <button type="button" @click="sendFormData" class="btn dashboard__btn" v-if="!isUserVerified">{{ $t("dashboard.profile.save") }}</button>
    </form>
  </div>

</template>

<script>

  import { formLoader, handlerErrors, inputValidator } from '../../../utilities'
  import requests from '../../../requests'
  import { mapGetters } from 'vuex'

  export default {
    name: 'passport-details',
    props: {
      user: Object
    },
    created() {
      formLoader(this.form, this.user)
    },
    data() {
      return {
        form: {
          passport_division_code: null,
          passport_date_issue: null,
          passport_issued: null,
          passport_number: null,
          passport_series: null
        },
        successMessage: '',
        errors: []
      }
    },
    computed: mapGetters({
      isUserVerified: 'isUserVerified'
    }),
    methods: {
      inputValidator,
      sendFormData() {
        this.$emit('ajax:start');

        requests.dashboard.profile.postChangePassport(this.form)
          .then(response => {
            this.successMessage = response.data.message;
            this.$store.dispatch('updateUserData').then(() => {
              this.$emit('ajax:finish');
              this.$emit('modal:close', 1500);
            });
            this.errors = [];
          })
          .catch(({response}) => {
            this.$emit('ajax:finish');
            this.errors = handlerErrors(this.$refs, response.data.errors)
          })
      }
    }
  }

</script>
