  <template>
  <div class="col-md-12 payment-methods">
    <div class="payments-method row">
      <template v-if="isUserVerified">
        <div class="col-md-4 col-12 mb-4" v-if="bankRequisites.length === 0">
          <div class="payments-method-item d-flex flex-column align-items-center p-3 white-shadow">
            <div class="payments-method-item--header mb-3">
              <i class="icon-museum"></i>
            </div>
            <div class="payments-method-item--body text-center mb-3">
              <strong class="mb-3 d-block">{{ $t("dashboard.profile.text74") }}</strong>
              <span class="d-block">{{ $t("dashboard.profile.text75") }}</span>
            </div>
            <div class="payments-method-item--footer text-center d-flex h-100">
              <button @click="openModal('add-bank-account')"
                      class="btn btn-primary align-self-end mt-3">{{ $t("dashboard.profile.add") }}
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12 mb-4" v-if="userCards.length === 0 && unverifiedUserCards.length === 0">
          <div class="payments-method-item d-flex flex-column align-items-center p-3 white-shadow">
            <div class="payments-method-item--header mb-3">
              <i class="icon-debit-card"></i>
            </div>
            <div class="payments-method-item--body text-center mb-3">
              <strong class="mb-3 d-block">{{ $t("dashboard.profile.text76") }}</strong>
              <span class="d-block">{{ $t("dashboard.profile.text77") }}</span>
            </div>
            <div class="payments-method-item--footer text-center d-flex h-100">
              <button @click="openModal('add-card')"
                      class="btn btn-primary align-self-end mt-3">{{ $t("dashboard.profile.add") }}
              </button>
            </div>
          </div>
        </div>
      </template>
      <div class="col-md-4 col-12 mb-4" v-if="(!cryptoRequisites['WITHDRAWAL'] || Object.keys(cryptoRequisites['WITHDRAWAL']).length===0) && isActiveAddCryptoBtn">
        <div class="payments-method-item d-flex flex-column align-items-center p-3 white-shadow">
          <div class="payments-method-item--header mb-3">
            <i class="icon-bitcoin"></i>
          </div>
          <div class="body text-center mb-3">
            <strong class="mb-3 d-block">{{ $t("dashboard.profile.text78") }}</strong>
            <span class="d-block">{{ $t("dashboard.profile.text79") }}</span>
          </div>
          <div class="payments-method-item--footer text-center d-flex h-100">
            <button @click="openModal('add-crypto-wallet', 'small')"
                    class="btn btn-primary align-self-end mt-3">{{ $t("dashboard.profile.add") }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="requisites row mb-5" v-if="bankRequisites.length">
      <div class="col-md-12 mb-4"><h6 class="font-weight-bold text-silver">{{ $t("dashboard.profile.bank_requisites") }}</h6></div>
      <div class="col-md-4 col-lg-3 mb-4" v-for="bankRequisite in sortedBankRequisites">
        <div class="requisites-item  d-flex flex-column h-100 justify-content-between align-items-center p-4 white-shadow"
             @click="openModal('add-bank-account','large',false, bankRequisite)">
          <div class="payments-method-item--footer d-flex flex-column w-100">
            <h6>{{ bankRequisite.status | bankRequisiteStatus }}</h6>
          </div>
          <div class="payments-method-item--header w-100 d-flex justify-content-between align-items-center mb-5">
            <strong>{{ bankRequisite.name }}</strong>
            <i class="icon-museum" style="font-size: 25px;"></i></div>
          <div class="payments-method-item--footer d-flex flex-column w-100">
            <small class="text-silver">{{ $t("dashboard.profile.account_number") }}</small>
            <span>{{ bankRequisite.recipient_account }}</span></div>
        </div>
      </div>
      <div v-if="user.verified === 'VERIFIED'" class="col-md-4 col-lg-3 mb-4">
        <div class="requisites-item empty-requisites d-flex flex-column h-100
          justify-content-center align-items-center p-4"
             @click="openModal('add-bank-account')"><i class="icon-circle-plus"></i></div>
      </div>
    </div>
    <div class="requisites row mb-5" v-if="userCards.length || unverifiedUserCards.length">
      <div class="col-md-12 mb-4"><h6 class="font-weight-bold text-silver">{{ $t("dashboard.profile.cards") }}</h6></div>
      <div class="col-md-4 col-lg-3 mb-4" v-for="card in unverifiedUserCards.concat(userCards)">
        <div class="requisites-item  d-flex flex-column h-100
          justify-content-between align-items-center p-4 white-shadow" :class="card.verified!=='PROCESSING'?'':'text-muted'"
             @click="openModal('add-card','large', isCardEditable(card), card)">
          <div class="payments-method-item--footer d-flex flex-column w-100">
            <h6>{{ card.verified|userCardStatusLabel }}</h6>
          </div>
          <div class="payments-method-item--header w-100 d-flex justify-content-between align-items-center mb-5">
            <strong>{{ card.name }}</strong>
            <img v-if="card.card_system==='VISA'" src="/assets/images/visa.png" width="40px">
            <img v-if="card.card_system==='MASTERCARD'" src="/assets/images/mastercard-logo.png" width="40px">
          </div>
          <div v-if="card.card_holder" class="payments-method-item--footer d-flex flex-column w-100">
            <span>{{ card.card_holder.toUpperCase() }}</span>
          </div>
          <br>
          <div class="payments-method-item--footer d-flex flex-column w-100">
            <span>{{ card.card_number_public }}</span>
          </div>
        </div>
      </div>
      <div v-if="user.verified === 'VERIFIED'" class="col-md-4 col-lg-3 mb-4">
        <div class="requisites-item empty-requisites d-flex flex-column h-100
          justify-content-center align-items-center p-4" @click="openModal('add-card')"><i class="icon-circle-plus"></i></div>
      </div>
    </div>
    <div class="requisites row mb-5" v-if="cryptoRequisites['WITHDRAWAL'] && Object.keys(cryptoRequisites['WITHDRAWAL']).length && isActiveAddCryptoBtn">
      <div class="col-md-12 mb-4"><h6 class="font-weight-bold text-silver">{{ $t("dashboard.profile.text78") }}</h6></div>
      <div class="col-md-4 col-lg-3 mb-4" v-for="cryptoRequisite in cryptoRequisitesWithdrawal()">
        <div class="requisites-item d-flex flex-column h-100
          justify-content-between align-items-center p-4 white-shadow"
             @click="openModal('add-crypto-wallet', 'small',true, cryptoRequisite)">
          <div class="payments-method-item--header w-100 d-flex justify-content-between align-items-center mb-5">
            <strong>{{ cryptoRequisite.name }}</strong>
            <div>
              <span>{{ cryptoRequisite.currency }}</span>
              <img :src="cryptoRequisite.currency | getImgLogoPath()" width="20px" alt="">
            </div>
          </div>
          <div class="payments-method-item--footer d-flex flex-column w-100">
            <small class="text-silver">{{ $t("dashboard.profile.text43") }}</small>
            <span style="word-break: break-word;">{{ cryptoRequisite.address }}</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 mb-4">
        <div v-if="availableCryptoCurrencies.length>0" class="requisites-item empty-requisites d-flex flex-column h-100
          justify-content-center align-items-center p-4" @click="openModal('add-crypto-wallet', 'small')"><i
                class="icon-circle-plus"></i></div>
      </div>
    </div>
    <ModalWrapper ref="modal" :size="modal.size" v-on:clear-modal="clearModal">
      <component :is="modal.component" :element="modal.element" :editable="modal.editable" v-on:close-modal="closeModal"></component>
    </ModalWrapper>
  </div>

</template>

<script>
  import PaymentMethodModal from "./payment-methods/PaymentMethodModal";
  import AddBankAccount from "./payment-methods/modals/AddBankAccount";
  import AddCryptoWallet from "./payment-methods/modals/AddCryptoWallet";
  import AddCard from "./payment-methods/modals/AddCard";
  import {mapGetters} from 'vuex'
  import {getImgLogoPath,userCardStatusLabel,bankRequisiteStatus} from "../../../utilities";

  export default {
    name: "payment-methods",
    components: {
      PaymentMethodModal,
      AddBankAccount,
      AddCryptoWallet,
      AddCard
    },
    computed:{
      ...mapGetters({
        isUserVerified: 'isUserVerified',
        bankRequisites: 'getBankRequisites',
        cryptoRequisites: 'getCryptoRequisites',
        userCards:'getUserCards',
        unverifiedUserCards:'getUnverifiedCards',
        availableCryptoCurrencies:'getAvailableWithdrawalCryptoCurrenciesForAddition',
        user: 'getUser'
      }),
      sortedBankRequisites () {
        this.bankRequisites.sort((a, b) => {
          return new Date(b.created_at) - new Date(a.created_at)
        })
        this.bankRequisites.sort((a, b) => {
          if (a.status === 'VERIFIED') {
            return -1
          } else {
            return 1
          }
        })

        this.bankRequisites.sort((a, b) => {
          if (a.status !== 'VERIFIED' && b.status !== 'VERIFIED') {
            return new Date(a.created_at) - new Date(b.created_at)
          }
        })

        return this.bankRequisites
      }
    },
    data() {
      return {
        modal: {
          component: '',
          size: 'large',
          element: null
        },
        isActiveAddCryptoBtn: false
      }
    },
    methods: {
      openModal(component, size = 'large', editable=true, element = null) {
        this.modal.component = component;
        this.modal.size = size;
        this.modal.element = element;
        this.$refs.modal.open()
        if (element !== null && element.status !== 'CANCELED') {
          this.modal.editable = editable;
        } else {
          this.modal.editable = true
        }
      },
      closeModal() {
        this.$refs.modal.close()
        //Необходимо сбрасывать состояние компонентов
        this.modal = {
          component: '',
            size: 'large',
            element: null
        }
      },
      clearModal() {
        //Необходимо сбрасывать состояние компонентов
        this.modal = {
          component: '',
          size: 'large',
          element: null
        }
      },
      cryptoRequisitesWithdrawal() {
        let arr = [], key;
        for (key in this.cryptoRequisites['WITHDRAWAL']) {
          if (this.cryptoRequisites['WITHDRAWAL'].hasOwnProperty(key)) {
            arr = arr.concat(this.cryptoRequisites['WITHDRAWAL'][key]);
          }
        }
        return arr;
      },
      isCardEditable(card){
        return card.verified === 'NOT_VERIFIED' || card.verified === 'CREATED'
      }
    },
    filters: {
      userCardStatusLabel,
      bankRequisiteStatus,
      getImgLogoPath,
    }
  }
</script>
