<template>

  <div class="phone-number-and-e-mail">
    <div class="alert alert-success" v-if="successMessage">
      {{ successMessage }}
    </div>
    <error-view :errors="errors"></error-view>

    <form class="right-menu__form" method="post" >
      <div  v-bind:style="{ display: (isSendCode === false) ? 'block' : 'none'}">
        <div class="right-menu__form__row">
          <input class="right-menu__form__input menu__form__input-inactive"
                 ref="field_email"
                 @focus="clearMessage"
                 v-model="form.email"
                 placeholder="E-mail"
                 type="text"
                 required
          >
        </div>
        <div class="text-danger error-msg" ref="error_email"></div>

        <div class="right-menu__form__row">
          <input class="right-menu__form__input"
                 ref="field_phone_number"
                 @focus="clearMessage"
                 v-model="form.phone_number"
                 :placeholder="$t('dashboard.profile.phone')"
                 type="text"
                 required
          >
        </div>
        <div class="text-danger error-msg" ref="error_phone_number"></div>
        <button type="button" v-if="!isSendCode" @click="getVerifyCode" class="btn dashboard__btn">Save</button>
      </div>

      <div class="form-group" v-bind:style="{ display: (isSendCode === true) ? 'block' : 'none'}">
        <div class="row m-0">
          <input class="right-menu__form__input"
                 ref="field_sms_code"
                 @focus="clearMessage"
                 @input="sendFormData"
                 :placeholder="$t('dashboard.profile.enter_code')"
                 v-model="form.sms_code"
                 type="text"
                 required
          >
        </div>
        <div class="text-danger error-msg" id="error_sms_code"></div>

        <div class="mt-3 text-center ">
          <div v-if="seconds <= 60 && seconds > 0">
            <div>{{ $t("dashboard.profile.text6") }} {{ seconds }}</div>
            <div>{{ $t("dashboard.profile.text7") }}</div>
          </div>
          <div v-else class="mt-2">
            <a href="#" @click="getVerifyCode">{{ $t("dashboard.profile.text8") }}</a>
          </div>
        </div>
      </div>
    </form>
  </div>

</template>

<script>

  import { formLoader, handlerErrors } from '../../../utilities'
  import { mapGetters } from 'vuex'
  import requests from '../../../requests'

  export default {
    name: 'phone-number-and-e-mail',
    props: {
      user: Object
    },
    created() {
      formLoader(this.form, this.user);
    },
    data() {
      return {
        isSendCode: false,
        seconds: 60,
        form: {
          phone_number: null,
          sms_code: null,
          email: null
        },
        successMessage: '',
        errors: []
      }
    },
    computed: mapGetters({
      isUserVerified: 'isUserVerified'
    }),
    methods: {
      clearMessage() {
        this.successMessage = ''
      },
      getVerifyCode() {
        this.errors = [];
        this.$emit('ajax:start');

        requests.dashboard.profile.postChangePhoneAndEmail(this.form, !this.isSendCode || this.seconds <= 0)
          .then(response => {
            this.successMessage = response.data.message;
            this.isSendCode = true;
            this.seconds = 60;

            this.$emit('ajax:finish');
            this.timer();
          }).catch(({response}) => {
            this.$emit('ajax:finish');
            this.errors = handlerErrors(this.$refs, response.data.errors);
          });
      },
      sendFormData() {
        let codeLength = this.form.sms_code.length;

        if (codeLength > 6) {
          this.form.sms_code = this.form.sms_code.substr(0,6);
          codeLength = this.form.sms_code.length;
        }

        if (codeLength === 6) {
          this.errors = [];
          this.$refs.field_sms_code.blur();
          this.$emit('ajax:start');

          requests.dashboard.profile.postChangePhoneAndEmail(this.form)
            .then(response => {

              this.$store.dispatch('updateUserData').then(() => {
                this.$emit('ajax:finish');
                this.$emit('modal:close', 1500);
              });

              this.isSendCode = false;
              this.form.code = null;
            })
            .catch(({response}) => {
              this.$emit('ajax:finish');
              if (response.data.invalidCode !== true) {
                this.isSendCode = false;
              }
              this.form.sms_code = null;
              this.errors = handlerErrors(this.$refs, response.data.errors);
            });
        }
      },
      timer() {
        let intervalId = setInterval(() => {
          this.seconds = --this.seconds;

          if (this.seconds === 0) {
            clearInterval(intervalId);
          }
        }, 1000)
      }
    }
  }

</script>
