<template>
    <div class="settings mb-5">
        <div class="mb-4">
            <div class="col-md-12">
                <h3 class="d-inline-block font-weight-bold">
                    {{ $t("dashboard.profile.general_settings") }}
                </h3>
            </div>
        </div>
        <form class="form-custom black" @submit.prevent="onSubmit">
            <div class="form-control-custom col-md-12">
                <small class="text-silver d-block">{{ $t("dashboard.index.notifications_inner") }}</small>
                <label class="mt-2 d-block">
                    <input type="checkbox" v-model="form.notify_auth_enabled" @change="onSubmit">
                    <div class="checkbox__button"></div>
                    {{ $t("dashboard.profile.authorization") }}
                    <i class="fas fa-info first">
                <span class="tooltip-custom">
                  {{ $t("dashboard.profile.text62") }}
                </span>
                    </i>
                </label>
                <label class="mt-2 d-block">
                    <input type="checkbox" v-model="form.notify_change_pass_enabled" @change="onSubmit">
                    <div class="checkbox__button"></div>
                    {{ $t("dashboard.profile.change_password") }}
                    <i class="fas fa-info">
                <span class="tooltip-custom">
                  {{ $t("dashboard.profile.text63") }}
                </span>
                    </i>
                </label>
                <label class="mt-2 d-block">
                    <input type="checkbox" v-model="form.notify_exchange_operations_enabled" @change="onSubmit">
                    <div class="checkbox__button"></div>
                    {{ $t("dashboard.profile.exchange_operations") }}
                    <i class="fas fa-info">
                <span class="tooltip-custom">
                  {{ $t("dashboard.profile.text64") }}
                </span>
                    </i>
                </label>
            </div>
        </form>
    </div>
</template>

<script>

import {formLoader, handlerErrors} from '../../../utilities'
import requests from '../../../requests'
import {mapGetters} from 'vuex'
import spinner from '../../../../common/spinner'


export default {
  name: "ProfileSettings",
  data() {
    return {
      selectedItem: null,
      selectedItem2: 'Русский',
      isFocusSelect: false,
      isOpenSelect: false,
      isFocusSelect2: false,
      isOpenSelect2: false,

      form: {
	      notify_auth_enabled: true,
	      notify_change_pass_enabled: true,
	      notify_exchange_operations_enabled: true,
      }
    }
  },
  computed: mapGetters({
    user: 'getUser'
  }),
  created () {
    formLoader(this.form, this.user);
    document.addEventListener('click', () => {
      if (!this.isFocusSelect) {
        this.isOpenSelect = false
      }
      if (!this.isFocusSelect2) {
        this.isOpenSelect2 = false
      }
    });
  },
  methods: {
    openSelect () {
      this.isOpenSelect = !this.isOpenSelect
    },
    openSelect2 () {
      this.isOpenSelect2 = !this.isOpenSelect2
    },
    selectItem (item) {
      this.selectedItem = item
    },
    selectItem2 (item) {
      this.selectedItem2 = item
      this.isOpenSelect2 = !this.isOpenSelect2
      this.isFocusSelect2 = !this.isFocusSelect2
    },
    onSubmit() {
      spinner.toggle(true)
      requests.dashboard.profile.settings.postNotifySettings(this.form).then(({ data }) => {
        this.successMessage = data.message
        spinner.toggle(false)
      }).catch(({response}) => {
        this.errors = handlerErrors(this.$refs, response.data.errors)
        spinner.toggle(false)
      })
    }
  },
}
</script>
