<template>
  <div v-if="loaded">
    <div class="col-md-12 contact mb-5">
      <div class="row mb-4">
        <div class="col-md-12">
          <h3 class="d-inline-block font-weight-bold">
            <i class="fas fa-check text-green"></i>{{ $t("dashboard.profile.contacts") }}</h3>
          <span class="d-inline-block ml-md-3 ml-sm-0 text-silver font-weight-bold text-mobile"
                v-if="isUserOnVerify || isUserNotVerified || isUserVerified">
              <span>{{ $t("dashboard.profile.status_verification") }}:</span>
              <span v-if="isUserOnVerify" class="text-orange">{{ $t("dashboard.profile.is_being") }}</span>
              <span v-if="isUserNotVerified" class="text-red">{{ $t("dashboard.profile.not_verified") }}</span>
              <span v-if="isUserVerified" class="text-green">{{ $t("dashboard.profile.verified") }}</span>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-12">
          <change-phone/>
        </div>
        <div class="col-md-6 col-sm-6 col-12">
          <change-email/>
        </div>
      </div>
    </div>
    <div class="col-md-12" v-if="isUserVerified || !isUserVerified">
      <hr>
      <div class="personal-data mb-5 mt-5">
        <div class="row mb-4">
          <div class="col-md-12">
            <h3 class="d-inline-block font-weight-bold align-top mr-1 user-personal-desc__title"
                style="line-height: 20px;" v-if="isUserNotVerified">
              <i class="fas fa-times text-red" style="line-height: 20px;"></i>
            </h3>
            <h3 class="d-inline-block font-weight-bold user-personal-desc__title"
                v-bind:style="[isUserNotVerified ? {'line-height': '20px'} : {}]">
              <i class="far fa-clock text-orange" v-if="isUserOnVerify">
              </i>{{ $t("dashboard.profile.personal_data") }}<br v-if="isUserNotVerified">
              <small class="text-red" style="font-size: 14px;" v-if="isUserNotVerified"
                >{{ $t("dashboard.profile.text80") }}</small>
            </h3>
            <section v-if="!isUserOnVerify">
              <button v-if="isUserNotVerified" class="btn btn-danger mt-2 mt-sm-0 align-top btn-edit-profile"
                      @click.prevent="openEditPersonalData">{{ $t("dashboard.profile.edit") }}</button>
              <button v-else class="btn btn-secondary mt-2 btn-edit-profile"
                      @click="openEditPersonalData">{{ $t("dashboard.profile.edit") }}</button>
            </section>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-3 mb-2 mt-2">
            <small class="text-silver d-block">{{ $t("dashboard.profile.name") }}</small>
            <span class="text-black d-block">{{ user.name }}</span>
          </div>
          <div class="col-md-3 mb-2 mt-2">
            <small class="text-silver d-block">{{ $t("dashboard.profile.surname") }}</small>
            <span class="text-black d-block">{{ user.surname }}</span>
          </div>
          <div class="col-md-3 mb-2 mt-2">
            <small class="text-silver d-block">{{ $t("dashboard.profile.dob") }}</small>
            <span class="text-black d-block">{{ user.birthday | formatDate }}</span>
          </div>
          <div class="col-md-3 mb-2 mt-2">
            <small class="text-silver d-block">{{ $t("dashboard.profile.sex") }}</small>
            <span class="text-black d-block">{{ user.sex }}</span>
          </div>
          <div class="col-md-6 mb-2 mt-2">
            <small class="text-silver d-block">{{ $t("dashboard.profile.residence") }}</small>
            <span class="text-black d-block">{{ user.citizenship }}</span>
          </div>
        </div>
      </div>
      <hr v-if="!user.isEUCitizen">
      <div v-if="!user.isEUCitizen" class="persons-home mt-5 mb-5">
        <div class="row mb-4">
          <div class="col-md-12">
            <h3 v-if="isUserNotVerified"
                class="d-inline-block font-weight-bold align-top mr-1 user-personal-desc__title"
                style="line-height: 20px;"><i class="fas fa-times text-red" style="line-height: 20px;"></i>
            </h3>
            <h3 class="d-inline-block font-weight-bold user-personal-desc__title"
                v-bind:style="[isUserNotVerified ? {'line-height': '20px'} : {}]">
              <i v-if="isUserOnVerify" class="far fa-clock text-orange">
              </i>{{ $t("dashboard.profile.residential_address") }}<br v-if="isUserNotVerified">
              <small v-if="isUserNotVerified" class="text-red" style="font-size: 14px;"
                >{{ $t("dashboard.profile.text80") }}</small>
            </h3>
            <section v-if="!isUserOnVerify">
              <button v-if="isUserNotVerified" class="btn btn-danger mt-2 mt-sm-0 align-top btn-edit-profile"
                      @click.prevent="openEditResidentialAddress">{{ $t("dashboard.profile.edit") }}</button>
              <button v-else class="btn btn-secondary mt-2 btn-edit-profile"
                      @click="openEditResidentialAddress">{{ $t("dashboard.profile.edit") }}</button>
            </section>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <small class="text-silver d-block">{{ $t("dashboard.profile.address") }}</small>
            <span class="text-black d-block">{{ this.getDisplayingAddress }}</span>
          </div>
        </div>
      </div>
      <hr>
      <div class="contact mt-5 mb-5">
        <div class="row mb-4">
          <div class="col-md-12">
            <h3 class="d-inline-block font-weight-bold align-top mr-1 user-personal-desc__title"
                style="line-height: 20px;" v-if="isUserNotVerified">
              <i class="fas fa-times text-red" style="line-height: 20px;"></i>
            </h3>
            <h3 class="d-inline-block font-weight-bold user-personal-desc__title"
                v-bind:style="[isUserNotVerified ? {'line-height': '20px'} : {}]">
              <i class="far fa-clock text-orange" v-if="isUserOnVerify">
                </i>{{ $t("dashboard.footer.documents") }}<br v-if="isUserNotVerified">
              <small class="text-red" style="font-size: 14px;" v-if="isUserNotVerified">{{ $t("dashboard.profile.text80") }}</small>
            </h3>
            <section v-if="!isUserOnVerify">
              <button v-if="isUserNotVerified" class="btn btn-danger mt-2 mt-sm-0 align-top btn-edit-profile"
                      @click.prevent="openEditDocuments">{{ $t("dashboard.profile.edit") }}</button>
              <button v-else class="btn btn-secondary mt-2 btn-edit-profile"
                      @click="openEditDocuments">{{ $t("dashboard.profile.edit") }}</button>
            </section>
          </div>
        </div>
      </div>
      <hr>
      <div class="contact mt-5 mb-5" v-if="isUserVerified">
        <div class="row mb-4">
          <div class="col-md-12">
            <h3 class="d-inline-block font-weight-bold user-personal-desc__title">{{ $t("dashboard.footer.text18") }}</h3>
            <section>
              <button class="btn btn-secondary mt-2 btn-edit-profile"
                      @click="dowloadCertificate">{{ $t("dashboard.profile.download") }}</button>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import ChangePhone from './edit/ChangePhone'
  import ChangeEmail from './edit/ChangeEmail'
  import {mapGetters} from 'vuex'
  import {formatDate} from '../../../utilities'
  import {eventBus} from '../../../eventBus'
  import requests from "../../../requests";
  import Spinner from '../../../../common/spinner';
  import alert from "../../../../common/sweet-alert";

  export default {
    name: "profile-info",
    props: {
      loaded: Boolean
    },
    components: {
      ChangeEmail,
      ChangePhone
    },
    computed: {
      ...mapGetters({
        isUserCreated: 'isUserCreated',
        isUserVerified: 'isUserVerified',
        isUserNotVerified: 'isUserNotVerified',
        isUserOnVerify: 'isUserOnVerify',
        user: 'getUser'
      }),
      getDisplayingAddress() {
        let address = ''

        address += this.user.postcode ? ' ' + this.user.postcode + ',' : ''
        address += this.user.street ? ' ' + this.user.street : ''
        address += this.user.house_number ? ' ' + this.user.house_number : ''
        address += this.user.apartment_number ? ' ' + this.user.apartment_number + ',' : ''
        address += this.user.city ? ' ' + this.user.city + ',' : ''
        address += this.user.country_iso ? ' ' + this.user.country_iso : ''

        return address
      }
    },
    filters: {
      formatDate,
    },
    methods: {
      openEditPersonalData() {
        eventBus.$emit('open-profile', {
          step: 2,
          endStep: true,
        });
      },
      openEditResidentialAddress() {
        eventBus.$emit('open-profile', {
          step: 3,
          endStep: true,
        });
      },
      openEditDocuments() {
        eventBus.$emit('open-profile', {
          step: 4,
          endStep: true,
        });
      },
      dowloadCertificate() {
        Spinner.toggle(true);
        requests.dashboard.postDownloadCertificate({}).then(response => {
          const url = window.URL.createObjectURL(new Blob([response.data], {type: 'application/pdf'}));
          const link = document.createElement('a');
          link.href = url;
          link.setAttribute('download', 'Certificate-'+this.bankRefillInvoiceID + '.pdf');
          document.body.appendChild(link);
          link.click();
          Spinner.toggle(false);
        }).catch((error)=>{
          Spinner.toggle(false);
          alert.error({text: error.data.message})
        })
      }
    }
  }
</script>

