<template>
  <div class="col-md-12">
    <span class="security">
        <change-password />
        <two-factor-auth />
        <ip-filtration />
    </span>
  </div>
</template>

<script>
import MultipleInput from '../../../../common/form-elements/MultipleInput.vue'
import ChangePassword from './security-settings/ChangePassword'
import TwoFactorAuth from './security-settings/TwoFactorAuth'
import IpFiltration from './security-settings/IpFiltration'

export default {
    name: "SecuritySettings",
    props: {
      user: Object
    },
    components: {
      MultipleInput,
      ChangePassword,
      TwoFactorAuth,
      IpFiltration,
    },
}
</script>
