<template>
  <div>
    <div class="container-fluid voucher">
      <div v-if="userAccountsFiltered.length > 0" class="row align-items-center">
        <div class="col-lg-5 col-md-6 mb-4">
          <div class="d-flex justify-content-between align-items-center white-shadow select-height">
            <div class="d-flex flex-column select-height--line" v-if="selectedAccount !== null">
              <span>{{ selectedAccount.currency | getCurrencyAlias }} {{ selectedAccount.amount | formatMoney(selectedAccount.currency) }}</span>
              <span class="small text-silver">Min: {{getLimit.min|formatMoney(selectedAccount.currency)}}, Max: {{getLimit.max|formatMoney(selectedAccount.currency)}}</span>
            </div>
            <div class="d-flex flex-column">
              <div class="form-custom black">
                <div class="form-control-custom mb-0">
                  <div class="d-flex align-items-center select-height--line">
                    <div class="dropdown-select border-0 d-flex flex-shrink-1 justify-content-end"
                         style="width: 90px" @click="openAccountSelect"
                         @mouseenter="isFocusSelect = true" @mouseleave="isFocusSelect = false">
                      <div class="d-flex flex m-0 align-items-center" style="flex-direction: unset">
                        <label class="mb-0">{{ form.currency | getCurrencyAlias }}</label>
                        <input type="hidden" class="w-100 border-0" disabled v-model="form.currency">
                        <i class="fas fa-caret-down text-black" v-if="!isOpenAccountSelect"></i>
                        <i class="fas fa-caret-up text-black" v-else></i>
                      </div>
                      <ul v-show="isOpenAccountSelect" class="text-black" style="top: 35px;">
                        <li v-for="account in accounts"
                            :value="account.currency" class="pl-2 pr-2"
                            @click="selectAccount(account)"
                        >{{ account.currency | getCurrencyAlias }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pl-lg-0 pl-md-3 pl-sm-3 col-lg-3 col-md-6 mb-4">
          <div class="form-custom black">
            <div class="form-control-custom mb-0">
              <div class="d-flex flex-column w-100 white-shadow select-height select-height--input">
                <div class="d-flex border-bottom-silver align-items-center justify-content-between custom-height">
                  <input class="w-100 border-0 text-silver pt-0 pb-0" name="amount" maxlength="12"
                         @input="inputValidator($event, 'floatFormat')" v-model.lazy="form.amount">
                  <span class="border-0 text-silver pt-0">{{ form.currency | getCurrencyAlias }}</span>
                </div>
                <div class="small text-silver"
                  >{{voucherCommission|formatMoney(form.currency)}} {{ form.currency | getCurrencyAlias }} Fee</div>
              </div>
            </div>
          </div>
        </div>
        <div class="pl-lg-0 pl-md-3 pl-sm-3 col-lg-3 col-md-6 mb-4">
          <div class="form-custom black">
            <div class="form-control-custom mb-0">
              <div class="d-flex flex-column w-100 white-shadow select-height select-height--input">
                <div class="d-flex border-bottom-silver align-items-center justify-content-between mt-custom">
                  <input @input="inputValidator($event, 'onlyNumbersFormat')"
                         autocomplete="off" maxlength="10"
                         class="w-100 border-0 text-silver pt-1 pb-0"
                         type="text" name="pin_code"
                         v-model.lazy="form.pin_code"
                         :placeholder="$t('dashboard.profile.voucher_pin')"
                         style="-webkit-text-security: disc">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pl-md-3 pl-sm-3 col-lg-3 col-md-3">
          <button class="btn btn-primary" :disabled="!(form.amount > 0) ||
           (form.amount < parseFloat(getLimit.min)) || (form.amount > parseFloat(getLimit.max))"
                  @click="createVoucher">{{ $t("dashboard.profile.create") }}</button>
        </div>
      </div>
      <vouchers-list @active:voucher="onActiveVoucher" @open-voucher-modal="openVoucherModal"/>
    </div>
    <ModalWrapper ref="modalWrapper">
      <create-voucher-modal
          :voucher="currentDataVoucher"
          @close-modal="$refs.modalWrapper.close()"
          ref="createVoucherModal"/>
    </ModalWrapper>
    <activate-voucher-modal
        v-show="isShowActivateVoucherModal"
        v-if="voucherForActivation"
        v-on:close-modal="isShowActivateVoucherModal=false"
        :voucher="voucherForActivation"
        :hash="hashForActivation"/>
  </div>
</template>

<script>
  import {
    formatDateTime,
    formatMoney,
    getCurrencyAlias,
    getCurrencySymbol,
    handlerErrors,
    inputValidator
  } from '../../../utilities'
  import alert from '../../../../common/sweet-alert'
  import spinner from '../../../../common/spinner'
  import requests from '../../../requests'
  import {mapGetters} from 'vuex'
  import CreateVoucherModal from "./vouchers/CreateVoucherModal"
  import ActivateVoucherModal from "./vouchers/ActivateVoucherModal"
  import VouchersList from "./vouchers/VouchersList"
  import {handleErrorForAlert} from "@/main/utilities"

  export default {
    name: "vouchers",
    components: {
      VouchersList,
      CreateVoucherModal,
      ActivateVoucherModal
    },
    computed: {
      ...mapGetters({
        user: 'getUser',
        userAccounts: 'getCurrenciesWithoutFiat',
        voucherSettings: 'GetVoucherSettings',
        userLimits: 'getUserLimits',
      }),
      accounts () {
        return this.userAccountsFiltered
      },
      voucherCommission() {
        let setting = this.voucherSettings.find(setting => setting.currency === this.form.currency)
        return (setting !== undefined) ? this.form.amount * setting.commission : 0
      },
      getLimit(){
        if (typeof this.userLimits['crypto_bill'][this.selectedAccount.currency] !== 'undefined') {
          return {
            min: this.userLimits['crypto_bill'][this.selectedAccount.currency][0].exchange_min_value_trans,
            max: this.userLimits['crypto_bill'][this.selectedAccount.currency][0].exchange_max_value_day
          }
        }
        return ''
      }
    },
    data() {
      return {
        currentDataVoucher:null,
        voucherModalOpen:false,
        voucher: true,
        userAccountsFiltered: [],
        isOpenAccountSelect: false,
        selectedAccount: null,
        isShowActivateVoucherModal: true,
        voucherForActivation: null,
        hashForActivation: this.$route.query.va || null,
        errors: [],
        form: {
          currency: null,
          amount: null,
          pin_code: null
        }
      }
    },
    mounted() {
      this.filterUserAccounts()
    },
    created() {
      this.setSelectedAccount()
      if (typeof this.$route.query.va !== 'undefined') {
        this.preActivateVoucher(this.$route.query.va)
      }
    },
    watch: {
      userAccounts() {
        this.filterUserAccounts()
      },
      voucherSettings() {
        this.filterUserAccounts()
      },
      'form.pin_code'(val) {
        if (val.length > 8) {
          this.form.pin_code = val.substr(0, 8)
        }
      }
    },
    methods: {
      filterUserAccounts() {
        if ((this.voucherSettings.length > 0) && (this.userAccounts.length > 0)) {
          let vouchersCurrency = []
          for (let i = 0; i < this.voucherSettings.length; i++) {
            vouchersCurrency.push(this.voucherSettings[i].currency)
          }
          this.userAccountsFiltered = this.userAccounts.filter(function (item) {
            return (vouchersCurrency.includes(item.currency))
          })
          if (typeof this.userAccountsFiltered[0] !== 'undefined') {
            this.selectedAccount = this.userAccountsFiltered[0]
            this.form.currency = this.userAccountsFiltered[0].currency
          }
          this.setSelectedAccount()
        }
      },
      openVoucherModal(voucher){
        this.currentDataVoucher = voucher
        this.$refs.modalWrapper.open()
      },
      inputValidator,
      setSelectedAccount() {
        if (this.selectedAccount === null) {
          if (typeof this.userAccountsFiltered[0] !== 'undefined') {
            this.selectedAccount = this.userAccountsFiltered[0]
            this.form.currency = this.userAccountsFiltered[0].currency
          }
        } else {
          this.selectedAccount = this.userAccountsFiltered.find((account) => {
            return account.currency === this.form.currency
          })
        }
      },
      openAccountSelect() {
        this.isOpenAccountSelect = !this.isOpenAccountSelect
      },
      selectAccount(account) {
        this.form.currency = account.currency
        this.selectedAccount = account
      },
      createVoucher() {
        this.errors = []
        spinner.toggle(true)
        requests.dashboard.profile.vouchers.postCreateVoucher(this.form)
          .then(({data}) => {
            this.voucherModalOpen = true
            this.currentDataVoucher = data.data.voucher
            this.$refs.modalWrapper.open()
            this.$store.dispatch('updateUserData').then(() => {
              spinner.toggle(false)
            })
          })
          .catch(({response}) => {
            spinner.toggle(false)
            alert.error(handleErrorForAlert(response.data.errors))
          })
      },
      openActivateVoucherModal(voucher, hash = null) {
        this.voucherForActivation = voucher
        this.hashForActivation = hash
        this.isShowActivateVoucherModal = true
      },
      preActivateVoucher(hash) {
        spinner.toggle(true)
        requests.dashboard.profile.vouchers.preActivateVoucher(hash).then(({data}) => {
          this.openActivateVoucherModal(data.data.voucher, hash)
          spinner.toggle(false)
        }).catch(({response}) => {
          spinner.toggle(false)
          alert.error(handleErrorForAlert(response.data.errors))
        })
      },
      onActiveVoucher(form) {
        this.preActivateVoucher(form.hash)
      }
    },
    filters: {
      getCurrencySymbol,
      getCurrencyAlias,
      formatMoney,
      formatDateTime
    },
  }
</script>
