<template>

  <div class="documents mt-5">
    <div class="h5">{{ $t("dashboard.documents.contracts") }}</div>
    <div class="documents__item">
      <a href="/documents/policy.pdf" target="_blank">{{ $t("dashboard.documents.privacy") }}</a>
    </div>
    <div class="documents__item">
      <a href="/documents/terms.pdf" target="_blank">{{ $t("dashboard.documents.user") }}</a>
    </div>
    <div class="documents__item">
      <a href="/rules/risk" target="_blank">{{ $t("dashboard.documents.disclosure") }}</a>
    </div>
    <div class="documents__item">
      <a href="/documents/anti-spam.pdf" target="_blank">{{ $t("dashboard.documents.anti") }}</a>
    </div>
    <div class="documents__item">
      <a href="/rules/law-enf" target="_blank">{{ $t("dashboard.documents.policies") }}</a>
    </div>
    <div class="h5 mt-3">{{ $t("dashboard.documents.documents") }}</div>
    <div class="documents__item">
      <a href="/documents/aml.pdf" target="_blank">{{ $t("dashboard.documents.aml") }}</a>
    </div>
    <div class="documents__item">
      <a href="/documents/doc1.pdf" target="_blank">{{ $t("dashboard.documents.regist") }}</a>
    </div>
    <div class="documents__item">
      <a href="/documents/doc2.pdf" target="_blank">{{ $t("dashboard.documents.pohikiri") }}</a>
    </div>
    <div class="documents__item">
      <a href="/documents/doc3.pdf" target="_blank">{{ $t("dashboard.documents.institutional") }}</a>
    </div>
    <div class="documents__item">
      <a href="/documents/doc4.pdf" target="_blank">{{ $t("dashboard.documents.notary") }}</a>
    </div>
    <div class="documents__item">
      <a href="/documents/doc5.pdf" target="_blank">{{ $t("dashboard.documents.economic") }}</a>
    </div>
    <div class="documents__item">
      <a href="/terms" target="_blank">{{ $t("dashboard.documents.terms") }}</a>
    </div>
    <div class="documents__item">
      <a href="/fees" target="_blank">{{ $t("dashboard.documents.fees") }}</a>
    </div>
    <div class="documents__item">
      <a href="/documents/internal-control.pdf" target="_blank">{{ $t("dashboard.footer.internal_control") }}</a>
    </div>
  </div>

</template>

<script>

  export default {
    name: 'documents'
  }

</script>