<template>
    <div class="fill-notification__wrapper"
         v-show="show">
        <div class="fill-notification__close"
            @click="closeFillNotification">
            <i class="far fa-times-circle"></i>
        </div>
        <div class="fill-notification__content">
            {{ fillMessage }}
        </div>
    </div>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    name: 'fill-notification',
    data() {
      return {
        show: false,
      }
    },
    computed: mapGetters({
      isFillProfile: 'getFillProfile',
      fillMessage: 'getFillMessage',
    }),
    methods: {
      showFillNotification() {
        this.show = true;
      },
      closeFillNotification() {
        this.show = false;
      },
      beforeShowValidate() {
        const regex = /\/profile\/{0,1}$/mg;
        if (!this.isFillProfile && !regex.exec(this.$route.path)) {
          this.showFillNotification();
        } else {
          this.closeFillNotification();
        }
      }
    },
    watch: {
      'isFillProfile'() {
        this.beforeShowValidate();
      },
      '$route.path' (to, from){
        this.beforeShowValidate();
      }
    }
  }
</script>
