<template>
  <div class="footer">
      <div class="footer__block">
          <div class=" footer__block--item">
            <div class="footer__title">{{ $t("dashboard.footer.main") }}</div>
            <div class="footer__item">{{ $t("dashboard.footer.text1") }}</div>
            <div class="footer__item">{{ $t("dashboard.footer.text3") }}</div>
            <div class="footer__item">{{ $t("dashboard.footer.text4") }}</div>
            <div class="footer__item">{{ $t("dashboard.footer.text5") }}</div>
            <div class="footer__item"><a href="/documents/license_notification.pdf" target="_blank">{{ $t("dashboard.footer.licenses_notification") }}</a></div>
            <div class="footer__item">{{ $t("dashboard.footer.text19") }}</div>
            <div class="footer__item">{{ $t("dashboard.footer.text20") }}</div>
          </div>
          <div class="footer__block--item">
            <div class="footer__title">{{ $t("dashboard.footer.documents") }}</div>
            <div class="footer__item">
              <a href="/documents/policy.pdf" target="_blank">{{ $t("dashboard.footer.text6") }}</a>
            </div>
            <div class="footer__item">
              <a href="/rules/risk" target="_blank">{{ $t("dashboard.footer.text7") }}</a>
            </div>
            <div class="footer__item">
              <a href="/documents/anti-spam.pdf" target="_blank">{{ $t("dashboard.footer.text8") }}</a>
            </div>
            <div class="footer__item">
              <a href="/rules/law-enf" target="_blank">{{ $t("dashboard.footer.text9") }}</a>
            </div>
            <div class="footer__item">
              <a href="/documents/aml.pdf" target="_blank">{{ $t("dashboard.footer.text10") }}</a>
            </div>
            <div class="footer__item">
              <a href="/documents/terms.pdf" target="_blank">{{ $t("dashboard.footer.text11") }}</a>
            </div>
            <div class="footer__item">
              <a href="/fees" target="_blank">{{ $t("dashboard.footer.text12") }}</a>
            </div>
            <div class="footer__item">
              <a href="/coin-status" target="_blank">{{ $t("dashboard.footer.coin_status") }}</a>
            </div>
            <div class="footer__item">
              <a href="/documents/internal-control.pdf" target="_blank">{{ $t("dashboard.footer.internal_control") }}</a>
            </div>
          </div>
          <div class="footer__vertical footer__block--item">
            <div>
              <span class="footer__title">{{ $t("dashboard.footer.text13") }}</span>
              <div class="footer__item">
                <router-link to="/how">{{ $t("dashboard.footer.text14") }}</router-link>
              </div>
              <div class="footer__item">
                <i class="fas fa-question-circle"></i> {{ $t("dashboard.footer.text16") }}
              </div>
              <div class="footer__item">
                <i class="fas fa-phone"></i> {{ $t("dashboard.footer.text21") }}
              </div>
            </div>
            <figure class="footer-pic-order">
              <img src="/assets/images/visa-mc.png">
            </figure>
          </div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'FooterView'
}
</script>
