<template>

  <div class="header justify-content-between">
    <div v-if="!maintenanceStatus" class="container inner ">
      <div class="header__menu">
                <span v-for="exchangeRate in exchangeRates" class="mr-4">
                  {{ exchangeRate.currency_from | getCurrencyAlias }}/{{ exchangeRate.currency_to | getCurrencyAlias }} {{ exchangeRate.value | formatMoney(exchangeRate.currency_to)}}
                </span>
        <button type="button" @click="$refs.exchangeRateView.toggle()" class="exchange-rate__item pl-1 btn btn--link">
          <i class="fas fa-caret-down"></i>
        </button>
      </div>
      <exchange-rate-view ref="exchangeRateView" :exchange-rates="exchangeDataForTable"></exchange-rate-view>
    </div>
  </div>

</template>

<script>

  import {mapGetters} from 'vuex'
  import {formatMoney, getCurrencyAlias} from "../../utilities";
  import ExchangeRateView from '../main/ExchangeRateView'

  export default {
    name: 'header-view',
    components: {
      ExchangeRateView
    },
    computed: mapGetters({
      exchangeRates: 'getExchangeRatesHeader',
      exchangeDataForTable: 'getExchangeRates',
      maintenanceStatus: 'getMaintenanceStatus'
    }),
    filters: {
      formatMoney,
      getCurrencyAlias
    }
  }

</script>
