.my-style-opacity{
  background: #fff;
  opacity: 0.5;
}
//.modal-dialog{
//  background: #fff;
//}
.my-style-modal-close{
  position: absolute;
  margin-top: 20px;
  width: 100%;
  background: transparent;
}
.my-style-modal-content{
  position: relative;
}

.modal-backdrop{
  background-color: #f5f4fa;
}
.modal-background {
  position: fixed;
  top: 0;
  color: black;
  overflow: auto;
  left: 0;
  display: flex;
  height: 100%;
  opacity: 0;
  z-index: -1000;
  min-height: 100vh;
  &.background-none {
    background: none;
  }
  &.white-background {
    background: #ffffff;
  }
  &.white-background-50 {
    background: rgba(255, 255, 255, 0.8);
  }
  .white-background-50 {
    background: rgba(255, 255, 255, 0.8);
  }

  &.hide {
    -webkit-animation: fadeout .5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeout .5s; /* Firefox < 16 */
    -ms-animation: fadeout .5s; /* Internet Explorer */
    -o-animation: fadeout .5s; /* Opera < 12.1 */
    animation: fadeout .5s;
    opacity: 0;
  }

  &.show {
    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein .5s; /* Firefox < 16 */
    -ms-animation: fadein .5s; /* Internet Explorer */
    -o-animation: fadein .5s; /* Opera < 12.1 */
    animation: fadein .5s;
    z-index: 1001;
    opacity: 1;
    background: rgba(255, 255, 255, 0.8);
  }

  .modal-dialog {
    position: relative;
    width: 100%;

    &.register-modal {
      margin: 4.75rem auto;
      @media screen and (max-height: 870px) {
        align-items: unset;
      }
      .form-control-custom {
        position: relative;
      }
    }

    &.autoris-modal {
      background: transparent;

      .my-style-modal-content {
        background: #fff !important;
      }
    }

    &.modal-small {
      width: 500px;
      max-width: unset;
    }

    &.modal-large {
      width: 800px;
      max-width: unset;
    }

    .close-modal {
      position: absolute;
      width: 100%;
      text-align: center;
      font-size: 30px;
      top: -4rem;
      left: 0;
      cursor: pointer;
      color: black;
      margin: auto;
    }
  }

  .modal-content {
    background: transparent;
    border: none;


    .modal-header, .modal-body, .modal-footer {
      display: block;
      border: none;
      background-color: #fff;

      .custom-border-red {
        position: absolute;
        border: 1px solid #ff4e4b;
        width: 80%;
        margin-right: 15px;
        right: 0;
        bottom: 0;
      }
    }

    .modal-header {
      .logo {
        text-transform: capitalize;
        font-size: 25px;
        font-weight: bold;
      }

    }

    .qr-code-full {
      img {
        margin: 0 auto;
      }
    }
  }
}

.dashboard-layout .modal-background .modal-dialog.modal-dialog--mob {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

@media screen and (max-width:1000px) {
  .dashboard-layout .modal-background .modal-dialog.modal-dialog--mob .modal-content .modal-header .white-shadow {
    min-width: auto;
  }
  .dashboard-layout .modal-background .modal-dialog.modal-dialog--mob {
    .my-mob-hide {
      display: none;
    }
  }
  .dashboard-layout .modal-background .modal-dialog.modal-dialog--mob .header-hide-mobile {
    display: block !important;
  }
  .dashboard-layout .modal-background .modal-dialog.modal-dialog--mob .swiper-container {
    display: none !important;
  }
}
.span-absolut {
  position: absolute;
  right: 0;
}
.modal-input-user-wrapp {
  width: 60%;
}
.modal-input-desc {
  position: absolute;
  top: 0;
  right: 0;
  width: 14%;
  text-align: right;
}
.modal-btn-wrapp {
  width: 40%;
  margin-left: 1rem;
}
.dashboard-layout .modal-background .modal-dialog .modal-content .form-custom .form-control-custom {
  .modal-input-user-wrapp {
    position: relative;
    input {
      padding-right: 14%;
    }
  }
}
@media (max-width: 1024px) {
  .notification-modal {
    overflow-x: hidden;
    .modal-background .modal-dialog.modal-large {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .modal-input-user-wrapp {
    width: 100%;
    margin-bottom: 20px;
  }
  .modal-mob-text-center {
    text-align: center;
  }
  .modal-btn-wrapp {
    width: 100%;
    margin-left: 0;
    .btn {
      width: 100%;
    }
  }
}
@media (max-width: 578px) {
  .notification-modal {
    .leadership-bonus table {
      overflow-x: auto;
      display: block;
    }
  }
}

.modal-input-wrapp--inner {
  position: relative;
  width: 60%;
  align-items: flex-end;
  display: flex;
  padding-right: 10px;
  padding-bottom: .5rem;
}
.modal-btn-wrapp--inner {
  width: 40%;
  .btn {
    width: 100%;
  }
}
.contribution {
  position: absolute;
  right: 0;
  text-align: right;
  padding-right: .5rem;
}

@media (max-width: 578px) {
  .box-mob--wrap {
    flex-wrap: wrap;
  }
  .modal-input-wrapp--inner {
    width: 100%;
    margin-bottom: 20px;
    padding-right: 0;
  }
  .modal-btn-wrapp--inner {
    width: 100%;
  }
  .contribution {
    padding-right: 0;
  }
}
@media (max-width: 1024px) {
  .mob--box {
    flex-wrap: nowrap !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
    align-items: baseline;
  }
}
@media screen and (max-width: 1024px) {
  .dashboard-layout .modal-background .modal-dialog .modal-content .form-custom .form-control-custom .dropdown-select {
    width: auto !important;
    margin-bottom: 10px !important;
  }
  .dashboard-layout .modal-background .modal-dialog .modal-content .modal-footer button.mob-btn-modal {
    margin-left: -30px;
  }
}

.dashboard-layout .modal-background .modal-dialog .modal-content .modal-header.modal-header--activate-vaucher {
  padding: 1rem 30px;
}
.wrapp-input-voucher_pin {
  border-bottom: 2px solid #a7a7b7;
  input {
    outline: none;
  }
}
@media screen and (max-width: 768px) {
  .dashboard-layout .modal-background .modal-dialog .modal-content .modal-header.modal-header--activate-vaucher {
    padding: 1rem 0;
  }
}
.filepond--root .filepond--list-scroller {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.filepond--root .filepond--list-scroller {
  margin-top: 1rem !important;
}