<template>
  <div class="approve-action">
    <button type="button" class="btn btn-success" @click="onOpenRightPanel('detail-view')">
      <i class="fas fa-check"></i> Подтвердить
    </button>

    <right-panel ref="rightPanel" title="Банковский реквизит">
      <component class="mt-5"
        :bank-requisite="bankRequisite"
        :component="component"
        :is="component.name"
        @yes="onYes"
        @no="onNo"
      />

      <div class="mt-5" v-show="component.name === 'detail-view'">
        <button type="button" class="btn btn-success" @click="onSave">Подтвердить</button>
      </div>
    </right-panel>
  </div>
</template>

<script>
  import RightPanel from '../../common/right-panel'
  import SuccessfulView from './SuccessfulView'
  import ConfirmView from './ConfirmView'
  import DetailView from './DetailView'
  import requests from '../requests'

  export default {
    name: "ApproveAction",
    components: {
      SuccessfulView,
      ConfirmView,
      DetailView,
      RightPanel
    },
    props: {
      bankRequisite: Object
    },
    data () {
      return {
        component: {
          name: '',
          message: ''
        }
      }
    },
    created() {
      this.$nextTick(() => $(this.$el).removeClass('preview-btn'));
    },
    methods: {
      onOpenRightPanel (component) {
        this.component.name = component
        this.$refs.rightPanel.show()
      },
      onSave () {
        this.component.name = 'confirm-view'
      },
      onYes () {
        let request = {
          bank_requisite_id: this.bankRequisite.id
        }

        this.$refs.rightPanel.spin(true)

        requests.bankRequisites.approve(request).then(({data}) => {
          this.$refs.rightPanel.spin(false)
          this.component.name = 'successful-view'
          this.component.message = data.message

          jQuery(this.$el).closest('tr')
            .find('[type="button"]')
            .prop('disabled', true)
        })
        this.$refs.rightPanel.hide()
      },
      onNo () {
        this.component.name = 'detail-view'
      }
    }
  }
</script>
