<template>
    <section class="dashboard">
        <div class="users">
            <h3>Банковские реквизиты</h3>
            <div class="table-cards-wrapp">
              <table class="table table-striped table-bordered">
                <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">ID клиента</th>
                  <th scope="col">ФИО</th>
                  <th scope="col">Банковский счет</th>
                  <th scope="col" colspan="2">Действие</th>
                </tr>
                </thead>
                <tbody>
                <template v-for="req in bankReq">
                  <tr v-if="bankReq.length > 0" :id=" req.id">
                    <td>{{ req.id }}</td>
                    <td>{{ req.user.id }}</td>
                    <td>{{ req.user.full_name }}</td>
                    <td>{{ req.recipient_account }}</td>
                    <td>
                      <ApproveAction class="preview-btn" :bank-requisite="req" />
                    </td>
                    <td>
                      <DiscardAction @del="delReq" class="preview-btn" :bank-requisite="req" />
                    </td>
                  </tr>
                  <tr v-else>
                    <td colspan="9" class="text-center">Ничего не найдено.</td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
        </div>
    </section>
</template>

<script>
    import ApproveAction from './ApproveAction'
    import DiscardAction from './DiscardAction'
    export default {
      name: 'bank-req',
      components: {
        DiscardAction,
        ApproveAction,
      },
      data() {
        return {
            bankReq: null
        }
      },
      props: {
        data: String
      },
      methods: {
        delReq($event) {
          this.bankReq = this.bankReq.filter(item => item.id !== $event.id)
        }
      },
      created() {
        this.bankReq = JSON.parse(this.data)
      }
    }
</script>
