<template>
  <div class="confirm-view">
    <div class="text-center h5">Вы уверены, что хотите выполнить действие?</div>
    <div class="text-center mt-5">
      <button type="button" class="btn btn-primary" @click="$emit('yes')">Да, конечно</button>
      <button type="button" class="btn btn-secondary" @click="$emit('no')">Нет</button>
    </div>
  </div>
</template>

<script>
  export default {
    name: "ConfirmView",
    props: {
      bankRequisite: Object,
      component: Object
    }
  }
</script>
