<template>
  <div class="detail-view">
    <div><strong>ID клиента</strong>: {{ bankRequisite.user.id }}</div>
    <div><strong>ФИО</strong>: {{ bankRequisite.user.full_name }}</div>
    <div><strong>Банковский счет</strong>: {{ bankRequisite.recipient_account }}</div>
    <div><strong>Swift код</strong>: {{ bankRequisite.swift_code }}</div>
    <div><strong>Владелец счета</strong>: {{ bankRequisite.recipient_name }}</div>
    <div><strong>Адрес</strong>: {{ bankRequisite.recipient_address }}</div>
    <div v-for="(document, index) in bankRequisite.documents">
      <strong>Документ {{ index + 1}}</strong>:
      <span v-html="toLink(document)"></span>
    </div>
    <div v-if="bankRequisite.notifications.length !== 0">
      <strong>Комментарий при отмене</strong>: {{ bankRequisite.notifications[0].comment }}
    </div>
  </div>
</template>

<script>
  export default {
    name: "DetailView",
    props: {
      bankRequisite: Object,
      component: Object
    },
    methods: {
      toLink (document) {
        let label = '';

        switch (document.type) {
          case 'account_statement':
            label = 'Выписка со счёта'
            break
          case 'account_details':
            label = 'Реквизиты счёта'
            break
          case 'additional_documents':
            label = 'Дополнительный документ'
            break
        }

        return `<a target="_blank" href="${document.url}">${label}</a>`
      }
    }
  }
</script>
