<template>
  <div class="discard-form">

    <detail-view
        :bank-requisite="bankRequisite"
        :component="component"
    />

    <div class="mt-5 input-group">
      <textarea
          style="height: 120px;"
          v-model="form.comment"
          placeholder="Причина"
          :class="errorComment?'is-invalid':''"
          class="form-control"
          cols="30"
          rows="10"
          @input="checkEmpty"
      ></textarea>
      <div v-if="errorComment" class="invalid-feedback">
        Укажите причину
      </div>
    </div>

    <div class="mt-5">
      <button type="button" class="btn btn-danger" @click="save()">Отменить</button>
    </div>
  </div>
</template>

<script>
  import DetailView from './DetailView'

  export default {
    name: "DiscardForm",
    components: {
      DetailView
    },
    props: {
      bankRequisite: Object,
      component: Object
    },
    created () {
      this.$nextTick(() => {
        this.form.comment = this.component.message
      })
    },
    methods: {
      save(){
        if(this.form.comment=='') {
          this.errorComment = true;
          return false
        }else {
          this.errorComment = false;
        }
        this.$emit('save', this.form)
      },
      checkEmpty(){
        if(this.form.comment=='') {
            this.errorComment = true;
        }else {
            this.errorComment = false;
        }
      }
    },
    data () {
      return {
        form: {
          comment: ''
        },
        errorComment: null
      }
    }
  }
</script>
