<template>
  <div class="discard-action">
    <button type="button" class="btn btn-secondary" @click="onOpenRightPanel('discard-form')">
      <i class="fas fa-ban"></i> Отменить
    </button>

    <right-panel ref="rightPanel" title="Банковский реквизит">
      <component class="mt-5"
        :bank-requisite="bankRequisite"
        :component="component"
        :is="component.name"
        @save="onSave"
        @yes="onYes"
        @no="onNo"
      />
    </right-panel>
  </div>
</template>

<script>
  import RightPanel from '../../common/right-panel'
  import SuccessfulView from './SuccessfulView'
  import DiscardForm from './DiscardForm'
  import ConfirmView from './ConfirmView'
  import requests from '../requests'

  export default {
    name: "DiscardAction",
    components: {
      SuccessfulView,
      DiscardForm,
      ConfirmView,
      RightPanel
    },
    props: {
      bankRequisite: Object
    },
    data () {
      return {
        component: {
          name: '',
          message: ''
        },
        form: {
          bank_requisite_id: null,
          comment: ''
        }
      }
    },
    created () {
      this.$nextTick(() => {
        this.form.bank_requisite_id = this.bankRequisite.id
        jQuery(this.$el).removeClass('preview-btn')
      })
    },
    methods: {
      onOpenRightPanel (component) {
        this.component.name = component
        this.$refs.rightPanel.show()
      },
      onSave ({comment}) {
        this.component.name = 'confirm-view'
        this.component.message = comment
        this.form.comment = comment
      },
      onYes () {
        this.$refs.rightPanel.spin(true)
        this.component.message = ''

        requests.bankRequisites.discard(this.form).then(({data}) => {
          this.$refs.rightPanel.spin(false)
          this.component.name = 'successful-view'
          this.component.message = data.message
        })
        this.$refs.rightPanel.hide()
        this.$emit('del', this.bankRequisite)
      },
      onNo () {
        this.component.name = 'discard-form'
      }
    }
  }
</script>
