<template>
  <div class="successful-view text-center h5">{{ component.message }}</div>
</template>

<script>
  export default {
    name: "SuccessfulView",
    props: {
      bankRequisite: Object,
      component: Object
    }
  }
</script>
