{% extends 'admin.twig' %}

{% block content %}

    <section class="dashboard">
        <div class="users">
            <h3>Тарифы</h3>

            <tariff-grid-view :tariffs="{{ tariffs|json_encode }}"></tariff-grid-view>
        </div>
    </section>

{% endblock %}
