.btn-primary {
  width: 160px;
  background-image: linear-gradient(to right, #292631 0%, #4f313f 100%);
  border: none;
  outline: none;
  box-shadow: 0 12px 32px 3px rgba(17, 6, 51, 0.3);
  border-radius: 0;
  padding: 10px;

  &:hover{
    background-image: linear-gradient(to right, rgba(20, 16, 29, 0.91) 0%, rgba(20, 16, 29, 0.91) 100%);
  }

  &:focus, &:active, &:active:focus {
    box-shadow: none!important;
  }
}

.btn-danger{
  border: 2px solid #ff504b;
  background: transparent;
  padding: 5px 15px;
  color: #ff504b;
  &:hover {
    border: 2px solid #ff504b;
    color: #ff504b;
    background: transparent;
  }
  &:focus, &:active, &:active:focus {
    box-shadow: none;
  }
}

.btn-secondary {
  border: 2px solid #a7a7b7;
  background: transparent;
  padding: 5px 15px;
  color: #a7a7b7;
  font-weight: bold;
  &.active {
    background: transparent!important;
    box-shadow: none;
    border-color: black;
    color: black!important;
  }
  &:hover {
    border: 2px solid #000000;
    color: black;
    background: transparent;
  }
  &:focus, &:active, &:active:focus {
    box-shadow: none;
  }
}

.btn-danger {
  background-color: #ea5348;
  border-radius: 2px;
  color: white;
  border: 2px solid #ea5348;
  font-weight: bold;
}

.btn-success {
  background-color: #00da77;
  border-radius: 2px;
  color: white;
  border: 2px solid #00da77;
  font-weight: bold;
  &:hover {
    border: 2px solid #00da77;
    background: transparent;
    color: #00da77;
  }
}
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  text-align: center;
  cursor: pointer;

}

.close__svg {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  stroke: #292631;
  width: 32px;
  height: 32px;

  &:hover{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    stroke: #5f3d4d;
    cursor: pointer;
  }
}

.modal-content {
  .btn-primary {
    width: 100%;
    margin-left: 0;
  }
}
.new-background-modal .new-modal-content .modal-footer {
  .btn.btn-accepted {
    width: 180px;
    @media(max-width: 768px) {
      width: 145px;
    }
  }
}
.btn-sort {
  display: inline-block;
  font-size: 11px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  //border: 1px solid transparent;
  padding: .375rem .45rem;
  cursor: pointer;
  //margin-bottom: -.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:hover {
    border-color: #fff;
    color: #fff;
  }
  @media(max-width: 1366px) {
    font-size: 10px;
    padding: .375rem .35rem;
  }
}
.btn-sort.active {
  border-bottom: 1px solid #fff;
  color: #fff;
}
.btn.btn-vauchers {
  height: 100%;
}
.btn.activate-voucher-btn {
  height: 44px;
}
