.activate{
  & .buttons-group-row{
    min-height: 35vh;
  }

  & img{
    width: 50%;
  }

  & .activate-instruction-link:hover{
    color: #0056b3;
  }

  & .section-mobile-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & .section-mobile-button-links{
    display: block!important;
  }
}
