.leadership-bonus {
  table {
    box-shadow: 0 0 5px 0 rgba(17,6,51,0.14);
    background-color: #f6f6fb;
  }
  &__footer {
    align-items: center;
    justify-content: center;
    &__item {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 15px;
    }
  }
}
@media(max-width: 935px) {
  .table__team-structure {
    overflow-x: auto;
    display: block;
  }
}
@media(max-width: 935px) {
  .bonus__mob-hide {
    display: none;
  }
  .tabs-partners {
    .btn {
      font-size: 12px;
    }
  }
}
@media(max-width: 768px) {
  .leadership-bonus .table th, .table td, .tariff-bonus .table th, .table td {
    font-size: 12px;
  }
}

@media(max-width: 620px) {
  .leadership-bonus .table th, .table td, .tariff-bonus .table th, .table td {
    padding: .3rem;
  }
}
@media (max-width: 520px) {
  .tabs-partners {
    display: flex;
    flex-wrap: wrap;
    .btn {
      margin-bottom: 5px;
      width: 100%;
    }
  }
}

@media (max-width: 420px) {
  .leadership-bonus table {
    overflow-x: auto;
    display: block;
  }
  .table-bordered.leadership-bonus__table {
    border: none;
  }
}

@media (max-width: 360px) {
  .tariff-bonus table {
    overflow-x: auto;
  }
}
//.last-transactions {
//  margin-left: -15px;
//  margin-right: -15px;
//}
.last-transactions__height {
  height: 82%;
}
