.tariff-bonus {
  table {
    box-shadow: 0 0 5px 0 rgba(17,6,51,0.14);
    background-color: #f6f6fb;
  }
  &__footer {
    align-items: center;
    justify-content: center;
    &__item {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 15px;
    }
  }
}
