<template>
  <a class="lang nav-link icon d-lg-block"
     @click="changeLang(reverseLang)">
    <div>
      <span class="text-white">{{reverseLang.toUpperCase()}}</span>
      <img :src="getLangFlagIcon(reverseLang)" alt="">
    </div>
  </a>
</template>

<script>
  import {mapGetters} from "vuex";
  import {getLangFlagIcon} from "@/main/utilities";

  export default {
    name: "lang-switcher",
    computed: {
      ...mapGetters({
        currentLang: 'getSelectedLang'
      }),
      reverseLang() {
        return this.currentLang === 'EN' ? 'RU' : 'EN'
      }
    },
    mounted(){
    },
    methods: {
      getLangFlagIcon,
      changeLang(lang) {
        this.$store.dispatch('updateUserLang', lang)
      },
    }
  }
</script>
