.empty-voucher {
  .d-flex {
    &:first-child {
      @media screen and (max-width: 520px) {
        flex-direction: column !important;
        .icon-pay-card {
          margin-bottom: 15px;
          margin-top: 30px;
        }
      }
    }
  }
}

.voucher {
  margin-left: 0;

  .voucher-table {
    font-size: 14px;
    @media screen and (max-width: 1284px) {
      justify-content: space-between !important;
      &.voucher-table-header {
        display: none !important;
      }
    }
    @media screen and (max-width: 768px) {
      align-items: center !important;
      justify-content: center !important;
    }
    @media screen and (min-width: 1285px) {
      &:not(.voucher-table-header) {
        .voucher-item {
          small {
            display: none;
          }
        }
      }
    }

    &:nth-child(even) {
      background: #f5f3f9;
    }

    .voucher-item {
      min-width: 50px;
      max-width: 200px;
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding: .75rem 0 .75rem 0;

      &:first-child {
        div {
          padding: 0 5px;
        }
      }

      div {
        height: 100%;
        justify-content: center;
        display: flex;
        align-items: center;

        i {
          cursor: pointer;
        }
      }


      &:first-child {
        width: 175px;
        @media screen and (max-width: 768px) {
          width: 50% !important;
        }
        @media screen and (max-width: 520px) {
          width: 100% !important;
        }

      }

      &:nth-child(2) {
        width: 175px;
        @media screen and (max-width: 768px) {
          width: 50% !important;
        }
        @media screen and (max-width: 520px) {
          width: 100% !important;
        }

      }

      &:nth-child(3) {
        width: 100px;
        @media screen and (max-width: 768px) {
          width: 25% !important;
        }
        @media screen and (max-width: 520px) {
          width: 100% !important;
        }

      }

      &:nth-child(4) {
        width: 100px;
        @media screen and (max-width: 768px) {
          width: 25% !important;
        }
        @media screen and (max-width: 520px) {
          width: 100% !important;
        }

      }

      &:nth-child(5) {
        width: 100px;
        @media screen and (max-width: 1284px) {
          small {
            font-size: 9px;
          }
        }
        @media screen and (max-width: 768px) {
          width: 25% !important;
        }
        @media screen and (max-width: 520px) {
          width: 100% !important;
        }
      }

      &:nth-child(6) {
        width: 100px;
        @media screen and (max-width: 768px) {
          width: 25% !important;
        }
        @media screen and (max-width: 520px) {
          width: 100% !important;
        }
      }

      &:nth-child(7) {
        width: 100px;

        div {
          span {
            word-break: break-word;
          }
        }

        &.active-voucher {
          @media screen and (min-width: 992px) {
            padding-left: 18px;
          }
        }

        @media screen and (max-width: 768px) {
          width: 25% !important;
        }
        @media screen and (max-width: 520px) {
          width: 100% !important;
        }

        div {
          i {
            cursor: pointer;
          }
        }
      }
    }

    .сhess-table {
      tbody {
        tr {
          &:nth-child(odd) {
            background: #f5f3f9;
          }

          td {
            &:last-child {
              i {
                margin-left: 20px;
              }
            }
          }
        }
      }
    }
  }
  .activate-voucher-btn {
    min-width: 130px;
  }
  .hash-voucher-input {
    min-width: 220px;
  }
}

.modal-dialog.voucher-modal {
  margin: 5rem auto 0 auto;

  .modal-content {
    .link-activation-voucher {
      @media screen and (max-width: 480px) {
        flex-direction: column !important;
        align-items: flex-start !important;
        div {
          margin-bottom: 15px;
        }
      }
    }
  }
}
.btn-vauchers {
  padding-left: 10px;
  padding-right: 10px;
  @media(max-width: 1024px) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1290px) {
  .voucher .voucher-table .voucher-item div {
    height: auto;
  }
}
@media screen and (max-width: 1024px) {
  .voucher {
    .row {
      .voucher__item  {
        max-width: 100% !important;
        flex: 100%;
      }
    }
    .voucher-wrapp {
      flex-wrap: wrap;
      .d-flex.flex-lg-row.flex-column.mt-4.mt-md-0.mt-lg-0.ml-lg-3 {
        margin-left: 0 !important;
      }
      .btn-vauchers {
        min-height: 47px;
        margin-bottom: 1.5rem !important;
        margin-right: 1rem !important;
      }
      form {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .voucher .voucher-table .voucher-item {
    width: 100% !important;
  }
  .voucher .voucher-table {
    justify-content: space-between !important;
  }
}
@media screen and (max-width: 620px) {
  .voucher .voucher-table .voucher-item:first-child {
    width: 100% !important;
  }
  .voucher .voucher-table .voucher-item:nth-child(2) {
    width: 100% !important;
  }
  .voucher .voucher-table .voucher-item:nth-child(3) {
    width: 100% !important;
  }
  .voucher .voucher-table .voucher-item:nth-child(4) {
    width: 100% !important;
  }
  .voucher .voucher-table .voucher-item:nth-child(5) {
    width: 100% !important;
  }
  .voucher .voucher-table .voucher-item:nth-child(6) {
    width: 100% !important;
  }
  .voucher .voucher-table .voucher-item:nth-child(7) {
    width: 100% !important;
  }
  .voucher .voucher-table .voucher-item {
    max-width: 100%;
  }
}

@media screen and (max-width:480px) {
  .voucher .voucher-wrapp .btn-vauchers {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 1rem !important;
  }
}
@media screen and (max-width:768px) {
  .link-activation-voucher {
    flex-wrap: wrap;
    .d-flex.flex-column:first-child {
      width: 100%;
    }
    .d-flex.flex-column:nth-child(2) {
      width: 8%;
    }
    .d-flex.flex-column:nth-child(3) {
      width: 90%;
    }
  }
}
.voucher-list {
  @media(max-width: 1024px) {
    flex-wrap: wrap;
    form {
      margin-left: 0 !important;
    }
  }
  @media(max-width: 1024px) and (min-width: 768px){
    form {
      align-items: flex-end !important;
    }
  }
}
