<template>
  <div>
    <div class="modal-header">
      <h6 class="text-black">{{ $t("dashboard.profile.buy") }} {{form.currency_to}}</h6>
    </div>
    <div class="modal-body">
      <form class="form-custom black mt-3" @submit.prevent="onSubmit">
        <div class="form-control-custom mb-5">
          <small class="text-silver d-block">{{ $t("dashboard.profile.give") }}</small>
          <div class="border-bottom-hover black-hover silver-border d-flex justify-content-between">
            <input class="flex-shrink-1 border-0 number-without-control pb-0"
                   v-model="form.amount_from"
                   type="number"
                   step="any"
                   min="0"
                   required
                   ref="field_amount_from"
            >
            <div class="dropdown-select border-0 d-flex flex-shrink-1 color-black ml-2">
              <div class="d-flex flex m-0 align-items-end" style="flex-direction: unset">
                <input type="hidden" disabled v-model="form.currency_from">
                <div style="margin-bottom: .6rem;" class="w-100 mr-3 border-0 font-weight-bold">{{balanceAmount}}</div>
                <div style="margin-bottom: .5rem;" class="w-100 border-0 font-weight-bold">{{ form.currency_from | getCurrencyAlias }} (bonus)</div>
              </div>
            </div>
          </div>

          <small class="text-silver">{{ $t("dashboard.profile.account") }}
            <small class="text-black" :class="balanceAmount < parseFloat(form.amount_from) ? 'text-red' : ''">
              {{balanceAmount}} {{form.currency_from | getCurrencyAlias}} (bonus)
            </small>
          </small>
        </div>
        <div class="form-control-custom">
          <small class="text-silver d-block">{{ $t("dashboard.profile.get") }}</small>
          <div class="border-bottom-hover black-hover silver-border d-flex justify-content-between align-items-center">
            <input style="padding-bottom: 0.5rem !important;" class="flex-shrink-1 border-0 number-without-control"
                   v-model="form.amount_to"
                   type="number"
                   step="any"
                   min="0"
                   required>
            <div class="dropdown-select border-0 d-flex flex-shrink-1 color-black ml-2">
              <div class="d-flex flex m-0 align-items-center" style="flex-direction: unset">
                <input type="hidden" disabled v-model="form.currency_to">
                <div class="w-100 mr-3 border-0 font-weight-bold">{{ balanceAmountTo }}</div>
                <div class="w-100 border-0 font-weight-bold">{{ form.currency_to | getCurrencyAlias }}</div>
              </div>
            </div>
          </div>
          <small class="text-silver">{{ $t("dashboard.profile.account") }}
            <small class="text-black">{{balanceAmountTo}} {{form.currency_to | getCurrencyAlias}}</small>
          </small>
        </div>
        <div class="modal-popular-item--footer">
          <button type="submit" class="btn btn-success">{{ $t("dashboard.profile.exchange") }}</button>
        </div>
      </form>
    </div>
    <deposit-modal-container ref="depositmodal" v-if="openDeposit" v-on:close-modal="openDeposit = false"/>
  </div>
</template>

<script>
import DepositModalContainer from '../../../dashboard/payments/deposit/DepositModalContainer'
import {formatMoney, getCurrencyAlias, getCurrencyIcon, parseFixed} from '../../../../utilities'
import alert from '../../../../../common/sweet-alert'
import spinner from '../../../../../common/spinner'
import requests from '../../../../requests'
import { mapGetters } from 'vuex'
import jQuery from 'jquery'
import _ from 'underscore'
import {handleErrorForAlert} from "@/main/utilities";

export default {
  name: "exchange-modal",
  components: {
    DepositModalContainer
  },
  props: {
    resources: {
      type: Object
    }
  },
  data() {
    return {
      openDeposit: false,
      isShow: false,
      allExchangeAccounts: {},
      exchangeRate: 0,
      error: null,
      form: {
        currency_from: 'CFX',
        currency_to: 'CFX',
        amount_from: null,
        amount_to: null,
      }
    }
  },
  updated() {
    this.$refs.field_amount_from.focus()
  },
  created(){
    this.form.currency_from = this.resources.currency
    this.form.currency_to = this.resources.currency_to
  },
  computed: {
    ...mapGetters({
      isUserVerified: 'isUserVerified',
      cryptoCurrencies: 'getCryptoCurrencies',
      exchangeRates: 'getExchangeRates',
      userAccounts: 'getUserAccounts',
      activeSocket: 'getActiveSocket',
      tokenCurrencies: 'getTokenCurrencies'
    }),
    balanceAmount () {
      if (this.resources) {
        return formatMoney(
        parseFloat(this.resources.amount),
        this.form.currency_from
        )
      }
    },
    balanceAmountTo () {
      let amount = 0

      this.userAccounts.map((account) => {
        if (account.currency === this.form.currency_to) {
          amount = formatMoney(
            account.amount,
            this.form.currency_to
          );
        }
      })

      return amount
    }
  },
  watch: {
    resources(item) {
      this.form.currency_from = item.currency
      this.form.currency_to = item.currency_to
    },
    'form.amount_from' () {
      this.form.amount_to = this.form.amount_from
    },
    'form.amount_to' () {
      this.form.amount_from = this.form.amount_to
    },
  },
  methods: {
    toggle (isShow) {
      jQuery('body').toggleClass('overflow-hidden', isShow)
      this.isShow = isShow
    },
    close () {
      this.toggle(false)
    },
    open () {
      this.toggle(true)
    },
    resetAmount () {
      this.form.amount_from = null;
      this.form.amount_to = null;
    },
    onSubmit() {

      if(parseFloat(this.form.amount_from) > parseFloat(this.balanceAmount)) {
        alert.error(this.$t(`errors.3006`))
        return false;
      }
      spinner.toggle(true)
      requests.exchange.postBonus(this.form).then(() => {
        this.$emit('bonus-exchange:success')
        this.resources.amount = String(Number(this.resources.amount) - Number(this.form.amount_from))
        spinner.toggle(false)
        this.resetAmount()
        this.close()
      }).catch(({response}) => {
        this.$emit('bonus-exchange:error')
        spinner.toggle(false)
        if (response.data.code) {
          alert.error(this.$t(`errors.${response.data.code}`))
        } else {
          alert.error(handleErrorForAlert(response.data.errors))
        }
      })
    }
  },
  filters: {
    formatMoney,
    getCurrencyAlias,
    getCurrencyIcon,
    parseFixed
  },
}
</script>
