<template>
  <div class="flex-column last-transactions">
    <div class="mb-4">
      <span class="text-silver">{{ $t("dashboard.profile.bonus_account") }}:</span>
      <select v-model="selectedCurrency"  @change="selectResources">
        <option v-for="item in resources.bonusAccount" :value="item.currency" :selected="selectedCurrency === item.currency">
          <span>{{item.currency}} <strong>{{item.amount|formatMoney(item.currency)}}</strong></span>
        </option>
      </select>
      <a href="#" @click.prevent="onExchange">{{ $t("dashboard.profile.exchange") }}</a>
    </div>
    <div class="d-flex justify-content-between header">
      <h3>{{ $t("dashboard.profile.bonus_account") }}</h3>
    </div>
    <div class="d-flex flex-column overflow-auto body last-transactions__height">
      <template v-for="transaction in resources.bonusVolumes">
        <div class="d-flex justify-content-between item align-items-center">
          <span>{{transaction.created_at}}</span>
          <div class="d-flex align-items-center center">
            <img class="mr-2" :src="getUrlIcon(transaction)">
            <div class="d-flex flex-column">
              <span class="font-weight-bold">{{transaction.comment}}</span>
              <small class="text-silver">{{ $t("dashboard.profile.text23") }} {{transaction.currency}}</small>
            </div>
          </div>
          <div class="d-flex">
            <span class="font-weight-bold mr-2">{{getPlusOrMinus(transaction)}} {{transaction.amount}}</span>
            <span>{{transaction.currency}}</span>
          </div>
        </div>
      </template>
    </div>
    <div class="last-transactions-footer">
      <img role="button" class="arrow-down" src="/assets/images/down-arrow.svg">
    </div>
    <ModalWrapper ref="modalWrapper">
      <bonus-exchange-modal
              @bonus-exchange:success="onBonusExchangeSuccess"
              ref="bonusExchangeModal"
              :resources="selectedResources"
      />
    </ModalWrapper>
  </div>
</template>

<script>
  import BonusExchangeModal from './BonusExchangeModal'
  import alert from '../../../../../common/sweet-alert'
  import _ from 'underscore'
  import { mapGetters } from 'vuex'
  import {formatMoney} from '../../../../utilities'

  export default {
    name: 'BonusVolume',
    components: {
      BonusExchangeModal
    },
    props: {
      resources: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        selectedResources: null,
        selectedCurrency: 'EUR'
      }
    },
    mounted() {
      this.selectResources()
    },
    watch: {
      resources(items) {
        let selectedCurrency = this.selectedCurrency
        this.selectedResources = _.find(items.bonusAccount, item => {
          return item.currency === selectedCurrency
        })
        let selectedBonusSetting = _.find(items.bonusSettings, item => {
          return item.currency_from === selectedCurrency
        })
        if (selectedBonusSetting) {
          this.selectedResources.currency_to = selectedBonusSetting.currency_to
        }
      },
    },
    methods: {
      selectResources () {
        let selectedCurrency = this.selectedCurrency
        this.selectedResources = _.find(this.resources.bonusAccount, item => {
          return item.currency === selectedCurrency
        })
        let selectedBonusSetting = _.find(this.resources.bonusSettings, item => {
          return item.currency_from === selectedCurrency
        })
        if (selectedBonusSetting) {
          this.selectedResources.currency_to = selectedBonusSetting.currency_to
        }
      },
      onExchange () {
        this.$refs.modalWrapper.open()
        this.$nextTick(() => this.$refs.bonusExchangeModal.open())
      },
      onBonusExchangeSuccess () {
        alert.success({text: this.$i18n.translate("exchange.successful"), timer: 5000})
        this.$refs.bonusExchangeModal.close()
        this.$refs.modalWrapper.close()
        this.$emit('data:reload')
      },
      getPlusOrMinus (transaction) {
        switch (transaction.index || '') {
          case 'PWA':
            return '+';
          case 'EXT':
            return '-';
          case 'OTPA':
            return '+';
          case 'OOTPA':
            return '+';
          case 'IB':
            return '+'
          case 'IBI':
            return '+';
        }
      },
      getUrlIcon (transaction) {
        switch (transaction.index || '') {
          case 'PWA':
            return '/assets/images/green-left-arrow.png';
          case 'EXT':
            return '/assets/images/red-arrow-right.png';
          case 'OTPA':
            return '/assets/images/green-left-arrow.png';
          case 'OOTPA':
            return '/assets/images/green-left-arrow.png';
          case 'IB':
            return '/assets/images/green-left-arrow.png'
          case 'IBI':
            return '/assets/images/green-left-arrow.png';

        }
      }
    },
    filters: {
      formatMoney
    },
  }
</script>
