<template>
  <div class="leadership-bonus">
    <h3 class="mb-3">{{ $t("dashboard.profile.common_volume") }}</h3>
    <table class="table table-bordered leadership-bonus__table">
      <thead>
      <tr>
        <th scope="col">{{ $t("dashboard.profile.bonus") }}</th>
        <th scope="col">{{ $t("dashboard.profile.amount") }}</th>
        <th scope="col">{{ $t("dashboard.profile.requirement") }}</th>
        <th scope="col">{{ $t("dashboard.profile.qualified_prod") }}</th>
        <th scope="col">{{ $t("dashboard.profile.status") }}</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="model in resources.commonBonus">
        <td>{{ `${$t('dashboard.profile.leadership_bonus_rank')} ${model.rank}` }}</td>
        <td>€ {{ model.amount_bonus }}</td>
        <td>€ {{ model.requirement }}</td>
        <td>€ {{ model.qualified_prod | formatMoney('EUR') }}</td>
        <td v-if="model.status == 1" style="color: green">{{ $t("dashboard.profile.bonus_received") }}</td>
        <td v-else style="color: red">{{ $t("dashboard.profile.bonus_not") }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import {formatMoney} from '../../../../utilities'

  export default {
    name: 'CommonVolume',
    props: {
      resources: {
        type: Object,
        required: true
      }
    },
    filters: {
      formatMoney,
    }
  }
</script>
