<template>
  <div class="leadership-bonus">
    <h3 class="mb-3">{{ (resources.partnerBonusType === 'CFX') ?
      $t("dashboard.profile.text69") : $t("dashboard.profile.psn_self_volume") }}</h3>
    <table class="table table-bordered leadership-bonus__table">
      <thead>
      <tr>
        <th scope="col">{{ $t("dashboard.profile.bonus") }}</th>
        <th scope="col">{{ $t("dashboard.profile.amount") }}</th>
        <th scope="col">{{ $t("dashboard.profile.requirement") }}</th>
        <th scope="col">{{ $t("dashboard.profile.qualified_prod") }}</th>
        <th scope="col">{{ $t("dashboard.profile.status") }}</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="model in resources.leadershipBonus">
        <td>{{ `${$t('dashboard.profile.leadership_bonus_rank')} ${model.rank}` }}</td>
        <td>€ {{ model.amount_bonus }}</td>
        <td>€ {{ model.requirement }}</td>
        <td>€ {{ model.qualified_prod | formatMoney('EUR') }}</td>
        <td v-if="model.status == 1" style="color: green">{{ $t("dashboard.profile.bonus_received") }}</td>
        <td v-else style="color: red">{{ $t("dashboard.profile.bonus_not") }}</td>
      </tr>
      </tbody>
    </table>
    <button v-if="checkBonus" class="btn btn-primary right-menu__button" @click="getBonus">{{$t('words.get_bonus')}}</button>
  </div>
</template>

<script>
  import {formatMoney} from '../../../../utilities'
  import requests from '../../../../requests'
  import spinner from '../../../../../common/spinner'
  import alert from "../../../../../common/sweet-alert";
  export default {
    name: 'LeadershipBonus',
    props: {
      resources: {
        type: Object,
        required: true
      }
    },
    data () {
      return {
        checkBonus: false
      }
    },
    created() {
      this.isBonus()
    },
    filters: {
      formatMoney,
    },
    methods: {
      getBonus(){
        spinner.toggle(true)
        requests.dashboard.partners.getSelfBonus().then(({ data }) => {
          alert.success(this.$t('words.accrued_bonus'))
          this.$emit('data:reload')
        }).finally(() => {
          spinner.toggle(false)

        })
      },
      isBonus() {
        let bonusReady = this.resources.leadershipBonus.find(item=>{
          return item.get_bonus;
        })
        if (bonusReady) {
          this.checkBonus = true
        }
        else {
          this.checkBonus = false
        }

      }
    },
    watch: {
      'resources.leadershipBonus': {
        handler() {
          this.isBonus()
        },
        deep: true
      }
    }
  }
</script>
