<template>
  <div class="tariff-bonus">
    <h3 class="mb-3">{{ $t("dashboard.profile.tariff_bonus") }}</h3>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">{{ $t("dashboard.profile.currency") }}</th>
        <th scope="col">{{ $t("dashboard.profile.amount_from") }}</th>
        <th scope="col">{{ $t("dashboard.profile.amount_to") }}</th>
        <th class="bonus__mob-hide" scope="col">{{ $t("dashboard.profile.token") }}</th>
        <th scope="col">{{ $t("dashboard.profile.action") }}</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="tariffBonus in resources.tariffsBonus">
        <td>EUR</td>
        <td>{{tariffBonus.amount_from}}</td>
        <td>{{tariffBonus.amount_to}}</td>
        <td class="bonus__mob-hide">{{tariffBonus.token}}</td>
        <td>
          <label class="mt-2 d-block">
            <input type="radio" :checked="checkUserTariff(tariffBonus)" disabled>
            <div class="checkbox__button"></div>
          </label>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  export default {
    name: 'TariffBonus',
    props: {
      resources: {
        type: Object,
        required: true
      }
    },
    methods: {
      checkUserTariff(tariffBonus) {
        return (this.resources.userTariff != null) &&
          (tariffBonus.amount_from == this.resources.userTariff.amount_from) ? 1 : 0
      }
    }
  }
</script>