<template>
  <div class="leadership-bonus">
    <h3 class="mb-3">{{ $t("dashboard.profile.team_structure") }}</h3>
    <table class="table table__team-structure table-bordered">
      <thead>
      <tr>
        <template v-for="level in levels">
          <th scope="col">{{$t("dashboard.profile.level")}} {{level}}</th>
        </template>
      </tr>
      </thead>
      <tbody>
      <template v-for="level in levels">
        <td scope="col">
          <template v-if="typeof resources.userReferrals[level] !== 'undefined'" v-for="(partner, p) in resources.userReferrals[level]">
            <a href="javascript:" @click="showPartnerInfo(level, p)">{{partner.partner}}</a><br/>
          </template>
        </td>
      </template>
      </tbody>
    </table>
    <ModalWrapper ref="modalWrapper" :width="'auto'" :title="this.modal.title">
      <modal :title="title" ref="partnerHist" @close-modal="$refs.modalWrapper.close()">
        <table class="table table-striped table-bordered mt-3">
          <thead>
          <tr>
            <th scope="col" class="text-center">{{$t("dashboard.profile.amount")}}</th>
            <th scope="col" class="text-center">{{$t("terminal.volume")}}</th>
            <th scope="col" class="text-center">{{$t("dashboard.profile.currency")}}</th>
            <th scope="col" class="text-center">{{$t("dashboard.profile.bonus_type")}}</th>
            <th scope="col" class="text-center">{{$t("transactions.date")}}</th>
          </tr>
          </thead>
          <tbody>
          <template v-if="histories.length">
            <tr v-for="history in histories">
              <td class="text-center">{{history.amount_accrual}}</td>
              <td class="text-center">{{history.amount_turnover}}</td>
              <td class="text-center">{{history.currency}}</td>
              <td class="text-center">{{$t("words."+history.bonus_type)}}</td>
              <td class="text-center">{{history.created_at}}</td>
            </tr>
          </template>
          <template v-else>
            <tr >
              <td colspan="5" class="text-center">Ничего не найдено.</td>
            </tr>
          </template>
          </tbody>
        </table>
      </modal>
    </ModalWrapper>
  </div>
</template>

<script>
    import {formatMoney} from '../../../../utilities'
    import Modal from '../../../../layouts/dashboard/LeftPanel/NotifyModal'

    export default {
        name: 'TeamStructure',
        props: {
            resources: {
                type: Object,
                required: true
            }
        },
        components:{
            Modal
        },
        data() {
            return {
                levels: 9,
                title:null,
                histories: [],
                modal : {
                    message: null,
                    title: null
                },
                modalShow: false
            }
        },
        methods:{
            getLevel(l, p) {
                if(typeof this.resources.userReferrals[l] !== 'undefined') {
                    return this.resources.userReferrals[l][p].partner
                }
                return '';
            },
            showPartnerInfo(l, p){
                this.histories = []
                this.modal.title = this.resources.userReferrals[l][p].partner;
                this.modal.message = '';

                if(this.resources.userReferrals[l][p].histories.length) {
                    this.histories = this.resources.userReferrals[l][p].histories
                }
                this.$refs.modalWrapper.open()

            }
        },
        filters: {
            formatMoney,
        },
    }
</script>
