<template>
  <div style="width: 100%!important;height: 300px" class="echarts">
    <chart ref="chartContainer" style="height: 300px" :options="options"></chart>
  </div>
</template>

<script type="text/babel">
    import {Chart} from 'highcharts-vue';
    import {mapGetters} from 'vuex';

    export default {
        name: 'depth-chart',
        components: {
            Chart
        },
        props: {
            buyData: {
                type: Array,
                required: true
            },
            sellData: {
                type: Array,
                required: true
            },
            lastPrice: ''
        },
        methods: {
            updateChart() {
                this.$refs.chartContainer.chart.update({
                    series: [{
                        name: 'Bid',
                        data: [...this.buyData],
                        color: '#28a745'
                    }, {
                        name: 'Ask',
                        data: [...this.sellData],
                        color: '#ff4e4b'
                    }]
                });
            }
        },
        watch: {
            buyData() {
                this.updateChart();
            },
            sellData() {
                this.updateChart();
            }
        },
        computed: {
            ...mapGetters({
                lang: 'getSelectedLang',
            }),

        },
        data() {
            return {
                loading: false,
                options: {
                    chart: {
                        backgroundColor: '#18191B',
                        type: 'area',
                        zoomType: 'xy',
                    },
                    title: {
                        text: ''
                    },
                    xAxis: {
                        minPadding: 0,
                        maxPadding: 0,
                        title: {
                            text: ''
                        }
                    },
                    yAxis: [{
                        minorGridLineWidth: 0,
                        lineWidth: 1,
                        gridLineWidth: 0,
                        title: null,
                        tickWidth: 1,
                        tickLength: 5,
                        tickPosition: 'inside',
                        labels: {
                            align: 'left',
                            x: 8
                        }
                    }, {
                        opposite: true,
                        linkedTo: 0,
                        lineWidth: 1,
                        gridLineWidth: 0,
                        title: null,
                        tickWidth: 1,
                        tickLength: 5,
                        tickPosition: 'inside',
                        labels: {
                            align: 'right',
                            x: -8
                        }
                    }],
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        area: {
                            fillOpacity: 0.2,
                            lineWidth: 1,
                            step: 'center',
                            color: '#28a745'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size=10px;">Amount: {point.y}</span><br/>',
                        pointFormat: '<span style="color:{point.color}">●</span> {series.name}: <b>{point.x}</b><br/>',
                        valueDecimals: 2
                    },
                    series: [{
                        name: 'Bid',
                        data: [],
                        color: '#28a745'
                    }, {
                        name: 'Ask',
                        data: [],
                        color: '#ff4e4b'
                    }],
                    credits: {
                        enabled: false
                    }
                }
            }
        }
    };
</script>