<template>
  <chart ref="chartContainer" class="chart-container" :options="options"></chart>
</template>
<script>
  import {Chart} from 'highcharts-vue';

  export default {
    props: ['chartData'],
    components: {
        Chart
    },
    mounted() {
      this.updateChart();
    },
    computed: {
      computedChartData: function () {
        return this.chartData.datasets[0].data;
      }
    },
    watch: {
        computedChartData() {
            this.updateChart();
        }
    },
    methods: {
      updateChart() {
          let data = this.computedChartData.map( item => item.y );
          let minValue = Math.min.apply(null, data);
          let maxValue = Math.max.apply(null, data);
          this.$refs.chartContainer.chart.update({
              series: [{
                  name: 'Price',
                  data: data,
                  color: '#EDBD17'
              }],
              yAxis:{
                  min: minValue,
                  max: maxValue
              }
          });
      }
    },
    data() {
        return {
            options: {
                chart: {
                    type: 'area',
                    backgroundColor: 'transparent'
                },
                title: {text: ''},
                xAxis: {
                    labels: {
                        enabled: false
                    },
                    lineColor: 'transparent',
                    minorTickLength: 0,
                    tickLength: 0
                },
                yAxis: {
                    minorGridLineWidth: 0,
                    lineWidth: 1,
                    gridLineWidth: 0,
                    title: {text: ''},
                    labels: {
                        enabled: false
                    },
                    lineColor: 'transparent',
                    minorTickLength: 0,
                    tickLength: 0
                },
                plotOptions: {
                    series: {
                        fillColor: {
                            linearGradient: [0, 0, 0, 20],
                            stops: [
                                [0, '#EDBD17'],
                                [0.8, 'rgba(237,189,23,0)']
                            ]
                        },
                        marker: {
                            enabled: false
                        },
                    }
                },
                series: [{
                    name: 'Price',
                    data: [],
                    color: '#EDBD17',
                }],
                credits: {
                    enabled: false
                },
                legend: {
                    enabled: false
                },
            }
        }
    }
  }
</script>