<template>
  <div class="small-progress-bar"
       :style="`width: ${width}%; background-color: ${color}`"
  ></div>
</template>

<script>
  export default {
    name: "SmallProgressBar",
    props: {
      width: {
        type: Number,
        required: true,
      },
      color: {
        type: String,
        required: true
      }
    }
  }
</script>
