.settings {
  i.fa-info {
    position: relative;
    &:hover {
      span {
        display: block;
      }
    }
    span{
      display: none;
      position: absolute;
      width: 200px;
      z-index: 199999;
      background: silver;
      padding: 15px;
      bottom: 0;
      left: 3px;
      transform: translate(-50%, -30px);
      border-radius: 10px;
      color: white;
      &:after {
        content: "▼";
        position: absolute;
        bottom: -10px;
        left: 0;
        color: silver;
        margin: auto;
        text-align: center;
        right: 0;
      }
    }
  }
}
