<template>

    <form @submit.prevent="onSubmit" ref="cardsForm">
        <div>

            <error-view :errors="errors"></error-view>
            <success-view :success-message="successMessage"></success-view>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Номер</th>
                    <th scope="col">Имя владельца</th>
                    <th scope="col">ГГ/ММ</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Документы</th>
                </tr>
                </thead>
                <tbody>
                <tr v-if="!user.user_cards.length">
                    <td colspan="7" class="text-center">Ничего не найдено.</td>
                </tr>
                <template v-for="card in user.user_cards">
                    <cards-table-row :card="card" :render-document="renderCardDocumentComponent"/>
                </template>
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary right-menu__button">Изменить</button>
                </div>
            </div>
        </div>
    </form>
</template>

<script>

  import requests from '../../../../requests'
  import {handlerErrors} from '../../../../../main/utilities'
  import ErrorView from '../../../../../common/form-elements/Errors'
  import SuccessView from '../../../../../common/form-elements/Success'
  import CardsTableRow from './CardsTableRow'

  export default {
    name: "cards",
    props: {
      user: {
        type: Object,
        default() {
          return {};
        }
      },
      bankTypes: {
        type: Array,
        default() {
          return [];
        }
      }
    },
    components: {
      ErrorView,
      SuccessView,
      CardsTableRow,
    },
    data() {
      return {
        renderCardDocumentComponent: true,
        successMessage: '',
        errors: [],
        form: {},
      }
    },
    methods: {
      onSubmit() {
        this.$parent.$parent.$refs.rightPanel.spin(true);

        let userId = this.user.id;
        this.form.cards = this.user.user_cards.map((el) => {
          let {id, name, card_number_public, card_holder, card_expire_year, card_expire_month} = el;
          return {id, name, card_number_public, card_holder, card_expire_year, card_expire_month}
        })
        let formData = new FormData(this.$refs.cardsForm);
        formData.append('user_cards', JSON.stringify(this.form.cards));

        requests.user.updateCards(userId, formData)
          .then(({data}) => {
            this.successMessage = data.message;
            this.user.user_cards = data.data.cards;
            this.rerenderCardDocumentComponent();
            this.$parent.$parent.$refs.rightPanel.spin(false);
          })
          .catch(({response}) => {
            this.$parent.$parent.$refs.rightPanel.spin(false);
            this.errors = handlerErrors(this.$refs, response.data.errors)
          })
      },
      rerenderCardDocumentComponent () {
        this.renderCardDocumentComponent = false;
        this.$nextTick(() => {
          this.renderCardDocumentComponent = true;
        });
      },
    }
  }
</script>
