<template>
  <tr :id="card.id">
    <td>
      <div class="right-menu__form__row">
        <input type="text"
               name="card_name"
               class="right-menu__form__input"
               placeholder="Card name"
               v-model="card.name">
      </div>
    </td>
    <td>
      <div class="right-menu__form__row">
        <input type="text"
               name="card_number_public"
               class="right-menu__form__input"
               placeholder="Card number"
               readonly
               v-model="card.card_number_public">
      </div>
    </td>
    <td>
      <div class="right-menu__form__row">
        <input type="text"
               name="card_holder"
               class="right-menu__form__input"
               placeholder="Card holder"
               readonly
               v-model="card.card_holder">
      </div>
    </td>
    <td>
      <div class="right-menu__form__row">
        <input type="hidden">
        <input type="text"
               :id="`card_expire_date_${card.id}`"
               name="card_expire_date"
               class="right-menu__form__input"
               placeholder="ГГ/ММ"
               v-model="expireDate"
               readonly
        >
      </div>
    </td>
    <td>
      <div class="right-menu__form__row">
        {{card.verified|userCardStatusLabel}}
      </div>
    </td>
    <td width="220px">
      <update-card-document v-for="document in card.documents"
                            v-if="renderDocument"
                            :id="document.id"
                            :document_id="document.id"
                            :card_id="card.id"
                            name="documents[]"
                            ref="cardDocuments"
                            :document="document"
                            accept="image/*, application/pdf, video/mp4"
                            :document-type="document.type"
                            :key="document.id"/>
    </td>
  </tr>
</template>

<script>
  import UpdateCardDocument from '../blocks/UpdateCardDocument'
  import {userCardStatusLabel} from '../../../../../main/utilities'
  export default {
    name: "CardsTableRow",
    props: {
      card: {
        type: Object,
        required: true
      },
      renderDocument: {
        type: Boolean,
        required: true
      }
    },
    computed: {
      expireDate: {
        get () {
          return `${this.card.card_expire_year}/${this.card.card_expire_month}`
        },
        set (value) {
          let splitExpireDate = value.split('/')
          this.card.card_expire_year = splitExpireDate[0]
          this.card.card_expire_month = splitExpireDate[1]
        }
      },
    },
    components: {
      UpdateCardDocument
    },
    filters: {
      userCardStatusLabel
    }
  }
</script>
