{% extends 'admin.twig' %}

{% block content %}

    <section class="dashboard">
        <div class="users">
            <h3>Настройки тарифов начислений на остаток</h3>
            <container-bonus-percents-on-account-view/>
        </div>
    </section>

{% endblock %}