{% extends 'admin.twig' %}

{% block content %}

    <section class="dashboard">
        <div class="users">
            <h3>Управление картами</h3>
						<div class="mt-3 table-cards-wrapp">
								<table class="table table-striped table-bordered">
										<thead>
										<tr>
												<th scope="col">ID клиента</th>
												<th scope="col">ФИО</th>
												<th scope="col">Дата Добавления</th>
												<th scope="col">Номер карты</th>
												<th scope="col">Имя на карте</th>
												<th scope="col">Страна карты</th>
												<th scope="col" colspan="2">Действие</th>
										</tr>
										</thead>
										<tbody>
										{% for user_card in user_cards %}
												<tr id="tr_{{ user_card.id }}">
														<td>{{ user_card.user.id }}</td>
														<td>{{ user_card.user.getFullNameAsString() }}</td>
														<td>{{ user_card.created_at }}</td>
														<td>{{ user_card.card_number_public }}</td>
														<td>{{ user_card.card_holder }}</td>
														<td>{{ user_card.country_code }}</td>
														<td>
																<card-verify-approve card="{{ user_card }}" docs="{{ user_card.documents }}"></card-verify-approve>
														</td>
														<td>
																<card-verify-discard card="{{ user_card }}" docs="{{ user_card.documents }}"></card-verify-discard>
														</td>
												</tr>
										{% else %}
												<tr>
														<td colspan="7" class="text-center">Ничего не найдено.</td>
												</tr>
										{% endfor %}
										</tbody>
								</table>
						</div>
        </div>
        <div class="right-menu">
            <div class="right-menu__background"></div>
            <div class="right-menu__content">
                <div class="right-menu__close"><i class="far fa-times-circle"></i></div>
                <div class="right-menu__main"></div>
            </div>
        </div>
    </section>

{% endblock %}
