{% extends 'admin.twig' %}

{% block content %}
    <section class="dashboard">
        <div class="users">
            <h3>Добавить валюту</h3>
            <currency-grid-view :currencies="{{ currencies }}" :types="{{ types| json_encode  }}"/>
        </div>
    </section>
{% endblock %}