{% extends 'admin.twig' %}

{% block content %}

    <section class="dashboard">
        <div class="users">
            <h3>Email рассылка</h3>
            <email-delivery-index/>
        </div>
    </section>

{% endblock %}