{% extends 'admin.twig' %}

{% block content %}

    <section class="dashboard">
        <div class="users">
            <h3>Направления обмена</h3>
            <exchange-grid-view/>
        </div>
    </section>

{% endblock %}
