{% extends 'admin.twig' %}

{% block content %}

    <section class="dashboard">
        <div class="users">
            <h3>Настройки откупов</h3>
            <external-orders-external-view :entities="{{ entities }}" :exchanges="{{ exchanges | json_encode }}"></external-orders-external-view>
        </div>
    </section>

{% endblock %}