{% extends 'admin.twig' %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-sm-10">
            <div class="content profile">
                <div class="info-block">
                    <div class="info-block__inner">
                        <div class="info-block__inner-icon">
                            <i class="fas fa-code-branch"></i>
                        </div>
                        <div class="info-block__inner-title mt-3">Версия</div>
                        <div class="info-block__inner-text">Здесь информация о сборке</div>
                    </div>
                    <div class="info-block__bottom">
                        <div class="info-block__item">
                            <div class="info-block__item-text">Хэш</div>
                            <div class="info-block__item-link">{{ version.getHash() }}</div>
                        </div>
                        <div class="info-block__item">
                            <div class="info-block__item-text">Дата и время</div>
                            <div class="info-block__item-link">{{ version.getDate() | dateTimeFormat }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-10">
            <div class="content profile content-wrapp-overflow content-wrapp-overflow--profile">
                <div class="info-block">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Валюта</th>
                            <th scope="col">Общий баланс</th>
                            <th scope="col">Баланс главного адреса</th>
                            <th scope="col">Главный адрес</th>
                            <th scope="col">Текущий блок</th>
                            <th scope="col">Обновлено</th>
                            <th scope="col">Работает?</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cryptoSystemWallet in cryptoSystemWallets %}
                            <tr>
                                <td>{{ cryptoSystemWallet.currency }}</td>
                                <td>{{ cryptoSystemWallet.common_balance }}</td>
                                <td>{{ cryptoSystemWallet.main_wallet_balance }}</td>
                                <td>{{ cryptoSystemWallet.main_wallet_address }}</td>
                                <td>{{ cryptoSystemWallet.block_count }}</td>
                                <td>{{ cryptoSystemWallet.updated_at | dateTimeFormat }}</td>
                                <td style="{{ cryptoSystemWallet.is_broken ? 'background: #ff5246' : 'background: #46ff7f' }}">{{ cryptoSystemWallet.is_broken}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}