{% extends 'admin.twig' %}

{% block content %}

    <section class="dashboard">
        <div class="users">
            <h3>Управление лимитами</h3>
            <limits-view
                :payment-types="{{ payment_types|json_encode }}"
                :currencies="{{ currencies| json_encode }}"
                :bank-types="{{ bank_types| json_encode }}"
                :limits="{{ limits }}"
            ></limits-view>
        </div>
    </section>

{% endblock %}