{% extends 'admin.twig' %}

{% block content %}

    <section class="dashboard">
        <div class="users">
            <h3>Заявки на пополнение</h3>
            <replenishment-table-view :payment-types="{{ paymentTypes | json_encode }}" />
        </div>
    </section>

{% endblock %}