{% extends 'admin.twig' %}

{% block content %}
<section class="dashboard">
    <br /><br /><br /><br />
    <div class="container">
        <div class="row">
        <div class="col-md-8 order-md-1">
            <h3>Отчеты</h3>
            <form class="needs-validation" novalidate="" action="/reports/download">


                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Дата начала:</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="2018-07-01" required="" name="date_from">
                        <div class="invalid-feedback">
                            Valid date from is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Дата окончания:</label>
                        <input type="text" class="form-control" id="lastName" placeholder="" value="2018-09-01" required="" name="date_to">
                        <div class="invalid-feedback">
                            Valid date to is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <input class="btn btn-success btn-lg btn-block" name="type" type="submit" value="Скачать отчет"  />
                    </div>
                </div>

            </form>
        </div></div>
    </div>
</section>
{% endblock %}