{% extends 'admin.twig' %}

{% block content %}

    <section class="dashboard">
        <div class="users">
            <h3>Управление правами</h3>
            <div class="card">
                <div class="card-body operations-history">
                    <form method="get">
                        <div class="form-row">
                            <div class="col">
                                <div class="card-form-row">
                                    <label for="find_form_user_id">ID</label>
                                    <input type="text" name="id" class="form-control" id="find_form_user_id">
                                </div>
                            </div>

                            <div class="col">
                                <div class="card-form-row">
                                    <label for="find_form_user_full_name">ФИО</label>
                                    <input type="text" name="full_name" class="form-control" id="find_form_user_full_name">
                                </div>
                            </div>

                            <div class="col">
                                <div class="card-form-row">
                                    <label>Выводить по</label>
                                    <input type="number" name="limit" class="form-control" min="1" value="{{ request_params.limit|default(15) }}"/>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-dark btn-reload">
                                <i class="fas fa-redo-alt"></i> Обновить
                            </button>
                        </div>
                    </form>
                </div>
            </div>

						<div class="roles-table-wrapp">
								<table class="table table-striped table-bordered mt-3">
										<thead>
										<tr>
												<th scope="col" style="width: 5%">ID пользователя</th>
												<th scope="col" style="width: 35%">Пользователь</th>
												<th scope="col" style="width: 60%">Роль</th>
										</tr>
										</thead>
										<tbody>
										{% for user in dataProvider.getModels() %}
												<tr>
														<td>{{ user.id }}</td>
														<td>{{ user.surname ~ ' ' ~ user.name ~ ' ' ~ user.patronymic }}</td>
														<td>
																<form>
																		<select class="form__role-multiple-select" data-user-id="{{ user.id }}" name="states[]" multiple="multiple">
																				{% for role in roles %}
																						<option value="{{ role.id }}"
																								{% for user_role in user.roles %}
																										{% if role.name is same as(user_role.name) %}
																												selected
																										{% endif %}
																								{% endfor %}
																						>
																								{{ role.name }}
																						</option>
																				{% endfor %}
																		</select>
																</form>
														</td>
												</tr>
										{% endfor %}
										</tbody>
								</table>
						</div>
            {% include 'common/pagination/pages-list.twig' with {
                pagination: dataProvider.getPagination()
            } %}

        </div>
    </section>

{% endblock %}