{% extends 'admin.twig' %}

{% block content %}

    <section class="dashboard">
        <div class="users">
            <h3>Управление сервисами</h3>
            <service-management-view></service-management-view>
        </div>
    </section>

{% endblock %}