{% extends 'admin.twig' %}

{% block content %}

    <section class="dashboard">
        <div class="users">
            <h3>Системные реквизиты</h3>
            <system-requisites-grid-view></system-requisites-grid-view>
        </div>
    </section>

{% endblock %}