{% extends 'admin.twig' %}

{% block content %}

    <section class="dashboard">
        <div class="users">
            <h3>Настройки терминала</h3>
            <terminal-settings-terminal-view></terminal-settings-terminal-view>
        </div>
    </section>

{% endblock %}