{% extends 'admin.twig' %}

{% block content %}

    <section class="dashboard">
        <div class="users">
            <h3>Транзакции</h3>
            <transaction-grid-view></transaction-grid-view>
        </div>
    </section>

{% endblock %}