{% extends 'admin.twig' %}

{% block content %}

    <section class="dashboard">
        <div class="users">
            <h3>Пользователи</h3>
            <div class="card">
                {% include 'admin/blocks/users/index-filter.twig' %}
            </div>
						<div class="content-wrapp-overflow content-wrapp-overflow--users mt-3">
								<table class="table table-striped table-bordered mb-0">
										<thead>
										<tr>
												<th scope="col">ID</th>
												<th scope="col">ФИО</th>
												<th scope="col" width="30%" align="center" colspan="7">Действия</th>
										</tr>
										</thead>
										<tbody>
										{% for user in dataProvider.getModels() %}
												<tr id="row-user_{{ user.id }}">
														<th scope="row">{{ user.id }}</th>
														<td class="user_name">
																{% if user.is_eurobaras_user %}
																		<img class="eurobaras-icon" src="/assets/images/eurobaras.png">
																{% endif %}
																{{ user.surname|capitalize ~" "~user.name|capitalize~" "~user.patronymic|capitalize }}</td>
														<td align="center">
																<user-edit-form
																		class="preview-btn"
																		user-string="{{ user }}"
																		offices-string="{{ offices }}"
																		positions-string="{{ positions | json_encode() }}"
																		bank-types-string="{{ bankTypes | json_encode() }}"
																/>
														</td>
														<td align="center">
																<user-referrals class="preview-btn" :user="{{ user }}" />
														</td>
														<td align="center">
																<user-limits
																		class="preview-btn"
																		user-id="{{ user.id }}"
																		:payment-types="{{ payment_types | json_encode }}"
																/>
														</td>
														<td align="center">
																<user-voucher-settings
																		class="preview-btn"
																		user-id="{{ user.id }}"
																/>
														</td>
														<td align="center">
																<user-refill
																		class="preview-btn"
																		user-string="{{ user }}"
																		:currencies="{{ currencies }}"
																		:payment-types="{{ payment_types | json_encode }}"
																/>
														</td>
														<td align="center">
																<email-verification
																		:is-clicked="{{ user.email_verified == 0 ? 'true' : 'false'}}"
																		user-id="{{ user.id }}"
																		class="preview-btn"
																/>
														</td>
														<td align="center">
																<user-actions-log
																		class="preview-btn"
																		:user-id="{{ user.id }}"
																/>
														</td>
												</tr>
										{% else %}
												<tr>
														<td colspan="3" class="text-center">Ничего не найдено.</td>
												</tr>
										{% endfor %}
										</tbody>
								</table>
						</div>

            {% include 'common/pagination/pages-list.twig' with {
                pagination: dataProvider.getPagination()
            } %}
        </div>
    </section>
{% endblock %}
