{% extends 'admin.twig' %}

{% block content %}

    <section class="dashboard">
        <div class="users">
            <h3>Верификация</h3>
            <div class="card">
                {% include 'admin/blocks/users/index-filter.twig' %}
            </div>
						<div class="content-wrapp-overflow content-wrapp-overflow--verif">
								<table class="table table-striped table-bordered mt-3">
										<thead>
										<tr>
												<th scope="col">ID</th>
												<th scope="col" style="width: 60%">ФИО</th>
												<th class="text-center" scope="col" colspan="2">Действие</th>
										</tr>
										</thead>
										<tbody>
										{% for user in dataProvider.getModels() %}
												<tr>
														<th scope="row">{{ user.id }}</th>
														<td>{{ user.surname|capitalize ~" " ~user.name|capitalize ~" " ~user.patronymic|capitalize }}</td>
														<td class="text-center">
																<verifications-accept-action class="preview-btn" user-string="{{ user }}"/>
														</td>
														<td class="text-center">
																<verifications-discard-action class="preview-btn" user-id="{{ user.id }}" user-string="{{ user }}" />
														</td>
												</tr>
										{% else %}
												<tr>
														<td colspan="3" class="text-center">Ничего не найдено.</td>
												</tr>
										{% endfor %}
										</tbody>
								</table>
						</div>

            {% include 'common/pagination/pages-list.twig' with {
                pagination: dataProvider.getPagination()
            } %}
        </div>
    </section>


<div class="right-menu">
    <div class="right-menu__background"></div>
    <div class="right-menu__content">
        <div class="right-menu__close"><i class="far fa-times-circle"></i></div>
        <div class="right-menu__main"></div>
    </div>
</div>

{% endblock %}