{% extends 'admin.twig' %}

{% block content %}

    <section class="dashboard">
        <div class="users">
            <h3>Ваучеры</h3>
            <vouchers-view :vouchers="{{ vouchers|json_encode }}"></vouchers-view>
        </div>
    </section>

{% endblock %}
