{% extends 'admin.twig' %}

{% block content %}

    <section class="dashboard">
        <div class="users">
            <h3>Настройки ваучеров</h3>
            <voucher-settings-grid-view/>
        </div>
    </section>

{% endblock %}
