{% extends 'admin.twig' %}

{% block content %}

    <section class="dashboard">
        <div class="users">
            <h3>Заявки на вывод</h3>
             <div class="grid-view--withdrawals">
				<withdrawal-grid-view :statuses="{{ statuses | json_encode}}"></withdrawal-grid-view>
             </div>
        </div>
    </section>

{% endblock %}