<template>

  <div class="documents mt-5 ml-3 mr-3 pb-3 text-justify">
    {{$t('dashboard.agree')}}
    <div class="row mt-5 pb-3 mr-3">
      <div class="col-md-8">
        <div class="form-control-custom">
          <label class="mt-2">
            <input type="checkbox" v-model="checkbox">
            <div class="checkbox__button"></div>
            {{$t('dashboard.profile.text42')}}
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <button :disabled="(checkbox?false:true)" @click="agree()" class="btn btn-primary">{{ $t("dashboard.profile.confirm") }}</button>
      </div>
    </div>

  </div>

</template>

<script>
  import spinner from '../../common/spinner'
  export default {
    name: 'Agreement',
    data(){
      return {
        checkbox: false
      }
    },
    methods: {
      agree(){
        spinner.toggle(true)
        this.$store.dispatch('userAgree').then(({data}) => {
          spinner.toggle(false)
          this.$store.commit('updateUser', data.user);
        });
      }
    }
  }

</script>