<template>
  <transition name="modal-fade">
    <div v-if="show" class="new-background-modal">
      <div v-if="close_button" @click="close" class="new-close-container">
        <img class="new-close-icon" src="/assets/images/close-modal.png" alt="Closing modal">
      </div>
      <div class="new-modal-content" :style="width?'width: '+width:''">
        <h3 v-if="title" class="title">{{ title }}</h3>
        <slot></slot>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    name: "ModalWrapper",
    props: {
      title: {
        type: String
      },
      width: {
          type: String
      },
      close_button: {
        type: Boolean,
        default: true
      }
    },
    data() {
      return {
        show: false
      }
    },
    methods: {
      close() {
        this.show = false
        this.$scrollBody('auto')
        this.$emit('close-modal')
      },
      open() {
        this.show = true
        this.$scrollBody('hidden')
      }
    },
  }
</script>
