<template>

  <div class="container mt-5">
    <div>{{ $t("main.custodianfund_ou") }}</div>
    <div>{{ $t("main.about1") }}</div>
    <div>{{ $t("main.about2") }}: 14748334</div>
    <div>{{ $t("main.about4") }}: info@bitexfin.com</div>
    <br>
    <p>{{ $t("main.about5") }}.</p>
    <p>{{ $t("main.about6") }}.</p>
    <p>{{ $t("main.about7") }}.</p>
    <p>{{ $t("main.about8") }}: info@bitexfin.com</p>
    <p>{{ $t("main.about9") }}: support@bitexfin.com</p>
    <p>{{ $t("main.about10") }}: info@bitexfin.com</p>
  </div>

</template>

<script>

  export default {
    name: 'about-page'
  }

</script>
