<template>
  <div class="container text-center d-flex flex-column justify-content-center align-items-center not-found-box my-style-fees">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th v-for="(title, index) in tableHeadTitle" :key="index">{{ title }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in tableBody" :key="index">
          <td>{{ item.title }}</td>
          <td><img :src="item.logo"/></td>
          <td><a :href="item.projectLink" target="_blank">{{ item.projectLink }}</a></td>
          <td><a :href="item.blockExplorer" target="_blank">{{ item.blockExplorer }}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import {getCurrencyIcon} from "@/main/utilities";

  export default {
    name: 'coin-status',
    computed: {
      tableHeadTitle() {
        return [
          this.$t('main.currency_name'),
          this.$t('main.logo'),
          this.$t('main.project_link'),
          this.$t('main.block_explorer')
        ]
      },
      tableBody() {
        return [
          {
            title: 'BTC',
            logo: getCurrencyIcon('BTC'),
            projectLink: 'https://bitcoin.org/',
            blockExplorer: 'https://www.blockchain.com/'
          },
          {
            title: 'ETH',
            logo: getCurrencyIcon('ETH'),
            projectLink: 'https://ethereum.org/',
            blockExplorer: 'https://etherscan.io/'
          },
          {
            title: 'USDT',
            logo: getCurrencyIcon('USDT'),
            projectLink: 'https://tether.to/',
            blockExplorer: 'https://etherscan.io/'
          },
          {
            title: 'CFX',
            logo: getCurrencyIcon('CFX'),
            projectLink: 'https://bitexfin.com/',
            blockExplorer: 'https://etherscan.io/'
          }
        ]
      }
    }
  }
</script>
