<template>
  <div class="container mt-5 mb-3 my-style-fees fees">
    <div class="btn-group mt-5 my-style-fees-list" v-if="resources.filters.length > 0">
      <button type="button"
              class="btn btn-secondary"
              :class="{active: selected === ''}"
              @click="onSelect('')"
      >{{ $t("main.all_currencies") }}</button>
      <template v-for="filter in resources.filters">
        <button type="button"
                class="btn btn-secondary"
                :class="{active: selected === filter}"
                @click="onSelect(filter)"
        >{{filter|currency(lang)}}</button>
      </template>
    </div>

    <div class="mt-5" v-if="Object.keys(commissions).length > 0">
      <h4>{{ $t("main.commissions") }}</h4>
      <div class="row">
        <div class="col-md-12">
          {{ $t("main.vouchers_text_commissions") }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-3">
          {{ $t("main.trades_text_commissions") }}
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>{{ $t("main.payment_types") }}</th>
            <th>{{ $t("main.deposit") }}</th>
            <th>{{ $t("main.withdrawal") }}</th>
          </tr>
        </thead>
        <tbody>
          <template v-for="(commission, section) in commissions">
            <tr style="background-color: rgb(245, 245, 245);">
              <td colspan="3">{{section|currency|getCurrencyAlias}}</td>
            </tr>
            <tr v-for="item in commission">
              <td>{{item.name | getCurrencyAlias}}</td>
              <td>{{item.deposit}}</td>
              <td v-if="item.name !== 'Bank transfer (SWIFT)'">{{item.withdrawal}}</td>
              <td v-else-if="item.name === 'Bank transfer (SWIFT)' && (section === 'rub' || section === 'gbp')">-</td>
              <td v-else>{{ item.withdrawal }}</td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>

    <div class="mt-5 wrap-table-fees" v-if="Object.keys(limits).length > 0">
      <h4>{{ $t("main.limits") }}</h4>
      <div class="row">
        <div class="col-md-12 mb-3">
          {{ $t("main.text48") }}
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>{{ $t("main.payment_types") }}</th>
            <th>{{ $t("main.kind") }}</th>
            <th>{{ $t("main.min_amount_payment") }}</th>
            <th>{{ $t("main.max_amount_payment") }}</th>
            <th>{{ $t("main.limits") }}</th>
          </tr>
        </thead>
        <tbody>
          <template v-for="(limit, section) in limits">
            <tr style="background-color: rgb(245, 245, 245);">
              <td colspan="5">{{section|currency|getCurrencyAlias}}</td>
            </tr>
            <template v-for="item in limit">
              <tr>
                <td rowspan="2">{{item.deposit.name | getCurrencyAlias}}</td>
                <td>{{ $t("main.deposit") }}</td>
                <td>{{item.deposit.min_amount_of_payment}}</td>
                <td>{{item.deposit.max_amount_of_payment}}</td>
                <td v-html="toString(item.deposit.limits)"></td>
              </tr>
              <tr>
                <td>{{ $t("main.withdrawal") }}</td>
                <td>{{item.withdrawal.min_amount_of_payment}}</td>
                <td>{{item.withdrawal.max_amount_of_payment}}</td>
                <td v-html="toString(item.withdrawal.limits)"></td>
              </tr>
            </template>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  import requests from '../../../main/requests'
  import spinner from '../../../common/spinner'
  import {getCurrencyAlias} from '../../utilities'
  import _ from 'underscore'
  import { mapGetters } from 'vuex'

  export default {
    name: 'fees-page',
    data() {
      return {
        selected: '',
        resources: {
          commissions: [],
          filters: [],
          limits: [],
        }
      }
    },
    computed: {
      ...mapGetters({
        lang: 'getSelectedLang'
      }),
      commissions () {
        if (this.selected !== '' && this.resources.commissions[this.selected]) {
          return {
            [this.selected]: this.resources.commissions[this.selected]
          }
        }

        return this.resources.commissions;
      },
      limits () {
        if (this.selected !== '' && this.resources.limits[this.selected]) {
          return {
            [this.selected]: this.resources.limits[this.selected]
          }
        }

        return this.resources.limits;
      }
    },
    created() {
      this.load();
    },
    filters: {
      getCurrencyAlias,
      currency (value, lang) {
        if (value === 'cryptocurrency' && lang === 'EN') {
          return 'Cryptocurrency'
        }
        if (value === 'cryptocurrency' && lang === 'RU') {
          return 'Криптовалюты'
        }

        return value.toUpperCase()
      },
      isEmpty (value) {
        return _.isEmpty(value)
      }
    },
    methods: {
      onSelect (selected) {
        this.selected = selected
      },
      load () {
        spinner.toggle(true)
        requests.fees.getSystemLimits().then(({ data }) => {
          this.resources.commissions = data.commissions
          this.resources.limits = data.limits
          this.resources.filters = data.filters
          spinner.toggle(false)
        })
      },
      toString (value) {
        if (value.length > 0) {
          return value.join('<br>')
        }

        return ''
      }
    }
  }
</script>
