<template>
  <div>
    <div class="content-wrapp container mt-5 my-how-style-p" v-if="lang === 'EN'">
      <div class="d-flex align-items-center">
        <h1>{{ $t("main.how_it_works") }}</h1>
      </div>
      <p>
        Please note that the website works best when using the latest version of the Google Chrome browser. It is also necessary to disable the auto-translation of the page from English to Russian. We do not recommend to use the Safari browser.
      </p>
      <ol>
        <li>
          <a href="#registration" class="new-style-hover-link">Registration</a>
        </li>
        <li>
          <a href="#confirm-your-phone" class="new-style-hover-link">Phone number confirmation</a>
        </li>
        <li>
          <a href="#log-in" class="new-style-hover-link">Login</a>
        </li>
        <li>
          <a href="#password-recovery" class="new-style-hover-link">Password recovery</a>
        </li>
        <li>
          <a href="#verify" class="new-style-hover-link">Verification</a>
        </li>
        <li>
          <a href="#change-password" class="new-style-hover-link">Password change</a>
        </li>
        <li>
          <a href="#two-factor-authentication" class="new-style-hover-link">Two-factor authentication</a>
        </li>
        <li>
          <a href="#ip-filtration" class="new-style-hover-link">IP filtration</a>
        </li>
        <li>
          <a href="#deposit-and-withdrawal" class="new-style-hover-link">Deposit and withdrawal of funds</a>
        </li>
        <li>
          <a href="#sell-buy" class="new-style-hover-link">Exchange operations</a>
        </li>
        <li>
          <a href="#settings" class="new-style-hover-link">Notification settings</a>
        </li>
        <li>
          <a href="#logout" class="new-style-hover-link">Log out</a>
        </li>
        <li>
          <a href="#accrual" class="new-style-hover-link">CFX interest accrual</a>
        </li>
        <li>
          <a href="#vouchers" class="new-style-hover-link">Vouchers</a>
        </li>
        <li>
          <a href="#paysend" class="new-style-hover-link">Replenishment of the account by paysend.com</a>
        </li>
      </ol>

      <registration id="registration"/>
      <confirm-your-phone id="confirm-your-phone" class="mt-5"/>
      <login id="log-in" class="mt-5"/>
      <password-recovery id="password-recovery" class="mt-5"/>
      <verify id="verify" class="mt-5"/>
      <change-password id="change-password" class="mt-5"/>
      <two-factor-authentication id="two-factor-authentication" class="mt-5"/>
      <i-p-filtration id="ip-filtration" class="mt-5"/>
      <deposit-and-withdrawal id="deposit-and-withdrawal" class="mt-5"/>
      <sell-buy id="sell-buy" class="mt-5"/>
      <settings id="settings" class="mt-5"/>
      <logout id="logout" class="mt-5"/>
      <interest-accrual id="accrual" class="mt-5"/>
      <vouchers id="vouchers" class="mt-5"/>
      <paysend id="paysend" class="mt-5"/>

    </div>

    <div class="content-wrapp container mt-5" v-if="lang === 'RU'">
      <div class="d-flex align-items-center">
        <h1>Как работать c BITEXFIN</h1>
      </div>
      <p>Обратите внимание, что веб-сайт наиболее корректно работает при использовании браузера Google Chrome последней версии. Так же необходимо отключить автоперевод страницы с английского на русский. Мы не рекомендуем использовать браузер Safari.</p>
      <ol>
        <li>
          <a href="#registration-ru" class="new-style-hover-link">Регистрация</a>
        </li>
        <li>
          <a href="#confirm-your-phone-ru" class="new-style-hover-link">Подтверждение номера телефона</a>
        </li>
        <li>
          <a href="#log-in-ru" class="new-style-hover-link">Вход</a>
        </li>
        <li>
          <a href="#password-recovery-ru" class="new-style-hover-link">Восстановление пароля</a>
        </li>
        <li>
          <a href="#verify-ru" class="new-style-hover-link">Верификация</a>
        </li>
        <li>
          <a href="#change-password-ru" class="new-style-hover-link">Изменение пароля</a>
        </li>
        <li>
          <a href="#two-factor-authentication-ru" class="new-style-hover-link">Двухфакторная аутентификация</a>
        </li>
        <li>
          <a href="#ip-filtration-ru" class="new-style-hover-link">IP фильтрация</a>
        </li>
        <li>
          <a href="#deposit-and-withdrawal-ru" class="new-style-hover-link">Пополнение и вывод средств</a>
        </li>
        <li>
          <a href="#sell-buy-ru" class="new-style-hover-link">Обменные операции</a>
        </li>
        <li>
          <a href="#settings-ru" class="new-style-hover-link">Настройки уведомлений</a>
        </li>
        <li>
          <a href="#logout-ru" class="new-style-hover-link">Выход из кабинета</a>
        </li>
        <li>
          <a href="#accrual-ru" class="new-style-hover-link">Начисление процентов на остаток CFX</a>
        </li>
        <li>
          <a href="#vouchers-ru" class="new-style-hover-link">Ваучеры</a>
        </li>
        <li>
          <a href="#paysend-ru" class="new-style-hover-link">Пополнение счета на paysend.com</a>
        </li>
      </ol>

      <registration-ru id="registration-ru"/>
      <confirm-your-phone-ru id="confirm-your-phone-ru" class="mt-5"/>
      <login-ru id="log-in-ru" class="mt-5"/>
      <password-recovery-ru id="password-recovery-ru" class="mt-5"/>
      <verify-ru id="verify-ru" class="mt-5"/>
      <change-password-ru id="change-password-ru" class="mt-5"/>
      <two-factor-authentication-ru id="two-factor-authentication-ru" class="mt-5"/>
      <i-p-filtration-ru id="ip-filtration-ru" class="mt-5"/>
      <deposit-and-withdrawal-ru id="deposit-and-withdrawal-ru" class="mt-5"/>
      <sell-buy-ru id="sell-buy-ru" class="mt-5"/>
      <settings-ru id="settings-ru" class="mt-5"/>
      <logout-ru id="logout-ru" class="mt-5"/>
      <interest-accrual-ru id="accrual-ru" class="mt-5"/>
      <vouchers-ru id="vouchers-ru" class="mt-5"/>
      <paysend-ru id="paysend-ru" class="mt-5"/>
    </div>
  </div>
</template>

<script>
  import Registration from './how/Registration'
  import RegistrationRu from './how-ru/RegistrationRu'
  import ConfirmYourPhone from './how/ConfirmYourPhone'
  import ConfirmYourPhoneRu from './how-ru/ConfirmYourPhoneRu'
  import Login from './how/Login'
  import LoginRu from './how-ru/LoginRu'
  import PasswordRecovery from './how/PasswordRecovery'
  import PasswordRecoveryRu from './how-ru/PasswordRecoveryRu'
  import Verify from './how/Verify'
  import VerifyRu from './how-ru/VerifyRu'
  import ChangePassword from './how/ChangePassword'
  import ChangePasswordRu from './how-ru/ChangePasswordRu'
  import TwoFactorAuthentication from './how/TwoFactorAuthentication'
  import TwoFactorAuthenticationRu from './how-ru/TwoFactorAuthenticationRu'
  import IPFiltration from './how/IPFiltration'
  import IPFiltrationRu from './how-ru/IPFiltrationRu'
  import DepositAndWithdrawal from './how/DepositAndWithdrawal'
  import DepositAndWithdrawalRu from './how-ru/DepositAndWithdrawalRu'
  import SellBuy from './how/SellBuy'
  import SellBuyRu from './how-ru/SellBuyRu'
  import Settings from './how/Settings'
  import SettingsRu from './how-ru/SettingsRu'
  import Logout from './how/Logout'
  import LogoutRu from './how-ru/LogoutRu'
  import InterestAccrual from './how/InterestAccrual'
  import InterestAccrualRu from './how-ru/InterestAccrualRu'
  import Vouchers from './how/Vouchers'
  import Paysend from './how/Paysend'
  import VouchersRu from './how-ru/VouchersRu'
  import PaysendRu from './how-ru/PaysendRu'
  import {mapGetters} from 'vuex'

  export default {
    name: 'HowPage',
    data() {
      return {

      }
    },
    computed: {
      ...mapGetters({
        lang: 'getSelectedLang',
      }),
    },
    components: {
      Registration,
      RegistrationRu,
      ConfirmYourPhone,
      ConfirmYourPhoneRu,
      Login,
      LoginRu,
      PasswordRecovery,
      PasswordRecoveryRu,
      Verify,
      VerifyRu,
      ChangePassword,
      ChangePasswordRu,
      TwoFactorAuthentication,
      TwoFactorAuthenticationRu,
      IPFiltration,
      IPFiltrationRu,
      DepositAndWithdrawal,
      DepositAndWithdrawalRu,
      SellBuy,
      SellBuyRu,
      Settings,
      SettingsRu,
      Logout,
      LogoutRu,
      InterestAccrual,
      InterestAccrualRu,
      Vouchers,
      VouchersRu,
      Paysend,
      PaysendRu
    },
    methods: {

    },
    mounted(){
      let el = document.getElementById(this.$route.hash.replace('#', ''));
      el.scrollIntoView();
    }
  }
</script>
