<template>
  <div>
    <Slider/>
    <section v-if="exchangeRates" class="bitcoin-list">
      <div class="container" style="box-shadow: rgba(0,0,0,0.06) 0px 0px 40px;">
        <div v-if="sizeX >= 768" class="row pt-4 pb-4 align-items-center" style="border-bottom: 1px solid rgb(242,242,242);">
          <div class="col-md-3 pl-1 pr-1 font-weight-bold">{{$t("chart.title")}}</div>
          <div class="col-md-3 pl-1 pr-1 font-weight-bold">{{$t("chart.amount")}}</div>
          <div class="col-md-3 pl-1 pr-1 font-weight-bold">{{$t("chart.change")}}</div>
          <div class="col-md-3 pl-1 pr-1 font-weight-bold">{{$t("chart.tender")}}</div>
        </div>
        <div class="row align-items-center mt-2 currency-row"
             v-for="(pair, p) in Object.keys(currencyPairs)"
             v-if="chartsData[pair].datasets && chartsData[pair].datasets.length > 0 && (p <= 4 || showAll)"
             style="border-bottom: 1px solid rgb(242,242,242);">
          <div class="row col-md-3 ml-0 mr-0 pl-1 pr-1">
            <div v-if="sizeX < 768" class="pr-0 col-6 currency-column-header">{{$t("chart.title")}} </div>
            <span class="currency-name">
                <img height="28px" alt="" :src="currencyPairs[pair].currency_from | getCurrencyIcon"
                  > {{ currencyPairs[pair].currency_from }}/{{ currencyPairs[pair].currency_to | getCurrencyAlias }}</span>
          </div>
          <div class="row col-md-3 ml-0 mr-0 pl-1 pr-1">
            <div v-if="sizeX < 768" class="pr-0 col-6 currency-column-header">{{$t("chart.amount")}} </div>
            <span class="text-black currency-value">{{ exchangeRates[pair][0].value  | formatMoney(exchangeRates[pair][0].currency_to) }}</span>
          </div>
          <div class="row col-md-3 ml-0 mr-0 pl-1 pr-1">
            <div v-if="sizeX < 768" class="pr-0 col-6 currency-column-header">{{$t("chart.change")}} </div>
            <span :class="(pairsDailyChange[pair]>=0?'text-green':'text-red') + ' currency-value'">
                <i :class="pairsDailyChangePerc[pair]>=0?'icon-g-r-u-arrow':'icon-r-r-d-arrow'" style="font-size: 1rem"></i>
                <span style="font-size: 1rem">{{ pairsDailyChange[pair].toFixed(2) }} {{ pairsDailyChangePerc[pair].toFixed(2) }}% </span>
              </span>
          </div>
          <div class="row col-md-3 ml-0 mr-0 pl-1 pr-1">
            <line-chart :chart-data="chartsData[pair]" />
          </div>
        </div>
        <div class="row pt-4 pb-4 align-items-center justify-content-center">
          <div class="col-md-12 text-center">
            <a @click="showAll = !showAll">{{showAll ? $t("chart.hide") : $t("chart.show")}}</a>
          </div>
        </div>
      </div>
    </section>
    <section class="mobile" id="mobile-section-container">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-8 col-12">
            <p class="section-mobile-title">{{ $t("main.links_bitexfin") }} <br> {{ $t("main.mobile_application") }}</p>
            <p class="section-mobile-text">{{ $t("main.text49") }}.</p>
            <div class="section-mobile-buttons">
              <div class="section-mobile-button-links">
                <a href="https://play.google.com/store/apps/details?id=com.bitexfin" target="blank">
                  <img src="/assets/images/index/gp.png" alt="" class="google-img"></a>
                <a href="https://apps.apple.com/us/app/bitexfin/id1482164043" target="blank">
                  <img src="/assets/images/index/App_Store.png" alt=""></a>
              </div>
            </div>
          </div>
          <div class="col-xl-3 offset-xl-1 col-lg-4 d-none d-lg-block">
            <img src="/assets/images/index/PSD.png" alt="">
          </div>
        </div>
      </div>
    </section>
    <section class="cards">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-4 d-none d-lg-block">
            <img src="/assets/images/index/cards.png" alt="">
          </div>
          <div class="col-xl-8 col-lg-8 col-12 offset-xl-1">
            <p class="section-mobile-title">{{ $t("main.wallet_replenishment_system.title") }}</p>
            <p class="section-mobile-text"
              >{{ $t("main.wallet_replenishment_system.text1") }}<br>{{ $t("main.wallet_replenishment_system.text2") }}<br
              >{{ $t("main.wallet_replenishment_system.text3") }}<br>{{ $t("main.wallet_replenishment_system.text4") }}<br>
            </p>
            <div class="section-mobile-buttons">
              <router-link class="section-mobile-button-info" tag="button" to="/shop"
                >{{ $t("main.learn_more1") }}</router-link>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="notebook1">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-xl-6 col-lg-5 d-none d-lg-block">
            <img src="/assets/images/index/Mockup.png" alt="" class="img-notebook1">
          </div>
          <div class="col-xl-6 col-lg-7 col-12">
            <div class="section-notebook1-info">
              <p class="section-notebook-title">{{ $t("main.trader_interface") }}</p>
              <p class="section-notebook-text">{{ $t("main.text50") }}.</p>
              <div class="section-notebook1-buttons">
                <router-link class="section-notebook-redbutton" tag="button" to="/terminal">{{ $t("newdashbord.trade") }}</router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="notebook2">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-xl-6 col-lg-7 col-12">
            <div class="section-notebook2-info">
              <p class="section-notebook-title">{{ $t("main.integration") }}</p>
              <p class="section-notebook-text">{{ $t("main.text51") }}.</p>
              <div class="section-notebook2-buttons">
                <a href="/api-doc/" target="blank" class="section-notebook-whitebutton">{{ $t("main.text52") }}</a>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-5 d-none d-lg-block">
            <img src="/assets/images/index/Mockup1.png" alt="" class="img-notebook2">
          </div>
        </div>
      </div>
    </section>
    <section class="advantages">
      <p class="advantages-name">{{ $t("main.benefits") }}</p>
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-12">
            <div class="wrapp-pic">
              <img src="/assets/images/index/1-1.png" alt="pic">
            </div>
            <p class="advantage-title">{{ $t("main.text53") }}</p>
            <p class="advantage-text">{{ $t("main.text54") }}</p>
          </div>
          <div class="col-xl-3 col-lg-6 col-12">
            <div class="wrapp-pic">
              <img src="/assets/images/index/1-2.png" alt="pic">
            </div>
            <p class="advantage-title">{{ $t("main.text55") }}</p>
            <p class="advantage-text">{{ $t("main.text56") }}</p>
          </div>
          <div class="col-xl-3 col-lg-6 col-12">
            <div class="wrapp-pic">
              <img src="/assets/images/index/1-3.png" alt="pic">
            </div>
            <p class="advantage-title">{{ $t("main.community") }}</p>
            <p class="advantage-text">{{ $t("main.text57") }}</p>
          </div>
          <div class="col-xl-3 col-lg-6 col-12">
            <div class="wrapp-pic">
              <img src="/assets/images/index/1-4.png" alt="pic">
            </div>
            <p class="advantage-title">{{ $t("main.career") }}</p>
            <p class="advantage-text">{{ $t("main.text58") }}</p>
          </div>

        </div>
      </div>
    </section>
    <footer>
      <p class="footer-title">{{ $t("main.start_right_now") }}</p>
      <p class="footer-text">{{ $t("main.text59") }}.</p>
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-xl-6">
            <div class="footer-buttons">
              <button class="footer-button1" @click="toggleModal('.bd-modal-xl', '/dashboard' , true)"
                >{{ $t("main.sign_up") }}</button>
              <button class="footer-button2" @click="toggleModal('.bd-modal-xl', '/dashboard' , true)"
                >{{ $t("main.trade_now") }}</button>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
  import alert from "../../../common/sweet-alert";
  import Slider from './Slider'
  import {formatMoney, getCurrencyAlias, getCurrencySymbol, sortBy, getCurrencyIcon,} from '../../utilities'
  import {mapGetters} from 'vuex'
  import LineChart from '../../../common/charts/LineChart'
  import requests from "@/main/requests";
  require('../../../common/bootstrap.min.js');

  export default {
    name: 'dashboard-index',
    components: {
      LineChart,
      Slider
    },
    computed: mapGetters({
      user: 'getUser',
      user_accounts: 'getUserAccounts',
      isLogged: 'isAuthenticated',
      exchangeRates: 'getExchangeRates',
      fiatCurrencies: 'getFiatCurrencies',
    }),
    data() {
      return {
        showAll: false,
        carousel_text: ['Many people have already earned more than 24% in 1\nmonth.', '', '', ''],
        currencyPairs: {
          'BTC-EUR': {
            'currency_from': 'BTC',
            'currency_to': 'EUR',
            'value': 0
          },
          'BTC-GBP': {
            'currency_from': 'BTC',
            'currency_to': 'GBP',
            'value': 0
          },
          'BTC-KZT': {
            'currency_from': 'BTC',
            'currency_to': 'KZT',
            'value': 0
          },
          'BTC-RUB': {
            'currency_from': 'BTC',
            'currency_to': 'RUB',
            'value': 0
          },
          'BTC-USD': {
            'currency_from': 'BTC',
            'currency_to': 'USD',
            'value': 0
          },
          'BTC-USDT': {
            'currency_from': 'BTC',
            'currency_to': 'USDT',
            'value': 0
          },
          'CFX-EUR': {
            'currency_from': 'CFX',
            'currency_to': 'EUR',
            'value': 0
          },
          'CFX-KZT': {
            'currency_from': 'CFX',
            'currency_to': 'KZT',
            'value': 0
          },
          'CFX-RUB': {
            'currency_from': 'CFX',
            'currency_to': 'RUB',
            'value': 0
          },
          'CFX-USD': {
            'currency_from': 'CFX',
            'currency_to': 'USD',
            'value': 0
          },
          'ETH-BTC': {
            'currency_from': 'ETH',
            'currency_to': 'BTC',
            'value': 0
          },
          'ETH-EUR': {
            'currency_from': 'ETH',
            'currency_to': 'EUR',
            'value': 0
          },
          'ETH-GBP': {
            'currency_from': 'ETH',
            'currency_to': 'GBP',
            'value': 0
          },
          'ETH-RUB': {
            'currency_from': 'ETH',
            'currency_to': 'RUB',
            'value': 0
          },
          'ETH-USD': {
            'currency_from': 'ETH',
            'currency_to': 'USD',
            'value': 0
          },
          'ETH-USDT': {
            'currency_from': 'ETH',
            'currency_to': 'USDT',
            'value': 0
          },
          'EUC-EUR': {
            'currency_from': 'EUC',
            'currency_to': 'EUR',
            'value': 0
          },
          'EUC-RUC': {
            'currency_from': 'EUC',
            'currency_to': 'RUC',
            'value': 0
          },
          'KZC-KZT': {
            'currency_from': 'KZC',
            'currency_to': 'KZT',
            'value': 0
          },
          'RUC-RUB': {
            'currency_from': 'RUC',
            'currency_to': 'RUB',
            'value': 0
          },
          'USC-RUC': {
            'currency_from': 'USC',
            'currency_to': 'RUC',
            'value': 0
          },
          'USC-USD': {
            'currency_from': 'USC',
            'currency_to': 'USD',
            'value': 0
          },
          'USDT-EUR': {
            'currency_from': 'USDT',
            'currency_to': 'EUR',
            'value': 0
          },
          'USDT-RUB': {
            'currency_from': 'USDT',
            'currency_to': 'RUB',
            'value': 0
          },
          'USDT-USD': {
            'currency_from': 'USDT',
            'currency_to': 'USD',
            'value': 0
          },
        },
        chartsData: {
          'BTC-EUR': {},
          'BTC-GBP': {},
          'BTC-KZT': {},
          'BTC-RUB': {},
          'BTC-USD': {},
          'BTC-USDT': {},
          'CFX-EUR': {},
          'CFX-KZT': {},
          'CFX-RUB': {},
          'CFX-USD': {},
          'ETH-BTC': {},
          'ETH-EUR': {},
          'ETH-GBP': {},
          'ETH-RUB': {},
          'ETH-USD': {},
          'ETH-USDT': {},
          'EUC-EUR': {},
          'EUC-RUC': {},
          'KZC-KZT': {},
          'RUC-RUB': {},
          'USC-RUC': {},
          'USC-USD': {},
          'USDT-EUR': {},
          'USDT-RUB': {},
          'USDT-USD': {},
        },
        pairsDailyChange: {},
        pairsDailyChangePerc: {},
        sizeX: 0,
      }
    },
    watch: {
      exchangeRates() {
        this.updateExchangeRates();
      }
    },
    methods: {
      sortBy,
      toggleModal(className, path,  buy = false) {
        if (this.isLogged && buy) {
          window.location.href = path;
        } else {
          let modal = jQuery(className);
          if (!modal.hasClass('show')) {
            modal.addClass('show').show();
          } else {
            modal.removeClass('show').hide();
          }
        }
      },
      currencyTo(pair, rus = '') {

        if (rus === '' && this.isRubblesPair(pair)) {
          pair = this.rubToUsdPair(pair)
        }
        if (this.exchangeRates[pair]) {
          return this.exchangeRates[pair][0].currency_to;
        }
        return '';
      },
      currencyFrom(pair, rus = '') {

        if (rus === '' && this.isRubblesPair(pair)) {
          pair = this.rubToUsdPair(pair)
        }
        if (this.exchangeRates[pair]) {
          if(this.fiatCurrencies.indexOf(this.exchangeRates[pair][0].currency_from)!==-1) {
            return this.exchangeRates[pair][0].currency_to;
          }
          else {
            return this.exchangeRates[pair][0].currency_from;
          }
        }
        return '';
      },
      dailyChange(pair) {
        if (this.isRubblesPair(pair)) {
          pair = this.rubToUsdPair(pair)
        }
        if (this.exchangeRates[pair]) {
          return (typeof this.exchangeRates[pair][0].dailyChange!=='undefined'?this.exchangeRates[pair][0].dailyChange:0);
        }
        return 0;
      },
      dailyChangePerc(pair) {
        if (this.isRubblesPair(pair)) {
          pair = this.rubToUsdPair(pair)
        }
        if (this.exchangeRates[pair]) {
          return (typeof this.exchangeRates[pair][0].dailyChangePerc!=='undefined'?this.exchangeRates[pair][0].dailyChangePerc:0);
        }
        return '';
      },
      isRubblesPair(pair) {
        return pair.split('-')[1] === 'RUB'
      },
      rubToUsdPair(pair){
        return pair.replace('RUB','USD')
      },
      loadCandlesForCharts() {
        requests.dashboard.getChartsData().then(({data}) => {
          let cd = data.charts_data
          Object.keys(cd).map(pair => {
            let rates = Object.values(cd[pair])
            let color = rates[0] < rates[rates.length - 1] ? 'rgba(0,190,60,0.30)' : 'rgba(190,0,0,0.30)'

            this.pairsDailyChange[pair] = rates[rates.length - 1] - rates[0];
            this.pairsDailyChangePerc[pair] = (rates[0]!==0?this.pairsDailyChange[pair]*100/rates[0]:0);

            this.chartsData[pair] =
            {
              labels: rates,
              datasets: [
                {
                  labels: rates,
                  backgroundColor: color,
                  data: rates.map((rate, index) => {
                    return {
                      x: index,
                      y: rate
                    }
                  })
                }
              ]
            }
          })
        })
      },
      getCurrentExchangeRateValue(currencyFrom, currencyTo) {
        if (typeof this.exchangeRates[currencyFrom + '-' + currencyTo] === 'undefined') {
          if (typeof this.exchangeRates[currencyTo + '-' + currencyFrom] === 'undefined') {
            return 0;
          } else {
            return this.exchangeRates[currencyTo + '-' + currencyFrom][1].value;
          }
        }
        return this.exchangeRates[currencyFrom + '-' + currencyTo][0].value;
      },
      updateExchangeRates() {
        if (this.exchangeRates) {
          Object.keys(this.currencyPairs).map(key => {
            this.currencyPairs[key].value = this.getCurrentExchangeRateValue(this.currencyPairs[key].curgetCurrentExchangeRateValuerency_from, this.currencyPairs[key].currency_to)
          })
        }
      },
    },
    mounted(){
      if ('mr_success' in this.$route.query) {
        alert.success(this.$t('words.mr_success'))
      }
      else if ('mr_error' in this.$route.query) {
        alert.error(this.$t('words.mr_error'))
      }
      else if ('mr_cancel' in this.$route.query) {
        alert.error(this.$t('words.mr_cancel'))
      }
      this.sizeX = document.documentElement.clientWidth
      window.addEventListener('resize' , () => {
        this.sizeX = document.documentElement.clientWidth
      })
    },
    created() {
      this.loadCandlesForCharts();
    },
    filters: {
      getCurrencySymbol,
      getCurrencyAlias,
      getCurrencyIcon,
      formatMoney,
    },
  }
  jQuery(document).ready(function(){
    jQuery('#header-table-toggle-mobile').on('click', function() {
      jQuery('.header-table-mobile').toggle();
    });
    jQuery('#carouselExampleControls').carousel({
      interval: 15000
    });
  });
</script>
