<template>
    <div>
        <div class="content-wrapp container mt-5 my-how-style-p">
            <div class="row col-md-12 mt-5 mb-5" style="max-width: 1140px; margin-left: auto; margin-right: auto;">
                <div class="col-md-6 pull-left"><img src="/assets/images/index/poster_madmeal.jpg"></div>
                <div class="col-md-6">
                    <div class="col-md-12 mad-meal">
                        <p>Mad Meal 2</p>
                        <p>Bonus</p>
                        <p>EUC {{ promoAmount }}</p>
                        <div v-if="!isLogged" class="mad-meal-footer-buttons">
                            <button class="footer-button1" @click="toggleRegisterModal()">{{ $t("bitexcard.sign_up") }}</button>
                            <button class="footer-button1" @click="toggleLoginModal()">{{ $t('bitexcard.log_in') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import {isMobile} from "@/main/utilities";
    import requests from "@/main/requests";

    export default {
        name: 'MadMealPosterPage',
        data() {
            return {
                promoAmount : 0
            }
        },
        computed: {
            ...mapGetters({
                lang: 'getSelectedLang',
                isLogged: 'isAuthenticated',
                registerModal: 'getOpenRegisterModal',
                loginModal: 'getOpenLoginModal'
            })
        },
        methods: {
            isMobile,
            toggleRegisterModal() {
                this.$store.commit('setOpenRegisterModal', !this.registerModal)
            },
            toggleLoginModal() {
                this.$store.commit('setOpenLoginModal', !this.loginModal)
            },
        },
        mounted() {
            requests.madmeal.getMadMeal().then(({data}) => {
                if (data && (data.mad_meal_bonus !== undefined)) {
                    this.promoAmount = data.mad_meal_bonus;
                }
            }).catch((e) => {
                console.log(e)
            })
        }
    }
</script>
