<template>
  <div class="text-center d-flex flex-column justify-content-center align-items-center score-form-wrapp">
    <div class="d-flex flex-column align-items-center mt-4">
      <h3>{{ $t("score.title") }}</h3>
      <form class="d-flex flex-lg-row flex-column mt-4 mt-md-0 mt-lg-0 score-form" @submit.prevent="onSubmit">
        <div class="form-custom score-form_form-custom">
          <success-view :success-message="successMessage"></success-view>
          <div class="form-control-custom position-relative mb-2">
            <input v-model="form.card_number" :placeholder="$t('score.card_number')" type="number"
              class="border-danger pb-0" @input="inputValidator($event, 'onlyNumbersFormat')" required>
          </div>
          <div class="form-control-custom position-relative mb-2">
            <input v-model="form.amount" :placeholder="$t('score.amount')" type="number"
                    class="border-danger pb-0" @input="inputValidator($event, 'onlyNumbersFormat')" required>
          </div>
          <div class="form-control-custom position-relative mb-2">
            <input v-model="form.store_id" :placeholder="$t('score.store_id')" type="number"
              class="border-danger pb-0" @input="inputValidator($event, 'onlyNumbersFormat')" required>
          </div>
          <small class="float-left font-weight-bold d-block w-100" ref="error_card_number"></small>
          <small class="float-left font-weight-bold d-block w-100" ref="error_amount"></small>
          <small class="float-left font-weight-bold d-block w-100" ref="error_store_id"></small>
          <button :disabled="!isSubmitEnabled" type="submit" class="btn score-btn footer-button1">{{ $t("score.submit") }}</button>
        </div>
      </form>
    </div>
  </div>

</template>

<script>
  import requests from "@/main/requests";
  import {handlerErrors, resetErrors, inputValidator} from "../../utilities";

  export default {
    name: 'score-form',
    data() {
      return {
        form: {
          card_number: null,
          store_id: null
        },
        errors: [],
        successMessage: ''
      };
    },
    computed: {
      isSubmitEnabled(){
        for (let i in this.form) {
          if (!this.form[i]) {
            return false;
          }
        }
        return true;
      }
    },
    methods: {
      inputValidator,
      onSubmit () {
        requests.score.postIndexData(this.form)
        .then(({ data }) => {
          resetErrors(this.$refs);
          this.successMessage = data.message;
        })
        .catch(({ response }) => {
          resetErrors(this.$refs);
          this.errors = handlerErrors(this.$refs, response.data.errors);
        })
      }
    }
  }
</script>
