<template>
  <slider class="custom-slider-wrapp"
          :autoplay="true"
          animation="normal"
          :interval="10000"
          :stopOnHover="true"
          :indicators="false"
          v-model="sliderIndex">
    <slider-item v-for="(slide, index) in slides" :key="index">
      <img :src="(sizeX > 400) ? slide.img : slide.img_mobile" :alt="$t(slide.title)">
      <div class="container">
        <div class="slider-content-wrapp">
          <div class="slider-content">
            <div class="carousel-content-title">
              <p>{{ $t(slide.title) }}</p>
              <p>{{ $t(slide.title1) }}</p>
              <p>{{ $t(slide.title2) }}</p>
              <a :href="slide.href" class="carousel-content-desc">{{ $t(slide.desc) }}</a>
            </div>
            <p v-if="slide.text" class="carousel-content-text">
              <a v-if="slide.scrollTo" @click="scrollTo(slide.scrollTo)">{{ $t(slide.text) }}</a>
              <template v-else>{{ $t(slide.text) }}</template>
            </p>
            <p v-if="slide.text2" class="carousel-content-text"> {{ $t(slide.text2) }}</p>
            <div style="margin-top: -20px">
              <a :href="slide.href" class="carousel-content-text">{{ $t(slide.text11) }}</a>
              <a :href="slide.href1"
                 :class="((index == 0) ? 'btn btn-warning section-mobile-button-info' : 'carousel-content-text')"
                >{{ $t(slide.text22) }}</a>
              <a :href="slide.href2" class="carousel-content-text">{{ $t(slide.text33) }}</a>
            </div>
          </div>
        </div>
      </div>
    </slider-item>
  </slider>
</template>

<script>
  import {Slider, SliderItem} from 'vue-easy-slider'
  import {mapGetters} from "vuex";

  export default {
    computed: {
      ...mapGetters({
        lang: 'getSelectedLang'
      }),
    },
    components: {
      Slider,
      SliderItem
    },
    data() {
      return {
        sliderIndex: 0,
        slides: [
          {
            title: 'slider.firstTitle',
            title1: 'slider.firstTitle1',
            img: 'assets/images/index/carousel/EN/cour-1.jpg',
            img_mobile: 'assets/images/index/carousel/EN/m-cour-1.jpg',
            text22: 'slider.firstText22',
            href1: '/shop'
          }, {
            title: 'slider.thirdTitle',
            text: 'slider.thirdText',
            text2: 'slider.thirdText2',
            img: 'assets/images/index/carousel/EN/cour-2.jpg',
            img_mobile: 'assets/images/index/carousel/EN/m-cour-2.jpg'
          }, {
            title: 'slider.fourthTitle',
            title2: 'slider.fourthTitle2',
            text: 'slider.fourthText',
            img: 'assets/images/index/carousel/EN/cour-3.jpg',
            img_mobile: 'assets/images/index/carousel/EN/m-cour-3.jpg',
            scrollTo: 'mobile-section-container'
          }, {
            title: 'slider.fiveTitle',
            title1: 'slider.fiveTitle2',
            title2: 'slider.fiveTitle3',
            text11: 'slider.fiveText11',
            text22: 'slider.fiveText22',
            text33: 'slider.fiveText33',
            href1: 'https://euc-ut.io',
            href2: 'https://ruc-ut.io',
            img: 'assets/images/index/carousel/EN/cour-4.jpg',
            img_mobile: 'assets/images/index/carousel/EN/m-cour-4.jpg'
          }
        ],
        sizeX: 0
      }
    },
    created(){
      this.updateImageUrlsWithLang(this.lang)
    },
    mounted() {
      this.sizeX = document.documentElement.clientWidth;
      window.addEventListener('resize', () => {
        this.sizeX = document.documentElement.clientWidth
      })
    },
    watch: {
      lang(langValue) {
        this.updateImageUrlsWithLang(langValue)
      }
    },
    methods: {
      updateImageUrlsWithLang(lang) {
        if (['EN', 'RU'].includes(lang)) {
          for (let i = 1; i < this.slides.length; i++) {
            this.slides[i - 1].img = `assets/images/index/carousel/${lang}/cour-${i}.jpg`;
            this.slides[i - 1].img_mobile = `assets/images/index/carousel/${lang}/m-cour-${i}.jpg`;
          }
        }
      },
      scrollTo(id) {
        document.querySelector('#' + id).scrollIntoView({behavior: 'smooth', block: 'center'})
      }
    }
  }
</script>
