<template>

  <div class="content-wrapp container mt-5">

    <h1>{{ $t("main.terms_conditions") }}</h1>
    <p><i>{{ $t("main.last_update") }}</i></p>

    <p>
      <ul class="my-style-terms-list">
        <li><a href="#1-application-scope">1. {{ $t("main.application_scope") }}</a></li>
        <li><a href="#2-definitions">2. {{ $t("main.definitions") }}</a></li>
        <li><a href="#3-services">3. {{ $t("main.services") }}</a></li>
        <li><a href="#4-services">4. {{ $t("main.eligibility") }}</a>
          <ul>
            <li><a href="#4-1-to-use-the-services-you-must-">4.1. {{ $t("main.text60") }}</a></li>
            <li><a href="#4-2-complaints-handling">4.2. {{ $t("main.complaints_handling") }}</a></li>
          </ul>
        </li>
        <li><a href="#5-account-establishment">5. {{ $t("main.account_establishment") }}</a></li>
        <li><a href="#6-use-of-the-services">6.	{{ $t("main.use_services") }}</a>
          <ul>
            <li><a href="#6-1-types-of-transactions">6.1. {{ $t("main.types_transactions") }}</a></li>
            <li><a href="#6-2-transactional-thresholds">6.2. {{ $t("main.transactional_thresholds") }}</a></li>
            <li><a href="#6-3-acceptable-use">6.3. {{ $t("main.acceptable_use") }}</a></li>
            <li><a href="#6-4-declining-the-transactions">6.4. {{ $t("main.declining_transactions") }}</a></li>
            <li><a href="#6-5-rewards-program">6.5. {{ $t("main.rewards_program") }}</a></li>
          </ul>
        </li>
        <li><a href="#7-commission">7. {{ $t("main.commission") }}</a></li>
        <li><a href="#8-customer-due-diligence">8.	{{ $t("main.customer_due_diligence") }}</a></li>
        <li><a href="#9-account-security">9. {{ $t("main.account_security") }}</a></li>
        <li><a href="#10-unauthorised-transactions">10.	{{ $t("main.unauthorised_transactions") }}</a></li>
        <li><a href="#11-fraud-liability">11. {{ $t("main.fraud_liability") }}</a></li>
        <li><a href="#12-privacy">12. {{ $t("main.privacy") }}</a></li>
        <li><a href="#13-risk-disclosure">13. {{ $t("main.risk_disclosure") }}</a></li>
        <li><a href="#14-taxation">14. {{ $t("main.taxation") }}</a></li>
        <li><a href="#15-disclaimer-of-warranties">15. {{ $t("main.disclaimer_warranties") }}</a></li>
        <li><a href="#16-limitation-of-liability-waivers">16. {{ $t("main.limitation_liability_waivers") }}</a></li>
        <li><a href="#17-third-party-content">17. {{ $t("main.third_party_content") }}</a></li>
        <li><a href="#18-license">18. {{ $t("main.license") }}</a></li>
        <li><a href="#19-dormant-accounts">19. {{ $t("main.dormant_accounts") }}</a></li>
        <li><a href="#20-suspension-closure-and-termination">20. {{ $t("main.text61") }}</a></li>
        <li><a href="#21-jurisdiction">21. {{ $t("main.jurisdiction") }}</a></li>
        <li><a href="#22-miscellaneous">22. {{ $t("main.miscellaneous") }}</a>
          <ul>
            <li><a href="#22-1-entire-agreement">22.1. {{ $t("main.entire_agreement") }}</a></li>
            <li><a href="#22-2-amendment">22.2. {{ $t("main.amendment") }}</a></li>
            <li><a href="#22-3-severability">22.3. {{ $t("main.severability") }}</a></li>
            <li><a href="#22-4-force-majeure-events">22.4. {{ $t("main.force_majeure_events") }}</a></li>
            <li><a href="#22-5-assignment">22.5. {{ $t("main.assignment") }}</a></li>
            <li><a href="#22-6-survival">22.6. {{ $t("main.survival") }}</a></li>
          </ul>
        </li>
      </ul>
    </p>

    <p>{{ $t("main.text62") }}.</p>

    <p>{{ $t("main.text63") }}.</p>

    <div id="1-application-scope">
      <h3>1. {{ $t("main.text64") }}</h3>
      <p>{{ $t("main.text65") }}.</p>
    </div>

    <div id="2-definitions">
      <h3>2. {{ $t("main.text66") }}</h3>
      <p>{{ $t("main.text67") }}</p>
      <p>{{ $t("main.text68") }}</p>
      <p>{{ $t("main.text69") }}</p>
      <p>{{ $t("main.text70") }}</p>
      <p>{{ $t("main.text71") }}</p>
      <p>{{ $t("main.text72") }}</p>
      <p>{{ $t("main.text73") }}</p>
      <p>{{ $t("main.text74") }}</p>
      <p>{{ $t("main.text75") }}</p>
      <p>{{ $t("main.text76") }}</p>
      <p>{{ $t("main.text77") }}</p>
      <p>{{ $t("main.text78") }}</p>
      <p>{{ $t("main.text79") }}</p>
      <p>{{ $t("main.text80") }}</p>
    </div>

    <div id="3-services">
      <h3>3. {{ $t("main.services") }}</h3>
      <p>{{ $t("main.text81") }}</p>
      <p>{{ $t("main.text82") }} <strong>{{ $t("main.text83") }}</strong>.</p>
      <p>{{ $t("main.text84") }}</p>
    </div>

    <div id="4-eligibility">
      <h3>4. {{ $t("main.eligibility") }}</h3>
      <h4 id="4-1-to-use-the-services-you-must-">4.1 {{ $t("main.text60") }}:</h4>

      <p>{{ $t("main.text85") }}</p>
      <p>{{ $t("main.text86") }}</p>
      <p>{{ $t("main.text87") }}</p>
      <p>{{ $t("main.text88") }}</p>
      <p>{{ $t("main.text89") }}</p>
    </div>

    <div id="4-2-complaints-handling">
      <h3>4.2 {{ $t("main.complaints_handling") }}</h3>
      <p>{{ $t("main.text90") }}</p>
      <p>{{ $t("main.text91") }}</p>
      <p>{{ $t("main.text92") }}<br />
        {{ $t("main.text93") }}</p>
      <p>{{ $t("main.text94") }}</p>
    </div>

    <div id="5-account-establishment">
      <h3>5. {{ $t("main.account_establishment") }}</h3>

      <p>{{ $t("main.text95") }}</p>

      <p>
        {{ $t("main.text96") }}
      <ul>
        <li>1. {{ $t("main.text97") }}</li>
        <li>2. {{ $t("main.text98") }}</li>
      </ul>
      </p>
    </div>

    <div>
      <p>{{ $t("main.text99") }}</p>
      <p>{{ $t("main.text100") }}</p>
    </div>

    <div id="6-use-of-the-services">
      <h3>6. {{ $t("main.use_services") }}</h3>

      <p>{{ $t("main.text101") }}</p>
      <p>
      <div class="upp">{{ $t("main.text102") }}</div>
      {{ $t("main.text103") }}
      </p>
    </div>

    <div id="6-1-types-of-transactions">
      <h3>6.1 {{ $t("main.types_transactions") }}</h3>
      <p>{{ $t("main.text104") }}</p>
      <p>{{ $t("main.text105") }}</p>
      <p>{{ $t("main.text106") }}</p>
      <p>{{ $t("main.text107") }}</p>
      <p>{{ $t("main.text108") }}</p>
    </div>

    <div id="6-2-transactional-thresholds">
      <h3>6.2 {{ $t("main.transactional_thresholds") }}</h3>
      <p>{{ $t("main.text109") }}</p>
    </div>

    <div id="6-3-acceptable-use">
      <h3>6.3 {{ $t("main.acceptable_use") }}</h3>
      <p>{{ $t("main.text110") }}</p>
      <ul>
        <li>1.	{{ $t("main.text111") }}</li>
        <li>2.	{{ $t("main.text112") }}</li>
        <li>3.	{{ $t("main.text113") }}</li>
        <li>4.	{{ $t("main.text114") }}</li>
        <li>5.	{{ $t("main.text115") }}</li>
        <li>6.	{{ $t("main.text116") }}</li>
        <li>7.	{{ $t("main.text117") }}</li>
      </ul>
    </div>

    <div id="6-4-declining-the-transactions">
      <h3>6.4 {{ $t("main.declining_transactions") }}</h3>

      <p>{{ $t("main.text118") }}</p>
      <ul>
        <li>1.	{{ $t("main.text119") }}</li>
        <li>2.	{{ $t("main.text120") }}</li>
        <li>3.	{{ $t("main.text121") }}</li>
        <li>4.	{{ $t("main.text122") }}</li>
        <li>5.	{{ $t("main.text123") }}<br />
          {{ $t("main.text124") }}</li>
      </ul>
    </div>

    <div id="6-5-rewards-program">
      <h3>6.5 {{ $t("main.rewards_program") }}</h3>
      <ul>
        <li>1.	{{ $t("main.text125") }}</li>
        <li>2.	{{ $t("main.text126") }}</li>
        <li>3.	{{ $t("main.text127") }}</li>
        <li>4.	{{ $t("main.text128") }}</li>
      </ul>
    </div>

    <div id="7-commission">
      <h3>7. {{ $t("main.commission") }}</h3>
      <p>7.1 {{ $t("main.text129") }}</p>
      <p>7.2 {{ $t("main.text130") }}</p>
    </div>

    <div id="8-customer-due-diligence">
      <h3>8. {{ $t("main.customer_due_diligence") }}</h3>

      <p>{{ $t("main.text131") }}</p>
      <p>{{ $t("main.text132") }}</p>
    </div>

    <div id="9-account-security">
      <h3>9. {{ $t("main.account_security") }}</h3>
      <p>{{ $t("main.text133") }}</p>
      <p>{{ $t("main.text134") }}</p>
      <p>{{ $t("main.text135") }}</p>
    </div>

    <div id="10-unauthorised-transactions">
      <h3>10. {{ $t("main.unauthorised_transactions") }}</h3>
      <p>{{ $t("main.text136") }}</p>
    </div>

    <div id="11-fraud-liability">
      <h3>11. {{ $t("main.fraud_liability") }}</h3>
      <p>{{ $t("main.text137") }}</p>
    </div>

    <div id="12-privacy">
      <h3>12. {{ $t("main.privacy") }}</h3>
      <p>{{ $t("main.text138") }}</p>
      <p>{{ $t("main.text139") }}</p>
      <p>{{ $t("main.text140") }}</p>
    </div>

    <div id="13-risk-disclosure">
      <h3>13. {{ $t("main.risk_disclosure") }}</h3>
      <p>{{ $t("main.text141") }}</p>
      <p>{{ $t("main.text142") }}</p>
      <ul>
        <li>1.	{{ $t("main.text143") }}</li>
        <li>2.	{{ $t("main.text144") }}</li>
        <li>3.	{{ $t("main.text145") }}</li>
        <li>4.	{{ $t("main.text146") }}</li>
        <li>5.	{{ $t("main.text147") }}</li>
        <li>6.	{{ $t("main.text148") }}</li>
        <li>7.	{{ $t("main.text149") }}</li>
      </ul>
    </div>

    <div id="14-taxation">
      <h3>14. {{ $t("main.taxation") }}</h3>
      <p>{{ $t("main.text150") }}</p>
    </div>

    <div id="15-disclaimer-of-warranties">
      <h3>15. {{ $t("main.disclaimer_warranties") }}</h3>

      <p class="upp">{{ $t("main.text151") }}</p>
    </div>

    <div id="16-limitation-of-liability-waivers">
      <h3>16. {{ $t("main.limitation_liability_waivers") }}</h3>
      <p class="upp">{{ $t("main.text152") }}</p>
    </div>

    <div id="17-third-party-content">
      <h3>17. {{ $t("main.third_party_content") }}</h3>
      <p>{{ $t("main.text153") }}</p>
    </div>

    <div id="18-license">
      <h3>18. {{ $t("main.license") }}</h3>
      <p>{{ $t("main.text154") }}</p>
      <p>{{ $t("main.text155") }}</p>
      <p>{{ $t("main.text156") }}</p>
      <p>{{ $t("main.text157") }}</p>
      <p>{{ $t("main.text158") }}</p>
    </div>

    <div id="19-dormant-accounts">
      <h3>19. {{ $t("main.dormant_accounts") }}</h3>
      <p>{{ $t("main.text159") }}</p>
    </div>

    <div id="20-suspension-closure-and-termination">
      <h3>20. {{ $t("main.text61") }}</h3>
      <p>{{ $t("main.text160") }}</p>
      <p>{{ $t("main.text161") }}</p>
      <p>{{ $t("main.text162") }}</p>
      <p>{{ $t("main.text163") }}</p>
      <p>{{ $t("main.text164") }}</p>

      <ul>
        <li>1.	{{ $t("main.text165") }}</li>
        <li>2.	{{ $t("main.text166") }}</li>
        <li>3.	{{ $t("main.text167") }}</li>
        <li>4.	{{ $t("main.text168") }}</li>
        <li>5.	{{ $t("main.text169") }}</li>
        <li>6.	{{ $t("main.text170") }}</li>
        <li>7.	{{ $t("main.text171") }}</li>
        <li>8.	{{ $t("main.text172") }}</li>
        <li>9.	{{ $t("main.text173") }}</li>
        <li>10.	{{ $t("main.text174") }}</li>
      </ul>

      <p>{{ $t("main.text175") }}</p>
    </div>

    <div id="21-jurisdiction">
      <h3>21. {{ $t("main.jurisdiction") }}</h3>
      <p>{{ $t("main.text176") }}</p>
    </div>

    <div id="22-miscellaneous">
      <h3>22. {{ $t("main.miscellaneous") }}</h3>
      <h4 id="22-1-entire-agreement">22.1 {{ $t("main.entire_agreement") }}</h4>
      <p>{{ $t("main.text177") }}</p>
    </div>

    <div id="22-2-amendment">
      <h3>22.2 {{ $t("main.amendment") }}</h3>
      <p>{{ $t("main.text178") }}</p>
    </div>

    <div id="22-3-severability">
      <h3>22.3 {{ $t("main.severability") }}</h3>
      <p>{{ $t("main.text179") }}</p>
    </div>

    <div id="22-4-force-majeure-events">
      <h3>22.4 {{ $t("main.force_majeure_events") }}</h3>
      <p>{{ $t("main.text180") }}</p>
    </div>

    <div id="22-5-assignment">
      <h3>22.5 {{ $t("main.assignment") }}</h3>
      <p>{{ $t("main.text181") }}</p>
    </div>

    <div id="22-6-survival">
      <h3>22.6 {{ $t("main.survival") }}</h3>
      <p>{{ $t("main.text182") }}</p>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'main-terms'
  }

</script>
