<template>
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="d-flex flex-column payments">
          <div class="d-flex flex-wrap payments-table payments-table-header">
            <div class="col-lg-2 col-sm-6 flex-column text-center">
              <small class="text-silver">{{ $t("dashboard.profile.date") }}</small>
            </div>
            <div class="col-lg-2 col-sm-6 flex-column text-center">
              <small class="text-silver">{{ $t("dashboard.profile.status1") }}</small>
            </div>
            <div class="col-lg-2 col-sm-6 flex-column text-center">
              <small class="text-silver">{{ $t("dashboard.profile.amount") }}</small>
            </div>
            <div class="col-lg-2 col-sm-6 flex-column text-center">
              <small class="text-silver">{{ $t("dashboard.profile.currency1") }}</small>
            </div>
            <div class="col-lg-2 col-sm-6 flex-column text-center">
              <small class="text-silver">{{ $t("dashboard.profile.comment") }}</small>
            </div>

            <div class="col-lg-2 col-sm-6 flex-column text-center">
              <small class="text-silver">{{ $t("dashboard.profile.actions") }}</small>
            </div>
          </div>
          <div
              v-for="bill in userExternalBills" :bill="bill"
              :key="Math.random()" class="d-flex flex-wrap payments-table"
          >
<!--          <div-->
<!--                  v-for="bill in 6"-->
<!--                  :key="Math.random()" class="d-flex flex-wrap payments-table"-->
<!--          >-->
            <div class="col-lg-2 col-sm-6 flex-column payments-item text-center">
              <small class="text-silver pay-title-mob">{{ $t("dashboard.profile.date") }}</small>
              <div>
                <span>{{ bill.created_at | formatDateTime('DD MMMM YYYY | HH:mm:ss', lang) }}</span>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 flex-column payments-item text-center">
              <small class="text-silver pay-title-mob">{{ $t("dashboard.profile.status1") }}</small>
              <span>{{ statusCodes[bill.status_code] }}</span>
            </div>
            <div class="col-lg-2 col-sm-6 flex-column payments-item text-center">
              <small class="text-silver pay-title-mob">{{ $t("dashboard.profile.amount") }}</small>
              <div>
                <span>{{ bill.amount | formatMoney(bill.currency) }}</span>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 flex-column payments-item text-center">
              <small class="text-silver pay-title-mob">{{ $t("dashboard.profile.currency1") }}</small>
              <div>
                <span>{{  bill.currency | getCurrencyAlias}}</span>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 flex-column payments-item text-center">
              <small class="text-silver pay-title-mob">{{ $t("dashboard.profile.comment") }}</small>
              <div>
                <span>{{  bill.comment }}</span>
              </div>
            </div>

            <div class="col-lg-2 col-sm-6 flex-column payments-item text-center">
              <small v-if="bill.status_code !== 'DISCARD'" class="text-silver pay-title-mob">{{ $t("dashboard.profile.actions") }}</small>
              <div>
                <i class="icon-copy mr-1"
                   :title="$t('words.copy_activ_link')"
                   v-if="isActiveBill(bill.status_code)"
                   @click="copyActivationUrl(bill)">
                </i>
                <i class="icon-eye-open mr-1"
                   :title="$t('words.view_payments')"
                   v-if="bill.status_code !== 'DISCARD'"
                   @click="openTransModal(bill)">
                </i>
                <i class="icon-delete"
                   :title="$t('dashboard.profile.title5')"
                   v-if="isActiveBill(bill.status_code)"
                   @click="openNotifyModal(bill, $t('dashboard.profile.confirm'), $t('dashboard.profile.external_bills.delete_message'))"
                >
                </i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ModalWrapper ref="modalWrapper">
      <confirm-modal
          :notification="notification"
          @close="resetNotification"
          @delete="removeBill"
      ></confirm-modal>
    </ModalWrapper>
    <modalWrapper ref="modalQrCodeWrapper">
      <QrCode v-if="voucher" :voucher="voucher" @close-modal="$refs.modalQrCodeWrapper.close()"></QrCode>
    </modalWrapper>
    <ModalWrapper ref="modalTransWrapper" :width="'auto'" :title="$t('words.external_deposits')">
        <table class="table table-striped table-bordered mt-3" >
          <thead>
          <tr>
            <th width="25%" scope="col" class="text-center">{{$t("transactions.transaction_id")}}</th>
            <th width="25%" scope="col" class="text-center">{{$t("statusCodes.cards.created")}}</th>
            <th width="25%" scope="col" class="text-center">Email</th>
            <th width="25%" scope="col" class="text-center">{{$t("dashboard.profile.card_number")}}</th>
          </tr>
          </thead>
          <tbody>
          <template v-if="histories.length">
            <tr v-for="history in histories">
              <td class="text-center">{{history.id}}</td>
              <td class="text-center">{{history.created_at}}</td>
              <td class="text-center wrap-word" :title="history.payment_sender">{{history.payment_sender}}</td>
              <td class="text-center wrap-word" :title="history.card_number">{{history.card_number}}</td>
            </tr>
          </template>
          <template v-else>
            <tr >
              <td colspan="5" class="text-center">Ничего не найдено.</td>
            </tr>
          </template>
          </tbody>
        </table>
    </ModalWrapper>
  </div>
</template>
<script>


  import { mapGetters } from 'vuex'
  import { formatMoney, getCurrencyAlias, getCurrencySymbol, formatDateTime, copy , handleErrorForAlert} from '../../../../utilities'
  import alert from '@/common/sweet-alert'
  import QrCode from '../../../../views/dashboard/payments/deposit/QrCode'
  import requests from '@/main/requests'
  import spinner from '@/common/spinner'
  import ConfirmModal from "../vouchers/ConfirmModal";

  export default {
    name: "payments-by-links",
    components: {
      QrCode,
      ConfirmModal
    },
    computed: {
      ...mapGetters({
        user: 'getUser',
        lang: 'getSelectedLang',
        appUrl: 'getAppUrl'
      }),
      statusCodes() {
        return {
          'PROCESSING': this.$t("dashboard.profile.external_bills.created"), //Created (Создан)
          'DONE': this.$t("dashboard.profile.external_bills.paid"), //Paid (Оплачен)
          'DISCARD': this.$t("dashboard.profile.external_bills.canceled"), //Canceled (Отменен)
          'INFINITE': this.$t("dashboard.profile.external_bills.reusable") //Reusable (Многоразовая)
        }
      },
    },
    data () {
      return {
        userExternalBills: [],
        notification: {},
        voucher: null,
        histories: []
      }
    },
    mounted(){
      this.getExternalBills()
    },
    methods: {
      openQrCodeModal(bill) {
        this.voucher = bill
        this.voucher.invoice_id = bill.hash
        this.$refs.modalQrCodeWrapper.open();
      },
      openTransModal(bill) {
        this.getExternalBillsByHash(bill.hash)
        this.$refs.modalTransWrapper.open();
      },
      getExternalBills(){
        spinner.toggle(true);
        requests.dashboard.getUserExternalBills()
          .then(response => {
            this.userExternalBills = response.data.result;
            spinner.toggle(false);
          })
          .catch(({response}) => {

            spinner.toggle(false);
          });
      },
      getExternalBillsByHash(hash){
        spinner.toggle(true);
        this.histories = []
        requests.dashboard.getUserExternalBillsByHash(hash)
          .then(response => {
            this.histories = response.data.result
            spinner.toggle(false);
          })
          .catch(({response}) => {

            spinner.toggle(false);
          });
      },
      isActiveBill(statusCode){
        return ['PROCESSING', 'INFINITE'].includes(statusCode)
      },
      removeBill(bill){
        spinner.toggle(true);
        let form = {
          hash: bill.hash
        }
        requests.dashboard.cancelExternalBill(form)
          .then(response => {
            this.getExternalBills()
            spinner.toggle(false);
          })
          .catch(({response}) => {

            spinner.toggle(false);
          }).finally(()=>{
            this.notification = {}
            this.$refs.modalWrapper.close()
        });
      },
      copyActivationUrl(bill) {

        copy(bill.link);
        alert.success(this.$t('dashboard.profile.external_bills.successfully_copied'));
      },
      resetNotification() {
        this.notification = {}
        this.$refs.modalWrapper.close()
      },
      openNotifyModal(element, title, message) {
        this.notification = {
          title: title,
          message: message,
          element: element
        }
        this.$refs.modalWrapper.open()
      },
    },
    filters: {
      getCurrencySymbol,
      getCurrencyAlias,
      formatMoney,
      formatDateTime
    },
  }
</script>