@font-face {
  font-family: 'obmenIcon';
  src:  url('../fonts/obmenIconPack/obmenIcon.eot?utsdpw');
  src:  url('../fonts/obmenIconPack/obmenIcon.eot?utsdpw#iefix') format('embedded-opentype'),
    url('../fonts/obmenIconPack/obmenIcon.ttf?utsdpw') format('truetype'),
    url('../fonts/obmenIconPack/obmenIcon.woff?utsdpw') format('woff'),
    url('../fonts/obmenIconPack/obmenIcon.svg?utsdpw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'obmenIcon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-edit:before {
  content: "\e902";
}
.icon-card:before {
  content: "\e903";
}
.icon-file:before {
  content: "\e904";
}
.icon-map:before {
  content: "\e905";
}
.icon-verifi:before {
  content: "\e906";
}
.icon-car-pass:before {
  content: "\e907";
}
.icon-select-file:before {
  content: "\e908";
}
.icon-accept:before {
  content: "\e909";
}
.icon-map-pass:before {
  content: "\e90a";
}
.icon-int-pass:before {
  content: "\e90b";
}
.icon-cal:before {
  content: "\e90c";
}
.icon-contact:before {
  content: "\e90d";
}
.icon-nat-pass:before {
  content: "\e90f";
}
.icon-clock-back .path1:before {
  content: "\e910";
  color: rgb(255, 185, 47);
}
.icon-clock-back .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-personal-data:before {
  content: "\e912";
}
.icon-account:before {
  content: "\e913";
}
.icon-map-home:before {
  content: "\e914";
}
.icon-clock:before {
  content: "\e915";
}
.icon-delete:before {
  content: "\e916";
}
.icon-QR:before {
  content: "\e917";
}
.icon-circle-accept:before {
  content: "\e918";
}
.icon-pay-card:before {
  content: "\e919";
}
.icon-g-arrow .path1:before {
  content: "\e91a";
  color: rgb(213, 234, 222);
}
.icon-g-arrow .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(104, 217, 124);
}
.icon-4:before {
  content: "\e91c";
}
.icon-card-logo:before {
  content: "\e91d";
}
.icon-copy:before {
  content: "\e91e";
}
.icon-r-arrow .path1:before {
  content: "\e91f";
  color: rgb(245, 216, 216);
}
.icon-r-arrow .path2:before {
  content: "\e920";
  margin-left: -1.00390625em;
  color: rgb(234, 83, 72);
}
.icon-circle-close .path1:before {
  content: "\e921";
  color: rgb(0, 0, 0);
}
.icon-circle-close .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-circle-close .path3:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-user:before {
  content: "\e924";
}
.icon-setting:before {
  content: "\e925";
}
.icon-o-arrow .path1:before {
  content: "\e926";
  color: rgb(242, 229, 197);
}
.icon-o-arrow .path2:before {
  content: "\e927";
  margin-left: -1.00390625em;
  color: rgb(245, 165, 32);
}
.icon-o-arrow .path3:before {
  content: "\e928";
  margin-left: -1.00390625em;
  color: rgb(245, 165, 32);
}
.icon-transf:before {
  content: "\e929";
}
.icon-circle-plus:before {
  content: "\e92a";
}
.icon-find:before {
  content: "\e92b";
}
.icon-deposit:before {
  content: "\e92c";
}
.icon-deposit-card:before {
  content: "\e92d";
}
.icon-potrfolio:before {
  content: "\e92e";
}
.icon-print:before {
  content: "\e92f";
}
.icon-download:before {
  content: "\e930";
}
.icon-right-arrow:before {
  content: "\e931";
}
.icon-bold-right-arrow:before {
  content: "\e932";
}
.icon-down-arrow:before {
  content: "\e933";
}
.icon-wallet:before {
  content: "\e934";
}
.icon-g-accept:before {
  content: "\e935";
  color: #67d732;
}
.icon-g-r-u-arrow:before {
  content: "\e936";
  color: #68d97c;
}
.icon-r-r-d-arrow:before {
  content: "\e937";
  color: #ea5348;
}
.icon-pay-method:before {
  content: "\e938";
}
.icon-museum:before {
  content: "\e93a";
}
.icon-bitcoin:before {
  content: "\e93b";
}
.icon-verif-user:before {
  content: "\e93c";
}
.icon-select-img:before {
  content: "\e93d";
}
.icon-debit-card:before {
  content: "\e93e";
}
.icon-go-verif:before {
  content: "\e93f";
}
.icon-percent:before {
  content: "\e940";
}
.icon-eye-open:before {
  content: "\e941";
}
.icon-eye-close:before {
  content: "\e942";
}
.icon-accept-g:before {
  content: "\e943";
  color: #64d731;
}
.icon-filter:before {
  content: "\e944";
}
.icon-sq-down-arrow .path1:before {
  content: "\e946";
  color: rgb(103, 214, 123);
}
.icon-sq-down-arrow .path2:before {
  content: "\e947";
  margin-left: -0.99609375em;
  color: rgb(255, 255, 255);
}
.icon-sq-up-arrow .path1:before {
  content: "\e948";
  color: rgb(234, 83, 72);
}
.icon-sq-up-arrow .path2:before {
  content: "\e949";
  margin-left: -0.99609375em;
  color: rgb(255, 255, 255);
}
.icon-notif:before {
  content: "\e94a";
}
.icon-login:before {
  content: "\e94b";
}
.icon-close-modal:before {
  content: "\e94c";
}
