<template>
  <div class="TVChartContainer" :id="containerId" style="height: 100%" />
</template>

<script>

  import { widget } from './charting_library.min';
  import {mapGetters} from "vuex";

  function getLanguageFromURL() {
    const regex = new RegExp('[\\?&]lang=([^&#]*)');
    const results = regex.exec(window.location.search);
    return results === null ? null : decodeURIComponent(results[1].replace(/\+/g, ' '));
  }

  export default {
    name: 'TVChartContainer',
    computed: {
      ...mapGetters({
        orderPair: 'getOrderPair',
        historyApiUrl:'getHistoryApiUrl'
      }),
    },
    props: {
      symbol: {
        default: 'ETH-BTC',
        type: String,
      },
      interval: {
        default: 'D',
        type: String,
      },
      containerId: {
        default: 'tv_chart_container',
        type: String,
      },
      libraryPath: {
        default: '/assets/scripts/charting_library/',
        type: String,
      },
      chartsStorageApiVersion: {
        default: '1.1',
        type: String,
      },
      clientId: {
        default: 'custodianfund@gmail.com',
        type: String,
      },
      userId: {
        default: 'custodianfund@gmail.com',
        type: String,
      },
      fullscreen: {
        default: false,
        type: Boolean,
      },
      autosize: {
        default: true,
        type: Boolean,
      },
      theme:{
        default:'Dark',
        type: String,
      },
    },
    tvWidget: null,
    mounted() {
      const widgetOptions = {
        symbol: this.orderPair,
        // BEWARE: no trailing slash is expected in feed URL
        datafeed: new window.Datafeeds.UDFCompatibleDatafeed(this.historyApiUrl),
        interval: this.interval,
        container_id: this.containerId,
        library_path: this.libraryPath,
        theme:this.theme,
        locale: getLanguageFromURL() || 'en',
        disabled_features: ['study_templates'],
        enabled_features: ['use_localstorage_for_settings',],
        client_id: this.clientId,
        user_id: this.userId,
        fullscreen: this.fullscreen,
        autosize: this.autosize,
        studies_overrides: this.studiesOverrides
      };
      this.tvWidget = new widget(widgetOptions);

    },
    destroyed() {
      if (this.tvWidget !== null) {
        this.tvWidget.remove();
        this.tvWidget = null;
      }
    }
  }
</script>