<div class="right-popup" id="menu_replenishment_accept_{{ replenishment.id }}">
    <div class="right-popup__background"></div>
    <div class="right-popup__content">
        <div class="right-popup__close"><i class="far fa-times-circle"></i></div>
        <div class="right-popup__main">
            <div class="popup-content">
                <div class="right-menu__header">
                    <i class="far fa-envelope"></i>
                    <span class="right-menu__header__text">Заявка на пополнениие</span>
                </div>
                <div class="alert alert-success success-msg" role="alert">
                    Заявка на пополнение подтверждена!
                </div>
                <div class="alert alert-danger" role="alert"></div>
                <form id="replenishments_accept" method="post">
                    <input type="hidden" name="csrf_name" value="{{ csrf_key }}"/>
                    <input type="hidden" name="csrf_value" value="{{ csrf_key }}"/>
                    <input type="hidden" name="replenishment_id" value="{{ replenishment.id }}"/>
                    {% if replenishment.payment_type in ['online_translation'] %}
                        <div class="mt-3">
                            <div>Номер карты: <strong>{{ userCard.card_number }}</strong></div>
                            <div>ФИО на карте: <strong>{{ userCard.card_holder }}</strong></div>
                        </div>
                    {% endif %}
                    {% if replenishment.payment_type in ['rated_bill'] %}
                        <div class="mt-3">
                            <div>Банковский счет: <strong>{{ bankRequisite.recipient_account }}</strong></div>
                            <div>Swift код: <strong>{{ bankRequisite.swift_code }}</strong></div>
                            <div>Владелец счета: <strong>{{ bankRequisite.recipient_name }}</strong></div>
                            <div>Адрес: <strong>{{ bankRequisite.recipient_address }}</strong></div>
                            {% for document in bankRequisite.documents %}
                                <div>Документ: <a target="_blank" href="{{ document.getUrl() }}">
                                        {% if document.type in ['account_statement'] %}
                                            Выписка со счёта
                                        {% elseif document.type in ['account_details'] %}
                                            Реквизиты счёта
                                        {% endif %}
                                    </a></div>
                            {% endfor %}
                        </div>

                    {% endif %}
                    <div class="mt-3">
                        <div>ФИО пользователя: <strong>{{ replenishment.full_name_client }}</strong></div>
                        <div>Сумма пополнения:
                            <strong>{{ replenishment.amount + replenishment.total_commission }} {{ replenishment.currency_from }}</strong>
                        </div>
                        <div>ID подтверрждения: <strong>{{ replenishment.confirm_transact_id }}</strong></div>
                    </div>

                    <div class="right-menu__form__row">
                        <input type="text"
                               name="admin_replenishment_sms_code"
                               class="right-menu__form__input"
                               placeholder="Sms code" required>

                        <button type="button" class="btn btn-link" onclick="sendAdminReplenishmentSmsCode()">Request
                            code
                        </button>
                    </div>
                    <button type="submit" class="btn btn-primary right-menu__button">Подтвердить</button>
                </form>
            </div>
        </div>
    </div>
</div>