<template>

    <span>
      <button class="btn btn-secondary" @click="$refs.rightPanel.show()">
          <i class="fas fa-cogs"></i> Редактировать данные
      </button>
      <right-panel ref="rightPanel" title="Изменить данные реквизита" mode="full">
        <form class="right-menu__form" @submit.prevent="onSubmit">
            <error-view :errors="errors"></error-view>
            <success-view :success-message="successMessage"></success-view>
            <div class="row">
                <div class="col-md-6">
                    <span class="right-menu__header__text">Recipient name</span>
                    <div class="right-menu__form__row">
                      <input type="text"
                             class="right-menu__form__input"
                             placeholder="Recipient name"
                             v-model="form.recipient_name">
                    </div>
                    <span class="right-menu__header__text">Recipient account</span>
                    <div class="right-menu__form__row">
                      <input type="text"
                             class="right-menu__form__input"
                             placeholder="Recipient account"
                             v-model="form.recipient_account">
                    </div>
                    <span class="right-menu__header__text">Recipient address</span>
                    <div class="right-menu__form__row">
                      <input type="text"
                             class="right-menu__form__input"
                             placeholder="Recipient address"
                             v-model="form.recipient_address">
                    </div>
                    <span class="right-menu__header__text">Swift code</span>
                    <div class="right-menu__form__row">
                      <input type="text"
                             class="right-menu__form__input"
                             placeholder="Swift code"
                             v-model="form.swift_code">
                    </div>
                    <span class="right-menu__header__text">Bank type</span>
                    <div class="right-menu__form__row">
                      <input type="text"
                             class="right-menu__form__input"
                             placeholder="Bank type"
                             v-model="form.bank_type">
                    </div>
                    <span class="right-menu__header__text">Registration number</span>
                    <div class="right-menu__form__row">
                      <input type="text"
                             class="right-menu__form__input"
                             placeholder="Registration number"
                             v-model="form.registration_number">
                    </div>
                    <span class="right-menu__header__text">Recipient country</span>
                    <div class="right-menu__form__row">
                        <input type="text"
                               class="right-menu__form__input"
                               placeholder="Recipient country"
                               v-model="form.recipient_country">
                    </div>
                </div>
                <div class="col-md-6">
                    <span class="right-menu__header__text">Iban</span>
                    <div class="right-menu__form__row">
                      <input type="text"
                             class="right-menu__form__input"
                             placeholder="Iban"
                             v-model="form.iban">
                    </div>
                    <span class="right-menu__header__text">Bank name</span>
                    <div class="right-menu__form__row">
                      <input type="text"
                             class="right-menu__form__input"
                             placeholder="Bank name"
                             v-model="form.bank_name">
                    </div>
                    <span class="right-menu__header__text">Bank address</span>
                    <div class="right-menu__form__row">
                      <input type="text"
                             class="right-menu__form__input"
                             placeholder="Bank address"
                             v-model="form.bank_address">
                    </div>
                    <span class="right-menu__header__text">Bank country</span>
                    <div class="right-menu__form__row">
                      <input type="text"
                             class="right-menu__form__input"
                             placeholder="Bank country"
                             v-model="form.bank_country">
                    </div>
                    <span class="right-menu__header__text">Allowed currency</span>
                    <div class="right-menu__form__row">
                      <input type="text"
                             class="right-menu__form__input"
                             placeholder="Allowed currency"
                             v-model="form.allowed_currency">
                    </div>
                    <span class="right-menu__header__text">Allowed region</span>
                    <div class="right-menu__form__row">
                      <input type="text"
                             class="right-menu__form__input"
                             placeholder="Allowed region"
                             v-model="form.allowed_region">
                    </div>
                    <span class="right-menu__header__text">Recipient reference</span>
                    <div class="right-menu__form__row">
                      <input type="text"
                             class="right-menu__form__input"
                             placeholder="Recipient reference"
                             v-model="form.recipient_reference">
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-primary right-menu__button">Изменить</button>
                </div>
            </div>
        </form>
      </right-panel>
    </span>

</template>

<script>

  import RightPanel from "../../common/right-panel"
  import ErrorView from '../../common/form-elements/Errors'
  import SuccessView from '../../common/form-elements/Success'
  import {handlerErrors, formLoader} from '../../main/utilities'
  import requests from "../requests";

  export default {
    name: "edit-action-view",
    data() {
      return {
        successMessage: '',
        errors: [],
        form: {
            id: '',
            recipient_name: '',
            recipient_account: '',
            recipient_address: '',
            swift_code: '',
            bank_type: '',
            registration_number: '',
            recipient_country: '',
            iban: '',
            bank_name: '',
            bank_address: '',
            bank_country: '',
            allowed_currency: '',
            allowed_region: '',
            recipient_reference: '',
        },
      }
    },
    props: {
      requisite: {
        type: Object,
        required: true
      }
    },
    components: {
      RightPanel,
      ErrorView,
      SuccessView
    },
    created() {
      formLoader(this.form, this.requisite);
    },
    methods: {
      onSubmit() {
        this.$refs.rightPanel.spin(true);
        requests.systemBankRequisites.update(this.form)
          .then(({ data }) => {
            this.successMessage = data.message;
            this.$refs.rightPanel.spin(false);
            this.$refs.rightPanel.hide(30);
            this.$emit('requisite:update', this.form);
          })
          .catch(({ response }) => {
            this.errors = handlerErrors(this.$refs, response.data.errors)
            this.$refs.rightPanel.spin(false);
          })
      }
    }
  }

</script>