<template>

    <div class="grid-view">
        <table-view ref="table" :requisites="requisites"></table-view>
    </div>

</template>

<script>

  import TableView from './TableView'
  import requests from "../requests";

  export default {
    name: "system-requisites-grid-view",
    data() {
      return {
        requisites: []
      }
    },
    components: {
      TableView,
    },
    created() {
      this.load();
    },
    methods: {
      load() {
        requests.systemBankRequisites.list().then(({ data }) => {
          this.requisites = data.requisites
        })
      },
      reload() {
        this.load();
      }
    }
  }

</script>