<template>

    <div class="active-positions">
            <div v-if="requisites.length>0">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Recipient name</th>
                        <th scope="col">Bank type</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <template v-for="requisite in requisites">
                        <requisite-view :requisite="requisite" @requisite:update="onRequisiteUpdate"></requisite-view>
                    </template>
                </table>
            </div>
        <div v-if="requisites.length===0" class="info-block pt-5 pl-5 pr-5 pb-5" style="border-style: dashed">
            <div class="text-center" style="color: #9c9c9c">
                <i class="far fa-calendar fa-2x mr-3"></i> <span
                    class="h3">System requisites not found</span>
            </div>
        </div>
    </div>

</template>

<script>

  import RequisiteView from "./TableRowView"
  import _ from 'underscore'
  import {formLoader} from '../../main/utilities'

  export default {
    name: "table-view",
    props: {
      requisites: {
        type: Array,
        required: true
      }
    },
    components: {
      RequisiteView
    },
    methods: {
      onRequisiteUpdate(data) {
        let requisite = _.findWhere(this.requisites, {id:data.id});
        formLoader(requisite, data);
      }
    }
  }

</script>