<template>

    <tr>
        <td>{{requisite.id}}</td>
        <td>{{requisite.recipient_name}}</td>
        <td>{{requisite.bank_type}}</td>
        <td width="20%" align="center">
            <edit-action-view :requisite="requisite" @requisite:update="onRequisiteUpdate"/>
        </td>
    </tr>

</template>

<script>
  import EditActionView from './EditActionView'

  export default {
    name: "table-row-view",
    props: {
      requisite: {
        type: Object,
        required: true,
      }
    },
    components: {
      EditActionView
    },
    methods: {
      onRequisiteUpdate(data) {
        this.$emit('requisite:update', data);
      }
    }
  }
</script>