.landing{
  .my-style-opacity{
    background: #fff;
    opacity: 0.5;
  }
  .modal-dialog{
    background: #fff;
  }
  .modal-body {
    position: relative;
  }
  .my-style-modal-close{
    position: absolute;
    margin-top: 20px;
    width: 100%;
    background: transparent;
  }
  .my-style-modal-content{
    position: relative;
  }
  .my-style-modal-title{
    margin-top: 20px;
  }
  .modal-backdrop{
    background-color: #f5f4fa;
  }

  .modal-background {
    position: fixed;
    top: 0;
    color: black;
    overflow: auto;
    left: 0;
    display: flex;
    height: 100%;
    opacity: 0;
    z-index: -1000;
    min-height: 100vh;
    &.background-none {
      background: none;
    }
    &.white-background {
      background: #ffffff;
    }
    &.white-background-50 {
      background: rgba(255, 255, 255, 0.8);
    }
    .white-background-50 {
      background: rgba(255, 255, 255, 0.8);
    }

    &.hide {
      -webkit-animation: fadeout .5s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadeout .5s; /* Firefox < 16 */
      -ms-animation: fadeout .5s; /* Internet Explorer */
      -o-animation: fadeout .5s; /* Opera < 12.1 */
      animation: fadeout .5s;
      opacity: 0;
    }

    &.show {
      -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein .5s; /* Firefox < 16 */
      -ms-animation: fadein .5s; /* Internet Explorer */
      -o-animation: fadein .5s; /* Opera < 12.1 */
      animation: fadein .5s;
      z-index: 1001;
      opacity: 1;
      background: rgba(255, 255, 255, 0.8);
    }
    .modal-dialog {
      position: relative;
      width: 100%;

      &.register-modal {
        margin: 4.75rem auto;
        @media screen and (max-height: 870px) {
          align-items: unset;
        }
        .form-control-custom {
          position: relative;
        }
      }

      &.autoris-modal {
        background: transparent;

        .my-style-modal-content {
          background: #fff !important;
        }
      }

      &.modal-small {
        width: 500px;
        max-width: unset;
      }

      &.modal-large {
        width: 800px;
        max-width: unset;
      }

      .close-modal {
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 30px;
        top: -4rem;
        left: 0;
        cursor: pointer;
        color: black;
        margin: auto;
      }
    }

    .modal-content {
      background: transparent;
      border: none;

      .modal-header, .modal-body, .modal-footer {
        display: block;
        border: none;

        .custom-border-red {
          position: absolute;
          border: 1px solid #ff4e4b;
          width: 80%;
          margin-right: 15px;
          right: 0;
          bottom: 0;
        }
      }

      .modal-header {
        .logo {
          text-transform: capitalize;
          font-size: 25px;
          font-weight: bold;
        }

      }

      .qr-code-full {
        img {
          margin: 0 auto;
        }
      }
    }
  }

  .show-password {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 25px;
    background: none;
    outline: none;
    padding: 0;
    box-shadow: none;
    border: none;
  }
}


.form-control-custom.form-control-custom--inner {
  border-bottom: none !important;
  input {
    border-bottom: 2px solid rgba(94,84,84,0.25);
  }
  a {
    display: block;
    text-align: left;
  }
}
.landing .form-custom .form-control-custom input.my_bb {
  border-bottom: 2px solid rgba(94,84,84,0.25);
  margin-bottom: 0 !important;
  &:hover {
    border-bottom: 2px solid #000;
  }
}
.landing .form-custom .form-control-custom .error-msg {
  text-align: left;
}
.landing .form-custom .form-control-custom .notice{
  color: #46395c;
  font-size: 13px;
  margin-top: 10px;
  font-weight: 400 !important;
  margin-top: 4px;
}
.error-msg--black {
  color: #000;
  font-size: 80%;
}
.text-danger-white.error-msg {
  font-weight: bold;
}

.landing .modal-background .modal-content {
  height: 100%;
}
.landing .modal-background .modal-dialog.autoris-modal .my-style-modal-content {
  height: auto !important;
  position: absolute;
  top: 75px;
}


.new-background-modal {
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);

  .new-close-container {
    margin-bottom: 3vw;

    &:hover {
      cursor: pointer;
    }
  }

  .new-modal-content {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    width: 550px;
    max-height: 70vh;
    padding: 1vw;
    overflow-y: auto;
    overflow-x: hidden;

    .title {
      text-align: center;
      margin-top: 1.5vw;
      margin-bottom: 3vw;
    }

    .modal-header {
      display: flex;
      flex-direction: column;
      border: none;
      a{
        color: #007bff;
      }
    }

    .modal-footer {
      display: flex;
      flex-direction: column;
      border: none;
      padding-top: 0;
      padding-bottom: 0;

      .center-captcha {
        margin: 0 0 2vw 0;
      }
      .btn {
        width: 100%;
        margin: 0 0 1.5vw 0;
      }
    }
  }
}

.modal-fade-enter,
.modal-fade-leave-active {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.5s ease;
}

//new modals
.landing .form-custom .form-control-custom {
  position: relative;
}
.new-background-modal .new-modal-content {
  overflow-x: hidden;
}

@media(max-width: 768px) {
  .new-background-modal .new-modal-content {
    width: 95vw !important;
    margin-left: auto;
    margin-right: auto;
  }
}
@media(max-width: 360px) {
  .new-background-modal .new-modal-content .table-striped {
    font-size: 70%;
  }
}
@media(min-width: 360px) and (max-width: 386px) {
  .new-background-modal .new-modal-content .table-striped {
    font-size: 87%;
  }
}
@media(max-width:991px) {
  .leadership-bonus table.table-striped  {
    display: block;
    overflow-x: auto;
    width: 100%;
  }
}

.modal-header {
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
  }
}
@media(max-width:1024px) {
  .text-left-laptop-verifidet {
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: left !important;
  }
}

@media screen and (max-width: 575px) {
  .load-img .row .col-md-3 {
    text-align: left;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .dashboard-layout .modal-background .modal-dialog .modal-content .modal-footer button.btn.btn-activate-vaucher--mob {
    margin-left: -30px;
  }
}
@media screen and (max-width: 768px) {
  .new-background-modal .new-modal-content .modal-footer.modal-footer--notify {
    padding-bottom: 1rem;
  }
}
.form-custom.black .form-control-custom input {
  font-size: 14px;
  @media screen and (max-width: 1024px) {
    font-size: 12px;
  }
}
