<template>
  <div class="row" v-if="isMobile">
    <div class="col-12 col-md-6 col-lg-3" v-for="item in items">
      <p class="header-table-col-title">
        {{ item.name }}
      </p>
      <ul class="header-table-col-list">
        <li class="header-table-col-item" v-for="direction in item.directions">
          <router-link :to="`/terminal?pair=${direction.pair}`">
          <span class="header-table-col-item-name"
            >{{ direction.currency_from | getCurrencyAlias }}/{{ direction.currency_to | getCurrencyAlias }}</span>
          <span class="header-table-col-item-value"
            >{{ direction.currency_to | getCurrencyAlias }} {{ direction.value | formatMoney(direction.currency_to) }}</span>
          </router-link>
        </li>
<!--        <li class="header-table-col-item" v-for="field in (countFields - item.directions.length)">-->
<!--          <span class="header-table-col-item-name">&nbsp</span>-->
<!--          <span class="header-table-col-item-value">&nbsp</span>-->
<!--        </li>-->
      </ul>
    </div>
  </div>

  <div class="exchange-rate-view" v-else>
    <section class="header-table flex-wrap">
      <div :class="isMobile ? 'header-table-col' : 'col-12 col-md-6 col-lg-3'" v-for="item in items">
        <p class="header-table-col-title">
          {{ item.name }}
        </p>
        <ul class="header-table-col-list">
          <li class="header-table-col-item" v-for="direction in item.directions">
            <span class="header-table-col-item-name"
              >{{ direction.currency_from | getCurrencyAlias }}/{{ direction.currency_to | getCurrencyAlias }}</span>
            <span class="header-table-col-item-value"
              >{{ direction.currency_to | getCurrencyAlias }} {{ direction.value | formatMoney(direction.currency_to) }}</span>
          </li>
<!--          <li class="header-table-col-item" v-for="field in (countFields - item.directions.length)">-->
<!--            <span class="header-table-col-item-name">&nbsp</span>-->
<!--            <span class="header-table-col-item-value">&nbsp</span>-->
<!--          </li>-->
        </ul>
      </div>
    </section>
  </div>

</template>

<script>

  import {formatMoney, getCurrencyAlias} from "../../utilities"
  import _ from 'underscore'

  export default {
    name: "exchange-rate-view",
    props: {
      exchangeRates: {
        type: Object,
        required: true
      },
      itsMobile: {
        type: Boolean
      }
    },
    data() {
      return {
        items: [],
        countFields: 0,
        show: false,
        isMobile: this.itsMobile
      }
    },
    watch: {
      exchangeRates() {
        let result = [];

        _.each(this.currenciesDirection(), item => {
          let exchangeRates = [];
          _.each(item.directions, currency => {
            let pair = currency.from + '-' + currency.to;
            let reversePair = currency.to + '-' +  currency.from
            let direction
            if (this.exchangeRates[pair] !== undefined) {
              direction = this.exchangeRates[pair][0]
              direction.pair = pair
              exchangeRates.push(direction)
            }
            else if(this.exchangeRates[reversePair] !== undefined){
              direction = this.exchangeRates[reversePair][1]
              direction.pair = reversePair
              exchangeRates.push(direction)
            }

          });
          result.push({
            name: item.name,
            directions: exchangeRates
          });
          if (this.countFields <= exchangeRates.length) {
            this.countFields = exchangeRates.length;
          }
        });

        this.items = result;
      },
      '$route.path'() {
        this.show = false;
      }
    },
    filters: {
      formatMoney,
      getCurrencyAlias
    },
    methods: {
      toggle() {
        this.show = !this.show;
      },
      currenciesDirection() {
        return [
          {
            name: 'Bitcoin',
            directions: [
              {from: 'BTC', to: 'USD'},
              {from: 'BTC', to: 'EUR'},
              {from: 'BTC', to: 'RUB'},
              {from: 'BTC', to: 'GBP'},
            ]
          },
          {
            name: 'Ethereum',
            directions: [
              {from: 'ETH', to: 'USD'},
              {from: 'ETH', to: 'EUR'},
              {from: 'ETH', to: 'RUB'},
              {from: 'ETH', to: 'GBP'},
            ]
          },
          {
            name: 'Tether USD',
            directions: [
              {from: 'USDT', to: 'BTC'},
              {from: 'USDT', to: 'ETH'},
              {from: 'USDT', to: 'USD'},
              {from: 'USDT', to: 'RUB'},
              {from: 'USDT', to: 'EUR'},
              // {from: 'USDT', to: 'GBP'},
            ]
          },
          {
            name: 'CFX',
            directions: [
              {from: 'CFX', to: 'EUR'},
              {from: 'CFX', to: 'RUB'},
              {from: 'CFX', to: 'USD'},
              {from: 'CFX', to: 'KZT'},
            ]
          },
        ];
      },
    }
  }

</script>
