<template>
  <footer class="landing-footer">
    <div class="container">
      <div class="footer-bottom">
        <div class="footer-bottom__item">
          <h6 class="footer-bottom-title">{{ $t("dashboard.footer.main") }}</h6>
          <ul class="footer-bottom-list footer-bottom-list-icon">
            <li><a href="mailto:info@bitexfin.com"><i class="far fa-envelope"></i> info@bitexfin.com</a></li>
            <li><a><i class="fas fa-map-marker-alt"></i>{{ $t("dashboard.footer.text1") }}</a></li>
            <li><a>{{ $t("dashboard.footer.text20") }}</a></li>
            <li>{{ $t("dashboard.footer.text3") }}</li>
            <li>{{ $t("dashboard.footer.text4") }}</li>
            <li>{{ $t("dashboard.footer.text5") }}</li>
            <li><a href="/documents/license_notification.pdf" target="_blank">{{ $t("dashboard.footer.licenses_notification") }}</a></li>
          </ul>
        </div>
        <div class="footer-bottom__item">
          <h6 class="footer-bottom-title">{{ $t("dashboard.footer.documents") }}</h6>
          <ul class="footer-bottom-list">
            <li><router-link to="/documents/policy.pdf" target="_blank">{{ $t("dashboard.footer.text6") }}</router-link></li>
            <li><router-link to="/rules/risk">{{ $t("dashboard.footer.text7") }}</router-link></li>
            <li><router-link to="/documents/anti-spam.pdf" target="_blank">{{ $t("dashboard.footer.text8") }}</router-link></li>
            <li><router-link to="/rules/law-enf">{{ $t("dashboard.footer.text9") }}</router-link></li>
            <li><router-link to="/how">{{ $t("dashboard.footer.text14") }}</router-link></li>
            <li><router-link to="/documents/aml.pdf" target="_blank">{{ $t("dashboard.footer.text10") }}</router-link></li>
            <li><router-link to="/documents/terms.pdf" target="_blank">{{ $t("dashboard.footer.text11") }}</router-link></li>
            <li><router-link to="/fees">{{ $t("dashboard.footer.text12") }}</router-link></li>
            <li><router-link to="/coin-status">{{ $t("dashboard.footer.coin_status") }}</router-link></li>
            <li><router-link to="/documents/internal-control.pdf" target="_blank">{{ $t("dashboard.footer.internal_control") }}</router-link></li>
            <!--<li><router-link :to="'/documents/Investment_Offer_PaysUni_'+currentLang+'.docx'" target="_blank">{{ $t("dashboard.footer.investment_offer_paysuni") }}</router-link></li>-->
          </ul>
        </div>
        <div class="footer-bottom__item">
          <h6 class="footer-bottom-title">{{ $t("dashboard.footer.text13") }}</h6>
          <ul class="footer-bottom-list footer-bottom-list-icon">
            <li>
              <a href="mailto:support@bitexfin.com">
                <i class="far fa-envelope"></i>
                support@bitexfin.com
              </a>
              <i class="fas fa-phone"></i>
              +3726028493
            </li>
          </ul>
          <!--<h6 class="footer-bottom-title">{{ $t("dashboard.footer.about_tokens") }}</h6>
          <ul class="footer-bottom-list footer-bottom-list-icon">
            <li><a href="https://cfx-ut.io/" target="_blank">CFX</a></li>
            <li><a href="https://euc-ut.io/" target="_blank">EUC</a></li>
            <li><a href="https://psn-token.com/" target="_blank">PSN</a></li>
            <li><a href="https://ruc-ut.io/" target="_blank">RUC</a></li>
          </ul>-->
        </div>
      </div>
    </div>
    <div class="container footer-copyright">
      <div class="footer-bottom">
        <div class="footer-bottom__item footer-copyright-logo">
          <img src="/assets/images/index/logo2.png" alt="" class="logo">
          <p class="copyright">{{ $t("dashboard.footer.text17") }}</p>
          <p class="copyright">{{ $t("dashboard.footer.text19") }}</p>
        </div>
        <div class="footer-bottom__item footer-bottom-credit">
          <img src="/assets/images/index/visa.svg" alt="">
          <img src="/assets/images/index/master.svg" alt="">
          <img src="/assets/images/index/pci.svg" alt="">
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
  import {mapGetters} from 'vuex'
  export default {
    name: 'footer-view',

    computed: mapGetters({
      currentLang: 'getSelectedLang'
    })
  }

</script>
