<template>
  <div>
    <div>
      <div class="header-newstyle d-block d-xl-none">
        <nav class="navbar navbar-dark bg-dark">
          <a class="navbar-brand p-0" href="/"><img src="/assets/images/index/logo.min.png" alt=""
                                                    class="logo-mobile"></a>
          <div v-if="!maintenanceStatus && exchangeDataForTable">
            <button @click="exchangeRateMobileToggle" class="header-left-button-caret">BTC/EUR</button>
            <span class="header-left-value"
            >{{ exchangeDataForTable['BTC-EUR'][0].value.toFixed(2) }}</span>
          </div>
          <button v-if="!maintenanceStatus" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1"
                  aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div v-if="!maintenanceStatus" class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item" v-show="!isLogged">
                <a class="nav-link" @click="onOpenLoginModal">{{ $t('header.log')}}</a>
              </li>
              <li class="nav-item" v-show="!isLogged">
                <a class="nav-link" href="#" data-toggle="modal" @click="toggleModal('.bd-modal-xl')">{{
                  $t("header.sign_up") }}</a>
              </li>
              <li class="nav-item">
                <router-link to="/fees" class="nav-link">
                  {{ $t('register.text12')}}
                </router-link>
              </li>
              <li class="nav-item" v-show="isLogged">
                <a class="nav-link" @click="$store.dispatch('access', true)" href="javascript:void()">{{ $t('header.log')}}</a>
              </li>
              <li class="nav-item" v-show="isLogged">
                <a class="nav-link" @click.prevent="onLogout">{{ $t('header.log_out')}}</a>
              </li>
              <li class="nav-item">
                <lang-switcher></lang-switcher>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="header-table-mobile d-xl-none">
        <div class="container">
          <exchange-rate-view v-if="exchangeDataForTable" class="homepage"
                              ref="exchangeRateView" :its-mobile="true"
                              :exchange-rates="exchangeDataForTable"></exchange-rate-view>
        </div>
      </div>
      <div class="header-newstyle d-none d-sm-none d-md-none d-lg-none d-xl-block">
        <div class="d-flex justify-content-between align-items-center header-desktop">
          <div class="header-left d-flex align-items-center">
            <a href="/"><img src="/assets/images/index/logo2.png" alt="" class="logo"></a>
            <div v-if="!maintenanceStatus" class="header-left-button d-flex align-items-center">
              <button @click="exchangeRateToggle" class="header-left-button-caret">BTC/EUR</button>
              <exchange-rate-view v-if="exchangeDataForTable" class="homepage"
                                  ref="exchangeRateView" :its-mobile="false"
                                  :exchange-rates="exchangeDataForTable"></exchange-rate-view>
            </div>
            <div v-if="!maintenanceStatus && exchangeDataForTable" class="header-left-currency-value">
              <span class="header-left-value">{{ exchangeDataForTable['BTC-EUR'][0].value.toFixed(2) }}</span>
            </div>
          </div>
          <div class="header-right d-flex align-items-center">
            <router-link v-if="!maintenanceStatus" class="header-right-select" to="/fees">
              <i class="fas fa-arrow-right" style="padding-right:10px;"></i>
              <i class="fas fa-wallet" style="padding-right:10px;"></i>{{ $t('register.text12')}}
            </router-link>
            <router-link class="header-right-select" to="/how">{{ $t("header.help") }}</router-link>
            <section v-if="!maintenanceStatus">
              <a v-show="!isLogged">
                <span class="signIn" @click="onOpenLoginModal">{{ $t("header.log") }}</span>
              </a>
              <button v-show="!isLogged" class="regist btn" @click="toggleModal('.bd-modal-xl')">{{ $t("header.sign_up")
                }}
              </button>
              <a v-show="isLogged" @click="$store.dispatch('access', true)" href="javascript:void(0)" class="signIn">{{ $t('header_menu.dashboard')  }}
              </a>
              <button v-show="isLogged" class="regist btn" @click.prevent="onLogout">{{ $t("header.log_out") }}</button>
            </section>
            <lang-switcher></lang-switcher>
          </div>
        </div>
      </div>
      <section v-if="!maintenanceStatus">
        <div class="modal fade bd-modal-xl new-style-small-modal" backdrop="true" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-close" data-dismiss="modal" aria-label="Close" @click="toggleModal('.bd-modal-xl')">
            <svg class="close__svg">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/close.svg#close"></use>
            </svg>
          </div>
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <p class="modal-title">{{ $t("header.make") }}</p>
              <p class="modal-link">{{ $t("header.already") }} <a class="modal-link" @click="onOpenLoginModal">{{
                $t("header.log") }}</a></p>
              <div class="container">
                <div class="row">
                  <div class="col-xl-6 d-flex flex-column align-items-center">
                    <img class="modal-img modal-img-left" src="/assets/images/index/users.png" alt="">
                    <button class="modal-button modal-button-left" @click="onOpenRegisterModal(0)">{{
                      $t("header.personal") }}
                    </button>
                    <p class="modal-text">{{ $t("header.text1") }}</p>
                  </div>
                  <div class="col-xl-6 d-flex flex-column align-items-center">
                    <img class="modal-img modal-img-right" src="/assets/images/index/hotel.png" alt="">
                    <button class="modal-button modal-button-right" @click="onOpenRegisterModal(1)">{{
                      $t("header.text2") }}
                    </button>
                    <p class="modal-text">{{ $t("header.text3") }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade bd-modal-lg new-style-small-modal" tabindex="-1" role="dialog"
             aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">{{ $t("header.make") }}</h4>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close" @click="toggleModal('.bd-modal-lg')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <p class="modal-link">{{ $t("header.already") }}<a class="modal-link" @click="onOpenLoginModal">{{
                $t("header.log") }}</a>
              </p>
              <div class="container">
                <div class="row">
                  <div class="col-12 col-lg-6 d-flex flex-column align-items-center">
                    <img class="modal-img modal-img-left" src="/assets/images/index/users.png" alt="">
                    <button class="modal-button modal-button-left" @click="onOpenRegisterModal(0)">{{
                      $t("header.personal") }}
                    </button>
                  </div>
                  <div class="col-12 col-lg-6 d-flex flex-column align-items-center">
                    <img class="modal-img modal-img-right" src="/assets/images/index/hotel.png" alt="">
                    <button class="modal-button modal-button-right" @click="onOpenRegisterModal(1)">{{
                      $t("header.text2") }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>

  import {mapGetters} from 'vuex'
  import {formatMoney, getCurrencyAlias} from "../../utilities";
  import ExchangeRateView from './ExchangeRateView'
  import LangSwitcher from "@/main/views/lang-switcher/LangSwitcher";


  export default {
    name: 'header-view',
    components: {
      LangSwitcher,
      ExchangeRateView
    },
    data() {
      return {}
    },
    computed: mapGetters({
      exchangeDataForTable: 'getExchangeRates',
      exchangeRates: 'getExchangeRatesHeader',
      isLogged: 'isAuthenticated',
      maintenanceStatus: 'getMaintenanceStatus'
    }),
    methods: {
      exchangeRateToggle() {
        let header_table = jQuery('.header-table-mobile');
        if (header_table.hasClass("d-xl-flex")) {
          header_table.removeClass("d-xl-flex");
          header_table.addClass("d-xl-none");
          header_table.css({
            'margin-top': '0'
          });
        } else {
          header_table.removeClass("d-xl-none")
          header_table.addClass("d-xl-flex");
          header_table.css({
            'margin-top': '60px'
          });
        }
      },
      exchangeRateMobileToggle() {
        // if($('.header-table').hasClass("d-flex")){
        //   $('.header-table').removeClass("d-flex");
        //   $('.header-table').addClass("d-none");
        // }
        // else{
        //   $('.header-table').removeClass("d-none");
        //   $('.header-table').addClass("d-flex");
        // }
        jQuery('.header-table-mobile').toggle();
      },
      onOpenRegisterModal(legal_entity) {
        jQuery('.modal.show').removeClass('show').hide()
        this.$store.dispatch('updateLegalEntity', legal_entity)
        this.$emit('openModal', 'register', 'registration')
      },
      onOpenLoginModal() {
        jQuery('.modal.show').removeClass('show').hide()
        this.$emit('openModal', 'login', 'authorization')
      },
      toggleModal(className) {
        let modal = jQuery(className);
        if (!modal.hasClass('show')) {
          modal.addClass('show').show();
        } else {
          modal.removeClass('show').hide();
        }
      },
      onLogout() {
        this.$store.dispatch('logout')
          .then(() => window.location.href = '/')
      }
    },
    filters: {
      formatMoney,
      getCurrencyAlias
    }
  }

</script>
