<template>
  <section>
    <left-panel @onOpenLeftPanel="onOpenLeftPanel" ref="leftPanel"></left-panel>
    <!--Mobile burger menu !-->
    <slide right class="navbar-toggler collapse-button mt-0 mb-2">
      <lang-switcher class="pl-4"></lang-switcher>
      <router-link to="/dashboard" class="nav-link icon">
        <span>{{ $t("header_menu.dashboard") }}</span>
      </router-link>
      <a class="nav-link icon" href="/terminal">
        <span>{{ $t("header_menu.trade") }}</span>
      </a>
      <!--<router-link class="nav-link icon" to="/dashboard/investment">
        <span>{{ $t("header_menu.investment") }}</span>
      </router-link>-->
      <a class="nav-link icon" href="#" @click.prevent="openLeftPanel('balance')">
        <span><i class="fas fa-wallet"></i> {{ $t("header_menu.accounts") }}</span>
      </a>
      <router-link class="nav-link icon" to="/dashboard/profile">
        <span><i class="far fa-user"></i> {{ $t("header_menu.profile") }} </span>
      </router-link>
      <a class="nav-link icon" href="#" @click.prevent="onLogout">
        <span><i class="fas fa-sign-in-alt"></i> {{ $t("header_menu.logout") }}</span>
      </a>

    </slide>

    <!--Mobile burger menu end !-->
    <!--Menu for lg !-->
    <div class="nav-link--mob">
      <span class="nav-link">
        <span>ID {{ user.id }}</span>
      </span>
    </div>
    <div class="collapse navbar-collapse collapse-menu ml-3 justify-content-end">
      <div class="collapse navbar-collapse" ref="main-menu">
        <ul class="navbar-nav mr-auto">
          <li v-if="this.$route.path === '/terminal'"
              class="nav-item"
              :class="isOpenLeftPanel ? 'active' : ''">
            <router-link to="/dashboard" class="nav-link">
              <i class="fas fa-wallet"></i> <span>{{ $t("header_menu.accounts") }}</span>
            </router-link>
          </li>
          <li class="no-hover">
            <span class="nav-link">
              <span>ID {{ user.id }}</span>
            </span>
          </li>
          <li class="nav-item">
            <router-link class="nav-link user-status" to="/dashboard/profile" v-if="isUserLoaded">
              <i class="far fa-user"></i>
              <div class="status coming" v-if="isUserOnVerify"><i class="fas fa-clock"></i></div>
              <div class="status success" v-if="isUserVerified"><i class="fas fa-check-circle"></i></div>
              <div class="status bad" v-if="isUserNotVerified"><i class="fas fa-exclamation-circle"></i></div>
              <div class="status coming" v-if="isUserCreated"><i class="fas fa-clock"></i></div>
            </router-link>
          </li>
          <li class="nav-item">
            <a class="nav-link icon d-lg-block d-none" href="#" @click.prevent="onLogout">
              <i class="fas fa-sign-in-alt"></i>
            </a>
          </li>
          <li class="nav-item">
            <lang-switcher></lang-switcher>
          </li>
        </ul>
      </div>
    </div>
    <!--Menu for lg end !-->
    <exchange-modal></exchange-modal>
  </section>
</template>

<script>
  import {Slide} from 'vue-burger-menu'
  import {mapGetters} from 'vuex'
  import spinner from '../../../common/spinner'
  import requests from "@/main/requests"
  import { eventBus } from '../../eventBus'
  import LeftPanel from "../../layouts/dashboard/LeftPanel/Index"
  import LangSwitcher from '../../views/lang-switcher/LangSwitcher'
  import ExchangeModal from "../../views/exchange/ExchangeModal"

  export default {
    name: "MobileMenuBurger",
    components: {
      Slide, LeftPanel, ExchangeModal, LangSwitcher
    },
    data() {
      return {
        notifications: [],
        isOpenLeftPanel: false
      }
    },
    created() {
      this.getNotifications()
    },
    computed: mapGetters({
      unread_user_notifications_counter: 'getCountUnreadUserNotifications',
      isUserCreated: 'isUserCreated',
      isUserOnVerify: 'isUserOnVerify',
      isUserVerified: 'isUserVerified',
      isUserNotVerified: 'isUserNotVerified',
      isUserLoaded: 'isUserLoaded',
      user: 'getUser',
      currentLang:'getSelectedLang'
    }),
    methods: {
      getNotifications() {
        requests.dashboard.getUnreadNotifications().then(({data}) => {
          this.notifications = data.notifications
        })
      },
      onLogout() {
        spinner.toggle(true)
        this.$store.dispatch('logout')
          .then(() => window.location.href = '/')
          .catch(() => spinner.toggle(false))
      },
      onOpenLeftPanel(status) {
        this.isOpenLeftPanel = status
      },
      openLeftPanel(tab = 'balance') {
        this.$refs.leftPanel.togglePanel()
      },
      openProfile() {
        eventBus.$emit('open-profile', {
          step: 1,
          endStep: false,
        })
      },
      openExchangeModal() {
        eventBus.$emit('open-exchange-modal')
      },
    },
  }
</script>
