<template>
  <div>
    <form class="form-custom" method="post" @submit.prevent="nextStep">
      <div class="modal-body">
        <!--            Пользователь вводит логин-->
        <div class="form-control-custom" v-if="step === 1 && !isCodeRequested && !isBanned">
          <input v-model="form.login" required :placeholder="$t('login.phone_email')" v-focus>
        </div>
        <div v-if="step === 2 && !isCodeRequested && !isBanned">
          <div class="form-control-custom text-center mb-3" @click="prevStep">
            <span style="display:block">{{ $t('login.login') }}: <strong>{{form.login}}</strong></span>
          </div>
          <small class="float-left font-weight-bold d-block w-100" ref="error_login"></small>
          <div class="form-control-custom position-relative">
            <input :class="isShowPass ? '' : 'security-input'"
                   :type="isShowPass ? 'text' : 'password'"
                   v-model="form.password"
                   class="border-danger pb-0"
                   :placeholder="$t('register.password')"
                   v-focus>
            <button type="button" class="show-password" @click="showPassword">
              <i class="icon" :class="isShowPass ? 'icon-eye-open' : 'icon-eye-close'"></i>
            </button>
          </div>
          <div class="row">
            <div class="col-md-7">
              <small class="float-left font-weight-bold d-block w-100" ref="error_password"></small>
              <small class="float-left font-weight-bold d-block w-100" v-if="errors.length > 0">
                <span v-for="error in errors">{{ error }}</span>
              </small>
            </div>
            <div class="col-md-5">
              <small class="text-right font-weight-bold link-p d-block w-100"
                     @click.prevent="onOpenForgotPasswordModal">{{ $t("login.reset") }}
              </small>
            </div>
          </div>
        </div>
        <div v-if="isCodeRequested && !isGaCodeRequested && !isBanned">
          <div class="form-control-custom text-center">
            <input v-model="form.sms_code" :placeholder="$t('register.sms')" v-focus>
          </div>
          <div style="font-size: 13px;" class="error-msg font-weight-bold" ref="error_sms_code"></div>
          <small class="float-left font-weight-bold d-block w-100" v-if="errors.length > 0">
            <span v-for="error in errors">{{ error }}</span>
          </small>

          <p style="color: #efae9c;font-size: 13px;">{{ $t("login.text1") }} {{ form.login }} {{ $t("login.text2") }}.</p>
          <p v-if="seconds <= 60 && seconds > 0" style="color: #efae9c;font-size: 13px;" class="mb-0"
            >{{ $t("login.text3") }} <span class="font-weight-bold"
              style="color: rgb(239, 174, 156); font-size: 15px">{{ seconds }}</span>
          </p>
          <a v-else class="font-weight-bold" @click.prevent="onSubmit"
             style="color: #000; cursor: pointer">{{ $t("login.text4") }}</a>
        </div>
        <div v-if="isCodeRequested && isGaCodeRequested && !isBanned">
          <google2-fa v-on:ga_code="form.ga_code = $event" ref="google2fa" env="authenticate"></google2-fa>
          <div class="text-danger error-msg" ref="error_ga_code" style="margin-bottom: 10px"></div>
        </div>
        <div v-if="isBanned">
          <div class="form-control-custom text-center">
            <p>{{ $t("login.text5") }}</p>
          </div>
        </div>

      </div>
      <div class="modal-footer">
<!--        <div v-if="(isBanned === false && notAllowedIp === false)" class="text-center center-captcha">-->
<!--          <div v-show="captcha" class="g-recaptcha" id="recaptcha"-->
<!--               data-sitekey="6LdsmpUUAAAAAMzHadkZSHlYcvQrtkmg-9U2VloV">-->
<!--          </div>-->
<!--        </div>-->
        <button v-if="!isBanned" class="btn btn-primary btn-footer-form-login" type="submit" :disabled="invalidCaptcha"
          >{{ step === 1 ? $t('login.next') : isCodeRequested ? $t('login.accept') : $t('login.login_button')}}</button>
      </div>
    </form>
  </div>

</template>

<script>

  import {handlerErrors} from '../../utilities'
  import Google2Fa from '../../../common/google2fa'
  import spinner from '../../../common/spinner'
  import requests from '../../requests'

  export default {
    name: 'login',
    data() {
      return {
        errors: {},
        successMessage: '',
        captcha: false,
        seconds: 60,
        invalidCaptcha: false,
        isCodeRequested: false,
        isGaCodeRequested: false,
        isBanned: false,
        notAllowedIp: false,
        step: 1,
        form: {
          login: null,
          password: null,
          sms_code: null,
          ga_code: null,
        },
        isShowPass: false
      }
    },
    components: {
      Google2Fa
    },
    mounted() {
      this.initReCaptcha();

    },
    directives: {
      focus: {
        inserted: function (el) {
          el.focus();
        }
      }
    },
    methods: {
      showPassword () {
        this.isShowPass = !this.isShowPass
      },
      nextStep() {
        if (this.step < 2) {
          this.step++;
        } else {
          this.onSubmit()
        }
      },
      prevStep() {
        if (this.step > 1) {
          this.step--;
        }
      },
      onOpenForgotPasswordModal() {
        this.$emit('openModal', 'password-recovery', 'password-recovery', {login: this.form.login})
      },
      onOpenUnconfirmedEmailModal() {
        this.$emit('openModal', 'email-unconfirmed', 'email-confirmation', {login: this.form.login})
      },
      initReCaptcha() {
        let self = this;
        setTimeout(() => {
          if (typeof grecaptcha === 'undefined') {
            self.initReCaptcha();
          } else if (typeof grecaptcha === "object") {
            self.onLoadCallback();
          }
        }, 100);
      },
      timer() {
        let intervalId = setInterval(() => {
          this.seconds = --this.seconds;

          if (this.seconds === 0) {
            clearInterval(intervalId);
          }
        }, 1000)
      },
      onSubmit() {
        this.errors = [];
        this.successMessage = '';
        spinner.toggle(true);
        this.$store.dispatch('login', {user: this.form, getCode: !this.isCodeRequested || this.seconds <= 0})
          .then((data) => {
            if (data.isSendCode || data.needGaCode) {
              spinner.toggle(false)
              this.captcha = false;
              this.invalidCaptcha = false;
              this.isCodeRequested = true;
              if (data.isSendCode) {
                this.seconds = 60;
                this.timer();
              } else if (data.needGaCode) {
                this.isGaCodeRequested = true;
              }
              this.successMessage = data.message;
            } else {
             if (typeof this.$route.query.redirectTo !== 'undefined') {
                window.location.href = this.$route.query.redirectTo
              } else {
                if (this.$route.params.fromTo) {
                  window.location.href = `/dashboard?redirect=${this.$route.params.fromTo}`
                } else if (this.$route.params.hash) {
                  window.location.href = `/dashboard?hash=${this.$route.params.hash}`
                } else if (this.$route.path === "/activate") {
                  window.location.href = `/dashboard?b=1`
                } else if (this.$route.path === "/shop") {
                  window.location.href = `/dashboard?b=1`
                } else  {
                  window.location.href = '/dashboard'
                }
              }
            }
          })
          .catch(response => {
            this.captcha = true;
            this.invalidCaptcha = true;
            if(response) {
                if (parseInt(response.data.errors[0].code) === 1007) {
                  requests.config.getConfig()
                    .then(({data}) => {
                      setTimeout(()=>{
                        this.onSubmit();
                      }, 300)
                    })
                    .catch((e) => {
                    })
                }
                if (response.data.errors[0].text === 'Incorrect code') {
                    this.isCodeRequested = true;
                    this.form.sms_code = null;
                }
                if (response.data.errors[0].text.includes('blocked') === true) {
                    this.isBanned = true;
                }
                if (response.data.errors[0].text.includes('IP') === true) {
                    this.notAllowedIp = true
                }
                this.errors = handlerErrors(this.$refs, response.data.errors);
            }
            spinner.toggle(false);
            grecaptcha.reset();
          })
      },
      onLoadCallback() {
        grecaptcha.render('recaptcha', {callback: this.onSubmitCaptcha});
        grecaptcha.reset();
      },
      onSubmitCaptcha(token) {
        requests.authenticate.captchaValidation({token: token}).then(response => {
          this.invalidCaptcha = !response.data.valid
        }).catch(() => {
          this.invalidCaptcha = false;
        })
      },
    }
  }
</script>
