<template>
  <div class="modal-background w-100"
       :class="show ? 'show' : 'hide'"
  >
    <div class="close-block mb-4 text-center my-style-modal-close">
      <svg @click="close"
           class="close__svg">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/close.svg#close"></use>
      </svg>
    </div>
    <div class="modal-dialog modal-dialog-centered" :class="(title === 'Registration') ? 'register-modal' : 'autoris-modal'">
      <div class="modal-content my-style-modal-content">
        <div class="modal-header align-self-center my-style-modal-title">
          <h3 class="my-modal-title">{{ $t('modal.'+title) }}</h3>
        </div>
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>

  import jQuery from 'jquery'

  export default {
    name: 'modal',
    props: {
      title: String,
    },
    data() {
      return {
        show: false
      }
    },
    methods: {
      toggle(isShow) {
        jQuery('body').toggleClass('overflow-hidden', isShow)
        this.show = isShow
      },
      close() {
        jQuery('.modal.show').removeClass('show').hide()
        this.toggle(false)
      },
      open() { this.toggle(true) },
      onClose() { this.close() }
    }
  }

</script>
