<template>
  <div>
    <form class="form-custom" method="post" @submit.prevent="nextStep">
      <div class="modal-body">
        <div class="form-control-custom" v-show="step === 1 && !isCodeRequested">

          <input v-model="form.login" :placeholder="$t('passwordrecov.phone')" v-focus>
          <small class="float-left text-left font-weight-bold d-block w-100" ref="error_login"></small>
          <small class="float-left text-left font-weight-bold d-block w-100" v-if="errors.length > 0">
            <span v-for="error in errors">{{ error }}</span>
          </small>
        </div>
        <div v-show="step === 2 && !isCodeRequested">
          <small class="text-center text-left font-weight-bold d-block w-100" v-if="successMessage"> {{ successMessage }}</small>


          <div class="form-control-custom form-control-custom--inner text-center">
            <input class="mb-4 my_bb" :placeholder="$t('passwordrecov.newpas')" type="password" v-model="form.new_password" v-focus>
            <small class="float-left text-left font-weight-bold d-block w-100" ref="error_new_password"></small>
            <input class="mb-4 my_bb" :placeholder="$t('passwordrecov.repeat')" type="password" v-model="form.new_password_repeat" v-focus>
            <small class="float-left text-left font-weight-bold d-block w-100" ref="error_new_password_repeat"></small>
            <small class="float-left text-left font-weight-bold d-block w-100" v-if="errors.length > 0">
              <span v-for="error in errors">{{ error }}</span>
            </small>
          </div>
        </div>
        <div v-show="isCodeRequested">
          <div class="form-control-custom form-control-custom--inner text-center">
            <input v-model="form.sms_code" class="mb-4 my_bb" :placeholder="$t('passwordrecov.sms')" v-focus>
            <small class="float-left text-left font-weight-bold d-block w-100" ref="error_sms_code"></small>
            <small class="float-left text-left font-weight-bold d-block w-100" v-if="errors.length > 0">
              <span v-for="error in errors">{{ error }}</span>
            </small>
            <div v-if="seconds <= 60 && seconds > 0">
             <p style="color: #efae9c;font-size: 13px; margin-bottom: 10px;">
              {{ $t("login.text1") }}
              {{ $t("login.text2") }}
              </p>
              <p style="color: #efae9c;font-size: 13px;">
                <span>{{ $t("login.text3") }}</span>
                <span class="font-weight-bold" style="font-size: 15px">{{ seconds }}</span>
              </p>
            </div>
            <a class="font-weight-bold" @click.prevent="getVerifyCode" v-else style="cursor: pointer; margin: 5px 0;">{{ $t("register.resend") }}</a>

          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" type="submit">
          {{ step === 1 ? $t('passwordrecov.next') : isCodeRequested ? $t('passwordrecov.accept') : $t('passwordrecov.recovery')}}
        </button>
      </div>
    </form>
  </div>
</template>

<script>

  import { handlerErrors } from '../../utilities'
  import requests from '../../requests'
  import spinner from '../../../common/spinner'

  export default {
    name: 'password-recovery',
    props: {
      data: Object
    },
    data() {
      return {
        successMessage: '',
        errors: {},
        isCodeRequested: false,
        isCheckSms: false,
        step: 1,
        seconds: 60,
        form: {
          login: null,
          sms_code: null,
          new_password: null,
          new_password_repeat: null
        },
      }
    },
    directives: {
      focus: {
        inserted: function (el) {
          el.focus();
        }
      }
    },
    created() {
      this.form.login = this.data.login;
      this.getVerifyCode();
    },
    updated() {
      if (this.step === 2 && !this.isCodeRequested) {
        this.$refs.field_newpas.focus()
      }
      if (this.step === 1 && !this.isCodeRequested) {
        this.$refs.field_phone.focus()
      }
    },
    methods: {
      nextStep() {
        if (this.step === 1) {
          this.getVerifyCode();
        }
        if (this.step === 2) {
          if (this.isCodeRequested) {
            this.checkCode()
          } else {
            this.resetPassword()
          }
        }
      },
      getVerifyCode() {
        this.errors = [];
        spinner.toggle(true);
        requests.authenticate.postRequestResetPasswordCode(this.form)
          .then(({ data }) => {
            this.isCodeRequested = true;
            this.seconds = 60;
            this.step = 2;
            this.timer();
            spinner.toggle(false);
          }).catch(({ response }) => {
          this.isCodeRequested = true;
          this.errors = handlerErrors(this.$refs, response.data.errors);
          spinner.toggle(false);
        });
      },
      checkCode () {
        spinner.toggle(true);
        requests.authenticate.postCheckCode(this.form).then(({ data }) => {
          this.isCodeRequested = false;
          this.seconds = 60;
          this.step = 2;
          spinner.toggle(false);
        }).catch(({ response }) => {
          this.isCodeRequested = true;
          this.errors = handlerErrors(this.$refs, response.data.errors);
          spinner.toggle(false);
        })
      },
      resetPassword() {
        this.errors = [];
        spinner.toggle(true);
        this.isCheckSms = true;
        requests.authenticate.postResetPassword(this.form)
          .then(({ data }) => {
            let timer = 6;

            spinner.toggle(false);
            setInterval(() => {
              if (timer === 1) {
                this.$emit('openModal', 'login', 'authorization');
              } else {
                this.successMessage = data.message + '. Redirect ' + --timer;
              }
            }, 1000).bind(this);
          }).catch(({ response }) => {
          if (response.data.invalidCode === true) {
            this.isCodeRequested = true;
            this.form.sms_code = null;
          }
          this.isCheckSms = false;
          spinner.toggle(false);
          this.errors = handlerErrors(this.$refs, response.data.errors);
        });
      },
      timer() {
        let intervalId = setInterval(() => {
          this.seconds = --this.seconds;

          if (this.seconds === 0) {
            clearInterval(intervalId);
          }
        }, 1000)
      },
    }
  }

</script>
