<template>
  <form class="form-custom form-bg-white" method="post" @submit.prevent="(isCodeRequested) ? checkSmsCode() : requestSmsCode()">
    <div class="modal-body">
      <div v-show="isCodeRequested === false">
        <small class="float-left font-weight-bold d-block w-100" v-if="errors.length > 0">
          <span v-for="error in errors">{{ error }}</span>
        </small>
        <div class="form-control-custom">
          <div class="dropdown-select text-center" @mouseenter="isFocusSelect=true" @mouseleave="isFocusSelect=false">
            <div class="w-100" @click="onOpenSelectCountry">
              <input autocomplete="new-password" disabled v-model="selectedCountryName" :placeholder="$t('register.selectedcountry')">
              <i class="fas fa-chevron-down" v-if="!isOpenSelect"></i>
              <i class="fas fa-chevron-up" v-else></i>
            </div>
            <ul v-show="isOpenSelect">
              <input type="text" :placeholder="$t('main.search_country')"
                     style="border-bottom: 2px solid #000000; width: 100%"
                     v-model="inputSearchCountry" ref="inputSearchCountry">
              <li v-for="(value, code) in countriesList"
                  v-if="code && value.name && (code.length === 2) &&
                  (value.name.toLowerCase().indexOf(inputSearchCountry.toLowerCase()) === 0)" :value="code" @click="selectCountry(code, value.name)">
                <span>{{ value.name }}</span></li>
            </ul>
          </div>
          <small class="float-left font-weight-bold d-block w-100" ref="error_country_iso"></small>
        </div>
        <div class="form-control-custom position-relative">
          <masked-input
              @input="onExistsUserByAttribute('phone_number', $event)"
              @focus.native="onResetElementState('phone_number', $event)"
              v-model="form.phone_number"
              :placeholder="$t('register.phone')"
              autocomplete="new-password"
              ref="field_phone_number"
              placeholder-char=" "
              :mask="phoneMask"/>
          <input-spinner :showen="inputSpinner.phone_number"/>
          <small class="float-left font-weight-bold d-block w-100" ref="error_phone_number"></small>
        </div>
        <div class="form-control-custom position-relative">
          <input
              @input="onExistsUserByAttribute('email', $event)"
              @focus="onResetElementState('email', $event)"
              v-model="form.email"
              :placeholder="$t('register.mail')"
              autocomplete="new-password"
              ref="field_email"
              type="email"
              v-tolowercase>
          <input-spinner :showen="inputSpinner.email"/>
          <small class="float-left font-weight-bold d-block w-100" ref="error_email"></small>
        </div>
        <div class="form-control-custom">
          <input type="text" v-model="form.promo_code" maxlength="12"
                 :placeholder="$t('register.promo_code')" ref="field_promo_code" autofocus>
          <small class="float-left font-weight-bold d-block w-100" ref="error_promo_code"></small>
        </div>
        <div class="form-control-custom">
          <input :class="isShowPass ? '' : 'security-input'" autocomplete="new-password"
                 :type="isShowPass ? 'text' : 'password'" v-model="form.password"
                 :placeholder="$t('register.password')" ref="field_password"
                 @keyup="checkPassword">
          <button type="button" class="show-password" @click="showPassword" tabindex="-1">
            <i class="icon" :class="isShowPass ? 'icon-eye-open' : 'icon-eye-close'"></i>
          </button>
          <small class="float-left font-weight-bold d-block w-100" ref="error_password"></small>
          <small v-if="!isPasswordError" class="float-left font-weight-bold d-block w-100 notice">{{ $t("register.password_notice") }}</small>
        </div>
        <div class="form-control-custom">
          <input :class="isShowPass ? '' : 'security-input'" autocomplete="new-password"
                 :type="isShowPass ? 'text' : 'password'" v-model="form.repeat_password"
                 :placeholder="$t('register.repeat')" ref="field_repeat_password"
                 @keyup="checkPassword" @focusout="checkNotSamePassword">
          <button type="button" class="show-password" @click="showPassword" tabindex="-1">
            <i class="icon" :class="isShowPass ? 'icon-eye-open' : 'icon-eye-close'"></i>
          </button>
          <small class="float-left font-weight-bold d-block w-100" ref="error_repeat_password"></small>
        </div>
      </div>
      <div v-show="isCodeRequested === true">
        <div class="form-control-custom text-center">
          <small class="float-left font-weight-bold d-block w-100" v-if="errors.length > 0">
            <span v-for="error in errors">{{ error }}</span>
          </small>
          <p style="color:rgb(158, 42, 10); font-size: 13px;"
            >{{ $t("register.text1") }} {{ form.phone_number }} {{ $t("register.text2") }}</p>
          <input autocomplete="new-password" v-model="form.sms_code" :placeholder="$t('register.sms')" ref="field_sms_code">
        </div>
        <div class="text-danger-white error-msg" ref="error_sms_code"></div>
        <p style="color: rgb(158, 42, 10); font-size: 13px; padding-top: 15px;"
           class="mb-0" v-if="seconds <= 60 && seconds > 0"
           >{{ $t("register.text3") }} <span class="font-weight-bold"
           style="color: rgb(158, 42, 10); font-size: 15px">{{ seconds }}</span>
        </p>
        <a v-else class="font-weight-bold" @click.prevent="requestSmsCode"
           style="color: rgb(158, 42, 10); cursor: pointer">{{ $t("register.resend") }}</a>
      </div>
    </div>
    <div class="modal-footer">
      <label v-show="isCodeRequested === false">
        <input type="checkbox" v-model="isChecked">
        <div class="checkbox__button mr-2"></div>{{ $t("register.text4") }}</label>
      <ul class="list-unstyled">
        <li><a class="link-p" href="/documents/policy.pdf" target="_blank">{{ $t("register.privacy") }}</a></li>
        <li @click="close"><a class="link-p" href="/rules/risk" target="_blank">{{ $t("register.text7") }}</a></li>
        <li><a class="link-p" href="/documents/anti-spam.pdf" target="_blank">{{ $t("register.text8") }}</a></li>
        <li @click="close"><a class="link-p" href="/rules/law-enf" target="_blank">{{ $t("register.text9") }}</a></li>
        <li><a class="link-p" href="/documents/aml.pdf" target="_blank">{{ $t("register.text10") }}</a></li>
        <li><a class="link-p" href="/documents/terms.pdf" target="_blank">{{ $t("register.text11") }}</a></li>
        <li @click="close"><a class="link-p" href="/fees" target="_blank">{{ $t("register.text12") }}</a></li>
        <li><a class="link-p" href="/documents/internal-control.pdf" target="_blank">{{ $t("dashboard.footer.internal_control") }}</a></li>
      </ul>
      <div style="display: flex; justify-content: center;">
        <button class="btn btn-footer-form-regist text-center" type="submit" :disabled="isDisabledRegisterBtn"
          >{{ isCodeRequested ? $t('register.accept') : $t('register.create_an_account')}}</button>
      </div>
    </div>
  </form>
</template>

<script>
  import { mapGetters } from 'vuex'
  import {handlerErrors} from '../../utilities'
  import spinner from '../../../common/spinner'
  import requests from '../../requests'
  import countries from 'country-data'
  import MaskedInput from '@aymkdn/vue-input-masked'
  import Tolowercase from '../../../common/directives/tolowercase'
  Vue.directive('tolowercase', Tolowercase)

  export default {
    name: 'register',
    components: {
      MaskedInput
    },
    data() {
      return {
        inputSearchCountry: '',
        isClickButtonRegister: true,
        isCodeRequested: false,
        isPasswordOk: false,
        successMessage: '',
        timeoutEmail: null,
        timeoutPhoneNumber: null,
        seconds: 60,
        errors: {},
        needCheckSamePassword: false,
        fieldCannotBeEmpty: false,
        isPasswordError: false,
        countriesList: {},
        isOpenSelect: false,
        selectedCountryName: null,
        phoneMask: '111111111111111',
        isValid: {
          phone_number: true,
          email: true
        },
        inputSpinner: {
          phone_number: false,
          email: false
        },
        isChecked: false,
        form: {
          country_iso: null,
          phone_number: null,
          email: null,
          promo_code: null,
          password: null,
          repeat_password: null,
          referral: null,
          legal_entity: 0,
        },
        isShowPass: false
      }
    },
    created() {
      let sortedKeys = Object.keys(countries.callingCountries).sort((a, b) => {
        if (a === 'all') {
          return 0
        }
        if (countries.callingCountries[a] && countries.callingCountries[b]) {
          return countries.callingCountries[a].name.localeCompare(countries.callingCountries[b].name)
        }
      })
      this.countriesList = {}
      sortedKeys.forEach((key) => {
        this.countriesList[key] = countries.callingCountries[key]
      })
    },
    computed: {
      ...mapGetters({
        legal_entity: 'getLegalEntity',
      }),
      isDisabledRegisterBtn () {
        return this.isClickButtonRegister && (this.isValid.email || this.isValid.phone_number)
          || !this.isChecked || !this.isPasswordOk
      }
    },
    watch: {
      'form.country_iso': {
        handler: function (val, oldVal) {
          let phoneSymbol = countries.callingCountries[val].countryCallingCodes[0]
          phoneSymbol = '\\' + phoneSymbol.split('').join('\\')
          if (oldVal !== null) {
            let oldPhoneSymbol = countries.callingCountries[oldVal].countryCallingCodes[0]
            this.form.phone_number = this.form.phone_number.replace(oldPhoneSymbol, '')
          }
          this.$nextTick(() => {
            this.phoneMask = phoneSymbol + '111111111111111'
          })
        }
      }
    },
    methods: {
      close() {
        this.$emit('close')
      },
      showPassword () {
        this.isShowPass = !this.isShowPass
      },
      selectCountry (code, name) {
        this.isOpenSelect = false
        this.form.country_iso = code
        this.selectedCountryName = name
      },
      onOpenSelectCountry () {
        this.isOpenSelect = !this.isOpenSelect
        this.$nextTick(() => this.$refs.inputSearchCountry.focus())
      },
      checkNotSamePassword() {
        this.needCheckSamePassword = true;
        this.checkPassword()
      },
      checkPassword() {
        this.isPasswordError = false
        let errors = []
        this.$refs.error_password.innerHTML = ''
        this.$refs.error_repeat_password.innerHTML = ''
        for (let fieldName of ['password', 'repeat_password']) {
          // если пустое поле
          if (!this.form[fieldName] && this.fieldCannotBeEmpty) {
            errors.push({code: '9000', field: fieldName, text: this.$t('errors.9000')})
            continue
          }
          // если пароли не совпадают
          if ((this.form.password !== this.form.repeat_password) && this.needCheckSamePassword) {
            errors.push({code: '9003', field: fieldName, text: this.$t('errors.9003')})
          }
        }
        //пароль должен содержать минимум одну заглавную, минимум одну цифру и не менее 8 символов
        if (this.form['password'] && (this.form['password'].search(/^(?=.*[A-Z])(?=.*\d)[A-Za-z\d@$!%*#?&^]{8,}$/) == -1)) {
          this.isPasswordError = (errors.length === 0) ? true : false
          errors.push({code: '9025', field: 'password', text: this.$t('errors.9025')})
        }
        if (errors.length > 0) {
          this.errors = handlerErrors(this.$refs, errors)
          this.isPasswordOk = false
        } else {
          this.isPasswordOk = true
        }
        return this.isPasswordOk
      },
      requestSmsCode() {
        this.fieldCannotBeEmpty = true
        if (!this.checkPassword()) {
          return false
        }
        Object.keys(this.$refs).forEach(el => {
          if (el.indexOf('error_') === 0) {
            this.$refs[el].innerHTML = ''
          }
        })
        this.isClickButtonRegister = true
        this.errors = []
        this.successMessage = ''
        this.form.phone_number = this.form.phone_number.replace(/\s+/g, '')
        this.form.legal_entity = this.legal_entity
        this.form.referral = this.$route.query['r']
        spinner.toggle(true)
        requests.authenticate.register(this.form, !this.isCodeRequested || this.seconds <= 0)
          .then(({data}) => {
            this.isCodeRequested = true
            this.successMessage = data.message
            this.isClickButtonRegister = true
            this.seconds = 60
            spinner.toggle(false)
            this.timer()
          })
          .catch(({response}) => {
            spinner.toggle(false)
            let errorFields = response.data.errors.map(x => x['field'])
            this.isPasswordError = errorFields.includes('password') || errorFields.includes('repeat_password')
            this.errors = handlerErrors(this.$refs, response.data.errors)
            this.isClickButtonRegister = true
          })
      },
      checkSmsCode() {
        this.errors = []
        this.successMessage = ''
        this.form.phone_number = this.form.phone_number.replace(/\s+/g, '')
        this.form.referral = this.$route.query['r']
        spinner.toggle(true)
        requests.authenticate.register(this.form)
          .then(() => {
            this.$store.dispatch('login', {user: {login: this.form.phone_number, password: this.form.password}, getCode: null})
              .then((data) => {
                if (this.$route.path === "/activate") {
                  window.location.href = `/dashboard?b=1`
                } else {
                  window.location.href = '/dashboard'
                }
              })
            spinner.toggle(false)
          })
          .catch(({response}) => {
            //Check for incorrect code
            if (response.data.errors && response.data.errors[0] && response.data.errors[0].code === '1203') {
              this.isCodeRequested = true
              this.form.sms_code = null
            }
            spinner.toggle(false)
            this.errors = handlerErrors(this.$refs, response.data.errors)
          })
      },
      onExistsUserByAttribute(attribute, event) {
        this.isValid[attribute] = true
        if (attribute === 'email') {
          clearTimeout(this.timeoutEmail)
          this.timeoutEmail = setTimeout(() => this.existsUserByAttribute(attribute, event),1000)
        } else {
          clearTimeout(this.timeoutPhoneNumber)
          this.timeoutPhoneNumber = setTimeout(() => this.existsUserByAttribute(attribute, event),1000)
        }
      },
      existsUserByAttribute(attribute, event) {
        const $element = jQuery(event.target)
        this.inputSpinner[attribute] = true
        this.onResetElementState($element)
        this.inputSpinner[attribute] = false
        this.isValid[attribute] = false
      },
      onResetElementState(attribute, event) {
        if (event !== undefined) {
          jQuery(this.$refs[`error_${attribute}`]).text('')
        }
      },
      timer() {
        let intervalId = setInterval(() => {
          this.seconds = --this.seconds
          if (this.seconds === 0) {
            clearInterval(intervalId)
          }
        }, 1000)
      },
    }
  }

</script>
