<template>

  <div id="app" class="application">
    <component :is="layout"></component>
  </div>

</template>

<script>

  export default {
    name: 'application',
    watch: {
      '$route.meta.layout'(value) {
        this.setLayout(value);
      }
    },
    data() {
      return {
        layout: 'empty-layout'
      };
    },
    created() {
      this.setLayout(this.$route.meta.layout || 'empty-layout');
      this.$store.dispatch('loadExchangeRates')
    },
    methods: {
      setLayout(value) {
        this.layout = value
      }
    },
  }

</script>
