<template>
  <div class="form-custom">
    <div class="d-block contact-item">
      <error-view :errors="errors"></error-view>
      <small class="text-silver">{{ $t("dashboard.profile.phone") }}</small>
      <span class="text-black" v-if="changeState === 'view'">{{ user?user.phone_number:'' }}</span>
      <div v-if="changeState !== 'view'" class="form-control-custom black">
        <input ref="field_phone_number"
               @keydown="phoneKeyDown"
               @keyup="phoneKeyUp"
               @focus="clearMessage"
               v-model="form.phone_number"
               :mask="this.phoneMask"
               :fixed="this.clientCountryCallingCode"
               :placeholder="$t('dashboard.profile.phone')"
               type="text"
               required/>
        <div class="text-danger error-msg" ref="error_phone_number"></div>
      </div>
      <div class="btn-container">
        <button class="btn btn-secondary mt-2" v-if="changeState === 'view'"
                @click="setChangeState('edit')">{{ $t("dashboard.profile.edit") }}</button>
        <button class="btn btn-secondary mt-2"
                v-else @click="attemptToSave">{{ $t("dashboard.profile.save") }}</button>
      </div>
    </div>
    <ModalWrapper ref="modalWrapper" @close-modal="close">
      <div v-if="isOpenModalConfirmation">
        <div class="modal-header">
          <h5 class="font-weight-bold text-black">{{ $t("dashboard.profile.text12") }}</h5>
          <span class="text-silver">{{ $t("dashboard.profile.confirm_old_number") }}</span>
        </div>
        <div class="modal-body mb-3">
          <form class="form-custom black row">
            <div class="form-control-custom col-md-12">
              <div class="border-bottom-silver">
                <div class="d-flex">
                  <input :placeholder="$t('dashboard.profile.code')"
                         type="text"
                         class="border-0"
                         v-model="form.sms_code"
                         @keydown.enter.prevent="validateSmsCode(checkPhoneData())"
                         ref="confirm_old_phone"
                  >
                  <small class="text-black font-weight-bold flex-shrink-0"
                         style="cursor: pointer;line-height: 45px;"
                         @click="sendSmsConfirmationAndClear"
                  >{{ $t("dashboard.profile.send") }}</small>
                </div>
              </div>
              <div class="error-msg error-msg--black font-weight-bold" ref="error_sms_code"></div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="d-flex w-100 justify-content-between column-mobile">
            <button @click="validateSmsCode(checkPhoneData())" class="btn btn-primary">{{ $t("dashboard.profile.confirm") }}</button>
            <button @click="$refs.modalWrapper.close()" type="button"
                    class="btn btn-link">{{ $t("dashboard.profile.cancel") }} &mdash;</button>
          </div>
        </div>

      </div>
      <div v-if="isOpenModalSave">
        <div class="modal-header">
          <h5 class="font-weight-bold text-black">{{ $t("dashboard.profile.text12") }} </h5>
          <span class="text-silver">{{ $t("dashboard.profile.confirm_new_number") }}</span>
        </div>
        <div class="modal-body mb-3">
          <form class="form-custom black row">
            <div class="form-control-custom col-md-12">
              <div class="border-bottom-silver">
                <div class="d-flex">
                  <input :placeholder="$t('dashboard.profile.code')"
                         type="text"
                         class="border-0"
                         @keydown.enter.prevent="changePhone"
                         v-model="form.sms_code"
                         ref="confirm_new_phone"
                  >
                  <small class="text-black font-weight-bold flex-shrink-0"
                         style="cursor: pointer;line-height: 45px;"
                         @click="sendSmsToNewPhone"
                  >{{ $t("dashboard.profile.send") }}</small>
                </div>
              </div>
              <div class="text-danger error-msg" ref="error_sms_code"></div>
              <div class="text-danger error-msg" ref="error_phone_number"></div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="d-flex w-100 justify-content-between column-mobile">
            <button @click="changePhone" class="btn btn-primary">{{ $t("dashboard.profile.save") }}</button>
            <button @click="$refs.modalWrapper.close()" type="button" class="btn btn-link">{{ $t("dashboard.profile.cancel") }} &mdash;</button>
          </div>
        </div>
      </div>
    </ModalWrapper>
  </div>
</template>

<script>
  import {formLoader, handlerErrors, resetErrors, phoneValidation,
    keyCodeValidation, keyCodeValidationWhenFullLength} from '../../../../utilities'
  import spinner from '../../../../../common/spinner'
  import alert from '../../../../../common/sweet-alert'

  import requests from '../../../../requests'
  import {mapGetters} from 'vuex'
  import SmsConfirmation from '../common/SmsConfirmation'
  import countries from 'country-data'

  export default {
    name: 'ChangePhone',
    extends: SmsConfirmation,
    components: {
      SmsConfirmation,
    },
    props: {
      data: Object
    },

    created() {
      formLoader(this.form, this.user);
      this.current_phone_number = this.form.phone_number;

      for (const [key, item] of Object.entries(countries.callingCountries)) {
        if (key !== 'all') {
          if (key === this.form.country_iso) {
            this.clientCountryCallingCode = item.countryCallingCodes[0];
            break;
          }
        }
      }
      let maskCode = (this.clientCountryCallingCode === 'undefined') ? '+' :
        this.clientCountryCallingCode.replace(/[0,2-9]/ig, '1');
      this.phoneMask = `${maskCode}111111111111111`;
    },
    watch: {
      isOpenModalConfirmation(n) {
        if (n) {
          this.$nextTick(() => {
            this.$refs.confirm_old_phone.focus()
          })
        }
      },
      isOpenModalSave(n) {
        if (n) {
          this.$nextTick(() => {
            this.$refs.confirm_new_phone.focus()
          })
        }
      },
      changeState() {
        if (this.changeState === 'confirmed') {
          spinner.toggle(true);
          this.sendSmsToNewPhone();
          this.isOpenModalConfirmation = false;
          this.isOpenModalSave = true;
          spinner.toggle(false);
        } else if (this.changeState === 'saved') {
          spinner.toggle(true);
          this.isOpenModalConfirmation = false;
          this.isOpenModalSave = false;
          this.changeState = 'view';
          spinner.toggle(false);
          alert.success(this.$t('dashboard.profile.change_phone_success'))
        }
      },
    },
    data() {
      return {
        form: {
          country_iso: null,
          phone_number: null,
          sms_code: null,
        },
        current_phone_number: null,
        successMessage: '',
        errors: [],
        phoneMask: '+111111111111111',
        clientCountryCallingCode: '',
        changeState: 'view',
        seconds: 0,
        isOpenModalConfirmation: false,
        isOpenModalSave: false,
      }
    },
    computed: mapGetters({
      isUserVerified: 'isUserVerified',
      user: 'getUser',
    }),
    methods: {
      close() {
        this.isOpenModalConfirmation = false
        this.isOpenModalSave = false
      },
      phoneKeyDown() {
        if (keyCodeValidation(event.shiftKey, event.which)) {
          if (event.which === 13) { //По нажатию Enter
            this.attemptToSave();
          } else {
            const mask = event.target.getAttribute('mask');
            if (keyCodeValidationWhenFullLength(event.which, event.target.value.length, mask.length)) {
              event.preventDefault();
            }
          }
        } else if ((event.which !== 86) && (event.ctrlKey !== true)) {
          event.preventDefault();
        }
      },
      //check count in phone number, if lower then in country code and
      //value in field not equal for country code, then fill field for country code
      phoneKeyUp() {
        let inp = event.target;
        let fixed = event.target.getAttribute('fixed');
        if (inp.value !== fixed && inp.value.length <= fixed.length) {
          this.form.phone_number = fixed;
          event.preventDefault();
        }
      },
      clearMessage() {
        this.successMessage = ''
      },
      setChangeState(value) {
        this.changeState = value
        this.$nextTick(() => {
          this.$refs.field_phone_number.focus()
        })
      },
      changePhone() {
        this.errors = [];
        resetErrors(this.$refs);
        this.successMessage = '';
        spinner.toggle(true);

        let body = {
          sms_code: this.form.sms_code,
          phone_number: this.form.phone_number,
        };

        requests.dashboard.profile.postChangePhone(body, false)
          .then(({response}) => {
            this.$store.dispatch('updateUserData').then(() => {
              this.changeState = 'saved';
              this.form.sms_code = '';
              this.current_phone_number = this.form.phone_number;
            });
            this.$refs.modalWrapper.close()
          }).catch(({response}) => {
            this.changeState = 'view';
            this.errors = handlerErrors(this.$refs, response.data.errors)
          }).finally( () => {
            spinner.toggle(false)
          });
      },
      sendSmsToNewPhone() {
        this.errors = [];
        resetErrors(this.$refs);
        this.successMessage = '';
        spinner.toggle(true);
        this.seconds = 60;

        let body = {
          phone_number: this.form.phone_number,
        };

        requests.dashboard.profile.postChangePhone(body, true)
          .then(({data}) => {
            spinner.toggle(false);
          }).catch(({response}) => {
            spinner.toggle(false);
            this.changeState = 'error';
            this.errors = handlerErrors(this.$refs, response.data.errors);
          }
        );
      },
      openModalConfirmation() {
        this.isOpenModalConfirmation = !this.isOpenModalConfirmation;
      },
      openModalSave() {
        this.isOpenModalSave = !this.isOpenModalSave;
      },
      async attemptToSave() {
        resetErrors(this.$refs);
        if (phoneValidation(this.form.phone_number)) {
          if (this.current_phone_number !== this.form.phone_number) {
            await this.sendSmsConfirmation(this.checkPhoneData());
            this.form.sms_code = ''
          } else {
            this.changeState = 'view';
          }
        } else {
          this.changeState = 'error';
          this.errors = handlerErrors(this.$refs, [{field:'phone_number', text: this.$t('dashboard.profile.not_phone_number')}]);
        }
      },
      sendSmsConfirmationAndClear() {
        this.succesMessage = '';
        resetErrors(this.$refs);
        spinner.toggle(true);
        return this.sendSmsConfirmation(this.checkPhoneData());
      },
      checkPhoneData () {
        return {
          user_id: this.user.id,
          phone_number: this.form.phone_number
        }
      }
    }
  }
</script>
