<template>
  <div class="form-custom">
    <div class="d-block contact-item">
      <error-view :errors="errors"></error-view>
      <small class="text-silver">Email</small>
      <span class="text-black">{{ user ? user.email : '' }}</span>
      <div v-if="changeState !== 'view'" class="form-control-custom black">
        <input ref="field_email"
               @focus="clearMessage"
               v-model="form.email"
               placeholder="Email"
               type="text"
               required/>
        <div class="text-danger error-msg" ref="error_email"></div>
      </div>
      <div class="btn-container">
        <button class="btn btn-secondary mt-2" v-if="changeState === 'view'"
                @click="setChangeState('edit')">{{ $t("dashboard.profile.edit") }}</button>
        <button class="btn btn-secondary mt-2"
                v-else @click="attemptToSave">{{ $t("dashboard.profile.save") }}</button>
      </div>
    </div>
    <ModalWrapper ref="modalWrapper" @close-modal="close">
      <div v-if="isOpenModalConfirmation">
        <div class="modal-header">
          <h5 class="font-weight-bold text-black">{{ $t("dashboard.profile.change_email") }}</h5>
          <span class="text-silver">{{ $t("dashboard.profile.confirm_new_email") }}</span>
        </div>
        <div class="modal-body mb-3">
          <form class="form-custom black row">
            <div class="form-control-custom col-md-12">
              <div class="border-bottom-silver">
                <div class="d-flex">
                  <input :placeholder="$t('dashboard.profile.code')"
                         type="text"
                         class="border-0"
                         v-model="form.sms_code"
                         @keydown.enter.prevent="validateSmsCode(checkEmailData())"
                         ref="confirm_email"
                  >
                  <small class="text-black font-weight-bold flex-shrink-0"
                         style="cursor: pointer;line-height: 45px;"
                         @click="sendSmsConfirmationAndClear"
                  >{{ $t("dashboard.profile.send") }}</small>
                </div>
              </div>
              <div class="error-msg error-msg--black font-weight-bold" ref="error_sms_code"></div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="d-flex w-100 justify-content-between column-mobile">
            <button @click="validateSmsCode(checkEmailData())" class="btn btn-primary">{{ $t("dashboard.profile.confirm") }}</button>
            <button @click="$refs.modalWrapper.close()" type="button"
                    class="btn btn-link">{{ $t("dashboard.profile.cancel") }} &mdash;</button>
          </div>
        </div>
      </div>
    </ModalWrapper>
  </div>
</template>

<script>
  import {
    formLoader,
    handlerErrors,
    emailValidation,
    resetErrors
  } from '../../../../utilities'
  import {mapGetters} from 'vuex'
  import SmsEmailConfirmation from "@/main/views/dashboard/profile/common/SmsEmailConfirmation";
  import spinner from "@/common/spinner";
  import alert from "@/common/sweet-alert";
  import requests from "@/main/requests";

  export default {
    name: 'ChangeEmail',
    extends: SmsEmailConfirmation,
    components: {
      SmsEmailConfirmation,
    },
    props: {
      data: Object
    },
    created() {
      formLoader(this.form, this.user);
      this.current_email = this.form.email;
    },
    watch: {
      isOpenModalConfirmation(n) {
        if (n) {
          this.$nextTick(() => {
            this.$refs.confirm_email.focus()
          })
        }
      },
      changeState() {
        if (this.changeState === 'confirmed') {
          this.changeEmail();
          this.isOpenModalConfirmation = false;
          this.changeState = 'view';
        }
      },
    },
    data() {
      return {
        form: {
          email: null,
          country_iso: null,
          sms_code: null,
        },
        current_email: null,
        successMessage: '',
        errors: [],
        changeState: 'view',
        seconds: 0,
        isOpenModalConfirmation: false,
      }
    },
    computed: mapGetters({
      isUserVerified: 'isUserVerified',
      user: 'getUser'
    }),
    methods: {
      close() {
        this.isOpenModalConfirmation = false
      },
      clearMessage() {
        this.successMessage = ''
      },
      setChangeState(value) {
        this.changeState = value
        this.$nextTick(() => {
          this.$refs.field_email.focus()
        })
      },
      changeEmail() {
        this.errors = []
        resetErrors(this.$refs)
        this.successMessage = ''
        this.$refs.modalWrapper.close()
        spinner.toggle(true)
        let body = {
          sms_code: this.form.sms_code,
          email: this.form.email,
        };
        requests.dashboard.profile.postChangeEmail(body, false)
          .then(({response}) => {
            alert.success(this.$t('dashboard.profile.change_email_success'))
            this.$store.dispatch('updateUserData').then(() => {
              this.form.sms_code = ''
              this.current_email = this.form.email
            });
          }).catch(({response}) => {
          this.errors = handlerErrors(this.$refs, (typeof response.data.errors === 'string') ?
            [{field:'email', text: response.data.errors}] : response.data.errors)
        }).finally( () => {
          spinner.toggle(false)
        });
      },
      openModalConfirmation() {
        this.isOpenModalConfirmation = !this.isOpenModalConfirmation
      },
      async attemptToSave() {
        resetErrors(this.$refs);
        if (emailValidation(this.form.email)) {
          if (this.current_email !== this.form.email) {
            await this.sendSmsConfirmation(this.checkEmailData());
            this.form.sms_code = ''
          } else {
            this.changeState = 'view'
          }
        } else {
          this.changeState = 'error'
          this.errors = handlerErrors(this.$refs, [{field:'email', text: this.$t('dashboard.profile.not_email')}]);
        }
      },
      sendSmsConfirmationAndClear() {
        this.successMessage = ''
        resetErrors(this.$refs)
        spinner.toggle(true)
        return this.sendSmsConfirmation(this.checkEmailData());
      },
      checkEmailData () {
        return {
          user_id: this.user.id,
          email: this.form.email
        }
      }
    }
  }
</script>
