<template>
  <form ref="documentsForm">
    <error-view :errors="errors"></error-view>
    <div class="d-flex mb-5">
      <div :class="'d-flex w-30 ' + (user.isEUCitizen ? 'ml-auto' : 'mr-auto') + ' flex-column first-document-block'"
           :style="user.isEUCitizen ? 'margin-left: 16.5%' : ''" >
        <div class="white-shadow w-100 mb-3">
          <upload-file :document="documents.national_passport"
                       accept="image/*, application/pdf"
                       document-type="national_passport"
                       name="documents[]"
                       id="document0"
                       ref="nationalPassport"
                       :allow-multiple="true"
                       :files-limit="4"></upload-file>
        </div>
        <div class="w-100 mt-3">
          <span class="font-weight-bold">1. {{ $t("dashboard.profile.text14") }}:</span>
          <ul class="list-unstyled mt-3">
            <li>{{ $t("dashboard.profile.text15") }}</li>
            <li>{{ $t("dashboard.profile.text16") }}</li>
          </ul>
        </div>
      </div>
      <div v-if="!user.isEUCitizen" class="d-flex w-30 ml-auto mr-auto flex-column second-document">
        <div class="white-shadow w-100 mb-3">
          <upload-file :document="documents.utility_bill"
                       accept="image/*, application/pdf"
                       document-type="utility_bill"
                       name="documents[]"
                       id="document1"
                       ref="utilityBill"
                       :allow-multiple="true"
                       :files-limit="4"></upload-file>
        </div>
        <div class="w-100 mt-3">
          <span class="font-weight-bold">2. {{ $t("dashboard.profile.text14") }}:</span>
          <ul class="list-unstyled mt-3">
            <li>{{ $t("dashboard.profile.text18") }}</li>
            <li>{{ $t("dashboard.profile.text19") }}</li>
            <li>{{ $t("dashboard.profile.text20") }}</li>
          </ul>
        </div>
      </div>
      <div :class="'d-flex w-30 ' + (user.isEUCitizen ? 'mr-auto' : 'ml-auto') + ' flex-column third-document'">
        <div class="white-shadow w-100 mb-3">
          <upload-file :document="documents.photo_with_you"
                       accept="image/*, application/pdf"
                       document-type="photo_with_you"
                       name="documents[]"
                       id="document2"
                       ref="photoWithYou"
                       :allow-multiple="true"
                       :files-limit="4"></upload-file>
        </div>
        <div class="w-100 mt-3">
          <span class="font-weight-bold">{{ (user.isEUCitizen ? '2.' : '3.') + $t("dashboard.profile.text14") }}:</span>
          <ul class="list-unstyled mt-3">
            <li>{{ $t("dashboard.profile.text21") }}</li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
  import requests from '../../../../requests'
  import spinner from '../../../../../common/spinner'
  import {mapGetters} from 'vuex'
  import {handlerErrors, resetErrors} from '../../../../utilities'
  import UploadFile from './documents/UploadFile'
  import _ from 'underscore'

  export default {
    name: "Documents",
    components: {
      UploadFile,
    },
    created() {
      spinner.toggle(true);
      requests.dashboard.profile.getDocuments()
        .then(({data}) => {
          this.setDocuments(data.documents);
          this.loaded = true;
          spinner.toggle(false)
        })
    },
    computed: mapGetters({
      user: 'getUser',
      isUserVerified: 'isUserVerified',
      isUserOnVerify: 'isUserOnVerify'
    }),
    data() {
      return {
        documents: {
          national_passport: [],
          photo_with_you: [],
          utility_bill: [],
        },
        successMessage: '',
        errors: []
      }
    },
    methods: {
      setDocuments(documents) {
        if (typeof documents === 'object') {
          if (this.requiredDocumentsUploaded) {
            this.documents = documents;
          } else {
            _.each(documents, (document) => {
              let type = document.type.replace(/_\d*$/, '')
              this.documents[type].push(document)
            })
          }
        }
      },
      collectDocumentsFiles() {
        let typesDocuments = {};
        let nationalPassport = this.$refs.nationalPassport.getFile()
        let utilityBill = this.$refs.utilityBill ? this.$refs.utilityBill.getFile() : [undefined]
        let photoWithYou = this.$refs.photoWithYou.getFile()
        if (nationalPassport) {
          typesDocuments['national_passport'] = nationalPassport
        }
        if (utilityBill) {
          typesDocuments['utility_bill'] = utilityBill
        }
        if (photoWithYou) {
          typesDocuments['photo_with_you'] = photoWithYou
        }
        return typesDocuments;
      },
      sendDocuments() {
        let typesDocuments = this.collectDocumentsFiles()
        let documents = Object.values(typesDocuments)
        let types = Object.keys(typesDocuments)
        let data = new FormData(this.$refs.documentsForm);

        let errors = []
        if(documents[0].length == 0) {
          errors.push(1)
        }
        if (!this.user.isEUCitizen && (documents[1].length == 0)) {
          errors.push(2)
        }
        if(documents[2].length == 0) {
          errors.push(3)
        }
        if(errors.length) {
          this.errors = handlerErrors(this.$refs, [{code: 9030, params: {"0": errors.length}}])
          return false;
        }
        spinner.toggle(true);
        data.delete('documents[]');
        data.delete('document_type[]');
        let i = 0;
        let j = 0;
        _.each(documents, (document) => {
          _.each(document, (docItem) => {
            j++;
            if (docItem !== undefined) {
              data.append('documents[]', docItem)
              data.append('document_type[]', `${types[i]}_${j}`)
            }
          })
          i++;
          j = 0;
        })

        requests.dashboard.profile.postDocuments(data)
          .then(({data}) => {
            this.errors = []
            this.successMessage = data.message
            this.setDocuments(data.documents)
            this.$emit('inc-step')
            spinner.toggle(false)
            this.$store.dispatch('updateUserData').then(() => {
              this.$emit('close-modal')
            });
          })
          .catch(({response}) => {
            this.errors = handlerErrors(this.$refs, response.data)
            spinner.toggle(false);
          })
      },
    }
  }
</script>

