<template>
  <form class="form-custom row personal-form">
    <error-view :errors="errors"></error-view>
    <div class="personal-form__input-wrapp form-control-custom col-md-6">
      <input ref="field_name"
             :disabled="isUserOnVerify"
             v-model.lazy="form.name"
             @input="validNameSurname($event, 'onlyLettersAndSpacesFormat')"
             :placeholder="$t('dashboard.profile.name')"
             type="text"
             required>
      <label>{{ $t('dashboard.profile.name') }}</label>
      <div class="error-msg error-msg--black font-weight-bold" ref="error_name"></div>
    </div>
    <div class="personal-form__input-wrapp form-control-custom col-md-6">
      <input :disabled="isUserOnVerify"
             v-model.lazy="form.surname"
             @input="validNameSurname($event, 'surname')"
             :placeholder="$t('dashboard.profile.surname')"
             ref="field_surname"
             type="text"
             required>
      <label>{{ $t('dashboard.profile.surname') }}</label>
      <div class="error-msg error-msg--black font-weight-bold" ref="error_surname"></div>
    </div>
    <div class="personal-form__input-wrapp form-control-custom col-md-6">
      <div class="dropdown-select" ref="selectCountryDropdown"
           @mouseenter="isFocusSelect = true"
           @mouseleave="isFocusSelect = false">
        <div class="d-flex flex m-0 align-items-center" style="flex-direction: unset" @click="openSelectCountry">
          <input class="w-auto" disabled
                 v-model="selectedCountryName"
                 :placeholder="$t('dashboard.profile.selectedcountry')">
          <i class="fas fa-caret-down ml-auto" v-if="!isOpenSelect"></i>
          <i class="fas fa-caret-up ml-auto" v-else></i>
        </div>
        <ul v-show="isOpenSelect">
          <li v-for="(value, code) in countriesList" v-if="code && value.name && code.length === 2" :value="code"
              @click="selectCountry(code, value.name)"><span>{{ value.name }}</span></li>
        </ul>
      </div>
    </div>
    <div v-if="isCISUser" class="personal-form__input-wrapp form-control-custom col-md-6">
      <input @input="inputValidator($event, 'onlyNumbersFormat')"
             ref="field_passport_series"
             v-model.lazy="form.passport_series"
             :disabled="isUserOnVerify"
             :placeholder="$t('dashboard.profile.series')"
             type="text"
             required>
      <label>{{ $t('dashboard.profile.series') }}</label>
      <div class="error-msg error-msg--black font-weight-bold" ref="error_passport_series"></div>
    </div>
    <div class="personal-form__input-wrapp form-control-custom col-md-6">
      <input @input="inputValidator($event, 'onlyLettersAndNumbersFormat')"
             ref="field_passport_number"
             v-model.lazy="form.passport_number"
             :disabled="isUserOnVerify"
             :placeholder="$t('dashboard.profile.number1')"
             type="text"
             required>
      <label>{{ $t('dashboard.profile.number1') }}</label>
      <div class="error-msg error-msg--black font-weight-bold" ref="error_passport_number"></div>
    </div>

    <div v-if="!isCISUser && !isEUUser" class="personal-form__input-wrapp form-control-custom col-md-6">
      <InputMasked v-if="isSafari"
                   mask="11.11.1111"
                   ref="field_passport_date_expiry"
                   :placeholder="$t('dashboard.profile.doe')"
                   v-model.lazy="form.passport_date_expiry"
                   :disabled="isUserOnVerify"
                   type="date"
                   onfocus="(this.type='date')"
                   @focus="isFocusDateExpiry = true"
                   @blur="isFocusDateExpiry = false"
                   :placeholder-char="$t('global.date_format_placeholder').split('')"
                   required/>
      <template v-else>
        <input v-if="isFocusDateExpiry || form.passport_date_expiry"
               ref="field_passport_date_expiry"
               v-model.lazy="form.passport_date_expiry"
               :disabled="isUserOnVerify"
               :placeholder="$t('dashboard.profile.doe')"
               type="date"
               onfocus="(this.type='date')"
               @focus="isFocusDateExpiry = true"
               @blur="isFocusDateExpiry = false"
               required>
        <input v-else
               :placeholder="$t('dashboard.profile.doe')"
               @click="isFocusDateExpiry = true"
               @focus="isFocusDateExpiry = true">
      </template>
      <label>{{ $t('dashboard.profile.doe') }}</label>
      <div class="error-msg error-msg--black font-weight-bold" ref="error_passport_date_expiry"></div>
    </div>

    <div v-if="isCISUser" class="personal-form__input-wrapp form-control-custom col-md-6">
      <input ref="field_passport_division_code"
             v-model="form.passport_division_code"
             :disabled="isUserOnVerify"
             :placeholder="$t('dashboard.profile.text22')"
             type="text"
             required>
      <label>{{ $t('dashboard.profile.text22') }}</label>
      <div class="error-msg error-msg--black font-weight-bold" ref="error_passport_division_code"></div>
    </div>

    <div class="personal-form__input-wrapp form-control-custom col-md-6">
      <InputMasked v-if="isSafari"
                   mask="11.11.1111"
                   ref="field_birthday"
                   :placeholder="$t('dashboard.profile.dob')"
                   v-model.lazy="form.birthday"
                   :disabled="isUserOnVerify"
                   type="date"
                   onfocus="(this.type='date')"
                   @focus="isFocusBirth = true"
                   @blur="isFocusBirth = false"
                   :placeholder-char="$t('global.date_format_placeholder').split('')"
                   required/>
      <template v-else>
        <input v-if="isFocusBirth || form.birthday"
               ref="field_birthday"
               :placeholder="$t('dashboard.profile.dob')"
               v-model.lazy="form.birthday"
               :disabled="isUserOnVerify"
               type="date"
               onfocus="(this.type='date')"
               @focus="isFocusBirth = true"
               @blur="isFocusBirth = false"
               required>
        <input v-else
               :placeholder="$t('dashboard.profile.dob')"
               @click="isFocusBirth = true"
               @focus="isFocusBirth = true">
      </template>
      <label>{{ $t('dashboard.profile.dob') }}</label>
      <div class="error-msg error-msg--black font-weight-bold" ref="error_birthday"></div>
    </div>

    <div v-if="isCISUser" class="personal-form__input-wrapp form-control-custom col-md-6">
      <input
             ref="field_passport_issued"
             v-model.lazy="form.passport_issued"
             :disabled="isUserOnVerify"
             :placeholder="$t('dashboard.profile.issued')"
             type="text"
             required>
      <label>{{ $t('dashboard.profile.issued') }}</label>
      <div class="error-msg error-msg--black font-weight-bold" ref="error_passport_issued"></div>
    </div>

    <div v-if="isCISUser" class="personal-form__input-wrapp form-control-custom col-md-6">
      <InputMasked v-if="isSafari"
                   mask="11.11.1111"
                   ref="field_passport_date_issue"
                   :placeholder="$t('dashboard.profile.doi')"
                   v-model.lazy="form.passport_date_issue"
                   :disabled="isUserOnVerify"
                   type="date"
                   onfocus="(this.type='date')"
                   @focus="isFocusDateIssue = true"
                   @blur="isFocusDateIssue = false"
                   :placeholder-char="$t('global.date_format_placeholder').split('')"
                   required/>
      <template v-else>
        <input v-if="isFocusDateIssue || form.passport_date_issue"
               ref="field_passport_date_issue"
               v-model.lazy="form.passport_date_issue"
               :placeholder="$t('dashboard.profile.doi')"
               :disabled="isUserOnVerify"
               type="date"
               onfocus="(this.type='date')"
               @focus="isFocusDateIssue = true"
               @blur="isFocusDateIssue = false"
               required>
        <input v-else
               :placeholder="$t('dashboard.profile.doi')"
               @click="isFocusDateIssue = true"
               @focus="isFocusDateIssue = true">
      </template>
      <label>{{ $t('dashboard.profile.doi') }}</label>
      <div class="error-msg error-msg--black font-weight-bold" ref="error_passport_date_issue"></div>
    </div>
    <div class="personal-form__input-wrapp form-control-custom col-md-6 mt-3">
      <label class="label-d-block">
        <input value="male" type="radio" name="sex" :disabled="isUserOnVerify" v-model="form.sex" required>
        <div class="radio__button"></div>{{ $t("dashboard.profile.male") }}</label>
      <label class="label-d-block">
        <input value="female" type="radio" name="sex" :disabled="isUserOnVerify" v-model="form.sex" required>
        <div class="radio__button"></div>{{ $t("dashboard.profile.female") }}</label>
      <label class="personal-form__label-sex">{{ $t("dashboard.profile.sex") }}</label>
      <div class="error-msg error-msg--black font-weight-bold" ref="error_sex"></div>
    </div>
  </form>

</template>

<script>

  import {formLoader, handlerErrors, inputValidator, resetErrors} from '../../../../utilities'
  import requests from '../../../../requests'
  import spinner from '../../../../../common/spinner'
  import {mapGetters} from 'vuex'
  import countries from 'country-data'
  import moment from 'moment';

  export default {
    name: 'personal-data',
    created() {
      this.frontendDatePreparing();
      formLoader(this.form, this.user);
      this.fillCountriesList(countries);
      this.selectedCountryName = this.form.country_iso ? this.countriesList[this.form.country_iso].name : null;
      document.addEventListener('click', this.selectCountryDropdownClose)
    },
    destroyed() {
      document.removeEventListener('click', this.selectCountryDropdownClose)
    },
    watch: {
      'form.passport_division_code'(val, oldVal) {
        if (val.match('^[0-9-]{1,20}$') === null) {
          this.form.passport_division_code = val.substr(0, val.length - 1)
        }
      },
      user() {
        this.frontendDatePreparing();
        formLoader(this.form, this.user);
        this.selectedCountryName = this.form.country_iso ? this.countriesList[this.form.country_iso].name : null;
      },
      isFocusBirth(focus) {
        if (focus) {
          this.$nextTick(() => {
            this.focusToElement('field_birthday')
          })
        }
      },
      isFocusDateIssue(focus) {
        if (focus) {
          this.$nextTick(() => {
            this.focusToElement('field_passport_date_issue')
          })
        }
      },
      isFocusDateExpiry(focus) {
        if (focus) {
          this.$nextTick(() => {
            this.focusToElement('field_passport_date_expiry')
          })
        }
      }
    },
    computed: {
      ...mapGetters({
        isUserVerified: 'isUserVerified',
        isUserOnVerify: 'isUserOnVerify',
        user: 'getUser'
      }),
      isSafari() {
        return /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor)
      },
      isCISUser() {
        let countryCode = this.form.country_iso === null ? this.user.country_iso : this.form.country_iso;
        return ['RU', 'KZ', 'KG', 'UA', 'BY', 'UZ'].includes(countryCode)
      },
      isEUUser() {
        let countryCode = this.form.country_iso === null ? this.user.country_iso : this.form.country_iso;
        return ['AL', 'AD', 'AT', 'BE', 'BA', 'BG', 'HR', 'CY', 'CZ', 'DK',
                'EE', 'FO', 'FI', 'AX', 'FR', 'GE', 'DE', 'GI', 'GR', 'VA', 'HU', 'IS', 'IE', 'IT', 'LV',
                'LI', 'LT', 'LU', 'MT', 'MC', 'ME', 'NL', 'NO', 'PL', 'PT', 'RO', 'SM', 'RS', 'SK', 'SI',
                'ES', 'SJ', 'SE', 'CH', 'MK', 'GB', 'GG', 'JE', 'IM'].includes(countryCode)
      }
    },
    data() {
      return {
        form: {
          birthday: null,
          surname: null,
          name: null,
          sex: null,
          country_iso: null,
          passport_issued: null,
          passport_date_issue: null,
          passport_series: null,
          passport_number: null,
          passport_division_code: null,
          passport_date_expiry: null
        },
        successMessage: '',
        errors: [],
        isFocusBirth: false,
        isFocusDateIssue: false,
        isFocusDateExpiry: false,
        selectedCountryName: null,
        isOpenSelect: false,
        countriesList: {},
      }
    },
    methods: {
      focusToElement(ref) {
        this.$refs[ref].focus()
      },
      frontendDatePreparing() {
        if (this.isSafari) {
          this.user.birthday = this.frontendDateFormat(this.user.birthday);
          this.user.passport_date_expiry = this.frontendDateFormat(this.user.passport_date_expiry);
          this.user.passport_date_issue = this.frontendDateFormat(this.user.passport_date_issue);
        }
      },
      backendDatePreparing() {
        if (!this.isSafari) return this.form;
        let normalizedForm = Object.assign({}, this.form);
        normalizedForm.birthday = this.backendDateFormat(this.form.birthday);
        normalizedForm.passport_date_expiry = this.backendDateFormat(this.form.passport_date_expiry);
        normalizedForm.passport_date_issue = this.backendDateFormat(this.form.passport_date_issue);
        return normalizedForm
      },
      frontendDateFormat(date) {
        if (date === null || typeof date === 'undefined' || date === 'Invalid date') return null;
        return moment(date, 'YYYY-MM-DD').format('DD-MM-YYYY');
      },
      backendDateFormat(date) {
        if (date === null || typeof date === 'undefined' || date === 'Invalid date') return null;
        return moment(date, 'DD-MM-YYYY').format('YYYY-MM-DD');
      },
      fillCountriesList(countries) {
        let sortedKeys = Object.keys(countries.callingCountries).sort((a, b) => {
          if (a !== 'all') {
            return countries.callingCountries[a].name.localeCompare(countries.callingCountries[b].name);
          }
        });
        this.countriesList = {};
        sortedKeys.forEach((key) => {
          this.countriesList[key] = countries.callingCountries[key]
        });
      },
      validNameSurname(e, filterName) {
        this.inputValidator(e, filterName);

        if (this.form.name.length > 23) {
          this.form.name = this.form.name.substr(0, 23)
        }

        if (this.form.surname.length > 23) {
          this.form.surname = this.form.surname.substr(0, 23)
        }
      },
      selectCountry(code, name) {
        this.isOpenSelect = false;
        this.form.country_iso = code;
        this.selectedCountryName = name;
      },
      openSelectCountry() {
        this.isOpenSelect = !this.isOpenSelect;
      },
      selectCountryDropdownClose(e) {
        let el = this.$refs.selectCountryDropdown;
        let target = e.target;
        if ((el !== target) && !el.contains(target)) {
          this.isOpenSelect = false
        }
      },
      inputValidator,
      savePersonalData() {

        this.backendDatePreparing();

        const isEmptyInput = Object.keys(this.form).map(key => {
          if (!this.form[key] && this.$refs[`error_${key}`]) {
            this.$refs[`error_${key}`].innerText = this.$t('errors.9000');
            return true
          } else if (this.form[key] !== '' && this.$refs[`error_${key}`]) {
            this.$refs[`error_${key}`].innerText = '';
            return false
          }
        });

        if (isEmptyInput.includes(true)) {
          return
        }

        this.errors = [];
        resetErrors(this.$refs);
        this.successMessage = '';
        spinner.toggle(true);

        requests.dashboard.profile.postPrivateData(this.backendDatePreparing())
          .then(response => {
            if (response.data.status === 'ERROR') {
              this.errors = handlerErrors(this.$refs, response.data.errors);
              spinner.toggle(false);
            } else {
              this.successMessage = response.data.message;
              this.$store.dispatch('updateUserData').then(() => {
                spinner.toggle(false);
                this.$emit('inc-step');
              });
            }
          })
          .catch(({response}) => {
            this.errors = handlerErrors(this.$refs, response.data.errors);
            spinner.toggle(false);
          });
      }
    }
  }

</script>
