<template>
  <form class="form-custom row personal-form">
    <error-view :errors="errors"></error-view>
    <div class="personal-form__input-wrapp form-control-custom col-md-6">
      <input ref="field_country"
             :disabled="true"
             v-model.lazy="selectedCountryName"
             :placeholder="$t('dashboard.profile.country')"
             type="text">
      <label>{{ $t('dashboard.profile.street') }}</label>
    </div>
    <div class="personal-form__input-wrapp form-control-custom col-md-6">
      <input @input="inputValidator($event, 'street')"
             ref="field_street"
             :disabled="isUserOnVerify"
             v-model.lazy="form.street"
             :placeholder="$t('dashboard.profile.street')"
             type="text"
             required>
      <label>{{ $t('dashboard.profile.street') }}</label>
      <div class="error-msg error-msg--black font-weight-bold" ref="error_street"></div>
    </div>
    <div class="personal-form__input-wrapp form-control-custom col-md-6">
      <input @input="inputValidator($event, 'street')"
             ref="field_city"
             :disabled="isUserOnVerify"
             v-model.lazy="form.city"
             :placeholder="$t('dashboard.profile.city')"
             type="text"
             required>
      <label>{{ $t('dashboard.profile.city') }}</label>
      <div class="error-msg error-msg--black font-weight-bold" ref="error_city"></div>
    </div>
    <div class="personal-form__input-wrapp form-control-custom col-md-6">
      <input @input="inputValidator($event, 'houseNumber')"
             ref="field_house_number"
             :disabled="isUserOnVerify"
             v-model.lazy="form.house_number"
             :placeholder="$t('dashboard.profile.house_number')"
             type="text"
             required>
      <label>{{ $t('dashboard.profile.house_number') }}</label>
      <div class="error-msg error-msg--black font-weight-bold" ref="error_house_number"></div>
    </div>
    <div class="personal-form__input-wrapp form-control-custom col-md-6">
      <input ref="field_postcode"
             v-model.lazy="form.postcode"
             :disabled="isUserOnVerify"
             :placeholder="$t('dashboard.profile.postcode')"
             type="text">
      <label>{{ $t('dashboard.profile.postcode') }}</label>
      <div class="error-msg error-msg--black font-weight-bold" ref="error_postcode"></div>
    </div>
    <div class="personal-form__input-wrapp form-control-custom col-md-6">
      <input @input="inputValidator($event, 'onlyNumbersFormat')"
             ref="field_apartment_number"
             v-model.lazy="form.apartment_number"
             :disabled="isUserOnVerify"
             :placeholder="$t('dashboard.profile.apartment_number')"
             type="text">
      <label>{{ $t('dashboard.profile.apartment_number') }}</label>
      <div class="error-msg error-msg--black font-weight-bold" ref="error_apartment_number"></div>
    </div>
  </form>
</template>

<script>

  import {formLoader, handlerErrors, inputValidator, resetErrors} from '../../../../utilities'
  import requests from '../../../../requests'
  import spinner from '../../../../../common/spinner'
  import { mapGetters } from 'vuex'
  import countries from 'country-data'

  export default {
    name: 'residence-address',
    created() {
      formLoader(this.form, this.user);
      this.fillCountriesList(countries);
      this.selectedCountryName = this.form.country_iso ? this.countriesList[this.form.country_iso].name : null;
    },
    watch: {
      user () {
        formLoader(this.form, this.user);
      }
    },
    data() {
      return {
        form: {
          apartment_number: null,
          house_number: null,
          country_iso: null,
          street: null,
          city: null,
          postcode: null
        },
        selectedCountryName: null,
        countriesList: {},
        successMessage: '',
        errors: []
      }
    },
    computed: mapGetters({
      isUserVerified: 'isUserVerified',
      isUserOnVerify: 'isUserOnVerify',
      user: 'getUser'
    }),
    methods: {
      inputValidator,
      fillCountriesList(countries){
        let sortedKeys = Object.keys(countries.callingCountries).sort((a,b) => {
          if (a !== 'all') {
            return countries.callingCountries[a].name.localeCompare(countries.callingCountries[b].name);
          }
        });
        this.countriesList = {};
        sortedKeys.forEach((key) => {
          this.countriesList[key] = countries.callingCountries[key]
        });
      },
      sendResidenceData() {

        const isEmptyInput = Object.keys(this.form).map(key => {
          if ((!this.form[key] && key !== 'apartment_number') && this.$refs[`error_${key}`]) {
            this.$refs[`error_${key}`].innerText = this.$t('errors.9000');
            return true
          } else if (this.form[key] !== '' && this.$refs[`error_${key}`]) {
            this.$refs[`error_${key}`].innerText = '';
            return false
          }
        });

        if (isEmptyInput.includes(true)) {
          return
        }

        this.errors = [];
        resetErrors(this.$refs);
        this.successMessage = '';
        spinner.toggle(true);

        requests.dashboard.profile.postChangeAddress(this.form)
          .then(response => {
            if(response.data.status==='ERROR') {
              this.errors = handlerErrors(this.$refs, response.data.errors);
              spinner.toggle(false);
            } else {
              this.successMessage = response.data.message;
              this.$store.dispatch('updateUserData').then(() => {
                spinner.toggle(false);
                this.$emit('inc-step');
              });
            }
          })
          .catch(({response}) => {
            this.errors = handlerErrors(this.$refs, response.data.errors);
            spinner.toggle(false);
          });
      }
    }
  }

</script>
