<template>

    <span>
      <button class="btn btn-secondary" @click="$refs.rightPanel.show()">
          <i v-if="buttonIcon" class="fas fa-cogs"></i> {{buttonLabel}}
      </button>
      <right-panel ref="rightPanel" :title="(rateCorrection?'Изменение':'Создание') + ' корректировки курса'" mode="full">
        <form class="right-menu__form" @submit.prevent="onSubmit">
            <div class="row">
                <div class="col-md-12">
                    <span class="right-menu__header__text">Pair</span>
                    <div class="right-menu__form__row">
                      <input v-if="rateCorrection" type="text" disabled class="right-menu__form__input"
                             v-model="form.pair"/>
                      <select v-else class="right-menu__form__input"
                              v-model="form.pair">
                        <option v-for="unusedPair in unusedPairs">
                          {{unusedPair}}
                        </option>
                      </select>
                    </div>
                  <span class="right-menu__header__text">Bid rate correction multiplier</span>
                    <div class="right-menu__form__row">
                      <input type="text" class="right-menu__form__input"
                             v-model="form.bid_rate_multiplier"/>
                    </div>
                  <span class="right-menu__header__text">Ask rate correction multiplier</span>
                    <div class="right-menu__form__row">
                      <input type="text" class="right-menu__form__input"
                             v-model="form.ask_rate_multiplier"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary right-menu__button">{{(rateCorrection?'Изменить':'Создать')}}</button>
                </div>
                <div v-if="rateCorrection" class="col-md-6">
                    <button class="btn btn-danger right-menu__button" @click="setDeleteMode">Удалить</button>
                </div>
            </div>
        </form>
      </right-panel>
    </span>

</template>

<script>
  import RightPanel from "../../../common/right-panel"
  import {handlerErrors, formLoader,formatInputTextFloat} from '../../../main/utilities'
  import requests from "../../requests";
  import {mapGetters} from "vuex";
  import sweetAlert from '../../../common/sweet-alert'

  export default {
    name: "edit-rate-correction-view",
    data() {
      return {
        successMessage: '',
        errors: [],
        actionMode:'update',
        form: {
          id: null,
          pair: null,
          bid_rate_multiplier: null,
          ask_rate_multiplier: null,
        },
      }
    },
    props: {
      buttonLabel: {
        type: String,
        default: 'Редактировать'
      },
      buttonIcon: {
        type: Boolean,
        default: true
      },
      mode:{
        type:String,
        default:'update'
      },
      rateCorrection: {
        type: Object,
        required:false
      }
    },
    computed: {
      ...mapGetters({
        unusedPairs: 'getRateCorrectionUnusedPairs'
      })
    },
    components: {
      RightPanel
    },
    created() {
      formLoader(this.form, this.rateCorrection);
      this.actionMode = this.mode
    },
    methods: {
      setDeleteMode(){
        this.actionMode='delete'
      },
      onSubmit() {
        this.$refs.rightPanel.spin(true);
        this.detectAction(this.actionMode, this.form)
          .then(({data}) => {
            sweetAlert.success({text:data.message,position:'center',timer:3000})
            this.$refs.rightPanel.spin(false);
            this.$refs.rightPanel.hide(30)
            this.$emit('rateCorrection:update', data.rate_correction_settings)
          })
          .catch(({response}) => {
            let errors = handlerErrors(this.$refs, response.data.errors)
            if (errors.length===1) sweetAlert.error({text:errors})
            this.$refs.rightPanel.spin(false);
          })
      },
      detectAction(mode, form){
        switch (mode) {
          case 'create':
            return requests.terminalSettings.createRateCorrection(form)
          case 'update':
            return requests.terminalSettings.updateRateCorrection(form)
          case 'delete':
            return requests.terminalSettings.deleteRateCorrection(form)
        }
      }
    },
    watch:{
      'form.bid_rate_multiplier'(val,prev){
        this.form.bid_rate_multiplier = formatInputTextFloat(val,prev)
      },
      'form.ask_rate_multiplier'(val,prev){
        this.form.ask_rate_multiplier = formatInputTextFloat(val,prev)
      },
    }
  }
</script>

<style scoped>

</style>