<template>
  <div>
    <h6>Корректировка курсов</h6>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Pair</th>
        <th scope="col">Bid rate correction multiplier</th>
        <th scope="col">Ask rate correction multiplier</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <template v-if="rateCorrectionSettings.length>0" v-for="rateCorrection in rateCorrectionSettings">
        <tr>
          <td>{{rateCorrection.id}}</td>
          <td>{{rateCorrection.pair}}</td>
          <td>{{rateCorrection.bid_rate_multiplier}}</td>
          <td>{{rateCorrection.ask_rate_multiplier}}</td>
          <td width="20%" align="center">
            <edit-rate-correction-view :rateCorrection="rateCorrection" mode="update"
                                       @rateCorrection:update="onRateCorrectionUpdate"/>
          </td>
        </tr>
      </template>
    </table>
    <edit-rate-correction-view button-label="Добавить"
                               :button-icon="false"
                               mode="create"
                               @rateCorrection:update="onRateCorrectionUpdate"/>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import EditRateCorrectionView from './EditRateCorrectionView'
  export default {
    name: "RateCorrectionView",
    components: {EditRateCorrectionView},
    computed: {
      ...mapGetters({
        rateCorrectionSettings: 'getRateCorrectionSettings'
      })
    },
    methods: {
      onRateCorrectionUpdate(rateCorrectionSettings) {
        this.$store.dispatch('updateRateCorrectionSettingsList', rateCorrectionSettings)
      }
    }
  }
</script>

<style scoped>

</style>