<template>
  <div class="bank-requisite-delete">
    <error-view :errors="errors"></error-view>

    <div>{{ $t("dashboard.profile.text2") }}</div>
    <button type="button" class="btn dashboard__btn mt-3" @click="onDeleteBankRequisite">
      <i class="fas fa-trash mr-2"></i> {{ $t("dashboard.profile.text3") }}
    </button>
  </div>
</template>

<script>
  import { handlerErrors} from '../../../../utilities'
  import requests from '../../../../requests'

  export default {
    name: 'bank-requisite-delete',
    props: {
      bankRequisite: Object,
      documents: Object,
      user: Object
    },
    data () {
      return {
        errors: []
      }
    },
    methods: {
      onDeleteBankRequisite () {
        this.$emit('ajax:start');
        requests.dashboard.deleteBankRequisite({requisite_id : this.bankRequisite.id})
          .then(() => {
            this.$store.dispatch('updateUserBankRequisites');
            this.$emit('modal:close', 1000);
          })
          .catch(({ response }) => {
            this.errors = handlerErrors(this.$refs, response.data.errors);
            this.$emit('ajax:finish');
          });
      }
    }
  }
</script>
