<template>
    <div class="bank-requisites">
      <div class="alert info-block" v-show="info_block">{{ info_block }}</div>
      <div class="alert alert-success" v-show="success">{{ success }}</div>
      <error-view :errors="errors"/>

      <form ref="bankReqForm" class="right-menu__form change_bank_requisites" @submit.prevent="onRequestSmsCode" method="post">
        <div class="form-group" v-show="isSendSmsCode === false">
          <input type="hidden" name="id" :value="bankRequisite ? bankRequisite.id : ''">

          <div class="right-menu__form__row">
            <div class="col-sm-12">
              <label class="text-muted">{{ $t("dashboard.profile.bank_type") }}</label>
              <select class="right-menu__form__input right-menu__form__input-select"
                      v-model="selected_bank_type"
                      :disabled="not_editable"
                      ref="field_bank_type"
                      name="bank_type">
                <option v-if="bankRequisite&&Object.keys(bankRequisite).length > 0" :value="bankRequisite.bank_type">
                  {{bankRequisite.bank_type}}
                </option>
                <option v-else v-for="bank_type in bank_types" :value="bank_type">{{bank_type}}</option>
              </select>
              <div class="text-danger error-msg" ref="error_bank_type"></div>
            </div>
          </div>
          <div class="right-menu__form__row">
            <div class="col-sm-12">
              <label class="text-muted">{{ $t("dashboard.profile.recipient_ac") }}</label>
              <input class="right-menu__form__input menu__form__input-inactive"
                     ref="field_recipient_account"
                     placeholder="Account number"
                     v-model.lazy="recipient_account"
                     @input="inputValidator($event,'recipientAccountFormat')"
                     :disabled="not_editable"
                     name="recipient_account"
                     type="text">
              <div class="text-danger error-msg" ref="error_recipient_account"></div>
            </div>
          </div>
          <div class="right-menu__form__row">
            <div class="col-sm-12">
              <label class="text-muted">{{ $t("dashboard.profile.recipient") }}</label>
              <input class="right-menu__form__input menu__form__input-inactive"
                     placeholder="Full name(name of company)"
                     ref="field_recipient_name"
                     v-model.lazy="recipient_name"
                     @input="inputValidator($event,'onlyLettersAndSpacesFormat')"
                     :disabled="not_editable"
                     name="recipient_name"
                     type="text">
              <div class="text-danger error-msg" ref="error_recipient_name"></div>
            </div>
          </div>
          <div v-if="selected_bank_type === 'SWIFT'" class="right-menu__form__row">
            <div class="col-sm-12">
              <label class="text-muted">{{ $t("dashboard.profile.recipient_address") }}</label>
              <input class="right-menu__form__input menu__form__input-inactive"
                     :placeholder=" $t('dashboard.profile.recipient_address') "
                     ref="field_recipient_address"
                     v-model.lazy="recipient_address"
                     @input="inputValidator($event,'addressFormat')"
                     :disabled="not_editable"
                     name="recipient_address"
                     type="text"
              >
              <div class="text-danger error-msg" ref="error_recipient_address"></div>
            </div>
          </div>
          <div v-if="selected_bank_type === 'SWIFT'" class="right-menu__form__row">
            <div class="col-sm-12">
              <label class="text-muted">{{ $t("dashboard.profile.swift_code") }}</label>
              <input class="right-menu__form__input menu__form__input-inactive"
                     :placeholder="$t('dashboard.profile.swift_code')"
                     :disabled="not_editable"
                     ref="field_swift_code"
                     @input="inputValidator($event,'swiftFormat')"
                     v-model.lazy="swift_code"
                     name="swift_code"
                     type="text"
              >
              <div class="text-danger error-msg" ref="error_swift_code"></div>
            </div>
          </div>
          <div class="right-menu__form__row mt-3" v-if="!not_editable">
            <div class="col-sm-12">
              <label>{{ $t("dashboard.profile.text4") }}</label>
              <upload-document
                  :document="bankRequisite ? documents.account_details : {}"
                  accept="image/*, application/pdf"
                  document-type="account_details"
                  system-type="bank_requisites"
                  id="account_details"
                  name="documents[]"
              />
            </div>
          </div>
          <div class="right-menu__form__row mt-3" v-if="!not_editable">
            <div class="col-sm-12">
              <label>{{ $t("dashboard.profile.text5") }}</label>
              <upload-document
                  :document="bankRequisite ? documents.account_statement : {}"
                  accept="image/*, application/pdf"
                  document-type="account_statement"
                  system-type="bank_requisites"
                  id="account_statement"
                  name="documents[]"
              />
            </div>
          </div>

          <div class="form-group col-sm-12 mt-3" v-if="!not_editable">
            <button type="submit" class="btn btn-secondary">{{ $t("dashboard.profile.save") }}</button>
          </div>
        </div>

        <div class="form-group" v-show="isSendSmsCode === true">
          <div class="row m-0">
            <input type="text"
                   @input="onCheckSmsCode"
                   :placeholder="$t('dashboard.profile.sms')"
                   class="form-control"
                   ref="field_sms_code"
                   v-model="sms_code"
                   name="sms_code"
            >
          </div>
          <div class="form-text text-muted"  ref="hint_sms_code"></div>
          <div class="text-danger error-msg" ref="error_sms_code"></div>

          <div class="mt-3 text-center ">
            <div v-if="seconds <= 60 && seconds > 0">
              <div>{{ $t("dashboard.profile.text6") }} {{ seconds }}</div>
              <div>{{ $t("dashboard.profile.text7") }}</div>
            </div>
            <div v-else class="mt-2">
              <a href="#" @click="onRequestSmsCode">{{ $t("dashboard.profile.text8") }}</a>
            </div>
          </div>
        </div>
      </form>
    </div>
</template>

<script>
  import UploadDocument from '../../blocks/UploadDocument.vue'
  import {handlerErrors, inputValidator} from '../../../../utilities'
  import requests from '../../../../requests'
  import {mapGetters} from 'vuex'

  export default {
    name: 'bank-requisites-edit',
    components: {
      UploadDocument
    },
    props: {
      bankRequisite: Object,
      documents: Object,
      user: Object,
    },
    data() {
      return {
        selected_bank_type: 'SWIFT',
        selected_bank_id: null,
        not_editable: false,
        sms_code: '',
        recipient_account: '',
        recipient_name: '',
        recipient_address: '',
        swift_code: '',
        success: '',
        info_block: '',
        errors: [],

        isSendSmsCode: false,
        timeout: null,
        seconds: 60,
        formData: null,
      }
    },
    computed: mapGetters({
      isUserVerified: 'isUserVerified',
      bank_types: 'getBankTypes'
    }),
    created() {
      this.loader();
    },
    watch: {
      bankRequisite() {
        this.loader();
      }
    },
    methods: {
      inputValidator,
      onRequestSmsCode () {
        this.$emit('ajax:start');

        this.info_block = '';
        this.success = '';
        this.errors = [];
        this.formData = new FormData(this.$refs.bankReqForm);

        requests.dashboard.profile.postChangeBankRequisite(this.formData, true)
          .then(response => {
            this.success = response.data.message;
            this.$emit('ajax:finish');
            this.isSendSmsCode = true;
            this.seconds = 60;
            this.timer()

          }).catch(({response}) => {
            this.errors = handlerErrors(this.$refs, response.data.errors);
            this.$emit('ajax:finish');
          }
        );
      },
      onCheckSmsCode () {
        this.info_block = '';
        this.success = '';
        this.errors = [];

        let codeLength = this.sms_code.length;
        if (codeLength > 6) {
          this.sms_code = this.sms_code.substr(0, 6);
          codeLength = this.sms_code.length;
        }

        if (codeLength === 6) {
          this.$emit('ajax:start');
          this.formData.set('sms_code', this.sms_code);
          requests.dashboard.profile.postChangeBankRequisite(this.formData)
            .then(response => {
              this.success = response.data.message;
              this.$store.dispatch('updateUserBankRequisites').then(() => {
                this.sms_code = '';
                this.success = '';
                this.$emit('modal:close', 1000);
              });
            }).catch(({response}) => {
              if(typeof response.data.errors !=='undefined') this.errors = handlerErrors(this.$refs, response.data.errors);
              else this.errors = handlerErrors(this.$refs, response.data.message);
              this.$emit('ajax:finish');
              this.sms_code = '';
            }
          );
        }
      },
      loader() {
        if (Object.keys(this.bankRequisite).length === 0) {
          this.selected_bank_id = this.bankRequisite.id;
          this.selected_bank_type = this.bank_types[0];
          this.not_editable = false;
          this.recipient_account = '';
          this.recipient_name = '';
          this.recipient_address = '';
          this.swift_code = '';
        } else {
          this.selected_bank_type = this.bankRequisite.bank_type;
          this.not_editable = this.bankRequisite.status !== 'CANCELED';
          this.recipient_account = this.bankRequisite.recipient_account;
          this.recipient_name = this.bankRequisite.recipient_name;
          this.recipient_address = this.bankRequisite.recipient_address;
          this.swift_code = this.bankRequisite.swift_code;
        }
      },
      timer() {
        let intervalId = setInterval(() => {
          this.seconds = --this.seconds;

          if (this.seconds === 0) {
            clearInterval(intervalId);
          }
        }, 1000)
      }
    }
  }

</script>
