<template>
  <div class="bank-requisites">
    <div v-if="bankRequisites">
      <div v-for="bankRequisite in bankRequisites" class="right-menu__form__row">
        <button class="btn btn-link" @click="onRightPanelOpen('edit', bankRequisite)">
          {{bankRequisite.recipient_name}}-{{bankRequisite.bank_type}}
        </button>
        <button type="button" class="btn btn-sm btn-secondary ml-3" @click="onRightPanelOpen('delete', bankRequisite)">
          <i class="fas fa-ban mr-2"></i> {{ $t("dashboard.profile.delete") }}
        </button>
      </div>
    </div>
    <div v-if="bankRequisites.length<10" class="right-menu__form__row">
      <button type="button" class="btn dashboard__btn" @click="onRightPanelOpen('edit')">{{ $t("dashboard.profile.text9") }}</button>
    </div>

    <right-panel ref="rightPanel" :title="component.title" @close="onClose">
      <component
        @ajax:finish="$refs.rightPanel.spin(false)"
        @ajax:start="$refs.rightPanel.spin(true)"
        @modal:close="onRightPanelClose"
        :bank-requisite="component.bankRequisite"
        :documents="component.documents"
        :is="component.name"
        :user="user"
      />
    </right-panel>
  </div>
</template>

<script>
  import requests from '../../../../requests'
  import { mapGetters } from 'vuex'
  import Delete from './Delete'
  import Edit from './Edit'

  export default {
    name: 'bank-requisites',
    components: {
      Delete,
      Edit,
    },
    props: {
      user: Object
    },
    data() {
      return {
        resources: {
          documents: {},
          titles: {
            'delete': 'Delete bank requisite',
            'edit': 'Edit bank requisites'
          }
        },
        component: {
          title: 'Untitled',
          bankRequisite: {},
          documents: {},
          name: ''
        }
      }
    },
    computed: mapGetters({
      bankRequisites: 'getBankRequisites',
      isUserVerified: 'isUserVerified'
    }),
    created () {
      this.loadBankRequisitesDocuments()
    },
    methods: {
      onRightPanelOpen (component, requisite = {}) {
        this.component.title = this.resources.titles[component]
        this.component.bankRequisite = requisite
        this.component.name = component

        this.setSelectedBankRequisiteDocuments(requisite.id)
        this.$refs.rightPanel.show()
      },
      onRightPanelClose (time = 10) {
        this.$refs.rightPanel.hide(time);
      },
      onClose () {
        this.component.name = ''
      },
      loadBankRequisitesDocuments () {
        this.$emit('ajax:start')
        requests.dashboard.profile.getBankRequisitesDocuments().then(({data}) => {
          this.$emit('ajax:finish')
          data.documents.forEach(document => {
            if (this.resources.documents[document.entity_id] === undefined) {
              this.resources.documents[document.entity_id] = {}
            }

            this.resources.documents[document.entity_id][document.type] = document
          })
        }).catch(() => this.$emit('ajax:finish'))
      },
      setSelectedBankRequisiteDocuments (requisiteId) {
        if (this.resources.documents[requisiteId] !== undefined) {
          this.component.documents = this.resources.documents[requisiteId]
        } else {
          this.component.documents = {}
        }
      }
    }
  }
</script>
