.footer {
  background-color: #fff;
  margin: 5rem 0 0;
  height: auto;

  &__title {
    margin-bottom: .5rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: #4c6cb3;
  }

  &__item {
    &, a {
      color: #92bce7;
    }

    a:hover {
      color: #7b99b7;
    }
  }

  &__vertical {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
  }
}

