.header {
  padding-top: 1.5rem;
  width: 100%;

  &__ears {
    background: url("/assets/images/left-ear.png") no-repeat left top,
      url("/assets/images/right-ear.png") no-repeat right top;
    background-size: 7rem;
    margin-top: -1.5rem;
    position: absolute;
    height: 8rem;
    width: 100%;
    z-index: 1;
  }

  &__inner {
    justify-content: space-between;
    align-items: center;
    position: relative;
    display: flex;
    z-index: 2;
  }

  .exchange-rate {
    &__item {
      padding-left: 1.5rem;
      color: #92bce7;

      &:first-child {
        padding: 0;
      }
    }
  }

  .h-btn {
    &--link {
      font-size: 1.3rem;
      color: #94bae0;

      &:hover {
        cursor: pointer;

        i {
          font-weight: 900
        }
      }
    }
  }
}
.nav-link--mob {
  display: none;
}
@media screen and (max-width: 1200px) {
  .nav-link--mob {
    display: block;
    position: absolute;
    top: 9px;
    right: 85px;
    color: #fff;
  }
}
@media screen and (max-width: 1105px) {
  .nav-link--mob {
    right: 55px;
  }
}