.main {
  @import "header";
  @import "landing";
  @import "footer";

  .h-btn {
    background-color: #f875ae;
    text-transform: uppercase;
    padding: .5rem 1.5rem;
    border-radius: 2rem;
    margin-right: .5rem;
    outline: none;
    border: none;
    color: #fff;

    &:hover {
      background-color: #f3a0c4;
      cursor: pointer;
    }
  }

  .modal-body {
    max-height: calc(100vh - 119px);
    position: relative;
  }

  .btn-request-code {
    border-radius: .5rem;
    border-width: 2px;
  }
}
