.landing {

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }
  .landing-footer {
    min-height: 438px;
    border-top: 1px solid #ebecf3;
  }

  button:active, button:focus {
    outline: none;
  }

  button::-moz-focus-inner {
    border: 0;
  }

  header {
    color: #fff;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    text-decoration: none;
    color: #fff;
  }
  a.link-p:hover {
    color: rgb(0, 0, 0);
    opacity: 0.5;
  }

  p {
    text-align: center;
  }

  img {
    max-width: 100%;
  }

  .logo-mobile {
    height: 22px;
    width: 22px;
  }

  .logo {
    width: 126px;
    height: 20px;
  }

  .carousel-item {
    height: 250px;
    margin-bottom: 30px;
  }

  .currency-item {
    padding: 20px 22px;
    position: relative;
    box-shadow: 0 6px 60px 5px rgba(12, 1, 49, 0.08);
    margin-bottom: 20px;
  }

  .currency-item-icon {
    position: absolute;
    top: 20px;
    right: 22px;
  }

  .currency-name {
    color: #000000;
    font-family: "Gotham Pro";
    font-size: 15px;
    font-weight: 700;
    line-height: 19.99px;
    min-height: 20px;
    padding-top: 3px;
    @media (max-width: 768px) {
      flex: 0 0 50%;
      text-align: right;
      padding-right: 11px;
    }
    img {
      vertical-align: middle;
    }
  }

  .currency-value {
    font-family: "Gotham Pro";
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;

    @media (max-width: 768px) {
      flex: 0 0 50%;
      text-align: right;
      padding-right: 11px;
    }
  }

  .currency-res-color {
    margin-left: 5px;
    color: #00da77;
    font-family: "Gotham Pro";
    font-size: 10px;
    font-weight: 700;
    line-height: 20px;
  }

  .currency-item-button {
    font-family: "Gotham Pro";
    margin-top: 23px;
    padding: 10 auto;
    height: 30px;
    border: 2px solid #000000;
    background-color: #ffffff;
    border-radius: 5px;
  }

  .currency-column-header{
    font-weight: bold;
    @media (max-width: 370px) {
      font-size: calc(100vw / 22);
    }
  }

  .chart-container{
    height: 60px;
    width: 130px;
    @media (max-width: 768px) {
      width: 100%;
      height: 90px;
    }
  }

  .bitcoin-list {
    padding-top: 60px;
    .container {
      box-shadow: none!important;

      .row {
        border-bottom:  none!important;
      }
    }

    .currency-row{
      max-height: 55px;
      border-bottom: none!important;
      @media (max-width: 768px) {
        margin-bottom: 15px;
        max-height: none;
      }
    }
  }

  .mobile {
    padding-bottom: 20px;
  }

  .cards {
    padding-bottom: 20px;
  }

  .section-mobile-title {
    padding-top: 40px;
    font-family: "Gotham Pro";
    font-size: 35px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 40px;
  }

  .section-mobile-text {
    font-family: "Gotham Pro";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 40px;
  }

  .section-mobile-button-info {
    background-image: linear-gradient(to right, rgba(108, 62, 201, 0.91) 0%, rgba(160, 71, 205, 0.91) 100%);
    border: none;
    padding: 12px 30px;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .google-img {
    margin-bottom: 10px;
  }

  .notebook1 {
    background: #ebecf3;
  }

  .notebook2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .section-notebook1-info {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
  }

  .section-notebook-title {
    font-family: "Gotham Pro";
    font-size: 35px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 50px;
  }

  .section-notebook-text {
    font-family: "Gotham Pro";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    line-height: 20px;
    margin-bottom: 50px;
  }

  .section-notebook-redbutton {
    background-color: #fe5246;
    border: none;
    padding: 13px 30px;
    color: #fff;
    font-family: "Gotham Pro";
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    border-radius: 5px;
    margin-bottom: 10px;
    a {
      color: #fff;
    }
  }

  .section-notebook-whitebutton {
    border: 2px solid #000000;
    padding: 11px 30px;
    color: #000000;
    font-family: "Gotham Pro";
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 5px;
    letter-spacing: 1.3px;
    background: inherit;
  }

  .section-notebook-whitebutton:hover {color: #000;}
  .wrapp-pic {
    height: 230px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .advantage-img-1 {
    min-height: 230px;
    background: url("../images/index/1-1.png") no-repeat 50% 100%;
    background-size: contain;
  }

  .advantage-img-2 {
    min-height: 230px;
    background: url("../images/index/1-2.png") no-repeat 50% 100%;
    background-size: contain;
  }

  .advantage-img-3 {
    min-height: 230px;
    background: url("../images/index/1-3.png") no-repeat 50% 100%;
    background-size: contain;
  }

  .advantage-img-4 {
    min-height: 230px;
    background: url("../images/index/1-4.png") no-repeat 50% 100%;
    background-size: contain;
  }

  .advantages {
    background: #ebecf3;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .advantages-name {
    font-family: "Gotham Pro";
    font-size: 35px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    margin-bottom: 80px;
  }

  .advantage-title {
    margin-top: 35px;
    font-family: "Gotham Pro";
    font-size: 20px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
  }

  .advantage-text {
    font-family: "Gotham Pro";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
  }

  .footer-bottom-list {
    padding: 0;
    list-style: none;
  }

  .footer-bottom-list li a {
    color: #aeaeae;
  }

  .footer-bottom-list li a:hover {
    color: #fff;
  }

  footer {
    background: #000;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer-title {
    font-family: "Gotham Pro";
    font-size: 35px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
  }

  .footer-text {
    font-family: "Gotham Pro";
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 35px;
  }

  .footer-buttons {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-button1 {
    padding: 13px 30px;
    background-color: #fe5246;
    border: none;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin-bottom: 10px;
  }

  .footer-button2 {
    padding: 13px 30px;
    background-image: linear-gradient(to right, #FFEB3B 0%, #FFC107 100%);
    //background-image: linear-gradient(to right, rgba(108, 62, 201, 0.91) 0%, rgba(160, 71, 205, 0.91) 100%);
    border: none;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    /* Text style for "з, арегист" */
    letter-spacing: 1.3px;
  }

  .footer-bottom-title {
    color: #fffefe;
    font-family: "Gotham Pro";
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
  }

  .footer-bottom-list {
    color: #aeaeae;
    font-family: "Gotham Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    line-height: 20px;

    a {
      position: relative;
      display: flex;
    }
  }

  .footer-bottom-list.footer-bottom-list-icon a {
    padding-left: 20px;
  }

  .footer-bottom-list li a i {
    position: absolute;
    left: 0;
    top: 3px;
  }

  .footer-bottom-credit img {
    margin-right: 10px;
  }

  .footer-bottom-credit img:last-child {
    margin-right: 0;
  }

  .footer-copyright {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .copyright {
    text-align: left;
    color: #aeaeae;
    font-family: "Gotham Pro";
    font-size: 9px;
    font-weight: 300;
    margin: 0;
  }

  .footer-bottom-list {
    margin-bottom: 15px;
  }

  .section-mobile-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-mobile-button-links {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .section-notebook1-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-notebook2-buttons {
    display: flex;
    justify-content: center;
  }

  .header-left-button-caret {
    margin-right: 10px;
    padding-right: 20px;
    background: none;
    border: none;
    color: #ff5246;
    font-family: "Gotham Pro";
    font-size: 14px;
    font-weight: 700;
    float: left;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background: url("../images/index/bottom-arrow.png");
    background-repeat: no-repeat;
    background-size: 11px 8px;
    background-position: right 44%;
  }

  .header-table-col-title {
    color: #717171;
    font-family: "Gotham Pro";
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }

  .header-table-col-list {
    padding: 0;
    margin: 0;
  }

  .header-table-col-item {
    list-style-type: none;
    text-align: left;
    border-top: #434242 1px solid;
    padding: 13px 0;
  }

  .header-table-col-item-name {
    color: #ff5246;
    font-family: "Gotham Pro";
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
  }

  .header-table-col-item-value {
    color: #717171;
    font-family: "Gotham Pro";
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
  }

  .header-table-mobile {
    display: none;
    padding-top: 20px;
    position: absolute;
    width: 100vw;
    box-shadow: 0 6px 60px 5px rgba(12, 1, 49, 0.08);
    background-color: #1d1d1d;
    z-index: 999;
    overflow: hidden;
  }

  .carousel-content {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .carousel-content * {
    text-align: left;
  }

  .carousel-content-title {
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: calc(100vw / 38);
    font-weight: 400;
    @media (max-width: 400px) {
      margin-top: calc(100vw / -2);
      font-size: calc(100vw / 17) !important;
    }
  }

  .carousel-content-text {
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: calc(100vw / 50);
    font-weight: 300;
    @media (max-width: 400px) {
      font-size: calc(100vw / 25) !important;
    }
  }

  .carousel-content-text-buy {
    color: #ffffff;
    font-family: "Gotham Pro";
    padding-left: calc(100vw / 60);
    padding-right: calc(100vw / 60);
    padding-top: calc(100vw / 350);
    padding-bottom: calc(100vw / 250);
    font-weight: 400;
    border-width: 0;
    border-radius: calc(100vw / 200);
    background-image: linear-gradient(to right, #FFEB3B 0%, #FFC107 70%);
    @media (max-width: 400px) {
      border-radius: calc(100vw / 100);
    }
  }
  .carousel-content-text-buy:hover {
    box-shadow: 0 1px calc(100vw / 100) 2px #FFC107;
  }
;

  .carousel-content-button {
    border: none;
    background-color: #ff5246;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: calc(100vw / 57.6);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    padding: 13px 30px;
    @media (max-width: 400px) {
      font-size: calc(100vw / 8.5) !important;
    }
  }

  .modal-title {
    padding-top: 40px;
    text-align: center;
    color: #000000;
    font-family: "Gotham Pro";
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
  }

  .modal-link {
    text-align: center;
    padding-top: 17px;
    padding-bottom: 25px;
    color: #a7a7b7;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 19.93px;
  }

  .modal-link a {
    color: #ff5246;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 19.93px;
    text-decoration: none;
  }

  .modal-img {
    width: 113px;
    height: 113px;
    margin-bottom: 20px;
  }

  .modal-button {
    padding: 13px 30px;
    margin-bottom: 40px;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-family: "Gotham Pro";
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
  }

  .modal-button-left {
    box-shadow: 0 12px 32px 3px rgba(254, 82, 70, 0.21);
    background-color: #fe5246;
  }

  .modal-button-right {
    box-shadow: 0 12px 32px 3px rgba(75, 45, 169, 0.21);
    background-image: linear-gradient(to right, rgba(108, 62, 201, 0.91) 0%, rgba(160, 71, 205, 0.91) 100%);
  }

  .modal-text {
    color: #000000;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 45px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 15px;
    width: 10px;
  }

  .carousel-control-next-icon {
    background-image: url("../images/index/right-carousel.png");
  }

  .carousel-control-prev-icon {
    background-image: url("../images/index/left-carousel.png");
  }

  .header-left-currency {
    color: #717171;
  }

  .header-left-value {
    color: #fff;
  }

  .lang {
    display: inline-block;
    padding: 2px 10px;
    color: #fffefe;
    font-family: "Gotham Pro";
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    border: 2px solid #242629;
    background-color: #242629;
  }

  .navbar-toggler {
    padding: 0;
    border: none;
  }

  .navbar-brand {
    margin-right: 0;
  }

  @media (min-width: 768px) {
    .navbar-toggler {
      border: 1px solid transparent;
    }
    .carousel-content-button {
      font-size: 13px;
      line-height: 20px;
    }
    .carousel-item {
      height: 450px;
    }
    .section-mobile-buttons {
      flex-direction: row;
      justify-content: space-between;
    }
    .section-mobile-button-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .google-img {
      margin-bottom: 0;
      margin-right: 15px;
    }
    .section-mobile-button-info {
      margin-bottom: 0;
    }
    .section-notebook1-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .footer-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .footer-button1 {
      margin-right: 30px;
      margin-bottom: 0;
    }
    .section-notebook-redbutton {
      margin-bottom: 0;
      margin-right: 20px;
    }
    .mobile {
      padding-top: 60px;
    }
    .cards {
      padding-top: 120px;
    }
    .notebook1 {
      padding-top: 40px;
    }
    .notebook2 {
      padding-top: 60px;
    }
    .footer-copyright-logo img {
      margin-bottom: 12px;
    }
  }
  @media (min-width: 992px) {
    p {
      text-align: left;
    }
    .section-notebook1-buttons {
      justify-content: start;
    }
    .section-notebook2-buttons {
      justify-content: start;
    }
  }
  @media (min-width: 1200px) {
    p {
      text-align: left;
    }
    .header-newstyle {
      background: #000;
      height: 60px;
    }
    .header-desktop {
      height: 60px;
    }
    .carousel-item {
      height: calc(100vh - 200px);
    }
    .header-left-button {
      position: relative;
      height: 60px;
    }
    .header-left-button-caret {
      margin-right: 10px;
      padding-right: 20px;
      background: none;
      border: none;
      color: #ff5246;
      font-family: "Gotham Pro";
      font-size: 14px;
      font-weight: 700;
      float: left;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      background: url("../images/index/bottom-arrow.png");
      background-repeat: no-repeat;
      background-size: 11px 8px;
      background-position: right 44%;
    }
    .header-table {
      display: none;
      min-width: 100%;
      position: absolute;
      box-shadow: 0 6px 60px 5px rgba(12, 1, 49, 0.08);
      background-color: #1d1d1d;
      left: -20px;
      z-index: 999;
      overflow: hidden;
    }
    .header-table-col {
      padding-left: 20px;
      padding-top: 20px;
    }
    .header-table-col-list {
      padding: 0;
      margin: 0;
      width: 235px;
    }
    .header-table-col-item {
      list-style-type: none;
      text-align: left;
      border-top: #434242 1px solid;
      padding: 13px 0;
    }
    .header-table-col-item-name {
      color: #ff5246;
      font-family: "Gotham Pro";
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
    }
    .header-table-col-item-value {
      color: #717171;
      font-family: "Gotham Pro";
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
    }
    .header-left-currency-value {
      font-size: 14px;
      text-align: left;
    }
    .header-right-wallet {
      margin-right: 30px;
      color: #fffefe;
      font-family: "Gotham Pro";
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
    }
    .header-desktop {
      padding: 0 50px;
    }
    .logo {
      margin-right: 30px;
      width: 142px;
      height: 22px;
    }
    .header-right-select {
      margin-right: 30px;
      background: none;
      border: none;
      color: #fffefe;
      font-family: "Gotham Pro";
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      float: left;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
    }
    .header-right-wallet i {
      margin-right: 5px;
    }
    .signIn {
      margin-right: 30px;
      color: #ff5246;
      font-family: "Gotham Pro";
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
    }
    .regist {
      margin-right: 30px;
      padding: 4px 20px;
      color: #fffefe;
      font-family: "Gotham Pro";
      font-size: 14px;
      background-color: #ff5246;
      border: none;
    }
    .lang {
      padding: 2px 10px;
      color: #fffefe;
      font-family: "Gotham Pro";
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
      border: 2px solid #242629;
      background-color: #242629;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .modal-title {
      text-align: center;
      padding-top: 50px;
      color: #000000;
      font-family: "Gotham Pro";
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
    }
    .modal-link {
      text-align: center;
      padding-top: 17px;
      padding-bottom: 75px;
      color: #a7a7b7;
      font-family: "Gotham Pro";
      font-size: 16px;
      font-weight: 400;
      line-height: 19.93px;
    }
    .modal-link a {
      color: #ff5246;
      font-family: "Gotham Pro";
      font-size: 16px;
      font-weight: 400;
      line-height: 19.93px;
      text-decoration: none;
    }
    .modal-img {
      width: 113px;
      height: 113px;
      margin-bottom: 60px;
    }
    .modal-button {
      padding: 13px 30px;
      margin-bottom: 40px;
      border: none;
      color: #fff;
      border-radius: 5px;
      font-family: "Gotham Pro";
      font-size: 13px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
      /* Text style for "к, орпорат" */
      letter-spacing: 1.3px;
    }
    .modal-button-left {
      box-shadow: 0 12px 32px 3px rgba(254, 82, 70, 0.21);
      background-color: #fe5246;
    }
    .modal-button-right {
      box-shadow: 0 12px 32px 3px rgba(75, 45, 169, 0.21);
      background-image: linear-gradient(to right, rgba(108, 62, 201, 0.91) 0%, rgba(160, 71, 205, 0.91) 100%);
    }
    .modal-text {
      color: #000000;
      font-family: "Gotham Pro";
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 45px;
    }
    .notebook1 {
      padding-top: 130px;
      padding-bottom: 130px;
    }
    .notebook2 {
      padding-top: 110px;
      padding-bottom: 130px;
    }
    .advantages {
      padding-top: 130px;
      padding-bottom: 130px;
    }
    .footer-bottom-title {
      margin-bottom: 40px;
    }
    .section-notebook2-buttons {
      justify-content: start;
    }
    .section-notebook1-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      height: 38px;
      width: 24px;
    }
    .modal-dialog {
      margin: 1.75rem auto;
    }
    .modal-close {
      text-align: center;
      height: 50px;
      justify-content: center;
      margin-top: 2.75rem;
    }
  }
  @media (min-width: 1700px) {
    .header-table {
      min-width: 100%;
    }
    .modal-backdrop {
      background-color: #f5f4fa;
    }
  }

  .lang {
    cursor: pointer;
  }

  .lang img {
    width: 18px;
    height: 18px;
  }

  @media (min-width: 1200px) {
    .lang {
      padding: 2px 10px;
      color: #fffefe;
      font-family: "Gotham Pro";
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .lang img {
      width: 18px;
      height: 18px;
      margin-left: 10px;
    }
  }

  .landing .footer-copyright {
    margin-bottom: 0;
  }

  @media (max-width: 1200px) {
    .navbar {
      justify-content: flex-start;
    }
    .navbar-toggler {
      position: absolute;
      top: .5rem;
      right: .85rem;
    }

    .navbar {
      ustify-content: flex-start;
    }
    .navbar-toggler {
      position: absolute;
      top: .5rem;
      right: .85rem;
    }

    .logo-mobile {
      margin-right: 30px;
    }
  }

  @media (max-width: 1024px) {
    footer {
      padding: 30px;
    }

    .footer-bottom {
      flex-wrap: wrap;

    }
    .footer-bottom__item {
      margin-bottom: 30px;

    }
  }
  @media (max-width: 768px) {
    .footer-bottom__item {
      width: 100%;
      margin-bottom: 0;
    }
    .footer-bottom-title {
      text-align: center;
    }
    .footer-bottom-list li {
      text-align: center;
    }
    .footer-bottom-list li a {
      display: inline;
    }
    .logo {
      margin-bottom: 10px;
    }

    .footer-bottom__item.footer-bottom-credit {
      margin-top: 15px;
    }
    .footer-copyright {
      margin-top: 0;
      margin-bottom: 0;
    }

    .logo-mobile {
      margin-right: 30px;
    }

    .footer-copyright {
      text-align: center;

      p {
        text-align: center;
      }
    }
  }
  @media (max-width:576px) {
    .footer-bottom {
      width: 100%;
    }
  }
}
.custom-slider-wrapp {
  position: relative;
  height: calc(100vw / 3.84) !important;
  @media (max-width: 400px) {
    height: calc(100vw / 0.8) !important;
  }
  .container {
    height: 100%;
  }
  .slider-content-wrapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .slider-content {
    width: 85%;
    text-align: right;
    a {
      color: #fff !important;
    }
    p {
      margin: 0;
    }
  }
  .carousel-content-title {
    text-align: right;
  }
  .carousel-content-text {
    text-align: right;
    margin: 0;
  }
  .carousel-content-desc {
    display: inline-block;
    font-size: inherit !important;
  }
  .slider-item img {
    width: 100%;
    height: auto;
  }
  .slider-btn {
    width: 10%;
  }
  .slider-icon {
    width: 35px;
    height: 35px;
    @media (max-width: 992px) {
      width: 20px;
      height: 20px;
    }
    @media (max-width: 768px) {
      width: 15px;
      height: 15px;
    }
  }
}

.carousel-content-title {
  text-transform: uppercase;
  margin-bottom: 0;
  p {
    text-align: right;
  }
}
.carousel-content-desc {
  display: inline-block;
  text-transform: uppercase;
  color: #fff !important;
  &:hover {
    text-decoration: underline;
  }
}
.carousel-content-text {
  text-transform: uppercase;
  margin: 0;
}
.slider-item {
  transition: all .8s ease-in-out !important;
}
