.maintenance {
  display: flex;
  justify-content: center;
  padding: 20px;
  height: calc(100vh - 498px);
  &__content {
    width: 50%;
    color: #4c6cb3;
    @media(max-width: 768px) {
      width: 100%;
    }
  }
}