.header-left-button-caret{
  cursor: pointer;
}
.header-left-button-caret:hover{
  text-shadow: 0 1px 6px rgba(254, 82, 70, 0.877);
}
.signIn{
  cursor: pointer;
}
.signIn:hover{
  text-shadow: 0 1px 6px rgba(254, 82, 70, 0.877);
}
.carousel-content-button{
  cursor: pointer;
}
.carousel-content-button:hover{
  box-shadow: 0 12px 32px 3px rgba(254, 82, 70, 0.41);
}
.section-mobile-button-info{
  cursor: pointer;
}
.section-mobile-button-info:hover{
  box-shadow: 0 12px 32px 3px rgba(75, 45, 169, 0.41);
}
.section-notebook-redbutton{
  cursor: pointer;
}
.section-notebook-redbutton:hover{
  box-shadow: 0 12px 32px 3px rgba(254, 82, 70, 0.41);
}
.section-notebook-whitebutton{
  cursor: pointer;
}
.section-notebook-whitebutton:hover{
  box-shadow: 0 12px 32px 3px rgba(75, 45, 169, 0.41);
}
.footer-button1{
  cursor: pointer;
}
.footer-button1:hover{
  box-shadow: 0 1px 73px 6px rgba(254, 82, 70, 0.5);
}
.footer-button2{
  cursor: pointer;
}
.footer-button2:hover{
  box-shadow: 0 3px 73px 6px rgba(110, 71, 229, 0.6);
}
.regist:hover{
  box-shadow: 0 12px 32px 3px rgba(254, 82, 70, 0.31);
}
.currency-item-button{
  cursor: pointer;
}
.currency-item-button:hover{
  box-shadow: 0 6px 15px 3px rgba(75, 45, 169, 0.21);
}
.new-style-hover-link:hover{
  color: #000!important;
}
.modal-title {
  text-align: center;
}
.new-style-small-modal{
  overflow: hidden auto;
}
.modal-close{
  text-align: center;
  height: 50px;
  justify-content: center;
  margin-top: 2.75rem;
}
.my-modal-title{
  font-size: 25px;
  font-weight: bold;
}
.header-button-red{
  color: #ff5246!important;
  font-family: "Gotham Pro";
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.header-button-red:hover {
  color: #fff!important;
  text-shadow: 0 1px 6px rgba(254,82,70,0.877);
}
.my-how-style-p p {
  text-align: left;
}
.my-style-fees {
  overflow-x: auto;
  a:hover {
    color: #000;
  }
  table {
    margin-bottom: 0;
    color: #000;
  }
  .table th, .table td {
    padding: 0.4rem;
  }
  .table th {
    @media (max-width: 1024px) {
      font-size: 12px;
    }
  }
}

.mad-meal {
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  font-size: 64px;
  font-weight: 700;
  line-height: 50px;
  @media (max-width: 1200px) {
    margin-top: 20px;
  }
  @media (max-width: 768px) {
    margin-top: 50px;
  }
  @media (max-width: 360px) {
    padding-left: 0;
    padding-right: 0;
    font-size: 34px;
    line-height: 32px;
  }
}
.mad-meal-footer-buttons {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 360px) {
    margin-bottom: 0;
  }
  button {
    margin-right: 20px;
    padding: 13px 15px;
    @media (max-width: 1200px) {
      margin-top: 20px !important;
      margin-right: 0 !important;
    }
  }
}

.my-style-fees-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.my-style-fees-list button{
  max-width: 150px;
}
.my-style-terms-list li{
  text-align: left;
}

.my-style-terms-list li a {
  color: #000;
}

.my-style-terms-list li a:hover{
  color: #000;
  opacity: .5;
}
.not-found-box.my-style-fees {
  overflow-x: hidden;
  td {
    height: 50px;
    img {
      height: 100%;
    }
  }
}
@media screen and (max-width: 1024px) {
  .not-found-box {
    margin: 50px auto;
    height: calc(100vh - 620px);
  }

}
@media screen and (max-width: 768px) {
  .not-found-box {
    height: calc(100vh - 612px);
  }
}
@media screen and (max-width: 765px) {
  .not-found-box.my-style-fees {
    table {
      position: static;
      display: table;
      overflow-x: auto;
    }
  }
}
@media screen and (max-width: 480px) {
  .not-found-box.my-style-fees {
    table {
      display: block;
    }
  }
}
@media screen and (min-width: 320px) and (max-height: 767px) {
  .not-found-box.my-style-fees {
    height: 100%;
    margin: 50px auto;
  }
}
@media screen and (width: 1024px) and (height: 768px) {
  .not-found-box.my-style-fees {
    height: 100%;
  }
}
@media screen and (width: 600px) and (height: 1024px) {
  .not-found-box.my-style-fees {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.my-style-fees.fees {
  overflow-x: hidden;
  @media screen and (max-width: 560px) {
    overflow-x: auto;
  }
}
.wrap-table-fees {
  overflow: hidden;
  @media screen and (max-width: 560px) {
    overflow-x: auto;
  }
}
.content-wrapp {
  h1, h2 {
    text-align: left;
    @media screen and (max-width: 1024px) {
      font-size: 1.7rem;
    }
  }
  p {
    text-align: left;
  }
}
.landing .section-mobile-button-info {
  background-image: linear-gradient(to right, #FFEB3B 0%, #FFC107 100%);
  &:hover {
    box-shadow: 0 1px 40px 2px #FFC107;
  }
}
.landing .footer-button2 {
  background-image: linear-gradient(to right, #FFEB3B 0%, #FFC107 100%);
  &:hover {
    box-shadow: 0 1px 40px 2px #FFC107;
  }
}
