<template>
  <div>
    <div class="modal-header">
      <h6 class="font-weight-bold text-black d-inline-block">
        {{element? $t("dashboard.profile.change"): $t("dashboard.profile.add")}} {{ $t("dashboard.profile.text24") }}
      </h6>
    </div>
    <div class="modal-body mb-3">
      <form class="form-custom black row align-items-end" ref="bankReqForm">
        <div class="form-control-custom col-md-6">
          <small class="text-silver d-block">{{ $t("dashboard.profile.bank_name") }}</small>
          <input :placeholder="$t('dashboard.profile.name')"
                 v-model="form.name"
                 ref="field_name" name="name" :disabled="!editable" required/>
          <div class="error-msg error-msg--black font-weight-bold" ref="error_name"></div>
        </div>
        <div class="form-control-custom col-md-6">
          <div class="dropdown-select"
               @click="openBankTypeSelect"
               @mouseenter="isFocusSelectTwo = true"
               @mouseleave="isOpenBankTypeSelect = false"
          >
            <small class="text-silver d-block">{{ $t("dashboard.profile.bank_type") }}</small>
            <div class="d-flex flex m-0 align-items-center" style="flex-direction: unset">
              <input class="w-auto border-0" disabled :placeholder="$t('dashboard.profile.bank_type')" v-model="form.bank_type"
                     ref="field_bank_type"
                     name="bank_type">
              <i v-show="editable" class="fas fa-caret-down ml-auto" v-if="!isOpenBankTypeSelect"></i>
              <i v-show="editable" class="fas fa-caret-up ml-auto" v-else></i>
            </div>
            <ul v-if="editable" v-show="isOpenBankTypeSelect" class="text-black">
              <li v-for="bankType in bankTypes" class="pl-2 pr-2" @click="selectBankType(bankType)"
                  :value="bankType">{{bankType}}
              </li>
            </ul>
          </div>
          <div class="error-msg error-msg--black font-weight-bold" ref="error_bank_type"></div>
        </div>
        <div class="form-control-custom col-md-6">
          <small class="text-silver d-block">{{ $t("dashboard.profile.recipient_ac") }}</small>
          <input ref="field_recipient_account"
                 :disabled="!editable"
                 :placeholder="$t('dashboard.profile.account_number')"
                 v-model.lazy="form.recipient_account"
                 @input="recipientAccountValidator($event)"
                 name="recipient_account"
                 type="text"/>
          <div class="error-msg error-msg--black font-weight-bold" ref="error_recipient_account"></div>
        </div>
        <div class="form-control-custom col-md-6">
          <small class="text-silver d-block">{{ $t("dashboard.profile.recipient") }}</small>
          <input :placeholder="$t('dashboard.profile.full_name')"
                 ref="field_recipient_name"
                 :disabled="!editable"
                 v-model.lazy="form.recipient_name"
                 @input="inputValidator($event,'onlyLettersAndSpacesFormat')"
                 name="recipient_name"
                 type="text"/>
          <div class="error-msg error-msg--black font-weight-bold" ref="error_recipient_name"></div>
        </div>
        <div class="form-control-custom col-md-6" v-if="form.bank_type === 'SWIFT'">
          <small class="text-silver d-block">{{ $t("dashboard.profile.recipient_address") }}</small>
          <input :placeholder="$t('dashboard.profile.recipient_address')"
                 ref="field_recipient_address"
                 :disabled="!editable"
                 v-model.lazy="form.recipient_address"
                 @input="inputValidator($event,'addressFormat')"
                 name="recipient_address"
                 type="text"/>
          <div class="error-msg error-msg--black font-weight-bold" ref="error_recipient_address"></div>
        </div>
        <div class="form-control-custom col-md-6" v-if="form.bank_type === 'SWIFT'">
          <small class="text-silver d-block">{{ $t("dashboard.profile.swift_code") }}</small>
          <input :placeholder="$t('dashboard.profile.swift_code')"
                 ref="field_swift_code"
                 :disabled="!editable"
                 @input="inputValidator($event,'swiftFormat')"
                 v-model.lazy="form.swift_code"
                 name="swift_code"
                 type="text"/>
          <div class="error-msg error-msg--black font-weight-bold" ref="error_swift_code"></div>
        </div>
        <template v-for="document in documents.account_details">
          <div class="col-md-12 mb-3 w-100">
            <small class="text-silver d-block">{{ $t("dashboard.profile.text4") }}</small>
            <div class="w-100">
              <upload-file :document="document"
                           :class="editable?'':'hiding--remove-button'"
                           accept="image/*, application/pdf"
                           document-type="account_details"
                           system-type="bank_requisites"
                           id="account_details"
                           name="documents[]"
                           ref="accountDetails"
                           v-on:delete-file="updateDocument"
              />
            </div>
          </div>
        </template>
        <template v-for="document in documents.account_statement">
          <div class="col-md-12">
            <small class="text-silver d-block">{{ $t("dashboard.profile.account_6") }}</small>
            <div class="w-100">
              <upload-file :document="document"
                           :class="editable?'':'hiding--remove-button'"
                           accept="image/*, application/pdf"
                           document-type="account_statement"
                           system-type="bank_requisites"
                           id="account_statement"
                           name="documents[]"
                           ref="accountStatement"
                           v-on:delete-file="updateDocument"
              />
            </div>
          </div>
        </template>
        <template v-for="(document, index) in documents.additional_documents">
          <div class="col-md-12">
            <small class="text-silver d-block">{{ $t("dashboard.profile.additional_doc") }}</small>
            <div class="w-100">
              <upload-file :document="document"
                           :class="editable?'':'hiding--remove-button'"
                           accept="image/*, application/pdf"
                           document-type="additional_documents"
                           system-type="bank_requisites"
                           :id="`additional_document_${index}`"
                           name="documents[additional_documents][]"
                           ref="additionalDocument"
                           v-on:delete-file="updateDocument"
              />
            </div>
          </div>
        </template>
        <div v-if="editable" class="col-md-12">
          <button class="btn btn-secondary mt-2 add-additional_documents" @click.prevent="onAddAdditionalDocument">
            {{ $t("dashboard.profile.add_additional_doc") }}
          </button>
        </div>
      </form>
      <error-view class="mt-3" :errors="errors"></error-view>
      <div class="requirements mt-3 mb-3">
        <span>{{ $t("dashboard.profile.text25") }}:</span>
        <ul class="mt-2 pl-4">
          <li class="mt-1">
            {{ $t("dashboard.profile.text26") }}
          </li>
          <li class="mt-1">
            {{ $t("dashboard.profile.text27") }}
          </li>
          <li class="mt-1">
            {{ $t("dashboard.profile.text28") }}
          </li>
          <li class="mt-1">
            {{ $t("dashboard.profile.text29") }}
          </li>
          <li class="mt-1">
            {{ $t("dashboard.profile.textAddBank") }}
          </li>
          <li class="mt-1">
            {{ $t("dashboard.profile.text30") }}
            {{ $t("dashboard.profile.text31") }}
          </li>
        </ul>
      </div>
    </div>
    <div class="modal-footer">
      <div class="d-flex w-100 justify-content-between column-mobile">
        <button v-if="editable" @click="sendFormData" class="btn btn-primary">{{ $t("dashboard.profile.confirm") }}</button>
        <button @click="closeModal" type="button" class="btn btn-link">{{ $t("dashboard.profile.cancel") }} &mdash;</button>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import {formLoader, handlerErrors, resetErrors, inputValidator, manualValidator} from '../../../../../utilities'
  import requests from '../../../../../requests'
  import spinner from '../../../../../../common/spinner'
  import UploadFile from '../UploadFile'
  import alert from '../../../../../../common/sweet-alert'
  import _ from 'underscore'

  export default {
    name: "add-bank-account",
    components: {UploadFile},
    computed: mapGetters({
      currenciesByType: 'getCurrenciesByType',
      userLimits: 'getUserLimits',
      bankTypes: 'getBankTypes',
      currenciesByBankType:'getCurrenciesByBankType'
    }),
    props: {
      element: {
        type: Object,
        required: false
      },
      editable: {
        type: Boolean,
        default: true
      }
    },
    data() {
      return {
        currencies: [],
        isOpenCurrenciesSelect: false,
        isOpenBankTypeSelect: false,
        documents: {
          account_statement: [],
          account_details: [],
          additional_documents: []
        },
        form: {
          id: '',
          name: '',
          recipient_account: '',
          recipient_name: '',
          recipient_address: '',
          swift_code: '',
          bank_type: 'SWIFT'
        },
        errors: []
      }
    },
    created() {
      if (this.element) {
        formLoader(this.form, this.element)
        this.setDocuments();
      } else {
        this.resetForm();
        this.setCurrencies();
      }
      if (this.editable) {
        if (!this.documents.account_details.length) {
          this.documents.account_details.push({})
        }
        if (!this.documents.account_statement.length) {
          this.documents.account_statement.push({})
        }
      }
    },
    mounted() {
      this.$refs.field_name.focus()
    },
    watch: {
      form: {

        handler() {
          this.errors = []
        },
        deep: true
      },
      currenciesByType() {
        this.setCurrencies();
      },
      element() {
        if (this.element) {
          this.resetForm();
          formLoader(this.form, this.element)
          this.setDocuments();
        } else {
          this.resetForm();
          this.setCurrencies();
        }
        if (this.editable) {
          if (!this.documents.account_details.length) {
            this.documents.account_details.push({})
          }
          if (!this.documents.account_statement.length) {
            this.documents.account_statement.push({})
          }
        }
      }
    },
    methods: {
      inputValidator,
      manualValidator,
      recipientAccountValidator(event){
        let value = '';
        if(this.form.bank_type === 'SEPA') {
          this.inputValidator(event, 'swiftFormat')
        } else {
          this.inputValidator(event, 'recipientAccountFormat')
        }
      },
      resetForm() {
        this.documents = {
          account_statement: [],
          account_details: [],
          additional_documents: []
        };
        this.form = {
          id: '',
          name: '',
          recipient_account: '',
          recipient_name: '',
          recipient_address: '',
          swift_code: '',
          bank_type: 'SWIFT'
        };
      },
      updateDocument(file){
        if(this.element.documents.length) {
          for(let d = 0; d < this.element.documents.length; d++) {
            if(this.element.documents[d].path == file.filename) {
              Vue.delete(this.element.documents, d)
            }
          }
        }
      },
      setCurrencies() {
        this.currencies = this.currenciesByType.rated_bill;
        this.form.allowed_currency = this.currencies[0];
      },
      openCurrenciesSelect() {
        this.isOpenCurrenciesSelect = !this.isOpenCurrenciesSelect
      },
      openBankTypeSelect() {
        this.isOpenBankTypeSelect = !this.isOpenBankTypeSelect
      },
      selectBankType(bankType) {
        this.form.bank_type = bankType;
        let allowedBankCurrency = this.currenciesByBankType[this.form.bank_type][0]
        this.form.allowed_currency = this.currencies.includes(allowedBankCurrency)?allowedBankCurrency:''

        if(bankType === 'SEPA') {
          this.form.recipient_account = this.manualValidator(this.form.recipient_account, 'swiftFormat')
        } else {
          this.form.recipient_account = this.manualValidator(this.form.recipient_account, 'recipientAccountFormat')
        }
      },
      closeModal() {
        this.$emit('close-modal');
      },
      collectDocumentsFiles() {
        let documents = {
          account_details: [],
          account_statement: [],
          additional_documents: []
        };
        documents.account_details = this.$refs.accountDetails[0].getFile()
        documents.account_statement = this.$refs.accountStatement[0].getFile()
        _.each(this.$refs.additionalDocument, (element) => {
          documents.additional_documents.push(element.getFile())
        })

        return documents;
      },
      setDocuments() {
        if (typeof this.element.documents === 'object') {
          _.each(this.element.documents, (document) => {
            this.documents[document.type].push(document)
          })
        }
      },
      checkDocuments(documents){
        let empty = [];
        if(this.element!==null) {
          if(this.element.status === "CANCELED") {
            if(this.element.documents.length === 0) {
              if(documents.account_details==null) {
                empty.push(1)
              }
              if(documents.account_statement==null) {
                empty.push(2)
              }
            }
            else if(this.element.documents.length < 2 && this.element.documents.length > 0) {
              if(this.element.documents[0].type === 'account_details' && documents.account_statement==null) {
                empty.push(3)
              }
              if(this.element.documents[0].type === 'account_statement' && documents.account_details==null) {
                empty.push(3)
              }
            }
          }
        } else {
          if(documents.account_details==null) {
            empty.push(4)
          }
          if(documents.account_statement==null) {
            empty.push(5)
          }
        }
        return empty;
      },
      checkUserLimits() {
        let errorText = 'You cannot create a bank account of this type. Please contact support.'
      },
      sendFormData() {
        let documents = this.collectDocumentsFiles(),
          data = new FormData(this.$refs.bankReqForm);
          data.delete('documents');

        let checkDocs = this.checkDocuments(documents)
        if(checkDocs.length) {
          this.errors = handlerErrors(this.$refs,
            [{code: 9030, params: {"0": checkDocs.length}}]
          );
        } else {
          this.errors = []
        }

        const isEmptyInput = Object.keys(this.form).map(key => {
          if (this.form[key] === '' && this.$refs[`error_${key}`]) {
            this.$refs[`error_${key}`].innerText = this.$t('errors.9000')
            return true
          } else if (this.form[key] !== '' && this.$refs[`error_${key}`]) {
            this.$refs[`error_${key}`].innerText = ''
            return false
          }
        })

        if (isEmptyInput.includes(true)) {
          return
        }

        spinner.toggle(true);
        _.each(documents, (document, key) => {
          data.append(`documents[${key}]`, document)
          if (Array.isArray(document)) {
            data.delete('documents[additional_documents]')
            _.each(document, (subDoc) => {
              data.append(`documents[${key}][]`, subDoc)
            })
          }
        })
        data.append('bank_type', this.form.bank_type);
        if (this.form.id) {
          data.append('id', this.form.id)
        }
        resetErrors(this.$refs);
        requests.dashboard.profile.postChangeBankRequisite(data)
          .then(({data}) => {
            this.successMessage = data.message;
            this.$store.dispatch('updateUserBankRequisites').then(() => {
              this.$emit('close-modal');
              this.resetForm();
              spinner.toggle(false);
            }).catch(() => {
              this.$emit('close-modal');
              spinner.toggle(false);
            });

          })
          .catch(({response}) => {
            if (typeof response.data.errors !=='undefined') {
              const errorMsgs = handlerErrors(this.$refs, response.data.errors)
              if (errorMsgs.length) {
                alert.error(...errorMsgs)
              }
            } else {
              alert.error(response.data.message)
            }
            spinner.toggle(false);
          });
      },
      onAddAdditionalDocument () {
        if (this.documents.additional_documents.length < 5) {
          this.documents.additional_documents.push({})
        }
      }
    }
  }
</script>

