<template>
  <form @submit.prevent="sendFormData">
    <div class="modal-header">
      <h6 class="font-weight-bold text-black d-inline-block">
        {{element?$t("dashboard.profile.change"):$t("dashboard.profile.add")}} {{ $t("dashboard.profile.cryptocurrency_wallet") }}
      </h6>
      <form class="form-custom black d-inline-block">
        <div class="form-control-custom">
          <div class="dropdown-select border-0"
               @click="openCurrenciesSelect"
               @mouseenter="isFocusSelect = true"
               @mouseleave="isOpenCurrenciesSelect = false"
          >
            <div class="d-flex flex m-0 align-items-center" style="flex-direction: unset">
              <span class="text-red font-weight-bold mr-1">in</span>
              <input class="border-0 font-weight-bold" style="color: #ff504b;width: 50px;" disabled
                     v-model="form.currency">
              <i class="fas fa-caret-down text-red" v-if="!isOpenCurrenciesSelect"></i>
              <i class="fas fa-caret-up text-red" v-else></i>
            </div>
            <ul v-show="isOpenCurrenciesSelect" class="text-red font-weight-bold">
              <li class="pl-2 pr-2"
                  v-for="currency in availableCryptoCurrencies"
                  @click="selectCurrency(currency)"
                  :value="currency">
                {{ currency }}
              </li>
            </ul>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-body mb-3">
      <error-view :errors="errors"></error-view>
      <form class="form-custom black row align-items-end">
        <div class="form-control-custom col-md-12 col-12">
          <input :placeholder="$t('dashboard.profile.name')" v-model="form.name" ref="field_name" required/>
          <div class="text-danger error-msg" ref="error_name"></div>
        </div>
        <div class="form-control-custom col-md-12 col-12">
          <small class="text-silver d-block">{{ form.currency }} {{ $t("dashboard.profile.text43") }}</small>
          <input placeholder="3sadjasdjwq32ehs7899sqweq989hrqwes" v-model="form.address" ref="field_address" required/>
          <div class="text-danger error-msg" ref="error_address"></div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div class="d-flex justify-content-between column-mobile">
        <button class="btn btn-primary">{{ $t("dashboard.profile.text3") }}</button>
        <button @click="closeModal" type="button" class="btn btn-link">{{ $t("dashboard.profile.cancel") }} &mdash;</button>
      </div>
    </div>
  </form>
</template>

<script>
  import {mapGetters} from 'vuex'
  import {formLoader, handlerErrors, resetErrors} from '../../../../../utilities'
  import requests from '../../../../../requests'
  import spinner from '../../../../../../common/spinner'
  
  export default {
    name: "add-crypto-wallet",
    computed: mapGetters({
      availableCryptoCurrencies:'getAvailableWithdrawalCryptoCurrenciesForAddition'
    }),
    props: {
      element: {
        type: Object,
        required: false
      },
      currency: {
        type: String,
      }
    },
    data () {
      return {
        currencies: [],
        isOpenCurrenciesSelect: false,
        form: {
          id: '',
          name: '',
          address: '',
          currency: ''
        },
        errors: []
      }
    },
    created () {
      this.form.currency = this.currency
      if (this.element) {
        formLoader(this.form, this.element)
      } else {
        this.resetForm()
        this.setCurrencies(this.currency)
      }
    },
    watch: {
      currenciesByType() {
        this.setCurrencies();
      },
      element() {
        if (this.element) {
          formLoader(this.form, this.element)
        } else {
          this.resetForm();
          this.setCurrencies();
        }
      },
      currency: {

        handler () {
          this.setCurrencies(this.currency)
        },
        immediate: true
      }
    }, 
    methods: {
      resetForm () {
        this.form.id = null;
        this.form.name = null;
        this.form.address = null;
        this.form.currency = '';
      },
      setCurrencies(currency = null) {
        this.currencies = this.availableCryptoCurrencies
        this.form.currency = this.currencies.length > 0 ? this.currencies[0] : ''
        if (currency) {
          this.form.currency = currency
        }
      },
      openCurrenciesSelect () {
        this.isOpenCurrenciesSelect = !this.isOpenCurrenciesSelect
      },
      selectCurrency (currency) {
        this.form.currency = currency
      },
      closeModal() {
        this.$emit('close-modal')
      },
      checkUserLimits() {
        let errorText = 'You cannot create a crypto account of this type. Please contact support.'
        let cryptoLimit = this.userLimits.crypto_bill[this.form.currency]
        if (cryptoLimit === undefined) {
          this.errors.push(errorText)
          return false
        }else{
          return true
        }
      },
      sendFormData() {
        spinner.toggle(true);
        resetErrors(this.$refs);
        this.errors = [];

        requests.dashboard.profile.postChangeCryptoRequisites(this.form)
          .then(({ data }) => {
            this.successMessage = data.message
            this.$store.dispatch('addCryptoRequisite', data.requisite).then(() => {
              this.$emit('close-modal')
              this.$emit('select-crypto-requisite', data.requisite)
              this.$store.dispatch('setCryptoWalletForPayment', data.requisite)
              this.resetForm()
              spinner.toggle(false)
            }).catch(() => {
              this.$emit('close-modal')
              spinner.toggle(false)
            });
          })
          .catch(({response}) => {
            this.errors = handlerErrors(this.$refs, response.data.errors);
            spinner.toggle(false);
          });
      },
    }
  }
</script>
