<template>
  <div>
    <div class="modal-header text-left">
      <div class="row w-100">
        <div class="col-12 ">
          <h6 class="font-weight-bold text-black align-middle">{{$t("words.payments")}}</h6>
        </div>
      </div>
      <div class="row w-100">
        <div class="col-12 text-black">
          <span>{{$t("words.amount_sum")}}: {{amount_total|formatMoney(currency)}} {{currency | getCurrencyAlias}}</span>

          <img class="align-middle" v-if="form.card_system==='VISA'" src="/assets/images/visa.png" width="40px">
          <img class="align-middle" v-if="form.card_system==='MASTERCARD'" src="/assets/images/mastercard-logo.png"
               width="40px">
          <h6 class="text-danger error-msg align-middle" v-if="invalidCardSystem">{{form.card_system}}</h6>
        </div>
      </div>
    </div>
    <div class="modal-body mb-3">
      <form class="form-custom black row align-items-end" ref="cardForm" @submit.prevent>
        <div class="col-md-5 p-0 mb-4"
             style="margin-left: 15px; margin-right: 15px"
        >
          <div class="form-control-custom"
               style="margin-bottom: 0"
          >
            <small class="text-silver d-block text-left">{{ $t("dashboard.profile.card_number") }}</small>
            <input placeholder="XXXX XXXX XXXX XXXX" v-model="form.card_number" ref="field_card_number" id="card_number"
                   style="border-bottom: none"
                   name="card_number" required :disabled="!editable"
            />
          </div>
          <div class="error-msg error-msg--black font-weight-bold" ref="error_card_number"></div>
        </div>

        <div class="col-md-5 p-0 mb-4"
             style="margin-left: 15px; margin-right: 15px"
        >
          <div class="form-control-custom"
               style="margin-bottom: 0"
          >
            <small class="text-silver d-block text-left">{{ $t("dashboard.profile.card_holder") }}</small>
            <input :placeholder="$t('dashboard.profile.name_lastname')" v-model.lazy="form.card_holder"
                   style="border-bottom: none"
                   ref="field_card_holder" name="card_holder"
                   required :disabled="!editable"
            />
          </div>
          <div class="error-msg error-msg--black font-weight-bold" ref="error_card_holder"></div>
        </div>

        <div class="col-md-2 p-0 mb-4"
             style="margin-left: 15px; margin-right: 15px"
        >
          <div class="form-control-custom"
               style="margin-bottom: 0;"
          >
            <small class="text-silver d-block text-left">{{ $t("dashboard.profile.cardExpire") }}</small>
            <input placeholder="MM/YY" v-model="cardExpire" ref="field_card_expire_year" minlength="5" maxlength="5"
                   style="border-bottom: none"
                   name="card_expire"
                   required :disabled="!editable"
            />
          </div>
          <div class="error-msg error-msg--black font-weight-bold" ref="error_card_expire_year"></div>
        </div>

        <div class="col-md-2 p-0 mb-4"
             style="margin-left: 15px; margin-right: 15px"
        >
          <div class="form-control-custom"
               style="margin-bottom: 0"
          >
            <small class="text-silver d-block text-left">CVV</small>
            <input type="password" placeholder="***" v-model.lazy="form.card_cvv" ref="field_card_cvv" maxlength="3"
                   minlength="3"
                   style="border-bottom: none"
                   name="card_cvv"
                   required
                   :disabled="!editable"
            />
          </div>
          <div class="error-msg error-msg--black font-weight-bold" ref="error_card_cvv"></div>
        </div>

        <div class="col-md-5 p-0"
             style="margin-left: 15px; margin-right: 15px"
        >
          <div class="form-control-custom"
               style="margin-bottom: 0"
          >
            <small class="text-silver d-block text-left">E-mail</small>
            <input type="text"
                   placeholder="E-mail"
                   v-model.lazy="form.email"
                   ref="field_email"
                   style="border-bottom: none"
                   name="email"
                   required
                   :disabled="!editable"
            />
          </div>
          <div class="error-msg error-msg--black font-weight-bold" ref="error_email"></div>
        </div>
      </form>
    </div>
    <error-view :errors="errors"></error-view>
    <div class="modal-footer">
      <div class="d-flex w-100 justify-content-between column-mobile mt-3">
        <button v-if="editable"
                @click="sendFormData"
                class="btn btn-primary"
                :disabled="!isDisableSend"
        >{{ $t('words.pay') }}</button>
        <button @click="closeModal"
                type="button"
                class="btn text-dark font-weight-bold"
        >{{ $t('dashboard.profile.cancel') }} -</button>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import {formLoader, handlerErrors, inputValidator, resetErrors, formatMoney, getCurrencyAlias} from '../../../../../utilities'
  import requests from '../../../../../requests'
  import spinner from '../../../../../../common/spinner'
  import UploadFile from '../UploadFile'
  import {submitFormWithRedirect, handleErrorForAlert} from '@/main/utilities'
  import alert from '../../../../../../common/sweet-alert'
  import _ from 'underscore'

  export default {
    name: "payment-external",
    components: {UploadFile},
    computed: {
      ...mapGetters({
        callback_url: 'getCallbackUrl'
      }),
      listRules () {
        return [
          this.$t("dashboard.profile.text81"),
          this.$t("dashboard.profile.text35"),
          this.$t("dashboard.profile.text36"),
          this.$t("dashboard.profile.text37"),
          this.$t("dashboard.profile.text38"),
          this.$t("dashboard.profile.text39"),
          this.$t("dashboard.profile.text40"),
        ]
      },
      isDisableSend() {
        const regEmail = new RegExp('[^@ \\t\\r\\n]+@[^@ \\t\\r\\n]+\\.[^@ \\t\\r\\n]+')
        return Array.isArray(this.form.email.match(regEmail))
      }

    },
    props: {
      element: {
        type: Object,
        required: false
      },
      editable: {
        type: Boolean,
        default: true
      }
    },
    data() {
      return {
        cardExpire: '',
        invalidCardSystem: true,
        agreement: false,
        documents: {
          card_selfie: [],
          card_photo: [],
          card_video: [],
          additional_documents: [],
        },
        form: {
          id: '',
          card_holder: '',
          card_number: '',
          card_expire_month: '',
          card_expire_year: '',
          card_cvv: '',
          card_system: '',
          email:'',
        },
        errors: [],
        cardNumberStateLoaded: false,
        amount_total: null,
        currency: null
      }
    },
    created() {
      if (this.element) {
        formLoader(this.form, this.element)
        this.form.card_number = this.element.card_number_public
        this.cardNumberStateLoaded = true;
        this.setDocuments();
        this.cardExpire = this.element.card_expire_month + '/' + this.element.card_expire_year
      } else {
        this.resetForm();
      }
      if (this.editable) {
        if (!this.documents.card_photo.length) {
          this.documents.card_photo.push({})
        }
        if (!this.documents.card_selfie.length) {
          this.documents.card_selfie.push({})
        }
        if (!this.documents.card_video.length) {
          this.documents.card_video.push({})
        }
      }
    },
    mounted() {
      //this.$refs.field_name.focus()
      this.check() // comments
    },
    watch: {
      form: {
        handler() {
          resetErrors(this.$refs)
        },
        deep: true

      },
      element() {
        if (this.element) {
          this.resetForm();
          formLoader(this.form, this.element)
          this.setDocuments();
          this.cardExpire = this.element.card_expire_month + '/' + this.element.card_expire_year
          this.form.card_number = this.form.card_number.match(/\d{1,4}/g).join(' ')
        } else {
          this.resetForm();
        }
        if (this.editable) {
          if (!this.documents.card_photo.length) {
            this.documents.card_photo.push({})
          }
          if (!this.documents.card_selfie.length) {
            this.documents.card_selfie.push({})
          }
          if (!this.documents.card_video.length) {
            this.documents.card_video.push({})
          }
        }
      },
      cardExpire(cardExpire, previousCardExpire) {
        if (this.cardExpire.length < 3 && !this.cardExpire.match('^[0-9]{0,2}$')) {
          this.cardExpire = previousCardExpire;
        } else if (this.cardExpire.length === 2 && previousCardExpire.length !== 3) {
          this.cardExpire += '/';
        } else if (this.cardExpire.length === 3 && previousCardExpire.length === 4) {
          this.cardExpire = this.cardExpire.replace('/', '');
        } else if (this.cardExpire.length >= 3 && !this.cardExpire.match('^[0-9]{2}\/[0-9]?[0-9]?$')) {
          if (this.cardExpire.length === 3 && this.cardExpire.slice(-1).match('[0-9]')) {
            this.cardExpire = previousCardExpire + '/' + this.cardExpire.slice(-1)
          } else {
            this.cardExpire = previousCardExpire
          }
        }
      },
      'form.card_number'(currentValue, previousValue) {
        if (this.element) {
          if (previousValue) {
            if (previousValue === this.element.card_number_public && this.cardNumberStateLoaded) {
              this.form.card_number = ''
              this.cardNumberStateLoaded = false
            } else {
              let lengthPrevious = previousValue.replace(/\s/g, '').length;
              if (lengthPrevious % 4 === 0 && currentValue.length > previousValue.length && !currentValue.slice(-1).match(/\s/)) {
                this.form.card_number = this.form.card_number.slice(0, -1) + ' ' + this.form.card_number.slice(-1);
              }
              let lengthCurrent = currentValue.replace(/\s/g, '').length;
              if (lengthCurrent % 4 === 0 && currentValue.length < previousValue.length && currentValue.slice(-1).match(/\s/)) {
                this.form.card_number = this.form.card_number.slice(0, -1);
              }
            }
          }

        }
        if (this.form.card_number.length > 0) {
          if (this.form.card_number.match(/^4/)) {
            this.form.card_system = 'VISA'
            this.invalidCardSystem = false
          } else if (this.form.card_number.match(/^5/)) {
            this.form.card_system = 'MASTERCARD'
            this.invalidCardSystem = false
          } else {
            this.form.card_system = 'Unsupported card system. Only Visa & MasterCard accepted.'
            this.invalidCardSystem = true
          }
        } else {
          this.form.card_system = ''
          this.invalidCardSystem = true
        }

      },
      'form.card_cvv'(currentValue) {
        this.form.card_cvv = currentValue.replace(/[^0-9]/g, '')
      },
      'form.card_holder'(currentValue) {
        if (currentValue) {
          this.form.card_holder = currentValue.replace(/[^a-z\s.]/gi, '')
        }
      }
    },
    methods: {
      inputValidator,
      resetForm() {
        this.form = {
          id: '',
          card_holder: '',
          card_number: '',
          card_expire_month: '',
          card_expire_year: '',
          card_cvv: '',
          card_system: '',
          email: '',
          hash: this.$route.params.hash
        };
        this.documents = {
          card_selfie: [],
          card_photo: [],
          card_video: [],
          additional_documents: []
        }
        this.cardExpire = ''
        this.errors = []
        this.invalidCardSystem = false
      },
      closeModal() {
        resetErrors(this.$refs);
        this.$emit('close-modal');
      },
      collectDocumentsFiles() {
        let documents = {
          card_selfie: [],
          card_photo: [],
          card_video: [],
          additional_documents: []
        };
        documents.card_selfie = this.$refs.card_selfie[0].getFile()
        documents.card_photo = this.$refs.card_photo[0].getFile()
        documents.card_video = this.$refs.card_video[0].getFile()
        _.each(this.$refs.additionalDocument, (element) => {
          documents.additional_documents.push(element.getFile())
        })

        return documents;
      },
      setDocuments() {
        if (typeof this.element.documents === 'object' && this.element.documents !== null) {
          _.each(this.element.documents, (document) => {
            this.documents[document.type].push(document)
          })
        }
      },
      updateDocument(file) {
        if (this.element.documents.length) {
          for (let d = 0; d < this.element.documents.length; d++) {
            if (this.element.documents[d].path === file.filename) {
              Vue.delete(this.element.documents, d)
            }
          }
        }
      },
      checkDocuments(documents) {
        let empty = [];
        if (this.element !== null) {
          if (this.element.status === "CANCELED") {
            if (this.element.documents.length === 0) {
              if (documents.card_selfie == null) {
                empty.push(1)
              }
              if (documents.card_photo == null) {
                empty.push(2)
              }
            } else if (this.element.documents.length < 2 && this.element.documents.length > 0) {
              if (this.element.documents[0].type === 'card_selfie' && documents.card_photo == null) {
                empty.push(3)
              }
              if (this.element.documents[0].type === 'card_photo' && documents.card_selfie == null) {
                empty.push(3)
              }
            }
          }
        } else {
          if (documents.card_selfie === null) {
            empty.push(1)
          }
          if (documents.card_photo === null) {
            empty.push(2)
          }
        }
        return empty
      },
      sendFormData() {

        if (this.cardExpire.length === 5) {
          this.form.card_expire_month = this.cardExpire.split('/')[0]
          this.form.card_expire_year = this.cardExpire.split('/')[1]
        }

        this.form.card_number = this.form.card_number.replace(/\s/g, '')

        // let documents = this.collectDocumentsFiles()
        let data = new FormData(this.$refs.cardForm)
        // data.delete('documents[]')
        //
        // let checkDocs = this.checkDocuments(documents)
        // if (checkDocs.length) {
        //   this.errors = handlerErrors(this.$refs,
        //     [{code: 9030, params: {"0": checkDocs.length}}]
        //   );
        // } else {
        //   this.errors = []
        // }

        const isEmptyInput = Object.keys(this.form).map(key => {
          if (this.form[key] === '' && this.$refs[`error_${key}`]) {
            this.$refs[`error_${key}`].innerText = this.$t('errors.9000')
            return true
          } else if (this.form[key] !== '' && this.$refs[`error_${key}`]) {
            this.$refs[`error_${key}`].innerText = ''
            return false
          }
        })

        if (isEmptyInput.includes(true)) {
          return
        }

        spinner.toggle(true);

        // _.each(documents, (document, key) => {
        //   data.append(`documents[${key}]`, document)
        //   if (Array.isArray(document)) {
        //     data.delete('documents[additional_documents]')
        //     _.each(document, (subDoc) => {
        //       data.append(`documents[${key}][]`, subDoc)
        //     })
        //   }
        // })

        Object.keys(this.form).map(key => {
          data.append(key, this.form[key])
        })

        resetErrors(this.$refs);

        requests.dashboard.paymentExternalBill(this.form)
        .then(({data}) => {
          this.resetForm();
          this.$emit('close-modal');
          if (data.redirect) {
            submitFormWithRedirect(data.data.action, data.data.value)
          } else {

          }
        })
        .catch(({response}) => {
          if (typeof response.data.errors !== 'undefined') {
            this.showErrors(handlerErrors(this.$refs, response.data.errors))
          } else {
            alert.error(response.data.message)
          }
        }).finally(() => {
          spinner.toggle(false);
        });
      },
      showErrors(errors) {
        let text
        if (typeof errors === 'string') {
          text = errors
        }
        else{
          errors.map(error => {
            if (typeof error.field === 'undefined') {
              text = error
            }
          })
        }
        if(text) alert.error(text)
      },
      onAddAdditionalDocument() {
        if (this.documents.additional_documents.length < 5) {
          this.documents.additional_documents.push({})
        }
      },
      check() {
        spinner.toggle(true)
        requests.dashboard.getExternalBill({hash: this.$route.params.hash})
          .then(res => {
            this.amount_total = res.data.data.amount_total
            this.currency = res.data.currency.name
          })
          .catch(({response}) => {
            this.showErrors(handleErrorForAlert(response.data.errors))
            this.closeModal()
            //window.location.href = '/'
          })
          .finally(() => {
            spinner.toggle(false)
          })


        this.$store.dispatch('setPaymentTypeForPayment', 'external_deposit')
        this.$store.dispatch('setSelectedCheckboxModal', false)
        this.$scrollBody('hidden')
      },
    },
    filters: {
      formatMoney,
      getCurrencyAlias
    },
  }
</script>

