<template>
  <div v-if="invest">
    <div v-if="link"
         class="modal-body"

    >
      <div class="d-flex">
        <VueQRCodeComponent
            style="width: 90px;height: 100%;"
            :text="link"
            :size="90"
            color="#000000"
            bg-color="#ffffff"
            error-level="L"
        >
        </VueQRCodeComponent>
        <div class="d-flex align-items-center invest-box">
          <span class="invest-box__sum">{{ $t("dashboard.profile.amount") }}</span>
          <input class="accept"
                 style="text-align: center; border: 1px solid #c5c5c5;"
                 v-model="form.amount"
                 @input="onExistsUserByAttribute($event)"
                 @focus.native="onResetElementState($event)"
                 type="number"
          >
          <span class="invest-box__currency">{{ invest.currency }}</span>
        </div>
      </div>
      <div class="d-flex mt-3 align-items-end justify-content-between text-black link-activation-invest">
        <div v-if="invest"
             class="d-flex flex-column"
        >
          <small class="text-silver font-weight-bold">{{ $t("dashboard.profile.link_investment") }}</small>
          <span v-if="showedFullActivatedLink">{{ link }}</span>
          <span v-else>{{ link ? link.substr(0,30) : '' }} ...</span>
        </div>
        <div class="d-flex">
          <div style="margin-right: 15px;">
            <i :class="{'icon-eye-open': !showedFullActivatedLink, 'icon-eye-close': showedFullActivatedLink}"
               style="font-size: 24px"
               @click="toggleShowFullActivatedLink"
            />
          </div>
          <div>
            <a class="text-black font-weight-bold"
               style="text-decoration: underline"
               href="#"
               @click.prevent="copyActivationUrl"
            >{{ $t("dashboard.profile.copy") }}</a>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <form class="form-custom black"
                @submit.prevent
          >
            <div class="form-control-custom">
              <div class="d-flex flex-column">
                <small class="d-block text-silver">{{ invest.currency + ' ' + $t("dashboard.profile.wallet") }}</small>
                <div class="d-flex">
                  <label class="mt-2">
                    <input type="radio"
                           value="email"
                           @click="changeHandler('email')"
                           v-model="form.send_type"
                    >
                    <div class="radio__button"></div>
                    <span>E-mail</span>
                  </label>
                  <label class="mt-2">
                    <input type="radio"
                           value="phone_number"
                           @click="changeHandler('phone_number')"
                           v-model="form.send_type"
                    >
                    <div class="radio__button"></div>
                    <span>{{ $t("dashboard.profile.phone") }}</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-control-custom accept-password position-relative">
              <small class="text-silver">{{ $t("dashboard.profile.comment") }}</small>
              <textarea class="form-control"
                        v-model="form.comment"
              ></textarea>
              <small class="float-left font-weight-bold d-block w-100"
                     ref="error_value"
              ></small>
            </div>
            <div class="form-control-custom accept-password position-relative">
              <small v-if="form.send_type === 'phone_number'"
                     class="text-silver"
              >{{ $t("dashboard.profile.phone") }}</small>
              <small v-if="form.send_type === 'email'"
                     class="text-silver"
              >Email</small>
              <input class="accept"
                     v-model="form.contact_information"
                     @input="onExistsUserByAttribute($event)"
                     @focus.native="onResetElementState($event)"
                     @keydown.enter="addMemberToInvest"
              >
              <input-spinner :showen="inputSpinner"/>
              <small class="float-left font-weight-bold d-block w-100"
                     ref="error_value"
              ></small>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer"
         style="padding-bottom: 1rem;"
    >
      <div class="d-flex w-100 justify-content-between align-items-center">
        <button class="btn btn-primary btn-accepted mr-md-5 mr-sm-0"
                @click="addMemberToInvest"
                :disabled="!isValidType"
        >{{ $t('words.send') }}</button>
        <a class="font-weight-bold link-black"
           href="#"
           @click="close"
        >{{ $t("dashboard.profile.close") }} —</a>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import {formatMoney, getCurrencyAlias, getCurrencySymbol, copy} from '../../../../utilities'
  import alert from '../../../../../common/sweet-alert'
  import spinner from '../../../../../common/spinner'
  import requests from '../../../../requests'
  import VueQRCodeComponent from 'vue-qrcode-component'
  import {handleErrorForAlert} from "@/main/utilities"

  export default {
    name: "add-investments-member-modal",
    components: {
      VueQRCodeComponent
    },
    computed: {
      ...mapGetters({
        invest_id: 'getIdForAddMemberToInvest',
        appUrl: 'getAppUrl',
      }),
      link() {
        return `${this.appUrl}dashboard/profile?ia=${this.link_hash}`
      },
    },
    data() {
      return {
        showedFullActivatedLink: false,
        isValidType: false,
        inputSpinner: false,
        form: {
          send_type: 'phone_number',
          amount: null,
          contact_information: null,
          comment: null,
        },
        invest: null,
        link_hash: null,
      }
    },
    methods: {
      close() {
        this.$emit('close-modal')
      },

      toggleShowFullActivatedLink() {
        this.showedFullActivatedLink = !this.showedFullActivatedLink;
      },
      copyActivationUrl() {
        copy(this.link);
        alert.success(this.$i18n.translate("dashboard.profile.investment.link"));
      },
      addMemberToInvest() {
        spinner.toggle(true);
        requests.dashboard.profile.postAddNewMemberToInvest({
          user_invest_id : this.invest.id,
          contact_information : this.form.contact_information,
          amount : this.form.amount,
          comment : this.form.comment,
          send_type: this.form.send_type,
          link_hash : this.link_hash}, false)
          .then(({data}) => {
            alert.success(this.$i18n.translate("dashboard.profile.investment.add_member_to_invest"))
            this.$store.dispatch('updateUserData').then(() => {
              this.$store.dispatch('getInvestsList')
              this.close()
            });
          })
          .catch(({ response }) => {
            alert.error(handleErrorForAlert(response.data.errors))
          }).finally( () => {
          spinner.toggle(false)
        });
      },
      onExistsUserByAttribute(event) {
        clearTimeout(this.timeout)

        this.isValidType = false
        this.timeout = setTimeout(
          () => this.existsUserByAttribute(event),
          1000
        )
      },
      existsUserByAttribute() {
        const request = {
          attribute: this.form.send_type,
          value: this.form.contact_information
        };

        this.inputSpinner = true
        this.onResetElementState()
        requests.authenticate.postExistsUserByAttribute(request)
          .then(({data}) => {
            this.setElementValidState(data)
            this.isValidType = data.exists
          }).catch(() => {
          this.onResetElementState()
        }).finally(() => {
          this.inputSpinner = false
        })
      },
      onResetElementState() {
        this.$refs.error_value.innerHTML = ''
      },
      setElementValidState(data) {
        if (!data.exists) {
          this.$refs.error_value.innerHTML = this.$i18n.translate("main.user_not_exist")
        } else {
          this.onResetElementState();
        }
      },
      changeHandler(send_type){
        if(this.form.send_type !== send_type) {
          this.form.contact_information = '';
          this.onResetElementState();
        }
      }
    },
    mounted(){
      if(this.invest && typeof this.invest.comment !== 'undefined') {
        this.form = {
          comment: this.invest.comment,
          send_type: (this.invest.send_type !== null &&
          this.invest.send_type.indexOf('@') !== -1 ? 'email' : 'phone_number'),
          contact_information: '',
          amount: 0,
          link: '',
        }

        this.isValidType = true;
      }
    },
    created() {
      this.$scrollBody('hidden')
      requests.dashboard.profile.getInvesById({'user_invest_id' : this.invest_id})
        .then(res => {
          this.invest = res.data.user_invest
        })
        .catch(err => console.log(err))
      let characters = 'abdehkmnpswxzABDEFGHKMNPQRSTWXZ123456789'
      let hash = ''
      while (hash.length < 32) {
        let pos = Math.floor(Math.random() * characters.length)
        hash += characters.substring(pos, pos + 1)
      }
      this.link_hash = hash
    },
    destroyed() {
      this.$scrollBody('auto')
    },
    filters: {
      getCurrencySymbol,
      getCurrencyAlias,
      formatMoney
    },
  }
</script>

<style scoped>

</style>
