<template>
  <div class="table-invest-wrapp--mob mt-5">
    <table class="table table-invest table-invest--mob">
      <thead>
        <th class="lp-hidden"><small class="text-silver">{{ $t("dashboard.profile.investment.created") }}</small></th>
        <th><small class="text-silver">{{ $t("dashboard.profile.investment.tariff_name") }}</small></th>
        <th><small class="text-silver">{{ $t("dashboard.profile.investment.status") }}</small></th>
        <th class="mb-hidden"><small class="text-silver">{{ $t("dashboard.profile.investment.monthly_percentage") }}</small></th>
        <th class="mb-hidden"><small class="text-silver">{{ $t("dashboard.profile.investment.invest_term") }}</small></th>
        <th><small class="text-silver">{{ $t("dashboard.profile.investment.amount") }}</small></th>
        <th class="mb-hidden"><small class="text-silver">{{ $t("dashboard.profile.investment.income") }}</small></th>
        <th><small class="text-silver">{{ $t("dashboard.profile.actions") }}</small></th>
      </thead>
      <tbody  v-for="(contrib, index) in contributions">
        <tr v-if="contrib.parent_invest_id === null || ((contrib.user_id === user.id) && (contrib.send_type !== 'self'))"
            style="background-color: #f5f3f9 !important;">
          <td class="lp-hidden"><span>{{ contrib.created_at }}</span></td>
          <td><span>{{ contrib.name + (contrib.parent_invest_id !== null ? ' (P)' : '') }}</span></td>
          <td><span>{{ status(contrib.status) }}</span></td>
          <td class="mb-hidden"><span>{{ parseFloat(contrib.percent_1m).toFixed(2) }}</span></td>
          <td class="mb-hidden"><span>{{ contrib.month }} {{ $t('dashboard.profile.investment.months') }}</span></td>
          <td><span>{{ contrib.amount|formatMoney(contrib.currency) + ((contrib.send_type === 'main') ? '/' + parseFloat(contrib.tariff.minimum).toFixed(2) : '') +  ' ' + contrib.currency}}</span></td>
          <td class="mb-hidden"><span>{{ contrib.income|formatMoney(contrib.currency) }} {{ contrib.currency }}</span></td>
          <td>
            <div v-if="contrib.send_type !== 'main'"
              @click="openMoreInfoModal(contrib.id)" class="voucher-item text-center">
              <i class="icon-eye-open mr-1 cursor-pointer" :title="$t('dashboard.profile.investment.more')"></i>
            </div>
            <div v-else @click="openAddInvestMemberModal(contrib.id)" class="voucher-item text-center">
              <i class="icon-circle-plus mr-1 cursor-pointer" :title="$t('dashboard.profile.add')"></i>
            </div>
          </td>
        </tr>
        <tr v-for="(contribParent, contribParentIndex) in contributions"
            v-if="contrib.id === contribParent.parent_invest_id"
            style="background-color: #e4e4ee !important;">
          <td class="mb-hidden"></td>
          <td class="lp-hidden"><span>{{ '* ' + contribParent.created_at }}</span></td>
          <td><span>{{ shortName(contribParent.user) }}</span></td>
          <td><span>{{ contribParent.amount|formatMoney(contrib.currency) }} {{contrib.currency}}</span></td>
          <td class="mb-hidden"><span>{{ contribParent.month }} {{ $t('dashboard.profile.investment.months') }}</span></td>
          <td><span>{{ status(contribParent.status) }}</span></td>
          <td class="mb-hidden"><span>{{ contribParent.income|formatMoney(contribParent.currency)  }} {{ contribParent.currency }}</span></td>
          <td>
            <div @click="openMoreInfoModal(contribParent.id)" class="voucher-item text-center">
              <i class="icon-eye-open mr-1 cursor-pointer" :title="$t('dashboard.profile.investment.more')"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import spinner from "../../../../../common/spinner";
  import requests from "../../../../requests";
  import { formatMoney} from '../../../../utilities'
  export default {
    name: "ContribTable",
    computed: {
      ...mapGetters({
        user: 'getUser',
        contributions: 'getInvestsList'
      })
    },
    methods: {
      status(code) {
        if (code === 0) {
          return this.$t('dashboard.profile.investment.not_active')
        } else if (code === 1) {
          return this.$t('dashboard.profile.investment.active')
        } else if (code === 5) {
          return this.$t('dashboard.profile.investment.closed')
        } else if (code === 10) {
          return this.$t('dashboard.profile.investment.complete')
        }
      },
      shortName(user) {
        let user_surname = user.surname ? user.surname : '';
        let user_name = user.name ? user.name[0] : '';
        let user_patronymic = user.patronymic ? user.patronymic[0] : '';
        return `${user_surname} ${user_name} ${user_patronymic}`
      },
      openMoreInfoModal(id) {
        this.$store.commit('setIdForMoreInfo', id)
        this.$emit('open-modal')
      },
      openAddInvestMemberModal(id) {
        this.$store.commit('setIdForAddMemberToInvest', id)
        this.$emit('add-investments-member-modal')
      }
    },
    created() {
      spinner.toggle(true)
      if (typeof this.$route.query.ia !== 'undefined') {
        requests.dashboard.profile.preActivateInvestment({'link_hash': this.$route.query.ia})
          .then(res => {
            if (res.data && res.data.user_invest_id) {
              this.openMoreInfoModal(res.data.user_invest_id)
            }
          })
          .catch(err => {
            console.log(err)
          }).finally(() => {
          spinner.toggle(false)
        });
      }
      spinner.toggle(false)
    },
    destroyed() {
      delete this.$route.query.ia
    },
    filters: {
      formatMoney
    },
  }
</script>
