<template>
  <div>
    <div class="modal-body">
      <div class="form-custom black accepted-items">
        <div class="form-control-custom accepted-item">
          <!--   select tariff   -->
          <div class="dropdown-select border-0">
            <div class="text-black border-0 w-100 d-flex flex m-0 align-items-center justify-content-between exchange-block">
              <div class="d-flex flex-column w-100">
                <div>
                  <span class="font-weight-bold mr-1 d-block">{{ $t("dashboard.profile.investment.tariff") }}</span>
                </div>
                <div @click="openCloseSelectTariff" class="d-flex border-bottom-silver align-items-center justify-content-between exchange-block">
                  <input type="hidden" disabled>
                  <div class="w-100 border-0 text-silver pt-1">{{ currentTariff }}</div>
                  <i v-if="!openSelectTariff" class="fas fa-caret-down"></i>
                  <i v-else class="fas fa-caret-up"></i>
                </div>
              </div>
            </div>
            <ul v-if="openSelectTariff" class="text-black font-weight-bold">
              <li v-for="name in tariffNames" :key="name"
                  @click="chooseTariff(name)"
                  class="pl-2 pr-2"
              >{{ name }}</li>
            </ul>
          </div>
        </div>
        <!--   select period   -->
        <div class="form-control-custom accepted-item">
          <div class="dropdown-select border-0">
            <div class="text-black border-0 w-100 d-flex flex m-0 align-items-center justify-content-between exchange-block">
              <div class="d-flex flex-column w-100">
                <div>
                  <span class="font-weight-bold mr-1 d-block">{{ $t("dashboard.profile.investment.period") }}</span>
                </div>
                <div @click="openCloseSelectPeriod" class="d-flex border-bottom-silver align-items-center justify-content-between exchange-block">
                  <input type="hidden" disabled>
                  <div class="w-100 border-0 text-silver pt-1">{{ currentPeriod }}</div>
                  <span class="border-0 text-silver pt-0 mr-1">{{ $t("dashboard.profile.investment.months") }}</span>
                  <i v-if="!openSelectPeriod" class="fas fa-caret-down"></i>
                  <i v-else class="fas fa-caret-up"></i>
                </div>
              </div>
            </div>
            <ul v-if="openSelectPeriod" class="text-black font-weight-bold h-auto">
              <li v-for="period in tariffPeriods" :key="period"
                  @click="choosePeriod(period)"
                  class="pl-2 pr-2">{{ period }}</li>
            </ul>
          </div>
        </div>
        <!--   input amount and info tariff   -->
        <div class="col-lg-12 col-md-12 mb-md-0 mb-4 pl-0 pr-0">
          <!--   input amount   -->
          <div class="form-custom black mb-5">
            <div class="form-control-custom mb-0">
              <div class="d-flex flex-column w-100 white-shadow">
                <div class="d-flex border-bottom-silver align-items-center justify-content-between position-relative">
                  <input :placeholder="$t('dashboard.profile.amount')"
                         class="w-100 border-0 text-silver pt-1 hide-custom-input"
                         name="amount"
                         v-model="amount"
                         type="number"
                  >
                  <span class="border-0 text-silver pt-0 span-absolut">{{ tariffInfo.currency }}</span>
                </div>
              </div>
            </div>
          </div>
          <!--   info tariff   -->
          <div class="mb-3 modal-box-w100">
            <div class="w-100">
              <span>{{ $t("dashboard.profile.investment.minimum_investment_amount") }}:</span>
              <div class="float-right">{{ tariffInfo.minInvest }} {{ tariffInfo.currency }}</div>
            </div>
            <template>
              <div class="w-100" v-if="tariffInfo.currency === 'CFX'">
                <span>{{ $t("dashboard.profile.investment.modal_annual_percentage") }}:</span>
                <div class="float-right">{{ tariffInfo.annualPercent }} %</div>
              </div>
              <div class="w-100" v-else>
                <span>{{ $t("dashboard.profile.investment.annual_percentage") }}:</span>
                <div class="float-right">{{ tariffInfo.annualPercent }} %</div>
              </div>
            </template>
            <template>
              <div class="w-100" v-if="tariffInfo.currency === 'CFX'">
                <span>{{ $t("dashboard.profile.investment.modal_monthly_percentage") }}:</span>
                <div class="float-right">{{ tariffInfo.monthPercent }} %</div>
              </div>
              <div class="w-100" v-else>
                <span>{{ $t("dashboard.profile.investment.monthly_percentage") }}:</span>
                <div class="float-right">{{ tariffInfo.monthPercent }} %</div>
              </div>
            </template>
            <div class="w-100">
              <span>{{ $t("dashboard.profile.investment.fix_fee") }}:</span>
              <div class="float-right">{{ tariffInfo.fixFee }} {{ tariffInfo.currency }}</div>
            </div>
            <div class="w-100">
              <span>{{ $t("dashboard.profile.investment.percent_fee") }}:</span>
              <div class="float-right">{{ commissionMultiplierForPayment }}%</div>
            </div>
            <div class="w-100">
              <span>{{ $t("dashboard.profile.investment.fee") }}:</span>
              <div class="float-right">{{ sumCommissionMultiplierForPayment }} {{ tariffInfo.currency }}</div>
            </div>
            <div class="w-100" v-if="tariffInfo.percent_3mb">
              <span>{{ $t("dashboard.profile.investment.bonus_percentage3") }}:</span>
              <div class="float-right">{{ parseFloat(tariffInfo.percent_3mb).toFixed(2) }} %</div>
            </div>
            <div class="w-100" v-if="tariffInfo.percent_6mb">
              <span>{{ $t("dashboard.profile.investment.bonus_percentage6") }}:</span>
              <div class="float-right">{{ parseFloat(tariffInfo.percent_6mb).toFixed(2) }} %</div>
            </div>
            <div class="w-100" v-if="tariffInfo.percent_12mb">
              <span>{{ $t("dashboard.profile.investment.bonus_percentage12") }}:</span>
              <div class="float-right">{{ parseFloat(tariffInfo.percent_12mb).toFixed(2) }} %</div>
            </div>
            <div class="w-100">
              <span>{{ $t("dashboard.profile.investment.minimum_replenishment_deposit") }}:</span>
              <div class="float-right">
                <template v-if="tariffInfo.minimumReplenishmentPercent">
                  {{ tariffInfo.minimumReplenishmentPercent }} %
                </template>
                <template v-else>
                  {{ tariffInfo.minReplenish }} {{ tariffInfo.currency }}
                </template>
              </div>
            </div>
            <div class="w-100">
              <span>{{ $t("dashboard.profile.investment.investment_term") }}:</span>
              <div class="float-right">{{ tariffInfo.investTerm }} {{ $t('dashboard.profile.investment.months')}}</div>
            </div>
          </div>
          <!-- checkbox partner -->
          <form class="form-custom" v-if="tariffInfo.group" style="display: none;">
            <div class="form-control-custom mb-3">
              <label class="w-100">
                <input type="checkbox" v-model="partnersInvestments">
                <div class="checkbox__button"></div>
                <span>{{ $t("dashboard.profile.investment.partners_investments") }}</span>
              </label>
            </div>
          </form>

          <form class="form-custom" v-if="tariffInfo.reinvestable">
            <div class="form-control-custom mb-3">
              <label class="w-100">
                <input type="checkbox" v-model="capitalizeInterest">
                <div class="checkbox__button"></div>
                <span>{{ $t("dashboard.profile.investment.capitalize_interest") }}</span>
              </label>
            </div>
          </form>
          <!-- checkbox agree contract -->
          <form class="form-custom">
            <div class="form-control-custom mb-3">
              <label class="w-100">
                <input type="checkbox" v-model="agreeContract">
                <div class="checkbox__button"></div>
                <span>{{ $t("dashboard.profile.investment.i_agree") }}</span>
                <a target="_blank" :href="'/documents/invest/'+getFile">{{ $t('dashboard.profile.investment.contract')}}</a>
              </label>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--   buttons   -->
    <div class="modal-footer" style="padding-top:0">
      <div class="d-flex w-100 justify-content-between align-items-center">
        <button class="btn btn-primary btn-accepted" :disabled="!agreeContract"
                @click="userInvest"
        >{{ $t("dashboard.profile.investment.invest") }}</button>
        <span @click="closeModal" class="text-black font-weight-bold mb-0" style="cursor: pointer"
        >{{ $t("dashboard.payments.text19") }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import requests from '../../../../requests'
import spinner from '../../../../../common/spinner'
import alert from '../../../../../common/sweet-alert'
import {handleErrorForAlert} from "@/main/utilities";
import RoundAmount from "../../../../classes/RoundAmount";

  export default {
    name: "InvestModal",
    data() {
      return {
        openSelectTariff: false,
        openSelectPeriod: false,
        agreeContract: false,
        capitalizeInterest: false,
        currentTariff: null,
        currentPeriod: null,
        partnersInvestments: false,
        amount: null,
      }
    },
    computed: {
      ...mapGetters({
        tariffs: 'getTariffs',
        currentLang:'getSelectedLang'
      }),
      getFile(){
        if(this.currentTariff === 'CFX') {
          if(this.currentLang === 'EN') return 'Offer Bitexfin.docx';
          else return 'Оферта Bitexfin.docx';
        }
          return this.currentTariff.replace(' ', '_').toUpperCase()+'_'+this.currentLang+'.docx';
      },
      tariffNames() {
        let result = []
        this.tariffs.map(item => {
          if (!result.includes(item.name)) {
            result.push(item.name)
          }
        })
        return result
      },
      commissionMultiplierForPayment() {
        return RoundAmount.floor10((this.tariffInfo.commission_multiplier * 100 - 100).toFixed(2), -2)
      },
      sumCommissionMultiplierForPayment() {
        return RoundAmount.floor10((this.tariffInfo.commission_multiplier * this.amount - this.amount).toFixed(2), -2)
      },
      tariffPeriods() {
        let result = []
        this.tariffs.map(item => {
          if (item.name === this.currentTariff) {
            result.push(item.month)
          }
        })
        return result
      },
      tariffInfo() {
        let result = {}
        this.tariffs.map(item => {
          if (item.name === this.currentTariff && item.month === this.currentPeriod) {             
            result['id'] = item.id
            result['minInvest'] = item.minimum
            result['currency'] = item.currency
            result['annualPercent'] = parseFloat(item.percent_12m).toFixed(2)
            result['monthPercent'] = parseFloat(item.percent_1m).toFixed(2)
            result['percent_3mb'] = item.percent_3mb ? parseFloat(item.percent_3mb).toFixed(2) : null
            result['percent_6mb'] = item.percent_6mb ? parseFloat(item.percent_6mb).toFixed(2) : null
            result['percent_12mb'] = item.percent_12mb ? parseFloat(item.percent_12mb).toFixed(2) : null
            result['fixFee'] = item.fix_fee
            result['minReplenish'] = item.min_replenish
            result['minimumReplenishmentPercent'] = item.minimum_replenishment_percent > 0 ? parseFloat(item.minimum_replenishment_percent).toFixed(2) : null
            result['investTerm'] = this.currentPeriod
            result['group'] = item.group
            result['commission_multiplier'] = item.commission_multiplier
            result['reinvestable'] = item.reinvestable
            result['reinvestment_by_default'] = item.reinvestment_by_default
          }
        })
        return result
      }
    },
    methods: {
      closeModal() {
        this.$emit('close-modal')
      },
      openCloseSelectTariff () {
        this.openSelectTariff = !this.openSelectTariff
      },
      openCloseSelectPeriod () {
        this.openSelectPeriod = !this.openSelectPeriod
      },
      chooseTariff(name) {
        this.currentTariff = name
        this.currentPeriod = this.tariffPeriods[0]
        this.openSelectTariff = false
        this.partnersInvestments = this.tariffInfo.group;
        this.capitalizeInterest = this.tariffInfo.reinvestment_by_default
      },
      choosePeriod(period) {
        this.currentPeriod = period
        this.openSelectPeriod = false
      },
      userInvest() {
        spinner.toggle(true)
        requests.dashboard.profile.postNewInvest({
              invest_tariff_id: this.tariffInfo.id,
              amount: this.amount,
              partners_investments: this.partnersInvestments,
              capitalizeInterest: this.capitalizeInterest
            },
            false).then(({response}) => {
              this.$store.dispatch('updateUserData').then(() => {
                this.$store.dispatch('getInvestsList')
                this.closeModal();
              })
          }).catch(({response}) => {
            alert.error(handleErrorForAlert(response.data.errors))
          }).finally( () => {
            spinner.toggle(false)
          });
      },
      normalizeAmount(val) {
        //Если это целое число, то ограничим 15
        if (val.indexOf('.')!==-1) {
          let v = val.split('.')
          if (v[0].length > 15) {
            val = v[0].substr(0, 15)+'.'+v[1]
          }
        }
        else if (val.length > 15 && (!isNaN(val) && Math.ceil(val) == val)) {
          val = val.substr(0, 15)
        }

        this.amount = val
      },
    },
    watch: {
      amount(val) {
        this.normalizeAmount(val)
      },
      openSelectTariff() {
        if (this.openSelectTariff) {
          this.openSelectPeriod = false
        }
      }
    },
    created() {
      this.currentTariff = this.tariffs[0].name
      this.currentPeriod = this.tariffs[0].month
      this.$scrollBody('hidden')
    },
    destroyed() {
      this.$scrollBody('auto')
    }
  }
</script>

