<template>
  <div class="main-bar w-100">
    <div class="modal-body" v-if="invest">
      <div class="mb-5 modal-box-w100">
        <div class="w-100">
          <span>{{ $t("dashboard.profile.investment.created") }}:</span>
          <div class="float-right modal-box-w30">{{ invest.created_at }}</div>
        </div>
        <div class="w-100">
          <span>{{ $t("dashboard.profile.investment.tariff_name") }}:</span>
          <div class="float-right modal-box-w30">{{ invest.name +
            (invest.parent_invest_id !== null ? ' (P)' : '') }}</div>
        </div>
        <div class="w-100">
          <span>{{ $t("dashboard.profile.investment.status") }}:</span>
          <div class="float-right modal-box-w30">{{ status }}</div>
        </div>
        <template>
          <div class="w-100" v-if="invest.currency === 'CFX'">
            <span>{{ $t("dashboard.profile.investment.modal_monthly_percentage") }}:</span>
            <div class="float-right modal-box-w30">{{ parseFloat(invest.percent_1m).toFixed(2) }} %</div>
          </div>
          <div class="w-100" v-else>
            <span>{{ $t("dashboard.profile.investment.monthly_percentage") }}:</span>
            <div class="float-right modal-box-w30">{{ parseFloat(invest.percent_1m).toFixed(2) }} %</div>
          </div>
        </template>
        <div class="w-100" v-if="invest.parent_invest_id === null">
          <span>{{ $t("dashboard.profile.investment.fix_fee") }}:</span>
          <div class="float-right modal-box-w30">{{ invest.fix_fee }} {{ invest.currency }}</div>
        </div>
        <div class="w-100" v-if="invest.parent_invest_id === null">
          <span>{{ $t("dashboard.profile.investment.percent_fee") }}:</span>
          <div class="float-right modal-box-w30">{{ commissionMultiplierForPayment }}%</div>
        </div>
        <div class="w-100" v-if="invest.parent_invest_id === null">
          <span>{{ $t("dashboard.profile.investment.fee") }}:</span>
          <div class="float-right modal-box-w30">{{ sumCommissionMultiplierForPayment }} {{ invest.currency }}</div>
        </div>
        <div class="w-100">
          <span>{{ $t("dashboard.profile.investment.amount") }}:</span>
          <div class="float-right modal-box-w30">{{ invest.amount |formatMoney(invest.currency) }}</div>
        </div>
        <div class="w-100" v-if="invest.status === 1">
          <span>{{ $t("dashboard.profile.investment.currency") }}:</span>
          <div class="float-right modal-box-w30">{{ invest.currency }}</div>
        </div>
        <div class="w-100" v-if="invest.status !== 0">
          <span>{{ $t("dashboard.profile.investment.income") }}:</span>
          <div class="float-right modal-box-w30">{{ invest.income|formatMoney(invest.currency )}} {{ invest.currency }}</div>
        </div>
        <div class="w-100" v-if="invest.status === 1">
          <span>{{ $t("dashboard.profile.investment.date_next_pay") }}:</span>
          <div class="float-right modal-box-w30">{{ invest.date_next_pay }}</div>
        </div>
        <div class="w-100" v-if="invest.status === 1">
          <span>{{ $t("dashboard.profile.investment.deposit_end_date") }}:</span>
          <div class="float-right modal-box-w30">{{ invest.date_finish }}</div>
        </div>
        <div class="w-100">
          <span>{{ $t("dashboard.profile.investment.investment_term") }}:</span>
          <div class="float-right modal-box-w30"
          >{{ invest.month }} {{ $t('dashboard.profile.investment.months')}}</div>
        </div>
        <div class="w-100" v-if="invest.days_else > 0">
          <span>{{ $t("dashboard.profile.investment.remain_time") }}:</span>
          <div class="float-right modal-box-w30"
          >{{ invest.days_else }} {{ $t("numbers.days") }}</div>
        </div>
        <div class="w-100" v-if="invest.date_next_pay_6mb">
          <span>{{ $t("dashboard.profile.investment.bonus_accrual_date") }}:</span>
          <div class="float-right modal-box-w30">{{ invest.date_next_pay_6mb }}</div>
        </div>
        <div class="w-100" v-if="invest.percent_3mb">
          <span>{{ $t("dashboard.profile.investment.bonus_percentage3") }}:</span>
          <div class="float-right modal-box-w30">{{ parseFloat(invest.percent_3mb).toFixed(2) }} %</div>
        </div>
        <div class="w-100" v-if="invest.percent_6mb">
          <span>{{ $t("dashboard.profile.investment.bonus_percentage6") }}:</span>
          <div class="float-right modal-box-w30">{{ parseFloat(invest.percent_6mb).toFixed(2) }} %</div>
        </div>
        <div class="w-100" v-if="invest.percent_12mb">
          <span>{{ $t("dashboard.profile.investment.bonus_percentage12") }}:</span>
          <div class="float-right modal-box-w30">{{ parseFloat(invest.percent_12mb).toFixed(2) }} %</div>
        </div>
        <div class="w-100" v-if="invest.send_type === 'self'">
          <span>{{ $t("dashboard.profile.investment.minimum_replenishment_deposit") }}:</span>
          <div class="float-right modal-box-w30">{{ invest.min_replenish }} {{ invest.currency }}</div>
        </div>
        <div class="w-100" v-if="invest.comment">
          <span>{{ $t("dashboard.profile.comment") }}:</span>
          <div class="float-right modal-box-w30">{{ invest.comment }}</div>
        </div>
      </div>
      <div class="row" v-if="invest.parent_invest_id == null && invest.user_invest_id == null && invest.status === 1 && monthDiff(invest.date_finish, 'refill') >= 1">
        <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
          <div class="form-custom black">
            <div class="form-control-custom mb-0">
              <div class="d-flex flex-column w-100 white-shadow">
                <div>{{ $t("dashboard.profile.investment.add_invest_title") }}</div>
                <div class="d-flex justify-content-between box-mob--wrap">
                  <div class="modal-input-wrapp--inner border-bottom-silver">
                    <input :placeholder="$t('dashboard.profile.amount')"
                           class="w-100 border-0 text-silver pt-1 pb-0"
                           name="amount"
                           v-model="amount"
                           type="number"
                    >
                    <span class="border-0 text-silver pt-0">{{ invest.currency }}</span>
                  </div>
                  <div class="modal-btn-wrapp--inner">
                    <button class="btn btn-primary" :disabled="amount < invest.min_replenish"
                            @click="userAddInvest"
                    >{{ $t("dashboard.profile.investment.add_invest") }}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" v-else-if="(invest.status === 0) && (user.id === invest.user_id)">
        <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
          <div class="form-custom black">
            <div class="form-control-custom mb-0">
              <div class="d-flex flex-column w-100 white-shadow">
                <div>{{ $t("dashboard.profile.investment.add_invest_title") }}</div>
                <div class="d-flex justify-content-between box-mob--wrap">
                  <div class="modal-input-wrapp--inner border-bottom-silver">
                    <input :placeholder="$t('dashboard.profile.amount')"
                           class="w-100 border-0 text-silver pt-1 pb-0"
                           name="amount" v-model="invest.amount" disabled>
                    <span class="border-0 text-silver pt-0">{{ invest.currency }}</span>
                  </div>
                  <div class="modal-btn-wrapp--inner">
                    <button class="btn btn-primary"
                            @click="paymentOfInvestment"
                    >{{ $t("dashboard.profile.investment.add_invest") }}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" v-if="invest.early_withdrawal && invest.status === 1 && invest.user_invest_id == null && monthDiff(invest.created_at, 'close') > 3">
        <div class="col-lg-12 col-md-12 mb-md-0 mb-4 mt-4">
          <div class="form-custom black">
            <div class="form-control-custom mb-0">
              <div class="d-flex justify-content-between box-mob--wrap">
                <div class="modal-btn-wrapp--inner">
                  <button class="btn btn-primary"
                          @click="openConfirmModal"
                  >{{ $t("dashboard.profile.investment.deposit_refund") }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ModalWrapper ref="modalWrapper">
      <div class="modal-header">
        <h6 class="font-weight-bold text-black d-inline-block">
          {{ $t("dashboard.profile.text3") }}
        </h6>
      </div>
      <div class="modal-body mb-3">
        <div class="mb-3 w-100">
          {{ $t("dashboard.profile.investment.are_you_sure") }}
        </div>
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-between column-mobile w-100">
          <button @click="closeOfInvestment()" class="btn btn-primary">{{ $t("dashboard.profile.yes") }}</button>
          <button @click="decline" class="btn btn-primary">{{ $t("dashboard.profile.no") }}</button>
        </div>
      </div>
    </ModalWrapper>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import requests from "../../../../requests";
  import spinner from '../../../../../common/spinner'
  import alert from '../../../../../common/sweet-alert'
  import {handleErrorForAlert, formatMoney} from '../../../../utilities'
  import RoundAmount from "../../../../classes/RoundAmount";

  export default {
    name: "MoreInfoModal",
    data() {
      return {
        amount: null,
        invest: null,
        notification: {},
      }
    },
    methods: {
      monthDiff(date_finish, type) {
        //Если прошло 3 месяца и более от даты создания, то конпку закрыть вклад показываем
        //У вкладов которым осталось меньше 1 месяца, кнопку довложения убираем
        let d1 = new Date()
        let d2 = new Date(date_finish)

        let diff = 0;
        if(d1.getTime() > d2.getTime()) {
          diff = d1.getTime()/1000 - d2.getTime()/1000
          diff = diff/(60*60*24*30)
        }
        else {
          diff = d2.getTime()/1000 - d1.getTime()/1000
          diff = diff/(60*60*24*30)
        }
        return diff;
      },
      decline() {
        this.$refs.modalWrapper.close()
      },
      openConfirmModal() {
        this.$refs.modalWrapper.open()
      },
      closeModal() {
        this.$emit('close-modal')
      },
      openNotifyModal(element, title, message) {
        this.notification = {
          title: title,
          message: message,
          element: element
        }
        this.$refs.modalWrapper.open()
      },
      userAddInvest() {
        spinner.toggle(true)
        requests.dashboard.profile.postNewInvest({user_invest_id:this.invest.id, amount:this.amount}, false)
          .then(({response}) => {
            this.$store.dispatch('updateUserData').then(() => {
              this.$store.dispatch('getInvestsList')
              this.closeModal();
            })
          }).catch(({response}) => {
            alert.error(handleErrorForAlert(response.data.errors))
          }).finally( () => {
            spinner.toggle(false)
          });
      },
      paymentOfInvestment() {
        spinner.toggle(true)
        requests.dashboard.profile.postPaymentOfInvestment({
          user_invest_id:this.invest.id}, false)
          .then(({response}) => {
            this.$store.dispatch('updateUserData').then(() => {
              this.$store.dispatch('getInvestsList')
              this.closeModal();
            })
          }).catch(({response}) => {
            alert.error(handleErrorForAlert(response.data.errors))
          }).finally( () => {
            spinner.toggle(false)
          });
      },
      closeOfInvestment() {
        spinner.toggle(true)
        requests.dashboard.profile.postCloseInvest({
          user_invest_id:this.invest.id}, false)
          .then(({response}) => {
            this.$store.dispatch('updateUserData').then(() => {
              this.$store.dispatch('getInvestsList')
              this.closeModal();
            })
          }).catch(({response}) => {
            alert.error(handleErrorForAlert(response.data.errors))
          }).finally( () => {
            spinner.toggle(false)
          });
      }
    },
    computed: {
      ...mapGetters({
        user: 'getUser',
        tariffs: 'getTariffs',
        invest_id: 'getIdForMoreInfo'
      }),
      status() {
        if (this.invest.status === 0) {
          return this.$t('dashboard.profile.investment.not_active')
        } else if (this.invest.status === 1) {
          return this.$t('dashboard.profile.investment.active')
        } else if (this.invest.status === 5) {
          return this.$t('dashboard.profile.investment.closed')
        } else if (this.invest.status === 10) {
          return this.$t('dashboard.profile.investment.complete')
        }
      },
      commissionMultiplierForPayment() {
        return RoundAmount.floor10((this.invest.commission_multiplier * 100 - 100).toFixed(2), -2)
      },
      sumCommissionMultiplierForPayment() {
        return RoundAmount.floor10((this.invest.commission_multiplier * this.invest.amount - this.invest.amount).toFixed(2), -2)
      },
    },
    created() {
      this.$scrollBody('hidden')
      requests.dashboard.profile.getInvesById({'user_invest_id' : this.invest_id})
        .then(res => {
          this.invest = res.data.user_invest
        })
        .catch(err => console.log(err))
    },
    destroyed() {
      this.$scrollBody('auto')
    },
    filters: {
      formatMoney
    },
  }
</script>
