<template>
  <div>
    <div class="col-lg-3 col-md-3 pl-0">
      <button @click="openCloseInvestModal"
              class="btn btn-primary"
              :disabled="disableButton"
      >{{ $t("dashboard.profile.investment.invest") }}</button>
    </div>

    <ContribTable @open-modal="openCloseMoreInfoModal" @add-investments-member-modal="openAddInvestMemberModal" />
    <ModalWrapper ref="modalWrapper" @close-modal="resetComponent">
      <component :is="component" @close-modal="closeModal"/>
    </ModalWrapper>
  </div>
</template>

<script>
  import InvestModal from "./InvestModal";
  import MoreInfoModal from "./MoreInfoModal";
  import AddInvestmentsMemberModal from "./AddInvestmentsMemberModal"
  import { mapGetters } from 'vuex'
  import ContribTable from "./ContribTable";

  export default {
    name: "TabInvestment",
    components: {
      ContribTable,
      MoreInfoModal,
      InvestModal,
      AddInvestmentsMemberModal,
    },
    data() {
      return {
        component: '',
      }
    },
    computed: {
      ...mapGetters({
        tariffs: 'getTariffs'
      }),
      disableButton() {
        return this.tariffs === null
      }
    },
    methods: {
      openCloseInvestModal() {
        if (this.component) {
          this.resetComponent()
          this.$refs.modalWrapper.close()
        } else {
          this.component = 'invest-modal'
          this.$refs.modalWrapper.open()
        }
      },
      openCloseMoreInfoModal() {
        if (this.component) {
          this.resetComponent()
          this.$refs.modalWrapper.close()
        } else {
          this.component = 'more-info-modal'
          this.$refs.modalWrapper.open()
        }
      },
      openAddInvestMemberModal() {
        if (this.component) {
          this.resetComponent()
          this.$refs.modalWrapper.close()
        } else {
          this.component = 'add-investments-member-modal'
          this.$refs.modalWrapper.open()
        }
      },
      resetComponent() {
        this.component = ''
      },
      closeModal() {
        this.resetComponent()
        this.$refs.modalWrapper.close()
      }
    }
  }
</script>
