<template>
  <div class="flex-column last-transactions" v-if="investUserAccounts">
    <div class="mb-4">
      <label for="select" class="text-silver">{{ $t("dashboard.profile.investment.investment_account") }}:</label>
      <select id="select" v-model="currentInvestUserAccountId">
        <option v-for="item in investUserAccounts" :value="item.id">{{ item.currency }} {{ item.amount|formatMoney(item.currency)}}</option>
      </select>
      <span class="cursor-pointer" @click.prevent="onExchange">{{ $t("dashboard.profile.exchange") }}</span>
    </div>
    <div class="d-flex justify-content-between header">
      <h3>{{ $t("dashboard.profile.investment.interest_accrual") }}</h3>
    </div>
    <div class="d-flex flex-column overflow-auto body last-transactions__height">
      <template v-for="item in transSort">
        <div class="d-flex justify-content-between item align-items-center">
          <span>{{item.created_at}}</span>
          <div class="d-flex align-items-center center">
            <img class="mr-2" :src="item.index | transactionIcon">
            <div class="d-flex flex-column">
              <span class="font-weight-bold">{{ item.comment }}</span>
              <small class="text-silver">{{ $t("dashboard.profile.text23") }} {{item.currency}}</small>
            </div>
          </div>
          <div class="d-flex">
            <span class="font-weight-bold mr-2">{{ item.index | transactionSymbol }} {{item.amount|formatMoney(item.currency)}}</span>
            <span>{{item.currency}}</span>
          </div>
        </div>
      </template>
    </div>
    <div class="last-transactions-footer">
      <img role="button" class="arrow-down" src="/assets/images/down-arrow.svg">
    </div>
    <ModalWrapper ref="modalWrapper">
      <invest-exchange-modal
          @invest-exchange:success="onInvestExchangeSuccess"
          @invest-exchange:error="onInvestExchangeError"
          ref="investExchangeModal"
          :resources="selectedResources"
          :setting="selectedInvestSetting"
      />
    </ModalWrapper>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import requests from '../../../../requests'
  import spinner from '../../../../../common/spinner'
  import InvestExchangeModal from './InvestExchangeModal'
  import {transactionIcon, transactionSymbol, formatMoney} from '../../../../utilities'

  export default {
    name: "TabProfitManagement",
    components: {
      InvestExchangeModal
    },
    ...mapGetters({
      currencies: 'getCurrencies'
    }),
    data() {
      return {
        investUserAccounts: null,
        currentInvestUserAccountId: null,
        trans: null,
        selectedResources: null,
        selectedInvestSetting: null,
        investSettings: null
      }
    },
    created() {
      this.loadInvestAccount()
      console.log(this.currencies)
    },
    computed: {
      transSort() {
        if (this.trans) {
          return this.trans.reverse()
        }
        return this.trans
      }
    },
    watch: {
      currentInvestUserAccountId() {
        this.loadTransactions()
        this.selectedResources = this.investUserAccounts.find(item => {
          return item.id === this.currentInvestUserAccountId
        })
        let selectedCurrency = this.selectedResources.currency;

        this.selectedInvestSetting = this.investSettings.find(item => {
          return item.currency_from === selectedCurrency
        })
        if (this.selectedInvestSetting) {
          this.selectedResources.currency_to = this.selectedInvestSetting.currency_to
        }
      },
    },
    methods: {
      onExchange() {
        this.$refs.modalWrapper.open()
      },
      onInvestExchangeSuccess() {
        this.$refs.modalWrapper.close()
        this.loadInvestAccount()
        this.loadTransactions()
      },
      onInvestExchangeError() {
        this.$refs.modalWrapper.close()
      },
      loadTransactions() {
        requests.dashboard.profile.getUserInvestTransactionsByUserInvestAccountId(
          {user_invest_account_id: this.currentInvestUserAccountId}
        )
          .then(res => {
            this.trans = res.data.user_invest_transaction
          })
          .catch(err => {
            console.log(err)
          })
          .finally(() => {
            spinner.toggle(false)
          })
      },
      loadInvestAccount() {
        spinner.toggle(true)
        requests.dashboard.profile.getUserInvestAccountsForUser()
          .then(res => {
            this.investUserAccounts = res.data.user_invest_accounts
            this.investSettings = res.data.invest_settings

            if (this.investUserAccounts.length) {
              this.currentInvestUserAccountId = this.currentInvestUserAccountId
                      ? this.currentInvestUserAccountId
                      : this.investUserAccounts[0].id

              let currentIdx = null
              this.investUserAccounts.forEach((item, index) => {
                if (item.id === this.currentInvestUserAccountId) {
                  currentIdx = index
                }
              })

              let selectedCurrency = this.investUserAccounts[currentIdx].currency;

              this.selectedResources = this.investUserAccounts[currentIdx]

              this.selectedInvestSetting = this.investSettings.find(item => {
                return item.currency_from === selectedCurrency
              })
              if (this.selectedInvestSetting) {
                this.selectedResources.currency_to = this.selectedInvestSetting.currency_to
              }
            }
          })
          .catch(err => {
            console.log(err)
          })
          .finally(() => {
            spinner.toggle(false)
          })
      }
    },
    filters: {
      transactionIcon,
      transactionSymbol,
      formatMoney
    },
  }
</script>
