<template>
    <span>
      <button type="button" class="btn btn-secondary" @click="$refs.rightPanel.show()" :title="$t('words.edit_data')">
          <i class="fas fa-user-cog"></i>
      </button>
      <right-panel ref="rightPanel" :title="$t('words.change_user_data')" mode="full">
        <ul class="nav nav-tabs mb-2">
          <li class="nav-item" @click="component = 'personal-data'">
              <span role="button"
                    :class="['nav-link', { active: component == 'personal-data' }]">Персональные данные</span>
          </li>
          <li class="nav-item" @click="component = 'documents'">
              <span role="button" :class="['nav-link', { active: component == 'documents' }]">Документы</span>
          </li>
          <li class="nav-item" @click="component = 'requisites'">
              <span role="button" :class="['nav-link', { active: component == 'requisites' }]">Реквизиты</span>
          </li>
          <li class="nav-item" @click="component = 'cards'">
              <span role="button" :class="['nav-link', { active: component == 'cards' }]">Карты</span>
          </li>
          <li class="nav-item" @click="component = 'user-accounts'">
              <span role="button" :class="['nav-link', { active: component == 'user-accounts' }]">Баланс на счете</span>
          </li>
          <li class="nav-item" @click="component = 'security-settings'">
              <span role="button" :class="['nav-link', { active: component == 'security-settings' }]">Настройки пользователя</span>
          </li>
        </ul>
        <component :is="component" :user="user" :offices="offices" :positions="positions" :bankTypes="bankTypes"></component>
      </right-panel>
    </span>
</template>

<script>
  import RightPanel from '../../../common/right-panel'
  import PersonalData from './Tabs/PersonalData'
  import Documents from './Tabs/Documents'
  import Requisites from './Tabs/Requisites'
  import Cards from './Tabs/cards/Cards'
  import SecuritySettings from './Tabs/SecuritySettings'
  import UserAccounts from './Tabs/UserAccounts'

  export default {
    name: "user-edit-form",
    props: {
      userString: {
        type: String,
        require: true,
      },
      officesString: {
        type: String,
        require: true,
      },
      positionsString: {
        type: String,
        require: true,
      },
      bankTypesString: {
        type: String,
        require: true,
      }
    },
    components: {
      RightPanel,
      PersonalData,
      Documents,
      Requisites,
      Cards,
      SecuritySettings,
      UserAccounts
    },
    data() {
      return {
        component: 'personal-data',
        user: {},
        offices: {},
        positions: {}
      };
    },
    created() {
      this.$nextTick(() => $(this.$el).removeClass('preview-btn'))
      this.user = JSON.parse(this.userString)
      this.offices = JSON.parse(this.officesString)
      this.positions = JSON.parse(this.positionsString)
      this.bankTypes = JSON.parse(this.bankTypesString)
    },
  }
</script>
