<template>
  <section id="body" class="mt-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-3">
          <div class="d-flex flex-column referral-user-link">
            <div class="referral-user-link__header">
              <i class="icon-user"></i>
            </div>
            <div class="referral-user-link__body">
              <span>{{ $t("dashboard.index.referral_link") }}</span>
            </div>
            <div class="referral-user-link__footer">
              <button
                  class="btn btn-primary"
                  @click="onCopyLink"
              >{{ $t("dashboard.index.to_copy") }}
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-9">
          <user-verification />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mb-lg-0 mb-4">
          <exchange-rates />
        </div>
        <div class="col-lg-6">
          <recent-transactions />
        </div>
      </div>
    </div>

    <ModalWrapper ref="modalWrapper">
      <PaymentExternal v-if="externalModal" @close-modal="closeExternalModal"/>
    </ModalWrapper>

  </section>
</template>

<script>
  import {
    copy,
  } from "../../utilities";
  import ExchangeRates from "./blocks/ExchangeRates";
  import UserVerification from "./blocks/UserVerification";
  import RecentTransactions from "./blocks/RecentTransactions";
  import {mapGetters} from "vuex";
  import jQuery from "jquery";
  import alert from "../../../common/sweet-alert";
  import PaymentExternal from './payments/deposit/PaymentExternal'
  import requests from "../../requests";

  export default {
    name: "Dashboard",
    data() {
      return {
        externalModal: false
      };
    },
    computed: {
      ...mapGetters({
        referralLink: "getReferralLink",
      }),
    },
    components: {
      PaymentExternal,
      UserVerification,
      ExchangeRates,
      RecentTransactions
    },
    async beforeCreate() {
      try {
        const {data} = await requests.dashboard.getUserTransactionsAll()
        this.$store.dispatch('setUserTransactions', data.user_transactions_all)
      } catch (e) {
        // console.log({e})
      }
    },
    mounted() {
      if (this.$route.query.redirect) {
        this.$router.push(this.$route.query.redirect);
      }
      if ('mr_success' in this.$route.query) {
        alert.success(this.$t('words.mr_success'))
      }
      if ('hash' in this.$route.query) {
        this.externalModal = true;
        this.$nextTick(this.callbackFunctionForModals)
      }
    },
    methods: {
      callbackFunctionForModals() {
        this.$refs.modalWrapper.open();
      },
      closeExternalModal() {
        this.$refs.modalWrapper.close()
      },
      onCopyLink() {
        copy(this.referralLink);
        alert.success({
          text: this.$t("dashboard.index.referal_link_copied"),
          timer: 7000
        });
      },
    },
  };
</script>
