<template>
  <div>
    <div class="col-md-12 mt-5 mb-5">
      <div class="btn-group invest-wrap-btn" role="group">
        <button type="button" class="btn btn-secondary"
                :class="(component === 'tab-investment') ? 'active' : ''"
                @click="changeTab('tab-investment')"
        >{{ $t("dashboard.profile.investment.investment") }}</button>
        <button type="button" class="btn btn-secondary"
                :class="(component === 'tab-profit-management') ? 'active' : ''"
                @click="changeTab('tab-profit-management')"
        >{{ $t("dashboard.profile.investment.profit_management") }}</button>
      </div>
    </div>
    <div class="col-md-12">
      <component :is="component" />
    </div>
  </div>
</template>

<script>
import TabInvestment from "./profile/investment/TabInvestment"
import TabProfitManagement from "./profile/investment/TabProfitManagement"
import requests from "../../requests"
import spinner from "../../../common/spinner"

  export default {
    name: "Investment",
    components: {
      TabInvestment,
      TabProfitManagement
    },
    data() {
      return {
        component: 'tab-investment',
      }
    },
    methods: {
      changeTab(component) {
        this.component = component
      },
      getTariff() {
        spinner.toggle(true)
        requests.dashboard.profile.getInvestTariffs()
          .then(res => {
            this.$store.commit('setTariffs', res.data.invest_tariffs)
          })
          .catch(err => {
            console.log(err)
          }).finally( () => {
            spinner.toggle(false)
          })
      },
    },
    created() {
      this.getTariff()
      this.$store.dispatch('getInvestsList')
    }
  }
</script>
