<template>
  <div>
    <div class="row mb-5 mt-3 mt-md-0 mob-mt0">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-lg pt-0 pb-0 second-menu">
          <div class="collapse navbar-collapse bg-white d-block main-wrapp-nav">
            <ul class="main-nav-wrapp navbar-nav">
              <li class="nav-item" :class="{ 'active': component === 'profile-info' }">
                <a class="nav-link" href="#" @click.prevent="changeTab('profile-info')"><span>{{ $t("dashboard.profile.profile") }}</span>
                  <i class="fas fa-clock text-orange" v-if="isUserOnVerify"></i>
                  <i class="fas fa-check-circle text-green" v-if="isUserVerified"></i>
                  <i class="fas fa-exclamation-circle text-red" v-if="isUserNotVerified"></i></a>
              </li>
              <li class="nav-item" :class="{ 'active': component === 'SecuritySettings' }">
                <a class="nav-link" href="#" @click.prevent="changeTab('SecuritySettings')"><span>{{ $t("dashboard.profile.security") }}
                </span></a>
              </li>
              <li class="nav-item" :class="{ 'active': component === 'payment-methods' }">
                <a class="nav-link" href="#"
                   @click.prevent="changeTab('payment-methods')"><span>{{ $t("dashboard.profile.methods_of_payment") }}</span></a>
              </li>
              <li class="nav-item" :class="{ 'active': component === 'ProfileSettings' }">
                <a class="nav-link" href="#" @click.prevent="changeTab('ProfileSettings')"><span>{{ $t("dashboard.profile.settings") }}</span></a>
              </li>
              <li class="nav-item" :class="{ 'active': component === 'vouchers' }">
                <a class="nav-link" href="#" @click.prevent="changeTab('vouchers')"><span>{{ $t("dashboard.profile.vouchers") }}</span></a>
              </li>
              <li class="nav-item" :class="{ 'active': component === 'AccountsSettings' }">
                <a class="nav-link" href="#"
                   @click.prevent="changeTab('AccountsSettings')"><span>{{ $t("dashboard.profile.accounts_settings") }}</span></a>
              <li class="nav-item" :class="{ 'active': component === 'partners' }">
                <a class="nav-link" href="#" @click.prevent="changeTab('partners')"><span>{{ $t("dashboard.profile.partners") }}</span></a>
              </li>
              <li class="nav-item" :class="{ 'active': component === 'api' }">
                <a class="nav-link" href="#" @click.prevent="changeTab('api')"><span>{{ $t("dashboard.profile.api1") }}</span></a>
              </li>
              <li class="nav-item" :class="{ 'active': component === 'payments-by-links' }">
                <a class="nav-link" href="#" @click.prevent="changeTab('payments-by-links')"><span>{{ $t("dashboard.profile.payments_by_links") }}</span></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <section id="body">
      <component :is="component" :loaded="isUserLoaded"/>
    </section>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import alert from '../../../common/sweet-alert'
  import {eventBus} from '../../eventBus'
  import ProfileInfo from './profile/ProfileInfo'
  import PaymentMethods from './profile/PaymentMethods'
  import SecuritySettings from './profile/SecuritySettings'
  import ProfileSettings from './profile/ProfileSettings'
  import AccountsSettings from './profile/AccountsSettings'
  import Vouchers from './profile/Vouchers'
  import Partners from './profile/Partners'
  import Api from './profile/Api'
  import PaymentsByLinks from './profile/payments-by-links/PaymentsByLinks'

  export default {
    name: 'DashboardProfile',
    computed: mapGetters({
      isUserCreated: 'isUserCreated',
      isUserVerified: 'isUserVerified',
      isUserNotVerified: 'isUserNotVerified',
      isUserOnVerify: 'isUserOnVerify',
      isUserLoaded: 'isUserLoaded',
      user: 'getUser',
      appUrl: 'getAppUrl'
    }),
    components: {
      ProfileInfo,
      PaymentMethods,
      SecuritySettings,
      ProfileSettings,
      AccountsSettings,
      Vouchers,
      Partners,
      Api,
      PaymentsByLinks
    },
    data() {
      return {
        component: 'profile-info',
        showedPopup: false
      }
    },
    created() {
      if (this.$route.query.pm === 'success') {
        alert.success(this.$t('dashboard.profile.pm_success'))
      }

      if (this.$route.query.pm === 'error') {
        alert.error(this.$t('dashboard.profile.pm_error'))
      }

      if ('dep_success' in this.$route.query) {
        alert.success(this.$t('dashboard.profile.dep_success'))
      }

      if ('dep_error' in this.$route.query) {
        alert.error(this.$t('dashboard.profile.dep_error'))
      }

      if ('dep_cancel' in this.$route.query) {
        alert.success(this.$t('dashboard.profile.dep_cancel'))
      }

      if (typeof this.$route.query.va !== 'undefined') {
        this.component = 'vouchers'
      }

      if (typeof this.$route.query.ia !== 'undefined') {
        this.component = 'investment'
      }

      if (typeof this.$route.query.pm !== 'undefined') {
        this.component = 'payment-methods'
      }

      if (this.$route.name === 'dashboard-profile' && (this.isUserCreated || this.isUserNotVerified)) {
        eventBus.$emit('open-profile', {
          step: 2,
          endStep: false,
        })
        this.showedPopup = true
      }
    },
    mounted() {
      history.pushState(null, "", location.href.split("?")[0])
    },
    watch: {
    },
    methods: {
      changeTab(component) {
        this.component = component
      }
    }
  }
</script>