<!--Пока не известоно, перенесется ли куда-то этот фунционал. Оставлю тут-->
<template>
  <section id="body" class="container-fluid mt-4">
    <div class="row" v-if="exchangeRates">
      <div class="col-md-12">
        <div class="popular row">
          <div class="col-12 mb-3">
            <h6 class="text-black font-weight-bold">{{ $t("dashboard.quick_buy.popular") }}</h6>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-5" v-for="(pair,index) in allowPairs" :key="index"
               v-if="skipPairTop(pair)">
            <div class="popular-item d-flex flex-column white-shadow pt-3 pb-3">
              <div class="d-flex justify-content-between">
                <h6><strong>{{ currencyFrom(pair) | getCurrencyAlias }}</strong></h6>
                <img alt="" :src="currencyFrom(pair) | getCurrencyIcon" height="18px">
              </div>
              <div class="body d-flex mb-1">
                <div class="w-100">
                  <span class="d-block">{{ currencyTo(pair, 'RUS') | getCurrencySymbol }} {{ exchangeRate0Value(pair) |formatMoney(currencyTo(pair))}}</span>

                  <small :class="dailyChange(pair)>0?'text-green':'text-red'">
                    <i :class="dailyChange(pair)>0?'icon-g-r-u-arrow':'icon-r-r-d-arrow'"
                       style="font-size: 9px"></i>
                    <strong>{{ dailyChange(pair) * (isRubblesPair(pair) ? exchangeRates['USD-RUB'][0].value : 1)|formatMoney(currencyTo(pair)) }}
                      {{dailyChangePerc(pair)|formatMoney(currencyTo(pair))}}% </strong>
                  </small>

                  <line-chart v-if="chartsData[pair]"
                    style="min-width:100%!important;max-height: 80px"
                    :chart-data="chartsData[pair]"
                    :options="options"
                  />
                </div>
              </div>
              <div class="popular-item--footer d-flex justify-content-between">
                <button class="btn btn-success popular btn-buy"
                        @click="openExchangeModal(currencyTo(pair, 'RUS'), currencyFrom(pair, 'RUS'))"
                  >{{ $t("dashboard.quick_buy.buy") }} <span class="d-block">{{ buySellForPair(pair, 'Buy') }}</span>
                </button>
                <button class="btn btn-danger popular btn-sell"
                        @click="openExchangeModal(currencyFrom(pair, 'RUS'), currencyTo(pair, 'RUS'))"
                  >{{ $t("dashboard.quick_buy.sell") }} <span class="d-block">{{ buySellForPair(pair, 'Sell') }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="transactions row">
          <div class="col-12 mb-3">
            <h6 class="text-black font-weight-bold">{{ $t("dashboard.quick_buy.currency_pairs") }}</h6>
          </div>
          <div class="col-md-12">
            <div class="transactions white-shadow">
              <div class="body d-flex flex-column">
                <div class="body-item d-flex" v-for="(pair) in allowPairs" v-if="skipPair(pair) && exchangeRates[pair]">
                  <div class="w-15">
                    <img style="vertical-align: sub" height="18px" alt="" :src="currencyFrom(pair) | getCurrencyIcon">
                    <strong>{{ currencyFrom(pair) | getCurrencyAlias }}</strong>
                  </div>
                  <div class="w-15">
                    <line-chart v-if="chartsData[pair]"
                      style="min-width:100%!important;max-height: 50px"
                      :chart-data="chartsData[pair]"
                      :options="options"
                    />
                  </div>
                  <div class="w-20 text-center">
                    <span>
                      <img style="vertical-align: sub" height="18px" alt="" :src="currencyTo(pair, 'RUS') | getCurrencyIcon"
                      >{{ exchangeRate0Value(pair) | formatMoney(currencyTo(pair)) }}</span>
                  </div>
                  <div class="w-20 text-center " style="font-size: 10px;vertical-align: inherit;">
                    <strong :class="dailyChange(pair)>0?'text-green':'text-red'">
                      <i :class="dailyChange(pair)>0?'icon-g-r-u-arrow':'icon-r-r-d-arrow'"
                         style="font-size: 9px"></i>
                      <strong>{{ dailyChange(pair) * (isRubblesPair(pair) ? exchangeRates['USD-RUB'][0].value : 1)|formatMoney(currencyTo(pair)) }}
                        {{dailyChangePerc(pair)|formatMoney(currencyTo(pair))}}% </strong>
                    </strong>
                  </div>
                  <div class="w-15 text-right">
                    <button class="btn btn-success btn-buy"
                            style="height: 50px;font-size: 12px;"
                            @click="openExchangeModal(currencyTo(pair, 'RUS'), currencyFrom(pair, 'RUS'))"
                      >{{ $t("dashboard.quick_buy.buy") }} <span class="d-block">{{ buySellForPair(pair, 'Buy') }}</span>
                    </button>
                  </div>
                  <div class="w-15 text-right">
                    <button class="btn btn-danger  btn-sell"
                            style="height: 50px;font-size: 12px;"
                            @click="openExchangeModal(currencyFrom(pair, 'RUS'), currencyTo(pair, 'RUS'))"
                      >{{ $t("dashboard.quick_buy.sell") }} <span class="d-block">{{ buySellForPair(pair, 'Sell') }}</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import {formatMoney, getCurrencyAlias, getCurrencySymbol, getCurrencyIcon} from '../../utilities'
  import {eventBus} from "../../eventBus"
  import {mapGetters} from 'vuex'
  import LineChart from '../../../common/charts/LineChart'
  import requests from "@/main/requests";
  import {checkUserAllowedCurrencies, getImgLogoPath} from "@/main/utilities";
  import alert from '../../../common/sweet-alert'

  export default {
    name: "Dashboard",
    components: {
      LineChart
    },
    data() {
      return {
        allowPairs: ['BTC-EUR', 'BTC-RUB', 'ETH-USD', 'BTC-USD', 'ETH-EUR', 'ETH-RUB', 'USDT-USD', 'BTC-USDT'],
        chartsData: {
          'BTC-EUR': {},
          'BTC-RUB': {},
          'ETH-USD': {},
          'BTC-USD': {},
          'ETH-EUR': {},
          'ETH-RUB': {},
          'USDT-USD': {},
          'BTC-USDT': {}
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          showLines: true,
          legend: {
            display: false
          },
          tooltips: {
            enabled: true,
            callbacks: {
              label: function (tooltipItem) {
                return tooltipItem.value
              }
            }
          },
          elements: {
            point: {
              radius: 0.25
            },
            line: {
              tension: 0 // disables bezier curves
            }
          },
          scales: {
            xAxes: [{
              display: false,
              position: 'bottom'
            }],
            yAxes: [{
              display: false
            }]
          }
        }
      }

    },
    computed: {
      ...mapGetters({
        exchangeRates: 'getExchangeRates',
      }),
      // chartStyles () {
      //   return {
      //
      //   }
      // }
    },
    created() {
      this.loadCandlesForCharts();
    },
    mounted() {
    },
    filters: {
      getCurrencySymbol,
      getCurrencyAlias,
      formatMoney,
      getCurrencyIcon,
    },
    methods: {
      exchangeRate0Value(pair) {
        if (this.exchangeRates[pair]) {
          return this.exchangeRates[pair][0].value;
        }
        return 0;
      },
      currencyFrom(pair, rus = '') {
        if (rus === '' && this.isRubblesPair(pair)) {
          pair = this.rubToUsdPair(pair)
        }
        if (this.exchangeRates[pair]) {
          return this.exchangeRates[pair][0].currency_from;
        }
        return '';
      },
      currencyTo(pair, rus = '') {
        if (rus === '' && this.isRubblesPair(pair)) {
          pair = this.rubToUsdPair(pair)
        }
        if (this.exchangeRates[pair]) {
          return this.exchangeRates[pair][0].currency_to;
        }
        return '';
      },
      dailyChange(pair) {
        if (this.isRubblesPair(pair)) {
          pair = this.rubToUsdPair(pair)
        }
        if (this.exchangeRates[pair]) {
          return this.exchangeRates[pair][0].dailyChange;
        }
        return '';
      },
      dailyChangePerc(pair) {
        if (this.isRubblesPair(pair)) {
          pair = this.rubToUsdPair(pair)
        }
        if (this.exchangeRates[pair]) {
          return this.exchangeRates[pair][0].dailyChangePerc;
        }
        return '';
      },
      isRubblesPair(pair) {
        return pair.split('-')[1] === 'RUB'
      },
      rubToUsdPair(pair){
        return pair.replace('RUB','USD')
      },
      buySellForPair(pair, type) {
        if (this.exchangeRates[pair]) {
          let cost = (type === 'Buy') ? this.exchangeRates[pair][0].ask :
            ((type === 'Sell') ? this.exchangeRates[pair][0].bid : '');
          return formatMoney(cost, this.currencyTo(pair))
        }
        return '';
      },
      skipPairTop(pair) {
        return !['ETH-EUR', 'ETH-RUB', 'USDT-USD', 'BTC-USDT'].includes(pair);
      },
      skipPair(pair) {
        return this.allowPairs.includes(pair);
      },
      loadCandlesForCharts() {
        requests.dashboard.getChartsData().then(({data}) => {
          let cd = data.charts_data
          Object.keys(cd).map(pair => {
            let rates = Object.values(cd[pair])
            let color = rates[0] < rates[rates.length - 1] ? 'rgba(0,190,60,0.30)' : 'rgba(190,0,0,0.30)'
            this.chartsData[pair] =
              {
                labels: rates,
                datasets: [
                  {
                    labels: rates,
                    backgroundColor: color,
                    data: rates.map((rate, index) => {
                      return {
                        x: index,
                        y: rate
                      }
                    })
                  }
                ]
              }
          })
        })
      },
      getImgLogoPath,
      openExchangeModal(currencyFrom, currencyTo) {
        if (checkUserAllowedCurrencies({pair: `${currencyFrom}-${currencyTo}`})) {
          eventBus.$emit('open-exchange-modal', { currencyFrom, currencyTo })
        } else {
          alert.error({text: this.$t('dashboard.quick_buy.pass_verification')})
        }
      },
    }
  }
</script>

