<template>

  <div class="support mt-5">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h2>{{ $t("dashboard.quick_buy.help") }}</h2>
        <div class="support__info">
          <p>{{ $t("dashboard.quick_buy.mail") }}: support@bitexfin.com</p>
          <p>{{ $t("dashboard.quick_buy.support") }}</p>
        </div>
        <div class="support__comment">
          <p>{{ $t("dashboard.quick_buy.please") }}</p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

</template>

<script>

  export default {
    name: 'dashboard-support'
  }

</script>
