<template>
  <form class="right-menu__form" method="post" @submit.prevent="onSubmit">

    <div class="row justify-content-center">

      <div class="col-lg-6">
        <h4>Создание новой рассылки</h4>
        <label for="subject">Заголовок письма</label>
        <div class="right-menu__form__row">
          <input class="form-control right-menu__form__input"
                 id="subject"
                 type="text"
                 v-model="emailSubject"/>
        </div>
        <label for="message">Текст письма</label>
        <div class="right-menu__form__row">
          <textarea rows="20"
                    class="form-control right-menu__form__input"
                    id="message"
                    v-model="emailMessage"></textarea>
        </div>
        <div class="right-menu__form__row">
          <v-selectpage v-if="users"
                        :data="users"
                        :multiple="true"
                        :max-select-limit="500"
                        :page-size="100"
                        placeholder="Выберите получателя"
                        language="en"
                        key-field="email"
                        show-field="full_name"
                        v-model="selectedEmailsString"
                        @values="updateSelectedEmails"
                        ref="selector">
          </v-selectpage>
        </div>
        <div class="right-menu__form__row">
          <button type="submit" class="btn btn-primary right-menu__button">Отправить</button>
        </div>
      </div>
      <div class="col-lg-6">
        <h4>Активные рассылки</h4>
        <div class="right-menu__form__row right-menu__form__row--mob-scroll">
          <table v-if="deliveries" class="table table-striped table-bordered">
            <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Дата создания</th>
              <th scope="col">Заголовок</th>
              <th scope="col">Прогресс выполнения</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="delivery in deliveries.items">
              <td>{{delivery.id}}</td>
              <td>{{delivery.created_at}}</td>
              <td>{{delivery.subject}}</td>
              <td>{{delivery.percentage}} %</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="right-menu__form__row right-menu__form__row--mob-scroll"></div>
      </div>
    </div>
  </form>
</template>

<script>
  import requests from "@/admin/requests";
  import {SelectPage} from 'v-selectpage'
  import spinner from '../../common/spinner'

  export default {
    name: "EmailDeliveryIndex",
    components: {
      'v-selectpage': SelectPage
    },
    data() {
      return {
        users: null,
        selectedEmails: null,
        selectedEmailsString: null,
        emailSubject: null,
        emailMessage: null,
        deliveries: null
      }
    },
    mounted() {
      this.getUsersForDelivery()
      this.updateDeliveries()
    },
    methods: {
      updateDeliveries() {
        requests.emailDelivery.getEmailDeliveries().then(({data}) => {
          this.deliveries = data
        }).catch((e) => {
          console.log(e)
        })
      },
      getUsersForDelivery() {
        requests.emailDelivery.getAllUsers().then(({data}) => {
          this.users = data.users
        }).catch((e) => {
          console.log(e)
        })
      },
      updateSelectedEmails() {
        this.selectedEmails = this.selectedEmailsString.split(',')
      },
      resetForm() {
        this.selectedEmails = null
        this.selectedEmailsString = null
        this.emailSubject = null
        this.emailMessage = null
        this.$refs.selector.remove();
      },
      onSubmit() {
        let body = {
          emails: this.selectedEmails,
          text: this.emailMessage,
          subject: this.emailSubject
        }
        spinner.toggle(true)
        requests.emailDelivery.postEmailDelivery(body).then(() => {
          spinner.toggle(false)
          this.resetForm()
          this.updateDeliveries()
        }).catch((e) => {
          spinner.toggle(false)
          console.log(e)
        })
      },
    }
  }
</script>
