.nav-link--mob {
  display: none;
}
.terminal {
  &::-webkit-scrollbar {
    display: none;
  }
}
.terminal {
  height: 100vh;
  background-color: #18191b;
  overflow-x: hidden;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    display: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }
  .desctop-hight {
    height: 50vh;
    padding: 0 !important;
  }

  header {
    height: 2.6em;
  }

  #body {
    background-color: #18191b;
    box-sizing: border-box;
    height: calc(100vh - 42px);

    .row {
      height: inherit;
    }
  }

  .table > thead th {
    color: #989898;
  }
  .right-panel .table td, .right-panel .table th {
    padding: 5px 15px;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
  .left-panel .table td, .left-panel .table th, .center-panel .table td, .center-panel .table th {
    color: #fff;
    padding: .1rem;
    font-family: Open Sans,sans-serif !important;
    font-size: 11px;
    font-weight: 400;

    @media (max-width: 990px) {
      width: 30%;
    }
  }
  .buy-picker.unselected-tab, .sell-picker.unselected-tab {
    color: #63666d;
    &:hover {
      color: #fff;
    }
  }
  .right-panel .table td, .right-panel .table th {
    color: #fff;
    padding: .75rem;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }


  .center-panel .table > thead > tr > th {
    vertical-align: baseline;
    line-height: 12px;
  }

  /*Header*/
  header {
    .header-left {
      background: #ff5246;
      height: 100%;

      & .row {
        align-items: center;
        height: 100%;
      }

      & > .row {
        align-items: center;
        height: 100%;
      }

      .logo {
        color: #ffffff !important;
        font-family: Open Sans,sans-serif !important;
        font-size: 16px;
        line-height: 28.38px;
        text-transform: uppercase;
        /* Text style for "LOGO" */
        letter-spacing: 1.3px;
      }

      nav {
        flex-flow: wrap;
      }
    }

    .header-right {
      background-color: #18191b;

      span, select, select > option {
        color: #ffffff;
        font-family: Open Sans,sans-serif !important;
        font-size: 15px;
        line-height: 20px;
        /* Text style for "Б, аланс" */
        //letter-spacing: 1.3px;
      }


      span.red {
        color: #b53e40;
      }

      &__left {
        &__balance {
          padding-left: 5px;
        }
      }

      &__right {
        //padding-right: 20px;
      }

    }


    .btn-primary {
      background: transparent;
      border: 2px solid transparent;
      font-family: Open Sans,sans-serif !important;
      color: #ffffff;
    }

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
      border: 2px solid #ffffff !important;
      box-shadow: none !important;
      background: transparent !important;
    }

    .icon {
      position: relative;

      img {
        width: 17px;
      }

      span {
        color: #fffefe;
        font-family: Open Sans,sans-serif !important;
        font-size: 14px;
        line-height: 20px;
      }

      .info {
        position: absolute;
        right: 10px;
        bottom: 0;
        width: 15px;
        height: 15px;
        border-radius: 100%;

        span {
          position: absolute;
          font-size: 8px;
          right: 0;
          left: 0;
          bottom: 0;
          height: 100%;
          margin: auto;
        }
      }

      .info.avatar {
        background: #00d800;

        span {
          i {
            left: 0;
            bottom: 3px;
            position: absolute;
            right: 0;
          }
        }
      }

      .info.notification {
        background: #292631;

        span {
          left: 0;
          bottom: 0;
          top: -2px;
          position: absolute;
          right: 1px;
        }

      }

    }
  }


  /*Header*/

  /*Center Panel*/

  .center-panel {
    background-color: #18191b;
    border-top: 5px solid #313337;
    border-bottom: 5px solid #313337;
  }

  .center-panel table, .center-panel table tr, .center-panel table td {
    color: #ffffff;
  }

  /*Center Panel*/

  /*Left Panel*/

  .left-panel {
    padding-left: 0;
    padding-right: 0;
    background-color: #18191b;
    border: 5px solid #313337;
    z-index: 1;
    letter-spacing: 0.01px;
    color: #ffffff;
    font-family: Open Sans,sans-serif !important;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
  }

  .left-panel .spread {
    background: #1d212b;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -5px;
  }

  .orders {
    min-height: 450px;
  }

  /*Left Panel*/

  /*Right Panel*/

  .right-panel {
    background-color: #18191b;
    border: 5px solid #313337;
    z-index: 1;
  }

  .right-panel .trade {
    border-bottom: 1px solid #212631;
  }

  .right-panel .trade > h4 {
    color: #ffffff;
    font-family: Open Sans,sans-serif !important;
    font-size: 15px;
    line-height: 20px;
  }

  .right-panel .trade .trade-div-input {
    background: #1d212b;
    margin: 0;

    .transparent-select.pair-selection.color-white {
      padding: 0 !important;
    }
  }

  .right-panel .trade .trade-div-input > div {
    border-bottom: 1px solid #989898;
    margin-left: 15px;
    margin-right: 15px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type=text], input[type=number] {
    padding: 5px;
    color: #ffffff;
    font-family: Open Sans,sans-serif !important;
    font-size: 15px;
    width: 90%;
    font-weight: 400;
    line-height: 20px;
    background: none;
    border: none;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=text]:focus, input[type=number]:focus {
    outline: none;
  }

  .right-panel .trade .trade-div-input > div > .trade-item {
    display: inline-block;
  }

  .right-panel .trade .trade-div-input > div > .trade-item > span {
    color: #989898;
  }

  .right-panel .trade .trade-div-input > div > .trade-item > label > input[type=radio] {
    visibility: hidden;
    display: none;
  }

  .right-panel .trade .trade-div-input > div > .trade-item > label {
    color: #727376;
    font-family: Open Sans,sans-serif !important;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
  }

  .right-panel .trade .trade-div-input > div > .trade-item > label:first-child {
    color: #d5d6d8;
  }

  .right-panel .trade .trade-div-input > div > .trade-item > label:hover {
    cursor: pointer;
  }


  .history-trade-header--border-top {
    border-top: 5px solid #313337;
  }


  .right-panel .history-trade-body {
    border-bottom: 1px solid #212631;
  }

  .history-trade-body {
    padding-left: 15px;

    .text-green {
      color: rgba(1, 255, 29, 0.18) !important;
    }

    .text-red {
      color: rgba(255, 0, 11, 0.18) !important;
    }

    & > .col-sm-12 {
      padding: 0 15px;
    }
  }

  .user-orders-body {
    padding-left: 15px;
    padding-right: 15px;

    .text-green {
      color: rgba(1, 255, 29, 0.18) !important;
    }

    .text-red {
      color: rgba(255, 0, 11, 0.18) !important;
    }

    & > .col-sm-12 {
      padding: 0 15px;
    }
  }

  .right-panel .news-item p {
    color: #ffffff;
    font-family: Open Sans,sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0;
  }

  .right-panel .news-item small {
    color: #989898;
    font-family: Open Sans,sans-serif !important;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
  }

  .right-panel .news-item small:first-child {
    float: left;
  }

  .right-panel .news-item small:last-child {
    float: right;
  }

  /*Right Panel*/

  /*Var*/

  .pair-selection {
    background-color: #1d212b !important;
    background: none !important;

    option {
      background: #1d212b !important;
    }

    optgroup {
      background: #1d212b !important;
    }
  }

  .transparent-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('/assets/images/select-arrow.png') no-repeat right #DDD;

    background-color: #18191b;
    border: none;
    outline: none;

    option, optgroup {
      color: white;
    }
  }


  .btn-primary, .btn-danger, .btn-success {
    border-radius: 2px;
  }

  .btn-danger {
    background: transparent;
    color: #bd2130;

    &:hover {
      color: white;
      background: #bd2130;

      span {
        color: white;
      }
    }
  }

  .btn-success {
    background: transparent;
    color: #00da77;

    &:hover {
      color: white;
      background-color: #00da77;

      span {
        color: white;
      }
    }
  }

  .w-70 {
    width: 70% !important;
  }

  .w-20 {
    width: 20% !important;
  }

  .title {
    //color: #ffffff;
    font-family: Open Sans,sans-serif !important;
    font-size: 10px;
    //font-weight: 700;
    line-height: 20px;
    color: #9599a3;
    text-transform: uppercase;
  }

  .btn-second {
    border: 2px solid #373d4b;
    color: #636770;
    font-family: Open Sans,sans-serif !important;
    font-size: 12px;
    //font-weight: 700;
    line-height: 20px;
  }

  .btn-second:hover, .btn-second:active, .btn-second:focus, .btn-second:active:focus, .btn-second:focus:active {
    border: 2px solid #ffffff;
    color: #ffffff;
    box-shadow: none;
  }


  .btn-icon {
    padding: 0;
    border: none;
  }

  .btn-icon:hover, .btn-icon:active, .btn-icon:focus, .btn-icon:focus:active, .btn-icon:active:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }

  .align-webkit-baseline-middle {
    vertical-align: -webkit-baseline-middle;
  }

  .isHidden {
    display: none;
  }

  .isShow {
    display: block;
  }

  .border-green {
    border: 2px solid #28a745;
  }


  .background-green {
    border-radius: 4px;
    background: #28a745;
  }

  .background-light-green {
    background: rgba(1, 255, 29, 0.18) !important;
  }

  .background-light-red {
    background: rgba(255, 0, 11, 0.18) !important;
  }


  .color-green {
    color: #28a745 !important;
  }


  .border-pink {
    border: 2px solid #f8a1a1;
  }

  .border-silver {
    border: 2px solid #c8c6ce;
  }

  .border-bottom-silver {
    border-bottom: 2px solid #c8c6ce;

    &.is-invalid {
      border-color: #ff504b;
    }
  }

  .background-pink {
    border-radius: 4px;
    background: #ff4e4b;
  }

  .background-silver {
    border-radius: 4px;
    background: #c8c6ce;
  }

  .color-white {
    color: white !important;
  }

  .color-black {
    color: black !important;
  }

  .color-red {
    color: #ff4e4b !important;
  }

  .color-silver {
    color: #c8c6ce !important;
  }

  #vue-trading-view {
    height: 100%;
  }

  /*Var*/

  /*Media*/
  @media screen and (max-width: 374px) {
    input[type=text], input[type=number] {
      width: 70%;
    }
    .mobile-change button {
      padding: 1px;
    }
    nav {
      padding: 0 !important;
    }
  }

  @media screen and (max-width: 767px) {
    .table {
      text-align: center;
    }
    .table td, .table th {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 1091px) {
    .mobile-text-center {
      text-align: center !important;
    }

    .nav-item.nav-right.ml-5 {
      margin: 0 !important;
    }

    .collapse-menu {
      position: absolute;
      right: -15px;
      top: 100%;
      background: #ff5246;
      z-index: 100;
    }

    .menu {
      flex-direction: column;
    }

    .menu > .nav-item {
      margin: 0 !important;
    }

    .menu > .nav-item > a {
      text-align: left;
    }

    .menu-right {
      order: 0;
    }

    .collapse-button {
      order: 1;
    }

    .trade-div-button .col-md-12 {
      text-align: center !important;
    }

    .right-panel .table td, .right-panel .table th {
      font-family: Open Sans,sans-serif !important;
      font-size: 11px;
      font-weight: 400;
      line-height: 20px;
    }

    .center-panel {
      max-height: 140vh;
    }
  }

  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .scrollbar-right-panel-terminal {
    padding-right: 15px;
    max-height: calc(54vh - 84px);
    width: 100%;
    font-size: 12px !important;
  }

  .scrollbar-left-panel-terminal {
    height: calc(100vh - 160px);
    overflow: scroll;
    width: 100%;
  }

  .scrollbar-mid-panel-terminal {
    //padding-right: 15px;
    max-height: calc(45vh - 124px);
    overflow: scroll;
    width: 100%;
  }

  @media screen and (max-width: 990px) {
    .scrollbar-right-panel-terminal {
      height: auto;
    }
    .scrollbar-left-panel-terminal {
      height: auto;
    }
    .scrollbar-mid-panel-terminal {
      //height: 45vh;
    }
    .table-responsive {
      padding-left: .5rem;
    }
  }

  .bm-burger-button {
    //top: 0px !important;

    & .bm-burger-bars {
      background-color: #ffffff;
    }
  }

  @media screen and (max-width: 375px) {
    .bm-burger-button {
      //top: 0px !important;
    }
  }

  .bm-menu {
    background-color: #000000 !important;
    max-width: 268px !important;

    & .bm-item-list {
      margin-left: 0;
    }

    .cross-style {
      right: 85% !important;
    }
  }

  .table > thead th {
    color: #989898 !important;
  }

  .header-right__right {
    text-align: right;
  }
}

/* New styles */

.order-type-selected {
  border-bottom: solid 1px;
}

.order-side-selected {
  border-bottom: solid 1px;
}

.table-order-form {
  padding-right: 15px;

  td {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    width: 50%;
  }

  .action-button-td {
    margin-top: -15px;
    width: 100%;
  }
}

.table-order-list {
  width: 100%;

  td {
    overflow: hidden;
  }
}

.order-form-input-inactive {
  padding-right: 15px;
  line-height: normal;
}

.unselected-tab {
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: all .3s ease;
}

.selected-tab-white {
  border-bottom: 2px solid white !important;
  cursor: pointer;
  transition: all .3s ease;
}

.selected-tab-green {
  border-bottom: 2px solid #28a745 !important;
  cursor: pointer;
  transition: all .3s ease;
}

.selected-tab-red {
  border-bottom: 2px solid #ff5246 !important;
  cursor: pointer;
  transition: all .3s ease;
}

.order-list {
  width: 100%;
}

.small-progress-bar {
  position: absolute;
  opacity: 0.3;
  height: 1.2rem;
}

@media screen and (max-width: 991px) {
  .terminal .history-trade-header--border-top {
    border-top: 1px solid #313337;
  }
  .terminal {
    .history-trade-header--border-top {
      background: #202124;
    }
    .inner-bg-dark-gray.inner-bg-dark-gray--mob-none {
      background-color: transparent;
    }
    header {
      height: 5.2em;

      .header-left {
        height: 2.6em;
      }
      .header-right {
        height: 2.6em;

        .header-right__right {
          text-align: center;
        }

        .header-right__left {
          text-align: center;
        }
      }
    }

    .left-panel {
      .trades {
        //width: 90%;
        //margin-left: 5%;
        //padding-left: 15px;
        max-height: calc(45vh - 60px);
      }

      .orders-body {
        td {
          text-align: left !important;
        }
      }
    }

    .center-panel {
      .depth-chart-container {
        display: none;
      }
    }

    .right-panel {

      .order-form {
        .sell-buy-table{
          width:85%;
          td{padding-left: 5px}
        }
        table {
          width: 90%;
          padding: 5px 0;

          .limit-picker{
            width:45%;
            margin-left: 6%;
          }
          .market-picker{
            width:45%;
            margin-left: 2%;
          }

        }
      }

      .order-list {

        .table-order-list {
          td:nth-child(odd) {
            width: 60%;
          }

          td:nth-child(even) {
            text-align: left;
          }

          td{
            padding-right: 0;
          }

          button {
            width: auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .terminal {
    header {
      .header-right .row{
        width: 90%;
        padding-left: 5%;
        .header-right__left {
          text-align: left;

        }

        .header-right__right {
          text-align: right;
        }
      }
    }

    .no-mobile {
      display: none;
    }
  }
}

@media screen and (max-width: 420px) {
  .terminal {
    .right-panel {
      .order-form {
        table {
          .limit-picker{
            width:40%;
            margin-left: 10%;
          }
          .market-picker{
            width:40%;
            margin-left: 0%;
          }

        }
      }

      .order-list {
        .table-order-list {
          button {
            width: 60%;
          }
        }
      }
    }
  }
}

.terminal-bb {
  border-bottom: 1px solid #313337;
}
.terminal-bt {
  border-top: 1px solid #313337;
}
.terminal {
  .order-form-input {
    width: 100%;
    border-radius: .313rem;
    background: #18191b;
    border: 1px solid #313337;
    padding: 0 2em 0 1em;
    color: #fff;
    box-sizing: border-box;
  }
}


.terminal .btn-danger, .terminal .btn-success {
  color: #fff;
  border: none;
  border-radius: .313rem;
  font-weight: normal;
  text-align: center;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  text-transform: none;
  transition: all .2s ease-in-out;
}

.terminal .btn-danger {
  background: #df4249;
}
.terminal .btn-danger:disabled, .terminal .btn-danger:hover {
  background: rgba(223,66,73,.8);
  border: none;
}
.terminal .btn-success.disabled, .terminal .btn-success:hover {
  background: rgba(21,159,73,.8);
  border: none;
}
.terminal .btn-danger:disabled {
  color: hsla(0,0%,100%,.6);
  cursor: not-allowed;
}

.terminal .btn-success{
  background: #159f49;
}


.terminal .btn-success:disabled {
  color: hsla(0,0%,100%,.6);
  cursor: not-allowed;
}

.terminal .btn-success {
  background: #159f49;
}


.terminal .avai {
  color: #9599a3;
  margin-bottom: .5rem;
}

.terminal  .transparent-select {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}



.terminal-title-border {
  border-top: 1px solid #313337;
  border-bottom: 1px solid #313337;
  padding-top: .5rem;
  background: #202124;
}
.orders-header--bg {
  background: #202124;
}
.terminal .ps__thumb-y {
  right: 0;
}

@media screen and (max-width: 991px) {
  .terminal .right-panel {
    border-top: none;
    padding-bottom: 0 !important;
  }
  .terminal .center-panel {
    border-top: none;
    border-left: 5px solid #313337;
    border-right: 5px solid #313337;
  }
}


.terminal {
  .box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .box__item {
    width: 50%;
  }


  .order-form-input {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: .313rem;
    background: #18191b;
    border: 1px solid #313337;
    color: #fff;
    input {
      width: 75%;
      cursor: pointer;
    }
  }
  .order-form-input-inactive {
    position: relative;
    padding-right: 0;
    width: 100%;
    .order-input-desc {
      right: 0;
    }
  }
  .order-input-desc {
    position: absolute;
    line-height: 100%;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
  }
  .right-panel .text-my-style {
    color: #fff;
    padding: .5rem;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
  }
  .cursor {
    cursor: pointer;
  }
  .right-panel .history-trade-header {
    text-align: left;
  }
}
.terminal {
  .ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y {
    width: 5px;
  }
  .ps__rail-y {
    width: 0;
    background-color: transparent;
  }
  .ps__thumb-y {
    width: 5px;
  }
  .inner-bg-dark-gray {
    background: #202124;
  }

}
.terminal .user-orders-body {
  padding-left: 15px;
  padding-right: 0;
}
.terminal .table-order-list td:nth-child(odd) {
  width: 100%;
  display: block;
  text-align: left;
}
.terminal .table-order-list td:nth-child(even) {
  display: block;
  text-align: left;
  padding-top: 0;
}
.terminal .left-panel .text-my-style {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
}
.terminal .left-panel .title {
  font-family: Open Sans,sans-serif !important;
  font-size: 10px;
  line-height: 20px;
  color: #9599a3;
  text-transform: uppercase;
}
.terminal {
  .box__item--inline {
    display: inline-block;
  }
  .box__item--inline-w30 {
    width: 30%;
  }
  .box__item--inline-w70 {
    width: 70%;
  }
  .box--end {
    justify-content: flex-end;
  }
  .box--w100 {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .terminal .avai {
    white-space: normal;
  }
  .terminal header .header-right .header-right__left {
    text-align: left;
  }
  .terminal header .header-right .header-right__right {
    text-align: right;
  }
  .terminal .center-panel .TVChartContainer {
    width: 100%;
    margin-left: 0;
  }
  .terminal .left-panel {
    border-top: 0;
    border-right: 0;
  }
  .db--mob {
    display: block;
    text-align: left;
  }
  .terminal .right-panel .order-list .table-order-list td:nth-child(odd) {
    display: inline-block;
    width: 49%;
    text-align: left;
  }
  .terminal .right-panel .order-list .table-order-list td:nth-child(even) {
    width: 49%;
    text-align: right;
    display: inline-block;
    padding-top: .75rem;
  }
  .tb--border {
    border-left: 5px solid #313337;
  }
}

@media screen and (max-width: 600px) {
  .terminal header .header-right .row {
    width: 100%;
    padding-left: 0;
    margin: 0;
  }
  .terminal {
    .bm-burger-button {
      right: 0 !important;
    }
  }
  .terminal header .header-right .header-right__left {
    padding: 0;
  }
  .terminal header .header-right .header-right__right {
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .tb--border {
    border-left: 0;
  }
}

.depth-chart-container > .terminal-title-border + .row {
  height: 269px;
  overflow: hidden;
}
.terminal #body > .row {
  height: 100%;
}

@media screen and (max-width: 1091px) {
  .terminal  .nav-link--mob {
    display: block;
    position: absolute;
    top: -5px;
    right: 45px;
    color: #fff;
  }
}

@media (max-width: 1091px) {
  .terminal .navbar-expand-lg .navbar-collapse {
    display: none !important;
  }

  .navbar-expand-lg .navbar-toggler {
    display: block;
  }
  .terminal .bm-burger-button {
    display: block;
    top: 0 !important;
  }
}
@media screen and (max-width: 1280px) {

  .terminal {
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.checkbox__button--order-form-wrapp {
  label .checkbox__button:after {
    color: #fff;
  }
  label {
    font-size: 11px;
  }
}
.terminal {
  .small-progress-bar {
    height: 11px;
  }
}
.terminal .left-panel .table td, .terminal .left-panel .table th, .terminal .center-panel .table td, .terminal .center-panel .table th {
  line-height: 13px;
}
.terminal .right-panel .table td, .terminal .right-panel .table th {
  line-height: 13px;
}
.terminal .right-panel .text-my-style {
  padding: .2rem .5rem;
}
.terminal .scrollbar-left-panel-terminal {
  padding-top: 6px;
}
.terminal .transparent-select {
  padding-right: 20px;
}
//login-in-terminal
.login-in-terminal {
  color: #fff;
  font-size: 11px;
  &__title {
    background: #202124;
    padding: .5rem;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    border-top: 1px solid #313337;
    border-bottom: 1px solid #313337;
    margin-right: -15px;
    margin-bottom: 1rem;
    .title {
      font-family: Open Sans,sans-serif !important;
      font-size: 12px;
      line-height: 20px;
      color: #9599a3;
    }
  }
  &__box {
    padding: .5rem;
  }
  p, ul li {
    font-family: Open Sans,sans-serif !important;
    font-size: 12px;
    line-height: 20px;
    color: #9599a3;
  }
  ul {
    padding: 0;
  }
  .btn-terminal {
    width: 100%;
    max-width: 270px;
    display: block;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: .313rem;
    color: #fff;
    border: 1px solid #df4249;
    background: #df4249;
    outline: none;
    margin-bottom: 1rem;
    padding: 12px 5px;
    margin-left: auto;
    margin-right: auto;
  }
  .terminal .btn-terminal:disabled {
    background: rgba(223,66,73,0.8);
    outline: none;
  }
  .btn-terminal.btn-terminal--register {
    background: transparent;
    border: 1px solid #df4249;
    color: #df4249;
    &:hover {
      opacity: .7;
    }
  }
  .btn-terminal.btn-terminal--login {
    &:hover {
      opacity: .7;
    }
  }
}

.container-fluid.terminal {
  .left-bar {
    display: none !important;
    @media(min-width: 1076px) {
      display: none !important;
    }
  }
}
.terminal {
  .main-properties {
    height: auto !important;
  }
}

.depth-box-border-right {
  border-right: 1px solid #313337;
}
@media(max-width: 768px) {
  .mob-text-center {
    text-align: center !important;
  }
}
.terminal .left-panel {
  .box {
    justify-content: flex-end;
  }
  .box__item {
    width: auto;
    margin-left: 5px;
    padding: .2rem .5rem;
  }
}
.terminal .left-panel .title {
  padding-left: .5rem;
}
.terminal {
  .history {
    width: 100%;
    padding-left: .5rem;
    @media(max-width: 991px) {
      width: 100%;
      .history__box {
        width: 70%;
      }
    }
  }
}
.terminal {
  .new-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem !important;
  }
  .new-order__box {
    width: 50%;
    .box__item {
      margin-bottom: -2px;
    }
  }
}
.depth-chart__title, .order-book__title {
  text-transform: uppercase;
  font-weight: 400;
  font-family: Open Sans,sans-serif !important;
  font-size: 10px;
  line-height: 20px;
  color: #9599a3;
}
.history__box {
  display: flex;
}
