<template>
  <form enctype="multipart/form-data" method="post" ref="form" @submit.prevent="onSubmit">
    <error-view :errors="errors"/>
    <div class="row">
      <div class="col-sm mt-3">
        <label>Валюта</label>
        <input type="text"
               name="name"
               class="form-control"
               id="currency_name"
               v-model="form.name"
               placeholder="Название валюты"
               ref="field_currency_name"
        >
        <div class="text-danger error-msg small" ref="error_currency_name"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mt-3">
        <label>Отображение</label>
        <input type="text"
               name="view"
               class="form-control"
               id="currency_preview"
               v-model="form.view"
               placeholder="Отображение"
               ref="field_currency_view"
        >
        <div class="text-danger error-msg small" ref="error_currency_view"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mt-3">
        <label>Иконка</label>
        <upload-icon :icon="form.icon"
                     accept="image/*, application/pdf"
                     name="icon"
                     id="icon"
                     ref="icon"
        />
        <div class="text-danger error-msg small" ref="error_currency_icon"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mt-3">
        <label>Количество символов после запятой</label>
        <input type="number"
               min="0"
               name="number_of_decimals"
               class="form-control"
               id="currency_number_of_decimals"
               v-model="form.number_of_decimals"
               placeholder="Количество символов после запятой"
               ref="field_currency_number_of_decimals"
        >
        <div class="text-danger error-msg small" ref="error_number_of_decimals"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mt-3">
        <label>Тип валюты</label>
        <select
            name="type"
            class="form-control"
            id="currency_type"
            v-model="form.type"
            ref="field_currency_type"
        >
          <option v-for="type in types" :value="type">{{type}}</option>
        </select>
        <div class="text-danger error-msg small" ref="error_number_of_decimals"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mt-3">
        <label>Разрешено пополнение
          <input type="checkbox" v-model="form.allow_deposit" value="1" name="allow_deposit" ref="field_allow_deposit">
        </label>
        <div class="text-danger error-msg small" ref="error_allow_deposit"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mt-3">
        <label>Разрешен вывод
          <input type="checkbox" v-model="form.allow_withdrawal" value="1" name="allow_withdrawal" ref="field_allow_withdrawal">
        </label>
        <div class="text-danger error-msg small" ref="error_allow_withdrawal"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mt-3">
        <label>Только внутренние переводы
          <input type="checkbox" v-model="form.internal_only" value="1" name="internal_only" ref="field_internal_only">
        </label>
        <div class="text-danger error-msg small" ref="error_internal_only"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mt-3">
        <button type="submit" class="btn btn-success">
          <i class="fas fa-save mr-1"></i> Сохранить
        </button>
      </div>
    </div>
  </form>
</template>

<script>
  import UploadIcon from './UploadIcon'
  import requests from '../requests'
  import errors from '../../common/helpers/errors'
  import {handlerErrors} from "../../main/utilities";

  export default {
    name: "CurrencyForm",
    data() {
      return {
        errors: [],
        form: {
          name: null,
          view: null,
          icon: null,
          number_of_decimals: null,
          type: null,
          allow_deposit: null,
          allow_withdrawal: null,
          internal_only: null
        },
        index: null
      }
    },
    props: {
      types: {
        type: Array,
        required: true
      }
    },
    components: {
      UploadIcon
    },
    methods: {
      setCurrency(index, currency) {
        this.form = currency
        this.index = index
      },
      resetErrors() {
        this.errors = errors(this.$refs, {})
      },
      onSubmit() {
        this.$emit('ajax:start')
        this.resetErrors()
        const form = new FormData(this.$refs.form)
        if (this.form.id) {
          requests.currencies.postChangeCurrency(this.form.id, form).then(({data}) => {
            this.$emit('saved', this.index, data.currency)
            this.$emit('ajax:finish')
          }).catch(({response}) => {
            this.$emit('ajax:finish')
            this.errors = handlerErrors(this.$refs, response.data.errors)
          })
        } else {
          requests.currencies.postAddNewCurrency(form).then(({data}) => {
            this.$emit('ajax:finish')
            this.$emit('saved', this.index, data.currency)

          }).catch(({response}) => {
            this.$emit('ajax:finish')
            this.errors = handlerErrors(this.$refs, response.data.errors)
          })
        }
      }
    }
  }
</script>
