<template>

  <button type="button"
          class="btn btn-danger popup-opener"
          data-popup="#menu_add-new-limit-info"
          @click="deleteCurrency"
  >
    <i class="fas fa-trash"></i> Удалить
  </button>

</template>

<script>

  import requests from '../requests'

  export default {
    name: "delete-currency",
    props: {
      id: {
        type: Number,
        required: true
      },
      index: {
        type: Number,
        required: true
      }
    },
    methods: {
      deleteCurrency() {
        requests.currencies.delete(this.id).then(({ data }) => {
          this.$emit('delete', this.index)
        });
      }
    }
  }

</script>