<template>
  <div>
    <div class="content-wrapp-overflow content-wrapp-overflow--currency">
      <table class="table table-striped table-bordered" id="currency-table">
        <thead>
        <tr>
          <th scope="col" style="width: 5%">ID валюты</th>
          <th scope="col" style="width: 20%">Валюта</th>
          <th scope="col" style="width: 25%">Отображение</th>
          <th scope="col" style="width: 20%">Количество символов после запятой</th>
          <th scope="col" colspan="2" style="width: 30%">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td colspan="4"></td>
          <td colspan="2" align="center">
            <button type="button" class="btn btn-success" @click="onAddCurrency">
              <i class="fas fa-plus mr-1"></i> Добавить
            </button>
          </td>
        </tr>
        <tr v-for="(currency, index) in cloneCurrencies" :key="currency.id">
          <td>{{ currency.id }}</td>
          <td>{{ currency.name }}</td>
          <td>{{ currency.view }}</td>
          <td>{{ currency.number_of_decimals }}</td>
          <td align="center">
            <button type="button" class="btn btn-secondary" @click="onEditCurrency(index, currency)">
              <i class="fas fa-edit"></i> Редактировать
            </button>
          </td>
          <td align="center">
            <delete-currency @delete="onDelete" :id="currency.id" :index="index" />
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <right-panel ref="rightPanel" :title="title">
      <currency-form ref="currencyForm"
                     @saved="onSaved"
                     @ajax:start="$refs.rightPanel.spin(true)"
                     @ajax:finish="$refs.rightPanel.spin(false)"
                     :types="types"
      />
    </right-panel>
  </div>
</template>

<script>
  import DeleteCurrency from './DeleteCurrency'
  import CurrencyForm from './CurrencyForm'
  import RightPanel from '../../common/right-panel'
  export default {
    name: "currency-grid-view",
    props: {
      currencies: {
        type: Array,
        required: true
      },
      types: {
        type: Array,
        required: true
      }
    },
    data() {
      return {
        errors: [],
        cloneCurrencies: [],
        title: 'Untitled',
      }
    },
    created () {
      this.cloneCurrencies = this.currencies
    },
    components: {
      DeleteCurrency,
      CurrencyForm,
      RightPanel
    },
    methods: {
      onAddCurrency () {
        this.title = 'Добавление валюты'
        this.$refs.rightPanel.show()
        this.$refs.currencyForm.setCurrency(null, [])
        this.$refs.currencyForm.resetErrors()
      },
      onEditCurrency(index, currency) {
        this.title = 'Редактирование валюты'
        this.$refs.rightPanel.show()
        this.$refs.currencyForm.setCurrency(index, currency)
        this.$refs.currencyForm.resetErrors()
      },
      onSaved(index, currency) {
        if (index !== null && index >= 0) {
          this.cloneCurrencies[index] = currency
          this.$refs.rightPanel.hide()
        } else {
          this.cloneCurrencies.push(currency)
          this.$refs.rightPanel.hide()
        }
      },
      onDelete (index) {
        this.cloneCurrencies.splice(index, 1)
      }
    }
  }

</script>
