<template>
    <div class="upload-icon">
        <input class="input-file document-file"
               @change="onInputFileChange"
               :accept="accept"
               :name="name"
               type="file"
               :id="id"
               ref="document"
        >

        <template v-if="isSelectedFile">
            <span v-if="previewUrl.length === 0">{{ filename | cutFileName }}</span>
            <a class="currency-icon" :href="previewUrl" target="_blank" v-else>
                <img :src="previewUrl" alt="">
            </a>

            <button type="button" class="btn text-danger" @click="onDeleteFile" v-if="remove">
                <i class="fas fa-trash"></i>
            </button>
        </template>

        <template v-else>
            <label class="btn btn-sm btn-link mb-0 label-file" :for="id">
                <i class="fas fa-paperclip"></i> Choose file
            </label>
        </template>
    </div>
</template>

<script>

export default {
  name: "UploadIcon",
  props: {
  	id: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    accept: {
      type: String,
      default: 'image/*'
    },
    icon: {
      type: String,
      default: ''
    },
    remove: {
      type: Boolean,
      default: true
    }
  },
  data() {
  	return {
      isSelectedFile: false,
      previewUrl: '',
      filename: '',
      files: []
    }
  },
  watch: {
  	icon () {
      this.setDocument()
    }
  },
  filters: {
  	cutFileName(value) {
      if (value.slice(0, -4).length > 15) {
        return value.slice(-15);
      }

      return value;
    }
  },
  methods: {
  	setDocument () {
      if (this.icon !== '') {
        this.previewUrl = `/uploads/${this.icon}` || ''
        this.filename = this.icon || ''

        this.isSelectedFile = true
      } else {
        this.reset();
			}
		},
		onInputFileChange(e) {
			if (e.target.files[0]) {
				this.filename = e.target.files[0].name
				this.isSelectedFile = true
			}
		},
		onDeleteFile() {
			this.reset();
		},
		reset() {
			this.isSelectedFile = false;
			this.previewUrl = '';
			this.filename = '';
			if (typeof this.$refs.document !== 'undefined') {
				this.$refs.document.value = null;
			}
		}
	},
}
</script>
