<template>
  <div id="modal" class="modal-background w-100 background-none" v-bind:class="{ 'show': show, 'hide': !show }">
    <div class="white-background-50 h-100 w-100 position-fixed"></div>
    <div class="modal-dialog d-flex align-items-center"
         v-bind:class="{'modal-large': size === 'large', 'modal-small': size === 'small'}" style="margin-top: 5rem;">
      <!---->
      <div class="modal-content align-self-center m-auto white-shadow" style="background: white;">
        <div class="close-modal" @click="close"><i class="icon-close-modal"></i></div>
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
  import jQuery from 'jquery'

  export default {
    name: "payment-method-modal",
    props: {
      size: {
        type: String,
        default: 'large'
      },
    },
    data() {
      return {
        show: false
      }
    },
    methods: {
      toggle(isShow) {
        jQuery('body').toggleClass('overflow-hidden', isShow);
        this.show = isShow
        if(!isShow) this.$emit('clear-modal');
      },
      close() {
        this.$emit('clear-modal');
        this.toggle(false)
      },
      open() {
        this.toggle(true)
      },
      onClose() {
        this.close()
      }
    }
  }
</script>

<style scoped>

</style>
