<template>

  <div class="mt-0">
    <input type="hidden" name="document_type[]" :value="documentType">
    <input type="hidden" name="system_type" :value="systemType">
    <file-pond
            :id="id"
            :name="name"
            ref="document"
            :label-idle='"" +
             "<div class=\"load-img\">" +
              "<div class=\"row align-items-center\">" +
               "<div class=\"col-md-3 col-sm-3\">" +
                  "<i class=\"icon-select-img text-silver\"></i>" +
               "</div>" +
                  "<div class=\"col-md-9 col-sm-9 text-silver\">" +
                    "<span class=\"btn btn-secondary mb-2 filepond--label-action\">" + $i18n.translate("dashboard.upload.select")+ "</span>" +
                    "<span class=\"d-inline-block text-with-button ml-2\" style=\"font-size: 14px;\">" + $i18n.translate("dashboard.upload.drag") + "</span> " +
                    "<span class=\"font-italic d-block text-without-button\" style=\"font-size: 14px;\">" + $i18n.translate("dashboard.upload.size", [size]) + "</span>" +
                    (allowableExtensions ? "<span class=\"font-italic d-block text-without-button\" style=\"font-size: 14px;\">" + $i18n.translate("dashboard.upload.allowableFileExtensions", [this.allowableExtensions]) + "</span>" : "") +
                 "</div>" +
               "</div>" +
             "</div>"'
            v-bind:files="files"
            :accepted-file-types="accept"
            v-on:removefile="onRemoveFile"
            :allow-file-size-validation="true"
            :max-file-size="size+'MB'"
            :label-max-file-size='$i18n.translate("dashboard.upload.error_max", [size])'
            :label-max-file-size-exceeded='$i18n.translate("dashboard.upload.error")'
    />
  </div>
</template>

<script>
  import vueFilePond from 'vue-filepond';
  import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type'
  import FilePondPluginImagePreview from 'filepond-plugin-image-preview'
  import FilePondPluginMediaPreview from 'filepond-plugin-media-preview'
  import FilePondPluginFileValidateSize from 'filepond-plugin-file-validate-size';
  import requests from '../../../../requests'

  const FilePond = vueFilePond(FilePondPluginFileValidateType, FilePondPluginImagePreview, FilePondPluginMediaPreview, FilePondPluginFileValidateSize);
  export default {
    props: {
      id: {
        type: String,
        required: true
      },
      documentType: {
        type: String
      },
      systemType: {
        type: String
      },
      name: {
        type: String,
        required: true
      },
      accept: {
        type: String,
        default: 'image/jpeg, image/png, application/pdf'
      },
      size: {
        type: Number,
        default: 15
      },
      document: {
        type: Object,
        default() {
          return {}
        }
      },
      allowableExtensions: {
          type: String
      }
    },
    data() {
      return {files: []};
    },
    components: {
      FilePond
    },
    watch: {
      document() {
        this.setFile()
      }
    },
    created() {
      this.setFile();
    },
    methods: {
      setFile() {
        if (this.document.id !== undefined) {
          this.files = [this.document.url || '']
        } else {
          this.files = [];
        }
      },
      getFile() {
        let filePondFile = this.$refs.document.getFile(0);
        if (!filePondFile) {
          return null;
        }
        if (filePondFile.file instanceof File) return filePondFile.file;
        return null;
      },
      onRemoveFile (error, file) {
        requests.dashboard.profile.removeDocument({path: file.file.name}).then(() => {
          this.$emit('delete-file', file);
        })
      },
    },
  }

</script>
