<template>
    <div class="card">
        <div class="card-body">
          <button class="btn btn-dark" @click="$refs.rightPanel.show()">Добавить</button>
          <right-panel ref="rightPanel" title="Новую настройку ваучеров">
            <voucher-setting-form :currencies="currencies" :voucherSetting="voucherSetting" :form="form"></voucher-setting-form>
          </right-panel>
        </div>
    </div>
</template>


<script>
  import RightPanel from "../../common/right-panel";
  import VoucherSettingForm from "./VoucherSettingForm.vue";

  export default {
    name: 'create-new-voucher-setting',
    props: {
      currencies: Array,
      voucherSettings: Array
    },
    components: {
      RightPanel,
      VoucherSettingForm
    },
    data() {
      return {
        form: {
          id:null,
          currency: null,
          commission: null
        },
        voucherSetting: {}
      };
    }
  }

</script>
