<template>
    <span>
      <div class="btn btn-secondary" @click="showRightPanel" title="Редактировать">
          <i class="fas fa-edit"></i>
      </div>
      <right-panel ref="rightPanel" title="Редактировать настройку ваучеров">
        <voucher-setting-form v-if="show" :currencies="currencies" :voucherSetting="voucherSetting" :form="form"></voucher-setting-form>
      </right-panel>
    </span>
</template>

<script>
  import RightPanel from "../../common/right-panel";
  import VoucherSettingForm from "./VoucherSettingForm.vue";

  export default {
    name: 'edit-voucher-setting',
    props: {
      currencies: Array,
      voucherSetting: Object
    },
    components: {
      RightPanel,
      VoucherSettingForm
    },
    data() {
      return {
        form: {
          currency: null,
          commission: null,
          sms_code: null
        },
        show:false
      };
    },
    created() {
      let {id, commission, currency} = this.voucherSetting;

      this.$nextTick(() => $(this.$el).removeClass('preview-btn'));
      this.form = {
        ...this.form, ...{
          id,
          currency,
          commission
        }
      }
    },
    methods: {
      showRightPanel(){
        this.show = true;
        this.$refs.rightPanel.show()
      },
    }
  }

</script>
