<template>
    <div class="exchanges">
        <create-new-voucher-setting :currencies="currencies"/>
        <table-view :voucher-settings="voucherSettings"
                    :currencies="currencies"
        />
    </div>
</template>

<script>
import TableView from './TableView'
import requests from "../requests";
import CreateNewVoucherSetting from "@/admin/voucher-settings/CreateNewSetting";

export default {
  name: "GridView",
  components: {
    CreateNewVoucherSetting,
  	TableView
  },
  data() {
  	return {
      currencies: [],
      voucherSettings: []
    }
  },
  created () {
  	this.load();
  },
  methods: {
  	load () {
      requests.voucherSettings.list().then(({ data }) => {
        this.currencies = data.currencies;
        this.voucherSettings = data.voucherSettings;
      })
    }
  }
}
</script>
