<template>
  <div class="vaucher-settings-table-wrapp">
    <table class="table table-striped table-bordered mt-3">
      <thead>
      <tr>
        <th scope="col" style="width: 5%">ID</th>
        <th scope="col" style="width: 5%">Валюта</th>
        <th scope="col" style="width: 5%">Комиссия</th>
        <th scope="col" colspan="2" style="width: 5%">Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr v-if="voucherSettings.length !== {}" v-for="voucherSetting in voucherSettings" :key="voucherSetting.id">
        <td>{{ voucherSetting.id }}</td>
        <td>{{ voucherSetting.currency | getCurrencyAlias(currencies) }}</td>
        <td>{{ voucherSetting.commission }}</td>
        <td align="center">
          <edit-voucher-setting
              :currencies="currencies"
              :voucher-setting="voucherSetting"
              class="preview-btn"
          />
        </td>
        <td align="center">
          <delete-voucher-setting :voucher-setting="voucherSetting" class="preview-btn" />
        </td>
      </tr>
      <tr v-else>
        <td colspan="5" class="text-center">Ничего не найдено.</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import EditVoucherSetting from './EditVoucherSetting'
import DeleteVoucherSetting from './DeleteVoucherSetting'
import _ from 'underscore'

export default {
  name: "TableView",
  components: {
      EditVoucherSetting,
      DeleteVoucherSetting
  },
  filters: {
    getCurrencyAlias (currency, currencies) {
      let currencyName = _.find(currencies, {name: currency})

      if (currencyName) {
        return currencyName.view
      }

      return currency
    }
  },
  props: {
  	currencies: {
      type: Array,
      required: true
    },
    voucherSettings: {
      type: Array,
      required: true
    }
  }
}
</script>
