<template>
  <form class="right-menu__form" method="post" @submit.prevent="verifyCode">
    <div class="right-menu__form__block__inner mt-3">
      <label>Валюта</label>
      <div class="right-menu__form__row">
        <select class="form-control" name="currency_from" v-model="form.currency">
          <option v-for="currency in currencies" v-if="currency.type!=='FIAT'" :value="currency.name">{{ currency.view }}</option>
        </select>
      </div>
      <div class="text-danger error-msg" id="error_currency_from"></div>
    </div>
    <div class="right-menu__form__block__inner mt-3">
      <label>Комиссия</label>
      <div class="right-menu__form__row">
        <input class="right-menu__form__input"
               v-model="form.commission"
               type="number"
               step="any"
               min="0"
        >
      </div>
      <div class="text-danger error-msg" id="error_commission"></div>
    </div>

    <hr>
    <button
        type="button"
        class="btn"
        :class="active==='g2fa'?'btn-primary':'btn-outline-primary'"
        @click="setActive('g2fa')">
      Whith Google Auth
    </button>
    <button
        type="button"
        class="btn"
        :class="active==='sms'?'btn-primary':'btn-outline-primary'"
        @click="setActive('sms')">
      Whith SMS
    </button>
    <error-view :errors="errors"></error-view>
    <success-view :success-message="successMessage"></success-view>
    <google2-fa v-if="active==='g2fa'" v-on:ga_code="form.ga_code = $event" ref="google2fa"></google2-fa>

    <div class="right-menu__form__row mt-2" v-show="active==='sms'">
      <input type="text"
             class="right-menu__form__input"
             v-model="form.sms_code"
             placeholder="Sms code"
             ref="field_sms_code"
      >
      <button type="button" class="btn btn-link" @click="onSendSmsCode">Request code</button>

    </div>
    <div class="text-danger error-msg" ref="error_sms_code"></div>


    <button type="submit" class="btn btn-dark right-menu__button">Сохранить</button>
  </form>
</template>

<script>
  //TODO: не компонент а пиздец(унаследован от ExchangeForm.vue)

  import requests from '../requests'
  import ErrorView from '../../common/form-elements/Errors'
  import SuccessView from '../../common/form-elements/Success'
  import { handlerErrors } from '../../main/utilities'
  import Google2Fa from "../../common/google2fa";

  export default {
    name: 'voucher-setting-form',
    props: {
      currencies: Array,
      form: Object
    },
    components: {
      ErrorView,
      SuccessView,
      Google2Fa
    },
    data() {
      return {
        successMessage: '',
        isSendCode: false,
        show: false,
        errors: [],
        active: 'g2fa',
        crefs: this.$refs,
      };
    },
    mounted(){
      Vue.set(this.form, 'ga_code', '')
    },
    methods: {
      setActive(name){
        this.active = name;
        this.$refs.error_sms_code.innerHTML = ''
        this.$refs.field_sms_code.classList.remove("is-invalid");
        if(name==='sms') {
          Vue.delete(this.form, 'ga_code')
          Vue.set(this.form, 'sms_code', '')
        }
        else {
          this.isSendCode = true;
          Vue.delete(this.form, 'sms_code')
          Vue.set(this.form, 'ga_code', '')
        }
      },
      onSubmit() {
        this.$parent.$parent.submitForm();
      },
      clearMessage() {
        this.successMessage = ''
      },
      verifyCode() {

        this.errors = [];
        if(this.active!=='sms') {
          this.crefs = Object.assign(this.$refs, this.$refs.google2fa.$refs);
        }
        this.$parent.$parent.$refs.rightPanel.spin(true);
        let request;
        request = requests.voucherSettings.update(this.form, 0);
        request
          .then(({data}) => {
            this.$parent.$parent.$refs.rightPanel.spin(false);
            this.$parent.$parent.$refs.rightPanel.hide();
            this.isSendCode = true;
            window.location.reload();
            this.successMessage = data.message;
          })
          .catch(({response}) => {
            this.$parent.$parent.$refs.rightPanel.spin(false);
            this.errors = handlerErrors(this.$refs, response.data.errors)
          })
      },

      onSendSmsCode() {
        this.$refs.field_sms_code.blur();
        this.$parent.$parent.$refs.rightPanel.spin(true);

        let request;

        request = requests.voucherSettings.update(this.form, true);

        request
          .then(({data}) => {
            this.$parent.$parent.$refs.rightPanel.spin(false);
            this.successMessage = data.message;
            this.isSendCode = data.isSendCode
          })
          .catch(({response}) => {
            this.$parent.$parent.$refs.rightPanel.spin(false);
            if (response.data.invalidCode !== true) {
              this.isSendCode = false;
              this.form.sms_code = null;
            }
            this.errors = handlerErrors(this.$refs, response.data.errors)
          })

      }
    }
  }
</script>
