@import "./header/index";
@import "./left-bar/index";
@import "./modal/index";
@import "./form/index";
@import "./buttons/index";
@import "./animation/index";
@import "./profile/index";
@import "./settings/index";
@import "./payments/index";
@import "./library/obmenIconPack";
@import "./transactions/index";
@import "./voucher/index";
@import "./balance/index";
@import "./account-setting/index";
@import "./partenrs/leadership";
@import "./partenrs/tariffbonus";
@import "./invest/invest";
@import "./payments/payments_by_links";
@media screen and (max-width: 400px) {
  h3 {
    font-size: 1.25rem;
  }
  .text-mobile {
    font-size: 12px;
  }
}

@media screen and (min-width: 1000px) {
  .header-hide-desk {
    display: none!important;
  }
}
@media screen and (max-width: 1000px) {
  .header-hide-mobile {
    display: none!important;
  }
}

.border-bottom-silver {
  border-bottom: 2px solid #a7a7b7;
  &:hover {
    border-color: black;
  }
}

.text-black {
  color: #000;
}

.text-red {
  color: #ff504b;
  $text-red: #ff504b;
}

.text-orange {
  color: #ff9f4e;
  $text-orange: #ff9f4e;
}

.text-silver {
  color: #a7a7b7;
  $text-silver: #a7a7b7;
}

.text-green {
  color: #64d731;
  $text-green: #64d731;
}

.silver-link {
  color: #a7a7b7;
  &:hover {
    color: black;
  }
}

.link-p {
  color: #4f313f;

  &:hover {
    color: #14101d;
    cursor: pointer;
  }
}

.w-85 {
  width: 85%;
}

.w-60 {
  width: 60%;
}
.w-55 {
  width: 55%;
}
.w-45 {
  width: 45%;
}
.w-40 {
  width: 40%;
}
.w-35 {
  width: 35%;
}
.w-30 {
  width: 30%;
}

.w-15 {
  width: 15%;
  padding-top:15px;
}

.w-unset {
  width: unset!important;
}

.silver-background {
  background-color: #f3f3f9;
}
.white-background {
  background-color: white;
}

.white-shadow {
  padding: 10px 20px;
  background: #f6f6fb;
  box-shadow: 0 0 5px 0 rgba(17, 6, 51, 0.14);
}

.border-bottom-hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);

  &.silver-border {
    border-color: #a7a7b7;
  }
  &.black-hover:hover{
    border-bottom: 2px solid rgb(0, 0, 0);
  }
  &.white-hover:hover{
    border-bottom: 2px solid rgba(255, 255, 255, 1);
  }
}
.bm-menu{
  background-color: #000000!important;
  max-width: 268px!important;
  & .bm-item-list{
    margin-left: 0;
  }

  .cross-style{
    right: 85%!important;
  }
}
.bm-burger-button{
  top: 10px!important;
  & .bm-burger-bars{
    background-color: #ffffff;
  }
}

@media screen and (max-width: 375px) {
  .bm-burger-button {
    top: 24px!important;
  }
}

.dropdown-sm-select {
  $d-sm-select-color: black;
  &.white-select {
    $d-sm-select-color: white;
  }
  .input{
    input {
      background: transparent;
      width: 100%;
      border: none;
      color: white;
    }
  }
  ul {
    list-style: none;
    background: rgb(119, 119, 119);
    position: absolute;
    box-shadow: 0 0 5px white;
    padding: 0;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
    li {
      padding: 0 10px;
      &:hover {
        font-weight: bold;
        cursor: pointer;
        background: #ff504b;
      }
    }
  }
}

.open-left {
  position: fixed;
  left: 0;
  font-size: 40px;
  top: 45%;
  cursor: pointer;
  z-index: 999;
  &.show {
    left: 268px;
  }
}

.circle-left-top {
  width: 30px;
  top: 10px;
  height: 30px;
  left: 0;
  border-radius: 100%;
  position: absolute;
  text-align: center;
}

.circle-left-bottom {
  width: 30px;
  bottom: 165px;
  height: 30px;
  left: 0;
  border-radius: 100%;
  position: absolute;
  text-align: center;
  @media screen and (max-width: 423px) {
    bottom: 190px;
  }
}

.center-left-arrow {
  color: silver;
  position: absolute;
  left: 0;
  font-size: 30px;
  top: 100px;
  @media screen and (max-width: 424px) {
    top: 80px;
  }
}

.spinner-rounded {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: text-bottom;
  border: 2px solid currentColor;
  border-right-color: black;
  border-radius: 50%;
  -webkit-animation: spinner-rounded .75s linear infinite;
  animation: spinner-rounded .75s linear infinite;
}

.load__file__block{
  height: 100%;
  border: 2px dashed #dbdbe8;

  div:first-child {
    @media screen and (max-width:999px){
      margin-bottom: 20px;
    }
  }
}
.center-captcha {
  margin-bottom: 15px;
  .g-recaptcha {
    display: inline-block;
  }
}
.load-img {
  padding: 30px;
  border: 2px dashed #ededf4;
  .row{
    .col-md-3 {
      @media screen and (max-width: 575px) {
        text-align: center;
        margin-bottom: 20px;
      }
      i {
        font-size: 4rem;
      }
    }
    .col-md-9 {
      .text-with-button {

        @media screen and (max-width: 665px) and (min-width: 468px) {
          width: 50%;
          word-break: break-word;
          vertical-align: middle;
        }
        @media screen and (max-width: 467px)  and (min-width: 445px){
          width: 40%;
        }
        @media screen and (max-width: 445px) {
          margin-bottom: 0.5rem;
        }
      }

    }
  }
}
.number-without-control::-webkit-inner-spin-button,
.number-without-control::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.swal2-toast {
  .swal2-content {
    padding-left: 10px;
  }
}


.form-control::-webkit-input-placeholder { color: #a7a7b7; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #a7a7b7;}  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #a7a7b7; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #a7a7b7; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #a7a7b7; }  /* Microsoft Edge */

.user-account-transactions {
  .btn-secondary {
    &.green {
      &:hover {
        color: black!important;
        border-color: #00da77!important;
      }
      &:focus {
        border-color: #545b62!important;
      }
    }
  }
}

.dashboard-layout {
  .color-red {
    color: #ff4e4b !important;
  }
  .border-green {
    border: 2px solid #28a745;
  }
  .border-pink {
    border: 2px solid #f8a1a1;
  }
  .color-green {
    color: #28a745 !important;
  }
  .background-pink {
    border-radius: 4px;
    background: #ff4e4b;
  }
  .background-green {
    border-radius: 4px;
    background: #28a745;
  }

  .color-white {
    color: white !important;
  }
}
.not-found-box {
  height: calc(100vh - 465px);
  //color:#4c6cb3;
  &__item {
    font-size:10rem;
    line-height: 8rem;
  }
}

@media screen and (max-width: 1105px) {
  .bm-burger-button {
    right: 0 !important;
  }
}