<template>
  <div>
    <div class="modal-body">
      <div class="form-custom black accepted-items">
        <div class="form-control-custom accepted-item">
          <div class="text-black border-0 w-100 d-flex flex m-0 align-items-center justify-content-between position-relative exchange-block">
            <i class="icon-circle-accept mr-3"></i>
            <div class="d-flex flex-column w-100">
              <div><span class="font-weight-bold mr-1 d-block">{{ $t("bitexcard.number") }}</span></div>
              <div class="d-flex border-bottom-silver align-items-center justify-content-between exchange-block">
                <input class="w-100 border-0 text-silver pt-1 pb-0" type="number"
                       ref="field_number" maxlength="12" v-model.number="number" autofocus
                       @input="inputValidator($event, 'onlyNumbersFormat')">
              </div>
              <span class="error-msg font-weight-bold" ref="error_number"></span>
            </div>
          </div>
        </div>
        <div class="form-control-custom accepted-item">
          <div class="text-black border-0 w-100 d-flex flex m-0 align-items-center justify-content-between position-relative exchange-block">
            <i class="icon-circle-accept mr-3"></i>
            <div class="d-flex flex-column w-100">
              <div><span class="font-weight-bold mr-1 d-block">{{ $t("bitexcard.pin_code") }}</span></div>
              <div class="d-flex border-bottom-silver align-items-center justify-content-between exchange-block">
                <input class="w-100 border-0 text-silver pt-1 pb-0"
                       type="number"
                       v-model.number="pin_code"
                       maxlength="4"
                       ref="field_pin_code"
                       autofocus @input="inputValidator($event, 'onlyNumbersFormat')">
              </div>
              <span class="error-msg font-weight-bold" ref="error_pin_code"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100" v-if="amount">
      <span>{{ $t("bitexcard.amount") }}:</span>
      <div class="float-right">{{amount|formatMoney(currency)}} {{currency | getCurrencyAlias}}</div>
    </div>
    <br>
    <div class="modal-footer">
      <div class="d-flex w-100 justify-content-between align-items-center">
        <button class="btn btn-primary btn-accepted" @click="sendRequest">{{$t('bitexcard.activate')}}</button>
        <span class="text-black font-weight-bold mb-0" style="cursor: pointer" @click="close"
          >{{ $t("dashboard.profile.cancel") }} —</span>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'

  import alert from '../../../../../common/sweet-alert'
  import requests from '../../../../requests'
  import {inputValidator, handlerErrors, resetErrors, handleErrorForAlert, formatMoney, getCurrencyAlias} from '../../../../utilities'
  import spinner from '../../../../../common/spinner'

  export default {
    name: "BitexcardModalContainer",
    components: {

    },
    data() {
      return {
        show: true,
        number : null,
        pin_code  : null,
        errorPin: true,
        errorNumber: true,
        amount: null,
        currency: null,
        check_valid: false
      }
    },
    computed: {
      ...mapGetters({
        user: 'getUser',
      }),
    },
    created() {
      this.$scrollBody('hidden')
    },
    destroyed() {
      this.$scrollBody('auto')
    },
    methods: {
      inputValidator,
      sendRequest() {
        this.validate(false)
        if (this.errorNumber || this.errorPin) {
          return false
        }
        spinner.toggle(true)
        requests.bitexcard.activate({
          number: this.number,
          pin_code: this.pin_code
        }).then(
          ({data}) => {
            this.showSuccess();
            this.$store.dispatch('updateUserAccount', this.accountCurrencyForPayment);
            this.close()
          }
        ).catch(({response}) => {
          if ((typeof response.data.errors !== 'undefined') && response.data.errors.length) {
            alert.error(handleErrorForAlert(response.data.errors))
          } else {
            alert.error(response.data.message)
          }
        }).finally(() => {
          spinner.toggle(false)
        });
      },
      checkCard() {
        if (this.check_valid) return false
        this.check_valid = true
        requests.bitexcard.check({
          number: this.number,
          pin_code: this.pin_code
        }).then((response) => {
          this.amount = response.data.amount
          this.currency = response.data.currency
          this.check_valid = false
        }).catch(({response}) => {
          this.amount = null
          this.currency = null
          this.check_valid = false
          if (typeof response.data.errors !== 'undefined' && response.data.errors.length) {
            alert.error(handleErrorForAlert(response.data.errors))
          } else {
            alert.error(response.data.message)
          }
        })
      },
      showSuccess() {
        let text = this.$t('bitexcard.success')
        alert.success({text: text, position: 'center'})
      },
      hideErrors() {
        alert.close()
      },
      toggle(isShow) {
        jQuery('body').toggleClass('overflow-hidden', isShow);
        this.show = isShow
      },
      close() {
        this.toggle(false)
        this.$emit('close-modal')
      },
      open() {
        this.toggle(true)
      },
      onClose() {
        this.close()
      },
      validate(check){
        let errors = []
        if ((this.number !== null) && (this.number.toString().length === 12)) {
          this.errorNumber = false
        } else {
          this.errorNumber = true
          errors.push({field: 'number', code: 9001, params: [12]})
        }
        if ((this.pin_code !== null) && (this.pin_code.toString().length === 4)) {
          this.errorPin = false
        } else {
          this.errorPin = true
          errors.push({field: 'pin_code', code: 9001, params: [4]})
        }
        if (errors.length) {
          handlerErrors(this.$refs, errors)
        } else {
          resetErrors(this.$refs);
          if(check) this.checkCard()
        }
      }
    },
    watch: {
      number(new_val, old_val){
        if(null == old_val){
          old_val = '';
        }
        if (old_val.toString().length > 12) {
          this.validate(false)
        } else if (new_val.toString().length > 12) {
          this.number = old_val
          this.validate(false)
        } else this.validate(true)
      },
      pin_code(new_val, old_val){
        if(null == old_val){
          old_val = '';
        }
        if (old_val.toString().length > 4) {
          this.validate(false)
        } else if (new_val.toString().length > 4) {
          this.pin_code = old_val
          this.validate(false)
        } else this.validate(true)
      }
    },
    mounted() {
      this.hideErrors()
    },
    filters: {
      formatMoney,
      getCurrencyAlias
    }
  }
</script>
