<template>
  <div class="login-in-terminal">
    <div class="login-in-terminal__title">
      <span class="title">{{ $t('terminal.login_in_terminal.start_trading') }}</span>
    </div>
    <div class="login-in-terminal__wrap-btn">
      <button class="btn-terminal btn-terminal--login"
              @click="login"
      >{{ $t('header.log') }}</button>

      <button class="btn-terminal btn-terminal--register"
              @click="registration"
      >{{ $t('header.sign_up') }}</button>
    </div>
    <div class="login-in-terminal__box">
      <h3 class="title color-white">{{ $t('terminal.login_in_terminal.welcome') }}</h3>
      <p>{{ $t('terminal.login_in_terminal.we_provide') }}</p>
      <ul>
        <li v-for="(item, index) in list"
            :key="index"
        >{{ item }}</li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    computed: {
      list () {
        return [
          this.$t('terminal.login_in_terminal.volume_based'),
          this.$t('terminal.login_in_terminal.high'),
          this.$t('terminal.login_in_terminal.websocket'),
          this.$t('terminal.login_in_terminal.service'),
          this.$t('terminal.login_in_terminal.industry'),
        ]
      }
    },
    methods: {
      login () {
        this.$router.push({
          name: 'main-index',
          params: {
            action: 'login',
            fromTo: '/terminal'
          }
        })
      },
      registration () {
        this.$router.push({
          name: 'main-index',
          params: {
            action: 'registration',
            fromTo: '/terminal'
          }
        })
      }
    }
  }
</script>
