<template>
  <div class="order-form pb-3" v-if="isLogged">
    <div class="row terminal-bb">
      <div class="box--w100 new-order inner-bg-dark-gray text-my-style">
        <span class="title">{{ $t("terminal.new_order") }}</span>
        <div class="box new-order__box">
          <div class="box__item text-my-style buy-picker text-center cursor" :class="!isSell?'color-green selected-tab-green':'text-white unselected-tab'"
               @click="setOrderSide('BUY')">{{ $t("terminal.buy") }}</div>
          <div class="box__item text-my-style sell-picker text-center cursor" :class="isSell?'color-red selected-tab-red':'text-white unselected-tab'"
               @click="setOrderSide('SELL')">{{ $t("terminal.sell") }}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row inner-bg-dark-gray terminal-bb">
          <div class="box__item">
            <div class="text-white text-center market-picker text-my-style cursor"
                 :class="!isLimit?'selected-tab-white':'unselected-tab'"
                 @click="setOrderType('MARKET')">{{ $t("terminal.market") }}</div>
          </div>
          <div class="box__item">
            <div class="text-white text-center limit-picker text-my-style cursor"
                 :class="isLimit?'selected-tab-white':'unselected-tab'"
                 @click="setOrderType('LIMIT')">{{ $t("terminal.limit") }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-my-style">
      <span class="avai">{{ $t("terminal.available") }}: {{userBalance}} {{subtotalCurrency}}</span>
      <div class="order-form-input">
        <input type="text" v-model="amount" :placeholder="isSell ? $t('dashboard.profile.give') : $t('dashboard.profile.get')"/>
        <span class="order-input-desc">{{baseCurrency(orderPair)}}</span>
      </div>
    </div>
    <div class="row text-my-style">
      <div :class="isLimit?'order-form-input':'order-form-input-inactive'">
        <input :disabled="!isLimit" type="text" v-model="price" :placeholder="$t('terminal.price')"/>
        <span class="order-input-desc">{{quoteCurrency(orderPair)}}</span>
      </div>
    </div>
    <div class="row justify-between">
      <div class="box__item text-my-style">{{ $t("terminal.fee") }}:</div>
      <div class="box__item text-my-style text-right" >{{fee}}%</div>
    </div>
    <div class="row justify-between">
      <div class="box__item text-my-style">{{ $t("terminal.subtotal") }}:</div>
      <div class="box__item text-my-style text-right" >{{subtotalSum}} {{subtotalCurrency}}</div>
    </div>
    <div class="row justify-between">
      <div class="box__item text-my-style">{{ $t("terminal.receive_approximately") }}:</div>
      <div class="box__item text-my-style text-right" >{{receiveSum}} {{receiveCurrency}}</div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="action-button-td">
          <button class="btn mt-1 col-12 pr-2" :class="isSell?'btn-danger':'btn-success'"
                  @click="onSubmit" :disabled="!amountForOrderIsAllowed">
            <span class="d-block">{{isSell?$t("terminal.sell"):$t("terminal.buy")}}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-lg-12 checkbox__button--order-form-wrapp" v-if="directOrderIsAllowed">
        <label>
          <input type="checkbox" v-model="isDirectOrder">
          <div class="checkbox__button"></div>
          <span style="color: #fff;">{{$t('words.direct_order')}}</span>
        </label>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import {baseCurrency, handleErrorForAlert, quoteCurrency, reversePair, formatInputTextFloat} from "@/main/utilities";
  import spinner from "@/common/spinner";
  import alert from "@/common/sweet-alert";
  import requests from "@/main/requests";
  import {handlerErrors} from "../../../utilities";

  export default {
    name: "OrderForm",
    data() {
      return {
        exchangeAccount: null,
        amount: null,
        price: null,
        fee: 0,
        subtotalSum: 0,
        subtotalCurrency: null,
        receiveSum: 0,
        receiveCurrency: null,
        isDirectOrder: false
      }
    },
    beforeMount() {
      this.$store.dispatch('loadExchangePairs')
    },
    mounted() {
      this.updateExchangeAccount()
    },
    computed: {
      ...mapGetters({
        isUserVerified: 'isUserVerified',
        exchangeRates: 'getExchangeRates',
        orderPair: 'getOrderPair',
        orderSide: 'getOrderSide',
        orderType: 'getOrderType',
        tokenCurrencies: 'getTokenCurrencies',
        cryptoCurrencies: 'getCryptoCurrencies',
        exchangePairs: 'getExchangePairs',
        userBalances: 'getUserBalances',
        orderPairAllowedForUnverified: 'getOrderPairAllowedForUnverified',
        isActiveTerminalSocket: 'getIsActiveTerminalSocket',
        socket: 'getSocket',
        isLogged: 'isAuthenticated'
      }),
      isSell() {
        return this.orderSide === 'SELL'
      },
      isLimit() {
        return this.orderType === 'LIMIT'
      },
      userBalance() {
        return this.userBalances ? this.userBalances[this.subtotalCurrency] : 0
      },
      isSelectedPairWithTokenBase() {
        return this.tokenCurrencies.includes(baseCurrency(this.orderPair))
      },
      isSelectedPairWithTokenQuote() {
        return this.tokenCurrencies.includes(quoteCurrency(this.orderPair))
      },
      isSelectedPairWithToken() {
        return this.isSelectedPairWithTokenBase
          || this.isSelectedPairWithTokenQuote
      },
      directOrderIsAllowed() {
        return ((this.isSelectedPairWithTokenBase && !this.isSell) ||
          (this.isSelectedPairWithTokenQuote && this.isSell))
          && this.isLimit
      },
      orderSystem() {
          return this.isSelectedPairWithToken ?
                  ((this.isDirectOrder && this.directOrderIsAllowed) ? 'DIRECT TOKEN' : 'TOKEN') : 'INTERNAL'
      },
      amountForOrderIsAllowed() {
        return (this.amount !== null && this.amount > 0) ?
                (this.isSell ? (this.amount < this.userBalance) : (this.subtotalSum <= this.userBalance)) : false;
      }
    },
    methods: {
      baseCurrency,
      quoteCurrency,
      setOrderSide(side) {
        this.$store.dispatch('setOrderSide', side)
      },
      setOrderType(type) {
        this.$store.dispatch('setOrderType', type)
      },
      checkUserVerification() {
        return new Promise((resolve, reject) => {
          if (!this.isUserVerified && !this.orderPairAllowedForUnverified) {
            reject(this.$t('terminal.verification_to_exchange'))
          } else {
            resolve()
          }
        })
      },
      onSubmit() {
        this.checkUserVerification().then(() => {
          let orderTemplate = {
            pair: this.orderPair,
            side: this.orderSide,
            amount: this.amount,
            price: this.price,
            type: this.orderType,
            system: this.orderSystem,
          }
          spinner.toggle(true)
          if (this.isSelectedPairWithToken) {
            requests.exchange.generateUserTokenAddress().then(() => {
                this.sendOrder(orderTemplate)
              }
            ).catch(({response}) => {
              spinner.toggle(false)
              alert.error(handleErrorForAlert(response.data.errors))
            })
          } else {
            this.sendOrder(orderTemplate)
          }
        }).catch(errorText => {
          alert.error({text: errorText})
        })

      },
      sendOrder(orderTemplate) {
        requests.terminal.postOrderData(orderTemplate).then(({data}) => {
          spinner.toggle(false)
          this.resetForm()
          alert.success({text: `${this.$t('terminal.order_success')} ${data.data.id}`, timer: 7000})
          requests.terminal.sendEmail(data.data)
        }).catch(({response}) => {
          spinner.toggle(false)
          alert.error(handleErrorForAlert(response.data.errors))
        })
      },
      updateSubtotalAndReceive() {
        if (this.exchangeAccount !== undefined && this.amount!==null && this.amount>0 && this.price!==null) {
          if (this.isSell) {
            this.subtotalSum = this.amount
            this.subtotalCurrency = baseCurrency(this.orderPair)
            this.receiveSum = (this.amount * this.price * (1 - this.exchangeAccount.commission)).toFixed(5)
            this.receiveCurrency = quoteCurrency(this.orderPair)
          } else {
            this.subtotalSum = (this.amount * this.price).toFixed(5)
            this.subtotalCurrency = quoteCurrency(this.orderPair)
            this.receiveSum = (this.amount * (1 - this.exchangeAccount.commission)).toFixed(5)
            this.receiveCurrency = baseCurrency(this.orderPair)
          }
        }
      },
      updateExchangeAccount() {
        let exchangePair = this.isSell ? this.orderPair : reversePair(this.orderPair)
        this.exchangeAccount = this.exchangePairs[exchangePair]
      },
      updateFee() {
        if (this.exchangeAccount !== undefined) {
          this.fee = (this.exchangeAccount.commission * 100).toFixed(2)
        }
      },
      updatePrice() {
        if (!this.isLimit || this.price === null) {
          this.price = (this.orderSide==="SELL"?this.exchangeRates[this.orderPair][0].bid.toFixed(5):this.exchangeRates[this.orderPair][0].ask.toFixed(5))
        }
      },
      resetForm() {
        this.amount = null
        this.subtotalSum = 0
        this.receiveSum = 0
        this.isDirectOrder = false
      }
    },
    watch: {
      exchangeRates() {
        this.updatePrice()
      },
      exchangePairs() {
        this.updateExchangeAccount()
      },
      orderPair() {
        this.updateExchangeAccount()
      },
      orderSide() {
        this.updateExchangeAccount()
      },
      exchangeAccount() {
        this.updateFee()
        this.updateSubtotalAndReceive()
      },
      amount(value, oldValue) {
        this.amount = formatInputTextFloat(value, oldValue)
        this.updateSubtotalAndReceive()
      },
      price(value, oldValue) {
        this.price = formatInputTextFloat(value, oldValue)
        this.updateSubtotalAndReceive()
      },
      isActiveTerminalSocket(val) {
        console.log('Terminal websocket is active? ', val)
      }
    }
  }
</script>

<style scoped>

</style>
