<template>
  <section class="order-list">
    <div class="row flex-nowrap justify-content-between terminal-bt terminal-bb inner-bg-dark-gray inner-bg-dark-gray--mob-none">
      <div class="history d-flex justify-content-between align-items-center">
        <span class="title">{{ $t("terminal.open_orders") }}</span>
        <div class="history__box">
          <button class="btn btn-sort" :class="{active: filter === ''}" @click="filter = ''">{{ $t("terminal.all_orders") }}</button>
          <button class="btn btn-sort" :class="{active: filter === 'buy'}" @click="filter = 'buy'">{{ $t("terminal.buy_orders") }}</button>
          <button class="btn btn-sort" :class="{active: filter === 'sell'}" @click="filter = 'sell'">{{ $t("terminal.sell_orders") }}</button>
        </div>
      </div>
    </div>
    <perfect-scrollbar class="scrollbar-right-panel-terminal"
                       :options="{suppressScrollX: true}">
      <div class="row pb-3 user-orders-body text-left ">
        <table v-if="userActiveOrders!==null" class="table table-hover table-borderless text-right table-order-list">
          <tbody>
            <tr v-for="order in orders" :key="order.public_id" class="terminal-bb db--mob">
              <!--order-->
              <td>
                  <span>
                    {{order.type}}·{{order.pair}}·{{parseFloat(order.amount).toFixed(5)}}·
                    <span :class="order.side==='SELL'?'color-red':'color-green'">
                    {{order.side}}@{{parseFloat(order.price).toFixed(5)}}
                    </span>
                     {{ $t("terminal.exec") }}{{order.executed_amount.toFixed(5)}}
                     {{ $t("terminal.rem") }}{{(order.amount-order.executed_amount).toFixed(5)}}
                </span>
              </td>
              <!--cancel-->
              <td class="align-left" style="vertical-align: middle;">
                <button style="font-size: 11px;"
                        class="btn btn-danger btn-sm"
                        @click="cancelOrder($event, order.public_id)"
                        :disabled="disabledCancel"
                >{{ $t("dashboard.payments.text19") }}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </perfect-scrollbar>
  </section>
</template>

<script>
  import {mapGetters} from "vuex";
  import requests from "@/main/requests";
  import alert from "@/common/sweet-alert";

  export default {
    name: "OrdersList",
    data() {
      return {
        filter: '',
        disabledCancel: false
      }
    },
    computed: {
      ...mapGetters({
        userActiveOrders: 'getUserActiveOrders'
      }),
      orders() {
        if (this.filter === '') {
          return this.userActiveOrders
        }
        if (this.filter === 'buy') {
          return this.userActiveOrders.filter(item => item.side === 'BUY')
        }
        if (this.filter === 'sell') {
          return this.userActiveOrders.filter(item => item.side === 'SELL')
        }

      }
    },
    methods: {
      cancelOrder(event, publicID) {
        this.disabledCancel = true
        requests.terminal.postCancel({public_id: publicID})
          .then(() => {
            event.target.style.display = 'none'
            alert.success({text: this.$t('terminal.order_cancel')})
          })
          .catch(e => {
            alert.error({text: e.error})
          })
          .finally(() => {
            this.disabledCancel = false
          })
      },
    }
  }
</script>
