<template>
  <div id="right-panel">
    <div class="row table-panel">
      <div class="col-lg-12 col-md-6">
        <order-form />
      </div>
      <div class="col-lg-12 col-md-6 tb--border"
           v-if="isLogged"
      >
        <orders-list />
      </div>
      <div class="col-lg-12 col-md-12 tb--border"
            v-else
      >
        <LoginInTerminal />
      </div>
    </div>
  </div>
</template>


<script>

  import OrderForm from "@/main/views/terminal/right-panel/OrderForm";
  import OrdersList from "@/main/views/terminal/right-panel/OrdersList";
  import LoginInTerminal from "./LoginInTerminal";
  import {mapGetters} from 'vuex';

  export default {
    name: 'RightPanel',
    components: {OrdersList, OrderForm, LoginInTerminal},
    computed: {
      ...mapGetters({
        isLogged: 'isAuthenticated',
      }),
    },
  }
</script>
