<template>
  <div class="mt-5">
    <error-view :errors="errors"></error-view>
    <success-view :success-message="successMessage"></success-view>

    <table class="table" v-if="user_logs.length">
      <thead>
      <tr>
        <td width="5%">ID записи</td>
        <td width="5%">Код ответа</td>
        <td>Адрес</td>
        <td>Контроллер</td>
        <td width="10%">Параметры</td>
        <td width="25%">Тело</td>
        <td width="25%">Ответ</td>
        <td width="10%"><a @click="sort('created_at')" href="javascript:void()">Создано</a></td>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(log, index) in user_logs">
        <td>{{ log.id }}</td>
        <td>{{ log.status }}</td>
        <td>{{log.uri}}</td>
        <td v-html="log.callable"></td>
        <td>
          <vue-json-pretty
              :data="log.params"
              :pathSelectable="pathSelectable"
              @click="handleClick">
          </vue-json-pretty>
        </td>
        <td>
          <vue-json-pretty
              :data="log.body"
              :pathSelectable="pathSelectable"
              @click="handleClick">
          </vue-json-pretty>
        </td>
        <td>
          <vue-json-pretty
              :data="log.data"
              :pathSelectable="pathSelectable"
              @click="handleClick">
          </vue-json-pretty>
        </td>
        <td>{{ log.created_at }}</td>
      </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example" v-if="pages">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#" @click="setPage(0)">Первая</a></li>
        <li class="page-item"><a class="page-link" href="#" @click="previous()">Предыдущая</a></li>
        <li v-for="(page, p) in pages" v-show="(p<(offset+5) && p>(offset-5))" class="page-item" :class="(p==offset?'active':'')"><a class="page-link" @click="setPage(p)">{{page}}</a></li>
        <li class="page-item"><a class="page-link" href="#" @click="next()">Следующая</a></li>
        <li class="page-item"><a class="page-link" href="#" @click="setPage(pages-1)">Последняя</a></li>
      </ul>
    </nav>
  </div>
</template>

<script>
  import {handlerErrors} from '../../../main/utilities'
  import requests from '../../requests'
  import VueJsonPretty from 'vue-json-pretty'

  export default {
    name: "logs-grid-view",
    props: {
      userId: {
        type: Number,
        require: true
      },
      paymentTypes: {
        type: Object,
        require: true
      }
    },
    components: {
      VueJsonPretty
    },
    data() {
      return {
        successMessage: '',
        user_logs: [],
        errors: [],
        limit: 20,
        pages: 0,
        offset: 0,
        order: 'desc',
        field: 'created_at',
      }
    },
    methods: {
      previous() {
        let page = this.offset - 1;
        if(page >= 0) {
          this.setPage(page)
        }
      },
      setPage(page) {
        if(this.offset == page) return false
        this.offset = page
        this.onRequestUserActionsLog ()
      },
      next() {
        let page = this.offset + 1;
        if(page < this.pages) {
          this.setPage(page)
        }
      },
      onRequestUserActionsLog () {
        this.$emit('ajax:start')

        requests.actionsLog.list({'user_id': this.userId, order: this.order, sort: this.field, offset: this.offset, limit: this.limit})
          .then(({ data }) => {
            this.user_logs = []
            this.user_logs = data.logs
            this.$emit('ajax:finish')
            this.pages = Math.floor(data.total/this.limit)+1
          })
          .catch(({ response }) => {
            this.errors = handlerErrors(this.$refs, response.data.errors)
            this.$emit('ajax:finish')
          })
      },
      pathSelectable(itemPath, itemData){

      },
      handleClick(){

      },
      sort(field) {
        if(this.field !== field) {
          this.order = 'asc'
        } else {
          if(this.order == 'asc') this.order = 'desc'
          else this.order = 'asc'
        }
        this.field = field
        return this.onRequestUserActionsLog ()
      }
    },
    filters: {

    }
  }
</script>

