<template>
  <div class="user-actionslog">
    <button @click="onRequestUserLogs" class="btn btn-secondary" :title="$t('words.watch_query_logs')">
      <i class="fas fa-history"></i>
    </button>

    <right-panel ref="rightPanel" :title="$t('words.user_query_logs')" mode="full">
      <grid-view ref="gridView"
                 @ajax:finish="$refs.rightPanel.spin(false)"
                 @ajax:start="$refs.rightPanel.spin(true)"
                 :user-id="userId"
      />
    </right-panel>
  </div>
</template>

<script>
  import RightPanel from "../../../common/right-panel"
  import GridView from './GridView'

  export default {
    name: 'user-actions-log',
    props: {
      userId: {
        type: Number,
        require: true
      }
    },
    components: {
      RightPanel,
      GridView
    },
    created() {
      this.$nextTick(() => $(this.$el).removeClass('preview-btn'));
    },
    methods: {
      onRequestUserLogs() {
        this.$refs.rightPanel.show()
        this.$refs.rightPanel.spin(true)
        this.$refs.gridView.onRequestUserActionsLog()
      },
    },
    mounted(){

    }
  }
</script>
