<template>
  <div class="grid-view">
    <div class="active-positions">
      <table-bonus-percents-on-account-view/>
    </div>
  </div>
</template>

<script>
  import TableBonusPercentsOnAccountView from './TableBonusPercentsOnAccountView'

  export default {
    name: "ContainerBonusPercentsOnAccountView",
    components:{
      TableBonusPercentsOnAccountView
    },
    created() {
      this.$store.dispatch('loadBonusPercentsOnAccountIndex')
    }
  }
</script>

<style scoped>

</style>