<template>
  <div class="grid-view">
        <span>
      <button class="btn btn-secondary" @click="$refs.rightPanel.show()">
          <i v-if="buttonIcon" class="fas fa-cogs"></i> {{buttonLabel}}
      </button>
      <right-panel ref="rightPanel" :title="(setting?'Изменение':'Создание') + ' тарифа процентов на остаток'" mode="full">
        <form class="right-menu__form" @submit.prevent="onSubmit">
            <div class="row">
                <div class="col-md-12">
                  <span class="right-menu__header__text">Name of the tariff</span>
                    <div class="right-menu__form__row">
                      <input type="text" class="right-menu__form__input"
                             v-model="form.tariff_name"/>
                    </div>
                  <span class="right-menu__header__text">Currency</span>
                    <div class="right-menu__form__row">
                      <input v-if="setting" type="text" disabled class="right-menu__form__input"
                             v-model="form.currency"/>
                      <select v-else class="right-menu__form__input"
                              v-model="form.currency">
                        <option v-for="currency in unusedCurrencies">
                          {{currency}}
                        </option>
                      </select>
                    </div>
                  <span class="right-menu__header__text">Month %</span>
                    <div class="right-menu__form__row">
                      <input type="text" class="right-menu__form__input"
                             v-model="form.percent_per_month"/></div>
                  <span class="right-menu__header__text">Day %</span>
                    <div class="right-menu__form__row">
                      <input type="text" class="right-menu__form__input"
                             v-model="form.percent_per_day"/></div>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary right-menu__button">{{(setting?'Изменить':'Создать')}}</button>
                </div>
                <div v-if="setting" class="col-md-6">
                    <button class="btn btn-danger right-menu__button" @click="setDeleteMode">Удалить</button>
                </div>
            </div>
        </form>
      </right-panel>
    </span>
  </div>
</template>

<script>
  import RightPanel from "../../common/right-panel"
  import {formatInputTextFloat, formLoader, handlerErrors} from '../../main/utilities'
  import requests from "../requests";
  import {mapGetters} from "vuex";
  import sweetAlert from '../../common/sweet-alert'

  export default {
    name: "EditBonusPercentsOnAccountView",

    data() {
      return {
        successMessage: '',
        errors: [],
        actionMode: 'update',
        form: {
          id: null,
          currency: null,
          tariff_name: null,
          percent_per_month: null,
          percent_per_day: null
        },
      }
    },
    props: {
      buttonLabel: {
        type: String,
        default: 'Редактировать'
      },
      buttonIcon: {
        type: Boolean,
        default: true
      },
      mode: {
        type: String,
        default: 'update'
      },
      setting: {
        type: Object,
        required: false
      }
    },
    computed: {
      ...mapGetters({
        unusedCurrencies: 'getBonusPercentsOnAccountUnusedCurrencies'
      })
    },
    components: {
      RightPanel
    },
    created() {
      formLoader(this.form, this.setting);
      this.actionMode = this.mode
    },
    methods: {
      setDeleteMode() {
        this.actionMode = 'delete'
      },
      onSubmit() {
        this.$refs.rightPanel.spin(true);
        this.detectAction(this.actionMode, this.form)
          .then(({data}) => {
            sweetAlert.success({text: data.message, position: 'center', timer: 3000})
            this.$refs.rightPanel.spin(false);
            this.$refs.rightPanel.hide(30)
            this.$emit('bonusPercentsOnAccountSetting:update', data.bonus_percents_on_account_settings)
          })
          .catch(({response}) => {
            let errors = handlerErrors(this.$refs, response.data.errors)
            if (errors.length === 1) sweetAlert.error({text: errors})
            this.$refs.rightPanel.spin(false);
          })
      },
      detectAction(mode, form) {
        switch (mode) {
          case 'create':
            return requests.bonusPercentsOnAccount.createBonusPercentsOnAccount(form)
          case 'update':
            return requests.bonusPercentsOnAccount.updateBonusPercentsOnAccount(form)
          case 'delete':
            return requests.bonusPercentsOnAccount.deleteBonusPercentsOnAccount(form)
        }
      }
    },
    watch: {
      'form.percent_per_month'(val, prev) {
        this.form.percent_per_month = formatInputTextFloat(val, prev)
      },
      'form.percent_per_day'(val, prev) {
        this.form.percent_per_day = formatInputTextFloat(val, prev)
      },
    }
  }
</script>

<style scoped>

</style>