<template>
  <div class="grid-view">
    <div class="active-positions">
      <div>
        <h6>Проценты на остаток</h6>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Tariff name</th>
            <th scope="col">Currency</th>
            <th scope="col">Month %</th>
            <th scope="col">Day %</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <template v-if="bonusPercentsOnAccountSettings.length>0" v-for="bonusPercentsOnAccountSetting in bonusPercentsOnAccountSettings">
            <tr>
              <td>{{bonusPercentsOnAccountSetting.id}}</td>
              <td>{{bonusPercentsOnAccountSetting.tariff_name}}</td>
              <td>{{bonusPercentsOnAccountSetting.currency}}</td>
              <td>{{bonusPercentsOnAccountSetting.percent_per_month}}</td>
              <td>{{bonusPercentsOnAccountSetting.percent_per_day}}</td>
              <td width="20%" align="center">
                <edit-bonus-percents-on-account-view :setting="bonusPercentsOnAccountSetting" mode="update"
                                           @bonusPercentsOnAccountSetting:update="onBonusPercentsOnAccountSettingUpdate"/>
              </td>
            </tr>
          </template>
        </table>
        <edit-bonus-percents-on-account-view button-label="Добавить"
                                   :button-icon="false"
                                   mode="create"
                                   @bonusPercentsOnAccountSetting:update="onBonusPercentsOnAccountSettingUpdate"/>
      </div>
    </div>
  </div>
</template>

<script>
  import EditBonusPercentsOnAccountView from "./EditBonusPercentsOnAccountView";
  import {mapGetters} from "vuex";
  export default {
    name: "TableBonusPercentsOnAccountView",
    components: {EditBonusPercentsOnAccountView},
    computed: {
      ...mapGetters({
        bonusPercentsOnAccountSettings: 'getBonusPercentsOnAccountSettings'
      })
    },
    methods: {
      onBonusPercentsOnAccountSettingUpdate(bonusPercentsOnAccountSettings) {
        this.$store.dispatch('updateBonusPercentsOnAccountSettingsList', bonusPercentsOnAccountSettings)
      }
    }
  }
</script>

<style scoped>

</style>