<template>

  <div class="right-menu__form__block right-menu__form">
    <span class="right-menu__header__text">Пополнение</span>
    <div class="right-menu__form__block__inner mt-3">
      <label :for="'refill_min_value_trans_' + limit.id">
        Минимальная сумма пополнения за 1 транзакцию
      </label>
      <div class="right-menu__form__row">
        <input type="number"
               step="any"
               name="refill_min_value_trans"
               class="right-menu__form__input"
               :id="'refill_min_value_trans' + limit.id"
               v-model="form.refill_min_value_trans"
               ref="error_refill_min_value_trans"
               @input="onInput('refill_min_value_trans', $event)"
        />
      </div>
      <div class="text-danger error-msg" id="error_refill_min_value_trans"></div>
    </div>
    <div class="right-menu__form__block__inner mt-3">
      <label :for="'refill_max_value_trans' + limit.id">
        Максимальная сумма пополнения за 1 транзакцию
      </label>
      <div class="right-menu__form__row">
        <input type="number"
               step="any"
               name="refill_max_value_trans"
               class="right-menu__form__input"
               :id="'refill_max_value_trans' + limit.id"
               v-model="form.refill_max_value_trans"
               ref="error_refill_max_value_trans"
               @input="onInput('refill_max_value_trans', $event)"
        />
      </div>
      <div class="text-danger error-msg" id="error_refill_max_value_trans"></div>
    </div>
    <div class="right-menu__form__block__inner mt-3">
      <label :for="'refill_max_value_day' + limit.id">
        Максимальная сумма пополнений за 1 день(оборот)
      </label>
      <div class="right-menu__form__row">
        <input type="number" step="any" name="refill_max_value_day"
               class="right-menu__form__input"
               :id="'refill_max_value_day' + limit.id"
               v-model="form.refill_max_value_day"
               ref="error_refill_max_value_day"
               @input="onInput('refill_max_value_day', $event)"
        />
      </div>
      <div class="text-danger error-msg" id="error_refill_max_value_day"></div>
    </div>
    <div class="right-menu__form__block__inner mt-3">
      <label :for="'refill_max_value_month' + limit.id">
        Максимальная сумма пополнений за 1 месяц(оборот)
      </label>
      <div class="right-menu__form__row">
        <input type="number" step="any" name="refill_max_value_month"
               class="right-menu__form__input"
               :id="'refill_max_value_month' + limit.id"
               v-model="form.refill_max_value_month"
               ref="error_refill_max_value_month"
               @input="onInput('refill_max_value_month', $event)"
        />
      </div>
      <div class="text-danger error-msg" id="error_refill_max_value_month"></div>
    </div>
    <div class="right-menu__form__block__inner mt-3">
      <label :for="'refill_commission_fix' + limit.id">
        Фиксированная комиссия за пополнение
      </label>
      <div class="right-menu__form__row">
        <input type="number"
               min="0"
               step="any"
               name="refill_commission_fix"
               class="right-menu__form__input"
               :id="'refill_commission_fix' + limit.id"
               v-model="form.refill_commission_fix"
               ref="error_refill_commission_fix"
               @input="onInput('refill_commission_fix', $event)"
        />
      </div>
      <div class="text-danger error-msg" id="error_refill_commission_fix"></div>

      <label :for="'refill_commission_multiplier' + limit.id">
        Комиссия за пополнение в процентах (%)
      </label>
      <div class="right-menu__form__row">
        <input type="number" min="0" step="any" name="refill_commission_multiplier"
               class="right-menu__form__input"
               :id="'refill_commission_multiplier' + limit.id"
               v-model="form.refill_commission_multiplier"
               ref="error_refill_commission_multiplier"
               @input="onInput('refill_commission_multiplier', $event)"
        />
      </div>
      <div class="text-danger error-msg" id="error_refill_commission_multiplier"></div>
    </div>
  </div>

</template>

<script>

  import {formLoader} from '../../../main/utilities'

  export default {
    name: 'deposit-inputs',
    props: {
      limit: {
        type: Object,
        require: true
      }
    },
    data() {
      return {
        form: {
          refill_min_value_trans: '',
          refill_max_value_trans: '',
          refill_max_value_day: '',
          refill_max_value_month: '',
          refill_commission_fix: '',
          refill_commission_multiplier: ''
        }
      }
    },
    watch: {
      limit() {
        formLoader(this.form, this.limit)
      }
    },
    methods: {
      onInput(attribute, event) {
        this.$emit(
          'input',
          attribute,
          event.target.value
        );
      }
    }
  }

</script>
