<template>

    <div class="col-md-6">
        <span class="right-menu__header__text">Обмен</span>
        <div class="right-menu__form__block__inner mt-3">
            <label :for="'exchange_min_value_trans' + limit.id">
                Минимальная сумма обмена за 1 транзакцию
            </label>
            <div class="right-menu__form__row">
                <input type="number"
                       step="any"
                       name="exchange_min_value_trans"
                       class="right-menu__form__input"
                       :id="'exchange_min_value_trans' + limit.id"
                       v-model="form.exchange_min_value_trans"
                       ref="error_exchange_min_value_trans"
                       @input="onInput('exchange_min_value_trans', $event)"
                />
            </div>
            <div class="text-danger error-msg" id="error_exchange_min_value_trans"></div>
        </div>
        <div class="right-menu__form__block__inner mt-3">
            <label :for="'exchange_max_value_day' + limit.id">
                Максимальная сумма обменов за 1 день(оборот)
            </label>
            <div class="right-menu__form__row">
                <input type="number"
                       step="any"
                       name="exchange_max_value_day"
                       class="right-menu__form__input"
                       :id="'exchange_max_value_day' + limit.id"
                       v-model="form.exchange_max_value_day"
                       ref="error_exchange_max_value_day"
                       @input="onInput('exchange_max_value_day', $event)"
                />
            </div>
            <div class="text-danger error-msg" id="error_exchange_max_value_day"></div>
        </div>
        <div class="right-menu__form__block__inner mt-3">
            <label :for="'exchange_max_value_month' + limit.id">
                Максимальная сумма обменов за 1 месяц(оборот)
            </label>
            <div class="right-menu__form__row">
                <input type="number"
                       step="any"
                       name="exchange_max_value_month"
                       class="right-menu__form__input"
                       :id="'exchange_max_value_month' + limit.id"
                       v-model="form.exchange_max_value_month"
                       ref="error_exchange_max_value_month"
                       @input="onInput('exchange_max_value_month', $event)"
                />
            </div>
            <div class="text-danger error-msg" id="error_exchange_max_value_month"></div>
        </div>
    </div>

</template>

<script>

    import {formLoader} from '../../../main/utilities'

    export default {
      name: 'exchange-inputs',
      props: {
        limit: {
          type: Object,
          require: true
        }
      },
      data() {
        return {
          form: {
            exchange_min_value_trans: '',
            exchange_max_value_day: '',
            exchange_max_value_month: '',
          }
        }
      },
      watch: {
        limit () {
          formLoader(this.form, this.limit);
        }
      },
      methods: {
        onInput (attribute, event) {
          this.$emit(
            'input',
            attribute,
            event.target.value
          );
        }
      }
    }

</script>
