<template>
  <form class="right-menu__form" @submit.prevent="onSubmit">
    <error-view :errors="errors"></error-view>
    <success-view :success-message="successMessage"></success-view>

    <input type="hidden" name="limit_id" v-model="limit.id" />
    <h5>Изменить данные лимита "{{ paymentTypes[limit.payment_type] }} {{ limit.currency }}"</h5>
    <div class="row">
      <div class="col-md-6">
        <deposit-inputs
            :limit="limit"
            :limit-index="index"
            @input="onUpdateLimit"
        />
      </div>

      <div class="col-md-6">
        <withdrawal-inputs
            :limit="limit"
            :limit-index="index"
            @input="onUpdateLimit"
        />
      </div>
    </div>
    <div class="row">
      <exchange-inputs
          :limit="limit"
          :limit-index="index"
          @input="onUpdateLimit"
      />
    </div>
    <hr>
    <input type="hidden" name="limit_id" v-model="limit.id" />
    <button type="submit" class="btn btn-primary right-menu__button">Изменить</button>
  </form>
</template>

<script>
  import {handlerErrors} from '../../../main/utilities'
  import WithdrawalInputs from './WithdrawalInputs'
  import ExchangeInputs from './ExchangeInputs'
  import DepositInputs from './DepositInputs'
  import requests from '../../requests'

  export default {
    name: "user-limit-form",
    props: {
      paymentTypes: {
        type: Object,
        require: true
      }
    },
    components: {
      WithdrawalInputs,
      ExchangeInputs,
      DepositInputs,
    },
    data () {
      return {
        successMessage: '',
        errors: [],
        index: 0,
        limit: {}
      }
    },
    methods: {
      setLimit (index, limit) {
        this.index = index
        this.limit = limit
      },
      onUpdateLimit(attribute, value) {
        this.limit[attribute] = value;
      },
      onSubmit () {
        this.$emit('ajax:start')
        requests.limits.updateUserLimits(this.limit)
          .then(({ data }) => {
            this.$emit('modal:close', {
              limit: data.user_limit,
              index: this.index
            })
          })
          .catch(({ response }) => {
            this.errors = handlerErrors(this.$refs, response.data.errors);
            this.$emit('ajax:finish')
          })
      }
    }
  }
</script>
