<template>
  <div class="mt-5">
    <error-view :errors="errors"></error-view>
    <success-view :success-message="successMessage"></success-view>

    <table class="table" v-if="user_limits.length">
      <thead>
        <tr>
          <td>ID лимита</td>
          <td>Валюта</td>
          <td>Тип</td>
          <td>Тип банка</td>
          <td>Регион</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(limit, index) in user_limits" @click="onOpenForm(index)">
          <td>{{ limit.id }}</td>
          <td>{{ limit.currency }}</td>
          <td>{{ paymentTypes[limit.payment_type] }}</td>
          <td>{{ limit.payment_type === 'rated_bill' ? limit.bank_type : '-' }}</td>
          <td>{{ limit.bank_allowed_region }}</td>
        </tr>
      </tbody>
    </table>

    <right-panel ref="rightPanel" mode="full">
      <form-view ref="form"
        @ajax:finish="$refs.rightPanel.spin(false)"
        @ajax:start="$refs.rightPanel.spin(true)"
        @modal:close="onModalClose"
        :payment-types="paymentTypes"
      />
    </right-panel>
  </div>
</template>

<script>
  import RightPanel from "../../../common/right-panel"
  import {handlerErrors} from '../../../main/utilities'
  import requests from '../../requests'
  import FormView from './Form'

  export default {
    name: "limit-grid-view",
    props: {
      userId: {
        type: String,
        require: true
      },
      paymentTypes: {
        type: Object,
        require: true
      }
    },
    components: {
      RightPanel,
      FormView
    },
    data() {
      return {
        successMessage: '',
        user_limits: [],
        errors: [],
        limit: []
      }
    },
    methods: {
      loadingUserLimits () {
        this.user_limits = []
        requests.limits.getUserLimits({'user_id': this.userId})
          .then(({ data }) => {
            this.user_limits = data.limits
            this.$emit('ajax:finish')
          })
          .catch(({ response }) => {
            this.errors = handlerErrors(this.$refs, response.data.errors)
            this.$emit('ajax:finish')
          })
      },
      onOpenForm (index) {
        this.$refs.form.setLimit(index, this.user_limits[index])
        this.$refs.rightPanel.show()
      },
      onModalClose ({ index, limit }) {
        if (this.user_limits[index]) {
          this.user_limits[index] = limit
        }

        this.$refs.rightPanel.hide()
      }
    }
  }
</script>
