<template>
    <div class="user-limits">
        <button @click="onRequestUserLimits" class="btn btn-secondary" :title="$t('words.edit_limits')">
            <i class="far fa-calendar-alt"></i>
        </button>

        <right-panel ref="rightPanel" :title="$t('words.limits')" mode="full">
            <grid-view ref="gridView"
              @ajax:finish="$refs.rightPanel.spin(false)"
              @ajax:start="$refs.rightPanel.spin(true)"
              :payment-types="paymentTypes"
              :user-id="userId"
            />
        </right-panel>
    </div>
</template>

<script>
  import RightPanel from "../../../common/right-panel"
  import GridView from './GridView'

  export default {
    name: 'user-limits',
    props: {
      userId: {
        type: String,
        require: true
      },
      paymentTypes: {
        type: Object,
        require: true
      }
    },
    components: {
      RightPanel,
      GridView
    },
    created() {
      this.$nextTick(() => $(this.$el).removeClass('preview-btn'));
    },
    methods: {
      onRequestUserLimits() {
        this.$refs.rightPanel.show()
        this.$refs.rightPanel.spin(true)
        this.$refs.gridView.loadingUserLimits()
      },
    }
  }
</script>
