<template>

    <div class="right-menu__form__block right-menu__form">
        <span class="right-menu__header__text">Вывод</span>
        <div class="right-menu__form__block__inner mt-3">
            <label :for="'withdrawal_min_value_trans' + limit.id">
                Минимальная сумма вывода за 1 транзакцию
            </label>
            <div class="right-menu__form__row">
                <input type="number"
                       step="any"
                       name="withdrawal_min_value_trans"
                       class="right-menu__form__input"
                       :id="'withdrawal_min_value_trans' + limit.id"
                       v-model="form.withdrawal_min_value_trans"
                       ref="error_withdrawal_min_value_trans"
                       @input="onInput('withdrawal_min_value_trans', $event)"
                />
            </div>
            <div class="text-danger error-msg" id="error_withdrawal_min_value_trans"></div>
        </div>
        <div class="right-menu__form__block__inner mt-3">
            <label :for="'withdrawal_max_value_trans' + limit.id">
                Максимальная сумма вывода за 1 транзакцию
            </label>
            <div class="right-menu__form__row">
                <input type="number"
                       step="any"
                       name="withdrawal_max_value_trans"
                       class="right-menu__form__input"
                       :id="'withdrawal_max_value_trans' + limit.id"
                       v-model="form.withdrawal_max_value_trans"
                       ref="error_withdrawal_max_value_trans"
                       @input="onInput('withdrawal_max_value_trans', $event)"
                />
            </div>
            <div class="text-danger error-msg" id="error_withdrawal_max_value_trans"></div>
        </div>
        <div class="right-menu__form__block__inner mt-3">
            <label :for="'withdrawal_max_value_day' + limit.id">
                Максимальная сумма выводов за 1 день(оборот)
            </label>
            <div class="right-menu__form__row">
                <input type="number"
                       step="any"
                       name="withdrawal_max_value_day"
                       class="right-menu__form__input"
                       :id="'withdrawal_max_value_day' + limit.id"
                       v-model="form.withdrawal_max_value_day"
                       ref="error_withdrawal_max_value_day"
                       @input="onInput('withdrawal_max_value_day', $event)"
                />
            </div>
            <div class="text-danger error-msg" id="error_withdrawal_max_value_day"></div>
        </div>
        <div class="right-menu__form__block__inner mt-3">
            <label :for="'withdrawal_max_value_month' + limit.id">
                Минимальная сумма выводов за 1 месяц(оборот)
            </label>
            <div class="right-menu__form__row">
                <input type="number"
                       step="any"
                       name="withdrawal_max_value_month"
                       class="right-menu__form__input"
                       :id="'withdrawal_max_value_month' + limit.id"
                       v-model="form.withdrawal_max_value_month"
                       ref="error_withdrawal_max_value_month"
                       @input="onInput('withdrawal_max_value_month', $event)"
                />
            </div>
            <div class="text-danger error-msg" id="error_withdrawal_max_value_month"></div>
        </div>
        <div class="right-menu__form__block__inner mt-3">
            <label :for="'withdrawal_commission_fix' + limit.id">
                Фиксированная комиссия за вывод
            </label>
            <div class="right-menu__form__row">
                <input type="number"
                       min="0"
                       step="any"
                       name="withdrawal_commission_fix"
                       class="right-menu__form__input"
                       :id="'withdrawal_commission_fix' + limit.id"
                       v-model="form.withdrawal_commission_fix"
                       ref="error_withdrawal_commission_fix"
                       @input="onInput('withdrawal_commission_fix', $event)"
                />
            </div>
            <div class="text-danger error-msg" id="error_withdrawal_commission_fix"></div>
            <label :for="'withdrawal_commission_multiplier' + limit.id">
                Комиссия за вывод в процентах (%)
            </label>
            <div class="right-menu__form__row">
                <input type="number"
                       min="0"
                       step="any"
                       name="withdrawal_commission_multiplier"
                       class="right-menu__form__input"
                       :id="'withdrawal_commission_multiplier' + limit.id"
                       v-model="form.withdrawal_commission_multiplier"
                       ref="error_withdrawal_commission_multiplier"
                       @input="onInput('withdrawal_commission_multiplier', $event)"
                />
            </div>
            <div class="text-danger error-msg" id="error_withdrawal_commission_multiplier"></div>
        </div>
    </div>

</template>

<script>

  import {formLoader} from '../../../main/utilities'

  export default {
      name: 'withdrawal-inputs',
      props: {
        limit: {
          type: Object,
          require: true
        }
      },
      data() {
        return {
          form: {
            withdrawal_min_value_trans: '',
            withdrawal_max_value_trans: '',
            withdrawal_max_value_day: '',
            withdrawal_max_value_month: '',
            withdrawal_commission_fix: '',
            withdrawal_commission_multiplier: '',
          }
        }
      },
      watch: {
        limit () {
          formLoader(this.form, this.limit)
        }
      },
      methods: {
        onInput (attribute, event) {
          this.$emit(
            'input',
            attribute,
            event.target.value
          );
        }
      }
    }

</script>
