.account-setting {
  &__body {
    min-height: 400px;

    &__table {
      border: none;
      tbody {
        tr {
          td {
            &:nth-child(3) {
              min-width: 365px;
            }
          }
        }
      }
    }
  }
}
