<template>
    <div class="toke-api mb-5">
        <div class="row mb-4">
            <div class="col-md-12">
                <h3 class="d-inline-block font-weight-bold">
                    {{ $t("dashboard.profile.api") }}
                </h3>
            </div>
        </div>
        <form class="form-custom black row ">
            <div class="form-control-custom col-md-4 mb-md-3">
                <small class="text-silver">{{ $t("dashboard.profile.comment") }}</small>
                <input :placeholder="$t('dashboard.profile.comment')">
            </div>
            <div class="form-control-custom col-md-4 mb-md-3">
                <small class="text-silver">{{ $t("dashboard.profile.type") }}</small>
                <input :placeholder="$t('dashboard.profile.type')">
                <label class="mt-2">
                    <input type="checkbox">
                    <div class="checkbox__button"></div>
                    {{ $t("dashboard.profile.withdrawal") }}
                </label>
            </div>
            <div class="col-md-12">
                <button class="btn btn-primary" style="max-width: 300px;">{{ $t("dashboard.profile.add") }}</button>
            </div>
        </form>
        <div class="row mt-5">
            <div class="col-md-12">
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th style="min-width: 200px;max-width: 200px;">{{ $t("dashboard.profile.mark") }}</th>
                        <th style="min-width: 200px;max-width: 200px;">{{ $t("dashboard.profile.type") }}</th>
                        <th style="min-width: 200px;max-width: 200px;">{{ $t("dashboard.profile.withdrawal") }}</th>
                        <th style="min-width: 200px;max-width: 200px;">Дата создания</th>
                        <th style="min-width: 400px;max-width: 400px;"></th>
                        <th style="min-width: 20px;max-width: 20px;"></th>
                        <th style="min-width: 20px;max-width: 20px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ $t("dashboard.profile.system") }}</td>
                        <td>{{ $t("dashboard.profile.generic") }}</td>
                        <td>{{ $t("dashboard.profile.available") }}</td>
                        <td>15:53 18 Jil 2019</td>
                        <td class="qr">
                            <i class="icon-QR"></i>
                            <span class="font-weight-bold" style="text-decoration: underline">
                   {{ $t("dashboard.profile.show_number") }}
                  </span>
                        </td>
                        <td class="edit">
                            <i class="icon-edit"></i>
                        </td>
                        <td class="delete">
                            <i class="icon-delete"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
		name: "ApiToken"
	}
</script>
