<template>
  <div class="change-password mb-5">
    <div class="row mb-4">
      <div class="col-md-12">
        <h3 class="d-inline-block font-weight-bold">{{ $t("dashboard.profile.change_password") }}</h3>
      </div>
      <span v-if="success.changed" class="text-success ml-3">{{ $t('dashboard.profile.password_has_been_changed') }}</span>

    </div>
    <form class="form-custom black row" autocomplete="off">
      <div class="form-control-custom col-md-4 accept-password" :class="success.changed ? 'success' : 'error'">
        <input :placeholder="$t('dashboard.profile.new_password')"
               class="accept-password"
               type="password"
               ref="field_new_password"
               v-model="form.new_password"
               autocomplete="off"
        >
        <div class="text-danger error-msg" ref="error_new_password"></div>
      </div>
      <div class="form-control-custom col-md-4">
        <input :placeholder="$t('dashboard.profile.repeat')"
               type="password"
               ref="field_new_password_verify"
               v-model="form.new_password_verify"
               autocomplete="off"
               @keydown.enter="onRequestSmsCode"
        >
        <div class="text-danger error-msg" ref="error_new_password_verify"></div>
      </div>
      <div class="col-md-12">
        <button @click="onRequestSmsCode" :disabled="(!form.new_password || !form.new_password_verify)" type="button" class="btn btn-primary" style="max-width: 300px;">{{ $t("dashboard.profile.confirm") }}</button>
      </div>
    </form>
    <ModalWrapper ref="modalWrapper">
      <div class="modal-header">
        <h5 class="font-weight-bold text-black">{{ $t("dashboard.profile.change_password") }}</h5>
        <span class="text-silver">{{ $t("dashboard.profile.enter_sms") }}</span>
      </div>
      <div class="modal-body mb-3">
        <form class="form-custom black row ">
          <div class="form-control-custom col-md-12">
            <div class="border-bottom-silver">
              <small class="text-silver d-block">{{ $t("dashboard.profile.comment") }}</small>
              <div class="d-flex">
                <input :placeholder="$t('dashboard.profile.code')"
                       type="password"
                       class="border-0"
                       v-model="form.sms_code"
                       autofocus
                       @keydown.enter.prevent="checkSmsCode"
                >
                <small class="text-black font-weight-bold flex-shrink-0"
                       style="cursor: pointer;line-height: 45px;"
                       @click="onRequestSmsCode"
                >{{ $t("dashboard.profile.send") }}
                </small>
              </div>
            </div>
            <div class="error-msg error-msg--black font-weight-bold" ref="error_sms_code"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-between column-mobile w-100">
          <button @click="checkSmsCode" class="btn btn-primary">{{ $t("dashboard.profile.confirm") }}</button>
          <button @click="onCloseModal" type="button" class="btn btn-link">{{ $t("dashboard.profile.cancel") }} &mdash;</button>
        </div>
      </div>
    </ModalWrapper>
  </div>
</template>

<script>
import { handlerErrors, resetErrors } from '../../../../utilities'
import spinner from '../../../../../common/spinner'
import requests from '../../../../requests'

export default {
  name: 'ChangePassword',
  props: {
    user: Object
  },
  data() {
    return {
      form: {
        new_password: null,
        new_password_verify: null,
        sms_code: null
      },
      errors: [],
      isSendSmsCode: false,
      isOpenModal: false,
      success: {
        changed: false,
        message: ''
      }
    }
  },
  watch: {
    isOpenModal () {

      if (document.body.style.overflow === 'hidden') {
        // document.body.style.overflow = 'auto'
      } else {
        // document.body.style.overflow = 'hidden'
      }
    }
  },
  methods: {
    onRequestSmsCode () {
      this.success.message = ''
      resetErrors(this.$refs)
      spinner.toggle(true)

      requests.dashboard.profile.postChangePassword(this.form, true).then(({ data }) => {
        spinner.toggle(false)
        this.success.message = data.message
        this.form.sms_code = null
        this.isSendSmsCode = true
        resetErrors(this.$refs)
        this.onOpenModal()
      }).catch(({ response }) => {
        this.errors = handlerErrors(this.$refs, response.data.errors)
        this.form.sms_code = null
        spinner.toggle(false)
      })
    },
    checkSmsCode () {
      this.success.message = '';
      this.errors = [];

      let codeLength = 0;

      if(!!this.form.sms_code) {
        codeLength = this.form.sms_code.length;
      }

      if (codeLength > 0) {
        spinner.toggle(true)
        resetErrors(this.$refs)

        requests.dashboard.profile.postChangePassword(this.form).then(({data}) => {
          this.$store.dispatch('updateUserData').then(() => {
            spinner.toggle(false)
          });
          this.success.message = data.message
          this.isSendSmsCode = false
          this.success.changed = true
          this.isOpenModal = false
          this.$refs.modalWrapper.close()
          resetErrors(this.$refs)
          this.resetForm()
        }).catch(({response}) => {
          this.errors = handlerErrors(this.$refs, response.data.errors)
          this.isSendSmsCode = false
          this.form.sms_code = null
          spinner.toggle(false)
        })
      }
    },
    onOpenModal () {
      this.$refs.modalWrapper.open()
      document.getElementById('modal').scrollIntoView()
    },
    onCloseModal () {
      this.$refs.modalWrapper.close()
    },
    resetForm () {
      this.form.new_password_verify = null
      this.form.new_password = null
      this.form.sms_code = null
    },
    resetErrors () {
      this.errors = handlerErrors(this.$refs, [])
    }
  },
  created() {
    // this.$scrollBody('hidden')
  },
  destroyed() {
    // this.$scrollBody('auto')
  },
}
</script>
