<template>
  <div class="filter-ip mb-5">
    <div class="row mb-4">
      <div class="col-md-12">
        <h3 class="font-weight-bold">{{ $t("dashboard.profile.ip") }}</h3>
        <span>{{ $t("dashboard.profile.text46") }}</span>
      </div>
    </div>
    <form class="form-custom black row mb-5">
      <div class="form-control-custom col-md-4">
        <small class="text-silver">{{ $t("dashboard.profile.mark") }}</small>
        <input :placeholder="$t('dashboard.profile.mark')" v-model="form.mark"/>
      </div>
      <div class="form-control-custom col-md-4">
        <small class="text-silver">{{ $t('dashboard.profile.ip_address')}}</small>
        <input placeholder="255.255.255.255" v-model="form.ip" @keydown.enter="onSubmit">
      </div>
      <div class="col-md-12">
        <button class="btn btn-primary" :disabled="(form.ip==null || form.ip=='')" type="button" style="max-width: 300px;" @click="onSubmit">{{ $t("dashboard.profile.add") }}</button>
      </div>
    </form>
    <div class="row">
      <div v-if="user.allowed_ips !== null && user.allowed_ips.length > 0" class="col-md-8">
        <table class="table table-responsive-sm">
          <thead>
            <tr>
                <th>{{ $t("dashboard.profile.mark") }}</th>
                <th>IP</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in user.allowed_ips">
              <td>{{item.mark}}</td>
              <td>{{item.ip}}</td>
              <td>
                <span class="font-weight-bold delete-allowed-ip" @click="onDelete(item.ip, index)">{{ $t("dashboard.profile.delete") }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { handlerErrors } from '../../../../utilities'
import spinner from '../../../../../common/spinner'
import requests from '../../../../requests'
import { mapGetters } from 'vuex'

export default {
  name: 'IpFiltration',
  data () {
  	return {
      errors: [],
      form: {
      	mark: '',
        ip: '',
      }
    }
  },
  computed: mapGetters({
    user: 'getUser',
    clientIp: 'getCurrentIp'
  }),
  mounted () {
    this.updateMark()

  },
  methods: {
    updateMark(){
      let flag = false;

      if (this.user.allowed_ips) {
        for(let i = 0; i < this.user.allowed_ips.length; i++) {
          if(this.user.allowed_ips[i].ip === this.clientIp && this.user.allowed_ips[i].mark === 'Current IP') {
            flag = true;
          }
        }
      }

      if(!flag) {
        this.form.ip = this.clientIp
        this.form.mark = 'Current IP'
      } else {
        this.form.ip = null
        this.form.mark = null
      }
    },
    onSubmit() {
      spinner.toggle(true)
      requests.dashboard.profile.security.postAddAllowedIp(this.form).then(({data}) => {
        this.$store.commit('pushUserAllowedIps', this.form)

        if (typeof data.data !== 'undefined' && data.data.logout) {
          this.$store.dispatch('logout').then(() => window.location.href = data.data.redirect_to)
        } else {
          this.$store.dispatch('updateUserData').then(() => this.updateMark())
        }
        spinner.toggle(false)
      }).catch(({ response }) => {
        this.errors = handlerErrors(this.$refs, response.data.errors)
        spinner.toggle(false)
      })
    },
    onDelete(ip, index) {
      spinner.toggle(true)
      requests.dashboard.profile.security.deleteAllowedIp({ip}).then(() => {
        this.$store.commit('removeUserAllowedIp', index)
        spinner.toggle(false)
        this.updateMark()
      }).catch(({ response }) => {
        this.errors = handlerErrors(this.$refs, response.data.errors)
        spinner.toggle(false)
      })
    }
  }
}
</script>
