<template>
  <div class="double-auth mb-5">
    <div class="row mb-4">
      <div class="col-md-12">
        <h3 class="d-inline-block font-weight-bold">{{ $t("dashboard.profile.two_factor") }}</h3>
      </div>
      <span v-if="success.message" class="text-success ml-3">{{ $t('dashboard.profile.personal_details_have_been_changed') }}</span>
    </div>
    <form class="form-custom black row">
      <div class="form-control-custom col-md-12 mt-0 mb-0">
        <label>
          <input type="radio" name="two_factor_auth_type" v-model="form.two_factor_auth_type" :value="null">
          <div class="checkbox__button"></div> {{ $t("dashboard.profile.no") }}</label></div>
      <div class="form-control-custom col-md-12 mt-0 mb-0">
        <label>
          <input type="radio" name="two_factor_auth_type" v-model="form.two_factor_auth_type" value="sms">
          <div class="checkbox__button"></div> {{ $t("dashboard.profile.two_factor_sms") }}</label></div>
      <div class="form-control-custom col-md-12 mt-0 mb-0 row" style="margin-left: 0">
        <label>
          <input type="radio" name="two_factor_auth_type" v-model="form.two_factor_auth_type" value="ga">
        <div class="checkbox__button"></div> {{ $t("dashboard.profile.two_factor_ga") }}</label>
      </div>
      <div v-if="(form.two_factor_auth_type === 'ga') && (initValue !== 'ga')">
        <google2-fa v-on:ga_code="form.ga_code = $event" env="dashboard"
                  ref="google2fa" style="margin-left: 15px; margin-top: -10px; margin-bottom: 10px;"></google2-fa>
        <div class="text-danger error-msg" ref="error_ga_code" style="margin-bottom: 10px"></div>
      </div>
      <div class="col-md-12">
        <button @click="onSubmit" :disabled="(initValue === form.two_factor_auth_type) ||
          ((initValue !== form.two_factor_auth_type) && (form.two_factor_auth_type === 'ga') &&
          (form.ga_code.length < 6))"
          type="button" class="btn btn-primary" style="max-width: 300px;">{{ $t("dashboard.profile.save") }}</button>
      </div>
    </form>
  </div>
</template>

<script>
import { formLoader, handlerErrors } from '../../../../utilities'
import Google2Fa from '../../../../../common/google2fa'
import spinner from '../../../../../common/spinner'
import requests from '../../../../requests'
import { mapGetters } from 'vuex'
import RightPanel from "@/common/right-panel";

export default {
  name: "TwoFactorAuth",
  computed : mapGetters({
    user: 'getUser'
  }),
  data () {
    return {
      selectedItem: null,
      isFocusSelect: false,
      isOpenSelect: false,
      form : {
        two_factor_auth_enabled: true,
        two_factor_auth_type: null,
        two_factor_auth_withdrawal_enabled: true,
        ga_code: '',
      },
      success: {
        message: ''
      },
      initValue: false
    }
  },
  components: {
    Google2Fa
  },
  watch: {
    'form.two_factor_auth_type' (val) {
      this.form.two_factor_auth_enabled = !(val === null)
    }
  },
  created () {
    formLoader(this.form, this.user);
    formLoader(this.form, this.user.setting);
    document.addEventListener('click', () => {
      if (!this.isFocusSelect) {
        this.isOpenSelect = false
      }
    });
    this.initValue = this.form.two_factor_auth_type
  },
  methods: {
    openSelect () {
      this.isOpenSelect = !this.isOpenSelect
    },
    selectItem (item) {
      this.selectedItem = item
    },
    onSubmit() {
      spinner.toggle(true)
      this.success.message = ''
      requests.dashboard.profile.security.postTwoFactorAuth(this.form).then(({ data }) => {
        this.success.message = data.message;
        spinner.toggle(false);
        this.$store.dispatch('updateUserData');
        this.initValue = this.form.two_factor_auth_type
      }).catch(({response}) => {
        this.errors = handlerErrors(this.$refs, response.data.errors)
        spinner.toggle(false)
      }).finally(() => {
        this.form.ga_code = '';
      })
    }
  },
}
</script>
