<template>
  <form class="right-menu__form" method="post" @submit.prevent="onSubmit">
    <hr>
    <div class="row justify-content-center">
      <h5>Способ оплаты</h5>
    </div>
    <div class="row">
      <div class="col-sm mt-3">
        <label>Тип транзакций</label>
        <div class="right-menu__form__row">
          <select ref="paymentType" class="form-control right-menu__form__input" v-model="limit.payment_type">
            <option value="">-- --</option>
            <option v-for="key in Object.keys(paymentTypes)" :value="key" :key="key">{{ paymentTypes[key] }}</option>
          </select>
        </div>
      </div>
      <div v-if="limit.payment_type === 'rated_bill'" class="col-sm mt-3">
        <label>Тип банка</label>
        <div class="right-menu__form__row">
          <select class="form-control right-menu__form__input" v-model="limit.bank_type">
            <option v-for="bankType in bankTypes" :value="bankType">{{ bankType }}</option>
          </select>
        </div>
      </div>
      <div v-if="limit.payment_type==='rated_bill'" class="col-sm mt-3">
        <label>Регион банка</label>
        <div class="right-menu__form__row">
          <select class="form-control right-menu__form__input" v-model="limit.bank_allowed_region">
            <option v-for="region in regions" :value="region">{{ region }}</option>
          </select>
        </div>
      </div>
      <div class="col-sm mt-3">
        <label>Валюта</label>
        <div class="right-menu__form__row">
          <select class="form-control right-menu__form__input" v-model="limit.currency">
            <option value="">-- --</option>
            <option v-for="currency in currencies" :value="currency.name">{{currency.name }}</option>
          </select>
        </div>
      </div>
    </div>

    <hr>
    <div class="row justify-content-center">
      <h5>Лимиты</h5>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="right-menu__form__block right-menu__form">
          <span class="right-menu__header__text">Пополнение</span>
          <div class="right-menu__form__block__inner mt-3">
            <label>Минимальная сумма пополнения за 1 транзакцию</label>
            <div class="right-menu__form__row">
              <input type="number"
                v-model="limit.refill_min_value_trans"
                class="right-menu__form__input"
                step="any"
              />
            </div>
          </div>
          <div class="right-menu__form__block__inner mt-3">
            <label>Максимальная сумма пополнения за 1 транзакцию</label>
            <div class="right-menu__form__row">
              <input type="number"
                v-model="limit.refill_max_value_trans"
                class="right-menu__form__input"
                step="any"
              />
            </div>
          </div>
          <div class="right-menu__form__block__inner mt-3">
            <label>Максимальная сумма пополнений за 1 день(оборот)</label>
            <div class="right-menu__form__row">
              <input type="number"
                v-model="limit.refill_max_value_day"
                class="right-menu__form__input"
                step="any"
              />
            </div>
          </div>
          <div class="right-menu__form__block__inner mt-3">
            <label>Максимальная сумма пополнений за 1 месяц(оборот)</label>
            <div class="right-menu__form__row">
              <input type="number"
                v-model="limit.refill_max_value_month"
                class="right-menu__form__input"
                step="any"
              />
            </div>
          </div>
          <div class="right-menu__form__block__inner mt-3">
            <label>Фиксированная комиссия за пополнение</label>
            <div class="right-menu__form__row">
              <input type="number"
                v-model="limit.refill_commission_fix"
                class="right-menu__form__input"
                step="any"
                min="0"
              />
            </div>
          </div>
          <div class="right-menu__form__block__inner mt-3">
            <label>Комиссия за пополнение в процентах (%)</label>
            <div class="right-menu__form__row">
              <input type="number"
                v-model="limit.refill_commission_multiplier"
                class="right-menu__form__input"
                step="any"
                min="0"
              />
            </div>
          </div>
          <div class="right-menu__form__block__inner mt-3">
            <label>Комиссия за пополнение для карт EU в процентах (%)</label>
            <div class="right-menu__form__row">
              <input type="number"
                     v-model="limit.eu_refill_commission_multiplier"
                     class="right-menu__form__input"
                     step="any"
                     min="0"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="right-menu__form__block right-menu__form">
          <span class="right-menu__header__text">Вывод</span>
          <div class="right-menu__form__block__inner mt-3">
            <label>Минимальная сумма вывода за 1 транзакцию</label>
            <div class="right-menu__form__row">
              <input type="number"
                v-model="limit.withdrawal_min_value_trans"
                class="right-menu__form__input"
                step="any"
              />
            </div>
          </div>
          <div class="right-menu__form__block__inner mt-3">
            <label>Максимальная сумма вывода за 1 транзакцию</label>
            <div class="right-menu__form__row">
              <input type="number"
                v-model="limit.withdrawal_max_value_trans"
                class="right-menu__form__input"
                step="any"
              />
            </div>
          </div>
          <div class="right-menu__form__block__inner mt-3">
            <label>Максимальная сумма выводов за 1 день(оборот)</label>
            <div class="right-menu__form__row">
              <input type="number"
                v-model="limit.withdrawal_max_value_day"
                class="right-menu__form__input"
                step="any"
              />
            </div>
          </div>
          <div class="right-menu__form__block__inner mt-3">
            <label>Минимальная сумма выводов за 1 месяц(оборот)</label>
            <div class="right-menu__form__row">
              <input type="number"
                v-model="limit.withdrawal_max_value_month"
                class="right-menu__form__input"
                step="any"
              />
            </div>
          </div>
          <div class="right-menu__form__block__inner mt-3">
            <label>Фиксированная комиссия за вывод</label>
            <div class="right-menu__form__row">
              <input type="number"
                v-model="limit.withdrawal_commission_fix"
                class="right-menu__form__input"
                step="any"
                min="0"
              />
            </div>
          </div>
          <div class="right-menu__form__block__inner mt-3">
            <label>Комиссия за вывод в процентах (%)</label>
            <div class="right-menu__form__row">
              <input type="number"
                v-model="limit.withdrawal_commission_multiplier"
                class="right-menu__form__input"
                step="any"
                min="0"
              />
            </div>
          </div>
          <div class="right-menu__form__block__inner mt-3">
            <label>Комиссия за вывод для карт в EU в процентах (%)</label>
            <div class="right-menu__form__row">
              <input type="number"
                     v-model="limit.eu_withdrawal_commission_multiplier"
                     class="right-menu__form__input"
                     step="any"
                     min="0"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="right-menu__form__block right-menu__form">
          <span class="right-menu__header__text">Обмен</span>
          <div class="right-menu__form__block__inner mt-3">
            <label>Минимальная сумма обмена за 1 транзакцию</label>
            <div class="right-menu__form__row">
              <input type="number"
                v-model="limit.exchange_min_value_trans"
                class="right-menu__form__input"
                step="any"
              />
            </div>
          </div>
          <div class="right-menu__form__block__inner mt-3">
            <label>Максимальная сумма обменов за 1 день(оборот)</label>
            <div class="right-menu__form__row">
              <input type="number"
                v-model="limit.exchange_max_value_day"
                class="right-menu__form__input"
                step="any"
              />
            </div>
          </div>
          <div class="right-menu__form__block__inner mt-3">
            <label>Максимальная сумма обменов за 1 месяц(оборот)</label>
            <div class="right-menu__form__row">
              <input type="number"
                v-model="limit.exchange_max_value_month"
                class="right-menu__form__input"
                step="any"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <error-view :errors="errors" />
    <button type="submit" class="btn btn-primary right-menu__button">Сохранить</button>
  </form>
</template>

<script>
import errors from '../../common/helpers/errors'
import requests from '../requests'

export default {
  name: 'CreateLimit',
  props: {
    paymentTypes: {
      type: [Object, Array],
      required: true
    },
    bankTypes: {
      type: [Object, Array],
      required: true
    },
    currencies: {
      type: [Object, Array],
      required: true
    },
  },
  data () {
    return {
      errors: [],
      regions: ['ALL','EU','AS','NA','SA','AF','OC','AN'],
      limit: {
        currency: '',
        bank_type: 'SWIFT',
        payment_type: '',
        bank_allowed_region: 'ALL',
        refill_min_value_trans: '',
        refill_max_value_trans: '',
        refill_max_value_day: '',
        refill_max_value_month: '',
        refill_commission_fix: '',
        refill_commission_multiplier: '',
        eu_refill_commission_multiplier: '',
        withdrawal_min_value_trans: '',
        withdrawal_max_value_trans: '',
        withdrawal_max_value_day: '',
        withdrawal_max_value_month: '',
        withdrawal_commission_fix: '',
        withdrawal_commission_multiplier: '',
        eu_withdrawal_commission_multiplier: '',
        exchange_min_value_trans: '',
        exchange_max_value_day: '',
        exchange_max_value_month: ''
      }
    }
  },
  methods: {
    onSubmit () {
      this.$emit('ajax:start')
      requests.limits.create(this.limit).then(({ data }) => {
        this.$emit('created', data.limit)
        this.$emit('ajax:finish')
      }).catch(({ response }) => {
        this.$emit('ajax:finish')
        this.errors = errors(response.errors)
      })
    }
  }
}
</script>
