<template>
  <div class="limits-grid-view">
    <button type="button" class="btn btn-primary" @click="onCreateLimit">Добавить</button>
    <div class="table-limits-grid-view-wrapp mt-3">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th scope="col">ID счёта</th>
          <th scope="col">Валюта</th>
          <th scope="col">Тип</th>
          <th scope="col">Тип банка</th>
          <th scope="col">Регион</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(limit, index) in resources.limits" :key="limit.id" @click="onUpdateLimit(limit, index)" role="button">
          <td>{{ limit.id }}</td>
          <td>{{ limit.currency }}</td>
          <td>{{ paymentTypes[limit.payment_type] }}</td>
          <td>{{ limit.payment_type === 'rated_bill' ? limit.bank_type : '-' }}</td>
          <td>{{ limit.bank_allowed_region }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <right-panel ref="rightPanel" :mode="component.mode" :title="component.title">
      <component ref="component"
        @ajax:finish="$refs.rightPanel.spin(false)"
        @ajax:start="$refs.rightPanel.spin(true)"
        :payment-types="paymentTypes"
        :currencies="currencies"
        :bank-types="bankTypes"
        :is="component.name"
        @created="onCreated"
        @updated="onUpdated"
      />
    </right-panel>
  </div>
</template>

<script>
import Successful from './Successful'
import CreateLimitForm from './CreateLimitForm'
import UpdateLimitForm from './UpdateLimitForm'
import RightPanel from '../../common/right-panel'

export default {
  name: 'LimitsView',
  components: {
    CreateLimitForm,
    UpdateLimitForm,
    Successful,
    RightPanel
  },
  props: {
    limits: {
      type: [Object, Array],
      required: true
    },
    paymentTypes: {
      type: [Object, Array],
      required: true
    },
    bankTypes: {
      type: [Object, Array],
      required: true
    },
    currencies: {
      type: [Object, Array],
      required: true
    }
  },
  data () {
    return {
      resources: {
        limits: []
      },
      component: {
        title: 'Untitled',
        mode: 'full',
        name: null
      }
    }
  },
  created () {
    this.resources.limits = this.limits
  },
  methods: {
    onCreateLimit () {
      this.component.mode = 'full'
      this.component.name = 'create-limit-form'
      this.component.title = 'Создание нового счёта'
      this.$refs.rightPanel.show()
    },
    onCreated (limit) {
      this.component.mode = 'no-full'
      this.component.title = 'Успешно'
      this.component.name = 'successful'
      this.resources.limits.push(limit)
    },
    onUpdateLimit (limit, index) {
      this.component.mode = 'full'
      this.component.name = 'update-limit-form'
      this.component.title = `Изменить данные лимита "${this.paymentTypes[limit.payment_type]} ${limit.currency}"`
      this.$nextTick(() => {
        this.$refs.component.setLimit(limit, index)
        this.$refs.rightPanel.show()
      })
    },
    onUpdated (limit, index) {
      this.component.mode = 'no-full'
      this.component.title = 'Успешно'
      this.component.name = 'successful'
      this.resources.limits[index] = limit
    }
  }
}
</script>
