<template>
  <div style="display:flex;height:60vh;font-size:2rem;">
    <div style="display:flex;align-items:center;justify-content:center;width:100%;">
      <span>Данные аккаунта успешно изменены</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Successful',
  props: {
    paymentTypes: {
      type: [Object, Array],
      required: true
    },
    bankTypes: {
      type: [Object, Array],
      required: true
    },
    currencies: {
      type: [Object, Array],
      required: true
    },
  }
}
</script>
