<template>

  <div class="alert alert-danger text-left" v-if="errors.length > 0" style="width: 100%">
    <span v-for="error in errors">{{ error }}</span>
    <button type="button" class="close" v-if="hasClose === true" @click="onClose">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

</template>

<script>

  export default {
    name: 'error-view',
    props: {
      errors: [
        String,
        Array,
        Object
      ],
      hasClose: {
        type: Boolean,
        default() {
          return false;
        }
      }
    },
    methods: {
      onClose() {
        this.$emit('update:errors', [])
      }
    }
  }

</script>
