<template>

    <div :style="style" v-if="showen">
        <i class="fas fa-circle-notch fa-spin"></i>
    </div>

</template>


<script>
  export default {
    name: "input-spinner",
    props: {
      showen: {
        type: Boolean,
        default: false,
      }
    },
    data() {
      return {
        style: {
          position: 'absolute',
          right: '15px',
          top: '10px'
        }
      };
    }
  }
</script>
