<template>
  <div>
    <div class="row" v-for="(item, key) in data"
         :key="key"
    >
      <div class="col-md-5">
        <div class="right-menu__form__row">
          <input class="form-control"
                 v-model="data[key].mark"
                 :placeholder="$t('dashboard.profile.mark')"
          />
        </div>
      </div>
      <div class="col-md-5">
        <div class="right-menu__form__row">
          <input class="form-control"
                 v-model="data[key].ip"
                 placeholder="IP"
          />
        </div>
      </div>
      <div class="col-md-2">
        <button type="button"
                class="btn btn-danger float-right"
                @click="removeItem(key)"
        >
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12"
           v-if="data && data.length"
      >
        <button type="button"
                class="btn btn-primary float-right"
                @click="addItem"
        >
          <i class="fas fa-plus"></i>
        </button>
      </div>
      <div class="col-md-12" v-else>
        <button type="button"
                class="btn btn-primary"
                @click="addItem"
        >{{ addText }}</button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "multiple-input",
    props: {
      data: Array,
      addText: String
    },
    methods: {
      removeItem(key) {
        this.$emit('removeItem', key)
      },
      addItem() {
        this.$emit('addItem')
      }
    }
  }
</script>

