<template>

  <div class="alert alert-success text-left success-alert" v-if="successMessage">
    <span>{{ successMessage }}</span>
    <button type="button" class="close" v-if="hasClose === true" @click="onClose">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

</template>

<script>

  export default {
    name: 'success-view',
    props: {
      successMessage: String,
      hasClose: {
        type: Boolean,
        default() {
          return false
        }
      }
    },
    methods: {
      onClose() {
        this.$emit('update:successMessage', '')
      }
    }
  }

</script>