<template>
  <form class="confirm-form mt-3" @submit.prevent="onSubmit">
    <error-view :errors="errors"></error-view>
    <success-view :success-message="successMessage"></success-view>
    <button
        type="button"
        class="btn"
        :class="active=='g2fa'?'btn-primary':'btn-outline-primary'"
        @click="setActive('g2fa')">
      Whith Google Auth
    </button>
    <button
        type="button"
        class="btn"
        :class="active=='sms'?'btn-primary':'btn-outline-primary'"
        @click="setActive('sms')">
      Whith SMS
    </button>
    <google2-fa v-if="active=='g2fa'" v-on:ga_code="form.ga_code = $event" ref="google2fa"></google2-fa>
    <div class="right-menu__form__row mt-2" v-show="active=='sms'">
      <input class="right-menu__form__input"
         ref="field_sms_code"
         placeholder="Смс код"
         v-model="form.sms_code"
         type="text"
      >
      <button type="button" class="btn btn-link" @click="onSendSmsCode">Request code</button>
    </div>
    <div class="text-danger error-msg" ref="error_sms_code"></div>
    <button type="submit" class="btn btn-secondary">Подтвердить</button>
  </form>
</template>

<script>
import errors from '../../../common/helpers/errors'
import Google2Fa from "../../../common/google2fa";
import requests from '../../requests'
import {handlerErrors} from "../../../main/utilities";
export default {
  name: 'ConfirmForm',
  data () {
    return {
      tariff: null,
      index: null,
      message: '',
      form: {
        ga_code: '',
        id: null
      },
      successMessage: '',
      errors: [],
      show: false,
      active: 'g2fa',
      crefs: this.$refs
    }
  },
  components: {
    Google2Fa
  },
  methods: {
    setTariff (index, tariff) {
      this.form.id = tariff.id
      this.index = index
    },
    setActive(name){
      this.active = name;
      this.$refs.error_sms_code.innerHTML = ''
      this.$refs.field_sms_code.classList.remove("is-invalid");
      if(name=='sms') {
        Vue.delete(this.form, 'ga_code')
        Vue.set(this.form, 'sms_code', '')
      }
      else {
        Vue.delete(this.form, 'sms_code')
        Vue.set(this.form, 'ga_code', '')
      }
    },
    onSendSmsCode () {
      this.$emit('ajax:start')
      this.errors = [];
      requests.partners.tariffs.delete(1, this.form).then(({data}) => {
        this.$emit('ajax:finish')
        this.successMessage = data.message

      }).catch(({response}) => {
        this.errors = handlerErrors(this.$refs, response.data.errors)
        this.$emit('ajax:finish')
      })
    },
    onSubmit () {
      this.errors = [];
      if(this.active!='sms') {
        this.crefs = Object.assign(this.$refs, this.$refs.google2fa.$refs);
      }
      this.$emit('ajax:start')
      requests.partners.tariffs.delete(0, this.form).then(({data}) => {
        this.$emit('ajax:finish')
        this.$emit('confirmed', this.index)

      }).catch(({response}) => {
        this.errors = handlerErrors(this.crefs, response.data.errors)
        this.$emit('ajax:finish')
      })
    },
    setResources (resources) {
      this.resources = resources
    },
    setMessage (message) {
      this.message = message
    },
    setErrors (_errors) {
      this.errors = errors(this.$refs, _errors)
    }
  }
}
</script>