<template>
  <div class="tariff-grid-view">
    <table class="table table-striped table-bordered mt-3">
      <thead>
        <tr>
          <th>ID</th>
          <th>Валюта</th>
          <th>Бонусный тип</th>
          <th>Стоимость (от)</th>
          <th>Стоимость (до)</th>
          <th>Кол-во уровней</th>
          <th colspan="2">Действия</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="6"></td>
          <td colspan="2" align="center">
            <button type="button" class="btn btn-success" @click="onAddTariff">
              <i class="fas fa-plus mr-1"></i> Добавить
            </button>
          </td>
        </tr>
        <tr v-for="(tariff, index) in cloneTariffs" :key="index">
          <td>{{tariff.id}}</td>
          <td>{{tariff.currency}}</td>
          <td>{{tariff.bonus_type}}</td>
          <td>{{tariff.amount_from}}</td>
          <td>{{tariff.amount_to ? tariff.amount_to : '&infin;'}}</td>
          <td>{{tariff.levels}}</td>
          <td align="center">
            <button type="button" class="btn btn-secondary" @click="onEditTariff(index, tariff)">
              <i class="fas fa-edit"></i> Редактировать
            </button>
          </td>
          <td align="center">
            <button type="button" class="btn btn-danger" @click="onRemoveTariff(index, tariff)">
              <i class="fas fa-trash"></i> Удалить
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <right-panel ref="rightPanel" :title="component.title">
      <component
          ref="component" :is="component.name"
          @ajax:finish="$refs.rightPanel.spin(false)"
          @ajax:start="$refs.rightPanel.spin(true)"
          @confirmed="onRemoveTariffConfirmed"
          @saved="onSaved"
      />
    </right-panel>
  </div>
</template>

<script>
import RightPanel from '../../../common/right-panel'
import ConfirmForm from './ConfirmForm'
import TariffForm from './TariffForm'
import requests from '../../requests'

export default {
  name: 'TariffGridView',
  props: {
    tariffs: {
      type: Array,
      required: true
    }
  },
  components: {
    RightPanel,
    ConfirmForm,
    TariffForm
  },
  data () {
    return {
      cloneTariffs: [],
      component: {
        title: 'Untitled',
        name: ''
      }
    }
  },
  created () {
    this.cloneTariffs = this.tariffs
  },
  methods: {
    onAddTariff () {
      this.component.title = 'Новый тариф'
      this.component.name = 'tariff-form'
      this.$refs.rightPanel.show()
      this.$nextTick(() => {
        this.$refs.component.setTariff(null, [])
        this.$refs.component.resetErrors()
      })
    },
    onEditTariff (index, tariff) {
      this.component.title = 'Редактировать тариф'
      this.component.name = 'tariff-form'
      this.$refs.rightPanel.show()
      this.$nextTick(() => {
        this.$refs.component.setTariff(index, tariff)
        this.$refs.component.resetErrors()
      })
    },
    onRemoveTariff (index, tariff) {
      this.component.title = 'Удалить тариф'
      this.component.name = 'confirm-form'
      this.$refs.rightPanel.show()
      this.$nextTick(() => {
        this.$refs.component.setTariff(index, tariff)
      })

    },
    onRemoveTariffConfirmed (index, tariff) {
      this.cloneTariffs.splice(index, 1)
      this.resetRightPanel()
    },
    onSaved(index, tariff) {

      if (index !== null && index >= 0) {
        this.cloneTariffs[index] = tariff
        this.resetRightPanel()
      } else {
        this.cloneTariffs.push(tariff)
        this.resetRightPanel()
      }
    },
    resetRightPanel () {
      this.$refs.rightPanel.spin(false)
      this.$refs.rightPanel.hide()
      this.component.title = 'Untitled'
      this.component.name = ''
    }
  }
}
</script>
