<template>
  <div class="tariff-form-content">
    <form class="tariff-form" @submit.prevent="onSubmit">
    <div class="row">
      <div class="col-sm mt-3">
        <label>Валюта</label>
        <input type="text" class="form-control" v-model="form.currency" ref="field_currency_name">
        <div class="text-danger error-msg small" ref="error_currency_name"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mt-3">
        <label>Бонусный тип</label>
        <input type="text" class="form-control" v-model="form.bonus_type" ref="field_bonus_type">
        <div class="text-danger error-msg small" ref="error_bonus_type"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mt-3">
        <label>Стоимость (от)</label>
        <input type="text" class="form-control" v-model="form.amount_from" ref="field_amount_from">
        <div class="text-danger error-msg small" ref="error_amount_from"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mt-3">
        <label>Стоимость (до)</label>
        <input type="text" class="form-control" v-model="form.amount_to" ref="field_amount_to">
        <div class="text-danger error-msg small" ref="error_amount_to"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mt-3">
        <label>Процент комиссии</label>
        <input type="text" class="form-control" v-model="form.commission_percentage" ref="field_commission_percentage">
        <div class="text-danger error-msg small" ref="error_commission_percentage"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mt-3">
        <label>Процент от процента комиссии</label>
        <input type="text" class="form-control" v-model="form.percentage_of_commission_percentage" ref="field_percentage_of_commission_percentage">
        <div class="text-danger error-msg small" ref="error_percentage_of_commission_percentage"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mt-3">
        <label>Кол-во уровней</label>
        <input type="text" class="form-control" v-model="form.levels" ref="field_levels">
        <div class="text-danger error-msg small" ref="error_levels"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mt-3">
        <label>1 уровень</label>
        <input type="text" class="form-control" v-model="form.level_1" ref="field_level_1">
        <div class="text-danger error-msg small" ref="error_level_1"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mt-3">
        <label>2 уровень</label>
        <input type="text" class="form-control" v-model="form.level_2" ref="field_level_2">
        <div class="text-danger error-msg small" ref="error_level_2"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mt-3">
        <label>3 уровень</label>
        <input type="text" class="form-control" v-model="form.level_3" ref="field_level_3">
        <div class="text-danger error-msg small" ref="error_level_3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mt-3">
        <label>4 уровень</label>
        <input type="text" class="form-control" v-model="form.level_4" ref="field_level_4">
        <div class="text-danger error-msg small" ref="error_level_4"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mt-3">
        <label>5 уровень</label>
        <input type="text" class="form-control" v-model="form.level_5" ref="field_level_5">
        <div class="text-danger error-msg small" ref="error_level_5"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mt-3">
        <label>6 уровень</label>
        <input type="text" class="form-control" v-model="form.level_6" ref="field_level_6">
        <div class="text-danger error-msg small" ref="error_level_6"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mt-3">
        <label>7 уровень</label>
        <input type="text" class="form-control" v-model="form.level_7" ref="field_level_7">
        <div class="text-danger error-msg small" ref="error_level_7"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mt-3">
        <label>8 уровень</label>
        <input type="text" class="form-control" v-model="form.level_8" ref="field_level_8">
        <div class="text-danger error-msg small" ref="error_level_8"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mt-3">
        <label>9 уровень</label>
        <input type="text" class="form-control" v-model="form.level_9" ref="field_level_9">
        <div class="text-danger error-msg small" ref="error_level_9"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mt-5">
        <error-view :errors="errors"></error-view>
        <success-view :success-message="successMessage"></success-view>
        <button
            type="button"
            class="btn"
            :class="active=='g2fa'?'btn-primary':'btn-outline-primary'"
            @click="setActive('g2fa')">
          Whith Google Auth
        </button>
        <button
            type="button"
            class="btn"
            :class="active=='sms'?'btn-primary':'btn-outline-primary'"
            @click="setActive('sms')">
          Whith SMS
        </button>
        <google2-fa v-if="active=='g2fa'" v-on:ga_code="form.ga_code = $event" ref="google2fa"></google2-fa>
        <div class="right-menu__form__row mt-2" v-show="active=='sms'">
          <input type="text"
                 class="right-menu__form__input"
                 v-model="form.sms_code"
                 placeholder="Sms code"
                 ref="field_sms_code"
          >
          <button type="button" class="btn btn-link" @click="onSendSmsCode">Request code</button>
        </div>
        <div class="text-danger error-msg" ref="error_sms_code"></div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary right-menu__button">
      Отправить
    </button>
  </form>
  </div>
</template>
<script>
import errors from '../../../common/helpers/errors'
import requests from '../../requests'
import Google2Fa from "../../../common/google2fa";

export default {
  name: 'TariffForm',
  components: {
    Google2Fa
  },
  data() {
    return {
      errors: [],
      form: {
        currency: '',
        bonus_type: '',
        amount_from: '',
        commission_percentage: '',
        percentage_of_commission_percentage: '',
        amount_to: '',
        levels: '',
        level_1: '',
        level_2: '',
        level_3: '',
        level_4: '',
        level_5: '',
        level_6: '',
        level_7: '',
        level_8: '',
        level_9: '',
        ga_code: ''
      },
      index: null,
      isCheckSms: true,
      successMessage: '',
      show: false,
      active: 'g2fa',
      crefs: this.$refs,
    }
  },
  methods: {
    setActive(name){
      this.active = name;
      this.$refs.error_sms_code.innerHTML = ''
      this.$refs.field_sms_code.classList.remove("is-invalid");
      if(name=='sms') {
        Vue.delete(this.form, 'ga_code')
        Vue.set(this.form, 'sms_code', '')
      }
      else {
        this.isCheckSms = true;
        Vue.delete(this.form, 'sms_code')
        Vue.set(this.form, 'ga_code', '')
      }
    },
    onSendSmsCode () {
      this.isCheckSms = false;
      this.$emit('ajax:start')
      this.errors = [];
      this.request()
        .then(({ data }) => {
          this.$emit('ajax:finish')
          this.successMessage = data.message
          this.isCheckSms = data.isSendCode

        })
        .catch(({ response }) => {
          this.$emit('ajax:finish')
          this.errors = handlerErrors(this.$refs, response.data.errors)
        })
    },
    setTariff (index, tariff) {
      this.form = JSON.parse(JSON.stringify(tariff))
      this.form.ga_code = ''
      this.index = index
    },
    resetErrors () {
      this.errors = errors(this.$refs, {})
    },
    onSubmit () {
      this.isCheckSms = true;
      this.errors = [];
      if(this.active!='sms') {
        this.crefs = Object.assign(this.$refs, this.$refs.google2fa.$refs);
      }
      this.resetErrors()
      this.$emit('ajax:start')

      this.request().then(({data}) => {
        this.isCheckSms = true
        this.$emit('ajax:finish')
        this.$emit('saved', this.index, data.tariff)
      }).catch(({response}) => {
        this.errors = errors(this.crefs, response.data.errors)
        this.$emit('ajax:finish')
      })

    },
    request () {
      if (this.form.id) {
        return requests.partners.tariffs.update(!this.isCheckSms, this.form)
      }
      return requests.partners.tariffs.create(!this.isCheckSms, this.form)
    }
  }
}
</script>
