<template>

    <span>
      <button class="btn btn-secondary" @click="$refs.rightPanel.show()">
          <i v-if="buttonIcon" class="fas fa-cogs"></i> {{buttonLabel}}
      </button>
      <right-panel ref="rightPanel" :title="(entity?'Изменение':'Создание') + ' аккаунта'" mode="full">
        <form class="right-menu__form" @submit.prevent="onSubmit">
            <div class="row">
                <div class="col-md-12">
                    <span class="right-menu__header__text">Биржа</span>
                    <div class="right-menu__form__row">
                      <select class="right-menu__form__input"
                              v-model="form.exchange_name">
                        <option v-for="(exchange, key) in exchanges" :value="key">
                          {{exchange}}
                        </option>
                      </select>
                    </div>
                  <span class="right-menu__header__text">Api Key</span>
                    <div class="right-menu__form__row">
                      <input type="text" class="right-menu__form__input"
                             v-model="form.api_key"/>
                    </div>
                  <span class="right-menu__header__text">Secret Key </span>
                    <div class="right-menu__form__row">
                      <input type="text" class="right-menu__form__input"
                             v-model="form.secret_key "/>
                    </div>
                  <span class="right-menu__header__text">Active</span>
                    <div class="right-menu__form__row">
                      <input type="checkbox" v-model="form.status" value="1" name="status" ref="field_status">
                    </div>
                  <span class="right-menu__header__text">Minimum rate</span>
                    <div class="right-menu__form__row">
                      <input type="text" class="right-menu__form__input"
                             v-model="form.minimum_rate" />
                    </div>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary right-menu__button">{{(entity?'Изменить':'Создать')}}</button>
                </div>
                <div v-if="entity" class="col-md-6">
                    <button class="btn btn-danger right-menu__button" @click="setDeleteMode">Удалить</button>
                </div>
            </div>
        </form>
      </right-panel>
    </span>

</template>

<script>

  import RightPanel from "../../common/right-panel"
  import {handlerErrors, formLoader, inputValidator} from '../../main/utilities'
  import requests from "../requests";
  import sweetAlert from '../../common/sweet-alert'

  export default {
    name: "edit-exchange-order-view",
    data() {
      return {
        successMessage: '',
        errors: [],
        actionMode:'update',
        form: {
          id: null,
          exchange_name: null,
          api_key: null,
          secret_key: null,
          status: null,
          minimum_rate: null,
        },
      }
    },
    props: {
      buttonLabel: {
        type: String,
        default: 'Редактировать'
      },
      buttonIcon: {
        type: Boolean,
        default: true
      },
      mode:{
        type:String,
        default:'update'
      },
      entity: {
        type: Object,
        required:false
      },
      exchanges: {
        type: Object,
        required:false
      }
    },
    computed: {

    },
    components: {
      RightPanel
    },
    created() {
      formLoader(this.form, this.entity);
      this.actionMode = this.mode
    },
    methods: {
      inputValidator,
      setDeleteMode(){
        this.actionMode='delete'
      },
      onSubmit() {
        this.$refs.rightPanel.spin(true);
        this.detectAction(this.actionMode, this.form)
          .then(({data}) => {
            sweetAlert.success({text:data.message,position:'center',timer:3000})
            this.$refs.rightPanel.spin(false);
            this.$refs.rightPanel.hide(30)
            this.$emit('exchangeOrder:update', data.entities)
          })
          .catch(({response}) => {
            if(typeof response.data.errors !== 'undefined') {
              let errors = handlerErrors(this.$refs, response.data.errors)
              if (errors.length===1) sweetAlert.error({text:errors})
            }
            this.$refs.rightPanel.spin(false);
          })
      },
      detectAction(mode, form){
        switch (mode) {
          case 'create':
            return requests.exchangeOrderSettings.createExchangeOrder(form)
          case 'update':
            return requests.exchangeOrderSettings.updateExchangeOrder(form)
          case 'delete':
            return requests.exchangeOrderSettings.deleteExchangeOrder(form)
        }
      }
    },
    watch:{
      'form.minimum_rate'(val,prev){
        this.form.minimum_rate = val.replace(/[^\d.]+/g, '')
      },
      entity(){
        formLoader(this.form, this.entity);
        this.actionMode = this.mode
      }
    }
  }

</script>