<template>
  <div class="grid-view">
    <div class="active-positions">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">API Key</th>
          <th scope="col">Secret key </th>
          <th scope="col">Status</th>
          <th scope="col">Minimum rate</th>
          <th scope="col">Created</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <template v-if="entities.length>0" v-for="entity in rows">
          <tr>
            <td>{{entity.id}}</td>
            <td>{{entity.exchange_name}}</td>
            <td>{{entity.api_key}}</td>
            <td>{{entity.secret_key }}</td>
            <td>{{entity.status}}</td>
            <td>{{entity.minimum_rate}}</td>
            <td>{{entity.created_at}}</td>
            <td width="20%" align="center">
              <edit-exchange-order-view :entity="entity" :exchanges="exchanges" mode="update"
                                         @exchangeOrder:update="onExchangeOrderUpdate"/>
            </td>
          </tr>
        </template>
      </table>

    </div>
    <hr>
    <edit-exchange-order-view button-label="Добавить"
                               :button-icon="false"
                               :exchanges="exchanges"
                               mode="create"
                               @exchangeOrder:update="onExchangeOrderUpdate"/>
  </div>
</template>

<script>
  import EditExchangeOrderView from "./EditExchangeOrderView";

  export default {
    name: "external-orders-external-view",
    props: ['entities', 'exchanges'],
    data(){
      return {
        rows: []
      }
    },
    components: {
      EditExchangeOrderView
    },
    created() {
      this.rows = JSON.parse(JSON.stringify(this.entities))
    },
    methods: {
      onExchangeOrderUpdate(entities){
        this.rows = entities
      }
    }
  }
</script>

<style scoped>

</style>