.active-positions {
  margin-bottom: 20px;
}

.active-positions__item {
  background: #f1f1f4;
  padding: 25px;
  border-radius: 5px;
  margin: 0 0 15px;
}

.active-positions__date {
  font-size: 20px;
  font-weight: 800;
  color: #cecedd;
}

.active-positions__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}

.active-positions__status-container {
  text-align: right;
}

.active-positions__value {
  font-size: 16px;
  font-weight: 800;
  color: #1e88e5;
}

.active-positions__status {
  color: #1e88e5;
}

.active-positions__status:before {
  width: 10px;
  height: 10px;
  background: #1e88e5;
  content: "";
  display: inline-block;
  border-radius: 50%;
  margin: 0 8px 1px 0;
}

.active-positions__button {
  margin:10px 0;
  padding: 10px 35px;
  background: #272725;
  border: none;
}

.active-positions__button:hover {
  background:#000;
}
