.auth__container {
  height: 100%;
}

.auth__sidebar {
  justify-content: center;
  background-size: cover;
  background: #3c6841;
  align-items: center;
  padding: 0 70px;
  display: flex;
}

.auth__sidebar__logo {
  background: url("/assets/images/logo.png");
  background-repeat: no-repeat;
  background-size: 310px;
  margin: 30px auto;
  height: 46px;
  width: 100%;
}

.auth__forms {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth__header {
  margin:0 0 25px;
}

.auth__response {
  margin: -10px 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
}

.auth__response-wrong {
  background: #dc0e0e;
}

.auth__lang {
  border-radius: 10px;
  text-align: center;
  margin: 0 auto 50px;
  display: block;
}

.auth__lang-picture {
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  width: 70px;
}

@media screen and (max-width:640px) {
  .auth__header {
    text-align: center;
    margin: 15px 0;
  }

  .auth__container {
    height: auto;
  }

  .auth__sidebar__logo {
    background-size: 260px;
    margin: 30px 0;
    height: 38px;
  }

  .auth__sidebar {
    background: #fff;
  }

  .auth__lang {
    margin: 25px auto 0;
  }

  .auth__lang-picture {
    width: 55px;
  }
}

.dashboard__btn{
  color: #333;
  border: 1px solid #ffdd2d;
  background-color: #ffdd2d;
  &:hover {
    border-color: #fcc521;
    background-color: #fcc521;
  }
}

.btn-link-black{
  color:#333;
}