button {
  cursor: pointer;
}
a {
  cursor: pointer;
}
.lang.nav-link {
  cursor: pointer;
}
.btn-dark {
  background-color: #333;
  border-color: #333;
  color: #fff;
}

.btn-dark:hover {
  background-color: #3e5031;
}

.btn-link-green {
  color: #75ab4f;
}

.btn-link-green:hover {
  color: #333;
}

.dashboard-layout {
  .lang {
    border: none;
    background-color: transparent;
  }
}
.landing .form-custom .form-control-custom input {
  border-bottom: 2px solid #bfbfbf;

}
.text-danger-white.error-msg {
  font-size: 80%;
  font-weight: 700;
}

@media (max-width: 576px) {
  .landing .btn-footer-form-regist {
    padding: 13px 20px !important;
    width: 100%;
  }
}

//b24-widget-button
.b24-widget-button-inner-mask {
  top: -8px !important;
  left: -8px !important;
  height: 70px !important;
  min-width: 66px !important;

}
.b24-widget-button-block {
  width: 55px !important;
  height: 55px !important;
}
.b24-widget-button-inner-block {
  height: 55px !important;
}
.b24-widget-button-inner-item {
  padding: 17px 18px !important;
}
svg.b24-crm-button-icon {
  width: 20px !important;
  height: 20px !important;
}
.b24-widget-button-position-bottom-right {
  right: 20px !important;
  bottom: 20px !important;
}