.card-account {
  padding:15px 25px;
  border:0px;
  border-radius:5px;
  height: 175px;
  margin: 50px 0;
  text-decoration:none;
  color:#000;
  transition:box-shadow .35s;
}

.card-account:hover {
  text-decoration:none;
  box-shadow: 0 0 15px #ccc;
  color:inherit;
}

.card-account-current {
  box-shadow: 0 0 10px #ccc,0 0 25px #ccc;
}

.card-account__header {
  color: #007bff;
  font-size:18px;
  margin:0 0 5px;
}

.card-account__row {
  font-size:18px;
  margin:3px 0;
  padding:0;
}

.card-account__row-dollars {
  font-size:22px;
  color:#268ce5;
  font-weight:700;
}

.card-account__row i {
  width:24px;
}

@media screen and (max-width:640px) {
  .card-account {
    margin: 10px 0;
  }
}
