@import "~chosen-js/chosen.css";

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("/assets/images/chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px;
}

.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: url("/assets/images/chosen-sprite.png") no-repeat -30px -20px;
  direction: rtl;
}

.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("/assets/images/chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px;
}
