.current-account {
  padding: 30px 0 0;
}

.current-account__header {
  display: inline-block;
  padding: 7px 2px;
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 15px;
}

.current-account__buttons {
  font-size: 14px;
  margin: 15px 0 50px;
  display:flex;
  align-items:center;
}

.current-account__buttons span {
  margin:0 10px;
  font-size: 16px;
}

.current-account__buttons .btn {
  margin:0 16px 0 0;
}

@media screen and (max-width:640px) {
  .current-account__header {
    font-size: 24px;
    display: block;
    text-align: center;
  }

  .current-account__buttons {
    flex-direction: column;
    margin: 15px 0;
  }

  .current-account__buttons .btn {
    margin: 0 0 10px;
  }

  .current-account__buttons span {
    text-align: center;
  }
}
