.hiden-btn-submit, .hiden-input-pasword {
  display: none;
}

.input-wrong, .input-wrong:hover {
  border: 2px solid #dc0e0e!important;
}

a:hover {
  text-decoration:none;
}

.btn:focus, .btn:active {
  box-shadow:none!important;
}

.form-group-wrong span:before {
  box-shadow: 0 0 0 1.5pt #dc0e0e!important;
}

.main-inner {
  min-height: calc(100vh - 120px);
}

.btn-reload {
  margin: 0 12px 10px 10px;
}

.nav_item {
  transition:all 0.5s;
}

.nav_item:hover {
  background:#14182e;
}

@media screen and (max-width:640px) {
  .main {
    // margin: 70px 0 0;
    padding: 0;
  }
}
