.dashboard__tabs__container {
  text-align: center;
}

.dashboard__tabs {
  border: 2px solid #007bff;
  display: inline-flex;
  margin: 35px 0;
  border-radius: 5px;
}

.dashboard__tabs__item__content {
  padding: 7px 35px;
  font-size: 16px;
  display: block;
  color: #333;
  text-decoration: none;
  border-right: 2px solid #007bff;
}

.dashboard__tabs__item:last-of-type .dashboard__tabs__item__content,
.dashboard__tabs__item-last .dashboard__tabs__item__content {
  border-right: 0px;
}

.dashboard__tabs__item__content.active {
  background: #007bff;
  color: #fff;
}

.dashboard__tabs__item__content:hover {
  background: #007bff;
  color:#fff;
  text-decoration:none;
}

.dashboard__card__title {
  padding: 10px;
  background-color: #f1f1f4;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 25px;
}

.dashboard__card {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #f1f1f4;
  margin:0 0 35px;
  text-align: center;
}
.dashboard__card__menu-row {
  align-items: center;
  justify-content: center;
  text-align: left;
}
.dashboard__card__menu-row-multiple{
  margin: 0 -20px;
}
.dashboard__card__arrow {
  width: 24px;
  height: 24px;
  margin: 0 10px 0 0;
}

.dashboard__card > .row {
  margin: 0 -5px;
}

.dashboard__card__menu-row:hover {
  background: #f1f1f4;
}

.dashboard__card__menu-row i {
  width: 24px;
}
.dashboard__card__conditions__value {
  color: #007bff;
}
.dashboard__card__conditions__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 15px;
  background: transparent;
  border-bottom: 1px solid #F1F1F4;
  transition: background .45s ease-out;
}

.dashboard__card__calc__label {
  text-align: center;
  font-size: 20px;
  margin: 0 0 15px;
}

.dashboard__card__calc__input {
  display: block;
  width: 100%;
  background: #fff;
  border: 2px solid #f1f1f4;
  border-radius: 7px;
  padding: 5px 10px;
  height: 40px;
  margin: 10px 0;
}

.dashboard__card__calc {
  padding: 15px;
}

.dashboard__card__tariff {
  list-style-type: none;
  margin: 15px 0;
  padding: 0;
  text-align: center;
}

.dashboard__card__tariff__text {
  color: #3c6841;
  margin: 0 0 10px;
}

.dashboard__card__button {
  margin: 0 10px 15px;
}

 .second-menu ul li.nav-item {
  margin: 0;
  padding: 0;
}
.dashboard-layout .second-menu ul li a.nav-link {
  padding-top: 11px;
  padding-bottom: 11px;
}
@media screen and (max-width:1366px) {
  .dashboard-layout .second-menu ul li a.nav-link {
    padding-right: 0 !important;
    font-size: 13px;
      &:last-child {
        padding-right: .5rem;
      }
  }
}
@media screen and (max-width:640px) {
  .dashboard__tabs__item {
    width: 100%;
  }
}
.dashboard-layout {
  .navbar-nav {
    align-items: center;
    height: 38px;
  }
}
.dashboard-layout {
  .bm-burger-button {
    top: 11px !important;
  }
}
@media screen and (max-width:1200px) {
  .dashboard-layout {
    .bm-burger-button {
      top: 6px !important;
      right: 0 !important;
    }
  }
}

.dashboard-layout {
  .lang {
    cursor: pointer;
    span {
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
    }
    img {
      width: 18px;
      height: 18px;
      margin-left: 10px;
    }
  }
}
.dashboard-layout .navbar-nav.main-nav-wrapp {
  height: 51px;
  width: 100%;
  @media screen and (max-width:1437px) {
    height: auto;
  }
}

@media screen and (max-width:1437px) {
  .dashboard-layout .navbar-nav.main-nav-wrapp {
    align-items: baseline;
    flex-wrap: wrap;
  }
  .dashboard-layout .second-menu ul li a.nav-link {
    padding: 11px 15px;
  }
}

@media screen and (max-width:768px) {
  .mob-mt0 {
    margin-top: 0 !important;
  }
  .dashboard-layout .second-menu ul li.nav-item {
    width: 100%;
  }
}


.dashboard-layout .second-menu ul li.nav-item {
  margin: 0 10px 0 0 !important;
  a.nav-link {
    padding: 11px 0 !important;
  }
}
.dashboard-layout .second-menu ul li.nav-item:first-child {
  margin-left: 15px !important;
  @media(max-width: 1437px) {
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 1437px) {
  .dashboard-layout .second-menu ul li.nav-item {
    margin: 0 !important;
    padding-left: 15px !important;
    width: 100%;
  }
}
.dashboard-layout .second-menu ul li {
  position: relative;
}
.dashboard-layout .second-menu ul li.active {
  border-bottom: none !important;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #a9a9b9;
    @media screen and (max-width: 991px) {
      left: 15px;
      width: calc(100% - 30px);
    }
  }
}
@media(max-width: 1437px) {
  .main-wrapp-nav {
    width: 100% !important;
  }
  ul.main-nav-wrapp.navbar-nav {
    flex-direction: column !important;
  }
}