.ui-datepicker-header {
  background: #fff;
  border: 2px solid #f1f1f4;
  border-bottom:0px solid;
}

.ui-datepicker-calendar {
  background: #fff;
  border: 2px solid #f1f1f4;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top:0px solid;
}

.ui-datepicker td {
  padding: 5px;
  text-align: center;
}

a.ui-datepicker-prev:before {
  content: "\f053";
  font-family: Font Awesome\ 5 Free!important;
  font-weight: 900;
  cursor: pointer;
}

.ui-datepicker-prev span {
  display: none;
}

a.ui-datepicker-next:after {
  content: "\f054";
  font-family: Font Awesome\ 5 Free!important;
  font-weight: 900;
  cursor: pointer;
}

.ui-datepicker-next span {
  display: none;
}

.ui-datepicker-header {
  text-align: center;
}

.ui-datepicker-prev {
  width: 50%;
  display: inline-block;
  text-align: left;
  cursor:pointer;
  padding: 5px 0 0 15px;
  position:relative;
  z-index:1;
}

.ui-datepicker-next {
  width: 50%;
  display: inline-block;
  text-align: right;
  cursor:pointer;
  padding: 5px 15px 0 0;
  position:relative;
  z-index:1;
}

.ui-datepicker-title {
  position: absolute;
  top: 6px;
  text-align: center;
  width: 100%;
  z-index: 0;
}

.ui-datepicker-calendar {
  font-size: 14px;
}

.ui-datepicker-calendar th,
.ui-datepicker-calendar td {
  padding: 5px;
}
