.eula__header {
  background: #2e1f61;
  color: #fff;
}

.eula__header-container {
  display: flex;
  flex-direction: row;
  padding: 20px 40px 5px;
}

.eula__header-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 0 20px;
}

.eula__header-info p {
  margin: 0;
}

.eula__document-header {
  margin: 40px 0 0 0;
}

.eula__document-header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 30px 0;
}

.eula__document-header-title h3 {
  margin: 0 0 10px 0;
}

.eula__document-header-info {
  display: flex;
  justify-content: space-around;
}

.eula__document-container {
  margin: 20px 0px 0 0;
  padding: 0 10%;
}

.eula__document-container table {
  border-collapse: collapse;
  border-spacing: 0;
}

.eula__document-container td {
  vertical-align: top;
  width: 50%;
  padding: 10px 10px 30px;
  border: 1px solid black;
  margin: 0;
}

.eula__document-container p {
  margin: 0 0 10px 0;
  line-height: 1.5;
}

.eula__document-container h3 {
  margin: 0 0 20px 0;
}

.eula__document-table_footer td {
  padding: 50px 10px 10px;
}

.eula__document-table_footer p {
  font-weight: bold;
  margin: 0;
}

.eula_footer {
  margin: 50px 0 0 0;
  background: #14182e;
  padding: 15px 25px;
  height: 30px;
}
