.exchange-rate-view {
  position: absolute;
  width: 60vw;
  top: 68px;
  background-color: #ffffff;
  z-index: 2;
  color: #000000;
  &.homepage {
    top: 60px;
  }

  table {
    border: 1px solid rgb(244, 245, 246);
    width: 100%;

    th {
      font-size: 16px;
      font-weight: 400;
      padding: 20px 15px;
    }

    td {
      text-align: center;
    }
  }
}