.footer {
  //margin: 0 0 0 70px;
  background: #325436;
  padding: 15px;
}

.footer__logo {
  background: url("/assets/images/logo.png") no-repeat;
  background-size: 180px;
  margin: 7px 0 0;
  display: block;
  height: 26px;
  width: 100%;
}

.footer__copyright {
  text-align:right;
  color: #75ab4f;
  line-height: 40px;
}

.footer__links {
  display: flex;
  font-size: 12px;
  justify-content: center;
  padding: 0 15px;
  line-height: 40px;
}

.footer__link{
  margin:0 7px;
  color: #fff;
}

.footer__link:hover {
  color: #75ab4f;
}
@media screen and (max-width: 992px) {
  .footer {
    position: inherit;
    height: auto;
    margin: 0;
    text-align: center;
  }
  .footer__block--item {
    margin-top: 10px;
  }
  .dashboard-layout .footer__vertical {
    margin-top: 8px;
  }
  .dashboard-layout .footer-pic-order {
    margin-top: 20px;
  }
}

@media screen and (max-width: 640px) {

  .footer__links {
    flex-direction: column;
  }

  .footer__copyright {
    text-align: center;
  }
}


.dashboard-layout .footer {
  text-align: left;
  .footer__block {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width:1024px) {
  .dashboard-layout .footer {
    .footer__block {
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width:768px) {
  .dashboard-layout .footer {
    text-align: center;
    .footer__block--item {
      width: 100%;
    }
  }
}