.form__phone-prefix {
  max-width: 17%;
}

.form-documents__name {
  justify-content: space-between;
}

.form-documents__name p {
  margin: 0;
}

.form-btn__remove {
  background: none;
  cursor: pointer;
  border: none;
  padding: 0;
}

.form-btn__remove:hover {
  opacity: 1;
}

.input-file {
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.label-file {
  margin-bottom: 0;
}

.form-control:hover,
.right-menu__form__input:hover:enabled {
  border: 2px solid #d2d2d2;
}

.form-control:focus,
.right-menu__form__input:focus {
  border:2px solid #007bff;
  outline: none;
  box-shadow:none;
}
