@font-face {
  font-family: HelveticaNeueCyr;
  font-weight: 500;
  font-style: normal;
  src: url("/assets/fonts/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.eot");
  src: url("/assets/fonts/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.woff") format("woff"),
    url("/assets/fonts/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.ttf") format("truetype");
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 800;
  font-style: normal;
  src: url("/assets/fonts/HelveticaNeueCyrBlack/HelveticaNeueCyrBlack.eot");
  src: url("/assets/fonts/HelveticaNeueCyrBlack/HelveticaNeueCyrBlack.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/HelveticaNeueCyrBlack/HelveticaNeueCyrBlack.woff") format("woff"),
    url("/assets/fonts/HelveticaNeueCyrBlack/HelveticaNeueCyrBlack.ttf") format("truetype");
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/HelveticaNeueCyrBold/HelveticaNeueCyrBold.eot");
  src: url("/assets/fonts/HelveticaNeueCyrBold/HelveticaNeueCyrBold.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/HelveticaNeueCyrBold/HelveticaNeueCyrBold.woff") format("woff"),
    url("/assets/fonts/HelveticaNeueCyrBold/HelveticaNeueCyrBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/assets/fonts/GothamProRegular.eot');
  src: url('/assets/fonts/GothamProRegular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/GothamProRegular.woff') format('woff'),
  url('/assets/fonts/GothamProRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  font-family: 'HelveticaNeueCyr';
  margin: 0;
  padding:0;
}

[role=button] {
  cursor: pointer;
}

.run-ajax {
  overflow: hidden;

  &:before,
  &::before {
    background: rgba(0,0,0,.4);
    position: fixed;
    z-index: 9999;
    content: '';
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }

  &:after,
  &::after {
    animation:fa-spin 2s infinite linear;
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    font-size: 2.5rem;
    content: "\f110";
    position: fixed;
    z-index: 10000;
    color: #fff;
    left: 50%;
    top: 50%;
  }
}
