@keyframes leftNavItemText {
  from { opacity:0; }
  to{ opacity:1; }
}

.left-nav {
  z-index:4;
  width: 70px;
  background: #3c6841;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  transition:all 0.35s;
}

.left-nav__icons {
  height: calc(100% - 70px);
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.left-nav__item {
  overflow:hidden;
  width: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  cursor: pointer;
  transition: all .35s;
  width:100%;
  justify-content:flex-start;
  padding: 10px 15px;
}

.left-nav__item-logo {
  padding:0;
  align-items:flex-start;
}

.left-nav__item-logo__picture {
  width:50px;
  height: 55px;
  background:url("/assets/images/logo.png") no-repeat 7px center;
  background-size:230px;
  margin: 5px 10px;
  transition:all .35s;
}

.left-nav__item__icon {
  width: 40px;
  color: #fff;
}

.left-nav:hover {
  width:280px;
}

.left-nav:hover .left-nav__item-logo__picture {
  width:100%;
}

.left-nav__item__text {
  font-size:14px;
  color:#fff;
  margin:5px 15px 0;
  line-height: 1.25;
  transition: all .35s;
  white-space:nowrap;
  opacity:0;
}

.left-nav:hover .left-nav__item__text{
  opacity:0;
  animation:leftNavItemText 0.5s forwards;
  animation-delay:0.15s;
}

.left-nav__item:hover {
  background: #75ab4f;
}

@media screen and (max-width:640px) {
  .left-nav {
    width: 100%;
    z-index: 10;
    height: 0px;
    overflow: hidden;
  }

  .left-nav:hover {
    width: 100%;
  }

  .left-nav-opened {
    height: auto;
  }

  .left-nav__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 5px 0;
  }

  .left-nav__item__text {
    margin: 0 0 0 10px;
    font-size: 16px !important;
    color: #fff;
    animation: none !important;
    opacity: 1 !important;
  }

  .left-nav__item-logo__picture {
    width: 100%;
    background-position: center center;
  }

  .left-nav__item__text {
    font-size: 16px;
  }

  .left-nav__item-logo {
    margin-top: 60px;
  }

  .left-nav__opener {
    background: #2e1f61;
    position: fixed;
    z-index: 1000;
    width: 40px;
    height: 40px;
    padding: 10px;
    top: 13px;
    left: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .left-nav__opener:hover {
    background: #007bff;
  }

  .left-nav__opener span {
    width: 100%;
    background: #fff;
    height: 3px;
    display: block;
    margin: 1px 0;
  }
}
