.operations-history {
  padding: 20px 20px 5px;
}

.operations-list {
  margin: 30px 0 0;
}

.operations-history .card-form-row {
  font-size: 14px;
  flex: 1;
  margin: 0 10px;
}

.operations-history .col {
  padding: 0;
  margin: 0 0 9px;
}

.operations-history .form-row {
  align-items: flex-end;
}

.operations-history label {
  margin: 0 10px 0 0;
  display:inline-block;
  font-size:16px;
}

@media screen and (max-width:640px) {
  .operations-history .form-row {
    display: block;
  }

  .operations-history {
    padding: 10px 10px 0;
  }
}
