.operation__header {
  cursor:pointer;
  padding: 20px;
  background: #f1f1f4;
  margin: 10px 0 0;
  border-radius: 5px;
}

.operation__left, .operation__right {
  display: flex;
  align-items: center;
}

.operation__details {
  border-left: 2px solid #f1f1f4;
  border-right: 2px solid #f1f1f4;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.operation__date {
  font-size: 20px;
  font-weight: 800;
  color: #cecedd;
  margin: 0 10px 0 0;
}

.operation__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0 0;
}

.operation__name {
  font-size: 16px;
}

.operation__icons {
  margin: 7px 0 0;
  font-size: 18px;
  color: #000;
  padding: 0 5px 0 0;
  text-align:right;
}

.operation__icon{
  overflow: scroll;
}

.operation-visible .operation__icon-open{
  display:none;
}

.operation:not(.operation-visible) .operation__icon-close{
  display:none;
}

.operation__sum {
  font-weight: 800;
  font-size: 16px;
}

.operation__sum-positive {
  color: #007bff;
}

.operation__sum-negative {
  color: #fe0101;
}

.operation__details {
  display:none;
}

.operation__details__row {
  padding: 15px 20px;
  border-bottom: 2px solid #f1f1f4;
  margin: 0 0 -1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.operation__details__row__value {
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width:640px) {
  .operation__icons {
    text-align: center;
  }

  .operation__date {
    text-align: center;
  }

  .operations-list {
    margin: 0 0 15px;
  }
}
