.card {
  border-radius: 7px!important;
  border: 2px solid #f1f1f4;
}

.card-item-arrow {
  height: 30px;
  width: 30px;
}

.page-link:hover, .page-link {
  color: #333;
}

.page-item.active .page-link {
  background-color: #333;
  border-color: #333;
}
