.popup-content {
  text-align: start;
}

.right-popup {
  position: fixed;
  right: -70%;
  top: 0;
  z-index: 1000;
  background: #fff;
  height: 100%;
  padding: 60px;
  overflow: auto;
  width: 50%;
  box-shadow: 0 0 120px rgba(0, 0, 0, 0.35);
  transition: right 0.75s;
  color:#212529;

}

.right-popup__full-screen {
  position: fixed;
  right: -100%;
  top: 0;
  z-index: 101;
  background: #fff;
  height: 100%;
  padding: 60px;
  overflow: auto;
  width: 96%;
  box-shadow: none;
  transition: right 0.75s;
}

.right-popup-shown {
  right:0;
}

.right-popup-shown .right-popup__close {
  display:block;
}

.right-popup__background {
  position:absolute;
  background: #fff;
  top:0;
  left:0;
  width:100%;
  height:50%;
}

.right-popup__content {
  z-index:1;
  position: relative;
  margin: 70px 0 0;
}

.right-popup__close {
  position: absolute;
  right: 0;
  z-index: 1;
  font-size: 28px;
  opacity: 0.35;
  cursor: pointer;
  transition:opacity .25s;
}

.right-popup__full-screen .right-popup__spinner-wrapper .spinner-inner {
  width: 100%;
}

.right-popup__spinner-wrapper {
  position: absolute;
  display: none;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.right-popup__spinner {
  background: rgba(0,0,0,.3);
  text-align: center;
  min-height: 100vh;
  position: fixed;
  font-size: 3em;
  z-index: 100;
  color: #fff;
  width: 100%;
}

.right-popup__spinner-wrapper .spinner-inner {
  text-align: center;
  position: fixed;
  width: 50%;
  top: 50%;
}

.right-popup__spinner-wrapper .spinner-inner > div {
  font-size: 14px;
}

@media screen and (max-width:640px) {
  .right-popup {
    right: 130%;
    width: 100%;
    padding: 15px;
  }

  .right-popup-shown {
    right: 0;
  }

  .right-popup__close {
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
  }

  .right-popup-shown .right-popup__close {
    display: block;
  }
}
