.menu-content {
  display:none;
}

.right-menu {
  position: fixed;
  right: -70%;
  top: 0;
  z-index: 1000;
  background: #fff;
  height: 100%;
  padding: 60px;
  overflow: auto;
  width: 50%;
  box-shadow: 0 0 120px rgba(0, 0, 0, 0.35);
  transition: right 0.75s;
}

.right-menu-shown {
  right:0;
}

.right-menu__background {
  position:absolute;
  background: #fff;
  top:0;
  left:0;
  width:100%;
  height:50%;
}

.right-menu__content {
  z-index:1;
  position: relative;
  margin: 70px 0 0;
}

.right-menu__header {
  font-size: 24px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30px;
}

.right-menu__header__text {
  font-weight:800;
}

.right-menu__header i {
  display:none;
  font-size: 42px;
  margin: 0 12px 0 0;
}

.right-menu__form_hint {
  font-size: 12px;
  color: #4b4b4b;
}

p.right-menu__header__text {
  margin: 0;
}

.right-menu__form {
  margin: 25px 0;
}

.right-menu__form__row {
  display: flex;
  align-items: center;
  margin: 0 0 5px;
}

.right-menu__form__label {
  margin:7px 0 5px;
  font-size:15px;
}

.right-menu__form__checkbox, .form-group input[type="checkbox"] {
  display: none;
}

.right-menu__form__checkbox .right-menu__form__checkbox__label,
.form-group:hover input[type="checkbox"] + span {
  cursor:pointer;
}

.right-menu__form__checkbox__label:before,
.form-group input[type="checkbox"] + span:before {
  cursor:pointer;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  box-shadow: 0 0 0 1.5pt #007bff;
  border: 2px solid #fff;
  margin: 0 10px -2px 0;
  transition:all .35s;
}

.is-invalid.right-menu__form__checkbox__label:before,
.form-group input[type="checkbox"] + span:before {
  box-shadow: 0 0 0 1.5pt #dc3545 !important;
}

.right-menu__form__checkbox:hover .right-menu__form__checkbox__label:before,
.form-group:hover input[type="checkbox"] + span:before{
  opacity:.55;
}

.right-menu__form__checkbox:checked + .right-menu__form__checkbox__label:before,
.form-group input[type="checkbox"]:checked + span:before {
  background: #007bff;
}

.right-menu__form__label-inline {
  font-size: 18px;
  margin: 12px 0;
  font-weight: 700;
}

.right-menu__form__input,.form-control {
  flex: 1;
  background: #fff;
  border:2px solid #f1f1f4;
  border-radius:7px;
  padding: 5px 10px;
  min-height:44px;
  transition: all .35s;
  width: 100%;
}

.right-menu__form__input:active,.form-control:active {
  outline:none;
}

.right-menu__form__input.is-invalid, .form-control.is-invalid {
  border: 2px solid #dc3545 !important;
}

.right-menu__button {
  margin-top:25px;
}

.right-menu__button,.current-account__buttons .btn,.btn-reload {
  font-size: 16px;
  border-radius:5px;
  padding: 8px 15px;
  border:0px;
}

.right-menu__button-copy, .right-menu__button-back {
  background: #f1f1f4;
  color:#000!important;
  border: none;
}

.right-menu__button-copy i {
  margin:0 0 0 7px;
}

.right-menu__button-copy:hover,.right-menu__button-back:hover {
  background: #ddd;
}

.right-menu__button-copy:active {
  color:#000!important;
  background:#bbb!important;
}

.right-menu__close {
  position: absolute;
  right: 0;
  font-size: 28px;
  opacity: 0.35;
  cursor: pointer;
  transition:opacity .25s;
}

.right-menu__close:hover {
  opacity: 0.65;
}

.right-menu__form__text {
  font-size: 14px;
  margin: 25px 0;
}

.right-menu__form__text p {
  margin: 0 0 5px;
}

.right-menu__form__text strong {
  font-weight: 800;
}

.right-menu__form__input__info {
  position: absolute;
  right: 5px;
  font-size: 14px;
  cursor: pointer;
}

.right-menu__buttons-row {
  margin:15px 0 0;
  display: flex;
}

.right-menu__buttons-row .btn {
  margin: 0 15px 0 0;
}

.right-menu .select2-container--bootstrap {
  width:100%!important;
}

@media screen and (max-width:640px) {
  .right-menu {
    right: 130%;
    width: 100%;
    padding: 15px;
  }

  .right-menu-shown {
    right: 0;
  }

  .right-menu__close {
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
  }

  .right-menu-shown .right-menu__close {
    display: block;
  }
}
.form-btn__delete_file{
  background: transparent;
  border: 0;
  cursor: pointer;
  &:focus{
    outline: 0;
  }
}

