.swal2-popup.swal2-toast {
  flex-wrap: wrap !important;
}

.swal2-actions {
  .swal2-cancel.btn.btn-primary {
    max-width: 100px !important;
  }
}
.swal2-title {
  font-weight: normal !important;
  font-family: inherit !important;
  text-align: left !important;
  margin-bottom: 0 !important;
}
.swal2-popup.swal2-toast .swal2-actions {
  width: 100% !important;
}
@media(max-width: 768px) {
  body.swal2-toast-shown .swal2-container.swal2-center {
    width: 90vw !important;
    margin: auto !important;
    transform: translate(-52%, -50%);
  }
}