.user-panel {
  position: fixed;
  top: 10px;
  right: 20px;
  background: #3c6841;
  padding: 10px;
  z-index: 10;
  color: #fff;
  border-radius: 7px;
  align-items: center;
  display: flex;
}

.user-panel a {
  color: #fff;
}

.user-panel__lang-picture {
  width: 25px;
  height: 20px;
  margin: 0 7px 0 0;
}

.user-panel__notifications {
  position: relative;
  font-size: 22px;
  margin: 0 10px;
  cursor: pointer;
}

.user-panel__notifications__count {
  position: absolute;
  top: 10px;
  left: 7px;
  font-size: 12px;
  background: #75ab4f;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 15px #75ab4f;
}

.user-panel__lang {
  cursor: pointer;
}

.user-panel__menu {
  position: fixed;
  top: 60px;
  background: #3c6841;
  max-height:0px;
  right: 20px;
  min-width: 210px;
  border-top-left-radius:5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  overflow: hidden;
  transition: all .5s;
}
.user-panel__menu__buttons {
  display: flex;
  justify-content: space-around;
}

.user-panel__menu__button:first-of-type {
  border-right: 1px solid rgba(255, 255, 255, 0.31);
}

.user-panel__menu__button {
  padding: 10px;
  width: 100%;
  cursor:pointer;
  text-align: center;
}

.user-panel__menu__button:hover {
  background: #75ab4f;
}

.user-panel__menu-shown {
  max-height:300px;
}

.user-panel__menu-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  padding: 9px;
  cursor: pointer;
  transition: all .35s;
}

.user-panel__menu-item i {
  width: 20px;
  font-size: 15px;
  color: #fff;
}

.user-panel__menu-item-selected {
  background: #75ab4f;
}

.user-panel__menu-item-marked {
  opacity:.5;
  text-decoration: line-through;
}

.user-panel__menu-item:hover {
  background: #75ab4f;
}

.user-panel__menu__items {
  overflow: auto;
  max-height: 255px;
  max-width: 400px;
  overflow-x: hidden;
}

.user-panel__menu__items::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.user-panel__menu__items::-webkit-scrollbar-button {
  width: 5px;
  height: 5px;
}

.user-panel__menu__items::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0 none #ffffff;
  border-radius: 50px;
}

.user-panel__menu__items::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.user-panel__menu__items::-webkit-scrollbar-thumb:active {
  background: #000000;
}

.user-panel__menu__items::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}

.user-panel__menu__items::-webkit-scrollbar-track:hover {
  background: #666666;
}

.user-panel__menu__items::-webkit-scrollbar-track:active {
  background: #333333;
}

.user-panel__menu__items::-webkit-scrollbar-corner {
  background: transparent;
}

.user-panel__profile-icon {
  cursor:pointer;
  font-size: 24px;
  margin: 0 10px;
}

.user-panel__profile-icon:hover,
.user-panel__profile-icon-selected,
.user-panel__notifications:hover,
.user-panel__notifications-selected {
  text-shadow:0 0 5px #75ab4f,0 0 7px #75ab4f;
}

.user-panel__lang-picture:hover {
  box-shadow:0 0 5px #75ab4f,0 0 10px #75ab4f;
}
