

.user-account__inner {
  position:relative;
  z-index:1;
}

.user-account__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 50px;
}

.user-account__buttons .btn {
  margin: 0 5px;
  padding: 7px 25px;
}


@media screen and (max-width:640px) {
  .user-account__buttons {
    flex-direction: column;
  }

  .user-account__buttons .btn {
    margin: 10px 0;
  }
}
