<template>
  <tr>
    <td>{{account.currency}}</td>
    <td>{{account.amount | formatMoney(account.currency)}}</td>
    <td>
      <label>
        <input type="checkbox" v-model="form.is_active" @change="changeBonusOnBalanceStatus(account.currency)">
        <div class="checkbox__button"></div>
      </label>
    </td>
  </tr>
</template>

<script>
  import {formatMoney, formLoader, getCurrencyAlias, getCurrencySymbol, handleErrorForAlert} from "@/main/utilities";
  import spinner from "@/common/spinner";
  import alert from "@/common/sweet-alert";
  import requests from "@/main/requests";

  export default {
    name: "BonusOnAccountSettingsRow",
    props: {
      account: {
        type: Object,
        required: true
      },
      bonus: {
        type: Object | undefined,
        required: false
      }
    },
    data() {
      return {
        form: {
          is_active: false,
          currency: null
        }
      }
    },
    created(){
      if (this.bonus !== undefined) {
        formLoader(this.form, this.bonus);
      }
    },
    methods: {
      changeBonusOnBalanceStatus(currency) {
        spinner.toggle(true);
        this.form.currency = currency
        requests.dashboard.profile.accountsSettings.postChangeStatusPercentBonusAccount(this.form)
          .then(({data}) => {
            alert.success({text: `${this.$t('words.settings_updated')}`, position: 'center'})
            spinner.toggle(false);
          })
          .catch(({response}) => {
            spinner.toggle(false);
            alert.error(handleErrorForAlert(response.data.errors))
          });
      },
      resetForm() {
        this.form = {
          is_active: false,
          currency: null
        }
      }
    },
    watch: {
      bonus() {
        if (this.bonus !== undefined) {
          formLoader(this.form, this.bonus);
        }
      }
    },
    filters: {
      getCurrencySymbol,
      getCurrencyAlias,
      formatMoney
    },
  }
</script>

<style scoped>

</style>
