<template>
  <table class="table table-bordered table-responsive-md mb-0 account-setting__body__table">
    <thead>
    <tr>
      <th scope="col">{{ $t("dashboard.profile.currency") }}</th>
      <th scope="col">{{ $t("dashboard.profile.balance") }}</th>
      <th scope="col">{{ $t("dashboard.profile.text1") }} (<a href="/how#accrual">{{ $t("dashboard.profile.terms") }}</a>)</th>
    </tr>
    </thead>
    <tbody>
    <bonus-on-account-settings-row
        v-for="userAccount in userAccounts"
        v-if="userAccount.currency==='CFX'"
        :key="userAccount.currency"
        :account="userAccount"
        :bonus="getBonusSettingsForAccount(userAccount.currency)"
    />

    </tbody>
  </table>
</template>

<script>
  import BonusOnAccountSettingsRow from "@/main/views/dashboard/profile/accounts-settings/BonusOnAccountSettingsRow";
  import {mapGetters} from "vuex";
  import requests from "@/main/requests";
  import spinner from "@/common/spinner";

  export default {
    name: "BonusOnAccountSettingsTable",
    components: {BonusOnAccountSettingsRow},
    data() {
      return {
        userBonusesOnAccount: []
      }
    },
    computed: mapGetters({
      userAccounts: 'getUserAccounts'
    }),
    created() {
      spinner.toggle(true)
      requests.dashboard.profile.accountsSettings.getIndexData().then(({data}) => {
        this.userBonusesOnAccount = data.user_bonus_on_account_settings
        spinner.toggle(false)
      }).catch(() => {
        spinner.toggle(false)
      })
    },
    methods: {
      getBonusSettingsForAccount(currency) {
        return this.userBonusesOnAccount.find(bonus => bonus.currency === currency)
      }
    }
  }
</script>

<style scoped>

</style>
