<template>
  <div class="change-password">
    <h2>6. Password change</h2>
    <p>
      In order to change your password go to the Security section in your profile and enter a new password, repeat the new password and then confirm the change by clicking on the <b>Confirm</b> button.
    </p>
    <p><img src="/assets/images/how-it/en/10.png"></p>
  </div>
</template>

<script>
  export default {
    name: 'ChangePassword'
  }
</script>
