<template>
  <div class="confirm-your-phone">
    <h2>2. Phone number confirmation</h2>
    <p>SMS confirmation code will be automatically sent to your phone after filling in the registration form. Enter this code in the corresponding field.</p>
    <p><img alt="pic4" src="/assets/images/how-it/en/3.png"></p>
  </div>
</template>

<script>
  export default {
    name: 'ConfirmYourPhone'
  }
</script>
