<template>
  <div class="deposit-and-withdrawal">
    <h2>9. Deposit and withdrawal of funds</h2>
    <p>
      You can replenish your account with several ways: fiat currency or crypto currency. In order to replenish your account with fiat currency you need to add a bank card and / or bank account. The process of adding a bank card and bank account is described below:
    </p>
    <ul>
      <li class="h2">Add a bank card</li>
    </ul>
    <p>
      Go to the <b>"Methods of payment"</b> section in your profile, click on the add card sign.
    </p>
    <p>You need to fill in all the fields and attach photos. Enter the card name (any name for your convenience), card number, cardholder’s name, card expiration date and CVV code. You will also need to upload a photo of your card where the first 6 and last 4 digits of its number are visible and the rest are hidden and a selfie with the card. Press <b>Confirm</b> to save.</p>
    <p>Photos must be of high quality, text must be readable. You can add up to 5 cards. Your card must have your name on it and it must support 3DSecure.</p>
    <p><img alt="pic17" src="/assets/images/how-it/en/13.png"></p>
    <p><img alt="pic17" src="/assets/images/how-it/en/14.png"></p>
    <p>USE OF CARD</p>
    <ul>
      <li>We do not recommend to add Sberbank Mastercard, the following cards do not work properly with our service.</li>
      <li>Credit and debit card transactions are aimed only for replenishment of your personal account.</li>
      <li>Customers are not allowed to replenish their accounts using someone else's card. (Only a personal verified bank card VISA 3D Secure or MASTERCARD 3D Secure can be used).</li>
      <li>Card transactions are irreversible and can be reimbursed net of commissions of the platform only if they were not involved in any trading transactions.</li>
      <li>Withdrawal of funds from electronic wallets must be carried out only by authorized means and with 2FA.</li>
      <li>Funds from the Personal Account can be used only for exchange.</li>
      <li>When you add a card, you will be charged € 1</li>
    </ul>

    <ul>
      <li class="h2">Add bank account</li>
    </ul>
    <p>
      For deposit and withdrawal with a bank account you need to add a bank account. Go to the <b>"Methods of payment"</b> section in your profile, click on the sign for adding a bank account.
    </p>
    <p>
      You need to fill in all the fields and attach photos. Enter the name of your bank, select the bank type, enter the owner's account number, full name of the owner, owner’s address and SWIFT code if you selected the type SWIFT. Upload two documents:
    </p>
    <ul>
      <li>Reference on an account opening</li>
      <li>Account statement for 6 months</li>
    </ul>
    <p>To upload documents click on the button and select a file from your computer. Confirm your actions by clicking on <b>Confirm</b>.</p>
    <p><img alt="pic17" src="/assets/images/how-it/en/15.png"></p>
    <p>
      Requirements for bank transfers:
    </p>
    <ul>
      <li>Transfers are only accepted from users who have successfully passed verification and have confirmed the bank account with which the transfer will be carried out.</li>
      <li>The transfer should be made only from an account belonging to the owner of the profile in BITEXFIN, which means that the names of the owner of the bank account and the profile in BITEXFIN must match, as well as the details specified when verifying the bank account.</li>
      <li>You need to indicate reference ID that we give you when you create a request for replenishment in the user interface in the purpose of your payment in order for us to correctly identify the payment and transfer funds to your account.</li>
      <li>Do not accept transfers made by intermediary companies such as Transferwise, Forex, etc. which do not allow to identify the source of the payment and / or the identity of the sender.</li>
      <li>When adding details for withdrawing funds in EUR make sure that your bank account is also in EUR.</li>
      <li>Failure to comply with any of these requirements will result in us refunding your payment and in addition to all fees and charges € 100 will be withheld from the amount paid to compensate for the refund. By making a transfer you confirm that you have read and agree to these requirements. Payment will be credited to your account within 3-5 business days.</li>
    </ul>

    <ul>
      <li class="h2">Add cryptocurrency wallet</li>
    </ul>
    <p>
      To withdraw funds using cryptocurrency wallets click on the Withdrawal button on the main page of your Personal Account, select the required cryptocurrency, enter the amount, wallet address and confirm the withdrawal using an SMS code.
    </p>
    <p><img alt="pic17" src="/assets/images/how-it/en/16.png"></p>
    <p><img alt="pic17" src="/assets/images/how-it/en/17.png"></p>

    <ul>
      <li class="h2">Account replenishment</li>
    </ul>
    <p>To replenish any account click on the <b>Deposit</b> button or the + sign on the main page of the Personal Account</p>
    <p><img alt="pic17" src="/assets/images/how-it/en/18.png"></p>
    <ul>
      <li class="h2">Funds withdrawal</li>
    </ul>
    <p>To withdraw funds from any account, click on the <b>Withdrawal</b> button on the main page of your Personal Account</p>
    <p><img alt="pic17" src="/assets/images/how-it/en/19.png"></p>
  </div>
</template>

<script>
  export default {
    name: 'DepositAndWithdrawal'
  }
</script>
