<template>
    <div class="interest-accrual">
        <h2>13. CFX interest accrual</h2>
        <p>
            You can get an interest on your CFX balance. The interest income shall accrue on the minimum balance during the day and is 0,35% per month. This feature can be activated in the profile in the "Accounts settings" section
        </p>
        <p>
            For example, you have 100 CFX, then you spend 90 CFX, you have 10 CFX left, after that you deposit 100 CFX. By the end of the day you have 110 CFX. The minimum amount during the day is 10 CFX - this is the amount on which the interest will be accrued. If you still have 110 CFX the next day and you don't do anything with them during the day, then the percentage will be accrued on 110 CFX.
        </p>
        <p><img alt="pic17" src="/assets/images/how-it/en/23.png"></p>
    </div>
</template>

<script>
export default {
  name: "InterestAccrual"
}
</script>
