<template>
  <div class="ip-filtration">
    <h2>8. IP filtration</h2>
    <p>You can limit the list of IP addresses that can be used to enter the website. This can be done in the Security section of your profile. If your IP is not static, please do not use IP filtration!</p>
    <p><img alt="pic17" src="/assets/images/how-it/en/12.png"></p>
  </div>
</template>

<script>
  export default {
    name: 'IPFiltration'
  }
</script>
