<template>
  <div class="login">
    <h2>3. Login</h2>
    <p>
      Click on the login button in the right upper corner and the login window will open. Enter your phone or email address and password, click <b>Login</b>.
    </p>
    <p><img alt="pic4" src="/assets/images/how-it/en/4.png"></p>
  </div>
</template>

<script>
  export default {
    name: 'Login'
  }
</script>
