<template>
  <div class="logout">
    <h2>12. Log out</h2>
    <p>
      After finishing work with your account click the exit icon in the menu or the session will be automatically ended after 15 minutes if there is no activity.
    </p>
  </div>
</template>

<script>
  export default {
    name: 'Logout'
  }
</script>
