<template>
  <div class="password-recovery">
    <h2>4. Password recovery</h2>
    <p>
      If you forgot your password, you can recover it. Enter your phone number/ email address and click on <b>Reset password</b> button.
    </p>
    <p><img src="/assets/images/how-it/en/5.png"></p>
    After that the following form will appear. An SMS code will be sent to your phone number. Enter the code from SMS and click <b>Accept</b>. Now you can set a new password.
    <p><img src="/assets/images/how-it/en/6.png"></p>
  </div>
</template>

<script>
  export default {
    name: 'PasswordRecovery'
  }
</script>
