<template>
  <div class="paysend">
    <h2>15. Replenishment of the account with a bank card on https://paysend.com/</h2>

    <p>Go to the website and register. There are 5 steps of registration:</p>
    <ul>
      <li>click on the "Sign Up" button on the main page; <br/> <img src="/assets/images/how-it/en/paysend/1.png" width="70%" align="center"></li>
      <li>enter your phone number and click on "Continue" <br/> <img src="/assets/images/how-it/en/paysend/2.png" width="50%" align="center"></li>
      <li>enter your personal details and click on "Continue" <br/> <img src="/assets/images/how-it/en/paysend/3.png" width="50%" align="center"></li>
      <li>enter your residential address and click on "Continue" <br/> <img src="/assets/images/how-it/en/paysend/4.png" width="50%" align="center"></li>
      <li>enter your email address and click on "Continue" <br/> <img src="/assets/images/how-it/en/paysend/5.png" width="50%" align="center"></li>
      <li>enter the SMS-code that you have received <br/> <img src="/assets/images/how-it/en/paysend/6.png" width="50%" align="center"></li>
    </ul>

    <p>Click on "Send money"</p>
    <p><img src="/assets/images/how-it/en/paysend/7.png" width="50%" align="center"></p>

    <p>Select the recipient country - England, currency - euro, method of receipt - "To account"</p>
    <p><img src="/assets/images/how-it/en/paysend/8.png" width="50%" align="center"></p>
    <p><img src="/assets/images/how-it/en/paysend/9.png" width="50%" align="center"></p>
    <p><img src="/assets/images/how-it/en/paysend/10.png" width="50%" align="center"></p>
    <p><img src="/assets/images/how-it/en/paysend/11.png" width="50%" align="center"></p>


    <p>Enter the payment amount</p>
    <p><img src="/assets/images/how-it/en/paysend/12.png" width="50%" align="center"></p>

    <p>Fill in the details of the recipient below</p>
    <p><img src="/assets/images/how-it/en/paysend/13.png" width="50%" align="center"></p>

    <p>Use the data in the window with a brief instruction</p>
    <p><img src="/assets/images/how-it/en/paysend/14.png" width="50%" align="center"></p>

    <p>In the end enter your card details for replenishment and click on "Continue"</p>
    <p><img src="/assets/images/how-it/en/paysend/15.png" width="50%" align="center"></p>



  </div>
</template>

<script>
  export default {
    name: 'Paysend'
  }
</script>
