<template>
  <div class="registration">
    <h2>1. Registration</h2>
    <p>
      To register in the system you need to click Sign up and fill in the open form.
    </p>
    <p><img alt="pic1" src="/assets/images/how-it/en/1.png"></p>
    <p><img alt="pic2" src="/assets/images/how-it/en/2.png"></p>
    <p>
      Enter your last name, first name, select a country. You will need to fill in your mobile phone number, email address and password. To avoid mistakes you will need to enter the password twice. The password must consist of at least 8 characters and must have a capital letter, number and a special character. In the end click on the <b>Create an account</b> button.
    </p>
  </div>
</template>

<script>
  export default {
    name: 'Registration'
  }
</script>
