<template>
  <div class="sell-buy">
    <h2>10. Exchange operations</h2>
    <p>
      In order to quickly exchange cryptocurrency you can use the "Rates" section on the main page of your personal account. You can change cryptocurrency to cryptocurrency, cryptocurrency to fiat currency and vice versa. In the form that opens select the currency / cryptocurrency and enter the amount you want to exchange. Next, the commission will be calculated and you will see an approximate amount that you will receive minus the commission after which you need to click on the <b>Exchange</b> button.
    </p>
    <p><img alt="pic17" src="/assets/images/how-it/en/20.png"></p>
    <p>
      If you do not have enough funds on your account, the system will notify you.
    </p>
    <p><img alt="pic17" src="/assets/images/how-it/en/21.png"></p>
  </div>
</template>

<script>
  export default {
    name: 'SellBuy'
  }
</script>
