<template>
  <div class="settings">
    <h2>11. Notification settings</h2>
    <p>
      You can set the cases when a notification letter will be sent to your mail:
    </p>
    <ul>
      <li>during log in,</li>
      <li>when changing the password,</li>
      <li>during exchange transactions.</li>
    </ul>
    <p>This can be done in the Settings section of your profile.</p>
    <p><img alt="pic17" src="/assets/images/how-it/en/22.png"></p>
  </div>
</template>

<script>
  export default {
    name: 'Settings'
  }
</script>
