<template>
  <div class="two-factor-authentication">
    <h2>7. Two-factor authentication</h2>
    <p>To improve the security of your account we recommend to use two-factor authentication mechanism. This means you will need to enter an SMS code every time you enter the account. To enable it go to the Security section in your profile. Press the <b>Save</b> button to save.</p>
    <p><img alt="pic16" src="/assets/images/how-it/en/11.png"></p>
  </div>
</template>

<script>
  export default {
    name: 'TwoFactorAuthentication'
  }
</script>
