<template>
  <div class="verify">
    <h2>5. Verification</h2>
    <p>
      Right after registration you have access to a limited number of deposit and withdrawal methods (only cryptocurrencies). To increase the limits and allow additional methods (USD, EUR, RUB…) go through verification.
    </p>
    <p><img src="/assets/images/how-it/en/7.png"></p>
    <p>Log in to your profile and fill in all the fields in sequence: Contacts, Personal data, Residence address and provide three documents: </p>
    <ul>
      <li>Photo of your identity card;</li>
      <li>Utility bill, registration or other document confirming the actual address of your residence;</li>
      <li>Selfie with the identity document and a piece of paper on which there is a current date and a handwritten text: “bitexfin.com”.</li>
    </ul>
    <p><img src="/assets/images/how-it/en/8.png"></p>
    <p>The quality of the photos must be high, the text must be readable. To upload photos, click on the <b>Select file</b> button and select a document from your computer. Several files can be selected for each section. When you have uploaded all documents, click on the "Send for verification" button. Verification can take from 5 minutes to 24 hours.</p>
    <p>When your data is verified, you will receive an email to your email address, you will also receive a notification on the website in your personal account. If you have successfully passed verification, you will see the following status in your profile: verified.</p>
    <p><img src="/assets/images/how-it/en/9.png"></p>
  </div>
</template>

<script>
  export default {
    name: 'Verify'
  }
</script>
