<template>
  <div class="verify">
    <h2>14. Vouchers</h2>
    <p>
      You can send funds to Bitexfin users with the help of vouchers (stable tokens and cryptocurrency)
    </p>
    <p><img alt="pic17" src="/assets/images/how-it/en/24.png"></p>
    <p>
      When creating a voucher you can add a PIN code and send it to the addressee. Without the addressee won’t be able to activate the voucher. After creating a voucher, you can copy the link and send it any available way, scan the QR code or automatically send the link to the voucher by phone or email (the recipient must be registered in the Bitexfin system).
    </p>
    <p><img alt="pic17" src="/assets/images/how-it/en/25.png"></p>
    <p>
      The list of Activated and Inactivated vouchers will be displayed below. After voucher creation some actions with the voucher are available including deletion if it has not been activated.
    </p>
    <p><img alt="pic17" src="/assets/images/how-it/en/26.png"></p>
  </div>
</template>

<script>
  export default {
    name: 'Vouchers'
  }
</script>
