<template>
  <form @submit.prevent="onSubmit">
    <error-view :errors="errors"></error-view>
    <success-view :success-message="successMessage"></success-view>
    <div class="row">
      <div class="col-md-6">
        <span class="right-menu__header__text">Офис</span>
        <div class="right-menu__form__row">
          <select name="office" class="right-menu__form__input right-menu__form__input-select"
                  data-placeholder="Офис" v-model="form.office" ref="field_office_number">
            <option v-for="office in offices"
                    :value="office.id"
                    :key="office.city"
            >{{office.city}}
            </option>
          </select>
          <!--          <multi-list-select class="right-menu__form__input right-menu__form__input-select"-->
          <!--                             :list="offices"-->
          <!--                             :selected-items="user.offices"-->
          <!--                             v-model="user.offices"-->
          <!--                             option-value="number"-->
          <!--                             option-text="city"-->
          <!--                             placeholder="Офис"-->
          <!--                             ref="field_office_number"-->
          <!--                             @select="onSelect">-->
          <!--          </multi-list-select>-->
        </div>
        <div class="text-danger error-msg" ref="error_office_number"></div>
      </div>
      <div class="col-md-6">
        <span class="right-menu__header__text">Должность</span>
        <div class="right-menu__form__row">
          <select name="status" class="right-menu__form__input right-menu__form__input-select"
                  data-placeholder="Должность" v-model="form.status" ref="field_status">
            <option v-for="(position, index) in positions" :value="index">{{ position }}</option>
          </select>
        </div>
        <div class="text-danger error-msg" ref="error_status"></div>
      </div>
      <div class="col-md-6">
        <div class="right-menu__form__block right-menu__form">
          <div class="right-menu__form__block__inner">
            <span class="right-menu__header__text">Личные данные</span>
            <div class="right-menu__form__row">
              <input type="text" name="surname" class="right-menu__form__input" placeholder="Фамилия"
                     v-model="form.surname"
                     ref="field_surname">
            </div>
            <div class="text-danger error-msg" ref="error_surname"></div>

            <div class="right-menu__form__row">
              <input type="text" name="name" class="right-menu__form__input" placeholder="Имя"
                     v-model="form.name"
                     ref="field_name">
            </div>
            <div class="text-danger error-msg" ref="error_name"></div>
            <div class="right-menu__form__row">
              <input type="text" name="patronymic" class="right-menu__form__input" placeholder="Отчество"
                     v-model="form.patronymic"
                     ref="field_patronymic">
            </div>
            <div class="text-danger error-msg" ref="error_patronymic"></div>
            <div class="right-menu__form__row">
              <input type="date" name="birthday"
                     class="right-menu__form__input right-menu__form__input-date"
                     placeholder="Дата рождения" v-model="form.birthday"
                     ref="field_birthday">
            </div>
            <div class="text-danger error-msg" ref="error_birthday"></div>
            <div class="right-menu__form__row">
              <select name="sex" class="right-menu__form__input right-menu__form__input-select"
                      data-placeholder="Пол" v-model="form.sex" ref="field_sex">
                <option value="male">М</option>
                <option value="female">Ж</option>
              </select>
            </div>
            <div class="text-danger error-msg" ref="error_sex"></div>
            <div class="right-menu__form__row">
              <input type="text" name="citizenship"
                     class="right-menu__form__input right-menu__form__input-date"
                     placeholder="Гражданство" v-model="form.citizenship" ref="field_citizenship">
            </div>
            <div class="text-danger error-msg" ref="error_citizenship"></div>
          </div>
        </div>

        <div class="right-menu__form__block right-menu__form" v-if="form.legal_entity">
          <div class="right-menu__form__block__inner">
            <span class="right-menu__header__text">Компания</span>
            <div class="right-menu__form__row">
              <input type="text" name="company_name" class="right-menu__form__input" placeholder="Название компании"
                     v-model="form.company_name"
                     ref="field_company_name">
            </div>
            <div class="text-danger error-msg" ref="error_company_name"></div>
            <div class="right-menu__form__row">
              <input type="text" name="company_address" class="right-menu__form__input" placeholder="Адрес компании"
                     v-model="form.company_address"
                     ref="field_company_address">
            </div>
            <div class="text-danger error-msg" ref="error_company_address"></div>
            <div class="right-menu__form__row">
              <input type="text" name="registration_code" class="right-menu__form__input"
                     placeholder="Регистрационный номер"
                     v-model="form.registration_code"
                     ref="field_registration_code">
            </div>
            <div class="text-danger error-msg" ref="error_registration_code"></div>
          </div>
        </div>

        <div class="right-menu__form__block right-menu__form">
          <div class="right-menu__form__block__inner">
            <span class="right-menu__header__text">Адрес прописки</span>
            <div class="right-menu__form__row">
              <select class="form-control" ref="field_country_iso" v-model="form.country_iso">
                <option :value="null" disabled>Select country</option>
                <option v-for="(value, code) in countriesList" v-if="code && value.name && code.length === 2"
                        :value="code"> {{ value.name }}
                </option>
              </select>
            </div>
            <div class="text-danger error-msg" ref="error_country_iso"></div>
            <div class="right-menu__form__row">
              <input type="text" name="city" class="right-menu__form__input" placeholder="Город"
                     v-model="form.city" ref="field_city">
            </div>
            <div class="text-danger error-msg" ref="error_city"></div>
            <div class="right-menu__form__row">
              <input type="text" name="street" class="right-menu__form__input" placeholder="Улица"
                     v-model="form.street" ref="field_street">
            </div>
            <div class="text-danger error-msg" ref="error_street"></div>
            <div class="right-menu__form__row">
              <input type="text" name="house_number" class="right-menu__form__input" placeholder="Дом"
                     v-model="form.house_number" ref="field_house_number">
            </div>
            <div class="text-danger error-msg" ref="error_house_number"></div>
            <div class="right-menu__form__row">
              <input type="text" name="apartment_number" class="right-menu__form__input"
                     placeholder="Квартира" v-model="form.apartment_number" ref="field_apartment_number">
            </div>
            <div class="text-danger error-msg" ref="error_apartment_number"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-menu__form__block right-menu__form">
          <div class="right-menu__form__block__inner">
            <span class="right-menu__header__text">Паспортные данные</span>
            <div class="right-menu__form__row">
              <input type="text" name="passport_series" class="right-menu__form__input"
                     placeholder="Серия" v-model="form.passport_series" ref="field_passport_series">
            </div>
            <div class="text-danger error-msg" ref="error_passport_series"></div>
            <div class="right-menu__form__row">
              <input type="text" name="passport_number" class="right-menu__form__input"
                     placeholder="Номер" v-model="form.passport_number" ref="field_passport_number">
            </div>
            <div class="text-danger error-msg" ref="error_passport_number"></div>
            <div class="right-menu__form__row">
              <input type="date" name="passport_date_issue"
                     class="right-menu__form__input right-menu__form__input-date"
                     placeholder="Дата выдачи" v-model="form.passport_date_issue"
                     ref="field_passport_date_issue">
            </div>
            <div class="text-danger error-msg" ref="error_passport_date_issue"></div>
            <div class="right-menu__form__row">
              <input type="text" name="passport_division_code" class="right-menu__form__input"
                     placeholder="Код подразделения" v-model="form.passport_division_code"
                     ref="field_passport_division_code">
            </div>
            <div class="text-danger error-msg" ref="error_passport_division_code"></div>
            <div class="right-menu__form__row">
              <input type="text" name="passport_issued" class="right-menu__form__input"
                     placeholder="Выдан" v-model="form.passport_issued" ref="field_passport_issued">
            </div>
            <div class="text-danger error-msg" ref="error_passport_issued"></div>
          </div>
        </div>
        <div class="right-menu__form__block right-menu__form">
          <div class="right-menu__form__block__inner">
            <span class="right-menu__header__text">Дополнительные данные</span>
            <div class="right-menu__form__row">
              <input type="text" name="email" class="right-menu__form__input menu__form__input-inactive"
                     placeholder="Текущий e-mail" v-model="form.email" ref="field_email">
            </div>
            <div class="text-danger error-msg" ref="error_email"></div>
            <div class="right-menu__form__row">
              <input type="text" name="phone_number" class="right-menu__form__input"
                     placeholder="Текущий номер телефона" value="+79000000000"
                     v-model="form.phone_number" ref="field_phone_number">
            </div>
            <div class="text-danger error-msg" ref="error_field_phone_number"></div>
          </div>
        </div>
        <div class="right-menu__form__block right-menu__form">
          <div class="right-menu__form__block__inner">
            <span class="right-menu__header__text">Чекбоксы</span>
            <div class="right-menu__form">
              <input id="banned" type="checkbox" name="banned" v-model="form.banned" ref="field_banned">
              <label for="banned">Заблокирован</label>
            </div>
            <div class="text-danger error-msg" ref="error_banned"></div>
          </div>
        </div>
        <div class="right-menu__form__block right-menu__form">
          <div class="right-menu__form__block__inner">
            <span class="right-menu__header__text">Верификация</span>
            <div class="right-menu__form">{{ form.verified | verificationStatusText}}</div>
            <div class="text-danger error-msg" ref="error_banned"></div>
          </div>
        </div>

      </div>
      <div class="col-md-12">
        <button class="btn btn-primary right-menu__button">Изменить</button>
      </div>
    </div>
  </form>
</template>

<script>
  import {MultiListSelect} from 'vue-search-select'
  import requests from '../../../requests'
  import {formLoader, handlerErrors} from '../../../../main/utilities'
  import ErrorView from '../../../../common/form-elements/Errors.vue'
  import SuccessView from '../../../../common/form-elements/Success.vue'
  import countries from 'country-data'

  export default {
    name: "personal-data",
    props: {
      user: {
        type: Object,
        default() {
          return {};
        }
      },
      offices: {
        type: Array,
        default() {
          return [];
        }
      },
      positions: {
        type: Array,
        default() {
          return [];
        }
      },
    },
    components: {
      MultiListSelect,
      ErrorView,
      SuccessView,
    },
    data() {
      return {
        countriesList: {},
        successMessage: '',
        errors: [],
        form: {
          office: null,
          status: this.user.position,
          surname: null,
          name: null,
          patronymic: null,
          birthday: null,
          sex: null,
          citizenship: null,
          country_iso: null,
          city: null,
          street: null,
          house_number: null,
          apartment_number: null,
          passport_series: null,
          passport_number: null,
          passport_date_issue: null,
          passport_division_code: null,
          passport_issued: null,
          email: null,
          phone_number: null,
          banned: null,
          verified: null,
          company_name: null,
          company_address: null,
          registration_code: null,
          legal_entity: null,
        }
      }
    },
    created() {
      formLoader(this.form, this.user)
      this.user.offices.length > 0 ? this.form.office = this.user.offices[0].id : ''
      let sortedKeys = Object.keys(countries.callingCountries).sort((a, b) => {
        return countries.callingCountries[a].name.localeCompare(countries.callingCountries[b].name);
      });

      this.countriesList = {};
      sortedKeys.forEach((key) => {
        this.countriesList[key] = countries.callingCountries[key]
      });
    },
    methods: {
      onSelect(items, lastSelectItem) {
        // this.user.office = items;
      },
      onSubmit() {
        this.$parent.$parent.$refs.rightPanel.spin(true);

        let userId = this.user.id;
        // this.form.office_number = this.user.office.map((el) => {
        //   return el.number
        // })

        requests.user.update(userId, this.form)
          .then(({data}) => {
            this.successMessage = data.message;
            this.$parent.$parent.$refs.rightPanel.spin(false);
          })
          .catch(({response}) => {
            this.$parent.$parent.$refs.rightPanel.spin(false);
            this.errors = handlerErrors(this.$refs, response.data.errors)
          })
      }
    },
    filters: {
      verificationStatusText(status) {
        switch (status) {
          case 'NOT_VERIFIED':
            return 'Отказано в верификации'
          case 'VERIFIED':
            return 'Верифицирован'
          case 'CREATED':
            return 'Новый пользователь'
          case 'PROCESSING':
            return 'Запрос отправлен'
        }
      }
    }
  }
</script>
