<template>

  <form @submit.prevent="onSubmit" ref="requisitesForm">
    <div>

      <error-view :errors="errors"></error-view>
      <success-view :success-message="successMessage"></success-view>
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th scope="col">Банковский счет</th>
          <th scope="col">Swift код</th>
          <th scope="col">Владелец счета</th>
          <th scope="col">Адрес</th>
          <th scope="col">Тип банка</th>
          <th scope="col">Документы</th>
        </tr>
        </thead>
        <tbody>
        <tr v-if="!user.bank_requisites.length">
          <td colspan="6" class="text-center">Ничего не найдено.</td>
        </tr>
        <tr v-for="bank_requisite in user.bank_requisites" :id="bank_requisite.id">
          <td>
            <div class="right-menu__form__row">
              <input type="text" name="bank_requisite_recipient_account" class="right-menu__form__input"
                     placeholder="Recipient account" v-model="bank_requisite.recipient_account">
            </div>
          </td>
          <td>
            <div class="right-menu__form__row">
              <input type="text" name="bank_requisite_swift_code" class="right-menu__form__input"
                     placeholder="Swift code" v-model="bank_requisite.swift_code"
                     :disabled="bank_requisite.bank_type == 'SEPA'">
            </div>
          </td>
          <td>
            <div class="right-menu__form__row">
              <input type="text" name="bank_requisite_recipient_name" class="right-menu__form__input"
                     placeholder="ФИО (Наименование компании)" v-model="bank_requisite.recipient_name">
            </div>
          </td>
          <td>
            <div class="right-menu__form__row">
              <input type="text" name="bank_requisite_recipient_address" class="right-menu__form__input"
                     placeholder="Recipient address" v-model="bank_requisite.recipient_address"
                     :disabled="bank_requisite.bank_type == 'SEPA'">
            </div>
          </td>
          <td>
            <div class="right-menu__form__row">
              <select name="bank_requisite_bank_type"
                      class="right-menu__form__input right-menu__form__input-select"
                      data-placeholder="Bank type" v-model="bank_requisite.bank_type">
                <option v-for="type in bankTypes" :value="type">
                  {{ type }}
                </option>
              </select>
            </div>
          </td>
          <td width="220px">
            <update-requisite-document v-for="document in bank_requisite.documents"
                                       v-if="renderRequisiteDocumentComponent"
                                       :id="document.id"
                                       :document_id="document.id"
                                       :requisite_id="bank_requisite.id"
                                       name="documents[]"
                                       ref="requisiteDocuments"
                                       :document="document"
                                       accept="image/*, application/pdf"
                                       :document-type="document.type"
                                       :key="document.id"/>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary right-menu__button" type="submit">Изменить</button>
          <button class="btn btn-primary right-menu__button" type="button" @click="tokenAddress">Создать токен адрес</button>
        </div>
      </div>
    </div>
  </form>

</template>

<script>

  import requests from '../../../requests'
  import {handlerErrors} from '../../../../main/utilities'
  import ErrorView from '../../../../common/form-elements/Errors.vue'
  import SuccessView from '../../../../common/form-elements/Success.vue'
  import UpdateRequisiteDocument from './blocks/UpdateRequisiteDocument.vue'

  export default {
    name: "requisites",
    props: {
      user: {
        type: Object,
        default() {
          return {};
        }
      },
      bankTypes: {
        type: Array,
        default() {
          return [];
        }
      }
    },
    components: {
      ErrorView,
      SuccessView,
      UpdateRequisiteDocument
    },
    data() {
      return {
        successMessage: '',
        renderRequisiteDocumentComponent: true,
        errors: [],
        form: {}
      }
    },
    methods: {
      rerenderRequisiteDocumentComponent () {
        this.renderRequisiteDocumentComponent = false;
        this.$nextTick(() => {
          this.renderRequisiteDocumentComponent = true;
        });
      },
      onSubmit() {
        this.$parent.$parent.$refs.rightPanel.spin(true);

        let userId = this.user.id;
        this.form.bank_requisites = this.user.bank_requisites.map((el) => {
          let {id, recipient_account, swift_code, recipient_name, recipient_address, bank_type} = el;
          return {id, recipient_account, swift_code, recipient_name, recipient_address, bank_type}
        })
        let formData = new FormData(this.$refs.requisitesForm);
        formData.append('bank_requisites', JSON.stringify(this.form.bank_requisites))

        requests.user.updateRequisites(userId, formData)
          .then(({data}) => {
            this.successMessage = data.message;
            this.user.bank_requisites = data.data.bank_requisites;
            this.rerenderRequisiteDocumentComponent();
            this.$parent.$parent.$refs.rightPanel.spin(false);
          })
          .catch(({response}) => {
            this.$parent.$parent.$refs.rightPanel.spin(false);
            this.errors = handlerErrors(this.$refs, response.data.errors)
          })
      },
      tokenAddress() {
        this.$parent.$parent.$refs.rightPanel.spin(true);

        let userId = this.user.id;

        requests.user.tokenAddress(userId, {})
          .then(({data}) => {
            this.successMessage = data.message;
            this.$parent.$parent.$refs.rightPanel.spin(false);
          })
          .catch(({response}) => {
            this.$parent.$parent.$refs.rightPanel.spin(false);
            this.errors = handlerErrors(this.$refs, [response.data.message])
          })
      }
    }
  }
</script>
