<template>
    <form @submit.prevent="onSubmit" method="post">
        <div class="alert alert-success" v-if="successMessage">{{ successMessage }}</div>
        <error-view :errors="errors"></error-view>
        <div class="row">
            <div class="col-md-6">
                <p>Настройка уведомлений</p>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="notify_auth_enabled" v-model="form.notify_auth_enabled">
                        Уведомление при авторизации
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="notify_change_pass_enabled"
                               v-model="form.notify_change_pass_enabled">
                        Уведомление при изменение пароля
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="notify_exchange_operations_enabled"
                               v-model="form.notify_exchange_operations_enabled">
                        Уведомление при операциях обмена
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <p>Настройки безопасности</p>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="two_factor_auth_enabled" v-model="form.two_factor_auth_enabled">
                        Двухфакторная авторизация
                    </label>
                </div>
                <label for="allowed_ips">Список IP адресов разрешенных для авторизации</label>
                <multiple-input :data.sync="form.allowed_ips" @addItem="onAddIp" @removeItem="onRemoveIp"  add-text="Добавить IP адрес"></multiple-input>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary right-menu__button">Изменить</button>
            </div>
        </div>

    </form>
</template>

<script>
  import {formLoader, handlerErrors} from '../../../../main/utilities'
  import requests from '../../../requests'
  import MultipleInput from '../../../../common/form-elements/MultipleInput.vue'

  export default {
    name: "security-settings",
    props: {
      user: Object
    },
    components: {
      MultipleInput
    },
    created() {
      formLoader(this.form, this.user)
      if (!this.form.allowed_ips) {
        this.form.allowed_ips = [];
      }
    },
    data() {
      return {
        errors: [],
        successMessage: '',
        form: {
          notify_auth_enabled: true,
          notify_change_pass_enabled: true,
          notify_exchange_operations_enabled: true,
          two_factor_auth_enabled: true,
          allowed_ips: []
        }
      }
    },
    methods: {
      onSubmit() {
        this.$emit('ajax:start');

        let userId = this.user.id;
        requests.user.updateSettings(userId, this.form)
          .then(({data}) => {
            this.successMessage = data.message;
            this.$emit('ajax:finish');
          })
          .catch(({response}) => {
            this.errors = handlerErrors(this.$refs, response.data.errors)
            this.$emit('ajax:finish');
          })
      },
      onAddIp () {
        this.form.allowed_ips.push({
          mark: '',
          ip: ''
        })
      },
      onRemoveIp (key) {
        this.form.allowed_ips.splice(key, 1);
      }
    }
  }
</script>
