<template>
    <table width="50%" class="table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Баланс</th>
            <th scope="col">Валюта</th>
        </tr>
        </thead>
        <tbody>
        <tr v-if="!user.user_accounts.length">
            <td colspan="3" class="text-center">Ничего не найдено.</td>
        </tr>
        <tr v-for="user_account in user.user_accounts" :id="user_account.id">
            <td>{{ user_account.id }}</td>
            <td>{{ user_account.amount }}</td>
            <td>{{ user_account.currency }}</td>
        </tr>
        </tbody>
    </table>
</template>

<script>
export default {
  name: "UserAccounts",
  props: {
  	user: {
      type: Object,
      default() {
        return {};
      }
    }
  }
}
</script>
