<template>
    <span>
        <button class="btn btn-success" @click="showRightPanel">
            <i class="fas fa-check"></i> Подтвердить
        </button>
        <right-panel ref="rightPanel" title="Верификация">
            <div class="row">
                <error-view :errors="errors"></error-view>
            </div>
            <div class="row">
                <success-view :success-message="successMessage"></success-view>
            </div>
            <card-info-view :card="userCard" :docs="userDocs"/>


            <button
                type="button"
                class="btn"
                :class="active=='g2fa'?'btn-primary':'btn-outline-primary'"
                @click="setActive('g2fa')">
              Whith Google Auth
            </button>
            <button
                type="button"
                class="btn"
                :class="active=='sms'?'btn-primary':'btn-outline-primary'"
                @click="setActive('sms')">
              Whith SMS
            </button>
            <form class="right-menu__form discard_user_cards" method="post" @submit.prevent="onSubmit">
                <google2-fa v-if="show && active=='g2fa'" v-on:ga_code="form.ga_code = $event" ref="google2fa"></google2-fa>
                <div class="right-menu__form__row mt-5" v-show="active=='sms'">
                    <input type="text"
                           class="right-menu__form__input"
                           v-model="form.sms_code"
                           placeholder="Sms code"
                           ref="field_sms_code"
                    >
                    <button type="button" class="btn btn-link" @click="onSendSmsCode">Request code</button>

                </div>
                <div class="text-danger error-msg" ref="error_sms_code"></div>
                <button type="submit" class="btn btn-primary right-menu__button">
                    Отправить
                </button>
            </form>

        </right-panel>
    </span>
</template>

<script>
  import RightPanel from "../../common/right-panel"
  import requests from '../requests'
  import {handlerErrors} from '../../main/utilities'
  import CardInfoView from "@/admin/cards/CardInfoView";
  import Google2Fa from "../../common/google2fa";

  export default {
    name: "card-verify-approve",
    props: {
      card: {
        type: String,
        require: true
      },
      docs: {
        type: String,
        require: true
      }
    },
    components: {
      CardInfoView,
      RightPanel,
      Google2Fa
    },
    data() {
      return {
        form: {
          comment: '',
          ga_code: '',
          card_id: this.card.id
        },
        userCard: null,
        userDocs: null,
        successMessage: '',
        isCodeRequested: false,
        errors: [],
        show: false,
        active: 'g2fa',
        crefs: this.$refs
      }
    }, created() {
      this.userCard = JSON.parse(this.card)
      this.userDocs = JSON.parse(this.docs)
    },
    methods: {
      setActive(name){
        this.active = name;
        this.$refs.error_sms_code.innerHTML = ''
        this.$refs.field_sms_code.classList.remove("is-invalid");
        if(name=='sms') {
          Vue.delete(this.form, 'ga_code')
          Vue.set(this.form, 'sms_code', '')
        }
        else {
          this.isCodeRequested = true;
          Vue.delete(this.form, 'sms_code')
          Vue.set(this.form, 'ga_code', '')
        }
      },
      showRightPanel(){
        this.show = true;
        this.$refs.rightPanel.show()
      },
      onSendSmsCode () {
        this.$refs.rightPanel.spin(true);
        this.errors = [];
        console.log('SMS Code for Withdrawal id',this.id)
          requests.card.approve(this.form, true)
          .then(({ data }) => {
            this.$refs.rightPanel.spin(false)
            this.successMessage = data.message
            this.isCodeRequested = data.isSendCode

          })
          .catch(({ response }) => {
            this.$refs.rightPanel.spin(false);
            this.errors = handlerErrors(this.$refs, response.data.errors)
          })
      },
      onSubmit() {
        this.errors = [];
        if(this.active!='sms') {
          this.crefs = Object.assign(this.$refs, this.$refs.google2fa.$refs);
        }
        this.successMessage = '';
        this.$refs.rightPanel.spin(true);
        this.form.card_id = this.userCard.id
        requests.card.approve(this.form, false)
          .then(({data}) => {
            this.$refs.rightPanel.spin(false);
            this.successMessage = data.message;
            if (data.isSendCode) {
              this.isCodeRequested = true;
            } else {
              this.$refs.rightPanel.hide();
              $(this.$el).parents('tr').remove();
            }
          })
          .catch(({response}) => {
            this.$refs.rightPanel.spin(false);
            if (response.data.invalidCode !== true) {
              this.isCodeRequested = false;
              this.form.sms_code = null;
            }
            this.errors = handlerErrors(this.$refs, response.data.errors)
          })
      },
    }
  }
</script>
