<template>
  <div class="w-100">
    <div class="row">
      <div class="col-sm-4">Card holder</div>
      <div class="col-sm-8">{{card.card_holder}}</div>
    </div>
    <div class="row">
      <div class="col-sm-4">Card number</div>
      <div class="col-sm-8">{{card.card_number_public}}</div>
    </div>
    <div class="row">
      <div class="col-sm-4">Card expire month</div>
      <div class="col-sm-8">{{card.card_expire_month}}</div>
    </div>
    <div class="row">
      <div class="col-sm-4">Card expire year</div>
      <div class="col-sm-8">{{card.card_expire_year}}</div>
    </div>
    <div class="row">
      <div class="col-sm-4">Card system</div>
      <div class="col-sm-8">{{card.card_system}}</div>
    </div>
    <div class="row" v-for="doc in docs">
      <div class="col-sm-4">Image</div>
      <div class="col-sm-8"><a target="_blank" :href="doc.url">{{doc.type}}</a></div>
    </div>
    <div class="row" v-if="card.notifications.length !== 0">
      <div class="col-sm-4">Комментарий при отмене</div>
      <div class="col-sm-8">{{ card.notifications[0].comment }}</div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "CardInfoView",
    props: {
      card: {
        type: Object,
        require: true
      },
      docs: {
        type: Array,
        require: true
      }
    },
    created () {

    }
  }
</script>
