<template>
  <div class="vauchers-table-wrapp">
    <div class="filter card">
      <div class="card-body operations-history">
        <form method="get" @submit.prevent="onSubmit">
          <div class="form-row">
            <div class="col">
              <div class="card-form-row">
                <label for="find_form_user_id">ID пользователя</label>
                <input type="number" min="1" class="form-control" id="find_form_user_id" v-model="form.user_id">
              </div>
            </div>
            <div class="col">
              <div class="card-form-row">
                <label for="find_form_user_full_name">ФИО</label>
                <input type="text" class="form-control" id="find_form_user_full_name" v-model="form.full_name">
              </div>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-dark">
                <i class="fas fa-redo-alt"></i> Обновить
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <error-view :errors="errors"></error-view>
    <table class="table table-striped table-bordered mt-3">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">ID пользователя</th>
        <th scope="col">ФИО</th>
        <th scope="col">Дата создания</th>
        <th scope="col">Сумма</th>
        <th scope="col">Валюта</th>
        <th scope="col">Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="voucher in items" :key="voucher.id">
        <td>{{ voucher.id }}</td>
        <td>{{ voucher.user_id_from  }}</td>
        <td>{{ voucher.from_user.full_name }}</td>
        <td align="center">{{voucher.created_at}}</td>
        <td align="center">{{voucher.amount}}</td>
        <td align="center">{{voucher.currency_from}}</td>
        <td align="center"><a @click="remove(voucher.id)">Удалить</a></td>
      </tr>

      </tbody>
    </table>

  </div>
</template>

<script>
  import requests from "../requests";
  import {handlerErrors} from '../../main/utilities'
  import ErrorView from '../../common/form-elements/Errors.vue'
  import spinner from '../../common/spinner'
  export default {
    name: "VouchersView",
    components: {
      ErrorView
    },
    data() {
      return {
        errors: [],
        items: [],
        form: {
          user_id: '',
          full_name: ''
        }
      }
    },
    props: {
      vouchers: {
        type: Array
      }
    },
    created(){
      this.items = JSON.parse(JSON.stringify(this.vouchers))
    },
    mounted(){

    },
    methods: {
      remove(id) {
        spinner.toggle(true)
        this.errors = [];
        requests.vouchers.remove({id: id, filter: this.form}).then(({ data }) => {
          this.items = data.data.vouchers
          spinner.toggle(false)
        }).catch(({ response }) => {
          this.errors = handlerErrors(null, response.data.errors)
          spinner.toggle(false)
        })
      },
      onSubmit() {
        spinner.toggle(true)
        requests.vouchers.get(this.form).then(({ data }) => {
          this.items = data.data.vouchers
          spinner.toggle(false)
        }).catch(({ response }) => {
          this.errors = handlerErrors(null, response.data.errors)
          spinner.toggle(false)
        })
      }
    }
  }
</script>
