<template>
  <div class="modal-body">
    <div class="confirmed-email text-center">{{ $t("main.account") }}</div>
  </div>
  
</template>

<script>
  export default {
    name: 'confirmed-email'
  }
</script>
