<template>
    <div class="modal-body">
        <div class="success text-center">
            <div>{{ $t("main.success1") }}</div>
            <div>{{ $t("main.success2") }}</div>
        </div>
    </div>
    
</template>

<script>
    export default {
        name: 'email-verification-success'
    }
</script>
