<template>
  <div class="modal-body">
    <div class="unconfirmed-email text-center">{{ $t("main.unconfirmed1") }}<br/>
      {{ $t("main.unconfirmed2") }}
      <br/>
      <br/>

      <p style="color: #efae9c;font-size: 13px;" class="mb-0">
        {{ $t("main.unconfirmed3") }}
        <a class="font-weight-bold" @click.prevent="onRequestConfirmEmail" :style="counterBtnStyle">
          {{ $t("main.unconfirmed4") }}
        </a>
        <br>
        <span v-if="seconds > 0" class="font-weight-bold" style="color: #efae9c; font-size: 15px">{{ seconds >= 60 ? `1 m. ${+(seconds - 60)} ${$t('main.sec')}` : `${seconds} ${$t('main.sec')}` }}</span>
      </p>

    </div>
  </div>
</template>

<script>

  import requests from '../../../requests'
  import {handlerErrors} from '../../../utilities'
  import spinner from '../../../../common/spinner'

  export default {
    name: 'unconfirmed-email',
    props: ['data'],
    data() {
      return {
        seconds: 120,

      }
    },
    computed: {
      counterBtnStyle: function(){
        if(this.seconds <= 120 && this.seconds > 0) {
          return {
            color: '#efae9c',
            cursor: 'wait'
          }
        } else {
          return {
            color: '#efae9c',
            cursor: 'pointer'
          }
        }
      }
    },
    methods: {
      timer() {
        let intervalId = setInterval(() => {
          this.seconds = --this.seconds;

          if (this.seconds === 0) {
            clearInterval(intervalId);
          }
        }, 1000)
      },
      onRequestConfirmEmail() {
        if(this.seconds < 120 && this.seconds > 0) return false;
        spinner.toggle(true);
        requests.authenticate.confirmEmail(this.data)
          .then(() => {
            this.seconds = 120
            this.timer()
            spinner.toggle(false)
          })
          .catch(({response}) => {
            this.errors = handlerErrors(this.$refs, response.data.errors)
            spinner.toggle(false);
          })
      },
    },
    mounted() {
      this.timer()
    }
  }
</script>
