<template>
  <div class="grid-view">
    <div class="active-positions">
      <auxiliary-orders-view/>
    </div>
    <hr>
    <div class="active-positions">
      <rate-correction-view/>
    </div>
    <hr>
    <div class="active-positions">
      <order-book-templates-view/>
    </div>
  </div>
</template>

<script>
  import AuxiliaryOrdersView from './auxiliary-orders/AuxiliaryOrdersView'
  import RateCorrectionView from "./rates-correction/RateCorrectionView";
  import OrderBookTemplatesView from "./order-book-templates/OrderBookTemplatesView";

  export default {
    name: "terminal-settings-terminal-view",
    components: {RateCorrectionView, AuxiliaryOrdersView, OrderBookTemplatesView},
    created() {
      this.$store.dispatch('loadTerminalSettingsIndex')
    }
  }
</script>

<style scoped>

</style>