$left-panel-z-index: 100;
$left-panel-width: 276px;
$m-left-panel-width: 78px;

@import '~vue2-perfect-scrollbar/dist/vue2-perfect-scrollbar.css';
@import '~bootstrap/scss/bootstrap';
@import "~filepond/dist/filepond.css";
@import "common/fontawesome";
@import "common/chosen";

@import "common/generalized";
@import "common/redefined";
@import "common/customize";
@import "common/left-nav";
@import "common/footer";
@import "common/user-account";
@import "common/card-account";
@import "common/active-positions";
@import "common/inactive-positions";
@import "common/user-panel";
@import "common/right-popup";
@import "common/right-menu";
@import "common/form";
@import "common/current-account";
@import "common/operations-history";
@import "common/operation";
@import "common/dashboard";
@import "common/auth";
@import "common/select2";
@import "common/datepicker";
@import "common/eula";
@import "common/button";
@import "common/preview";
@import "main/dashboard-layout/board";
@import "common/currency";

.users {
  margin: 80px 20px 0 20px;
  .grid-view-scroll {
    height: 64vh;
  }
  .grid-view--withdrawals {
    height: auto;
  }

  .grid-view-scroll::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  .grid-view-scroll::-webkit-scrollbar
  {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
  }

  .grid-view-scroll::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }
  .grid-view {
    overflow-x: auto;
    max-height: 100%;
  }
  .grid-view::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  .grid-view::-webkit-scrollbar
  {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
  }

  .grid-view::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }
}

.limit_list_item{
  cursor: pointer;
}
.custom_limit{
  color:#17a2b8;
}

.multiple.search .delete.icon:before {
  font-family: sans-serif;
  content: "x";
  font-style: normal;
}

.dashboard {
  @import "main/dashboard-layout/index";

  .right-popup {
    &.right-popup__full-screen {
      width: 100%;
    }
  }
}

@import "main/main-layout/index";

body{
  background: #fafafa;
  overflow-y:scroll;
}

.inner {
  align-items: center;
  display: flex;
}

.content {
  padding: 35px 15px;
}

.dashboard__btn {
  color: #333;
  border: 1px solid #ffdd2d;
  background-color: #ffdd2d;
  &:hover {
    border-color: #fcc521;
    background-color: #fcc521;
  }
}

.btn-edit-documents,
.btn-delete-new-documents {
  padding: 0;
  margin: 0;
}

.login {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;

  &__form {
    -webkit-box-shadow: 0 3px 1rem 0 rgba(0,0,0,.1);
    box-shadow: 0 3px 1rem 0 rgba(0,0,0,.1);
    border-radius: .5rem;
    max-width: 500px;
    background: #fff;
    margin: 0 auto;
    width: 100%;

    &--content {
      padding: 3rem;
    }
  }

  &__logo {
    background: url('/assets/images/logo.png') center no-repeat;
    background-size: 2rem;
    display: block;
    height: 68px;
    width: 100%;
  }

  &__border {
    transition: height .25s ease,background-color .25s ease;
    background-color: #f4f5f6;
    height: 15px;
    width: 100%;
  }
}

.eurobaras-icon{
  height: 1em;
  padding-bottom: 5px;
}

.content-wrapp-overflow {
  overflow-y: hidden;
  overflow-x: hidden;
  padding-left: 0;
  padding-right: 0;
}

.content-wrapp-overflow::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.content-wrapp-overflow::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}

.content-wrapp-overflow::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}


.content-wrapp-overflow--verif {
  @media(max-width: 568px) {
    overflow-x: scroll;
  }
}
.content-wrapp-overflow--users {
  @media(max-width: 753px) {
    height: 70vh;
    overflow-x: scroll;
    overflow-y: scroll;
  }
}
.color-black-box {
  color: #000;
  h1, h2, h3, h4, p {
    color: #000;
  }
}
@media(max-width: 768px) {
  .registration {
    iframe {
      width: 100% !important;
    }
  }
}

@media(max-width: 568px) {
  .content-wrapp-overflow--profile {
    overflow-x: auto;
  }
}
.content-wrapp-overflow--currency {
  height: 70vh;
  overflow-y: scroll;
  @media(max-width: 830px) {
    overflow-x: auto;
  }
}
.exchanges-table-wrapp {
  height: 70vh;
  overflow-y: scroll;
  @media(max-width: 830px) {
    overflow-x: auto;
  }
}
.exchanges-table-wrapp::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.exchanges-table-wrapp::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}

.exchanges-table-wrapp::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}
.roles-table-wrapp {
  @media(max-width: 768px) {
    overflow-x: auto;
  }
}
.roles-table-wrapp::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.roles-table-wrapp::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}

.roles-table-wrapp::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.table-limits-grid-view-wrapp {
  @media(max-width: 768px) {
    height: 70vh;
    overflow-x: auto;
    overflow-y: scroll;
  }
}
.table-limits-grid-view-wrapp::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.table-limits-grid-view-wrapp::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}

.table-limits-grid-view-wrapp::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}
.table-cards-wrapp {
  @media(max-width: 1185px) {
    overflow-x: auto;
  }
}
.table-cards-wrapp::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.table-cards-wrapp::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}

.table-cards-wrapp::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.active-positions {
  height: 70vh;
  overflow-y: scroll;
  @media(max-width: 640px) {
    overflow-x: auto;
  }
}
.active-positions::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.active-positions::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}

.active-positions::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}
.vaucher-settings-table-wrapp {
  @media(max-width: 448px) {
    overflow-x: auto;
  }
}
.vaucher-settings-table-wrapp::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.vaucher-settings-table-wrapp::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}

.vaucher-settings-table-wrapp::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}
.users .grid-view.grid-view--bonus {
  overflow: hidden;
}
.users .grid-view.grid-view--bonus > .active-positions {
  overflow: hidden;
  @media(max-width: 640px) {
    overflow-y: auto;
  }
}
.users .grid-view.grid-view--bonus > .active-positions > .grid-view {
  overflow: hidden;
}
.active-positions > .active-positions {
  overflow: hidden;
}

.tariff-grid-view {
  @media(max-width: 943px) {
    overflow-x: auto;
  }
}
.tariff-grid-view::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.tariff-grid-view::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}

.tariff-grid-view::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}
.right-menu__form__row--mob-scroll {
  @media(max-width: 520px) {
    overflow-x: auto;
  }
}
.right-menu__form__row--mob-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.right-menu__form__row--mob-scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}

.right-menu__form__row--mob-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.dashboard.board .left-panel__logo {
  background: none;
}
