$left-panel-z-index: 100;
$left-panel-width: 276px;
$m-left-panel-width: 78px;

@import "~vue2-perfect-scrollbar/dist/vue2-perfect-scrollbar.css";
@import "~bootstrap/scss/bootstrap";
@import "main/activate/activate";
@import "main/shop/shop";
@import "common/fontawesome";

@import "common/generalized";
@import "common/redefined";
@import "common/customize";
@import "common/left-nav";
@import "common/footer";
@import "common/user-account";
@import "common/card-account";
@import "common/active-positions";
@import "common/inactive-positions";
@import "common/user-panel";
@import "common/right-popup";
@import "common/right-menu";
@import "common/form";
@import "common/current-account";
@import "common/operations-history";
@import "common/operation";
@import "common/dashboard";
@import "common/auth";
@import "common/select2";
@import "common/datepicker";
@import "common/eula";
@import "common/button";
@import "common/preview";
@import "main/dashboard-layout/board";
@import "main/dashboard-layout/fill-notification";
@import "main/dashboard-layout/tooltip";
@import "main/blocks/right-panel";
@import "main/teminal-layout/index";
@import "common/exchange-rate-view";
@import "main/new/index";
@import "common/swal2";
/* LANDING */
@import "main/main-layout/landing";
@import "main/main-layout/forms/index";
@import "main/main-layout/modals/index";
@import "main/main-layout/newstyledevelop";
@import "main/main-layout/maintenance";
/* LANDING END*/

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro.eot');
  src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro.woff') format('woff'),
  url('../fonts/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamProBold.eot');
  src: url('../fonts/GothamProBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamProBold.woff') format('woff'),
  url('../fonts/GothamProBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: 'Gotham Pro', sans-serif!important;
  overflow-x: hidden;
}

:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.dashboard-layout {
  @import "main/dashboard-layout/index";
}

@import "main/main-layout/index";

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
html{
  height: auto!important;
}
body{
  //height: inherit;
  //overflow-y:scroll;

  #app {
    //height: inherit;
  }
}
.inner {
  align-items: center;
  display: flex;
  position: relative;
}
.content {
  padding: 35px 15px;
}
.btn-exchange{
  padding: .600rem .75rem;
}
.dashboard__btn{
  color: #333;
  border: 1px solid #ffdd2d;
  background-color: #ffdd2d;
  &:hover {
    border-color: #fcc521;
    background-color: #fcc521;
  }
}
.icon {
  .fa-sign-in-alt {
    font-size: 20px;
  }
}
.bm-burger-button {
  top: 6px!important;
  @media screen and (max-width: 1105px) {
    right: 6px!important;
  }
}

@-webkit-keyframes autofill {
  to {
    color: inherit;
    background: transparent;
  }
}

//input[type='number']::-webkit-outer-spin-button {
//  -webkit-appearance: none;
//}
//input[type='number']::-webkit-textfield-decoration-container {
//  -webkit-appearance: none;
//}
//input[type='number']::-webkit-inner-spin-button {
//  -webkit-appearance: none;
//}
//input[type='number']::-webkit-outer-spin-button {
//  -webkit-appearance: none;
//}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.filepond--media-preview-wrapper {
  width: 100%;
  min-height: 300px;
  position: relative;
  display: contents;
}

.filepond--media-preview {
  width: 100%;
  min-height: 300px;
  position: absolute;
  left: 0px;
  /* center vertically */
  top: 50%;
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
.filepond--media-preview video{
  width: auto;
  height: 100%;
  position: absolute;
  top: 0px;
  /* center horizontally */
  left: 50%;
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

#card_video .filepond--list-scroller {
  margin-top: 0 !important;
}
.bx-livechat-wrapper {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
.wrap-word {
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: anywhere;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
}