<template>
  <div>
    <h6>Поддерживающие ордера</h6>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Pair</th>
        <th scope="col">Order amount</th>
        <th scope="col">Sell rate multiplier</th>
        <th scope="col">Buy rate multiplier</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <template v-if="auxiliaryOrders.length>0" v-for="auxiliaryOrder in auxiliaryOrders">
        <tr>
          <td>{{auxiliaryOrder.id}}</td>
          <td>{{auxiliaryOrder.pair}}</td>
          <td>{{auxiliaryOrder.order_value}}</td>
          <td>{{auxiliaryOrder.rate_deviation_perc_sell}}</td>
          <td>{{auxiliaryOrder.rate_deviation_perc_buy}}</td>
          <td width="20%" align="center">
            <edit-auxiliary-order-view :order="auxiliaryOrder" mode="update"
                                       @auxiliaryOrder:update="onAuxiliaryOrderUpdate"/>
          </td>
        </tr>
      </template>
    </table>
    <edit-auxiliary-order-view button-label="Добавить"
                               :button-icon="false"
                               mode="create"
                               @auxiliaryOrder:update="onAuxiliaryOrderUpdate"/>
  </div>
</template>

<script>
  import EditAuxiliaryOrderView from "./EditAuxiliaryOrderView";
  import {mapGetters} from "vuex";

  export default {
    name: "AuxiliaryOrdersView",
    components: {EditAuxiliaryOrderView},
    computed: {
      ...mapGetters({
        auxiliaryOrders: 'getAuxiliaryOrders'
      })
    },
    methods: {
      onAuxiliaryOrderUpdate(auxiliaryOrders) {
        this.$store.dispatch('updateAuxiliaryOrdersList', auxiliaryOrders)
      }
    }
  }
</script>

<style scoped>

</style>