<template>
  <form class="right-menu__form" @submit.prevent="onSubmit">
    <error-view :errors="errors"></error-view>
    <success-view :success-message="successMessage"></success-view>
    <h5>Изменить настройки для "{{ userVoucherSetting.currency }}" ваучеров</h5>
    <div class="row">
      <div class="col-md-6">
          <div class="right-menu__form__block__inner mt-3">
            <label>Комиссия</label>
            <div class="right-menu__form__row">
              <input class="right-menu__form__input"
                     v-model="userVoucherSetting.commission"
                     type="number"
                     step="any"
                     min="0"
              >
            </div>
            <div class="text-danger error-msg" id="error_commission"></div>
          </div>
      </div>
    </div>
    <hr>
    <input type="hidden" name="setting_id" v-model="userVoucherSetting.id" />
    <button type="submit" class="btn btn-primary right-menu__button">Изменить</button>
  </form>
</template>

<script>
  import {handlerErrors} from '../../../main/utilities'
  import requests from '../../requests'

  export default {
    name: "FormView",
    data () {
      return {
        successMessage: '',
        errors: [],
        index: 0,
        userVoucherSetting: {}
      }
    },
    methods: {
      setUserSetting (index, setting) {
        this.index = index
        this.userVoucherSetting = setting
      },
      onSubmit () {
        this.$emit('ajax:start')
        requests.userVoucherSettings.updateUserVoucherSetting(this.userVoucherSetting)
          .then(({ data }) => {
            this.$emit('modal:close', {
              setting: data.user_voucher_setting,
              index: this.index
            })
          })
          .catch(({ response }) => {
            this.errors = handlerErrors(this.$refs, response.data.errors);
            this.$emit('ajax:finish')
          })
      }
    }
  }
</script>
