<template>
  <div class="mt-5">
    <error-view :errors="errors"></error-view>
    <success-view :success-message="successMessage"></success-view>

    <table class="table" v-if="userSettings.length">
      <thead>
        <tr>
          <td>ID</td>
          <td>Валюта</td>
          <td>Комиссия</td>
          <td>Кастомная</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(setting, index) in userSettings" @click="onOpenForm(index)">
          <td>{{ setting.id }}</td>
          <td>{{ setting.currency }}</td>
          <td>{{ setting.commission }}</td>
          <td>{{ setting.is_custom }}</td>
        </tr>
      </tbody>
    </table>

    <right-panel ref="rightPanel" mode="full">
      <form-view ref="form"
        @ajax:finish="$refs.rightPanel.spin(false)"
        @ajax:start="$refs.rightPanel.spin(true)"
        @modal:close="onModalClose"
      />
    </right-panel>
  </div>
</template>

<script>
  import RightPanel from "../../../common/right-panel"
  import {handlerErrors} from '../../../main/utilities'
  import requests from '../../requests'
  import FormView from './Form'

  export default {
    name: "UserVoucherSettingGridView",
    props: {
      userId: {
        type: String,
        require: true
      }
    },
    components: {
      RightPanel,
      FormView
    },
    data() {
      return {
        successMessage: '',
        userSettings: [],
        errors: [],
        limit: []
      }
    },
    methods: {
      loadingUserVoucherSettings () {
        this.userSettings = []
        requests.userVoucherSettings.getUserVoucherSettings({'user_id': this.userId})
          .then(({ data }) => {
            this.userSettings = data.settings
            this.$emit('ajax:finish')
          })
          .catch(({ response }) => {
            this.errors = handlerErrors(this.$refs, response.data.errors)
            this.$emit('ajax:finish')
          })
      },
      onOpenForm (index) {
        this.$refs.form.setUserSetting(index, this.userSettings[index])
        this.$refs.rightPanel.show()
      },
      onModalClose ({ index, setting }) {
        if (this.userSettings[index]) {
          this.userSettings[index] = setting
        }

        this.$refs.rightPanel.hide()
      }
    }
  }
</script>
