<template>
    <div class="user-voucher-settings">
        <button @click="onRequestUserVoucherSettings" class="btn btn-secondary" :title="$t('words.edit_voucher')">
            <i class="fas fa-comments-dollar"></i>
        </button>

        <right-panel ref="rightPanel" :title="$t('words.settings_voucher')" mode="full">
            <grid-view ref="gridView"
              @ajax:finish="$refs.rightPanel.spin(false)"
              @ajax:start="$refs.rightPanel.spin(true)"
              :user-id="userId"
            />
        </right-panel>
    </div>
</template>

<script>
  import RightPanel from "../../../common/right-panel"
  import GridView from './GridView'

  export default {
    name: 'UserVoucherSettings',
    props: {
      userId: {
        type: String,
        require: true
      }
    },
    components: {
      RightPanel,
      GridView
    },
    created() {
      this.$nextTick(() => $(this.$el).removeClass('preview-btn'));
    },
    methods: {
      onRequestUserVoucherSettings() {
        this.$refs.rightPanel.show()
        this.$refs.rightPanel.spin(true)
        this.$refs.gridView.loadingUserVoucherSettings()
      },
    }
  }
</script>
