@import '~filepond/dist/filepond.min.css';
@import '~filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}
body .application {
  //height: 100vh;
  .application {
    height: 100%;
  }
}
#app.application {
  //height: 100vh;
  //background: #e6e6f0;
}
.dashboard-layout {
  background: #e6e6f0;
  height: 100%;
  //height: 100vh;
  .navbar-expand-lg {
    .navbar-toggler {
      @media screen and (max-width: 1200px) {
        display: block!important;
      }
    }
    .collapse.navbar-collapse.collapse-menu {
      @media screen and (max-width: 1200px) {
        display: none!important;
      }
    }
  }
  .close-left-panel {
    @media screen and (min-width: 1200px) {
      display: none;
    }
    position: absolute;
    right: 10px;
    top: 25px;
    button {
      background: none;
      border: none;
      outline: none;
    }
  }

  .row.mb-5.mt-3.mt-md-0 {
    .col-md-12 {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .container-screen {
    //min-height: calc(100vh - 290px);
    min-height: calc(100vh - 260px);
  }

  //@media screen and (min-width: 1076px) {
  //  .container-fluid.with-left-panel {
  //    width: calc(100% - 268px);
  //    margin-right: 0;
  //  }
  //}

  .delete-allowed-ip {
    &:hover {
      cursor: pointer;
    }
  }
  .navbar {
    padding: 10px 0;
  }
  .second-menu {
    ul {
      li {
        padding: 10px 0 0 0;
        margin: 0 20px;
        @media screen and (max-width: 991px) {
          &{
            margin: 0;
            padding-left: 20px;
          }
        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
        &.active {
          border-bottom: 2px solid #a9a9b9;
          a{
            color: #000000;
            font-weight: 700;
          }
        }
        a {
          padding: 0 0 10px 0;
          word-spacing: 5px;
          color: #a7a7b7;
          &:hover {
            transition: none;
            color: #000000;
            font-weight: 700;
          }
        }
      }
    }
  }

  section#body {
    //padding: 0 30px;
    position: relative;
    @media screen and (max-width: 768px) {
      //padding: 0;
    }

    .contact {

      .col-md-6 {
        @media screen and (max-width: 767px) {
          text-align: left!important;
        }
      }

      .contact-item{
        word-break: break-word;

        @media screen and (max-width: 575px) {
          & {
            margin-bottom: 30px;
          }
        }
      }
    }
    .filter-ip,.toke-api {
      table {
        thead {
          tr {
            th {
              padding: 0 .75rem;
              border: none;
              font-size: 12px;
              color: #a7a7b7;
            }
          }
        }
        tbody {
          tr {
            &:not(:first-child) {
              td {
                padding-top: 2rem;
              }
            }
            td {
              &.qr {
                text-align: right;
                padding-right: 40px;
                cursor: pointer
              }
              &.delete:hover,&.edit:hover {
                cursor: pointer;
                i {
                  font-weight: bold;
                }
              }
              &:first-child {
                min-width: 105px;
              }
              &:last-child {
                text-align: right;
              }
              border: none;
              border-bottom: 2px solid #a7a7b7;
            }
          }
        }
      }
    }
    .column-mobile {
      button {
        width: 140px;
        &.btn-link {
          color: black;
          text-decoration: none;
          font-weight: bold;
        }
      }
      @media screen and (max-width: 440px) {
        & {
          align-items: center;
          flex-direction: column;
          button {
            margin-bottom: 30px;
            width: 100%!important;
          }
        }
      }
    }
    .requisites {
      .col-md-4 {
        margin-bottom: 30px;
        .requisites-item {
          cursor: pointer;
          &.empty-requisites {
            border: 2px dashed #a7a7b7;
            cursor: pointer;
            i {
              font-size: 30px;
              font-weight: bold;
            }
          }
        }
      }
    }
    .popular {
      @media screen and (max-width: 1200px) and (min-width: 992px) {
        div:not(:first-child) {
          flex: 0 0 33.33333%;
        }
      }
    }
    .popular-item {
      border-radius: 3px;
      &--footer {
        button{
          font-size: 12px;
        }
      }
    }
    .transactions.row {
      .transactions {
        border-radius: 3px;
        .body {
          @media screen and (max-width: 750px) {
            flex-direction: unset!important;
            flex-wrap: wrap;
          }
          .body-item {
            margin-bottom: 5px;
            width: 100%;
            @media screen and (max-width: 991px) {
              flex-wrap: wrap;
            }
            div {
              @media screen and (max-width: 470px) {
                margin-bottom: 5px!important;
                margin-top: 0!important;
              }
              &:first-child {
                @media screen and (max-width: 991px) {
                  margin-right: auto;
                  width: 25%;
                }
                @media screen and (max-width: 768px) {
                  width: 50%;
                  text-align: left!important;
                }
                @media screen and (max-width: 470px) {
                  width: 100%;
                }
              }
              &:nth-child(2) {
                @media screen and (max-width: 991px) {
                  width: 50%;
                }
                @media screen and (max-width: 768px) {
                  width: 100%;
                  order: -1;
                }
              }
              &:nth-child(3) {
                @media screen and (max-width: 991px) {
                  margin-left: auto;
                  width: 25%;
                }
                @media screen and (max-width: 768px) {
                  width: 50%;
                  text-align: right!important;
                }
                @media screen and (max-width: 470px) {
                  width: 100%;
                  text-align: left!important;
                }
              }
              &:nth-child(4) {
                @media screen and (max-width: 991px) {
                  width: 100%;
                  font-size: 16px!important;
                  margin: 10px auto;
                }
                @media screen and (max-width: 470px) {
                  text-align: left!important;
                }
              }
              &:nth-child(5) {
                padding: 0 5px;
                width: 100%;
                max-width: 140px;
                @media screen and (max-width: 991px) {
                  margin-left: auto;
                }
                @media screen and (max-width: 470px) {
                  width: 100%;
                  max-width: unset;
                  margin-bottom: 10px;
                }
              }
              &:last-child {
                padding: 0 5px;
                width: 100%;
                max-width: 140px;
                @media screen and (max-width: 991px) {
                  margin-right: auto;
                }
                @media screen and (max-width: 470px) {
                  width: 100%;
                  max-width: unset;
                  margin-bottom: 10px!important;
                }
              }
            }
          }
        }
      }
    }
  }
  input {
    color: black;

    &::placeholder {
      color: black;
    }
  }
  .modal-background {
    color: black;
    background-color: #fff;
    .show {
      background-color: #fff;
    }
    .modal-dialog {
      max-width: 100%;
      min-height: 100vh;

      .modal-content {
        input {
          &::placeholder {
            color: #000000;
          }
        }
        .close-block {
          margin: 40px 0;
        }
        .modal-header {
          padding: 1rem 30px;

          @media screen and (max-width: 1199px) {
            & {
              padding: 1rem 0;
            }
          }

          .white-shadow {
            min-width: 1200px;
            padding: 10px 20px;
            background: white;
            box-shadow: 0 12px 32px 3px rgba(17, 6, 51, 0.1);

            @media screen and (max-width: 1300px) and (min-width: 980px) {
              & {
                min-width: unset;
                padding: 10px 0;
              }
            }

            .flex-item {
              margin: 0 20px;
              align-self: center;

              @media screen and (max-width: 1300px) and (min-width: 980px) {
                margin: 0 20px;
                font-size: 12px;

                &:first-child {
                  margin-right: 20px;
                }

                &:first-child {
                  margin-right: 20px;
                }
              }

              &:first-child {
                margin-right: 30px;
              }

              &:last-child {
                margin-left: 30px;
                text-align: right;
              }

              & * {
                font-weight: 700;
                display: inline;
                vertical-align: middle;
              }
            }
          }
        }

        .modal-body {
          padding: 1rem 30px;
          @media screen and (max-width: 768px) {
            & {
              padding-right: 0;
              padding-left: 0;
            }
          }

          .first-document-block {
            ul {

              li {
                padding: 0 40px 0;
                min-height: 28px;
                vertical-align: middle;
                margin-bottom: 10px;

                &:first-child {
                  background: url(../../assets/images/pasport.png) center left no-repeat;
                }
                &:nth-child(2) {
                  background: url(../../assets/images/national-pasport.png) center left no-repeat;
                }
                &:last-child {
                  background: url(../../assets/images/car-pasport.png) center left no-repeat;
                  margin-bottom: 0;
                }
              }
            }
          }

          .second-document {
            ul {

              li {
                padding: 0 40px 0;
                min-height: 28px;
                vertical-align: middle;
                margin-bottom: 10px;

                &:first-child {
                  background: url(../../assets/images/first-document.png) center left no-repeat;
                }
                &:nth-child(2) {
                  background: url(../../assets/images/second-document.png) center left no-repeat;
                  min-height: 45px;
                }
                &:last-child {
                  background: url(../../assets/images/third-document.png) center left no-repeat;
                  min-height: 48px;
                  margin-bottom: 0;
                }
              }
            }
          }

          .third-document {
            ul {

              li {
                padding: 0 40px 0;
                min-height: 100%;
                vertical-align: middle;
                margin-bottom: 10px;

                &:first-child {
                  background: url(../../assets/images/pasport.png) center left no-repeat;
                }
              }
            }
          }

          .d-flex:not(.exchange-block) {
            @media screen and (max-width: 1000px) {
              & {
                flex-direction: column;
                .d-flex {
                  margin-bottom: 30px;
                  width: 100%;
                }
              }
            }
          }

          .contact {

            .col-md-6 {
              @media screen and (max-width: 767px) {
                text-align: left !important;
              }
            }

            .contact-item {
              word-break: break-word;

              @media screen and (max-width: 575px) {
                & {
                  margin-bottom: 30px;
                }
              }
            }
          }
        }

        .form-custom {
          .form-control-custom {
            margin-bottom: 30px;
            .dropdown-select {
              border-color: #a7a7b7;
              ul {
                position: absolute;
                background: #f3f3f9;
                z-index: 9999;
              }
            }
            input {
              color: #000;
              text-align: left;
              border-color: #a7a7b7;
            }
          }
        }

        .modal-footer {
          padding: 1rem 30px;
          button {
            width: 200px;
          }
          .d-flex {
            @media screen and (max-width: 768px) {
              flex-direction: column;
              button:not(:last-child) {
                margin-bottom: 30px;
              }
            }
          }
        }

      }
    }
  }
}

.border-bottom-silver {
  border-bottom: 2px solid #a7a7b7;
  &:hover {
    border-color: black!important;
  }
}

.filepond--root {
  margin-bottom: 0;
  .filepond--drop-label {
    background: #ffffff;
    height: auto;
    &.filepond--drop-label {
      label {
        padding: 0;
        width: 100%;
        text-align: left;
        font-size: inherit;
        font-weight: 400;
        line-height: 1.5;
      }
    }
    .filepond--label-action {
      text-decoration: none;
    }
  }
  .filepond--panel-root {
    background: #ffffff;
  }

}

.hiding--remove-button button.filepond--file-action-button.filepond--action-remove-item{
  display:none!important;
}

.circle-left-form {
  @media screen and (max-width: 768px) {
    padding-left: 20px!important;
  }
  .form-control-custom {
    @media screen and (max-width: 1000px) {
      .d-flex {
        flex-direction: row!important;
        align-items: center;
      }
      .border-bottom-hover {
        .dropdown-select {
          margin-bottom: 0!important;
        }
      }
    }
    .d-flex {
      flex-direction: row;
      align-items: center;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.table.table-invest {
  border: none;
  tr:nth-last-child(2n) {
    background-color: #fff !important;
  }
  th, td {
    border: none;
    padding: 7px 0;
    text-align: center;
  }
  thead th {
    border: none;
    padding: 0;
    text-align: center;
  }
  @media screen and (max-width: 1024px) {
    .lp-hidden {
      display: none;
    }
  }
  @media screen and (max-width: 921px) {
    .mb-hidden {
      display: none;
    }
    th, td {
      font-size: 12px;
      line-height: 1.2;
    }
    small {
      font-size: 12px;
      line-height: 1.2;
    }
  }
}


@media screen and (max-width:485px) {
  .invest-wrap-btn {
    .btn {
      width: 50%;
      font-size: 13px;
      padding: 5px;
    }
  }
}
@media screen and (max-width:768px) {
  .modal-content--invest {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .modal-content--invest__more-info {
    .modal-body {
      padding-left: 20px;
      padding-right: 20px;
    }

    .btn-primary {
      width: 100%;
      margin-left: 0 !important;
    }

  }
  .modal-body {
    .modal-box-w100 {
      .w-100 {
        display: flex;
        justify-content: space-between;
        span {
          display: inline-block;
          width: 66%;
        }
        .modal-box-w30 {
          width: 32%;
          text-align: right;
        }
      }
    }
  }
}
.user-personal-desc__title {
  margin-right: 15px;
}
.w-15 {
  padding-top: 0;
}
.w-20 {
  width: 20%;
}
.w-30 {
  padding-top: 0;
}
.body-item {
  justify-content: space-between;
}
.dashboard-layout section#body .transactions.row .transactions .body .body-item {
  align-items: center;
}
@media screen and (max-width:768px) {
  .user-personal-desc__title {
      display: block !important;
  }

  .modal-box-w100 {
    .w-100 {
      display: flex;
      justify-content: space-between;
      span {
        display: inline-block;
        width: 66%;
      }
      .modal-box-w30 {
        width: 32%;
        text-align: right;
      }
    }
  }
}

@media screen and (max-width:991px) {
  .dashboard-layout section#body .transactions.row .transactions .body .body-item {
    .chartjs-render-monitor {
      margin: auto;
    }
  }
}

@media screen and (max-width: 440px) {
  .dashboard-layout section#body .column-mobile button {
    min-width: 140px;
  }
}

.filepond--root .filepond--list-scroller {
  margin-top: 3em !important;
  margin-bottom: 1em;
}
.dashboard-layout .modal-background .modal-dialog .modal-content .modal-body .third-document ul li {
  margin-top: 50px !important;
}
.filepond--list-scroller {
  top: 10px;
}

@media screen and (max-width: 480px) {
  .table-invest.table-invest--mob {
    display: block;
    overflow-x: auto;
  }
}

.table.table-invest.table-invest--mob {
  @media screen and (max-width: 1024px) {
    .table-invest.table-invest--mob .lp-hidden {
      display: block;
    }
  }
  @media screen and (max-width: 991px) {
    .table-invest.table-invest--mob .lp-hidden {
      display: none;
    }
  }
}
@media screen and (max-width: 768px) {
  .table-invest-wrapp--mob {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.table.table-invest.table-invest--mob {
  thead th {
    padding-bottom: 15px;
  }
}
.btn-edit-profile {
  min-width: 160px;
}
.dashboard-layout .left-bar .close-left-panel {
    display: none;
  @media(max-width: 768px) {
    display: block;
  }
}
.container-fluid.with-left-panel {
  width: calc(100% - 268px);
  margin-right: 0;
  margin-left: auto;
  @media(max-width: 768px) {
    width: 100%;
  }
}