<template>
  <div class="modal-background w-100 background-none" :class="isShow ? 'show' : 'hide'" id="modal"
       v-if="exchangeRate"
        style="background-color: rgba(255, 255, 255, 0.8); overflow-x: hidden; overflow-y: auto">
    <div class="h-100 w-100 position-fixed"></div>
    <div class="modal-dialog d-flex align-items-center modal-lg" style="margin-top: 5rem; max-width: 800px">
      <div class="modal-content align-self-center m-auto white-shadow"
           style="background: white">
        <div class="close-modal" @click="close">
          <i class="icon-close-modal"></i>
        </div>
        <div class="modal-header">
          <h6 class="text-black">{{ $t("exchange.buy") }} {{form.currency_to | getCurrencyAlias}}</h6>
          <span class="text-silver font-weight-bold">
              1 {{form.currency_from | getCurrencyAlias}} = {{toFixedRight(exchangeRate)}} {{form.currency_to | getCurrencyAlias}}
                </span>
        </div>
        <div class="modal-body">
          <div class="row align-items-center">
            <div class="col-lg-5 border-pink pt-3 pb-3" @click="updateSelectedRate(exchangeRate.bid)">
              <div class="row mb-3">
                <div class="col-md-6">
                  <strong class="color-red">{{ $t("exchange.bid") }}</strong>
                </div>
                <div class="col-md-6 text-right">
                  <span class="text-center background-pink color-white p-2">{{ $t("exchange.sell") }}</span>
                </div>
              </div>
              <div class="row mt-3 align-items-end">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-4">
                      <h3 class="color-red m-0" v-if="bid">{{ toFixed_5_8(bid) }}</h3>
                    </div>
                    <div class="col-md-8 text-right">
                    </div>
                  </div>
                  <div class="custom-border-red"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-2 text-center">
              <small class="d-block color-silver">{{ $t("exchange.spread") }}</small>
              <strong class="d-block text-bold" style="word-break: break-word">{{ toFixed_5_8(spread) }}</strong>
            </div>
            <div class="col-lg-5 border-green pt-3 pb-3">
              <div class="row mb-3">
                <div class="col-md-6">
                  <strong class="color-green">{{ $t("exchange.ask") }}</strong>
                </div>
                <div class="col-md-6 text-right">
                  <span class="text-center background-green color-white p-2">{{ $t("exchange.buy") }}</span>
                </div>
              </div>
              <div class="row mt-3 align-items-end">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-4">
                      <h3 class="color-green m-0" v-if="ask">{{ toFixed_5_8(ask) }}</h3>
                    </div>
                    <div class="col-md-3 offset-md-5 text-right">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <form class="form-custom black mt-3" @submit.prevent="onSubmit">
            <div class="form-control-custom mb-5">
              <small class="text-silver d-block">{{ $t("dashboard.profile.give") }}</small>
              <div class="border-bottom-hover black-hover silver-border d-flex justify-content-between mob--box">
                <input class="flex-shrink-1 border-0 number-without-control mob--box__input"
                       @keydown="cryptoLengthValidate('currency_from', 'amount_from', $event)"
                       :class="{ 'is-invalid': !hasBalanceAmount }"
                       v-model="form.amount_from"
                       :max="balanceAmount"
                       @blur="isAmountFromFocus = false"
                       @focus="isAmountFromFocus = true"
                       type="number"
                       step="any"
                       min="0"
                       required
                       ref="field_amount_from"
                >
                <div class="dropdown-select border-0 d-flex flex-shrink-1 color-black mob--box__select"
                     @click="openSelectCurrencyFrom"
                     @mouseenter="isFocusSelect = true"
                     @mouseleave="isFocusSelect = false"
                >
                  <div class="d-flex flex m-0 align-items-center" style="flex-direction: unset">
                    <input type="hidden" disabled v-model="form.currency_from">
                    <div class="w-100 mr-3 border-0 font-weight-bold text-right">{{balanceAmount}}</div>
                    <div class="w-100 mr-3 border-0 font-weight-bold text-right">{{ form.currency_from | getCurrencyAlias }}</div>
                    <i class="fas fa-caret-down text-black" v-if="!isOpenSelectCurrencyFrom"></i>
                    <i class="fas fa-caret-up text-black" v-else></i>
                  </div>
                  <ul v-show="isOpenSelectCurrencyFrom" class="font-weight-bold text-black" style="top: 35px;">
                    <li v-if="allExchangeAccounts!==null" class="pl-2 pr-2"
                        v-for="(item, currencyFrom) in allExchangeAccounts" :value="currencyFrom"
                        @click="selectCurrencyFrom(currencyFrom)">{{currencyFrom | getCurrencyAlias}}
                    </li>
                  </ul>
                </div>
              </div>

              <small class="text-silver">{{ $t("dashboard.profile.account") }}
                <small class="text-black" :class="balanceAmount < parseFloat(form.amount_from) ? 'text-red' : ''">
                  {{balanceAmount}} {{form.currency_from | getCurrencyAlias}}
                </small>
              </small>
              <span v-if="balanceAmount < parseFloat(form.amount_from)"
                    style="cursor: pointer;text-decoration: underline"
                    class="text-red"
                    @click="openDepositModal"
              >{{ $t("dashboard.payments.text45") }}
              </span>
            </div>
            <div class="form-control-custom">
              <small class="text-silver d-block">{{ $t("dashboard.profile.get") }}</small>
              <div class="border-bottom-hover black-hover silver-border d-flex justify-content-between mob--box">
                <input class="flex-shrink-1 border-0 number-without-control mob--box__input"
                       @input="onInputAmountTo"
                       v-model="form.amount_to"
                       @keydown="cryptoLengthValidate('currency_to', 'amount_to', $event)"
                       type="number"
                       @blur="isAmountToFocus = false"
                       @focus="isAmountToFocus = true"
                       step="any"
                       min="0"
                       required>
                <div class="dropdown-select border-0 d-flex flex-shrink-1 color-black mob--box__select"
                     @click="openSelectCurrencyTo"
                     @mouseenter="isFocusSelect = true"
                     @mouseleave="isFocusSelect = false"
                >
                  <div class="d-flex flex m-0 align-items-center" style="flex-direction: unset">
                    <input type="hidden" disabled v-model="form.currency_to">
                    <div class="w-100 mr-3 border-0 font-weight-bold text-right">{{ balanceAmountTo }}</div>
                    <div class="w-100 mr-3 border-0 font-weight-bold text-right">{{ form.currency_to | getCurrencyAlias }}</div>
                    <i class="fas fa-caret-down text-black" v-if="!isOpenSelectCurrencyTo"></i>
                    <i class="fas fa-caret-up text-black" v-else></i>
                  </div>
                  <ul v-show="isOpenSelectCurrencyTo" class="font-weight-bold text-black" style="top: 35px;">
                    <li v-if="allExchangeAccounts!==null" class="pl-2 pr-2" v-for="item in getExchangeAccounts"
                        :value="item.currency_to"
                        @click="selectCurrencyTo(item.currency_to)">{{item.currency_to | getCurrencyAlias}}
                    </li>
                  </ul>
                </div>
              </div>
              <small class="text-silver">{{ $t("dashboard.profile.account") }}
                <small class="text-black">{{balanceAmountTo}} {{form.currency_to | getCurrencyAlias}}</small>
              </small>
            </div>
            <div class="form-control-custom">
              <div>
                <span class="text-black">{{form.amount_to | formatMoney(form.currency_to)}}
                  {{form.currency_to | getCurrencyAlias}}</span>
                <span class="text-black font-weight-bold">{{ $t("dashboard.profile.amount") }}</span>
              </div>
              <div>
                <span class="text-black">{{commission | formatMoney(form.currency_to)}}
                  {{form.currency_to | getCurrencyAlias}}</span>
                <span class="text-black font-weight-bold">{{ $t("dashboard.payments.text42") }}</span>
              </div>
              <div>
                <span class="text-black">{{(form.amount_to - commission) | formatMoney(form.currency_to)}}
                  {{form.currency_to | getCurrencyAlias}}</span>
                <span class="text-black font-weight-bold">{{ $t("exchange.amount_credited") }}</span>
              </div>
            </div>

            <div class="modal-popular-item--footer">
              <button type="submit" class="btn btn-success" v-if="activeSocket && exchangeRate>0">{{ $t("exchange.exchange") }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <ModalWrapper ref="modalWrapper">
      <deposit-modal-container ref="depositmodal" @close-modal="$refs.modalWrapper.close()"/>
    </ModalWrapper>
  </div>
</template>

<script>
  import {eventBus} from '../../eventBus';
  import jQuery from 'jquery'
  import {formatMoney, getCurrencyAlias, getCurrencyIcon, handlerErrors} from '../../utilities'
  import RoundAmount from "../../../main/classes/RoundAmount";
  import spinner from '../../../common/spinner'
  import requests from '../../requests'
  import alert from '../../../common/sweet-alert'
  import {mapGetters} from 'vuex'
  import _ from 'underscore'
  import store from "../../../main/stores/index";
  import DepositModalContainer from '../dashboard/payments/deposit/DepositModalContainer'
  import {handleErrorForAlert} from "@/main/utilities";

  export default {
    name: "exchange-modal",
    components: {
      DepositModalContainer
    },
    data() {
      return {
        openDeposit: false,
        isShow: false,
        isOpenSelectCurrencyFrom: false,
        isOpenSelectCurrencyTo: false,
        isAmountToFocus: false,
        isAmountFromFocus: false,
        balanceAmountTo: null,
        balanceAmount: null,
        allExchangeAccounts: {},
        exchangeRate: 0,
        commission: 0,
        number_of_decimals: 0,
        error: null,
        bid: null,
        ask: null,
        spread: null,
        form: {
          currency_from: null,
          currency_to: null,
          amount_from: null,
          amount_to: null,
          pair: null,
          amount: null,
          side: null,
          price: null
        }
      }
    },
    created() {
      this.loadIndexData()
      eventBus.$on('open-exchange-modal', (data = null) => {
        this.resetAmount()
        if (!data) {
          this.open();
          return true;
        } else {
          this.form.currency_from = data.currencyFrom;
          this.$nextTick(() => {
            this.form.currency_to = data.currencyTo;
            this.$nextTick(() => {
              this.open();
            });
          });
        }
      });
    },
    computed: {
      ...mapGetters({
        isUserVerified: 'isUserVerified',
        cryptoCurrencies: 'getCryptoCurrencies',
        exchangeRates: 'getExchangeRates',
        userAccounts: 'getUserAccounts',
        activeSocket: 'getActiveSocket',
        tokenCurrencies: 'getTokenCurrencies'
      }),
      getExchangeAccounts() {
        return this.allExchangeAccounts[this.form.currency_from]
      },
      getExchangeAccount() {
        return _.findWhere(this.getExchangeAccounts, {
          currency_to: this.form.currency_to
        });
      },
      hasBalanceAmount() {
        return (this.balanceAmount > this.form.amount_from
          && this.form.amount_from !== null) || this.form.amount_from === null;
      },
    },
    watch: {
      isAmountToFocus(focus) {
        if (focus && this.form.amount_to === 0) {
          this.form.amount_to = null
        }
      },
      isAmountFromFocus(focus) {
        if (focus && this.form.amount_from === 0) {
          this.form.amount_from = null
        }
      },
      'form.currency_from'() {
        const exchangeAccounts = _.first(this.getExchangeAccounts, 1)

        if (exchangeAccounts.length) {
          this.form.currency_to = exchangeAccounts[0].currency_to
        }

        this.setBalance(this.form.currency_from)
        this.setBalanceTo(this.form.currency_to)
        this.resetAmount()
      },
      'form.amount_from'() {
        if (!this.isAmountToFocus) {
          this.calcAmountToAndCommission()
        }
      },
      'form.currency_to'() {
        const exchangeAccounts = _.first(this.getExchangeAccounts, 1)

        if (exchangeAccounts.length) {
          this.form.currency_from = exchangeAccounts[0].currency_from
        }

        this.setBalance(this.form.currency_from)
        this.setBalanceTo(this.form.currency_to)
        this.setExchangeRate()
        this.resetAmount()
      },
      'form.amount_to'() {
        if (!this.isAmountFromFocus) {
          this.calcAmountFromAndCommission()
        }
      },
      userAccounts() {
        if (this.form.currency_from != null) {
          this.setBalance(this.getExchangeAccount.currency_from);
          this.setBalanceTo(this.getExchangeAccount.currency_to);
        }
      },
      exchangeRates() {
        if (this.getExchangeAccount !== undefined) {
          this.setExchangeRate();
          if ((this.isAmountFromFocus && this.form.amount_from) || !this.isAmountToFocus) {
            this.calcAmountToAndCommission();
          } else if ((this.isAmountToFocus && this.form.amount_to) || !this.isAmountFromFocus) {
            this.calcAmountFromAndCommission();
          }
        }
      },
      allExchangeAccounts() {
        this.setExchangeRate()
      },
    },
    methods: {
      updateSelectedRate(){},
      loadIndexData() {
        spinner.toggle(true);
        requests.exchange.getIndexData().then(({data}) => {
          this.allExchangeAccounts = data.exchange_account
          this.$store.commit('updateExchangeAccounts', this.allExchangeAccounts)
          this.form.currency_from = _.keys(this.allExchangeAccounts)[0];
          spinner.toggle(false);
        }).catch(e => {
          spinner.toggle(false);
        })
      },
      toggle(isShow) {
        jQuery('body').toggleClass('overflow-hidden', isShow);
        this.isShow = isShow
      },
      close() {
        this.toggle(false)
      },
      open() {
        this.toggle(true)
      },
      openDepositModal() {
        this.$refs.modalWrapper.open()
        this.$store.dispatch('setAccountCurrencyForPayment', this.form.currency_from)
      },
      openSelectCurrencyFrom() {
        this.isOpenSelectCurrencyFrom = !this.isOpenSelectCurrencyFrom;
      },
      openSelectCurrencyTo() {
        this.isOpenSelectCurrencyTo = !this.isOpenSelectCurrencyTo;
      },
      selectCurrencyFrom(currencyFrom) {
        this.form.currency_from = currencyFrom;
      },
      selectCurrencyTo(currencyTo) {
        this.form.currency_to = currencyTo;
      },
      setBalance(currency) {
        this.userAccounts.map((account) => {
          if (account.currency === currency) {
            this.balanceAmount = formatMoney(account.amount, currency);
          }
        })
      },
      setBalanceTo(currency) {
        this.userAccounts.map((account) => {
          if (account.currency === currency) {
            this.balanceAmountTo = formatMoney(account.amount, currency);
          }
        })
      },
      setExchangeRate() {
        if (this.exchangeRates && this.getExchangeAccount !== undefined) {
          let directPair = this.getExchangeAccount.currency_from + '-' + this.getExchangeAccount.currency_to;
          let reversePair = this.getExchangeAccount.currency_to + '-' + this.getExchangeAccount.currency_from;
          if (Object.keys(this.exchangeRates).includes(directPair)) {
            this.form.pair = directPair
            this.form.side = 'SELL'
            this.getExchangeAccount.value = this.exchangeRate = (this.exchangeRates[directPair][0].bid).toFixed(8)
            this.bid = this.exchangeRates[directPair][0].bid
            this.ask = this.exchangeRates[directPair][0].ask
            this.spread = Math.abs(this.bid - this.ask)
            this.number_of_decimals = store.getters.getCurrencies.find(setting => setting.name ===
              this.exchangeRates[directPair][0].currency_to).number_of_decimals
          } else if (Object.keys(this.exchangeRates).includes(reversePair)) {
            this.getExchangeAccount.value = this.exchangeRate = (this.exchangeRates[reversePair][1].ask).toFixed(8)
            this.form.pair = reversePair
            this.form.side = 'BUY'
            this.bid = this.exchangeRates[reversePair][1].bid
            this.ask = this.exchangeRates[reversePair][1].ask
            this.spread = Math.abs(this.bid - this.ask)
            this.number_of_decimals = store.getters.getCurrencies.find(setting => setting.name ===
              this.exchangeRates[reversePair][1].currency_to).number_of_decimals
          }
        }
      },
      calcAmountFromAndCommission() {
        if (this.form.amount_to > 0) {
          this.form.amount_from = this.form.amount_to / this.exchangeRate
          this.commission = RoundAmount.ceil10(this.form.amount_to * this.getExchangeAccount.commission
            , -this.number_of_decimals)

          if (this.form.amount_from !== null) {
            this.form.amount_from = formatMoney(this.form.amount_from, this.form.currency_from)
          }
        }
      },
      calcAmountToAndCommission() {
        if (this.form.amount_from > 0) {
          this.form.amount_to = this.form.amount_from * this.exchangeRate
          this.form.amount = this.form.amount_from * this.exchangeRate
          this.commission = RoundAmount.ceil10(this.form.amount_to * this.getExchangeAccount.commission, -this.number_of_decimals)
          if (this.form.amount_to !== null) {
            this.form.amount_to = formatMoney(this.form.amount_to, this.form.currency_to)
          }
        }
      },
      resetAmount() {
        this.form.amount_from = null;
        this.form.amount_to = null;
      },
      onInputAmountTo() {
        this.calcAmountFromAndCommission();
      },
      cryptoLengthValidate(currency, amount, event) {
        if (this.form[amount] && (this.form[currency] === "BTC" || this.form[currency] === "ETH" || this.form[currency] === "USDT")) {
          let result = this.form[amount].match('^\\d+(\\.\\d{0,7})?$');
          if (!result && event.code !== 'Backspace') {
            event.preventDefault();
          }
        }
      },
      onSubmit() {
        if (this.isSelectedPairWithToken() && !this.isPairAllowTrade()) {
          this.makeNewTokenClaimRequest()
        } else {
          if (this.isSelectedPairWithToken()) {
            this.makeNewTokenAddressRequest().then(() => {
              this.makeNewOrderRequest()
            }).catch(({response}) => {
              spinner.toggle(false)
              alert.error(handleErrorForAlert(response.data.errors))
            })
          } else {
            this.makeNewOrderRequest()
          }

        }
      },
      isSelectedPairWithToken() {
        return this.tokenCurrencies.includes(this.form.currency_from)
          || this.tokenCurrencies.includes(this.form.currency_to)
      },
      isPairAllowTrade() {
        return this.getExchangeAccount.allow_trade
      },
      makeNewTokenAddressRequest() {
        return requests.exchange.generateUserTokenAddress()
          .catch(({response}) => {
          spinner.toggle(false)
          alert.error(handleErrorForAlert(response.data.errors))

        })
      },
      makeNewOrderRequest() {
        this.form.type = 'MARKET'
        this.form.system = this.isSelectedPairWithToken() ? 'TOKEN' : 'INTERNAL'
        this.form.amount = this.form.side === 'SELL' ? this.form.amount_from : this.form.amount_to
        spinner.toggle(true)
        requests.terminal.postOrderData(this.form)
          .then(response => {
            let text = 'Order created successfully!'
            if (response.data.id !== null) {
              text += ` Order ID: ${response.data.id}`
            }
            alert.success({text: text, timer: 7000})
            requests.terminal.sendEmail(response.data)
            this.$store.dispatch('updateUserAccount').then(() => {
              this.resetAmount();
              spinner.toggle(false);
              this.close();
            })
          })
          .catch(({response}) => {
            spinner.toggle(false)
            alert.error(handleErrorForAlert(response.data.errors))

          })
      },
      makeNewTokenClaimRequest() {
        spinner.toggle(true)
        requests.exchange.postNewTokenClaim(this.form)
          .then(response => {
            let text = 'Exchange was successful!'
            if (response.data.txid !== null) {
              text += ` TXID: ${response.data.txid}`
            }
            alert.success({text: text, timer: 7000})
            requests.terminal.sendEmail(this.form)
            this.$store.dispatch('updateUserAccount').then(() => {
              this.resetAmount();
              spinner.toggle(false);
              this.close();
            })
          })
          .catch(({response}) => {
            spinner.toggle(false)
            alert.error(handleErrorForAlert(response.data.errors))

          })
      },
      toFixed_5_8(num) {
        return num.toFixed(5) === '0.00000' ?
          (num.toFixed(8) === '0.00000000' ? num.toFixed(11) : num.toFixed(8)) : num.toFixed(5)
      },
      toFixedRight(num) {
        return formatMoney(num, this.form.currency_to, false);
      }
    },
    filters: {
      formatMoney,
      getCurrencyAlias,
      getCurrencyIcon,
      parseFixed(amount) {
        return parseFloat(amount).toFixed(5) * 1
      },
    },
  }
</script>

