<template>
  <div class="activate text-center d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex align-items-center">
      <div class="col-sm-12">
        <div v-if="isMobile()" class="row">
          <div class="col-xl-8 col-lg-8 col-12">
            <p class="section-mobile-title">{{ $t("main.links_bitexfin") }} <br> {{ $t("main.mobile_application") }}</p>
            <p class="section-mobile-text">{{ $t("main.text49") }}.</p>
            <div class="section-mobile-buttons">
              <div class="section-mobile-button-links">
                <a href="https://play.google.com/store/apps/details?id=com.bitexfin" target="blank">
                  <img src="/assets/images/index/gp.png" alt="" class="google-img"></a>
                <a href="https://apps.apple.com/us/app/bitexfin/id1482164043" target="blank">
                  <img src="/assets/images/index/App_Store.png" alt=""></a>
              </div>
            </div>
          </div>
          <div class="col-xl-3 offset-xl-1 col-lg-4 d-none d-lg-block">
            <img src="/assets/images/index/PSD.png" alt="">
          </div>
        </div>
        <div v-else class="mt-8 mb-8 row justify-content-center buttons-group-row">
          <div v-if="!isLogged" class="footer-buttons">
            <button class="footer-button1" @click="toggleRegisterModal()">{{ $t("bitexcard.sign_up") }}</button>
            <button class="footer-button1" @click="toggleLoginModal()">{{ $t('bitexcard.log_in') }}</button>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-8">
            <activate-bitexcard-instruction/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {isMobile} from "@/main/utilities";
  import {mapGetters} from 'vuex'
  import ActivateBitexcardInstruction from "@/main/views/rules/ActivateBitexcardInstruction";

  export default {
    name: 'Activate',
    components: {
      ActivateBitexcardInstruction
    },
    data() {
      return {
        component: '',
        title: ''
      }
    },
    mounted() {
      if (this.isLogged) {
        window.location.href = `/dashboard?b=1`
      }
    },
    computed: {
      ...mapGetters({
        isLogged: 'isAuthenticated',
        registerModal: 'getOpenRegisterModal',
        loginModal: 'getOpenLoginModal'
      })
    },
    methods: {
      isMobile,
      toggleRegisterModal() {
        this.$store.commit('setOpenRegisterModal', !this.registerModal)
      },
      toggleLoginModal() {
        this.$store.commit('setOpenLoginModal', !this.loginModal)
      },
    }
  }
</script>
