<template>
  <div class="text-center d-flex flex-column justify-content-center align-items-center not-found-box">
    <div class="d-flex align-items-center">
      <div class="col-sm-12">
        <div class="row justify-content-center">
          <div class="footer-buttons">
            <button class="footer-button1" @click="onOpenLoginModal">{{ $t("header.log") }} {{ $t("header.log2") }}
            </button>
            <button class="footer-button1" @click="onContinue">{{ $t('words.continue') }}</button>
          </div>
        </div>
      </div>
      <ModalWrapper ref="modalWrapper" :title="$t(`${title}`)">
        <component :is="component" @close-modal="$refs.modalWrapper.close()"/>
        <!--        <PaymentExternal @close-modal="$refs.modalWrapper.close()"/>-->
      </ModalWrapper>
    </div>

  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import PaymentExternal from './dashboard/profile/payment-methods/modals/PaymentExternal'
  import Login from '../layouts/main/Login'
  import alert from "../../common/sweet-alert";

  export default {
    components: {
      PaymentExternal,
      Login
    },
    data() {
      return {
        component: '',
        title: ''
      }
    },
    mounted() {
      if (this.$route.params.err) {
        this.onContinue(this.$route.params.err);
      }
      if(this.$route.query.btn) {
        this.onContinue()
      }

      if (this.isLogged) {
        window.location.href = `/dashboard?hash=${this.$route.params.hash}`
      }
    },
    computed: {
      ...mapGetters({
        isLogged: 'isAuthenticated'
      })
    },
    methods: {
      onOpenLoginModal() {
        if (this.isLogged) {
          window.location.href = `/dashboard?hash=${this.$route.params.hash}`
        } else {
          this.component = 'login';
          this.title = this.$t('modal.authorization');
          this.$refs.modalWrapper.open()
        }
      },
      onContinue(err = null) {
        if (this.isLogged) {
          window.location.href = err?`/dashboard?hash=${this.$route.params.hash}&${err}`:`/dashboard?hash=${this.$route.params.hash}`;
        } else {
          this.component = 'payment-external';
          this.title = '';
          this.$refs.modalWrapper.open();

          if (err === 'mr_error') {
            alert.error(this.$t('words.mr_error'))
          } else if (err === 'mr_cancel') {
            alert.error(this.$t('words.mr_cancel'))
          }
        }
      }
    }

  }
</script>
