<template>

  <div class="maintenance text-center">
    <div class="maintenance__content">
      <div class="text-uppercase">
          {{ $t("landing_blockers.maintenance1") }}<br>
          {{ $t("landing_blockers.maintenance2") }}<br>
      </div>
    </div>
  </div>

</template>

<script>

  export default {
    name: 'maintenance'
  }

</script>
