<template>

  <div class="text-center d-flex flex-column justify-content-center align-items-center not-found-box">
    <div class="not-found-box__item">404</div>
    <div class="text-uppercase h1 mb-0">Not found</div>
  </div>

</template>

<script>

  export default {
    name: 'not-found'
  }

</script>
