<template>
  <div class="text-center d-flex flex-column justify-content-center align-items-center not-found-box">
    <div class="d-flex align-items-center">
      <ModalWrapper ref="modalWrapper" :title="$t(`${title}`)" :close_button="false">
        <component :is="component" @close-modal="$refs.modalWrapper.close()"/>
        <!--        <PaymentExternal @close-modal="$refs.modalWrapper.close()"/>-->
      </ModalWrapper>
    </div>

  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import PaymentExternal from './dashboard/profile/payment-methods/modals/PaymentExternal'
  import Login from '../layouts/main/Login'
  import alert from "../../common/sweet-alert";

  export default {
    name: 'PaymentButtonWidget',
    components: {
      PaymentExternal,
      Login
    },
    data() {
      return {
        component: '',
        title: ''
      }
    },
    mounted() {

      this.onContinue(this.$route.params.err);
    },
    created() {

    },
    computed: {
      ...mapGetters({
        isLogged: 'isAuthenticated'
      })
    },
    methods: {
      onContinue(err = null) {
        this.component = 'payment-external';
        this.title = '';


        if (err === 'mr_error') {
          alert.error(this.$t('words.mr_error'))
        } else if (err === 'mr_cancel') {
          alert.error(this.$t('words.mr_cancel'))
        } else if (err === 'mr_success') {
          alert.success(this.$t('words.mr_success'))
        } else {
          this.$refs.modalWrapper.open();
        }
      }
    }

  }
</script>
