<template>
  <div class="shop text-center d-flex flex-column justify-content-center align-items-center">
    <div class="row justify-content-center">
      <div class="col-sm-12" style="width: 100%; margin: 60px 0;">
        <div class="row justify-content-center text-wrap"><h2>Адреса магазинов</h2></div>
        <div v-for="market in markets" class="row justify-content-center text-wrap pl-3 pr-3 mb-2">
          <a target="_blank" :href="market.url">{{market.label}}</a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center  mb-5">
      <div class="footer-buttons">
        <router-link class="footer-button1" tag="button" to="/activate">{{ $t("bitexcard.activate") }}</router-link>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    name: 'Shop',
    data() {
      return {
        component: '',
        title: '',
        markets: [
          {label: 'Vestingstraat 79, 2018 Antwerpen, Belgium', url: 'https://goo.gl/maps/RHLwBMJQa1GVwqK58'},
          {label: 'Mariahilfer Str. 95, 1060 Wien, Австрия', url: 'https://goo.gl/maps/KzL7Xpn6r8pRxTyb7'},
          {label: 'Fasangasse 22/GL2, 1030 Wien, Austria', url: 'https://goo.gl/maps/pt8kZeZEa2x9Ks3L6'},
          {label: 'Gablenzgasse 1-3, Top 26A, 1150, Austria', url: 'https://goo.gl/maps/vH4pTa5Ygg6YUyFx8'},
          {label: 'Floridsdorfer Hauptstraße 29, 1210 Wien, Austria', url: 'https://goo.gl/maps/EXmRQqKypvPgCW4x7'},
          {label: 'Taborstraße 48A, 1020 Wien, Austria', url: 'https://g.page/city-vape-taborstrasse?share'},
          {label: 'Alser Str. 28, 1090 Wien, Austria', url: 'https://goo.gl/maps/4nh2J3MKms9ht5wP8'},
          {label: 'Hütteldorfer Str. 81B/Top G3, 1150 Wien, Austria', url: 'https://goo.gl/maps/wGpbct3997UvZTJ6A'},
          {label: 'Meidlinger Hauptstraße 20, 1120 Wien, Austria', url: 'https://goo.gl/maps/zBVoZATqqiKsu9yc7'}
        ]
      }
    },
    mounted() {
      if (this.isLogged) {
        window.location.href = `/dashboard?b=1`
      }
    },
    computed: {
      ...mapGetters({
        isLogged: 'isAuthenticated',
        registerModal: 'getOpenRegisterModal',
        loginModal: 'getOpenLoginModal'
      })
    },
    methods: {
      toggleRegisterModal() {
        this.$store.commit('setOpenRegisterModal', !this.registerModal)
      },
      toggleLoginModal() {
        this.$store.commit('setOpenLoginModal', !this.loginModal)
      },
    }
  }
</script>
