<template>

  <div class="left-panel__wrapper">
    <a href="/" class="left-panel__logo"></a>
    <div class="left-panel__break-line"></div>

    <sidebar>
      <div class="left-menu" v-access="{permissions, can: ['admin.users',
                                                           'admin.user',
                                                           'admin.user.update',
                                                           'admin.user.update',
                                                           'admin.user.update.requisites',
                                                           'admin.user.update.settings'
                                                           ]}">
        <a href="/users" class="left-menu left-menu__item">
          <div class="left-menu__icon"><i class="fas fa-users"></i></div>
          <div class="left-menu__content"><span>Пользователи</span></div>
        </a>
      </div>
      <div class="left-menu" v-access="{permissions, can: ['admin.verifications',
                                                           'admin.verifications.discard',
                                                           'admin.verifications.accept'
                                                            ]}">
        <a href="/verifications" class="left-menu left-menu__item">
          <div class="left-menu__icon"><i class="fas fa-hands-helping"></i></div>
          <div class="left-menu__content"><span>Верификация</span></div>
        </a>
      </div>
      <div class="left-menu" v-access="{permissions, can: ['admin.withdrawals',
                                                           'admin.withdrawals.accept',
                                                           'admin.withdrawals.discard'
                                                           ]}">
        <a href="/withdrawals" class="left-menu left-menu__item">
          <div class="left-menu__icon"><i class="fas fa-hand-holding-usd"></i></div>
          <div class="left-menu__content"><span>Заявки на вывод</span></div>
        </a>
      </div>
      <div class="left-menu" v-access="{permissions, can: ['admin.replenishments',
                                                           'admin.replenishments.current-account.replenish',
                                                           'admin.replenishments.current-account.replenish',
                                                           'admin.replenishments.discard'
                                                            ]}">
        <a href="/replenishments" class="left-menu left-menu__item">
          <div class="left-menu__icon"><i class="fas fa-money-check-alt"></i></div>
          <div class="left-menu__content"><span>Заявки на пополнение</span></div>
        </a>
      </div>
      <div class="left-menu" v-access="{permissions, can: ['admin.currencies',
                                                           'admin.currency.update'
                                                           ]}">
        <a href="/currencies" class="left-menu left-menu__item">
          <div class="left-menu__icon"><i class="far fa-money-bill-alt"></i></div>
          <div class="left-menu__content"><span>Добавить валюту</span></div>
        </a>
      </div>
      <div class="left-menu" v-access="{permissions, can: ['admin.exchange',
                                                           'admin.exchange.update',
                                                           'admin.exchange.delete'
                                                           ]}">
        <a href="/exchange-account" class="left-menu left-menu__item">
          <div class="left-menu__icon"><i class="fas fa-exchange-alt"></i></div>
          <div class="left-menu__content"><span>Направления обмена</span></div>
        </a>
      </div>
      <div class="left-menu" v-access="{permissions, can: ['admin.roles',
                                                           'admin.user.roles',
                                                           'admin.user.role.add',
                                                           'admin.user.role.delete',
                                                           ]}">
        <a href="/roles" class="left-menu left-menu__item">
          <div class="left-menu__icon"><i class="fas fa-cogs"></i></div>
          <div class="left-menu__content"><span>Управление правами</span></div>
        </a>
      </div>
      <div class="left-menu" v-access="{permissions, can: ['admin.accounts',
                                                           'admin.account',
                                                           'admin.account.update',
                                                           'admin.account.create'
                                                           ]}">
        <a href="/accounts" class="left-menu left-menu__item">
          <div class="left-menu__icon"><i class="far fa-chart-bar"></i></div>
          <div class="left-menu__content"><span>Управление лимитами</span></div>
        </a>
      </div>
      <div class="left-menu" v-access="{permissions, can: ['admin.cards',
                                                           'admin.card.approve',
                                                           'admin.card.discard'
                                                           ]}">
        <a href="/cards" class="left-menu left-menu__item">
          <div class="left-menu__icon"><i class="fab fa-cc-amex"></i></div>
          <div class="left-menu__content"><span>Управление картами</span></div>
        </a>
      </div>
      <div class="left-menu" v-access="{permissions, can: ['admin.bank-requisite',
                                                           'admin.bank-requisite.discard',
                                                           'admin.bank-requisite.accept'
                                                            ]}">
        <a href="/bank_requisites" class="left-menu left-menu__item">
          <div class="left-menu__icon"><i class="fas fa-landmark"></i></div>
          <div class="left-menu__content"><span>Банковские реквизиты</span></div>
        </a>
      </div>
      <div class="left-menu" v-access="{permissions, can: ['admin.reports',
                                                           'admin.reports.download'
                                                           ]}">
        <a href="/reports" class="left-menu left-menu__item">
          <div class="left-menu__icon"><i class="fas fa-clipboard-list"></i></div>
          <div class="left-menu__content"><span>Отчеты</span></div>
        </a>
      </div>
      <div class="left-menu" v-access="{permissions, can: ['admin.transactions',
                                                           'admin.currencies.get'
                                                           ]}">
        <a href="/transactions" class="left-menu left-menu__item">
          <div class="left-menu__icon"><i class="fas fa-coins"></i></div>
          <div class="left-menu__content"><span>Транзакции</span></div>
        </a>
      </div>
      <div class="left-menu" v-access="{permissions, can: ['admin.system-bank-requisite']}">
        <a href="/system-bank-requisites" class="left-menu left-menu__item">
          <div class="left-menu__icon"><i class="fas fa-money-check"></i></div>
          <div class="left-menu__content"><span>Системные реквизиты</span></div>
        </a>
      </div>
      <div class="left-menu" v-access="{permissions, can: ['admin.terminal-settings']}">
        <a href="/terminal-settings" class="left-menu left-menu__item">
          <div class="left-menu__icon"><i class="fas fa-chart-line"></i></div>
          <div class="left-menu__content"><span>Настройки терминала</span></div>
        </a>
      </div>
      <div class="left-menu" v-access="{permissions, can: ['admin.terminal-settings']}">
        <a href="/external-orders" class="left-menu left-menu__item">
          <div class="left-menu__icon"><i class="fas fa-chart-line"></i></div>
          <div class="left-menu__content"><span>Настройки откупов</span></div>
        </a>
      </div>
      <div class="left-menu" v-access="{permissions, can: ['admin.terminal-settings']}">
        <a href="/vouchers" class="left-menu left-menu__item">
          <div class="left-menu__icon"><i class="fas fa-comments-dollar"></i></div>
          <div class="left-menu__content"><span>Ваучеры</span></div>
        </a>
      </div>
      <div class="left-menu" v-access="{permissions, can: ['admin.terminal-settings']}">
        <a href="/voucher-settings" class="left-menu left-menu__item">
          <div class="left-menu__icon"><i class="fas fa-comments-dollar"></i></div>
          <div class="left-menu__content"><span>Настройки ваучеров</span></div>
        </a>
      </div>
      <div class="left-menu" v-access="{permissions, can: ['admin.accounts', 'admin.account', 'admin.account.update', 'admin.account.create']}">
        <a href="/bonus-percents-on-account" class="left-menu left-menu__item">
          <div class="left-menu__icon"><i class="fas fa-percentage"></i></div>
          <div class="left-menu__content"><span>Тарифы на остаток</span></div>
        </a>
      </div>
      <div class="left-menu" v-access="{permissions, can: ['admin.partners.tariffs']}">
        <a href="/partners/tariffs" class="left-menu left-menu__item">
          <div class="left-menu__icon"><i class="fas fa-percentage"></i></div>
          <div class="left-menu__content"><span>Тарифы (Партнерка)</span></div>
        </a>
      </div>
      <div class="left-menu" v-access="{permissions, can: ['admin.email.delivery']}">
        <a href="/email-delivery" class="left-menu left-menu__item">
          <div class="left-menu__icon"><i class="fas fa-envelope"></i></div>
          <div class="left-menu__content"><span>Email рассылка</span></div>
        </a>
      </div>
      <div class="left-menu" v-access="{permissions, can: ['admin.terminal-settings']}">
        <a href="/service-management" class="left-menu left-menu__item">
          <div class="left-menu__icon"><i class="fas fa-envelope"></i></div>
          <div class="left-menu__content"><span>Управление сервисами</span></div>
        </a>
      </div>
      <div class="left-menu" v-access="{permissions, can: ['admin.api.docs']}">
        <a href="/api-docs" target="blank" class="left-menu left-menu__item">
          <div class="left-menu__icon"><i class="fas fa-envelope"></i></div>
          <div class="left-menu__content"><span>Документация API</span></div>
        </a>
      </div>
    </sidebar>
  </div>
</template>

<script>

  import Sidebar from './Sidebar.vue'
  import {mapGetters} from 'vuex'

  export default {
    name: 'left-panel',
    components: {
      Sidebar,
    },
    computed: mapGetters({
      permissions: 'getPermissions'
    })
  }

</script>
