<template>

  <div class="left-panel">
    <div class="left-panel__content">
      <perfect-scrollbar>
        <slot></slot>
      </perfect-scrollbar>
    </div>
    <div class="left-panel__profile">
      <a href="/dashboard">
        <i class="far fa-user"></i>
      </a>
      <a href="#" @click.prevent="onLogout">
        <i class="fas fa-sign-in-alt"></i>
      </a>
    </div>
  </div>

</template>

<script>

  import spinner from '../../common/spinner'
  import requests from '../requests'

  export default {
    name: "sidebar",
    methods: {
      onLogout() {
        spinner.toggle(true)
        requests.authenticate.logout()
          .then(() => window.location.href = '/login')
          .catch(() => spinner.toggle(false))
      }
    }
  }

</script>