<template>
  <div class="change-password">
    <h2>6. Изменение пароля</h2>
    <p>
      Для того чтобы изменить ваш пароль, зайдите в раздел Безопасность в профиле и введите новый пароль, повторите новый пароль, после чего подтвердите изменение, нажав на кнопку <b>Подтвердить</b>.
    </p>
    <p><img src="/assets/images/how-it/ru/10.png"></p>
  </div>
</template>

<script>
  export default {
    name: 'ChangePassword'
  }
</script>
