<template>
  <div class="confirm-your-phone">
    <h2>2. Подтверждение номера телефона</h2>
    <p>СМС код подтверждения будет автоматически отправлен после заполнения формы регистрации. Введите этот код в соответствующем поле.</p>
    <p><img alt="pic4" src="/assets/images/how-it/ru/3.png"></p>
  </div>
</template>

<script>
  export default {
    name: 'ConfirmYourPhoneRu'
  }
</script>
