<template>
  <div class="deposit-and-withdrawal-ru">
    <h2>9. Пополнение и вывод средств</h2>
    <p>
      Вы можете пополнить свой аккаунт несколькими способами: фиатной валютой или криптовалютой. Для того чтобы пополнить счет фиатной валютой, вам необходимо добавить банковскую карту и/или банковский счет. Процесс добавления банковской карты и банковского счета описан ниже:
    </p>
    <ul>
      <li class="h2">Добавление банковской карты</li>
    </ul>
    <p>
      Перейдите в раздел <b>“Способы оплаты”</b> в профиле, нажмите на знак добавления карты.
    </p>
    <p>Вам необходимо заполнить все поля и приложить фото. Введите имя карты (любое название для вашего удобства), номер карты, имя владельца карты, дату окончания срока действия карты и CVV код. Вам также необходимо будет загрузить фотографию вашей карты, на которой видны первые 6 и последние 4 цифры ее номера, а остальные скрыты, и сэлфи с картой. Для сохранения нажмите <b>Подтвердить</b>.</p>
    <p>Фотографии должны быть высокого качества, текст должен быть читабельным. Вы можете добавить до 5 карт. На карте должно быть ваше имя, и она должна поддерживать 3DSecure.</p>
    <p><img alt="pic17" src="/assets/images/how-it/ru/13.png"></p>
    <p><img alt="pic17" src="/assets/images/how-it/ru/14.png"></p>
    <p>ИСПОЛЬЗОВАНИЕ КАРТЫ</p>
    <ul>
      <li>Мы не рекомендуем добавлять карты Сбербанк Mastercard, так как они некорректно работают с нашим сайтом.</li>
      <li>Операции с кредитными и дебетовыми картами предназначены только для пополнения вашего лицевого счета.</li>
      <li>Клиенты не могут пополнять свои счета с чужой карты. (Можно использовать только именную банковскую карту VISA или MASTERCARD, поддерживающие 3D Secure).</li>
      <li>Операции с картами необратимы и могут быть возмещены за вычетом комиссий платформы, только если они не участвовали в каких-либо торговых операциях.</li>
      <li>Снятие средств с электронных кошельков должно осуществляться только авторизованными способами и с использованием 2FA.</li>
      <li>Средства из Личного кабинета могут быть использованы только для обмена.</li>
      <li>Когда вы добавляете карту, с вас будет взиматься € 1</li>
    </ul>

    <ul>
      <li class="h2">Добавление банковского счета</li>
    </ul>
    <p>
      Для пополнения и вывода с помощью банковского счета вам необходимо добавить банковский счет. Перейдите в раздел <b>“Способы оплаты”</b> в профиле, нажмите на знак добавления банковского счета.
    </p>
    <p>
      Вам необходимо заполнить все поля и приложить фотографии. Введите название  вашего банка, выберите тип банка, введите номер счета владельца, полное имя владельца, адрес владельца и SWIFT код, если вы выбрали тип SWIFT. Загрузите два документа:
    </p>
    <ul>
      <li>Справка об открытии счета</li>
      <li>Выписка со счета за 6 месяцев</li>
    </ul>
    <p>Для того чтобы загрузить документы, нажмите кнопку и выберите файл с вашего компьютера. Подтвердите ваши действия, нажав на <b>Подтвердить</b>.</p>
    <p><img alt="pic17" src="/assets/images/how-it/ru/15.png"></p>
    <p>
      Требования к банковским переводам:
    </p>
    <ul>
      <li>Переводы принимаются только от пользователей, которые успешно прошли проверку личности и подтвердили банковский счет, с которого будет осуществляться перевод.</li>
      <li>Перевод должен осуществляться только со счета, принадлежащего владельцу профиля в BITEXFIN, это означает, что имена владельца банковского счета и профиля в BITEXFIN должны совпадать, а также должны совпадать реквизиты, указанные при верификации банковского счета.</li>
      <li>В назначении вашего платежа необходимо указать reference ID, который мы даем вам, когда вы создаете заявку на пополнение в пользовательском интерфейсе, чтобы правильно идентифицировать платеж и перевести средства на ваш счет.</li>
      <li>Мы не принимаем переводы, осуществляемые с помощью посреднических компаний, таких как Transferwise, Forex и т. д., которые не позволяют идентифицировать источник платежа и / или личность отправителя.</li>
      <li>При добавлении реквизитов для вывода денежных средств в EUR обязательно убедитесь, что Ваш банковский счет также в EUR.</li>
      <li>Нарушение любого из этих требований приведет к тому, что мы вернем ваш платеж обратно, и в дополнение ко всем комиссиям и сборам будет удержано 100 € с суммы платежа, чтобы компенсировать возврат. Осуществляя перевод, вы подтверждаете, что прочитали и согласны с этими требованиями. Оплата будет зачислена на ваш счет в течение 3-5 рабочих дней.</li>
    </ul>

    <ul>
      <li class="h2">Добавление криптовалютных кошельков</li>
    </ul>
    <p>
      Для вывода с помощью криптовалютных кошельков нажмите кнопку <b>Вывод</b> на главной странице Личного кабинета, выберите необходимую криптовалюту, введите сумму, адрес кошелька и подтвердите вывод с помощью СМС кода.
    </p>
    <p><img alt="pic17" src="/assets/images/how-it/ru/16.png"></p>
    <p><img alt="pic17" src="/assets/images/how-it/ru/17.png"></p>

    <ul>
      <li class="h2">Пополнение счета</li>
    </ul>
    <p>Для пополнения любого счета нажмите кнопку <b>Пополнение</b> либо знак + на главной странице Личного кабинета</p>
    <p><img alt="pic17" src="/assets/images/how-it/ru/18.png"></p>
    <ul>
      <li class="h2">Вывод средств</li>
    </ul>
    <p>Для вывода средств с любого счета нажмите кнопку <b>Вывод</b> на главной странице Личного кабинета</p>
    <p><img alt="pic17" src="/assets/images/how-it/ru/19.png"></p>
  </div>
</template>

<script>
  export default {
    name: 'DepositAndWithdrawal'
  }
</script>
