<template>
    <div class="interest-accrual-ru">
        <h2>13. Начисление процентов на остаток CFX</h2>
        <p>
            Вы можете получать процент на остаток CFX. Процент начисляется на минимальный остаток по балансу в течение дня и составляет 0,35% в месяц. Данная возможность включается в профиле, в Настройках, в разделе "Настройки счетов"
        </p>
        <p>
            Например, у вас было 100 CFX, затем вы потратили 90 CFX, после чего положили еще 100 CFX и в итоге у вас стало 110 CFX к концу дня. Минимальная сумма в течение дня = 10 CFX, на которую и будет начисляться процент. Если на следующий день баланс 110 CFX  не изменится, то процент будет начислен на 110 CFX.
        </p>
        <p><img alt="pic17" src="/assets/images/how-it/ru/23.png"></p>
    </div>
</template>

<script>
export default {
  name: "InterestAccrualRu"
}
</script>
