<template>
  <div class="ip-filtration-ru">
    <h2>8. IP фильтрация</h2>
    <p>Вы можете ограничить список IP адресов, которые могут быть использованы для входа на сайт. Это можно сделать в разделе Security в вашем профиле. Если у вас не статичный IP, пожалуйста, не используйте IP фильтрацию!</p>
    <p><img alt="pic17" src="/assets/images/how-it/ru/12.png"></p>
  </div>
</template>

<script>
  export default {
    name: 'IPFiltration'
  }
</script>
