<template>
  <div class="login">
    <h2>3. Вход</h2>
    <p>
      Нажмите на ссылку входа в правом верхнем углу, и откроется окно авторизации. Введите ваш телефон или адрес электронной почты и пароль, затем нажмите <b>Вход</b>.
    </p>
    <p><img alt="pic4" src="/assets/images/how-it/ru/4.png"></p>
  </div>
</template>

<script>
  export default {
    name: 'LoginRu'
  }
</script>
