<template>
  <div class="logout-ru">
    <h2>12. Выход из кабинета</h2>
    <p>После завершения работы с кабинетом обязательно закрывайте сессию - нажмите иконку выхода в меню, либо сессия будет автоматически завершена через 15 минут в случае отсутствия активности</p>
  </div>
</template>

<script>
  export default {
    name: 'LogoutRu'
  }
</script>
