<template>
  <div class="password-recovery">
    <h2>4. Восстановление пароля</h2>
    <p>
      Если вы забыли пароль, вы можете его восстановить. Введите ваш телефон/email и нажмите на <b>Сброс пароля</b>.
    </p>
    <p><img src="/assets/images/how-it/ru/5.png"></p>
    <p>После этого появится следующая форма. На указанный вами номер телефона будет отправлен СМС код. Введите код из сообщения и нажмите <b>Подтвердить</b>. Теперь можно задать новый пароль.</p>
    <p><img src="/assets/images/how-it/ru/6.png"></p>
  </div>
</template>

<script>
  export default {
    name: 'PasswordRecovery'
  }
</script>
