<template>
  <div class="paysend-ru">
    <h2>15. Пополнение счета с помощью банковской карты на https://paysend.com/</h2>

    <p>Перейдите на сайт и пройдите регистрацию, состоящую из 5 шагов:</p>
    <ul>
      <li>на главной странице нажмите на кнопку «Регистрация»; <br/> <img src="/assets/images/how-it/ru/paysend/1.png" width="70%" align="center"></li>
      <li>введите свой номер телефона и нажмите на «Продолжить» <br/> <img src="/assets/images/how-it/ru/paysend/2.png" width="50%" align="center"></li>
      <li>введите свои личные данные и нажмите на «Продолжить» <br/> <img src="/assets/images/how-it/ru/paysend/3.png" width="50%" align="center"></li>
      <li>введите свой адрес проживания и нажмите на «Продолжить» <br/> <img src="/assets/images/how-it/ru/paysend/4.png" width="50%" align="center"></li>
      <li>введите адрес своей электронной почты и нажмите на «Продолжить» <br/> <img src="/assets/images/how-it/ru/paysend/5.png" width="50%" align="center"></li>
      <li>введите код, который Вам пришел в SMS <br/> <img src="/assets/images/how-it/ru/paysend/6.png" width="50%" align="center"></li>
    </ul>



    <p>Нажмите на кнопку "Отправить деньги"</p>
    <p><img src="/assets/images/how-it/ru/paysend/7.png" width="50%" align="center"></p>

    <p>Выберите страну получателя - Англия, валюту - евро, способ получения - "На счет"</p>
    <p><img src="/assets/images/how-it/ru/paysend/8.png" width="50%" align="center"></p>
    <p><img src="/assets/images/how-it/ru/paysend/9.png" width="50%" align="center"></p>
    <p><img src="/assets/images/how-it/ru/paysend/10.png" width="50%" align="center"></p>
    <p><img src="/assets/images/how-it/ru/paysend/11.png" width="50%" align="center"></p>


    <p>Введите сумму платежа</p>
    <p><img src="/assets/images/how-it/ru/paysend/12.png" width="50%" align="center"></p>

    <p>Ниже заполните реквизиты получателя</p>
    <p><img src="/assets/images/how-it/ru/paysend/13.png" width="50%" align="center"></p>

    <p>Для этого используйте данные, указанные в окне с краткой инструкцией</p>
    <p><img src="/assets/images/how-it/ru/paysend/14.png" width="50%" align="center"></p>

    <p>В конце введите данные своей карты для пополнения и нажмите на «Продолжить»</p>
    <p><img src="/assets/images/how-it/ru/paysend/15.png" width="50%" align="center"></p>


  </div>
</template>

<script>
  export default {
    name: 'PaysendRu'
  }
</script>
