<template>
  <div class="registration">
    <h2>1. Регистрация</h2>
    <p>
      Для регистрации в системе вы должны нажать Зарегистрироваться и заполнить открывшуюся форму.
    </p>
    <p><img alt="pic1" src="/assets/images/how-it/ru/1.png"></p>
    <p><img alt="pic2" src="/assets/images/how-it/ru/2.png"></p>
    <p>
      Введите вашу фамилию, имя, выберите страну. Потребуется номер вашего мобильного телефона, адрес электронной почты и пароль. Во избежание ошибок пароль нужно ввести дважды. Пароль должен состоять не менее чем из 8 символов, обязательно наличие заглавной буквы, цифры и спецсимвола. В конце нажмите на кнопку <b>Создать аккаунт</b>.
    </p>
  </div>
</template>

<script>
  export default {
    name: 'RegistrationRu'
  }
</script>
