<template>
  <div class="sell-buy-ru">
    <h2>10. Обменные операции</h2>
    <p>
      Для того чтобы быстро обменять криптовалюту можете использовать раздел “Ставки” на главной странице личного кабинета. Вы можете менять криптовалюту на криптовалюту, криптовалюту на фиатную валюту и обратно. В открывшейся форме выберите валюту/криптовалюту и введите сумму, которую вы хотите обменять. Далее будет рассчитана комиссия, и вы увидите примерную сумму, которую вы получите за вычетом комиссии, после чего необходимо нажать на кнопку <b>Обменять</b>.
    </p>
    <p><img alt="pic17" src="/assets/images/how-it/ru/20.png"></p>
    <p>
      Если у вас недостаточно средств на счете, система вам об этом сообщит
    </p>
    <p><img alt="pic17" src="/assets/images/how-it/ru/21.png"></p>
  </div>
</template>

<script>
  export default {
    name: 'SellBuyRu'
  }
</script>
