<template>
  <div class="settings-ru">
    <h2>11. Настройки уведомлений</h2>
    <p>
      Вы можете настроить события, при которых вам на почту будет приходить уведомляющее письмо:
    </p>
    <ul>
      <li>при авторизации,</li>
      <li>при смене пароля,</li>
      <li>при обменных операциях.</li>
    </ul>
    <p>Это можно сделать в разделе Настройки в профиле.</p>
    <p><img alt="pic17" src="/assets/images/how-it/ru/22.png"></p>
  </div>
</template>

<script>
  export default {
    name: 'SettingsRu'
  }
</script>
