<template>
  <div class="two-factor-authentication">
    <h2>7. Двухфакторная аутентификация</h2>
    <p>Чтобы повысить безопасность вашего аккаунта, мы настоятельно рекомендуем использовать механизм двухфакторной аутентификации. Это значит, что вам будет необходимо вводить код из СМС каждый раз при входе в кабинет. Для его включения зайдите в раздел Безопасность в вашем профиле. Для сохранения нажмите кнопку <b>Coхранить</b>.</p>
    <p><img alt="pic16" src="/assets/images/how-it/ru/11.png"></p>
  </div>
</template>

<script>
  export default {
    name: 'TwoFactorAuthenticationRu'
  }
</script>
