<template>
  <div class="verify">
    <h2>5. Верификация</h2>
    <p>
      Сразу после регистрации вам доступно ограниченное количество методов пополнения и вывода (только криптовалюты). Чтобы повысить лимиты и разрешить дополнительные методы (USD, EUR, RUB…) пройдите верификацию.
    </p>
    <p><img src="/assets/images/how-it/ru/7.png"></p>
    <p>Войдите в профиль и заполните последовательно все поля: Контакты, Личные данные, Адрес проживания и предоставьте три документа:</p>
    <ul>
      <li>Фото удостоверения, подтверждающего вашу личность;</li>
      <li>Счет за коммунальные услуги, прописку или другой документ, подтверждающий фактический адрес вашего проживания;</li>
      <li>Селфи и документом, удостоверяющим личность и листком бумаги, на котором от руки написана текущая дата и текст: “bitexfin.com”.</li>
    </ul>
    <p><img src="/assets/images/how-it/ru/8.png"></p>
    <p>Качество фотографий должно быть высоким, текст должен быть читабельным. Для того чтобы загрузить фотографии нажмите на кнопку <b>Выберите</b> файл и выберите документ с вашего компьютера. Для каждого раздела возможно выбрать несколько файлов. Когда вы загрузили все документы, нажмите кнопку “Отправить на верификацию”. Верификация может занимать от 5 минут до 24 часов.</p>
    <p>Когда ваши данные проверят, вы получите письмо на email адрес, а также вам придет уведомление на сайте в вашем личном кабинете. Если вы успешно прошли верификацию, вы увидите в профиле следующий статус: верифицирован.</p>
    <p><img src="/assets/images/how-it/ru/9.png"></p>
  </div>
</template>

<script>
  export default {
    name: 'Verify'
  }
</script>
