<template>
  <div class="verify">
    <h2>14. Ваучеры</h2>
    <p>
      Вы можете отправлять пользователям системы Bitexfin денежные средства с помощью ваучеров (stable tokens и криптовалюту)
    </p>
    <p><img alt="pic17" src="/assets/images/how-it/ru/24.png"></p>
    <p>
      При создании ваучера вы можете добавить ПИН код и передать его адресату. Без него ваучер активировать не получится. После создания ваучера вы можете скопировать ссылку на него и отправить ее любым доступным способом, сканировать QR код или автоматически отослать ссылку на ваучер по телефону или email (адресат должен быть зарегистрирован в системе Bitexfin)
    </p>
    <p><img alt="pic17" src="/assets/images/how-it/ru/25.png"></p>
    <p>
      Список Активированных и Неактивированных ваучеров отобразится ниже. После создания доступны некоторые действия с ваучером, в том числе удаление, если он не был активирован
    </p>
    <p><img alt="pic17" src="/assets/images/how-it/ru/26.png"></p>
  </div>
</template>

<script>
  export default {
    name: 'VouchersRu'
  }
</script>
