.left-bar {
  color: #0c1117;
  background-color: #e6e6f0;
  min-width: 268px;
  max-width: 268px;
  font-size: 12px;
  position: fixed;
  z-index: 1000;
  height: 100%;
  overflow: auto;
  .left-bar-tabs {
    padding-top: 1.5rem;
    .tab {
      padding-bottom: 10px;
      &:hover {
        cursor: pointer;
      }
      &.active {
        border-bottom: 2px #000 solid;
      }
    }
  }
  .left-bar-header {
    height: 60px;
    .notify-count {
      padding: 1px 10px;
      font-size: 12px;
      border-radius: 10px;
      background-color: #ea5348;
    }
  }
  .left-bar-body {
    .user-account {
      background: #e6e6f0;
    }
    .user-account-transactions {
      &.d-flex.flex-column.mb-4.mt-lg-0.mt-4 {
        @media screen and (max-width: 1200px) {
          margin-top: 1.5rem!important;
        }
      }
      .user-account-item-transaction {
        line-height: 1.2;
        margin-bottom: 10px!important;
      }
    }
    .notify-list {
      margin-left: -15px;
      margin-right: -15px;
      .notify-item {
        color: #000;
        padding: 15px;
        border-top: 2px solid #11141e;
        font-size: 11px;
        .btn-secondary {
          font-size: 12px;
          border-color: #000;
          color: #000;
        }
        .remove-notify {
          cursor: pointer;
        }
        &:hover {
          background-color: #a7a7b7;
          color: #e6e6f0;
          transition: color ease-in 0s;
          .btn-secondary {
            color: #e6e6f0;

            &.green {
              color: black!important;
              border-color: #00da77!important;
            }
          }
        }
      }
    }
  }
}
.dashboard-layout .left-bar .close-left-panel {
  position: absolute;
  right: 5px;
  top: 5px;
}
@media(max-width:768px) {
  .left-bar {
    //display: none;
  }
}

@media(min-width:769px) {
  .left-bar {
    display: block !important;
  }
}
