<template>
    <div class="login">
      <form id="login" class="login__form" method="post" @submit.prevent="onSubmit">
        <div class="login__logo"></div>
        <div class="login__border"></div>

        <div class="login__form--content">
          <error-view :errors.sync="errors" :has-close="true"></error-view>

          <div class="form-group">
            <input type="text" class="form-control" name="login" placeholder="Моб. телефон или эл. адрес" v-model="form.login">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Пароль" v-model="form.password">
          </div>

          <button type="submit" class="btn btn-lg btn-primary btn-block">Войти</button>
        </div>
      </form>
    </div>
</template>

<script>
import spinner from '../../common/spinner'
import requests from '../requests'
import {handlerErrors} from "../../main/utilities";
import alert from "../../common/sweet-alert";
export default {
  name: 'LoginForm',
  data() {
    return {
      errors: [],
      form: {
        login: '',
        password: ''
      }
    };
  },
  methods: {
    onSubmit() {
      spinner.toggle(true);
      requests.authenticate.login(this.form)
        .then(() => window.location.href = '/')
        .catch(({ response }) => {
          alert.error(response.data.message)
          spinner.toggle(false);
        });
    }
  }
}
</script>
