<template>
  <div class="d-flex flex-column courses">
    <div class="d-flex header justify-content-between align-items-baseline">
      <h3 class="courses__title">{{ $t("dashboard.index.rates") }}</h3>
      <form class="form-custom black">
        <div class="form-control-custom mb-0">
          <div class="dropdown-select border-bottom-0" @click="openSelect"
              @mouseenter="isFocusSelect = true" @mouseleave="isFocusSelect = false">
            <div class="d-flex flex m-0 align-items-center border-0" style="flex-direction: unset">
              <span class="text-silver mr-2">{{ $t("dashboard.index.price_in") }}:</span>
              <div class="border-bottom-hover black-hover" style="width:150px; margin-top: 3px;">
                <input class="border-0" style="width: 130px;" disabled v-model="selectedItem"/>
                <i class="fas fa-caret-down ml-auto" v-if="!isOpenSelect"></i>
                <i class="fas fa-caret-up ml-auto" v-else></i>
              </div>
            </div>
            <ul v-show="isOpenSelect">
              <template v-for="currency in currencies" v-if="checkUserAllowedCurrencies({currency: currency.name})">
                <li v-if="currency.name != 'CFX'" :value="currency.view" class="pl-2 pr-2"
                    @click="selectItem(currency.name)">{{ currency.view }}</li>
              </template>
            </ul>
          </div>
        </div>
      </form>
    </div>
    <div class="search">
      <form class="form-custom black">
        <div class="form-control-custom search">
          <i class="fas fa-search"></i>
          <input type="text" :placeholder="$t('dashboard.index.search')"
              name="search" v-model="searchCourse" @input="onSearchCourse"/>
        </div>
      </form>
    </div>
    <div class="d-flex flex-column overflow-auto courses-body">
      <div v-for="(pair, index) in exchangeRatesPreview" v-if="checkPairInExchangeAccount(pair)"
          role="button" class="d-flex flex-column item justify-content-center"
          :class="{open: open && selectedFormCourse === index}">
        <div class="d-flex header courses-header justify-content-between" @click="selectCourse(index)">
          <div class="d-flex left rates-box--mob">
            <div class="rates-box__item--mob">
              <span class="mr-1">
                <img v-if="isIconExists(getBaseCurrency(pair))"
                    style="vertical-align: middle" height="24px" alt="" class="mr-2"
                    :src="getBaseCurrency(pair) | getCurrencyIcon"/> 1 {{ getBaseCurrency(pair) }} ≈</span>
              <span class="font-weight-bold">
                <img v-if="isIconExists(getQuoteCurrency(pair))"
                    style="vertical-align: middle" height="24px" alt="" class="mr-2"
                    :src="getQuoteCurrency(pair) | getCurrencyIcon"/>
                <template v-if="exchangeRate[pair]"
                  >{{ exchangeRate[pair].price | formatMoney(getQuoteCurrency(pair)) }}</template>
              </span>
            </div>
          </div>
          <div class="right courses-right-icon">
            <i class="fas fa-angle-up text-silver no-pointer-events"></i>
            <i class="fas fa-angle-down text-silver no-pointer-events"></i>
          </div>
        </div>
        <exchange-form v-if="selectedFormCourse == index"
            :rates-array="ratesArray"
            :pair="pair"
            :currency-from="getBaseCurrency(pair)"
            :currency-to="getQuoteCurrency(pair)"
            :exchange-rates="exchangeRates"
            :key="pair"
            @update-reverse-rates="setExchangeReversePair"
        />
      </div>
    </div>
    <div class="courses-footer">
      <img role="button" @click="onShowAllExchangeRates"
          class="arrow-down" src="/assets/images/down-arrow.svg"
          :style="isShowExchangeRates ? 'transform: rotate(180deg)' : ''"/>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import {
    checkUserAllowedCurrencies,
    formatDateTime,
    formatMoney,
    getCurrencyAlias,
    getCurrencyIcon,
    getCurrencySymbol
  } from "../../../utilities";
  import _ from "underscore";
  import ExchangeForm from "./ExchangeForm";

  export default {
    name: "ExchangeRates",
    components: {
      ExchangeForm,
    },
    computed: {
      ...mapGetters({
        exchangeRates: "getExchangeRates",
        exchangeAccounts: "getExchangeAccounts",
        currencies: "getCurrencies",
      }),
      exchangeRatesPreview() {
        //ONLY FOR RECOMPUTING
        this.valueForRecomputingExchangeRatesPreview++;
        let pairs = this.pairs.filter(pair =>
          checkUserAllowedCurrencies({pair: pair})
        );
        this.pairs = pairs.filter(
          pair => pair.toUpperCase().indexOf("CFX") === -1 || pair.toUpperCase() === 'CFX-PSN'
        );

        if (this.searchCourse !== "") {
          this.onSearchCourse();
        }
        if (!this.isShowExchangeRates) {
          let filteredPairs = [];
          _.each(this.pairs, pair => {
            if (this.checkPairInExchangeAccount(pair)) {
              filteredPairs.push(pair);
            }
          });

          this.pairs = filteredPairs;
          return this.pairs.slice(0, 5);
        }
        return this.pairs;
      }
    },
    data() {
      return {
        valueForRecomputingExchangeRatesPreview: 0,
        selectedItem: "BTC",
        isFocusSelect: false,
        isOpenSelect: false,
        isShowExchangeRates: false,
        exchangeRate: {},
        openFirstCourse: true,
        selectedFormCourse: 0,
        pairs: [],
        ratesArray: [],
        searchCourse: "",
        open: true,
      };
    },
    watch: {
      selectedFormCourse(oldVal, newVal) {
        this.setExchangeRate();
      },
      exchangeAccounts() {
        this.selectItem(this.selectedItem);
        this.exchangeAccountsFormat();
      },
      exchangeRates(newVal, oldVal) {
        this.selectItem(this.selectedItem);
        this.exchangeAccountsFormat();
        if (newVal !== null) {
          this.setExchangeRate();
        }
      },
      selectedItem() {
        this.openFirstCourse = true;
        let coursesItems = jQuery(".courses-body").find(".item");
        _.each(coursesItems, (item, index) => {
          if (index !== 0) {
            jQuery(item).removeClass("open");
          }
        });
      }
    },

    created() {
      document.addEventListener("click", () => {
        if (!this.isFocusSelect) {
          this.isOpenSelect = false;
        }
      });

    },
    methods: {
      checkUserAllowedCurrencies,
      getCurrencyIcon,
      openSelect() {
        this.isOpenSelect = !this.isOpenSelect;
      },
      selectItem(item) {
        if (this.exchangeRates) {
          this.selectedItem = item;
          this.pairs = Object.keys(this.exchangeRates).filter(pair =>
            pair.split("-").includes(item)
          );
        }
      },
      isIconExists(currency) {
        let iconPath = this.getCurrencyIcon(currency);
        return iconPath.length > 0;
      },

      onSearchCourse() {
        let filteredPairs = [];

        if (this.searchCourse === "") {
          this.selectItem(this.selectedItem);

          return;
        }

        _.filter(this.currencies, currency => {
          let searchCurrency = currency.view
            .toUpperCase()
            .indexOf(this.searchCourse.toUpperCase());
          if (searchCurrency >= 0) {
            _.each(this.pairs, pair => {
              let searchPair = pair
                .toUpperCase()
                .indexOf(currency.name.toUpperCase());
              if (searchPair >= 0 && (pair.toUpperCase().indexOf("CFX") === -1 || pair.toUpperCase() === 'CFX-PSN')) {
                filteredPairs.push(pair);
              }
            });
          } else {
            this.selectItem(this.selectedItem);
          }
        });

        this.pairs = _.uniq(filteredPairs);
      },
      exchangeAccountsFormat() {
        let arr = [];
        _.each(this.exchangeAccounts, function (item) {
          _.each(item, function (rate) {
            arr.push(rate);
          });
        });
        this.ratesArray = arr;
      },
      setExchangeRate() {
        let pairs = Object.keys(this.exchangeRates).filter(pair =>
          pair.split("-").includes(this.selectedItem)
        );
        for (let p = 0; p < pairs.length; p++) {
          let directPair = pairs[p];
          this.setExchangeReversePair(directPair);
        }
      },
      setExchangeReversePair(directPair, reverse = null) {
        let currencies = directPair.split("-");
        let reversePair = currencies[1] + "-" + currencies[0];
        let pair = this.exchangeRates[directPair] ? directPair : reversePair;

        if (this.exchangeRate[pair] === undefined) {
          this.exchangeRate[pair] = {};
          this.exchangeRate[pair].reverse = false;
        }
        if (reverse !== null) {
          this.exchangeRate[pair].reverse = reverse !== false;
          this.valueForRecomputingExchangeRatesPreview++;
        }
        this.exchangeRate[pair].price = this.exchangeRate[pair].reverse
          ? 1 / this.exchangeRates[pair][1].ask
          : this.exchangeRates[pair][0].bid;
      },
      selectCourse(index) {
        if (this.selectedFormCourse === index) {
          this.open = !this.open;
        } else {
          this.selectedFormCourse = index;
          this.open = true;
        }
      },
      onShowAllExchangeRates() {
        this.isShowExchangeRates = !this.isShowExchangeRates;
      },
      checkPairInExchangeAccount(pair) {
        let base = this.getBaseCurrency(pair);
        let quote = this.getQuoteCurrency(pair);

        if (this.exchangeAccounts) {
          return this.exchangeAccountContainsBaseQuoteDirection(base, quote) ||
            this.exchangeAccountContainsBaseQuoteDirection(quote, base)
        }
        return false;
      },
      exchangeAccountContainsBaseQuoteDirection(base, quote) {
        let exchangeAccountsKeys = Object.keys(this.exchangeAccounts);
        return exchangeAccountsKeys.includes(base) &&
          this.exchangeAccounts[base] &&
          this.exchangeAccounts[base].find(elem => elem.currency_to === quote)
      },
      getBaseCurrency(pair) {
        return pair.split("-")[0];
      },
      getQuoteCurrency(pair) {
        return pair.split("-")[1];
      },
    },
    filters: {
      formatDateTime,
      getCurrencyIcon,
      getCurrencySymbol,
      formatMoney,
      getCurrencyAlias,
    }
  };
</script>
