<template>
  <form @submit.prevent="onSubmit">
    <div class="row body">
      <div class="col-md-5 left">
        <div class="form-control-custom exchange-box-wrapp">
          <div class="exchange-box" style="margin-top: 3px;">
            <input
              class="form-control-custom--input"
              v-model="form.amount_from"
              @keydown="cryptoLengthValidate('currency_from', 'amount_from', $event)"
              @blur="isAmountFromFocus = false"
              @focus="isAmountFromFocus = true"
              type="text"
              required
            />
          </div>
          <span>{{ form.currency_from }}</span>
        </div>
      </div>
      <span v-if="reversedExchangeAccountExists()"
        role="button"
        class="d-flex col-md-2 text-center align-items-md-center courses__icon"
        @click="revertExchange"
      >
        <img src="/assets/images/left-arrow-right.png" alt="change exchange" />
      </span>
      <div class="col-md-5 right">
        <div class="form-control-custom exchange-box-wrapp">
          <div class="exchange-box" style="margin-top: 3px;">
            <input
              class="form-control-custom--input"
              v-model="form.amount_to"
              @keydown="cryptoLengthValidate('currency_to', 'amount_to', $event)"
              @blur="isAmountToFocus = false"
              @focus="isAmountToFocus = true"
              type="text"
              required
            />
          </div>
          <span>{{ form.currency_to}}</span>
        </div>
        <div class="transaction-commission text-right">
          <div
            class="text-black pl-2"
          >{{commission | formatMoney(form.currency_to)}} {{form.currency_to | getCurrencyAlias}}</div>
          <div class="text-black font-weight-bold">{{ $t("dashboard.blocks.text2") }}</div>
        </div>
      </div>
    </div>
    <div class="d-flex courses__footer">
      <button style="display: flex; align-items: center;" :disabled="isAgree" type="submit" class="btn btn-success">{{ $t("dashboard.blocks.text3") }}</button>

      <template v-if="pair==='CFX-PSN'">
        <div class="checkbox mt-2">
          <label >
            <input type="checkbox" v-model="agree">
            <div class="checkbox__button" ></div>
            {{$t('exchange.agree_paysuni')}} <a :href="'/documents/Investment_Offer_PaysUni_'+lang+'.docx'">{{$t('exchange.agree_paysuni_link')}}</a>
          </label>
        </div>
      </template>
    </div>
  </form>
</template>

<script>
import {
  formatMoney,
  getCurrencyAlias,
  getCurrencySymbol
} from "../../../utilities";
import { mapGetters } from "vuex";
import requests from "../../../requests";
import alert from "../../../../common/sweet-alert";
import { formatInputTextFloat, handleErrorForAlert } from "@/main/utilities";
import spinner from "@/common/spinner";

export default {
  name: "ExchangeForm",
  data() {
    return {
      reverse: false,
      type: "buy",
      balanceAmountTo: null,
      balanceAmount: null,
      isAmountToFocus: false,
      isAmountFromFocus: false,
      agree: false,
      exchangeAccount: null,
      exchangeRate: 0,
      commission: 0,
      loaded: false,
      form: {
        currency_from: null,
        currency_to: null,
        amount_from: null,
        amount_to: null,
        pair: null,
        amount: null,
        side: "SELL"
      }
    };
  },
  props: {
    pair: {
      type: String,
      required: true
    },
    currencyFrom: {
      type: String,
      required: true
    },
    currencyTo: {
      type: String,
      required: true
    },
    ratesArray: {
      type: Array,
      required: true
    },
    exchangeRates: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapGetters({
      activeSocket: "getActiveSocket",
      tokenCurrencies: "getTokenCurrencies",
      lang: 'getSelectedLang',
    }),
    hasBalanceAmount() {
      return (
        (this.balanceAmount > this.form.amount_from &&
          this.form.amount_from !== null) ||
        this.form.amount_from === null
      );
    },
    isAgree(){
      if(this.pair==='CFX-PSN') {
        return !this.agree
      }
      return false
    }
  },
  created() {
    this.form.currency_from = this.currencyFrom;
    this.form.currency_to = this.currencyTo;

    this.setExchangeAccount();
    this.setExchangeRate();
  },
  filters: {
    getCurrencySymbol,
    formatMoney,
    getCurrencyAlias
  },
  watch: {
    exchangeRates() {
      if (this.exchangeAccount) {
        this.setExchangeRate();
      }
    },
    "form.amount_from"(val, prev) {
      val = this.normalizeAmount(val)
      if (!this.isAmountToFocus && this.form.amount_from !== null) {
        this.form.amount_from = formatInputTextFloat(val, prev);
        if (this.form.amount_from > 0) {
          this.calcAmountToAndCommission();
        } else {
          this.form.amount_to = null;
          this.commission = 0;
        }
      }
    },
    "form.amount_to"(val, prev) {
      val = this.normalizeAmount(val)
      if (!this.isAmountFromFocus && this.form.amount_to !== null) {
        this.form.amount_to = formatInputTextFloat(val, prev);
        if (this.form.amount_to > 0) {
          this.calcAmountFromAndCommission();
        } else {
          this.form.amount_from = null;
          this.commission = 0;
        }
      }
    },
    userAccounts() {
      if (this.form.currency_from != null) {
        this.setBalance(this.exchangeAccount.currency_from);
        this.setBalanceTo(this.exchangeAccount.currency_to);
      }
    },
    ratesArray() {
      this.setExchangeAccount();
    },

  },
  methods: {
    normalizeAmount(val) {
      if(val===null)return 0;
      //Если это целое число, то ограничим 15
      val = new String(val);
      if (val.indexOf('.')!==-1) {
        let v = val.split('.')
        if (v[0].length > 15) {
          val = v[0].substr(0, 15)+'.'+v[1]
        }
      }
      else if (val.length > 15 && (!isNaN(val) && Math.ceil(val) == val)) {
        val = val.substr(0, 15)
      }

      return val
    },
    revertExchange() {
      this.revertCurrencies().then(() => {
        this.reverse = !this.reverse;
        this.setExchangeRate();
        this.resetAmount();
      });
    },
    setExchangeAccount() {
      this.exchangeAccount = this.ratesArray.find(account => {
        return (
          account.currency_from === this.form.currency_from &&
          account.currency_to === this.form.currency_to
        );
      });
    },
    reversedExchangeAccountExists() {
      return typeof this.ratesArray.find(account => {
        return (
          account.currency_from === this.form.currency_to &&
          account.currency_to === this.form.currency_from
        );
      }) !== 'undefined';
    },
    revertCurrencies() {
      return new Promise(resolve => {
        if (this.form.side === "SELL") {
          this.form.side = "BUY";
          this.form.currency_from = this.currencyTo;
          this.form.currency_to = this.currencyFrom;
          this.setExchangeAccount();
          resolve();
        } else {
          this.form.side = "SELL";
          this.form.currency_from = this.currencyFrom;
          this.form.currency_to = this.currencyTo;
          this.setExchangeAccount();
          resolve();
        }
      });
    },
    setBalance(currency) {
      this.userAccounts.map(account => {
        if (account.currency === currency) {
          this.balanceAmount = formatMoney(account.amount, currency);
        }
      });
    },
    setBalanceTo(currency) {
      this.userAccounts.map(account => {
        if (account.currency === currency) {
          this.balanceAmountTo = formatMoney(account.amount, currency);
        }
      });
    },
    setExchangeRate() {
      let directPair = this.form.currency_from + "-" + this.form.currency_to;
      let reversePair = this.form.currency_to + "-" + this.form.currency_from;
      if (Object.keys(this.exchangeRates).includes(directPair)) {
        this.form.pair = directPair;
        this.form.side = "SELL";
        this.exchangeRate = this.exchangeRates[directPair][0].bid;
      } else if (Object.keys(this.exchangeRates).includes(reversePair)) {
        this.form.pair = reversePair;
        this.form.side = "BUY";
        this.exchangeRate = this.exchangeRates[reversePair][1].ask;
      }
      if (this.exchangeAccount !== undefined) {
        this.exchangeAccount.value = this.exchangeRate;
      }
      this.$emit("update-reverse-rates", directPair, this.reverse);
    },
    calcAmountFromAndCommission() {
      let amountFromWithCommission = this.form.amount_to / this.exchangeRate;
      this.commission = this.form.amount_to * this.exchangeAccount.commission;
      this.form.amount_from =
        amountFromWithCommission - this.commission / this.exchangeRate;

      if (this.form.amount_from !== null) {
        this.form.amount_from = formatMoney(
          this.form.amount_from,
          this.form.currency_from
        );
      }
    },
    calcAmountToAndCommission() {
      if (this.exchangeAccount !== undefined) {
        let commission =
          this.form.amount_from * this.exchangeAccount.commission;
        let amountFromWithoutCommission = this.form.amount_from - commission;
        this.form.amount_to = amountFromWithoutCommission * this.exchangeRate;
        this.form.amount = this.form.amount_from * this.exchangeRate;
        this.commission =
          (this.form.amount_from - amountFromWithoutCommission) *
          this.exchangeRate;

        if (this.form.amount_to !== null) {
          this.form.amount_to = formatMoney(
            this.form.amount_to,
            this.form.currency_to
          );
        }
      }
    },
    resetAmount() {
      this.isAmountToFocus = false;
      this.isAmountFromFocus = false;
      this.form.amount_from = null;
      this.form.amount_to = null;
      this.commission = 0;
    },
    onInputAmountTo() {
      this.calcAmountFromAndCommission();
    },
    cryptoLengthValidate(currency, amount, event) {
      if (
        this.form[amount] &&
        (this.form[currency] === "BTC" ||
          this.form[currency] === "ETH" ||
          this.form[currency] === "USDT")
      ) {
        let result = this.form[amount].match("^\\d+(\\.\\d{0,7})?$");
        if (!result && event.code !== "Backspace") {
          event.preventDefault();
        }
      }
    },
    onSubmit() {
      if (this.isSelectedPairWithToken() && !this.isPairAllowTrade()) {
        this.makeNewTokenClaimRequest();
      } else {
        if (this.isSelectedPairWithToken()) {
          requests.exchange
            .generateUserTokenAddress()
            .then(() => {
              this.makeNewOrderRequest();
            })
            .catch(({ response }) => {
              alert.error(handleErrorForAlert(response.data.errors));
            });
        } else {
          this.makeNewOrderRequest();
        }
      }
    },
    isSelectedPairWithToken() {
      return (
        this.tokenCurrencies.includes(this.form.currency_from) ||
        this.tokenCurrencies.includes(this.form.currency_to)
      );
    },
    isPairAllowTrade() {
      return this.exchangeAccount.allow_trade;
    },
    makeNewOrderRequest() {
      this.form.type = "MARKET";
      this.form.system = this.isSelectedPairWithToken() ? "TOKEN" : "INTERNAL";
      this.form.amount =
        this.form.side === "SELL" ? this.form.amount_from : this.form.amount_to;
      spinner.toggle(true);
      requests.terminal
        .postOrderData(this.form)
        .then(response => {
          alert.success({
            text: `${this.$t("terminal.order_success")} ${
              response.data.data.id
            }`,
            timer: 7000
          });
          this.$store.dispatch("loadAllTransactions").then(() => {
            this.resetAmount();
            spinner.toggle(false);
            this.close();
          });
        })
        .catch(({ response }) => {
          spinner.toggle(false);
          alert.error(handleErrorForAlert(response.data.errors));
        });
    },
    makeNewTokenClaimRequest() {
      spinner.toggle(true);
      requests.exchange
        .postNewTokenClaim(this.form)
        .then(response => {
          let text = "Exchange was successful!";
          let mailBody = {
            amount_from: this.form.amount_from,
            amount_to: this.form.amount_to,
            currency_from: this.form.currency_from,
            currency_to: this.form.currency_to,
            commission: this.commission
          };
          if (response.data.txid !== null) {
            text += `TXID: ${response.data.txid}`;
            mailBody.txid = response.data.txid;
          }
          alert.success({ text: text, timer: 7000 });
          spinner.toggle(false);
          requests.terminal.sendEmail(mailBody);

          this.$store.dispatch("updateUserAccount", this.form.currency_to).then(() => {
            this.resetAmount();
            spinner.toggle(false);
            this.close();
          });
          this.$store.commit('updateActiveAccount', {type: 'active_account', currency: this.form.currency_to})
        })
        .catch(({ response }) => {
          spinner.toggle(false);
          alert.error(handleErrorForAlert(response.data.errors));
        });
    }
  }
};
</script>
