<template>
  <div class="d-flex flex-column last-transactions">
    <div class="d-flex justify-content-between header">
      <h3>{{ $t("dashboard.index.recent_transactions") }}</h3>
    </div>
    <div class="d-flex flex-column overflow-auto body last-transactions-body">
      <div v-for="transaction in userTransactions"
        class="d-flex justify-content-between item align-items-center last-transactions__item">
        <span>{{ transaction.created_at | formatDateTime }}</span>
        <div class="d-flex align-items-center center">
          <img class="mr-2" :src="transaction.index | transactionIcon"/>
          <div class="d-flex flex-column">
            <span class="font-weight-bold">{{transaction | transactionTitle}}</span>
            <small class="text-silver">{{ $t("dashboard.index.to_the_account") }} {{ transaction.currency }}</small>
          </div>
        </div>
        <div class="d-flex">
          <span class="font-weight-bold mr-2"
          >{{ transaction.index | transactionSymbol }} {{ transaction.amount|formatMoney(transaction.currency) }}</span>
          <span>{{ transaction.currency }}</span>
        </div>
      </div>
    </div>
    <div class="last-transactions-footer">
      <img role="button"
        v-if="userTransactions.length>=50 || this.userTransactionsTotal>0"
        @click="onShowAllTransactions"
        class="arrow-down"
        src="/assets/images/down-arrow.svg"
        :style="showAllTransactionsStatus?'transform: rotate(180deg)':''"/>
    </div>
  </div>
</template>

<script>
    import {mapGetters} from "vuex";
    import {eventBus} from "../../../eventBus";
    import spinner from "../../../../common/spinner";
    import {formatDateTime, formatMoney, transactionIcon, transactionSymbol, transactionTitle} from "../../../utilities";

    export default {
        name: "RecentTransactions",
        computed: {
            ...mapGetters({
                userTransactions: "getUserTransactions",
                userTransactionsTotal: "getUserTransactionsTotal",
                userTransactionsPerPage: "getUserTransactionsPerPage",
            }),
            userTransactionsPreview() {
                if (!this.isShowAllTransactions) {
                    return this.userTransactions.slice(0, 4);
                }
                return this.userTransactions;
            },
        },
        methods:{
            onShowAllTransactions() {
                let total = this.userTransactionsTotal;
                let perPage = this.userTransactionsPerPage;

                let pages = 0;
                if (total) pages = Math.floor(total / perPage);

                if (this.transactionsPage > pages) {
                    this.showAllTransactionsStatus = true;
                }

                if (this.showAllTransactionsStatus) {
                    this.$store
                        .dispatch("resetPreviewTransactions")
                        .then(() => {
                            this.showAllTransactionsStatus = false;
                            this.transactionsPage = 0;
                        })
                        .catch(() => {
                        });
                } else {
                    spinner.toggle(true);
                    this.$store
                        .dispatch("loadAllTransactions", this.transactionsPage)
                        .then(() => {
                            if (this.transactionsPage > 0 && this.transactionsPage === pages) {
                                this.showAllTransactionsStatus = true;
                            }
                            this.transactionsPage++;

                            spinner.toggle(false);
                        })
                        .catch(() => {
                            spinner.toggle(false);
                        });
                }
            }
        },
        data() {
            return {
                showAllTransactionsStatus: false,
                transactionsPage: 0,
            };
        },
        watch: {
            userTransactions(val, oldVal) {
            },
        },
        filters: {
            formatDateTime,
            formatMoney,
            transactionIcon,
            transactionSymbol,
            transactionTitle
        }
    };
</script>
