<template>

  <div class="mt-0">
    <input type="hidden" name="document_type[]" :value="documentType">
    <input type="hidden" name="system_type" :value="systemType">
    <input class="input-file document-file"
       @change="onInputFileChange"
       :accept="accept"
       :name="name"
       type="file"
       :id="id"
       ref="document"
    >

    <template v-if="isSelectedFile">
      <span v-if="previewUrl.length === 0">{{ filename | cutFileName }}</span>
      <a :href="previewUrl" target="_blank" v-else>{{ filename | cutFileName }}</a>

      <button type="button" class="btn text-danger" @click="onDeleteFile" v-if="remove">
        <i class="fas fa-trash"></i>
      </button>
    </template>

    <template v-else>
      <label class="btn btn-sm btn-link mb-0 label-file" :for="id">
        <i class="fas fa-paperclip"></i> {{ $t("dashboard.blocks.text4") }}
      </label>
    </template>
  </div>

</template>

<script>
  import {cutFileName} from '../../../utilities'
  export default {
    props: {
      id: {
        type: String,
        required: true
      },
      documentType: {
        type: String
      },
      systemType: {
        type: String
      },
      name: {
        type: String,
        required: true
      },
      accept: {
        type: String,
        default: 'image/*'
      },
      document: {
        type: Object,
        default() {
          return {}
        }
      },
      remove: {
        type: Boolean,
        default: true
      }
    },
    filters: {
      cutFileName
    },
    watch: {
      document() {
        this.setDocument()
      }
    },
    data() {
      return {
        isSelectedFile: false,
        previewUrl: '',
        filename: ''
      }
    },
    created() {
      this.setDocument()
    },
    methods: {
      setDocument () {
        if (this.document.id !== undefined) {
          this.previewUrl = this.document.url || ''
          this.filename = this.document.original_name || ''

          this.isSelectedFile = true
        } else {
          this.reset();
        }
      },
      onInputFileChange(e) {
        if (e.target.files[0]) {
          this.filename = e.target.files[0].name
          this.isSelectedFile = true
        }
      },
      onDeleteFile() {
        this.reset();
      },
      reset() {
        this.isSelectedFile = false;
        this.previewUrl = '';
        this.filename = '';
        if (typeof this.$refs.document !== 'undefined') {
          this.$refs.document.value = null;
        }
      }
    }
  }

</script>
