<template>
  <div  v-if="fillingPercentage" class="d-flex flex-column verification-user">
    <div class="d-flex header justify-content-between">
      <div class="d-flex flex-column">
        <h3>{{ $t("dashboard.index.user_verification") }}</h3>
        <span>{{ $t("dashboard.index.unlock") }}</span>
      </div>
      <div v-if="isUserNotVerified || isUserCreated" class="d-flex flex-column">
        <button class="btn btn-success" @click="openEditContacts"
            >{{ $t("dashboard.index.verification") }}</button>
      </div>
      <div class="d-flex flex-column">
        <h3>{{ fillingPercentage }}%</h3>
        <span>{{ $t("dashboard.index.profile_completed") }}</span>
      </div>
    </div>
    <div class="d-flex body justify-content-around">
      <div class="d-flex item">
        <div class="d-flex flex-column left">
          <i v-if="isFillingContacts" class="icon-circle-accept color-green"></i>
        </div>
        <div class="d-flex flex-column right">
          <a v-if="isUserNotVerified || isUserCreated"
             href="#" class="font-weight-bold text-black" @click.prevent="openEditContacts"
            >{{ $t("dashboard.index.contacts") }}</a>
          <span v-else class="font-weight-bold">{{ $t("dashboard.index.contacts") }}</span>
          <small v-if="isFillingContacts" class="font-weight-bold text-silver"
            >{{ $t("dashboard.index.confirmed") }}</small>
        </div>
      </div>
      <div class="d-flex item">
        <div class="d-flex flex-column left">
          <img v-if="isFillingPersonalData && isUserNotVerified"
               class="circle width" src="/assets/images/circle-close.svg" alt/>
          <i v-else-if="isFillingPersonalData" class="icon-circle-accept color-green"></i>
          <div v-else class="circle color-red"><span>2</span></div>
        </div>
        <div class="d-flex flex-column right">
          <a v-if="isUserNotVerified || isUserCreated"
             href="#" class="font-weight-bold text-black" @click.prevent="openEditPersonalData"
            >{{ $t("dashboard.index.personal_data") }}</a>
          <span v-else class="font-weight-bold">{{ $t("dashboard.index.personal_data") }}</span>
          <small v-if="isUserVerified" class="font-weight-bold text-silver"
            > {{ $t("dashboard.index.confirmed") }}</small>
          <small v-else-if="isUserNotVerified" class="font-weight-bold text-silver"
            > {{ $t("dashboard.index.cancelled") }}</small>
          <small v-else-if="isFillingPersonalData" class="font-weight-bold text-silver"
            > {{ $t("dashboard.index.filled") }}</small>
        </div>
      </div>
      <div class="d-flex item">
        <div class="d-flex flex-column left">
          <img v-if="isFillingResidentialAddress && isUserNotVerified"
               class="circle width" src="/assets/images/circle-close.svg" alt/>
          <i v-else-if="isFillingResidentialAddress" class="icon-circle-accept color-green"></i>
          <div v-else class="circle color-red"><span>3</span></div>
        </div>
        <div class="d-flex flex-column right">
          <a v-if="isUserNotVerified || isUserCreated"
             href="#" class="font-weight-bold text-black"
             @click.prevent="openEditResidentialAddress"
             >{{ $t("dashboard.index.personal_documents") }}</a>
          <span v-else class="font-weight-bold"
            > {{ $t("dashboard.index.personal_documents") }}</span>
          <small v-if="isUserVerified" class="font-weight-bold text-silver"
            > {{ $t("dashboard.index.confirmed") }}</small>
          <small v-else-if="isUserNotVerified" class="font-weight-bold text-silver"
            > {{ $t("dashboard.index.cancelled") }}</small>
          <small v-else-if="isFillingResidentialAddress" class="font-weight-bold text-silver"
            > {{ $t("dashboard.index.filled") }}</small>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import {mapGetters} from "vuex";
    import {eventBus} from "../../../eventBus";
    export default {
        name: "UserVerification",
        computed: {
            ...mapGetters({
                fillingPercentage: "getFillingPercentage",
                isUserCreated: "isUserCreated",
                isUserVerified: "isUserVerified",
                isUserNotVerified: "isUserNotVerified",
                isUserOnVerify: "isUserOnVerify",
                isFillingContacts: "isFillingContacts",
                isFillingPersonalData: "isFillingPersonalData",
                isFillingResidentialAddress: "isFillingResidentialAddress",
            }),
        },
        methods:{
            openEditContacts() {
                eventBus.$emit("open-profile", {
                    step: 1,
                    endStep: false
                });
            },
            openEditPersonalData() {
                eventBus.$emit("open-profile", {
                    step: 2,
                    endStep: false
                });
            },
            openEditResidentialAddress() {
                eventBus.$emit("open-profile", {
                    step: 3,
                    endStep: false
                });
            },
        },
        mounted() {
            this.$root.$on('open-verification', this.openEditContacts);
        }
    };
</script>
