<template>

</template>

<script>
  import { handlerErrors } from '../../../../utilities'
  import spinner from '../../../../../common/spinner'
  import requests from '../../../../requests'

  export default {
    name: "SmsConfirmation",
    props: {
      data: Object
    },
    data () {
      return {
        successMessage: '',
        errors: [],
        seconds: 0,
        sms_code: null,
      }
    },
    methods: {
      sendSmsConfirmation (body = {}) {
        this.errors = [];
        spinner.toggle(true);
        requests.dashboard.profile.postConfirmationOfChangeIdentity(body, true)
          .then(({data}) => {
            this.isOpenModalConfirmation = true;
            this.seconds = 60;
            this.changeState = 'firstConfirm';
            this.timer();
            spinner.toggle(false);
            this.$refs.modalWrapper.open()
          }).catch(({response}) => {
            spinner.toggle(false);
            this.errors = handlerErrors(this.$refs, response.data.errors);
        });
      },
      validateSmsCode (body = {}) {
        spinner.toggle(true);
        body.sms_code = this.form.sms_code
        return requests.dashboard.profile.postConfirmationOfChangeIdentity(body, false)
          .then(({data}) => {
            this.$store.dispatch('updateUserData').then(() => {
              spinner.toggle(false);
            });
            this.changeState = 'confirmed';
            this.form.sms_code = '';
          }).catch(({response}) => {
            spinner.toggle(false);
            this.errors = handlerErrors(this.$refs, response.data.errors);
          });
      },
      timer () {
        let intervalId = setInterval(() => {
          if (--this.seconds === 0) {
            clearInterval(intervalId);
          }
        }, 1000)
      },
    }
  }
</script>

<style scoped>

</style>
