<template>
    <div class="filter card">
        <div class="card-body operations-history">
            <form method="get" @submit.prevent="onSubmit">
                <div class="form-row">
                    <div class="col">
                        <div class="card-form-row">
                            <label for="find_form_user_id">ID пользователя</label>
                            <input type="number" min="1" class="form-control" id="find_form_user_id" v-model="form.user_id">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-form-row">
                            <label for="find_form_user_full_name">ФИО</label>
                            <input type="text" class="form-control" id="find_form_user_full_name" v-model="form.full_name">
                        </div>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-dark">
                            <i class="fas fa-redo-alt"></i> Обновить
                        </button>
                        <button type="button" class="btn btn-dark" @click="exportXlsx">
                            <i class="fas fa-redo-alt"></i> Экспорт
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    export default {
        name: "FilterView",
        data () {
            return {
                form: {
                    user_id: '',
                    full_name: '',
                    limit: 10
                }
            }
        },
        methods: {
            onSubmit() {
                this.$emit('filter', this.form);
            },
            exportXlsx() {
                this.$emit('xlsx', this.form);
            }
        }
    }
</script>
