<template>
    <div class="grid-view">
        <filter-view @filter="onFilter"  @xlsx="exportFile" />
        <table-view ref="table" :withdrawals="withdrawals" :statuses="statuses" :paymentTypes="paymentTypes" @delete="onDelete" @infinite="onInfinite" class="mt-3"/>
    </div>
</template>
<script>
    import FilterView from './FilterView'
    import TableView from './TableView'
    import requests from "../requests";

    export default {
        name: 'WithdrawalGridView',
        props: ['statuses'],
        data () {
            return {
                filterParams: {
                    page: 0
                },
                withdrawals: [],
                paymentTypes: {},
            }
        },
        components: {
            FilterView,
            TableView,
        },
        methods: {
            load () {
                requests.withdrawals.list(this.filterParams)
                    .then(({ data }) => {
                        this.withdrawals = [...this.withdrawals, ...data.withdrawals]
                        this.paymentTypes = data.paymentTypes
                        this.$refs.table.changeSpinnerState(false)
                    })
            },
            reload() {
                this.$refs.table.changeSpinnerState(true)
                requests.withdrawals.list(this.filterParams)
                    .then(({ data }) => {
                        this.withdrawals = data.withdrawals
                        this.$refs.table.changeSpinnerState(false)
                    })
            },
            onFilter (filterParams) {
                this.withdrawals = []
                this.$refs.table.changeInfiniteState('reset');
                this.filterParams = {
                    ...filterParams,
                    page: 1
                };
                this.reload()
            },
            exportFile (filterParams) {
                this.filterParams = {
                    ...filterParams,
                    page: 1
                };
                var queries = Object.keys(this.filterParams).map((key)=>{
                    return key + '=' + this.filterParams[key];
                }).join('&');
                window.location.href = '/withdrawals/export?'+queries
            },
            onInfinite($state) {
                this.$refs.table.changeSpinnerState(true)
                this.filterParams.page++;
                requests.withdrawals.list(this.filterParams)
                    .then(({data}) => {
                        this.withdrawals = [...this.withdrawals, ...data.withdrawals];
                        if (data.withdrawals.length < 10) {
                            $state.complete();
                        } else {
                            $state.loaded();
                        }
                        this.$refs.table.changeSpinnerState(false)
                    });
            },
            onDelete (index) {
                this.withdrawals.splice(index, 1)
            }
        }
    }
</script>
