<template>
  <div class="table-view">
    <table class="table table-striped table-bordered mt-3">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">ID пользователя</th>
        <th scope="col">ФИО</th>
        <th scope="col">Дата заявки</th>
        <th scope="col">Сумма</th>
        <th scope="col">Способ</th>
        <th scope="col">Валюта</th>
        <th scope="col">Причина</th>
        <th scope="col">Статус</th>
        <th scope="col" colspan="3">Действие</th>
      </tr>
      </thead>
      <tbody>
      <template v-if="withdrawals.length > 0" v-for="(withdrawal, index) in withdrawals">
        <withdrawal-view @delete="onDelete" :statuses="statuses" :withdrawal="withdrawal" :index="index" :paymentTypes="paymentTypes" :key="withdrawal.id" :accept="canAccept"/>
      </template>
      <tr v-if="withdrawals.length === 0 && !spinner">
        <td colspan="8" class="text-center">Ничего не найдено.</td>
      </tr>
      <template v-if="spinner">
        <tr>
          <td colspan="13" class="text-center">
            <i class="fas fa-2x fa-spinner fa-spin"></i>
          </td>
        </tr>
      </template>
      </tbody>
    </table>
    <infinite-loading ref="infiniteLoading" @infinite="onInfinite">
      <div slot="no-results"></div>
      <div slot="no-more"></div>
      <div slot="spinner"></div>
    </infinite-loading>
  </div>
</template>

<script>
  import WithdrawalView from './WithdrawalView'
  import InfiniteLoading from 'vue-infinite-loading'
  import {mapGetters} from 'vuex'

  export default {
    name: "TableView",
    data () {
      return {
        spinner: true,
      }
    },
    computed: {...mapGetters({
        permissions: 'getPermissions'
      }),
      canAccept(){
        return Object.values(this.permissions).some(permission=>permission.path === "admin.withdrawals.accept")
      }
    },
    components: {
      WithdrawalView,
      InfiniteLoading
    },
    props: {
      withdrawals: {
        type: Array,
        required: true
      },
      paymentTypes: {
        type: Object,
        required: true
      },
      statuses: {
        type: [Object, Array],
        required: true
      },
    },
    methods: {
      onDelete (index) {
        this.$emit('delete', index)
      },
      onInfinite($state) {
        this.$emit('infinite', $state);
      },
      changeInfiniteState(state) {
        if (this.$refs.infiniteLoading !== undefined) {
          this.$refs.infiniteLoading.stateChanger[state]();
        }
      },
      changeSpinnerState (state) {
        this.spinner = state
      }
    },

  }
</script>
