<template>
  <tr>
    <th scope="row">{{ withdrawal.id }}</th>
    <th scope="row">{{ withdrawal.user_id }}</th>
    <td>
      <img v-if="withdrawal.user.is_eurobaras_user" class="eurobaras-icon" src="/assets/images/eurobaras.png">
      {{ withdrawal.user.full_name }}</td>
    <td>{{ withdrawal.created_at | formatDateTime}}</td>
    <td>{{ withdrawal.amount }}</td>
    <td>{{ withdrawal.fin_operation_type.method }}</td>
    <td>{{ withdrawal.currency.name }}</td>
    <td>{{ withdrawal.admin_discard_reason }}</td>
    <td>{{ showStatuses(withdrawal.status_id) }}</td>
    <td align="center" v-if="accept">
      <withdrawal-accept @delete="onDelete" :id="withdrawal.id"/>
    </td>
    <td align="center">
      <withdrawal-discard @delete="onDelete" :id="withdrawal.id"/>
    </td>
    <td align="center">
      <withdrawal-set-paid @delete="onDelete" :id="withdrawal.id"/>
    </td>
  </tr>
</template>

<script>
  import WithdrawalDiscard from './WithdrawalDiscard'
  import WithdrawalAccept from './WithdrawalAccept'
  import WithdrawalSetPaid from './WithdrawalSetPaid'
  import { formatDateTime } from '../../main/utilities'


  export default {
    name: "WithdrawalView",

    props: {
      withdrawal: {
        type: Object,
        required: true
      },
      paymentTypes: {
        type: Object,
        required: true
      },
      index: {
        type: Number,
        required: true
      },
      accept:{
        type: Boolean,
        required: true
      },
      statuses:{
        type: [Object, Array],
        required: true
      }
    },
    components: {
      WithdrawalDiscard,
      WithdrawalAccept,
      WithdrawalSetPaid
    },
    filters: {
      formatDateTime
    },
    methods: {
      onDelete () {
        this.$emit('delete', this.index)
      },
      showStatuses(id) {
        let label = '';
        this.statuses.find((item)=>{
          if(item.id == id) label = item.label;
        })
        return label;
      }
    },

  }
</script>
