<template>
  <div class="withdrawal-set-paid">
    <button @click="setPaid" class="btn btn-success">
      Выплачено
    </button>
    <right-panel ref="rightPanel" :title="'Обновление статуса заявки '+this.id+' на оплату'">
      <error-view :errors="errors"></error-view>
      <success-view :success-message="successMessage"></success-view>
    </right-panel>
  </div>
</template>

<script>
  import requests from "../requests";
  import {handlerErrors} from '../../main/utilities'
  import RightPanel from "../../common/right-panel";
  import Google2Fa from "../../common/google2fa";

  export default {
    name: "WithdrawalSetPaid",
    data () {
      return {
        requestData: {
          withdrawal_id: this.id,
        },
        successMessage: '',
        errors: [],
      }
    },
    props: {
      id: {
        type: Number,
        required: true
      }
    },
    components: {
      RightPanel
    },
    methods: {
      setPaid () {
        this.errors = [];
        this.$refs.rightPanel.show();
        this.$refs.rightPanel.spin(true);
        requests.withdrawals.setPaid(this.requestData).then(({data}) => {
          this.$refs.rightPanel.spin(false);
          this.successMessage = data.data.message;

          setTimeout(() => {
              this.$refs.rightPanel.hide()
              this.$emit('delete');
            },
          5000);

        }).catch(({ response }) => {
          this.$refs.rightPanel.spin(false);
          this.errors = handlerErrors(this.$refs, response.data.errors);
          setTimeout(() => document.location.reload(), 5000)
        })
      }
    }
  }
</script>
