<template>
  <div class="withdrawal-accept">
    <button @click="showRightPanel" class="btn btn-success">Выполнить</button>
    <right-panel ref="rightPanel" :title="'Подтверждение заявки '+this.id+' на оплату'">
      <error-view :errors="errors"></error-view>
      <success-view :success-message="successMessage"></success-view>
      <button
          type="button"
          class="btn"
          :class="active=='g2fa'?'btn-primary':'btn-outline-primary'"
          @click="setActive('g2fa')">With Google Auth</button>
      <button
          type="button"
          class="btn"
          :class="active=='sms'?'btn-primary':'btn-outline-primary'"
          @click="setActive('sms')">With SMS</button>
      <form class="right-menu__form discard_withdrawals" method="post" @submit.prevent="onSubmit">
        <google2-fa v-if="show && active=='g2fa'" v-on:ga_code="form.ga_code = $event" ref="google2fa"></google2-fa>
        <div class="right-menu__form__row mt-2" v-show="active=='sms'">
          <input type="text"
                 class="right-menu__form__input"
                 v-model="form.sms_code"
                 placeholder="Sms code"
                 ref="field_sms_code">
          <button type="button" class="btn btn-link" @click="onSendSmsCode">Request code</button>
        </div>
        <div class="text-danger error-msg" ref="error_sms_code"></div>
        <div class="row">
          <div class="col-md-3">
            <button type="submit" class="btn btn-primary right-menu__button">Отправить</button>
          </div>
          <div class="col-md-3 pt-4">
            <label><input type="checkbox" v-model="form.notify" placeholder="Не уведомлять">Не уведомлять</label>
          </div>
        </div>
      </form>
    </right-panel>
  </div>
</template>

<script>
  import requests from "../requests";
  import {handlerErrors} from '../../main/utilities'
  import RightPanel from "../../common/right-panel";
  import Google2Fa from "../../common/google2fa";

  export default {
    name: "WithdrawalAccept",
    data () {
      return {
        form: {
          withdrawal_id: this.id,
          ga_code: '',
          notify: false
        },
        successMessage: '',
        errors: [],
        show: false,
        active: 'g2fa',
        crefs: this.$refs,
        isCodeRequested: false
      }
    },
    props: {
      id: {
        type: Number,
        required: true
      }
    },
    components: {
      RightPanel,
      Google2Fa
    },
    methods: {
      setActive(name){
        this.active = name;
        this.$refs.error_sms_code.innerHTML = ''
        this.$refs.field_sms_code.classList.remove("is-invalid");
        if (name == 'sms') {
          Vue.delete(this.form, 'ga_code')
          Vue.set(this.form, 'sms_code', '')
        }
        else {
          this.isCodeRequested = true;
          Vue.delete(this.form, 'sms_code')
          Vue.set(this.form, 'ga_code', '')
        }
      },
      showRightPanel(){
        this.show = true;
        this.$refs.rightPanel.show()
      },
      onSendSmsCode () {
        this.$refs.rightPanel.spin(true);
        this.errors = [];
        console.log('SMS Code for Withdrawal id',this.id)
        requests.withdrawals.accept(this.form, true)
          .then(({ data }) => {
            this.$refs.rightPanel.spin(false)
            this.successMessage = data.message
            this.isCodeRequested = data.isSendCode

          })
          .catch(({ response }) => {
            this.$refs.rightPanel.spin(false);
            this.errors = handlerErrors(this.$refs, response.data.errors)
          })
      },
      onSubmit () {
        this.errors = [];
        if(this.active!='sms') {
          this.crefs = Object.assign(this.$refs, this.$refs.google2fa.$refs);
        }
        this.$refs.rightPanel.spin(true);
        requests.withdrawals.accept(this.form, false).then(({ data }) => {
          this.$refs.rightPanel.spin(false)
          this.successMessage = data.message
          this.$refs.rightPanel.hide()
          this.$emit('delete')
          // document.location.reload();
        }).catch(({ response }) => {
          this.$refs.rightPanel.spin(false)
          if (response.data.invalidCode !== true) {
            this.isCodeRequested = false
            this.form.sms_code = ''
            this.form.ga_code = ''
          }
          this.errors = handlerErrors(this.crefs, response.data.errors)
          setTimeout(() => document.location.reload(), 5000)
        })
      }
    }
  }
</script>
