<template>
    <div class="withdrawal-discard">
        <button @click="$refs.rightPanel.show()" class="btn btn-secondary">
            <i class="fas fa-ban"></i> Отменить
        </button>
        <right-panel ref="rightPanel" title="Причина отказа заявки на оплату">
            <error-view :errors="errors"></error-view>
            <form class="right-menu__form discard_withdrawals" method="post" @submit.prevent="onSubmit">
                <div class="right-menu__form__row">
                    <textarea v-model="form.comment" class="form-control" style="height: 120px;"
                              cols="30" rows="10" placeholder="Причина"></textarea>
                </div>
                <button type="submit" class="btn btn-primary right-menu__button">
                    Отправить
                </button>
            </form>
        </right-panel>
    </div>
</template>

<script>
import RightPanel from "../../common/right-panel";
import {handlerErrors} from '../../main/utilities'
import requests from "../requests";

export default {
  name: "WithdrawalDiscard",
  data () {
  	return {
      form: {
        withdrawal_id: this.id,
        comment: ''
      },
      successMessage: '',
      errors: []
    }
  },
  props: {
    id: {
      type: Number,
      required: true
    }
  },
  components: {
  	RightPanel,
  },
  methods: {
    onSubmit () {
      this.$refs.rightPanel.spin(true);

      requests.withdrawals.discard(this.form).then(({ data }) => {
        this.$refs.rightPanel.spin(false);
        this.successMessage = data.message
        this.$emit('delete')
        this.$refs.rightPanel.hide()

        document.location.reload();
      }).catch(({ response }) => {
        this.$refs.rightPanel.spin(false);
        this.errors = handlerErrors(this.$refs, response.data.errors)
      })
    }
  }
}
</script>
