<template>

  <span>
    <button class="btn btn-success" @click="$refs.rightPanel.show()"><i class="fas fa-user-check"></i> Верифицировать</button>
    <right-panel ref="rightPanel" :title="$t('dashboard.index.verification')" mode="full">
      <ul class="nav nav-tabs mb-2">
        <li class="nav-item" @click="component = 'passport-data'">
            <span role="button" :class="['nav-link', { active: component == 'passport-data' }]">Паспортные данные</span>
        </li>
        <li class="nav-item" @click="component = 'documents'">
            <span role="button" :class="['nav-link', { active: component == 'documents' }]">Документы</span>
        </li>
        <li class="nav-item" @click="component = 'verification-info'">
            <span role="button" :class="['nav-link', { active: component == 'verification-info' }]">Инфо по верификации</span>
        </li>
        <li class="nav-item" @click="component = 'cancellation-comment'">
            <span role="button" :class="['nav-link', { active: component == 'cancellation-comment' }]">Комментарий при отмене</span>
        </li>
      </ul>
      <component :is="component" :user="user"></component>
      <form class="mb-3" @submit.prevent="onResend">
        <div class="alert alert-danger error-msg"></div>
        <button type="submit" class="btn btn-dark">Отправить заново на верификацию</button>
      </form>
      <form @submit.prevent="onSubmit">
        <div class="alert alert-danger error-msg"></div>
        <button type="submit" class="btn btn-dark">Верифицировать</button>
      </form>
    </right-panel>
  </span>

</template>

<script>

  import RightPanel from '../../common/right-panel'
  import PassportData from './accept-action/PassportData'
  import VerificationInfo from './accept-action/VerificationInfo'
  import Documents from './accept-action/Documents'
  import CancellationComment from './accept-action/CancellationComment'
  import Csrf from '../../common/utilities/csrf'

  export default {
    name: 'verifications-accept-action',
    props: {
      userString: {
        type: String,
        require: true,
      }
    },
    components: {
      PassportData,
      RightPanel,
      VerificationInfo,
      Documents,
      CancellationComment,
    },
    data() {
      return {
        component: 'passport-data',
        user: {}
      };
    },
    created() {
        this.$nextTick(() => $(this.$el).removeClass('preview-btn'));
        this.user = JSON.parse(this.userString);
    },
    methods: {
      onSubmit() {
        const request = {
          user_id: this.user.id,
        };

        this.$refs.rightPanel.spin(true);
        $.post('/verifications/accept', Csrf.mergeObjectWithCsrf(request), () => {
          $(this.$el).parents('tr').remove();
          this.$refs.rightPanel.hide();
        })
          .always(() => this.$refs.rightPanel.spin(false))
          .fail((response) => showErrors(
            $(this.$el).find('form'),
            response.responseJSON.errors
          ));
      },
      onResend() {
        const request = {
          user_id: this.user.id,
        };

        this.$refs.rightPanel.spin(true);
        $.post('/verifications/resend', Csrf.mergeObjectWithCsrf(request), () => {
        }).always(() => this.$refs.rightPanel.spin(false))
          .fail((response) => showErrors($(this.$el).find('form'), response.responseJSON.errors));
      }
    }
  }
</script>
