<template>

  <span>
    <button class="btn btn-secondary" @click="$refs.rightPanel.show()"><i class="fas fa-ban"></i> Отменить</button>
    <right-panel ref="rightPanel" :title="$t('words.reason_verification_reject')">
      <form class="right-menu__form" method="post" @submit.prevent="onSubmit">
        <div class="alert alert-danger error-msg"></div>
        <div v-if="user.notifications.length !== 0" class="right-menu__form__row">
          <span><strong>Комментарий при отмене</strong>: {{ user.notifications[0].comment }}</span>
        </div>
        <div class="right-menu__form__row">
          <textarea name="comment"
                    style="height: 120px;"
                    placeholder="Причина"
                    class="form-control"
                    v-model="comment"
                    rows="10"
                    cols="30"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-dark right-menu__button">Отправить</button>
      </form>
    </right-panel>
  </span>

</template>

<script>

  import RightPanel from "../../common/right-panel";
  import Csrf from "../../common/utilities/csrf";

  export default {
    name: 'verifications-discard-action',
    props: {
      userId: {
        type: String,
        require: true,
      },
      userString: {
        type: String,
        require: true,
      }
    },
    components: {
      RightPanel
    },
    data() {
      return {
        comment: '',
        user: {}
      }
    },
    created() {
      this.$nextTick(() => $(this.$el).removeClass('preview-btn'))
      this.user = JSON.parse(this.userString)
    },
    methods: {
      onSubmit() {
        const request = {
          user_id: this.userId,
          comment: this.comment,
        };

        this.$refs.rightPanel.spin(true);
        $.post('/verifications/discard', Csrf.mergeObjectWithCsrf(request), () => {
          $(this.$el).parents('tr').remove();
          this.$refs.rightPanel.hide();
        })
                .always(() => this.$refs.rightPanel.spin(false))
                .fail((response) => showErrors(
                        $(this.$el).find('form'),
                        response.responseJSON.errors
                ));
      }
    }
  }

</script>
