<template>

    <span>
      <button class="btn btn-secondary" @click="$refs.rightPanel.show()">
          <i v-if="buttonIcon" class="fas fa-cogs"></i> {{buttonLabel}}
      </button>
      <right-panel ref="rightPanel" :title="(template?'Изменение':'Создание') + ' шаблона ордера'" mode="full">
        <form class="right-menu__form" @submit.prevent="onSubmit">
            <div class="row">
                <div class="col-md-12">
                    <span class="right-menu__header__text">Pair</span>
                    <div class="right-menu__form__row">
                      <input v-if="template" type="text" disabled class="right-menu__form__input"
                             v-model="form.pair"/>
                      <select v-else class="right-menu__form__input"
                              v-model="form.pair">
                        <option v-for="pair in pairs">
                          {{pair}}
                        </option>
                      </select>
                    </div>
                  <span class="right-menu__header__text">Side</span>
                    <select class="right-menu__form__input"
                          v-model="form.side">
                        <option v-for="side in sides">
                          {{side}}
                        </option>
                      </select>
                  <span class="right-menu__header__text">Amount min</span>
                    <div class="right-menu__form__row">
                      <input type="text" class="right-menu__form__input"
                             v-model="form.amount_min"/>
                    </div>
                  <span class="right-menu__header__text">Amount max</span>
                    <div class="right-menu__form__row">
                      <input type="text" class="right-menu__form__input"
                             v-model="form.amount_max"/>
                    </div>
                  <span class="right-menu__header__text">Price min</span>
                    <div class="right-menu__form__row">
                      <input type="text" class="right-menu__form__input"
                             v-model="form.price_min"/>
                    </div>
                  <span class="right-menu__header__text">Price max</span>
                    <div class="right-menu__form__row">
                      <input type="text" class="right-menu__form__input"
                             v-model="form.price_max"/>
                    </div>
                  <section v-if="!template">
                  <span class="right-menu__header__text">Quantity</span>
                    <div class="right-menu__form__row">
                      <input type="number" min="1" step="1" class="right-menu__form__input"
                             v-model="form.quantity"/>
                    </div>
                  </section>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary right-menu__button">{{(template?'Изменить':'Создать')}}</button>
                </div>
                <div v-if="template" class="col-md-6">
                    <button class="btn btn-danger right-menu__button" @click="setDeleteMode">Удалить</button>
                </div>
            </div>
        </form>
      </right-panel>
    </span>

</template>

<script>

  import RightPanel from "../../../common/right-panel"
  import {handlerErrors, formLoader,formatInputTextFloat} from '../../../main/utilities'
  import requests from "../../requests";
  import {mapGetters} from "vuex";
  import sweetAlert from '../../../common/sweet-alert'

  export default {
    name: "EditOrderBookTemplatesView",
    data() {
      return {
        successMessage: '',
        errors: [],
        actionMode:'update',
        form: {
          id: null,
          pair: null,
          side: null,
          amount_min: null,
          amount_max: null,
          price_min: null,
          price_max: null,
          quantity: 1
        },
        sides:[
          'BUY','SELL'
        ]
      }
    },
    props: {
      buttonLabel: {
        type: String,
        default: 'Редактировать'
      },
      buttonIcon: {
        type: Boolean,
        default: true
      },
      mode:{
        type:String,
        default:'update'
      },
      template: {
        type: Object,
        required:false
      }
    },
    computed: {
      ...mapGetters({
        pairs: 'getPairs'
      })
    },
    components: {
      RightPanel
    },
    created() {
      formLoader(this.form, this.template);
      this.actionMode = this.mode
    },
    methods: {
      setDeleteMode(){
        this.actionMode='delete'
      },
      onSubmit() {
        this.$refs.rightPanel.spin(true);
        this.detectAction(this.actionMode, this.form)
          .then(({data}) => {
            sweetAlert.success({text:data.message,position:'center',timer:3000})
            this.$refs.rightPanel.spin(false);
            this.$refs.rightPanel.hide(30)
            this.$emit('orderBookTemplate:update', data.active_order_book_templates)
          })
          .catch(({response}) => {
            let errors = handlerErrors(this.$refs, response.data.errors)
            if (errors.length===1) sweetAlert.error({text:errors})
            this.$refs.rightPanel.spin(false);
          })
      },
      detectAction(mode, form){
        switch (mode) {
          case 'create':
            return requests.terminalSettings.createOrderBookTemplate(form)
          case 'update':
            return requests.terminalSettings.updateOrderBookTemplate(form)
          case 'delete':
            return requests.terminalSettings.deleteOrderBookTemplate(form)
        }
      }
    },
    watch:{
      'form.amount_min'(val,prev){
        this.form.amount_min = formatInputTextFloat(val,prev)
      },
      'form.amount_max'(val,prev){
        this.form.amount_max = formatInputTextFloat(val,prev)
      },
      'form.price_min'(val,prev){
        this.form.price_min = formatInputTextFloat(val,prev)
      },
      'form.price_max'(val,prev){
        this.form.price_max = formatInputTextFloat(val,prev)
      },
    }
  }

</script>