<template>
  <div>
    <h6>Шаблоны ордеров</h6>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Pair</th>
        <th scope="col">Side</th>
        <th scope="col">Amount min</th>
        <th scope="col">Amount max</th>
        <th scope="col">Price min</th>
        <th scope="col">Price max</th>
        <th scope="col">Created at</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <template v-if="activeOrderBookTemplates.length>0" v-for="activeOrderBookTemplate in activeOrderBookTemplates">
        <tr>
          <td>{{activeOrderBookTemplate.id}}</td>
          <td>{{activeOrderBookTemplate.pair}}</td>
          <td>{{activeOrderBookTemplate.side}}</td>
          <td>{{activeOrderBookTemplate.amount_min}}</td>
          <td>{{activeOrderBookTemplate.amount_max}}</td>
          <td>{{activeOrderBookTemplate.price_min}}</td>
          <td>{{activeOrderBookTemplate.price_max}}</td>
          <td>{{activeOrderBookTemplate.created_at}}</td>
          <td width="20%" align="center">
            <edit-order-book-templates-view :template="activeOrderBookTemplate" mode="update"
                                       @orderBookTemplate:update="onOrderBookTemplatesUpdate"/>
          </td>
        </tr>
      </template>
    </table>
    <edit-order-book-templates-view button-label="Добавить"
                               :button-icon="false"
                               mode="create"
                               @orderBookTemplate:update="onOrderBookTemplatesUpdate"/>
  </div>
</template>

<script>
  import EditOrderBookTemplatesView from "./EditOrderBookTemplatesView";
  import {mapGetters} from "vuex";

  export default {
    name: "OrderBookTemplatesView",
    components: {EditOrderBookTemplatesView},
    computed: {
      ...mapGetters({
        activeOrderBookTemplates: 'getActiveOrderBookTemplates'
      })
    },
    methods: {
      onOrderBookTemplatesUpdate(activeOrderBookTemplates) {
        this.$store.dispatch('updateActiveOrderBookTemplatesList', activeOrderBookTemplates)
      }
    }
  }
</script>

<style scoped>

</style>