<template>
  <div class="form-control-custom">
    <small class="text-silver d-block">{{ $t("dashboard.payments.text63") }}</small>
    <small v-if="userLimits['online_translation'][accountCurrencyForPayment]" class="text-silver d-block">
      <span>{{ fromToLimits }}</span></small>
    <label class="w-100" style="margin-top: .5rem" @click="$refs.modal.open()">
      <a class="btn pl-0 text-left">{{ $t("dashboard.payments.text64") }}</a>
      <div class="float-right">
        <img width="30px" src="/assets/images/mastercard.png">
        <img width="30px" src="/assets/images/visa.png">
      </div>
    </label>

    <label v-for="userCard in userCards" class="w-100"
           style="margin-top: .5rem" @click="setSelectedCard(userCard)">
      <input type="radio" :value="userCard.card_number_public" :checked="selectedCheckboxModal===userCard.card_number_public">
      <div class="checkbox__button"></div>
      <span>{{userCard.name}}</span>
      <div class="float-right">
        <img v-if="userCard.card_system==='VISA'"
             src="/assets/images/visa.png" width="30px">
        <img v-if="userCard.card_system==='MASTERCARD'"
             src="/assets/images/mastercard.png" width="30px">
      </div>
      <small class="text-silver d-block">{{userCard.card_number_public}}</small>
    </label>
    <ModalWrapper ref="modal" :size="modal.size">
      <component :is="modal.component" :element="modal.element" v-on:close-modal="$refs.modal.close()"></component>
    </ModalWrapper>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import PaymentMethodModal from '../profile/payment-methods/PaymentMethodModal'
  import AddCard from "../profile/payment-methods/modals/AddCard";
  import {formatMoney, getCurrencyAlias} from "@/main/utilities";

  export default {
    name: "CardBlock",
    components: {
      PaymentMethodModal,
      AddCard
    },
    props: {
      type: {
        type: String,
        defaultValue: null
      }
    },
    data() {
      return {
        modal: {
          component: 'add-card',
          size: 'large',
          element: null
        }
      }
    },
    computed: {
      ...mapGetters({
        userCards: 'getUserCards',
        userLimits: 'getUserLimits',
        selectedCheckboxModal: 'getSelectedCheckboxModal',
        accountCurrencyForPayment: 'getAccountCurrencyForPayment',
      }),
      fromToLimits: function () {
        let min, max, currency
        currency = this.accountCurrencyForPayment
        let payment = this.userLimits['online_translation'][currency][0];
        if (['deposit','external_deposit'].includes(this.type)) {
          min = formatMoney(payment.refill_min_value_trans, currency);
          max = formatMoney(payment.refill_max_value_trans, currency);
        } else {
          min = formatMoney(payment.withdrawal_min_value_trans, currency);
          max = formatMoney(payment.withdrawal_max_value_trans, currency);
        }
        return `${min} ` + this.$t("dashboard.payments.to") + ` ${max} ${getCurrencyAlias(currency)}`;
      }
    },
    watch: {},
    methods: {
      setSelectedCard(userCard) {
        this.$store.dispatch('setCardForPayment', userCard);
        this.$store.dispatch('setSelectedCheckboxModal', userCard.card_number_public);
        if(this.type !== 'external_deposit'){
          this.$store.dispatch('setPaymentTypeForPayment', 'online_translation');
          this.$store.dispatch('updateCommissionForPayment', [this.type, 'online_translation'])
        }
      },
    },
    filters: {
      formatMoney,
      getCurrencyAlias
    }
  }
</script>
