<template>
  <header>
    <div class="row" style="height: 100%">
      <div class="col-lg-10 col-md-12 header-left">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <nav class="navbar navbar-expand-lg">
              <router-link to="/">
                <img src="/assets/images/new-logo.png" height="30px">
              </router-link>
              <div class="collapse navbar-collapse collapse-menu ml-3" id="navbarMenu">
                <ul class="nav justify-content-left menu">
                  <li class="nav-item" v-if="isLogged">
                    <a class="nav-link" href="/dashboard"><span>{{ $t("header_menu.dashboard") }}</span></a>
                  </li>
                </ul>
              </div>
              <header-menu v-if="isLogged"/>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-12 header-right">
        <div class="row h-100 align-items-center">
          <div class="col-lg-4 col-6 header-right__left">
            <span class="title">{{ $t("header_menu.pair") }}</span>
          </div>
          <div class="col-lg-8 col-6 header-right__right">
            <select v-model="activePair"
                    class="transparent-select"
                    id="pair-selector">
              <option v-for="pair in sortedPairs" v-if="pair && checkPair(pair)"
                      :value="pair" :key="pair">{{pair}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
  import {mapGetters} from 'vuex'
  import {formatMoney, getCurrencyAlias, getCurrencySymbol} from '../../utilities'
  import HeaderMenu from "@/main/layouts/main/HeaderMenu"
  import {eventBus} from '../../eventBus'

  export default {
    name: 'header-view',
    components: {
      HeaderMenu
    },
    data() {
      return {
        selectedAccount: null,
        activePair: 'ETH-BTC'
      }
    },
    beforeMount() {
      if (this.isLogged && !this.isDashboardLoad) this.$store.dispatch('loadDashboard')
    },
    computed: {
      ...mapGetters({
        user: 'getUser',
        userAccounts: 'getUserAccounts',
        currentAccount: 'getActiveAccount',
        exchangeRawRates: 'getExchangeRates',
        exchangePairs: 'getExchangePairs',
        unread_user_notifications_counter: 'getCountUnreadUserNotifications',
        isLogged: 'isAuthenticated',
        isDashboardLoad: 'GetDashboardLoadStatus',
      }),
      sortedPairs() {
        let possiblePair = this.$route.query.pair ? this.$route.query.pair.toString() : this.activePair
        if (this.exchangeRawRates && this.checkPair(possiblePair)) {
          this.activePair = possiblePair
        }
        return Object.keys(this.exchangePairs).sort()
      }

    },
    methods: {
      onChangeActiveAccount() {
        this.$store.dispatch('setActiveAccount', this.selectedAccount)
      },
      openExchangeModal() {
        eventBus.$emit('open-exchange-modal')
      },
      checkPair(pair) {
        if (this.exchangeRawRates) {
          return Object.keys(this.exchangeRawRates).includes(pair)
        } else return false

      }
    },
    watch: {
      activePair(pair) {
        this.$store.dispatch('setOrderPair', pair)
        this.$store.dispatch('subscribeToTerminalWs')
        this.$router.replace({path: '/terminal', query: {pair: pair}})
      }
    },
    filters: {
      formatMoney,
      getCurrencySymbol,
      getCurrencyAlias,
    },
  }
</script>
