<template>
  <section id="body">
    <div class="row">
      <left-panel class="left-panel col-lg-2 col-md-3 d-lg-block pb-3 order-lg-1 order-md-2 order-3"/>
      <middle-panel class="center-panel col-lg-8 col-md-9 pb-3 order-lg-2 order-md-3 order-2"/>
      <right-panel class="right-panel col-lg-2 col-md-12 d-md-block order-lg-3 order-md-1 order-1"/>
    </div>
  </section>
</template>

<script>
  import LeftPanel from './left-panel/LeftPanel'
  import MiddlePanel from './middle-panel/MiddlePanel'
  import RightPanel from './right-panel/RightPanel'

  export default {
    name: "terminal-index",
    components: {
      LeftPanel,
      MiddlePanel,
      RightPanel
    },
    watch: {
      // whenever active changes, this function will run
      active: function () {
        document.body.style.overflow = this.active ? 'hidden' : ''
      }
    }
  }
</script>

<style scoped>

</style>
