<template>
  <div class="left-panel">
    <div class="box--w100 inner-bg-dark-gray terminal-bt text-my-style">
      <span class="title">{{ $t("terminal.trades") }}</span>
      <div class="box">
        <div class="box__item text-right text-my-style" :class="allTradesSelected?'selected-tab-white':'unselected-tab'"
             @click="changeTradeSelection(true)">
          {{ $t("terminal.last") }}
        </div>
        <div class="box__item text-right text-my-style"
             :class="!allTradesSelected?'selected-tab-white':'unselected-tab'"
             @click="changeTradeSelection(false)">
          {{ $t("terminal.my") }}
        </div>
      </div>
    </div>
    <div class="row pt-1 pb-1 ml-0 mr-0 mb-0 inner-bg-dark-gray terminal-bt terminal-bb">
      <div class="col-lg-12">
        <table class="table table-borderless mb-0 text-left">
          <thead>
          <tr>
            <th style="width: 40%;" class="laptop-text-center" scope="col">{{ $t("terminal.amount") }}</th>
            <th scope="col" class="text-left laptop-text-center">{{ $t("terminal.time") }}</th>
            <th scope="col" class="text-right laptop-text-center">{{ $t("terminal.price") }}</th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
    <perfect-scrollbar class="scrollbar-left-panel-terminal"
                       :options="{suppressScrollX: true}">
      <div class="trades">
        <div class="row orders-body">
          <div class="col-lg-12 col-md-12">
            <table class="table table-borderless text-left">
              <tbody>
              <tr v-if="allTradesSelected && publicTrades" v-for="trade in publicTrades">
                <!--amount-->
                <td style="width:40%; padding-left: 15px;" v-html="getOrderBookAmountView(Math.abs(trade.amount))">
                  <small-progress-bar
                      :width="parseInt((Math.abs(trade.amount)*100/lastTradesSum/3).toString())"
                      :color="isItBuyTrade(trade)?'green':'red'"/>
                </td>
                <!--time-->
                <td style="width:30%" class="text-left">{{trade.timestamp|parseDateTime}}</td>
                <!--price-->
                <td style="width:30%; padding-right: 15px;" class="text-right"
                    :class="isItBuyTrade(trade)?'color-green':'color-red'">{{trade.price|priceTrunc}}
                </td>
              </tr>
              <tr v-if="!allTradesSelected && userTrades" v-for="trade in userTrades">
                <!--amount-->
                <td style="width:40%; padding-left: 15px;" v-html="getOrderBookAmountView(Math.abs(trade.amount))">
                  <small-progress-bar
                      :width="parseInt((Math.abs(trade.amount)*100/userTradesSum/3).toString())"
                      :color="isItBuyTrade(trade)?'green':'red'"/>
                </td>
                <!--time-->
                <td style="width:30%" class="text-left">{{trade.timestamp|parseDateTime}}</td>
                <!--price-->
                <td style="width:30%" class="text-left" :class="isItBuyTrade(trade)?'color-green':'color-red'">
                  {{trade.price|priceTrunc}}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</template>

//TODO: отрефакторить 54 и 42 строки

<script>
  import moment from 'moment/moment'
  import {mapGetters} from "vuex";
  import {formatMoney} from "../../../utilities";
  import SmallProgressBar from "@/common/charts/SmallProgressBar";
  import {fixedWithRounding} from "@/main/math";

  export default {
    name: 'LeftPanel',
    components: {SmallProgressBar},
    data() {
      return {
        allTradesSelected: true
      }
    },
    computed: {
      ...mapGetters({
        publicTrades: 'getPublicTrades',
        userTrades: 'getUserTrades',
      }),
      lastTradesSum() {
        if (this.publicTrades.length > 0) {
          return this.publicTrades.reduce((sum, trade, i, p) => sum + trade.amount, 0)
        }
      },
      userTradesSum() {
        if (this.userTrades.length > 0) {
          return this.userTrades.reduce((sum, trade, i, p) => sum + trade.amount, 0)
        }
      },

    },
    filters: {
      formatMoney,
      priceTrunc(price) {
        price = parseFloat(price).toFixed(5)
        if (price.toString().length > 7) {
          return Math.trunc(price)
        } else return price
      },
      quoteCurrency(pair) {
        return pair.split("-")[1]
      },
      parseDateTime(timestamp) {
        return moment.unix((timestamp / 1000)).format('HH:mm:ss');
      }
    },
    methods: {
      changeTradeSelection(isAll) {
        this.allTradesSelected = isAll
      },
      quoteCurrency(pair) {
        return pair.split("-")[1]
      },
      baseCurrency(pair) {
        return pair.split("-")[0]
      },
      isItBuyTrade(trade) {
        return trade.side === 'BUY'
      },
      getOrderBookAmountView(amount) {
        //получаем число нужной длины
        amount = fixedWithRounding(amount, true, 8);
        let dotInNumber = (amount * 1).toString().includes('.');
        //получаем количество нулей на конце
        let zeros = (amount.length - 1) - (((amount * 1).toString()).length - 1);
        if (!dotInNumber) zeros -= 1;
        if (zeros > 0) {
          return `${(amount * 1)}${dotInNumber ? '' : '.'}<span class="text-silver">${'0'.repeat(zeros)}</span>`;
        }
        return amount;
      },
    }
  }


</script>



