.form-custom {
  input.security-input {
    -webkit-text-security: disc;
  }
  .form-control-custom {

    label {
      position: relative;
      margin-right: 20px;
      cursor: pointer;
      input {
        &[type=radio],&[type=radio] {
          visibility: hidden;
          position: absolute;
          left: 0;
        }
      }

      .radio__button {
        display: inline-block;
        &:after {
          font-family: "Font Awesome 5 Free",sans-serif;
          content: "\f111";
        }
      }

      & input:checked + .radio__button:after {
        font-family: "Font Awesome 5 Free",sans-serif;
        content: "\f192";
      }
    }

    input {
      text-align: center;
      width: 100%;
      outline: none;
      color: white;
      border: none;
      background: transparent;
      padding: 10px 0;
      border-bottom: 2px solid rgba(255, 255, 255, 0.25);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;

      &[type=radio] {
        width: unset;
      }
      &:hover{
        border-bottom: 2px solid rgba(255, 255, 255, 1);
      }

      &::placeholder {
        color: #ffffff;
      }
    }

    .dropdown-select {
      position: relative;
      border-bottom: 2px solid rgba(255, 255, 255, 0.25);
      cursor: pointer;
      height: 100%;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;


      &:hover {
        border-bottom: 2px solid rgba(255, 255, 255, 1);
      }

      input {
        width: 40%;
        border-bottom: none;
        cursor: pointer;
      }

      ul {
        background: rgb(239, 108, 69);
        position: absolute;
        overflow-y: scroll;
        z-index: 9999;
        height: 185px;
        list-style: none;
        width: 100%;
        padding: 0;
        box-shadow: 0 0 5px #00000094;
        text-align: left;
        -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
        -o-animation: fadein 1s; /* Opera < 12.1 */
        animation: fadein 1s;

        li {
          padding: 5px 0;
          cursor: pointer;

          &:not(:last-child){
            border-bottom: 2px solid rgba(255, 255, 255, 0.25);
            &:hover{
              border-bottom: 2px solid rgba(255, 255, 255, 1);
            }
          }
          &:hover{
            background: rgba(0, 0, 0, 0.25);
          }

          span {
            padding: 10px;
          }
        }
      }
    }
    &.search {
      position: relative;
      input {
        padding-left: 25px;
      }
      i {
        position: absolute;
        left: 0;
        color: #a7a7b7;
        padding: 10px 0;
        bottom: 0;
        line-height: 25px;
        font-size: 16px;
      }
    }
  }

  &.black {
    .form-control-custom {
      input {
        color: black;
        &:hover{
          border-bottom: 2px solid rgb(0, 0, 0);
        }

        &::placeholder{
          color: #a7a7b7;
        }
      }
      margin-bottom: 30px;
      .dropdown-select {
        border-color: #a7a7b7;
        &:hover {
          border-color: #000000;
        }
        ul {
          position: absolute;
          background: #f3f3f9;
          z-index: 9999;
        }
      }
      input {
        text-align: left;
        border-color: #a7a7b7;
      }
    }
  }
}

.form-control-custom.black {
  input {
    color: black;
    &:hover{
      border-bottom: 2px solid rgb(0, 0, 0);
    }

    &::placeholder{
      color: #a7a7b7;
    }
  }
  margin-bottom: 30px;
  .dropdown-select {
    border-color: #a7a7b7;
    &:hover {
      border-color: #000000;
    }
    ul {
      position: absolute;
      background: #f3f3f9;
      z-index: 9999;
    }
  }
  input {
    text-align: left;
    border-color: #a7a7b7;
  }
}

.form-control-custom {

  label {
    position: relative;
    margin-right: 20px;
    input {
      &[type=radio],&[type=checkbox] {
        visibility: hidden;
        position: absolute;
        left: 0;
      }
    }

    .radio__button {
      display: inline-block;
      &:after {
        font-family: "Font Awesome 5 Free",sans-serif;
        content: "\f111";
      }
    }
    .checkbox__button {
      display: inline-block;
      &:after {
        font-family: "Font Awesome 5 Free",sans-serif;
        content: "\f111";
      }
    }

    & input:checked + .radio__button:after {
      font-family: "Font Awesome 5 Free",sans-serif;
      content: "\f192";
    }

    & input:checked + .checkbox__button:after {
      font-family: "Font Awesome 5 Free",sans-serif;
      content: "\f192";
    }
  }

  input {
    text-align: center;
    width: 100%;
    outline: none;
    color: white;
    border: none;
    background: transparent;
    padding: 10px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    &[type=radio] {
      width: unset;
    }
    &:hover{
      border-bottom: 2px solid rgba(255, 255, 255, 1);
    }

    &::placeholder {
      color: #ffffff;
    }
  }

  .dropdown-select {
    position: relative;
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    cursor: pointer;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;


    &:hover {
      border-bottom: 2px solid rgba(255, 255, 255, 1);
    }

    input {
      width: 40%;
      border-bottom: none;
      cursor: pointer;
    }

    ul {
      background: rgb(239, 108, 69);
      position: absolute;
      overflow-y: scroll;
      z-index: 9999;
      height: 185px;
      list-style: none;
      width: 100%;
      padding: 0;
      box-shadow: 0 0 5px #00000094;
      text-align: left;
      -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
      -o-animation: fadein 1s; /* Opera < 12.1 */
      animation: fadein 1s;

      li {
        padding: 5px 0;
        cursor: pointer;

        &:not(:last-child){
          border-bottom: 2px solid rgba(255, 255, 255, 0.25);
          &:hover{
            border-bottom: 2px solid rgba(255, 255, 255, 1);
          }
        }
        &:hover{
          background: rgba(0, 0, 0, 0.25);
        }

        span {
          padding: 10px;
        }
      }
    }
  }
  &.search {
    position: relative;
    input {
      padding-left: 25px;
    }
    i {
      position: absolute;
      left: 0;
      color: #a7a7b7;
      padding: 10px 0;
      bottom: 0;
      line-height: 25px;
      font-size: 16px;
    }
  }
}

label {
  position: relative;
  margin-right: 20px;
  input {
    &[type=radio],&[type=checkbox] {
      visibility: hidden;
      position: absolute;
      left: 0;
    }
  }

  .radio__button {
    display: inline-block;
    &:after {
      font-family: "Font Awesome 5 Free",sans-serif;
      content: "\f111";
    }
  }
  .checkbox__button {
    display: inline-block;
    &:after {
      font-family: "Font Awesome 5 Free",sans-serif;
      content: "\f111";
    }
  }

  & input:checked + .radio__button:after {
    font-family: "Font Awesome 5 Free",sans-serif;
    content: "\f192";
  }

  & input:checked + .checkbox__button:after {
    font-family: "Font Awesome 5 Free",sans-serif;
    content: "\f192";
  }
}
.exchange-block {
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}
.score-form-wrapp {
  min-height: calc(100vh - 531px)
}
.score-form {
  width: 450px;
  @media(max-width: 767px) {
    width: 100%;
  }
}
.score-form_form-custom {
  width: 100%;
  input {
    width: 100%;
  }
}
.score-btn {
  width: 100%;
  margin: 35px auto !important;
  opacity: 1;
  &:hover {
    box-shadow: 0 1px 20px 5px rgba(254,82,70,0.5);
  }
}
.personal-form__input-wrapp {
  position: relative;
  padding-top: 15px;
}
.personal-form__input-wrapp label {
  display: none !important;
  opacity: 0;
  transition: all 0.5s ease;
  color: #4f313f;
}

.personal-form__input-wrapp .personal-form__label-sex {
    position: absolute!important;
    top: -10px!important;
    cursor: pointer!important;
    opacity: 1!important;
    display: flex!important;
}


.personal-form__input-wrapp label.label-d-block {
  display: inline-block !important;
  opacity: 1;
  transition: all 0.5s ease;
  color: #4f313f;
}
.personal-form__input-wrapp input {
  transition: all 0.5s ease;
}
.personal-form__input-wrapp input:focus::placeholder {
  color: transparent !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;

}
.personal-form__input-wrapp input:focus::-webkit-input-placeholder {
  color: transparent !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
}
.personal-form__input-wrapp input:focus::-moz-placeholder          {
  color: transparent !important;
  transition: all 0.5s ease;
  opacity: 0;
}
.personal-form__input-wrapp input:focus:-moz-placeholder           {
  color: transparent !important;
  transition: all 0.5s ease;
  opacity: 0;
}
.personal-form__input-wrapp input:focus:-ms-input-placeholder      {
  color: transparent !important;
  transition: all 0.5s ease;
  opacity: 0;
}
.personal-form__input-wrapp input:focus {
  border-color: #4f313f !important;
}
.personal-form__input-wrapp input:focus + label {
  display: flex !important;
  order: -1;
  position: absolute;
  top: 0;
  opacity: 1;
  transition: all 0.5s ease;
}

div[contenteditable="plaintext-only"] {
  word-wrap: break-word !important;
  -webkit-nbsp-mode: normal !important;
  line-break: normal !important;
  -webkit-user-modify: read-write !important;
}
