<template>

  <div class="dashboard board dashboard-layout">
    <edit-profile-modal></edit-profile-modal>
    <div class="board__left">
      <left-panel @rightPanel:open="onOpenRightPanel"></left-panel>
    </div>
    <div class="board__content">
      <header-view></header-view>
      <div class="board__break-line"></div>
      <router-view></router-view>
    </div>

    <right-panel ref="rightPanel" :title="modal.title">
      <comment :is="modal.component"></comment>
    </right-panel>
    <fill-notification class="fill-notification"></fill-notification>


  </div>

</template>

<script>
  import FillNotification from './dashboard/FillNotification'

  import LeftPanel from './dashboard/LeftPanel/Index'
  import Documents from './dashboard/Documents'
  import HeaderView from './dashboard/Header'
  import { mapGetters } from 'vuex'
  import EditProfileModal from "../views/dashboard/profile/EditProfileModal";

  export default {
    name: 'dashboard',
    components: {
      EditProfileModal,

      HeaderView,
      Documents,
      LeftPanel,
      FillNotification,
    },
    beforeMount() {
      this.$store.dispatch('loadDashboard')
    },
    computed: mapGetters({
      user: 'getUser'
    }),
    methods: {
      onOpenRightPanel(data) {
        this.$refs.rightPanel.show()
        this.modal = data
      }
    },
    data() {
      return {
        modal: {
          title: 'Untitled',
          component: ''
        }
      }
    }
  }

</script>
