<template>
  <div class="main landing">
    <header-view ref="nav" @openModal="onOpenModal"/>
    <router-view/>
    <footer-view/>
    <ModalWrapper ref="modalWrapper" :title="$t(`modal.${modal.title}`)">
      <component :is="modal.component" :data="modal.data" @openModal="onOpenModal" @close="closeModal"/>
    </ModalWrapper>
  </div>

</template>

<script>

  import PasswordRecovery from './main/PasswordRecovery.vue'
  import EmailUnconfirmed from './main/EmailVerification/Unconfirmed'
  import EmailSuccessful from './main/EmailVerification/Successful'
  import EmailConfirmed from './main/EmailVerification/Confirmed'
  import spinner from '../../common/spinner'
  import Register from './main/Register.vue'
  import FooterView from './main/Footer.vue'
  import HeaderView from './main/Header.vue'
  import Modal from './main/Modal.vue'
  import Login from './main/Login.vue'
  import {mapGetters} from 'vuex'

  export default {
    name: 'main-layout',
    components: {
      PasswordRecovery,
      EmailUnconfirmed,
      EmailSuccessful,
      EmailConfirmed,
      FooterView,
      HeaderView,
      Register,
      Login,
      Modal
    },
    computed: mapGetters({
      isLogged: 'isAuthenticated',
      registerModal: 'getOpenRegisterModal',
      loginModal: 'getOpenLoginModal'
    }),
    data() {
      return {
        modal: {
          title: 'Untitled',
          component: ''
        }
      }
    },
    watch: {
      registerModal(val){
        this.onOpenModal('register', 'registration');
      },
      loginModal(val){
        this.onOpenModal('login', 'authorization')
      }
    },
    mounted() {
      if (this.$cookies.get('verify_user_email') === 'verified_success') {
        this.onOpenModal('email-successful', 'email_verification');
        this.$cookies.remove('verify_user_email');
        return
      } else if (this.$cookies.get('verify_user_email') === 'verified') {
        this.onOpenModal('email-confirmed', 'email_verification');
        this.$cookies.remove('verify_user_email');
        return
      }
      if (this.$route.query.login === '1' ) {
        this.onOpenModal('login', 'authorization')
      }

      if (this.$route.query.b !== undefined) {
        this.onOpenModal('register', 'registration');
      }

      if (this.$route.query.r !== undefined) {
        this.onOpenModal('register', 'registration');
      }


      if (this.$route.params.action === 'login') {
        this.onOpenModal(this.$route.params.action, 'authorization')
      }

      if (this.$route.params.action === 'registration') {
        this.$refs.nav.toggleModal('.bd-modal-xl')
      }
    },
    methods: {
      onOpenModal(component, title, data = null) {
        this.modal.component = component
        this.modal.title = title
        this.modal.data = data
        this.$refs.modalWrapper.open()
        spinner.toggle(false)
      },
      closeModal(){
        this.$refs.modalWrapper.close()
        if(this.modal.component === 'register') {
          this.$store.commit('setOpenRegisterModal', !this.registerModal)
        }
        if(this.modal.component === 'login') {
          this.$store.commit('setOpenLoginModal', !this.loginModal)
        }
      }
    }
  }

</script>
