<template>
  <div class="dashboard-layout">
    <edit-profile-modal></edit-profile-modal>
    <header>
      <div class="container-fluid with-left-panel">
        <div class="row">
          <div class="col-md-12">
            <nav class="navbar navbar-expand-lg">
              <router-link to="/dashboard" class="navbar-brand font-weight-bold mr-4">
                <img src="/assets/images/new-logo.png" height="30px">
              </router-link>
              <div class="collapse navbar-collapse" ref="main-menu">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <router-link to="/dashboard" class="nav-link"><span>{{ $t("newdashbord.dashboard") }}</span></router-link>
                  </li>
                  <li class="nav-item">
                    <router-link to="/terminal" class="nav-link"><span>{{ $t("newdashbord.trade") }}</span></router-link>
                  </li>
                  <!--<li class="nav-item">
                    <router-link to="/dashboard/investment" class="nav-link"><span>{{ $t("newdashbord.investment") }}</span></router-link>
                  </li>-->
                </ul>
              </div>
              <header-menu/>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="container-fluid with-left-panel">
      <div class="container-screen">
        <router-view />
      </div>
      <footer-view />
    </div>

    <ModalWrapper ref="modalAgreeWrapper" :title="$t('dashboard.agree_title')" :close_button="false">
      <Agreement></Agreement>
    </ModalWrapper>
  </div>
</template>

<script>
  import EditProfileModal from '../views/dashboard/profile/EditProfileModal'
  import Investment from '../views/dashboard/Investment'
  import LeftPanel from '../layouts/dashboard/LeftPanel/Index'
  import FooterView from './dashboard/Footer'
  import spinner from '../../common/spinner'
  import HeaderMenu from './main/HeaderMenu'
  import { eventBus } from '../eventBus'
  import { mapGetters } from 'vuex'
  import Agreement from '../components/Agreement'

  export default {
    name: "new-dashboard",
    data() {
      return {
        isOpenLeftPanel: false
      }
    },
    components: {
      LeftPanel,
      EditProfileModal,
      Investment,
      Agreement,
      HeaderMenu,
      FooterView
    },
    computed: mapGetters({
      isUserCreated : 'isUserCreated',
      isUserOnVerify : 'isUserOnVerify',
      isUserVerified : 'isUserVerified',
      isUserNotVerified : 'isUserNotVerified',
      isUserLoaded : 'isUserLoaded',
      user: 'getUser'
    }),
    mounted(){

    },
    beforeMount() {
      spinner.toggle(true)
      this.$store.dispatch('loadDashboard').then(() => {
        spinner.toggle(false)
      }).catch(() => {
        spinner.toggle(false)
      })
    },
    methods: {
      openExchangeModal() {
        eventBus.$emit('open-exchange-modal')
      },
    },
    watch: {
      user() {
        if(!this.user.agreement) {
          this.$refs.modalAgreeWrapper.open()
        } else {
          this.$refs.modalAgreeWrapper.close()
        }
      }
    }
  }
</script>
