<template>
  <div class="container-fluid terminal">
    <header-view></header-view>
    <router-view></router-view>
  </div>
</template>

<script>
  import HeaderView from '../views/terminal/Header'


  export default {
    name: 'terminal',
    components: {
      HeaderView
    }
  }
</script>