<template>
  <section>
    <label for="CVV">Enter the CVV</label>
    <input id="CVV" type="password" name="cvv" v-model="cvv" placeholder="***" autocomplete="new-password" />
    <button class="btn btn-primary btn-accepted" :disabled="isDisabled" @click="onSubmitButton">{{ $t("dashboard.profile.confirm") }}</button>
  </section>
</template>

<script>

  export default {
    name: 'submit-cvv-modal',
    data() {
      return {
        cvv: null,
      }
    },
    computed: {
      isDisabled() {
        if (this.cvv) {
          return this.cvv.length !== 3
        }
        return true
      }
    },
    methods: {
      onSubmitButton () {
        this.$emit('cvv-submitted', this.cvv)
      },
    },
    watch: {
      cvv(val, oldVal) {
        let some = this.cvv.search('^[0-9]+$')
        if (some === -1 || this.cvv.length > 3) {
          this.cvv = oldVal
        }
        if (some === -1 && val.length === 0) {
          this.cvv = ''
        }
      }
    }
  }

</script>
