<template>

  <form :ref="din_id" :action="action" method="POST">
    <template v-for="(input, key) in value">
      <input type="hidden" :name="key" :value="input"/>
    </template>
    <button class="btn dashboard__btn hiden-btn-submit">{{ $t("dashboard.blocks.text1") }}</button>
  </form>

</template>

<script>

  import { mapGetters } from 'vuex'
  import spinner from "@/common/spinner";

  export default {
    name: 'submit-3ds',
    props:['id'],
    data() {
      return {
        action: null,
        value: null,
        din_id: this.id,
      }
    },
    computed: mapGetters({
      callback_url: 'getCallbackUrl'
    }),
    methods: {
      submit3DS(saleResponse) {
        spinner.toggle(true)
        this.action = saleResponse.action;
        this.value = saleResponse.value;

        let that = this
        setTimeout(() => {
          that.$refs[this.din_id].submit()
        }, 800);
      },
    }
  }

</script>
