.referral-user-link {
  box-shadow: 0 0 5px 0 rgba(17, 6, 51, 0.14);
  margin-bottom: 30px;
  background-color: #f6f6fb;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
  min-height: 237px;

  &__header {
    margin-bottom: 16px;
    i {
      font-size: 60px;
      color: #ff504b;
    }
  }

  &__body {
    margin-bottom: 16px;
    color: #000000;
    font-family: "Gotham Pro", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
  }

  &__footer {
    button {
      width: 160px;
    }
  }
}

.verification-user {
  margin-bottom: 30px;
  box-shadow: 0 0 5px 0 rgba(17, 6, 51, 0.14);
  background-color: #f6f6fb;
  padding: 30px;
  min-height: 237px;

  .color-green {
    color: #64d731;
  }

  .header {
    margin-bottom: 70px;
    @media screen and (max-width: 780px) {
      flex-direction: column;
      margin-bottom: 20px;
      div {
        margin-bottom: 25px;
      }
    }

    div {
      &:last-child {
        h3 {
          font-size: 30px;
          font-weight: 500;
          line-height: 20px;
        }
      }

      h3 {
        color: #000000;
        font-family: "Gotham Pro", sans-serif;
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
      }

      span {
        color: #000000;
        font-family: "Gotham Pro", sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 19.99px;
      }
    }
  }

  .body {
    @media screen and (max-width: 780px) {
      flex-direction: column;
      .item {
        margin-bottom: 25px;
      }
    }
    .item {
      .left {
        .circle {
          border-radius: 100%;
          border: 2px solid black;
          width: 28px;
          height: 28px;
          text-align: center;
          &.color-red {
            border-color: #ff4e4b;
          }
          &.width {
            border: none;
          }
        }

        margin-right: 15px;

        i {
          font-size: 28px;
        }
      }

      .right {
        line-height: 20px;
      }
    }
  }
}

.courses {
  position: relative;
  box-shadow: 0 0 5px 0 rgba(17, 6, 51, 0.14);
  background-color: #f6f6fb;
  padding: 15px;
  padding-top: 0;
  height: 600px;
  margin-bottom: 20px;
  @media screen and (max-width: 450px) {
    padding: 30px 10px;
    padding-top: 0;
  }
  .courses-body {
    margin-bottom: 40px;
  }

  &__icon {
    height: 65px;
    img {
      margin: auto;
    }
  }

  .header {
    @media screen and (max-width: 540px) {
      flex-direction: column;
    }
    h3 {
      font-size: 15px;
      font-weight: 700;
      line-height: 20px;
    }

    margin-bottom: 0;
  }

  .search > .search {
    margin-bottom: 15px;
  }

  .item {
    padding: 5px 15px;
    border-radius: 3px;
    border: 2px solid #ebecf3;
    background-color: #ebecf3;
    margin-bottom: 15px;
    transition: padding-top ease-in-out .5s, padding-bottom ease-in-out .5s;

    &.open {
      border: 2px solid #d9dae7;
      background-color: #d9dae7;
      padding: 20px 15px;
      transition: padding-top ease-in-out .5s, padding-bottom ease-in-out .5s;
      .header {
        margin-bottom: 10px;
        .right {
          i.fa-angle-down {
            display: none;
          }
          i.fa-angle-up {
            display: block;
          }
        }
      }
      .body {
        display: -ms-flexbox!important;
        display: flex!important;
      }
      .courses__footer {
        display: -ms-flexbox!important;
        display: flex!important;
        align-items: center;
      }
    }

    .header {
      margin-bottom: 0;
      .left {
        align-items: center;

        i {
          margin-right: 10px;
        }
      }

      .right {
        i.fa-angle-up {
          display: none;
        }
      }

    }

    .body {
      display: none!important;
      .left {
        .form-control-custom {
          margin-bottom:  15px;
        }
        div {
          position: relative;

          span {
            position: absolute;
            right: 0;
            top: 50%;
            color: #a7a7b7;
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            text-transform: uppercase;
          }
        }
      }

      .right {
        .form-control-custom {
          margin-bottom:  15px;
        }
        div {
          position: relative;

          span {
            position: absolute;
            right: 0;
            top: 50%;
            color: #a7a7b7;
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            text-transform: uppercase;
          }
        }
      }
    }

    .courses__footer {
      @media screen and (max-width: 450px) {
        flex-direction: column;
        button {
          margin-bottom: 20px;
          width: 100%;
        }
      }
      display: none!important;
      button {
        margin-right: 20px;
      }
    }
  }

  .courses-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    left: 0;
    background: #f2f2f8;
    .arrow-down {
      width: 12px;
      height: 17px;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
      margin: auto;
    }
  }

  .transaction-commission {
    div {
      font-size: 13px;
      display: inline-block;
      position: relative;
      color: #000000;
    }
  }
}

.last-transactions {
  position: relative;
  box-shadow: 0 0 5px 0 rgba(17, 6, 51, 0.14);
  background-color: #f6f6fb;
  padding: 30px;
  height: 600px;
  margin-bottom: 20px;
  padding-top: 15px;
  &__item:last-child {
    margin-bottom: 0 !important;
  }
  @media screen and (max-width: 450px) {
    padding: 30px 5px;
    padding-top: 15px;
  }

  .header {
    h3 {
      color: #000000;
      font-size: 15px;
      font-weight: 700;
      line-height: 20px;
    }
    span {
      color: #000000;
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      text-transform: uppercase;
    }
  }
  .body {
    .item {
      flex-wrap: wrap;
      padding: 5px 15px;
      border-radius: 3px;
      border: 2px solid #ebecf3;
      background-color: #ebecf3;
      margin-bottom: 15px;
      @media screen and (max-width: 1269px) and (min-width: 1200px) {
        flex-direction: row;
        align-items: flex-start!important;
      }

      &>span {
        @media screen and (max-width: 550px) {
          margin-bottom: 15px;
          width: 100%;
        }
      }

      .d-flex {
        &.center {
          width: 270px;
          justify-content: left;
          @media screen and (max-width: 820px) {
            width: 100%;
            order: 01;
            justify-content: flex-start;
            //margin-top: 15px;
          }
          @media screen and (max-width: 600px) {
            width: 100%;
            order: 01;
            justify-content: flex-start;
            //margin-top: 15px;
          }
          @media screen and (min-width: 1270px) {
            width: 100%;
            order: 01;
            justify-content: flex-start;
            //margin-top: 15px;
          }
          @media screen and (max-width: 1269px) and (min-width: 1200px) {
            width: 100%;
            order: -1;
            //justify-content: center;
            margin-top: 15px;
          }
        }
        img {
          height: 28px;
          width: 28px;
        }
      }
    }
  }
  .last-transactions-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    left: 0;
    background: #f2f2f8;
    .arrow-down {
      width: 12px;
      height: 17px;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
      margin: auto;
    }
  }
}
@media(max-width: 768px) {
  .courses__title {
    padding-top: 20px;
  }
}
.courses-header {
  position: relative;
}
.courses-right-icon {
  position: absolute;
  right: 0;
}
@media(max-width: 480px) {
  .rates-box--mob {
    display: block !important;
  }
  .rates-box__item--mob {
    display: flex;
    flex-wrap: wrap;
  }

}
@media(max-width: 450px) {
  .transaction-commission  {
    margin-bottom: 10px;
  }
}

.form-control-custom--input {
  padding: 0 !important;
}
.courses .item .body .right div span, .courses .item .body .left div span {
  top: 5px !important;
}
.exchange-box-wrapp {
  border-bottom: 2px solid #a7a7b7;
  &:hover {
    border-color: #000;
  }
  .exchange-box .form-control-custom--input {
    border: none !important;
    border-color: transparent !important;
    &:hover {
      border: none !important;
      border-color: transparent !important;
    }
  }
  .exchange-box {
    width: 80%;
    input.form-control-custom--input {
      text-align: left;
    }
    @media(min-width: 991px){
      width: 70%;
    }
  }
}
.last-transactions .last-transactions-body {
  margin-top: 30px;
  margin-bottom: 30px;
}

.last-transactions .body .item {
  min-height: 125px;
  @media(max-width: 1060px) {
    min-height: 160px;
  }
  @media(max-width: 768px) {
    min-height: 180px;
  }
}

@media screen and (max-width: 600px) {
  .last-transactions .body .item .d-flex.center {
    margin-top: 0;
  }
}


.courses-body .courses__footer button[disabled] {
  color: #fff;
  background-color: #00da77;
  border-color: #00da77;
  opacity: 0.5
}

.courses-body .courses__footer button[disabled]:hover {
  color: #fff;
  background-color: #00da77;
  border-color: #00da77;
  opacity: 0.5
}
