<template>
  <div class="text-left text-silver">
    <p class="text-center">{{ $t("activate-instruction.text1") }}</p>
    <p>{{ $t("activate-instruction.text2") }} {{ $t("activate-instruction.text3") }}</p>
    <p>{{ $t("activate-instruction.text4") }}</p>
    <p>{{ $t("activate-instruction.text5" + mobileString()) }}</p>
    <p class="text-center"><img :src="imgPath(1)"/></p>
    <p>{{ $t("activate-instruction.text6" + mobileString()) }} </p>
    <p class="text-center"><img :src="imgPath(5)"/></p>
    <p v-if="isMobile()" class="text-center"><img :src="imgPath(4)"/></p>
    <p>{{ $t("activate-instruction.text66" + mobileString()) }} </p>
    <p v-if="isMobile()" class="text-center"><img :src="imgPath(3)"/></p>
    <p>{{ $t("activate-instruction.text7" + mobileString()) }}</p>
    <p class="text-center"><img :src="imgPath(2)"/></p>
    <p>{{ $t("activate-instruction.text8") }} {{ $t("activate-instruction.text9") }}</p>
    <p v-if="!isMobile()" class="text-center"><img :src="imgPath(3)"/></p>
    <p>{{ $t("activate-instruction.text10") }}</p>
    <p>{{ $t("activate-instruction.text12") }}<a class="activate-instruction-link"
      href="https://bitexfin.com/how">https://bitexfin.com/how</a>{{$t("activate-instruction.text13")}}</p>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import {isMobile} from "@/main/utilities";
  export default {
    name: "ActivateBitexcardInstruction",
    computed: {
      ...mapGetters({
        lang: 'getSelectedLang'
      })
    },
    methods: {
      isMobile,
      mobileString() {
        return isMobile() ? '-mobile' : '';
      },
      imgPath: function(val) {
        return `assets/images/activate-bitexcard/${this.lang}/activate-${val}${this.mobileString()}.png`
      }
    }
  }
</script>

<style scoped>

</style>