<template>

  <div class="not-found-box my-style-fees content-wrapp container mt-5 color-black-box">
    <h1>{{ $t("rules.law_enforcement_policy") }}</h1>
    <p>
      {{ $t("rules.text3") }}
    </p>
    <p>
      {{ $t("rules.text4") }}
    </p>
    <p>
      {{ $t("rules.text5") }}
    </p>
    <p>
      {{ $t("rules.text6") }}
    </p>
    <p>
      {{ $t("rules.text7") }}
    </p>
    <p>
      {{ $t("rules.text8") }}
    </p>
  </div>

</template>

<script>

  export default {
    name: 'law-enf'
  }

</script>
