<template>

  <div class="content-wrapp container mt-5">
    <h1>{{ $t("rules.risk_disclosure") }}</h1>
    <p>
      {{ $t("rules.text118") }}
    </p>
    <p>
      {{ $t("rules.text119") }}
    </p>
    <p>
      {{ $t("rules.text120") }}
    </p>
    <p>
      {{ $t("rules.text121") }}
    </p>
    <p>
      {{ $t("rules.text122") }}
    </p>
    <p>
      {{ $t("rules.text123") }}
    </p>
    <p>
      {{ $t("rules.text124") }}
    </p>
    <p>
      {{ $t("rules.text125") }}
    </p>
    <p>
      {{ $t("rules.text126") }}
    </p>
    <p>
      {{ $t("rules.text127") }}
    </p>
  </div>

</template>

<script>

  export default {
    name: 'risk'
  }

</script>
