.board {
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
  position: relative;
  overflow-x: hidden;

  &__left {
    min-width: $m-left-panel-width;
    min-height: 100vh;

    @media (min-width: 1400px) {
      width: $left-panel-width;
    }
  }

  &__content {
    width: calc(100% - 78px);
    margin-left: auto;
    @media (min-width: 1400px) {
      width: calc(100% - 276px);
    }
  }

  &__break-line {
    box-shadow: 0 10px 16px -6px rgba(0,0,0,.15);
    background-color: #fff;
    height: 15px;
  }
}

.btn-buy,.btn-sell{
  width:100%;
}


.popular .btn-buy,.popular .btn-sell{
  min-width:80px;
  width:80px;
  max-width:80px;
  padding-right: 0;
  padding-left: 0;
  font-size: 10px!important;
}

.dashboard .left-panel__wrapper--active, .dashboard .left-panel__wrapper:hover .board__content {
  width: calc(100% - 276px);
  margin-left: auto;
}