.fill-notification {
  position: fixed;
  color: #333;
  font-size: 14px;
  min-width: 250px;
  height: auto;
  border-radius: 5px;
  padding: 15px 20px;
  z-index: 100;
  bottom: 25px;
  left: 145px;
  border-width: 1px;
  border-color: #e6e6e6;
  border-style: solid;
  background-color: #ffffff;

  &__close {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #b2b3b4;
    cursor: pointer;
  }
}