.footer {
  background: #e6e6f0;
  padding-top: 55px;
  min-height: 220px;
  @media screen and (max-width: 991px) {
    height: auto;
  }

  &__item, a {
    color: #757b82;
    font-size: 12px;
  }

  &__vertical {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
  }
}