.header {
  justify-content: space-between;
  display: flex;
  width: 100%;

  a {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
    letter-spacing: 1px;
    align-items: center;
    margin-right: 24px;
    position: relative;
    line-height: 14px;
    font-weight: 500;
    font-size: 13px;
    color: #babdc1;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: #fff;
    }
  }

  &__menu {
    align-items: center;
    position: relative;
    display: flex;
  }
  & .contact_phone{
    margin-right:15px;
    display: flex;
    min-width: 190px;
    & a{
      font-size: 18px;
      & span{
        display:inline-block;
      }
    }
    & i{
      font-size: 15px;
    }

    @media (max-width: 660px) {
      min-width: auto;
      & a {
        & span{
          display:none;
        }
      }
    }
  }
}
.nav-link--mob {
  display: none;
}
@media screen and (max-width: 1200px) {
  .nav-link--mob {
    display: block;
    position: absolute;
    top: 1px;
    right: 45px;
    color: #fff;
  }
}