.info-block {
  border: solid 1px #e6e6e6;
  margin-bottom: 15px;
  border-radius: 6px;
  background: #fff;

  &:last-child {
    margin-bottom: 0;
  }

  &__inner {
    padding: 16px 16px 24px;
    box-sizing: border-box;
    position: relative;
    min-height: 122px;
  }

  &__inner-icon {
    background: #f4f5f6;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    line-height: 66px;
    font-size: 27px;
    color: #78a7c8;
    height: 66px;
    width: 66px;
    right: 18px;
    top: 24px;
  }

  &__inner-title {
    letter-spacing: -1px;
    line-height: 30px;
    font-weight: 400;
    font-size: 24px;
    color: #333;
  }

  &__inner-text {
    line-height: 21px;
    font-size: 15px;
    color: #7f8389;
  }

  &__item {
    justify-content: space-between;
    border-top: 1px solid #e6e6e6;
    align-items: center;
    padding: 9px 24px;
    display: flex;

    &-link {
      color: #5b8db3;
    }
  }
}
