.info-panel {
  background-image: linear-gradient(260deg, rgb(29, 37, 60), rgb(62, 71, 87));
  color: rgb(255, 255, 255);
  height: 117px;

  &__inner {
    align-items: center;
    height: inherit;
    display: flex;
  }

  &__right{
    width: 50%;
  }
  &__left {
    width: 50%;
  }

  &__right {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  &__name {
    font-size: .8rem;
    color: #b0b3ba;
  }

  &__text {
    font-family: sans-serif;
    font-size: 30px;
  }

  &__buttons{
    min-width: 50%;
  }
  &__button {
    border: 1px solid #fff;
    padding: 15px 25px;
    color: #fff;
    cursor: pointer;

    &:hover {
      background: #fff;
      color: #1d253c;
    }

    &:first-child {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;

    }

    &:last-child {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      margin-right: -20px;
    }
  }
}
