.left-panel {
  bottom: 0;

  &__wrapper {
    box-shadow: 1px 2px 15px 0 rgba(0,0,0,.05);
    z-index: $left-panel-z-index;
    transition: width .25s ease;
    width: $m-left-panel-width;
    background: #fff;
    overflow: hidden;
    position: fixed;

    @media (min-width: 1400px) {
      width: $left-panel-width;

      &::after,
      &::after {
        content: '●=== ●=== ●=== ●=== ●==='!important;
        text-align: left!important;
        width: 100%!important;
        padding-left: 10px;
        margin-top: -10px;
      }
    }

    &::after,
    &::after {
      margin-bottom: 100rem;
      content: '● ● ● ● ●';
      text-align: center;
      line-height: 5rem;
      font-size: 6.5rem;
      color: #f4f4f5;
      display: block;
      width: 78px;
    }
  }

  &__preview {
    display: none;
  }

  &__break-line {
    transition: height .25s ease,background-color .25s ease;
    background-color: #f4f5f6;
    width: 100%;
    height: 15px;
  }

  &__logo {
    display: block;
    height: 68px;
    width: 100%;
    background: url('/assets/images/logo.png') center no-repeat;
    background-size: 2rem;

    @media (min-width: 1400px) {
      background: url('/assets/images/logo.png') center no-repeat;
      background-size: 2rem;
    }
  }

  &__content {
    height: calc(100vh - 200px);

    .ps {
      overflow: hidden;
      height: inherit;
    }

    @media (min-width: 1400px) {
      height: calc(100vh - 130px);
    }
  }

  &__profile {
    z-index: $left-panel-z-index + 1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #f4f5f6;
    position: relative;
    display: flex;
    height: 120px;
    width: 100%;

    @media (min-width: 1400px) {
      flex-direction: row;
      height: 50px;
    }

    a {
      font-size: 1.2rem;
      margin: 0 15px;
      color: #74a3c7;

      &:hover {
        text-decoration: none;
        color: #597991;
      }
    }

    &--notify {
      position: relative;

      .point {
        border: 2px solid #f4f5f6;
        background: #da3225;
        position: absolute;
        border-radius: 50%;
        right: -5px;
        height: 15px;
        color: #fff;
        width: 15px;
        top: 0;
      }
    }
  }

  .left-menu {
    &__item {
      transition: background-color .25s ease,height .25s ease;
      border-bottom: 1px dashed #f0f0f1;
      background-color: transparent;
      width: $left-panel-width;
      display: block;
      padding: 15px;
      color: #333;
      cursor:pointer;

      &:last-child {
        border-color: transparent;
      }

      &:hover {
        background-color: rgba(0, 0, 0, .05);
        text-decoration: none;
      }
    }
    &__icon {
      background-color: #f4f4f5;
      font-family: sans-serif;
      vertical-align: middle;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      line-height: 48px;
      font-size: 22px;
      color: #7f8389;
      height: 48px;
      width: 48px;
    }
    &__content {
      vertical-align: middle;
      margin-left: 10px;
      display: none;

      @media (min-width: 1400px) {
        display: inline-block;
      }
    }
    &__create {
      transition: background-color .25s ease,height .25s ease;
      justify-content: space-between;
      background-color: transparent;
      align-items: center;
      font-size: 15px;
      color: #74a3c7;
      padding: 15px;
      display: flex;

      @media (max-width: 1400px) {
        display: none;
      }

      &:hover {
        background-color: rgba(0, 0, 0, .05);
        text-decoration: none;
      }
    }
    &__title {
      justify-content: space-between;
      align-items: center;
      font-weight: 700;
      font-size: 17px;
      display: flex;

      i {
        cursor: pointer;
        color: #d4d4d4;
      }
    }
    &__text,
    &__name {
      line-height: 21px;
      font-size: 15px;
    }
    &__price {
      line-height: 24px;
      font-weight: bold;
      font-size: 17px;

      &--mobile {
        margin: 5px 0 0 -15px;
        text-align: center;
        font-size: 10px;
        width: 78px;

        @media (min-width: 1400px) {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .left-panel__wrapper--active,
  .left-panel__wrapper:hover {
    width: $left-panel-width;

    .left-panel__logo {
      background: url('/assets/images/logo.png') center no-repeat;
      background-size: 2rem;
    }

    .left-menu__content {
      display: inline-block;
    }

    .left-menu__create {
      display: flex;
    }

    .left-panel__profile {
      flex-direction: row;
      height: 50px;
    }

    .left-menu__price--mobile {
      display: none;
    }

    .left-panel__content {
      height: calc(100vh - 130px);
    }
  }
}
