.operation {
  &__when {
    text-transform: uppercase;
    background-color: #f6f7f8;
    box-sizing: border-box;
    padding: 11px 18px 7px;
    letter-spacing: .9px;
    min-height: 36px;
    font-size: 13px;
    display: block;
    color: #9299a2;
  }

  &__item {
    transition: background-color .2s ease-in-out;
    border-bottom: 1px solid #dddfe0;
    justify-content: space-between;
    cursor: pointer;
    padding: 20px;
    display: flex;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: #f9fbfc;
    }

    &-left {
      display: flex;
    }

    &-right {
      text-align: right;
      color: #9299a2;

      .number {
        font-size: 20px;
        color: #333;

        i {
          color: rgb(146, 153, 162);
          margin-right: 10px;
          font-size: 22px;
        }
      }

      .label {
        font-size: 13px;
        margin-right: 30px;
      }
    }

    &-icon {
      background-color: #f4f4f5;
      font-family: sans-serif;
      vertical-align: middle;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      line-height: 48px;
      font-size: 22px;
      color: #7f8389;
      height: 48px;
      width: 48px;
    }

    &-content {
      padding: 0 20px;

      .title {
        line-height: 24px;
        font-size: 17px;
        color: #333;
      }

      .desc {
        a {
          font-size: 14px;
          color: #74a3c7;
        }
      }
    }
  }
}

.transaction-body {
  display: none;
  transition: 1s;

  .title, .number {
    font-weight: 100;
    font-size: 0.9rem;
  }
}