<template>
  <div class="grid-view">
    <table class="table-bordered" cellpadding="10">
      <thead>
      <tr>
        <td align="center" width="15%">Имя Сервиса</td>
        <td align="center" width="5%">Старт</td>
        <td align="center" width="17.5%">Время последнего старта:</td>
        <td align="center" width="5%">Стоп</td>
        <td align="center" width="17.5%">Время последнего стопа:</td>
        <td align="center" width="5%">Рестарт</td>
        <td align="center" width="17.5%">Время последнего рестарта:</td>
      </tr>
      </thead>
      <tbody>
      <tr v-for="service in Object.keys(services)" :key="service">
        <td  align="left">{{services[service]}}</td>
        <td  align="center">
          <button :disabled="settings?settings[service]['start']:false"
                  @click="sendCommand(service,'start')">
            <i class="fas fa-play"></i>
          </button>
        </td>
        <td  align="center">{{settings?settings[service]['last_start']:null}}</td>
        <td  align="center">
          <button :disabled="settings?settings[service]['stop']:false"
                  @click="sendCommand(service,'stop')">
            <i class="fas fa-stop"></i>
          </button>
        </td>
        <td  align="center">{{settings?settings[service]['last_stop']:null}}</td>
        <td  align="center">
          <button :disabled="settings?settings[service]['restart']:false"
                  @click="sendCommand(service,'restart')">
            <i class="fas fa-redo"></i>
          </button>
        </td>
        <td  align="center">{{settings?settings[service]['last_restart']:null}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import requests from '../requests'

  export default {
    data() {
      return {
        services: {
          socket: 'Socket API(курсы)',
          'history-api': 'History API(терминал)',
          'order-api': 'Order API(торги)',
          'order-core': 'Order Core(торги)',
          'trading-bots': 'Trading bots(боты)'
        },
        settings: null
      }
    },
    name: "service-management-view",
    created() {
      this.updateTimestamps()
    },
    methods: {
      sendCommand(service, type) {
        requests.serviceManagement.postCommands({service: service, type: type})
          .then(() => {
            this.updateTimestamps()
          })
      },
      updateTimestamps() {
        requests.serviceManagement.getSettings()
          .then(({data}) => {
            this.settings = data.settings
          })
          .catch(e => console.log(e))
      }
    }
  }
</script>

<style scoped>

</style>