<template>
    <div class="card">
        <div class="card-body">
          <button class="btn btn-dark" @click="$refs.rightPanel.show()">Добавить</button>
          <right-panel ref="rightPanel" title="Новый обмен между счетами">
            <exchange-form :currencies="currencies" :exchangeRate="exchangeRate" :form="form" method="create"></exchange-form>
          </right-panel>
        </div>
    </div>
</template>


<script>
  import RightPanel from "../../common/right-panel";
  import ExchangeForm from "./ExchangeForm.vue";
  import requests from '../requests'

  export default {
    name: 'create-new-exchange',
    props: {
      currencies: Array,
      exchangeRate: Array
    },
    components: {
      RightPanel,
      ExchangeForm
    },
    data() {
      return {
        form: {
          exchange_rate_id: null,
          currency_from: null,
          currency_to: null,
          commission: null,
          allow_trade:false
        }
      };
    },
    created() {
      const exchange = this.exchangeRate[0] || {}
      this.form.exchange_rate_id = exchange.id || null
      this.form.currency_from = exchange.currency_from || null
      this.form.currency_to = exchange.currency_to || null
    }
  }

</script>
