<template>
    <span>
        <div class="btn btn-danger" @click="showRightPanel" :title="$t('dashboard.profile.delete')">
            <i class="fas fa-trash"></i>
        </div>
      <right-panel ref="rightPanel" :title="$t('words.delete_exchange_between_accounts')">
          <hr>
          <error-view :errors="errors"></error-view>
          <success-view :success-message="successMessage"></success-view>

          <button
              type="button"
              class="btn"
              :class="active=='g2fa'?'btn-primary':'btn-outline-primary'"
              @click="setActive('g2fa')">
              Whith Google Auth
        </button>
        <button
            type="button"
            class="btn"
            :class="active=='sms'?'btn-primary':'btn-outline-primary'"
            @click="setActive('sms')">
          Whith SMS
        </button>

          <form class="right-menu__form discard_withdrawals" method="post" @submit.prevent="onSubmit">
              <google2-fa v-if="show && active=='g2fa'" v-on:ga_code="form.ga_code = $event" ref="google2fa"></google2-fa>
              <div class="right-menu__form__row mt-2" v-show="active=='sms'">
                  <input type="text"
                         class="right-menu__form__input"
                         v-model="form.sms_code"
                         placeholder="Sms code"
                         ref="field_sms_code"
                  >
                  <button type="button" class="btn btn-link" @click="onSendSmsCode">Request code</button>

              </div>
              <div class="text-danger error-msg" ref="error_sms_code"></div>
              <button type="submit" class="btn btn-primary right-menu__button">
                  Отправить
              </button>
            </form>
      </right-panel>
    </span>
</template>


<script>
  import RightPanel from "../../common/right-panel";
  import requests from '../requests'
  import ErrorView from '../../common/form-elements/Errors.vue'
  import {handlerErrors} from '../../main/utilities'
  import Google2Fa from "../../common/google2fa";

  export default {
    name: 'delete-exchange',
    props: {
      exchange: Object
    },
    components: {
      RightPanel,
      ErrorView,
      Google2Fa
    },
    data() {
      return {
        errors: [],
        successMessage: '',
        isSendCode: false,
        form: {
          ga_code: '',
        },
        show: false,
        active: 'g2fa',
        crefs: this.$refs,
      };
    },
    created() {
      this.$nextTick(() => $(this.$el).removeClass('preview-btn'));
    },
    methods: {
      setActive(name){
        this.active = name;
        this.$refs.error_sms_code.innerHTML = ''
        this.$refs.field_sms_code.classList.remove("is-invalid");
        if(name=='sms') {
          Vue.delete(this.form, 'ga_code')
          Vue.set(this.form, 'sms_code', '')
        }
        else {
          this.isSendCode = true;
          Vue.delete(this.form, 'sms_code')
          Vue.set(this.form, 'ga_code', '')
        }
      },
      showRightPanel(){
        this.show = true;
        this.$refs.rightPanel.show()
      },
      clearMessage() {
        this.successMessage = ''
      },
      onSendSmsCode() {
        this.$refs.rightPanel.show();
        this.$refs.rightPanel.spin(true);
        requests.exchangeAccount.remove(this.exchange.id, this.form, true)
          .then(({data}) => {
            this.$refs.rightPanel.spin(false);
            this.isSendCode = true;
            this.successMessage = data.message;
          })
          .catch(({response}) => {
            this.$refs.rightPanel.spin(false);
            this.errors = handlerErrors(this.$refs, response.data.errors)
          })
      },
      onSubmit() {
        this.errors = [];
        if(this.active!='sms') {
          this.crefs = Object.assign(this.$refs, this.$refs.google2fa.$refs);
        }

        this.$refs.field_sms_code.blur();
        this.$refs.rightPanel.spin(true);
        requests.exchangeAccount.remove(this.exchange.id, this.form)
          .then(({data}) => {
            this.$refs.rightPanel.spin(false);
            this.isSendCode = false;
            this.form.sms_code = null;
            handlerShowResultAlert(data.message);
            window.location.reload();
          })
          .catch(({response}) => {
            this.$refs.rightPanel.spin(false);
            this.form.sms_code = null;
            this.errors = handlerErrors(this.$refs, response.data.errors)
          });
      }
    }
  }

</script>
