<template>
    <span>
      <div class="btn btn-secondary" @click="showRightPanel" :title="$t('dashboard.profile.edit')">
          <i class="fas fa-edit"></i>
      </div>
      <right-panel ref="rightPanel" title="Редактировать обмен между счетами">
        <exchange-form v-if="show" :currencies="currencies" :exchangeRate="exchangeRate" :form="form" method="update"></exchange-form>
      </right-panel>
    </span>
</template>

<script>
  import RightPanel from "../../common/right-panel";
  import ExchangeForm from "./ExchangeForm.vue";

  export default {
    name: 'edit-exchange',
    props: {
      currencies: Array,
      exchangeRate: Array,
      exchange: Object
    },
    components: {
      RightPanel,
      ExchangeForm
    },
    data() {
      return {
        form: {
          exchange_id: null,
          exchange_rate_id: null,
          currency_from: null,
          currency_to: null,
          commission: null,
          sms_code: null,
          allow_trade:false
        },
        show:false
      };
    },
    created() {
      let {currency_from, currency_to, commission, exchange_rate, id, allow_trade} = this.exchange;

      this.$nextTick(() => $(this.$el).removeClass('preview-btn'));
      this.form = {
        ...this.form, ...{
          exchange_id: id,
          currency_from,
          currency_to,
          commission,
          allow_trade,
          exchange_rate_id: (exchange_rate ? exchange_rate.id : null)
        }
      }
    },
    methods: {
      showRightPanel(){
        this.show = true;
        this.$refs.rightPanel.show()
      },
    }
  }

</script>
