<template>
    <div class="exchanges">
        <create-new-exchange :currencies="currencies"
                             :exchange-rate="exchangeRate"
        />
        <table-view :exchanges="exchanges"
                    :currencies="currencies"
                    :exchange-rate="exchangeRate"
        />
    </div>
</template>

<script>
import TableView from './TableView'
import CreateNewExchange from './CreateNewExchange'
import requests from "../requests";

export default {
  name: "GridView",
  components: {
  	TableView,
    CreateNewExchange
  },
  data() {
  	return {
      currencies: [],
      exchangeRate: [],
      exchanges: {}
    }
  },
  created () {
  	this.load();
  },
  methods: {
  	load () {
      requests.exchangeAccount.list().then(({ data }) => {
        this.currencies = data.currencies;
        this.exchangeRate = data.exchangeRate;
        this.exchanges = Object.assign({}, data.exchanges);
      })
    }
  }
}
</script>
