<template>
  <div class="exchanges-table-wrapp">
    <table class="table table-striped table-bordered mt-3">
      <thead>
      <tr>
        <th scope="col" style="width: 5%">ID</th>
        <th scope="col" style="width: 5%">Валюта которую меняют</th>
        <th scope="col" style="width: 5%">Валюта на которую меняют</th>
        <th scope="col" style="width: 5%">Валютная пара обмена </th>
        <th scope="col" style="width: 5%">Комиссия</th>
        <th scope="col" colspan="2" style="width: 5%">Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr v-if="exchanges.length !== {}" v-for="exchange in exchanges">
        <td>{{ exchange.id }}</td>
        <td>{{ exchange.currency_from | getCurrencyAlias(currencies) }}</td>
        <td>{{ exchange.currency_to | getCurrencyAlias(currencies) }}</td>
        <td><span v-if="exchange.exchange_rate">{{ exchange.exchange_rate.label }}</span></td>
        <td>{{ exchange.commission }}</td>
        <td align="center">
          <edit-exchange :currencies="currencies"
                         :exchange-rate="exchangeRate"
                         :exchange="exchange"
                         class="preview-btn"
          />
        </td>
        <td align="center">
          <delete-exchange :exchange="exchange" class="preview-btn" />
        </td>
      </tr>
      <tr v-else>
        <td colspan="5" class="text-center">Ничего не найдено.</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import EditExchange from './EditExchange'
import DeleteExchange from './DeleteExchange'
import _ from 'underscore'

export default {
  name: "TableView",
  components: {
    EditExchange,
    DeleteExchange
  },
  filters: {
    getCurrencyAlias (currency, currencies) {
      let currencyName = _.find(currencies, {name: currency})

      if (currencyName) {
        return currencyName.view
      }

      return currency
    }
  },
  props: {
  	currencies: {
      type: Array,
      required: true
    },
    exchangeRate: {
      type: Array,
      required: true
    },
    exchanges: {
      type: Object,
      required: true
    }
  }
}
</script>
