<div class="right-popup right-popup__full-screen" id="menu_change-user-info_{{ user.id }}">
    <div class="right-popup__background"></div>
    <div class="right-popup__content">
        <div class="right-popup__close"><i class="far fa-times-circle"></i></div>
        <div class="right-popup__main">
            <div class="popup-content">
                <div class="right-menu__header">
                    <i class="far fa-envelope"></i>
                    <span class="right-menu__header__text">Изменить данные пользователя</span>
                </div>

                <form class="right-menu__form right-menu__form_change-user-info" method="post">
                    <input type="hidden" name="user_id" value="{{ user.id }}" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="right-menu__form__block right-menu__form">
                                <div class="right-menu__form__block__inner">
                                    <span class="right-menu__header__text">Офис</span>
                                    <div class="right-menu__form__row">
                                        <select class="form-control chosen" data-placeholder="Выберете один из офисов" name="office_number[]" multiple="multiple">
                                            {% for office in offices %}
                                                <option value="{{ office.number }}"
                                                    {% for user_office in user.offices %}
                                                        {% if office.number is same as(user_office.number) %}
                                                            selected
                                                        {% endif %}
                                                    {% endfor %}
                                                >{{ office.city }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="text-danger error-msg" id="error_office_number"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="right-menu__form__block right-menu__form">
                                <div class="right-menu__form__block__inner">
                                    <span class="right-menu__header__text">Должность</span>
                                    <div class="right-menu__form__row">
                                        <select class="form-control" name="status">
                                            <option value="" selected></option>
                                            {% for index, value in positions %}
                                                <option value="{{ index }}" {% if user.position == index %}selected{% endif %}
                                                >{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="text-danger error-msg" id="error_status"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="right-menu__form__block">
                        <div class="right-menu__form__block__inner">
                            <span class="right-menu__header__text">ID пригласившего</span>
                            <div class="right-menu__form__row">
                                <input type="number" name="referral_id" class="right-menu__form__input" />
                            </div>
                            <div class="text-danger error-msg" id="error_referral_id"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="right-menu__form__block right-menu__form">
                                <div class="right-menu__form__block__inner">
                                    <span class="right-menu__header__text">Личные данные</span>
                                    <div class="right-menu__form__row">
                                        <input type="text" name="surname" class="right-menu__form__input" placeholder="Фамилия" value="{{ user.surname }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_surname"></div>

                                    <div class="right-menu__form__row">
                                        <input type="text" name="name" class="right-menu__form__input" placeholder="Имя" value="{{ user.name }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_name"></div>

                                    <div class="right-menu__form__row">
                                        <input type="text" name="patronymic" class="right-menu__form__input"  placeholder="Отчество" value="{{ user.patronymic }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_patronymic"></div>

                                    <div class="right-menu__form__row">
                                        <input type="date" name="birthday" class="right-menu__form__input right-menu__form__input-date" placeholder="Дата рождения" value="{{ user.birthday }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_birthday"></div>

                                    <div class="right-menu__form__row">
                                        <select name="sex" class="right-menu__form__input right-menu__form__input-select" data-placeholder="Пол">
                                            <option value="male">М</option>
                                            <option value="female">Ж</option>
                                        </select>
                                    </div>
                                    <div class="text-danger error-msg" id="error_sex"></div>
                                    <div class="right-menu__form__row">
                                        <input type="text" name="citizenship" class="right-menu__form__input right-menu__form__input-date" placeholder="Гражданство" value="{{ user.citizenship }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_citizenship"></div>
                                </div>
                            </div>
                            <div class="right-menu__form__block right-menu__form">
                                <div class="right-menu__form__block__inner">
                                    <span class="right-menu__header__text">Место рождения</span>

                                    <div class="right-menu__form__row">
                                        <input type="text" name="birth_country"
                                           value="{{ user.birth_country }}"
                                           class="right-menu__form__input"
                                           placeholder="Страна"
                                        />
                                    </div>
                                    <div class="text-danger error-msg" id="error_birth_country"></div>
                                    <div class="right-menu__form__row">
                                        <input type="text" name="birth_city"
                                           class="right-menu__form__input"
                                           value="{{ user.birth_city }}"
                                           placeholder="Город"
                                        />
                                    </div>
                                    <div class="text-danger error-msg" id="error_birth_city"></div>
                                    <div class="right-menu__form__row">
                                        <input type="text" name="birth_street"
                                           class="right-menu__form__input"
                                           value="{{ user.birth_street }}"
                                           placeholder="Регион"
                                        />
                                    </div>
                                    <div class="text-danger error-msg" id="error_birth_street"></div>
                                </div>
                            </div>
                            <div class="right-menu__form__block right-menu__form">
                                <div class="right-menu__form__block__inner">
                                    <span class="right-menu__header__text">Адрес прописки</span>

                                    <div class="right-menu__form__row">
                                        <input type="text" name="country" class="right-menu__form__input" placeholder="Страна" value="{{ user.country }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_country"></div>

                                    <div class="right-menu__form__row">
                                        <input type="text" name="city" class="right-menu__form__input" placeholder="Город" value="{{ user.city }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_city"></div>

                                    <div class="right-menu__form__row">
                                        <input type="text" name="street" class="right-menu__form__input" placeholder="Улица" value="{{ user.street }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_street"></div>

                                    <div class="right-menu__form__row">
                                        <input type="text" name="house_number" class="right-menu__form__input" placeholder="Дом" value="{{ user.house_number }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_house_number"></div>

                                    <div class="right-menu__form__row">
                                        <input type="text" name="apartment_number" class="right-menu__form__input" placeholder="Квартира" value="{{ user.apartment_number }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_apartment_number"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="right-menu__form__block right-menu__form">
                                <div class="right-menu__form__block__inner">
                                    <span class="right-menu__header__text">Паспортные данные</span>
                                    <div class="right-menu__form__row">
                                        <input type="text" name="passport_series" class="right-menu__form__input" placeholder="Серия" value="{{ user.passport_series }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_passport_series"></div>

                                    <div class="right-menu__form__row">
                                        <input type="text" name="passport_number" class="right-menu__form__input" placeholder="Номер" value="{{ user.passport_number }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_passport_number"></div>

                                    <div class="right-menu__form__row">
                                        <input type="date" name="passport_date_issue" class="right-menu__form__input right-menu__form__input-date" placeholder="Дата выдачи" value="{{ user.passport_date_issue }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_passport_date_issue"></div>

                                    <div class="right-menu__form__row">
                                        <input type="text" name="passport_division_code" class="right-menu__form__input" placeholder="Код подразделения" value="{{ user.passport_division_code }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_passport_division_code"></div>

                                    <div class="right-menu__form__row">
                                        <input type="text" name="passport_issued" class="right-menu__form__input" placeholder="Выдан" value="{{ user.passport_issued }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_passport_issued"></div>
                                </div>
                            </div>
                            <div class="right-menu__form__block right-menu__form">
                                <div class="right-menu__form__block__inner">
                                    <span class="right-menu__header__text">Дополнительные данные</span>
                                    <div class="right-menu__form__row">
                                        <input type="text" name="inn"
                                           class="right-menu__form__input menu__form__input-inactive"
                                           placeholder="Инн клиента"
                                           value="{{ user.inn }}"
                                        />
                                    </div>
                                    <div class="text-danger error-msg" id="error_inn"></div>
                                    <div class="right-menu__form__row">
                                        <input type="text" name="email" class="right-menu__form__input menu__form__input-inactive" placeholder="Текущий e-mail" value="{{ user.email }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_email"></div>

                                    <div class="right-menu__form__row">
                                        <input type="text" name="phone_number" class="right-menu__form__input" placeholder="Текущий номер телефона" value="{{ user.phone_number }}">
                                    </div>
                                    <div class="text-danger error-msg" id="error_phone_prefix"></div>
                                    <div class="text-danger error-msg" id="error_phone_number"></div>
                                </div>
                            </div>
                            <div class="right-menu__form__block right-menu__form">
                                {% for index, bankRequisite in user.bankRequisites %}
                                    <div class="right-menu__form__block__inner">
                                        <span class="right-menu__header__text">Платежные реквизиты {{ index+1 }}</span>
                                        <input type="hidden" name="payment_details_id[]" value="{{ bankRequisite.id }}" />
                                        <div class="right-menu__form__row">
                                            <input type="text"
                                                   class="right-menu__form__input menu__form__input-inactive"
                                                   value="{{ bankRequisite.recipient_account }}"
                                                   name="payment_details_recipient_account[]"
                                                   placeholder="Recipient account"
                                            />
                                        </div>
                                        <div class="text-danger error-msg" id="error_payment_details_recipient_account"></div>
                                        <div class="right-menu__form__row">
                                            <input type="text"
                                                   class="right-menu__form__input menu__form__input-inactive"
                                                   placeholder="ФИО (Наименование компании)"
                                                   value="{{ bankRequisite.recipient_name }}"
                                                   name="payment_details_recipient_name[]"
                                            />
                                        </div>
                                        <div class="text-danger error-msg" id="error_payment_details_recipient_name"></div>
                                        <div class="right-menu__form__row">
                                            <input type="text"
                                                   class="right-menu__form__input menu__form__input-inactive"
                                                   value="{{ bankRequisite.recipient_address }}"
                                                   name="payment_details_recipient_address[]"
                                                   placeholder="Recipient address"
                                            />
                                        </div>
                                        <div class="text-danger error-msg" id="error_payment_details_recipient_address"></div>
                                        <div class="right-menu__form__row">
                                            <input type="text"
                                                   class="right-menu__form__input menu__form__input-inactive"
                                                   value="{{ bankRequisite.swift_code }}"
                                                   name="payment_details_swift_code[]"
                                                   placeholder="Swift code"
                                            />
                                        </div>
                                        <div class="text-danger error-msg" id="error_payment_details_swift_code"></div>
                                        <div class="right-menu__form__row">
                                            <input type="text"
                                                   class="right-menu__form__input menu__form__input-inactive"
                                                   value="{{ bankRequisite.bank_type }}"
                                                   name="payment_details_bank_type[]"
                                                   placeholder="Bank type"
                                            />
                                        </div>
                                        <div class="text-danger error-msg" id="error_payment_details_bank_type"></div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="right-menu__form__block right-menu__form" >
                        <div class="right-menu__form__block__inner">
                            <span class="right-menu__header__text">Чекбоксы</span>
                            <div class="right-menu__form">
                                <input id="banned_{{ user.id }}" type="checkbox" name="banned" value="1"{% if user.banned %}checked="checked"{% endif %} />
                                <label for="banned_{{ user.id }}">Заблокирован</label>
                            </div>
                            <div class="text-danger error-msg" id="error_banned"></div>
                        </div>
                    </div>
                    <div class="alert alert-danger" role="alert"></div>
                    <hr>
                    {% if user.documents|length > 0 %}
                        <div class="right-menu__form__block right-menu__form">
                            <div class="right-menu__form__block__inner">
                                <span class="right-menu__header__text">Документы</span>
                                <div class="right-menu__form" id="dashboard_profile_addDocument">
                                    <div class="right-menu__form__block">
                                        {% for document in user.documents %}
                                            <div class="right-menu__form__block__inner">
                                                <div class="right-menu__form__row">
                                                    {% if document.type == 'national_passport' %}
                                                        1. <a href="/uploads/{{ document.path }}" target="_blank">{{ 'national_passport'|trans }}</a>
                                                    {% elseif document.type == 'international_passport' %}
                                                        1. <a href="/uploads/{{ document.path }}" target="_blank">{{ 'foreign_passport'|trans }}</a>
                                                    {% elseif document.type == 'driver_license' %}
                                                        1. <a href="/uploads/{{ document.path }}" target="_blank">{{ 'driving_license'|trans }}</a>
                                                    {% elseif document.type is same as('photo_with_you') %}
                                                        2. <a href="/uploads/{{ document.path }}" target="_blank">{{ 'photo_with_you'|trans }}</a>
                                                    {% elseif user.documents[2].type == 'utility_bill' %}
                                                        3. <a href="/uploads/{{ document.path }}" target="_blank">{{ 'utility_bill'|trans }}</a>
                                                    {% elseif user.documents[2].type == 'document_about_registration' %}
                                                        3. <a href="/uploads/{{ document.path }}" target="_blank">{{ 'document_confirming_your_residence'|trans }}</a>
                                                    {% elseif user.documents[2].type == 'other_document' %}
                                                        3. <a href="/uploads/{{ document.path }}" target="_blank">{{ 'bank_statements_or_other_documents'|trans }}</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <hr>
                    <div class="alert alert-danger mt-5" role="alert"></div>
                    <input type="hidden" name="user_id" value="{{ user.id }}" />
                    <button type="submit" class="btn btn-primary right-menu__button">Изменить</button>
                </form>
            </div>
        </div>
    </div>
</div>
