<div class="card-body operations-history">
    <form method="get">
        <div class="form-row">
            <div class="col">
                <div class="card-form-row">
                    <label for="find_form_user_id">ID</label>
                    <input type="text" name="id" class="form-control" value="{{ request_params.id }}">
                </div>
            </div>

            <div class="col">
                <div class="card-form-row">
                    <label for="find_form_user_full_name">ФИО</label>
                    <input type="text" name="full_name" class="form-control" value="{{ request_params.full_name }}">
                </div>
            </div>

            <div class="col">
                <div class="card-form-row">
                    <label for="find_form_user_full_name">Телефон</label>
                    <input type="text" name="phone_number" class="form-control" value="{{ request_params.phone_number }}">
                </div>
            </div>

            <div class="col">
                <div class="card-form-row">
                    <label>Выводить по</label>
                    <input type="number" name="limit" class="form-control" min="1" value="{{ request_params.limit|default(10) }}"/>
                </div>
            </div>
            <button type="submit" class="btn btn-dark btn-reload">
                <i class="fas fa-redo-alt"></i> Обновить
            </button>
        </div>
    </form>
</div>
