.payments-method {
  .payments-method-item {
    height: 100%;
    &--header {
      i {
        font-size: 60px;
        color: #ff504b;
      }
    }
    &--footer {
      button {
        width: 160px;
      }
    }
  }
}
