.payments .payments-table {
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .payments .payments-table {
    justify-content: space-between !important;
    align-items: center !important;
  }
}

@media screen and (max-width: 991px) {
  .payments .payments-table.payments-table-header {
    display: none !important;
  }
}
.pay-title-mob {
  display: none;
  @media screen and (max-width: 991px) {
    display: block;
  }
}
.payments-table {
  &:nth-child(even) {
    background: #f5f3f9;
  }
}