<div class="right-popup" id="menu_withdrawal_accept_{{ withdrawal.id }}">
    <div class="right-popup__background"></div>
    <div class="right-popup__content">
        <div class="right-popup__close"><i class="far fa-times-circle"></i></div>
        <div class="right-popup__main">
            <div class="popup-content">
                <div class="right-menu__header">
                    <i class="far fa-envelope"></i>
                    <span class="right-menu__header__text">Заявка на вывод средств</span>
                </div>
                <div class="alert alert-success success-msg" role="alert">
                    Заявка на вывод средств подтверждена!
                </div>
                <div class="alert alert-danger" role="alert"></div>
                <form id="withdrawals_accept" method="post">
                    <input type="hidden" name="csrf_name" value="{{ csrf_key }}"/>
                    <input type="hidden" name="csrf_value" value="{{ csrf_key }}"/>
                    <input type="hidden" name="withdrawal_id" value="{{ withdrawal.id }}"/>
                    {% if withdrawal.payment_type in ['online_translation'] %}
                                <div class="mt-3">
                                    <div>Номер карты: <strong>{{ withdrawal.userCard.card_number_public }}</strong></div>
                                    <div>ФИО на карте: <strong>{{ withdrawal.userCard.card_holder }}</strong></div>
                                </div>
                    {% endif %}
                    {% if withdrawal.payment_type in ['rated_bill'] %}
                            <div class="mt-3">
                                <div>Банковский счет: <strong>{{ withdrawal.bankRequisites.recipient_account }}</strong></div>
                                <div>Swift код: <strong>{{ withdrawal.bankRequisites.swift_code }}</strong></div>
                                <div>Владелец счета: <strong>{{ withdrawal.bankRequisites.recipient_name }}</strong></div>
                                <div>Адрес: <strong>{{ withdrawal.bankRequisites.recipient_address }}</strong></div>
                                {% for document in withdrawal.bankRequisites.documents %}
                                <div>Документ: <a target="_blank" href="{{ document.getUrl() }}">
                                        {% if document.type in ['account_statement'] %}
                                            Выписка со счёта
                                        {% elseif document.type in ['account_details'] %}
                                            Реквизиты счёта
                                        {% endif %}
                                    </a></div>
                                {% endfor %}
                            </div>
                    {% endif %}
                    <div class="mt-3">
                        <div>ФИО пользователя: <strong>{{ withdrawal.full_name }}</strong></div>
                        <div>Сумма на вывод: <strong>{{ withdrawal.amount }} {{ withdrawal.currency_from }}</strong>
                        </div>
                    </div>
                    <div class="right-menu__form__row">
                        <input type="text" name="sms_code"
                               class="right-menu__form__input"
                               placeholder="Sms code" required/>
                        <button type="button" class="btn btn-link" onclick="sendAdminWithdrawalSmsCode()">Request
                            code
                        </button>
                    </div>
                    <button type="submit" class="btn btn-primary right-menu__button">Подтвердить</button>
                </form>
            </div>
        </div>
    </div>
</div>
