.invest-box {
  justify-content: center;
}
.invest-box__sum {
  padding-left: 10px;
  padding-right: 10px;
}
.invest-box__currency {
  padding-left: 10px;
  padding-right: 10px;
}
.link-activation-invest {
  flex-wrap: wrap;
  @media screen and (max-width: 480px) {
    flex-direction: column !important;
    align-items: flex-start !important;
    div {
      margin-bottom: 15px;
    }
  }
}

@media screen and (max-width:768px) {
  .link-activation-invest {
    flex-wrap: wrap;
    .d-flex.flex-column:first-child {
      width: 100%;
    }
    .d-flex.flex-column:nth-child(2) {
      width: 8%;
    }
    .d-flex.flex-column:nth-child(3) {
      width: 90%;
    }
  }
}
@media screen and (max-width:585px) {
  .invest-box {
    justify-content: flex-start;
    .accept {
      width: 50%;
    }
  }
}