.crypto-link{
  color:#74a3c7;
  cursor:pointer;
  font-weight: 400;
  & :hover{
    color: #4a7094;
  }
}

.copy-tooltip{
  display: block;
  background: #0a0a0a;
  color:white;
  position: absolute;
  z-index: 10000;
  right: 0;
  bottom: 140px;
  width:250px;
  height:auto;
  line-height: 40px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
}
