<div class="right-popup right-popup__full-screen" id="menu_change-user-limit-info_{{ limit.id }}">
    <div class="right-popup__background"></div>
    <div class="right-popup__content">
        <div class="right-popup__close"><i class="far fa-times-circle"></i></div>
        <div class="right-popup__main">
            <div class="popup-content">
                <div class="right-menu__header">
                    <i class="far fa-envelope"></i>
                    <span class="right-menu__header__text">Изменить данные лимита "{{ payment_types[limit.payment_type] }} {{ limit.currency }}"</span>
                </div>

                <form class="right-menu__form right-menu__form_change-user-limit-info" method="post">
                    <input type="hidden" name="limit_id" value="{{ limit.id }}" />
                    <h5>Лимиты</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="right-menu__form__block right-menu__form">
                                <span class="right-menu__header__text">Пополнение</span>
                                <div class="right-menu__form__block__inner mt-3">
                                    <label for="refill_min_value_trans">
                                        Минимальная сумма пополнения за 1 транзакцию
                                    </label>
                                    <div class="right-menu__form__row">
                                        <input type="number" step="any" name="refill_min_value_trans"
                                               class="right-menu__form__input"
                                               id="refill_min_value_trans"
                                               value="{{ limit.refill_min_value_trans }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_refill_min_value_trans"></div>
                                </div>
                                <div class="right-menu__form__block__inner mt-3">
                                    <label for="refill_max_value_trans">
                                        Максимальная сумма пополнения за 1 транзакцию
                                    </label>
                                    <div class="right-menu__form__row">
                                        <input type="number" step="any" name="refill_max_value_trans"
                                               class="right-menu__form__input"
                                               id="refill_max_value_trans"
                                               value="{{ limit.refill_max_value_trans }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_refill_max_value_trans"></div>
                                </div>
                                <div class="right-menu__form__block__inner mt-3">
                                    <label for="refill_max_value_day">
                                        Максимальная сумма пополнений за 1 день(оборот)
                                    </label>
                                    <div class="right-menu__form__row">
                                        <input type="number" step="any" name="refill_max_value_day"
                                               class="right-menu__form__input"
                                               id="refill_max_value_day"
                                               value="{{ limit.refill_max_value_day }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_refill_max_value_day"></div>
                                </div>
                                <div class="right-menu__form__block__inner mt-3">
                                    <label for="refill_max_value_month">
                                        Максимальная сумма пополнений за 1 месяц(оборот)
                                    </label>
                                    <div class="right-menu__form__row">
                                        <input type="number" step="any" name="refill_max_value_month"
                                               class="right-menu__form__input"
                                               id="refill_max_value_month"
                                               value="{{ limit.refill_max_value_month }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_refill_max_value_month"></div>
                                </div>
                                <div class="right-menu__form__block__inner mt-3">
                                    <label for="refill_commission_fix">
                                        Фиксированная комиссия за пополнение
                                    </label>
                                    <div class="right-menu__form__row">
                                        <input type="number" min="0" step="any" name="refill_commission_fix"
                                               class="right-menu__form__input"
                                               id="refill_commission_fix"
                                               value="{{ limit.refill_commission_fix }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_refill_commission_fix"></div>

                                    <label for="refill_commission_multiplier">
                                        Комиссия за пополнение в процентах
                                    </label>
                                    <div class="right-menu__form__row">
                                        <input type="number" min="0" step="any" name="refill_commission_multiplier"
                                               class="right-menu__form__input"
                                               id="refill_commission_multiplier"
                                               value="{{ limit.refill_commission_multiplier }}"/>%
                                    </div>
                                    <div class="text-danger error-msg" id="error_refill_commission_multiplier"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="right-menu__form__block right-menu__form">
                                <span class="right-menu__header__text">Вывод</span>
                                <div class="right-menu__form__block__inner mt-3">
                                    <label for="withdrawal_min_value_trans">
                                        Минимальная сумма вывода за 1 транзакцию
                                    </label>
                                    <div class="right-menu__form__row">
                                        <input type="number" step="any" name="withdrawal_min_value_trans"
                                               class="right-menu__form__input"
                                               id="withdrawal_min_value_trans"
                                               value="{{ limit.withdrawal_min_value_trans }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_withdrawal_min_value_trans"></div>
                                </div>
                                <div class="right-menu__form__block__inner mt-3">
                                    <label for="withdrawal_max_value_trans">
                                        Максимальная сумма вывода за 1 транзакцию
                                    </label>
                                    <div class="right-menu__form__row">
                                        <input type="number" step="any" name="withdrawal_max_value_trans"
                                               class="right-menu__form__input"
                                               id="withdrawal_max_value_trans"
                                               value="{{ limit.withdrawal_max_value_trans }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_withdrawal_max_value_trans"></div>
                                </div>
                                <div class="right-menu__form__block__inner mt-3">
                                    <label for="withdrawal_max_value_day">
                                        Максимальная сумма выводов за 1 день(оборот)
                                    </label>
                                    <div class="right-menu__form__row">
                                        <input type="number" step="any" name="withdrawal_max_value_day"
                                               class="right-menu__form__input"
                                               id="withdrawal_max_value_day"
                                               value="{{ limit.withdrawal_max_value_day }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_withdrawal_max_value_day"></div>
                                </div>
                                <div class="right-menu__form__block__inner mt-3">
                                    <label for="withdrawal_max_value_month">
                                        Минимальная сумма выводов за 1 месяц(оборот)
                                    </label>
                                    <div class="right-menu__form__row">
                                        <input type="number" step="any" name="withdrawal_max_value_month"
                                               class="right-menu__form__input"
                                               id="withdrawal_max_value_month"
                                               value="{{ limit.withdrawal_max_value_month }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_withdrawal_max_value_month"></div>
                                </div>
                                <div class="right-menu__form__block__inner mt-3">
                                    <label for="withdrawal_commission_fix">
                                        Фиксированная комиссия за вывод
                                    </label>
                                    <div class="right-menu__form__row">
                                        <input type="number" min="0" step="any" name="withdrawal_commission_fix"
                                               class="right-menu__form__input"
                                               id="withdrawal_commission_fix"
                                               value="{{ limit.withdrawal_commission_fix }}"/>
                                    </div>
                                    <div class="text-danger error-msg" id="error_withdrawal_commission_fix">

                                    </div>
                                    <label for="withdrawal_commission_multiplier">
                                        Комиссия за вывод в процентах
                                    </label>
                                    <div class="right-menu__form__row">
                                        <input type="number" min="0" step="any" name="withdrawal_commission_multiplier"
                                               class="right-menu__form__input"
                                               id="withdrawal_commission_multiplier"
                                               value="{{ limit.withdrawal_commission_multiplier }}"/>%
                                    </div>
                                    <div class="text-danger error-msg" id="error_withdrawal_commission_multiplier">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <span class="right-menu__header__text">Обмен</span>
                            <div class="right-menu__form__block__inner mt-3">
                                <label for="exchange_min_value_trans">
                                    Минимальная сумма обмена за 1 транзакцию
                                </label>
                                <div class="right-menu__form__row">
                                    <input type="number" step="any" name="exchange_min_value_trans"
                                           class="right-menu__form__input"
                                           id="exchange_min_value_trans"
                                           value="{{ limit.exchange_min_value_trans }}"/>
                                </div>
                                <div class="text-danger error-msg" id="error_exchange_min_value_trans"></div>
                            </div>
                            <div class="right-menu__form__block__inner mt-3">
                                <label for="exchange_max_value_day">
                                    Максимальная сумма обменов за 1 день(оборот)
                                </label>
                                <div class="right-menu__form__row">
                                    <input type="number" step="any" name="exchange_max_value_day"
                                           class="right-menu__form__input"
                                           id="exchange_max_value_day"
                                           value="{{ limit.exchange_max_value_day }}"/>
                                </div>
                                <div class="text-danger error-msg" id="error_exchange_max_value_day"></div>
                            </div>
                            <div class="right-menu__form__block__inner mt-3">
                                <label for="exchange_max_value_month">
                                    Максимальная сумма обменов за 1 месяц(оборот)
                                </label>
                                <div class="right-menu__form__row">
                                    <input type="number" step="any" name="exchange_max_value_month"
                                           class="right-menu__form__input"
                                           id="exchange_max_value_month"
                                           value="{{ limit.exchange_max_value_month }}"/>
                                </div>
                                <div class="text-danger error-msg" id="error_exchange_max_value_month"></div>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger" role="alert"></div>
                    <hr>
                    <div class="alert alert-danger mt-5" role="alert"></div>
                    <input type="hidden" name="limit_id" value="{{ limit.id }}" />
                    <button type="submit" class="btn btn-primary right-menu__button">Изменить</button>
                </form>

            </div>
        </div>
    </div>
</div>
