<template>

  <div>
    <error-view :errors="errors"></error-view>

    <div>
      {{ $t("dashboard.profile.text2") }}
    </div>
    <div>
      <button class="btn dashboard__btn mt-3" @click="remove">
        <i class="fas fa-trash mr-2"></i>
        {{ $t("dashboard.profile.text3") }}
      </button>
    </div>
  </div>

</template>

<script>

  import { handlerErrors } from '../../../../utilities'
  import requests from '../../../../requests'

  export default {
    name: 'card-delete',
    props: {
      card: Object,
    },
    data() {
      return {
        errors: []
      }
    },
    methods: {
      remove() {
        this.$emit('ajax:start');

        requests.dashboard.deleteCard({ card_id: this.card.id })
          .then(() => {
            this.$store.commit('removeCard', {
              type: this.card.type,
              index: this.card.index,
            });
            this.$emit('ajax:finish');

            this.$parent.hide()
          })
          .catch(({ response }) => {
            this.errors = handlerErrors(this.$refs, response.data.errors)
            this.$emit('ajax:finish');
          })
      }
    }
  }

</script>
