<template>

  <div class="right-menu__form">
    <div class="refill">
      <div class="alert alert-light">
        <table width="60%">
          <tr v-for="(user_card, index) in user_cards" class="right-menu__form__row">
            <td>
              {{user_card.card_number_public}}
            </td>
            <td align="center">
              <button class="btn btn-sm btn-secondary ml-3"
                  @click="rightPanelOpen($event, {id: user_card.id, type: 'user_cards', index: index})">
                <i class="fas fa-ban mr-2"></i>
                {{ $t("dashboard.profile.delete") }}
              </button>
            </td>
          </tr>
          <tr v-for="(unverified_card, index) in unverified_cards" class="right-menu__form__row">
            <td>
              {{ unverified_card.card_number_public }} - {{ $t("dashboard.profile.verification") }}
            </td>
            <td align="center">
              <button class="btn btn-sm btn-secondary ml-3"
                  @click="rightPanelOpen($event, {id: unverified_card.id, type: 'unverified_cards', index: index})">
                <i class="fas fa-ban mr-2"></i>
                {{ $t("dashboard.profile.delete") }}
              </button>
            </td>
          </tr>
        </table>
      </div>
      <div class="right-menu__form__row">
        <div class="col-sm-6">
          <button type="button" class="right-menu__form__input" @click="addNew">
            <i class="fas fa-plus"></i> {{ $t("dashboard.profile.text10") }}
          </button>
        </div>
      </div>
    </div>

    <right-panel ref="rightPanel" :title="$t('words.delete_card')">
      <component
        @ajax:finish="$refs.rightPanel.spin(false)"
        @ajax:start="$refs.rightPanel.spin(true)"
        :is="'card-delete'"
        :card="card"
      />
    </right-panel>
  </div>

</template>

<script>

  import requests from '../../../../requests'
  import CardDelete from './CardDelete.vue'
  import { mapGetters } from 'vuex'

  export default {
    name: "cards",
    components: {
      CardDelete
    },
    data() {
      return {
        card: {}
      }
    },
    computed: mapGetters ({
      user_cards: 'getUserCards',
      unverified_cards: 'getUnverifiedCards',
    }),
    methods: {
      addNew() {
        requests.dashboard.getNewCard().then(response => {
          window.location.href = response.data.url;
        }).catch(({response}) => {
          window.location.href = response.data.url;
        })
      },
      rightPanelOpen(event, card = {}) {
        this.card = card

        this.$refs.rightPanel.show()
      }
    }
  }

</script>
